[2018-09-27 08:05] nbonnotte commented on #722
I'm exploring a bit. It appears that the following line does not really hang but takes forever:
[code]
To investigate, I'm using `strace` (which requires docker to run with `--cap-add=SYS_PTRACE`)
[code]
and what I can see is that this line causes the group ownership of all `/home/jovyan/.julia/` to change, which takes forever. The strace is full of
[code]
That explains why I don't have the same i

[2018-09-27 08:20] rkdarst commented on #722
This actually sounds like what it could have been for me.  I think I
discovered this long ago, cleaned home, and probably it is what
happened again more recently and I had forgotten about it by then.
Thanks for figuring it out!

[2018-09-30 16:04] agupta231 commented on #717
That works!

Adding the `.jupyter` folder and restarting twice seemed to have done the trick. I believe that my issue came from the fact that I wasn't mounting my working directory to the home folder of the jouyan user.

Cheers!

[2018-09-30 16:04] #717 closed

[2018-10-03 06:35] avinson commented on #718
@mattshma you should re-open this because it's still broken without the workaround

[2018-10-03 12:55] parente commented on #718
Fixed in #721

[2018-10-07 15:09] popcornylu opened #724 "Wrong environment name to enable jupyter lab in the document"
**What do you expect to happen?**

in document
https://jupyter-docker-stacks.readthedocs.io/en/latest/index.html#

To  run the jupypterlab, the command should be
[code]

**What actually happens?**
Wrong environment name `JUPYTER_LAB_ENABLE` -> `JUPYTER_ENABLE_LAB`
[code]

**Code location**
https://github.com/jupyter/docker-stacks/blob/master/base-notebook/start-notebook.sh#L11
https://github.com/j

[2018-10-08 20:44] david-waterworth commented on #516
If you just want tensorflow-gpu to work, this this Dockerfile works for me

FROM jupyter/scipy-notebook
LABEL maintainer "David Waterworth <wateda@gmail.com>"

[code]

The I start using docker-compose

version: '2.3'

[code]

This requires nvidia-docker2 (the nvidia docker runtime referred to in the docker-compose file above). It has to be installed on the host machine, along with cuda 10.0 (and y

[2018-10-16 04:08] justdoit0823 commented on #710
This issue was reported at toree-dev [jira](http://mail-archives.apache.org/mod_mbox/toree-dev/201809.mbox/%3cJIRA.13187591.1537965446000.170246.1537977540077@Atlassian.JIRA%3e), which explained how this issue happened, and here [this](http://mail-archives.apache.org/mod_mbox/toree-dev/201809.mbox/%3cJIRA.13187591.1537965446000.6832.1538341980301@Atlassian.JIRA%3e) gives some advice to solve this

[2018-10-16 04:41] lresende commented on #710
Sorry, I didn't see this before on this side of the house.
We need a new release of Toree, let me see if I can work on that asap. Another option is to downgrade lab to before 0.32.4. Full details of the issue can be found at [TOREE-485](https://issues.apache.org/jira/browse/TOREE-485)

[2018-10-16 17:30] graemes opened #727 "FROM container as an arg"
One small change I've made at my site is to change the Dockerfiles to use an ARG for the FROM clause (see below).  This makes it simpler for me to change the base container to something other than the hardcoded entry i.e. <cough>cuda</cough> or my own registry in my build scripts.  Would there be any benefit to submitting a PR with the change made throughout the tree?

ARG BUILD_CONTAINER=jupytper

[2018-10-17 08:50] taqtiqa-mark opened #728 "Feature: start.sh jupyter lab --secured-env"
Hi,
**Thank you for all the effort making the Jupyter Docker Stacks.**

The default security is very good.

There are use cases, encouraged by containers, where the jupyter container and the system it runs within, lie inside the security boundary.

In these use cases it is convenient to have a command line option to launch the server without password or token.

Currently my chef recipe launches ju

[2018-10-17 22:00] lresende commented on #710
PR #726 should fix this issue.

[2018-10-18 02:11] vishnu2kmohan commented on #710
Yep, [confirmed](https://github.com/dcos-labs/dcos-jupyterlab-service/commit/beb3635515b49221bc992203433f58ec4d882854). Thanks @lresende!

[2018-10-18 17:29] #710 closed

[2018-10-18 19:32] pgeez opened #730 "conda install pyodbc fails with Python TypeError"
**What docker image you are using?**

`jupyter/base-notebook:6d2a05346196`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

doing this from inside a container, so simply...

`docker run -it jupyter/base-notebook:6d2a05346196 /bin/bash`

**What steps do you take once the container is running to reproduce the issue?**

From inside the running contain

[2018-10-18 20:41] parente commented on #724
Thanks @popcornylu . Would you like to submit a PR to fix the doc?

[2018-10-18 20:42] parente commented on #727
Seems reasonable. If you submit a PR, we can watch how the build process goes on Travis.

[2018-10-19 05:58] taqtiqa-mark commented on #728
Hmm, it is possible that this issue could be closed as implemented with a documentation PR describing the use case and the suggestion to the following effect:

**`start.sh jupyter lab --LabApp.token=''`**

[2018-10-21 18:15] IsaacKnowles commented on #603
I'm having this same issue on my Mac in Jupyter. I rand
[code]
Running this leads to the following error:
[code]

[2018-10-23 10:09] statiksof opened #732 "Licensing"
**What docker image you are using?**

`jupyter/base-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`DockerSpawner`

I am just asking on how to make a reference to jupyter/base-notebook.
My image is not completely based on that image and I am not using

[code]
but some layers are taken from the base-notebook source code like creating jov

[2018-10-23 15:57] ericdill commented on #732
Hi @statiksof -- It looks like you're asking how you should license some of the layers that you copied from the `base-notebook`. (Or *if* you even need to specifically call out those copied lines in a license file somewhere?) If this is not correct, can you please reply or update the original post with clarifications?

[2018-10-23 16:16] ericdill commented on #730
Out of curiosity, why do you need to install from the `anaconda` channel? This works just fine if you run `conda install pyodbc` (i.e., without the `-c anaconda`)

[2018-10-23 20:05] pgeez commented on #730
Thanks @ericdill ! I'll give that a try.

As for why, the docs:

https://anaconda.org/anaconda/pyodbc

[2018-10-24 07:29] xieydd opened #736 "Container Error: exit code 137"
Hi! Thanks for using the Jupyter Docker Stacks.

If you are looking to contribute to the images, please see the [Contributor's Guide] (http://jupyter-docker-stacks.readthedocs.io/en/latest/#) in the documentation for our preferred processes.

If you are reporting an issue with one of the existing images, please answer the questions below to help us troubleshoot the problem. Please be as thorough a

[2018-10-24 09:28] ericdill commented on #736
Hi @xieydd,

With Kube there can be a number of places that need probing before we understand the root cause. Some questions to help get us going:

1. What is your pod config? You can find this by running `kubebctl describe po jupyternotebook-xyd-847ff4564c-gqvn6` and `kubectl get pod jupyternotebook-xyd-847ff4564c-gqvn6`
2. How are you running this pod? Do you have a deployment? Can you show the

[2018-10-24 09:34] xieydd commented on #736
Hi @ericdill
Thank you for giving me inspiration；i check my yaml file,i have a mistake
[code]
I may be 3600d

[2018-10-24 09:34] #736 closed

[2018-10-24 10:05] ericdill commented on #736
Great! Good luck 😀

[2018-10-24 13:01] #719 closed

[2018-10-24 14:02] statiksof commented on #732
Thanks @ericdill  this is exactly what I did ```copied some layers from base-notebook```

[2018-10-25 02:10] bobmayuze commented on #698
I'm assuming you are running jupyter and MongoDB in the same container and have the following sturcture:
[code]
Normally this is not really recommended, but I think you could change the bind ip setting in mongo.

The better way to do this is separating the mongo and jupyter into 2 containers with docker-compose. I have a sample [here](https://github.com/bobmayuze/django-celery-practice/blob/master

[2018-10-25 10:03] rituraj17 commented on #718
not working

[2018-10-25 10:29] ericdill commented on #727
@parente closed by #731

[2018-10-25 10:32] ericdill commented on #730
@pgeez got it. Thanks for the explanation. I've forwarded this usability issue to the conda distribution team. For what it's worth, I'd stay away from the `anaconda` channel instead preferring the `defaults` channel. I believe that the description of the anaconda channel has been recently updated (possibly as a result of your UX issue) to suggest this approach:

[2018-10-25 15:09] #728 closed

[2018-10-25 15:10] #727 closed

[2018-10-25 22:08] ericdill commented on #732
Hi @statiksof -- I am not a lawyer, but reading the [BSD license associated with this project](https://github.com/jupyter/docker-stacks/blob/master/LICENSE.md), it specifically says that:

[Here is a really nice stackexchange](https://softwareengineering.stackexchange.com/a/293786) answer about how to handle copying BSD licensed contents out into a different project. I would suggest talking with a

[2018-10-26 08:49] dnk8n opened #738 "Info required for those wishing to continue with Julia 0.6* (i.e. which docker image tag corresponds to Julia 0.6*)"
I need to know the correct tag to use in order to get the latest datascience-notebook with Julia 0.6* installed. I can see where that is in the git code but couldn't find where your CI is done and what the resulting tag is.

Any insights?

The reason I need this is for example, [Levenshtein](https://github.com/rawrgrr/Levenshtein.jl) doesn't work on Julia 1.0. Would be useful to have multiple juli

[2018-10-26 15:00] parente commented on #738
The docker tags correspond with docker commit hashes. If you look back in the datascience notebook Dockerfile to find the commit ID where it was upgraded (or search through the pull requests to find the merge that removed it), the first twelve characters of the git SHA before that is the image ID you want to use.

https://jupyter-docker-stacks.readthedocs.io/en/latest/using/selecting.html#versioni

[2018-10-26 16:42] ericdill commented on #716
@parente can be closed since #737 was merged

@nils-werner -- the latest version of docker images from docker-stacks has been updated to include jupyterlab 0.34.12

[2018-10-27 13:04] dnk8n commented on #738
Do you mean: The docker tags correspond with git commit hashes?

I find no correlation between the git repo and the docker tags...

For example where does docker tag ebb42274ac29 (https://hub.docker.com/r/jupyter/datascience-notebook/tags/) come from. I don't see any sha256 matches in the repo at https://github.com/jupyter/docker-stacks/commits/master/datascience-notebook/Dockerfile

I am interest

[2018-10-27 14:41] dnk8n commented on #738
I found that I could more easily locate the commit of interest with the repo checked out on my laptop (compared to using gihub). The tag I am after is 8ccdfc1da8d5 I am pretty sure.

There has got to be a more sane tagging system. Why not use versioning with git tags?

[2018-10-27 15:52] parente commented on #738
We've discussed versioning in the past (e.g., #12, https://github.com/jupyter/docker-stacks/issues?q=is%3Aissue+versioning+is%3Aclosed). If you have suggestions for improvement that takes into account the issues solved by the current system, please let us know.

[2018-10-28 07:30] dnk8n commented on #12
I think a maintained document with the versions would be all that is required (even be a json or bash variable manifest which gets referenced). That way whenever there is a less complicated version bump, only one file gets a change. It would also then be a lot easier to find the tag (although scouring the source control should not be a requirement).

Since docker images and git commits can be refe

[2018-10-29 13:32] apur005 opened #740 "I wan't to use the xenial version of docker-stacks"
**What docker image you are using?**

Example: `jupyter/base-notebook`

I wan't to use the xenial version of dockerfiles [base-notebook, minimal-notebook] which branch should i checkout?

Regards'
Apur

[2018-10-29 21:42] jdcohen220 opened #741 "cannot create new notebook '_xsrf' argument missing from POST jupyter/datascience-notebook"
I am using the latest `jupyter/datascience-notebook` image for the first time, and was able to boot up the container with `docker run -p 8888:8888 jupyter/datascience-notebook `, however when I access `Home` from the browser and try to open a new notebook I get the following error:

Complete terminal output from an example session:
[code]

[2018-10-30 05:00] ericdill commented on #740
I believe you are looking for the set of docker images with tag `3a5f57dc4660`. You can pull the base notebook and check the version yourself with:

[code]

The remaining notebooks will have the same tag:

[code]

[2018-10-30 09:13] ericdill commented on #741
Hi @jdcohen220,

I just tried this and everything worked as expected on my ec2 instance. I've got a few questions to help debug this issue.

1. Can you report the output of `docker images`?
2. What is your host OS for docker?
3. Is this repeatable on your machine?
4. What browser and browser version are you using?
5. Does this behavior go away if you try a different browser or if you use incognito

[2018-10-30 11:01] rothwewi opened #742 "Using hashes as a docker image label - can we prefer version labels?"
As a consumer of jupyter docker-stacks I want to be able to download the latest image against a specific version number so that I can know what features are in it and know that it has the latest OS / Middleware versions on it.

With a githash (as many are currently solely labelled with), it may tie neatly to source control, but it communicates little to the consumer directly.

I want to be able to

[2018-10-30 11:33] jdcohen220 commented on #741
1) Docker images:
[code]

1) I am using `macOS Mojave==10.14`
3) Yes I am able to repeat this behavior on my machine.
4) This behavior manifests in both `Chrome==69.0.3497.100` and `Brave==0.25.2`.
5) I was able to make the behavior go away by using either `localhost` or the hash-looking hostname, not the `127.0.0.1`.

[2018-10-30 11:39] boredev opened #743 "Spark Streaming's Kafka libraries not found in class path"
Hi,

I have a problem when I try to run a python script in the jupyter lab.

Here my steps to reproduce it :

- Launch the container :
`docker run -it --rm -p 8888:8888 --name jupyter docker.io/jupyter/all-spark-notebook`

- Take the url with the token, go to the lab and try to execute this code :

[code]

I get this error :

Obviously I'm missing some packages but how to import them ? I tried thi

[2018-10-30 11:58] parente commented on #741
@jdcohen220 It sounds silly, but I've seen the above behavior when I've accidentally run another Jupyter Notebook server (or other server) directly on my Mac on port 8888. If you shut down the container and visit http://127.0.0.1:8888 do you see anything else using that port?

[2018-10-30 12:56] aboettcher commented on #516
For me the approach by @david-waterworth did not work out: when I tried to `import tensorflow` there were errors about missing libraries. Any help to get this minimal setup working is appreciated. However, I got tensorflow-gpu running with significantly more work as described below.
Installing the missing libraries basically boils down to copying what the nvidia containers are doing (see cuda10 se

[2018-10-30 18:44] bobmayuze opened #744 "[Suggestion] Can we update the jupyterlab to 0.35.0?"
Can we update the jupyterlab in base-notebook to 0.35.0?

[2018-10-30 19:14] parente commented on #744
As soon as all the extensions we also install in the image are 0.35.0 compatible, I'm happy to review a PR bumping the versions.

See https://github.com/jupyter/docker-stacks/pull/737 for recent attempt.

[2018-10-30 22:01] jdcohen220 commented on #741
@parente I double checked that the container was shutdown, and that no processes were running from that port or host (using browser/ping/lsof), and everything worked as expected on Chrome. I cannot say for certain I did not have any other servers running during the initial problem I had yesterday, since I did not even think to check.

I reproduced the same steps Brave, and it still does not work w

[2018-10-30 23:28] parente commented on #744
Reopening so that we have a note about it for others to see.

[2018-10-31 02:03] david-waterworth commented on #516
@aboettcher there's 3 pain points I've encountered trying to get nvidia-docker to work.

1) Install the latest nvidia driver directly from nvidia (410.48) instead of using the distro's packaged version and test by running nvidia-sli from a bash prompt (it should dispaly the device capabilities).

2) Install cuda 10.0 by downloading the runfile installer. Select the optional samples and I generally

[2018-11-01 11:42] Franselbaer commented on #718
Please double check if you have anywhere a startup script with `--ip="*"` and change it to `--ip="0.0.0.0"`. It really helps.

[2018-11-01 11:43] Franselbaer commented on #718
What a good idea to change that in minor release without deprecated warning... 🙄

[2018-11-01 14:29] jzf2101 opened #745 "DockerFile for PyTorch?"
@parente :  @koustuvsinha are looking at https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/994 and @consideratio 's dockerfile and we need to tweak both to get a pytorch image perhaps we can also add this when it's done?

[2018-11-01 16:08] jzf2101 commented on #706
See  jupyterhub/zero-to-jupyterhub-k8s#994  as well as a reference

[2018-11-01 19:37] parente commented on #745
Hi @jzf2101 . We've been trying to build, test, and maintain fewer image in this one uber-repo over time and encouraging more links to images based on the ones here managed elsewhere. Ways to go about it (ordered by my preference FWIW) would be:

1. Start a new repo / image based on the info here: https://jupyter-docker-stacks.readthedocs.io/en/latest/contributing/stacks.html
2. Repurpose the jupy

[2018-11-01 23:37] parente commented on #724
We "fixed" the wrong part of the doc. Doh!

[2018-11-01 23:44] #724 closed

[2018-11-03 04:36] jzf2101 commented on #745
I'm fine with option 1 as long as we presume this doesn't imply we're providing preferential support for TF over Pytorch.  Both seem quite popular

[2018-11-03 09:16] consideRatio commented on #745
@jzf2101 I added two bullet points to the issue i posted previously:

- Read this to understand why we pin cudatoolkit, and what NVIDIA drivers are required for various versions of CUDA: https://docs.anaconda.com/anaconda/user-guide/tasks/gpu-packages/
- The following project to build deeplearning images also contains a lot of suggestions of deeplearning packages to include, but by using this you

[2018-11-03 13:49] parente commented on #745
Agreed. The tensorflow-notebook image predates our push to include fewer images in this single repo. Perhaps we should consider moving it to its own repo too. It's of limited use because it is a CPU-only image.

On that topic: A handful of users have requested that we update it (tensorflow-notebook) to include the CUDA drivers. After consulting with the Jupyter Steering Council, we decided that we

[2018-11-03 15:13] consideRatio commented on #745
When you write `conda install tensorflow-gpu`, CUDA is installed automatically as a dependency through `cudatoolkit` I think. I manually pinned it while installing `tensorflow-gpu` though to avoid getting the latest version as that is coupled with a too new CUDA version that requires more modern graphics cards than I were utilizing on google cloud (K80, P100).

Does this mean the CUDA licence has

[2018-11-04 21:55] RafalSkolasinski opened #748 "Include xarray?"
I wonder if it would be good idea to include [xarray](http://xarray.pydata.org/en/stable/) in the ``scipy-notebook`` image?
It's quite useful library that extend pandas to multidimensional data.

[2018-11-05 20:12] SamambaMan commented on #369
Having the same error:

[code]

With the following Dockerfile:

[code]

The yarn error log is:

[code]

The docker run command is:
[code]

[2018-11-06 00:39] parente commented on #745
It does look like the EULA has changed since the last time I looked: https://docs.nvidia.com/cuda/eula/index.html#distribution-requirements

IANAL so I won't attempt to interpret the changes. That said, the original decision was about not including non-open source software in the images here, not the details of the CUDA license in particular.

We purposely installed `tensorflow` but not `tensorflo

[2018-11-06 03:06] xuwaters opened #749 "datascience-notebook: for julia 1.0, JULIA_PKGDIR is replaced with JULIA_DEPOT_PATH"
## datascience-notebook

for julia 1.0, `JULIA_PKGDIR` environment variable is not working now
packages are still installed under `$HOME/.julia` folder
which causes julia packages could not be found when mounting external volume to image home

so the solution is add another environment variable
[code]

for more information, please refer to:

- https://github.com/JuliaLang/Pkg.jl/issues/216
- https

[2018-11-06 10:59] consideRatio opened #751 "JupyterHub - nbgitpuller?"
nbgitpuller allows you to utilize a url like http://jupyter.example.com/hub/user-redirect/git-pull?repo=consideratio/jupyter-se-math-teacher and boom you have git cloned a repo. This is very useful for a teacher or similar wanting to distribute material to students.

I often find myself wanting to install nbgitpuller on docker-stack images as the only additional package - it may very well be a bit

[2018-11-06 13:39] #749 closed

[2018-11-06 13:41] parente commented on #751
Sounds like good fodder for a recipe on the face of it: https://jupyter-docker-stacks.readthedocs.io/en/latest/using/recipes.html

[2018-11-06 14:32] consideRatio commented on #751
Deal! It is a simple matter of installing it if you are to build an image at all, closing this.

[2018-11-06 15:06] ericdill commented on #745
@consideRatio @parente -- Here is my understanding from our open source team at Anaconda regarding CUDA, nvidia and redistribution.

• EULA lists basically all the shared libraries as redistributable, but not compiler, debugger, or profiler
• cuDNN is not part of CUDA toolkit and is not technically redistributable
• NVIDIA has an exception clause for Docker images based on their images / Dockerfil

[2018-11-06 17:03] parente commented on #751
@consideRatio I'd like to leave the issue open as a lightning rod. If there's a groundswell of support for a generally useful package from users, we should definitely add it.

[2018-11-07 00:16] consideRatio opened #752 "`jupyter lab clean` - something to be utilized?"
Is using `jupyter lab clean` something that makes sense to utilize?

I recall seeing it used like `RUN jupyter lab build && jupyter lab clean` in a Dockerfile.

It sais by using the `--help` flag of the clean command that...

And I also notice how there are statements like the following to be found in the docker-stacks:

https://github.com/jupyter/docker-stacks/blob/610bb8b938dbd3c5f881aa4628af6a6

[2018-11-07 01:46] cywang16 opened #753 "pulling jupyter/tensorflow-notebook latest"
In [jupyter/tensorflow-notebook tags](https://hub.docker.com/r/jupyter/tensorflow-notebook/tags/) I see the tag a6fc0cfbd01b was created 2 days ago, but when I pulled latest, I still got a 11 days old image.

does that mean the latest tag does not point to tag a6fc0cfbd01b?

Thanks.

[2018-11-07 02:07] parente commented on #752
Seems reasonable to switch to `clean` if it accomplishes the same thing or does better at cleaning up working files. Might be we added the lab extensions before it existed or just didn't know about it.

[2018-11-07 08:13] consideRatio commented on #752
@dhirschfeld wrote this in the gitter chat of jupyterlab btw, I found it to be related and relevant to consider as well. I don't know what differences will come out of it etc though.

[2018-11-07 13:12] chrisshasha commented on #364
On windows you need to make sure that
1) You've shared your drive
2) You've added `COMPOSE_CONVERT_WINDOWS_PATHS` with value of `1` on you system variables
3) Try logging out then in from  your terminal (When doing it on Docker for Windows - sometimes the issue persists).

After I'd made share those were checked and ready, everything seemed to work fine.

[2018-11-08 01:26] zaredb opened #754 "Bump pyspark-notebook to spark 2.4.0"
Spark 2.4.0 is now released at https://archive.apache.org/dist/spark/spark-2.4.0/

[2018-11-08 02:40] parente commented on #754
Happy to take a PR from someone that would like to make the update. Here's the last commit updating to 2.3.1 as a reference: https://github.com/jupyter/docker-stacks/pull/664/commits/9f2072b8e6589e38f4a6f33868fb9847a2ba45fb

[2018-11-08 02:42] parente commented on #753
You might have pulled while latest was still being updated. https://hub.docker.com/r/jupyter/tensorflow-notebook/tags/ currently shows both `a6fc0cfbd01b` and `latest` are the same age.

[2018-11-08 14:23] laliux commented on #114
Same problem in my VPS Linux VPS.

Fix:

sudo chown ubuntu ./notebooks

In my VPS the ubuntu user has the id 1000, same as user "jovyan" inside docker.

Bst

[2018-11-08 19:15] cywang16 commented on #753
Thanks, Peter:

But I still get 13 days old image. I deleted the image first:

delete a list of docker images
docker rmi tensor
Untagged: jupyter/tensorflow-notebook:latest
Untagged: jupyter/tensorflow-notebook@sha256
:df60a87d43a3756ff859fae4719f503c4c503f0dcc2afc908743668240557e07
Deleted:
sha256:7331d8c429a3df8ede0919da861596db7621f233d2d577912910b65284c3f0f6
Deleted:
sha256:4d1529517e2e8ff4f73

[2018-11-08 21:39] borregore commented on #754
Hello there, I would like to contribute on this Spark update.

[2018-11-08 22:47] Bidek56 commented on #754
PR #756 is done for this request.

[2018-11-08 22:53] Bidek56 commented on #754
py4j is up to 0.10.8.1, it could be worth updating as well.

[2018-11-09 01:10] borregore commented on #754
PR #757 id done for this request with py4j update.

[2018-11-14 12:29] tlinnet opened #763 "Community Stacks - Build error on cloud.docker.com - post_push hook - No such file or directory"
Hi !

I am trying your new guide for [Community Stacks](https://jupyter-docker-stacks.readthedocs.io/en/latest/contributing/stacks.html).

It's very well written!

I aim for a little project to bring C# to Jupyter Notebook. To try it out easily.
* Github repo: [github.com/tlinnet/csharp-notebook](https://github.com/tlinnet/csharp-notebook)
* Cloud Docker: [cloud.docker.com/repository/docker/tlinne

[2018-11-15 17:14] #744 closed

[2018-11-18 02:15] parente commented on #754
Closed by #756 and #757.

[2018-11-18 02:15] #754 closed

[2018-11-18 02:18] parente commented on #763
Thanks for reporting this @tlinnet. I wonder if there's an extra config step in the Docker Cloud UI that we forgot to mention to allow `post_push` to execute `docker`. I'll have to take a pass through the build jobs.

Out of curiosity, has the build failed this way multiple times?

[2018-11-19 18:41] tlinnet commented on #763
Hi. I have only tried to build like this on cloud.docker.com 1 time.

The error message for me, looks like something cannot find a file. The "post_push" hook? But I don't know where to start debugging.

[2018-11-20 04:08] sdogsq commented on #524
@anandumdas thx for saving my ass

[2018-11-21 05:19] SCP-028 commented on #516
@david-waterworth May I ask how you got it to work? I was following your Dockerfile and got my Jupyter Notebook up and running, but

[code]

returned nothing, which I'm assuming the GPUs aren't detected? `docker run --runtime=nvidia --rm nvidia/cuda:10.0-base nvidia-smi` does return our list of GPUs. I went through the official Dockerfile from tensorflow and it seems like they are using CUDA 9.0,

[2018-11-24 09:16] w-c commented on #709
This seems to be addressed by https://github.com/jupyter/notebook/pull/4103.

[2018-11-24 17:49] jzf2101 commented on #745
@alexbw followed up on this issue looking at the underlying conda build for PyTorch https://github.com/conda-forge/conda-forge.github.io/issues/63#issuecomment-439919144

[2018-11-26 04:51] zgfh opened #766 "kernel R not work with Spark 2.4.0"
**What docker image you are using?**
jupyter/all-spark-notebook

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -it --rm -p 8888:8888 jupyter/all-spark-notebook`

**What steps do you take once the container is running to reproduce the issue?**

1. Visit http://localhost:8888
2. Start an R noteobok
3. run code
[code]
**What do you expec

[2018-11-26 16:57] parente commented on #766
Looks like Spark 2.4.0 support is still in the works: https://github.com/rstudio/sparklyr/issues/1749

[2018-11-28 12:31] RafalSkolasinski opened #768 "Python 3.7 only in minimal-notebook, not in scipy-notebook"
Hi, I noticed inconsistent Python versions across the docker stack.

**What docker image you are using?**

Example: `jupyter/scipy-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

[code]

**What steps do you take once the container is running to reproduce the issue?**

[code]

**What do you expect to happen?**

Images having the same Pyth

[2018-11-28 14:32] parente commented on #768
It's possible there's been a change in how Docker Hub is decides whether to use cached parent images or pull anew. It looks like the last build of scipy-notebook used a cached local image instead of pulling the newest minimal-notebook that built immediately before it.

It's also possible something in the images is causing a downgrade of Python to 3.6, but that's less believable.

Needs more diggin

[2018-11-28 14:37] RafalSkolasinski commented on #768
This is the case. I did a bit more manual test but forgot to update the issue and now I lost logs.
But the problem seemed to be related to ``h5py`` forcing downgrade.

[2018-11-28 14:38] parente commented on #763
@tlinnet I took a look at your repo setup and what I can see of the Docker Hub project setup. Everything looks in order. If you manually trigger the build using the Docker Hub web UI, do you get the same error? I wonder if it was a transient Docker Hub build error.

[2018-11-28 14:46] parente commented on #768
Looks like h5py was built for 3.7 upstream in conda-forge here: https://github.com/conda-forge/h5py-feedstock/pull/40. Might be some dependency is still 3.6 only or the 3.7 build never completed the build and push to the channel on the CI system. `conda search` does show the package is available for 3.7.

[code]

[2018-11-28 15:00] RafalSkolasinski commented on #768
I tested it again, I run bash in `jupyter/minimal-notebook` and executed conda install by hand with packages from scipy-notebook.
This is the error message
[code]

[2018-11-28 15:06] parente commented on #768
Looks like an update to h5py to 2.8 is in order. Would you like to send the PR to change the version number here? https://github.com/jupyter/docker-stacks/blob/master/scipy-notebook/Dockerfile#L41

[2018-11-28 15:12] RafalSkolasinski commented on #768
I will test locally if image builds with that change and if it fixes the problem I will open PR.

[2018-11-28 15:38] RafalSkolasinski commented on #768
Number seems to be a problem too, see
[code]

[2018-11-28 16:08] RafalSkolasinski commented on #768
Setting ``numba=0.40*`` remove the conflict but Python gets downgraded anyway.
I'd have to specify ``python=3.7`` by hand to avoid the downgrade.

[2018-11-28 17:17] parente commented on #768
Interesting. We may want to pin the Python version in the base-notebook image anyway using a pin file to avoid this kind of behavior and raise incompatibilities as errors at build time instead of allowing conda to downgrade Python.

[2018-11-28 17:17] parente commented on #768
https://github.com/jupyter/docker-stacks/blob/master/base-notebook/Dockerfile#L82 is an example of the pinning we do for tini. I'm thinking we could do the same for Python.

[2018-11-28 22:32] scopatz commented on #745
Nope, users are not allowed to install cudatoolkit anywhere that is redistributed

[2018-11-29 12:43] jp68138743541 opened #769 "Permission denied when mounting folder with changed user"
**What docker image you are using?**

jupyter/datascience-notebook

**What complete docker command do you run to launch the container (omitting sensitive values)?**
I'm starting docker (Docker for Windows) from windows with the following batch script:

[code]

**What steps do you take once the container is running to reproduce the issue?**
The start script fails. Therefore, I do not take additiona

[2018-11-29 16:36] terrisgit opened #770 "GRANT_SUDO=yes still doesn't seem to work"
Sorry, this is an issue that doesn't seem to die. I would like to add some JARs via sudo. Perhaps there is a better way to do that but sudo would come in handy for other tasks.

(1)
docker run -d -v $PWD:/home/jovyan/work -e GRANT_SUDO=yes -p 8888:8888 jupyter/all-spark-notebook

(2)
Get the container id via:

docker ps

(3)
docker exec -it __containerid__ bash

(4)
sudo ls

Prompts for password f

[2018-11-29 22:03] parente commented on #770
Try adding `--user root` to your run command. The doc for `GRANT_SUDO` explains why (https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html). Maybe we can make it clearer since it seems to trip a lot of people up.

[2018-11-29 22:06] parente commented on #769
This part of the doc might hold a clue:

[code]

from  https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html . Does `otheruser` own the file on the host and is NB_UID and/or NB_GID being set appropriately to match?

[2018-11-30 02:33] terrisgit commented on #770
How does one avoid running Jupyter as root if you do this?

[2018-11-30 02:35] terrisgit commented on #770
Thanks. So here is an example

```docker run -d -v $PWD:/home/jovyan/work -e GRANT_SUDO=yes --user root -p 8888:8888 jupyter/all-spark-notebook```

[2018-11-30 02:42] #770 closed

[2018-11-30 05:36] jp68138743541 commented on #769
No, neither 'jovyan' nor 'otheruser' own the file on the host. And with username set to 'jovyan', no error occurs. Also, since the host folder is mounted to guest folder 'work', this does not seem to be the cause of the problem. The error message says that '.local' cannot be accessed, which should be located in the guest file system.

[2018-11-30 16:34] rwmajor2 opened #771 "Error building base-notebook"
**What docker image you are using?**

`jupyter/base-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker build --build-arg NB_USER=arcgis --build-arg NB_UID=1050 -t myrun:base-notebook-0.2 .`

**What steps do you take once the container is running to reproduce the issue?**

**What do you expect to happen?**

For it to build correctly.

[2018-11-30 19:19] AzureQ commented on #603
I'm having same issue with latest all-spark-notebook docker image + spark 2.4.0
[code]

[2018-12-06 21:34] romainx commented on #766
Hello,
Spark `2.4` is supported in Sparklyr `0.9.3`.

The information is given in the [release note](https://github.com/rstudio/sparklyr/blob/master/NEWS.md#sparklyr-093).
And also in the package.
[code]

[2018-12-07 00:29] parente commented on #766
Thanks @romainx. Looks like it dropped 8 days ago. If someone would like to submit a PR with the package version bump we can get it merged.

[2018-12-07 01:52] zgfh commented on #766
@parente https://github.com/jupyter/docker-stacks/pull/773,
but I don't know if it will broken something

[2018-12-10 23:13] zebal opened #774 "How to install ORCA lib"
Hi!

I´m using this docker in my QNAP and it's wonderful. I´m trying to run a code to plot some finance data with python. This is the code:

[code]

All works fine, but the last order, doesn't work. I got this error:

[code]
I supose that I need to install the X11 or configure the system with Xvfb but I have no idea to do it. I check in the link https://github.com/plotly/orca that I need to instal

[2018-12-11 12:43] consideRatio opened #775 "Multi stage docker builds - reduce file size?"
@dhirschfeld previously wrote the following in the gitter chat of jupyterlab, and I'd love to learn more about it!

## Background: What is a multi stage docker build?

What if you needed 100 tons of tools required for building your source code, but later they would not be utilized? Well, you could use an image with these tools and build source code, then from a fresh slim image add the compiled bi

[2018-12-12 13:33] consideRatio commented on #775
Related: https://github.com/jupyterlab/jupyterlab/issues/4930#issuecomment-406448725

[2018-12-12 13:33] consideRatio commented on #752
Related: https://github.com/jupyterlab/jupyterlab/issues/4930

[2018-12-12 15:35] consideRatio opened #776 "apt-get clean redundant in these ubuntu images"
Apparently apt-get clean is a redundant command if using an official ubuntu image as we are doing, so at worst we have additional time:

https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#run

Feel free to close this without further action!

[2018-12-12 20:40] parente commented on #775
Definitely worth looking into if someone wants to give it a shot. I know we do some amount of cleanup along the way through the build (apt-get, node, conda) but perhaps there's room for improvement.

[2018-12-12 20:46] parente commented on #771
FWIW: The daily cron rebuild on Travis CI has been succeeding using the commands in the `Makefile` and `.travis.yml`. Not clear why a manual rebuild with the args you've given would fail.

[2018-12-12 20:47] parente commented on #774
Looks like the `plotly` package from conda-forge might be missing a dependency.

[2018-12-12 20:48] parente commented on #752
Clean all the things!

[2018-12-12 20:58] zebal commented on #774
Thanks Parente!

Did you try to check this code in your Jupyter container?

Could you please tell me how can I solve it?

Thanks in advance

[2018-12-17 18:38] parente commented on #776
Fixed in #777.

[2018-12-17 18:38] #776 closed

[2018-12-20 18:38] VijaySaiProfessional commented on #199
Hi everyone. I'm facing the same issue. I have edge and chrome browsers on my PC. So I tried running on both. I still keep getting the same error on both after running for around 10-12 hours. Could anyone suggest me a fix?

[2018-12-22 20:04] tripl3a commented on #114
Hey guys,

I had the same issue and solved it like this:

1. Create the host directory to be mapped before running the container. (Otherwise the folder will be created automatically but with owner/group `root` and that will cause the "permission denied" issue as well.)
1. For `docker run` add the argument `-e NB_UID=1000` - Specify the uid of the `jovyan` user. Useful to mount host volumes with sp

[2018-12-24 15:19] kkingkill commented on #199
Hi, everyone, I use Python 3.7,  at first I use chrome and encounter the issue, and then I use safari, safari can work.  But suddenly, I remember my chrome uses proxy, so I close the proxy of chrome, and chrome can also work fine, **so you can check if your chrome use proxy by default.**

[2018-12-24 16:00] wjgeorge opened #779 "vim not installed in minimal-notebook but is mentioned in documentation"
**What docker image you are using?**
jupyter/minimal-notebook

**What steps do you take once the container is running to reproduce the issue?**
create a notebook terminal and run vim.

**What do you expect to happen?**
vim is started

**What actually happens?**
vim is not found

[2018-12-24 16:14] wjgeorge commented on #779
is this just an error in the documentation?

https://jupyter-docker-stacks.readthedocs.io/en/latest/using/selecting.html#jupyter-minimal-notebook

[2018-12-24 17:02] tlinnet commented on #763
Hm. This looks like an issue with Windows.

I created the project on Win10. The first thing I noticed, that when I visited the file through github, the file was not marked as executable. The command ' git update-index --chmod=+x post_push' changed that. Then I tried removing the shebang line

[code]

or changing to '#!/usr/bin/env bash'.
[code]

The post_push file has Windows (CR LF) as line endin

[2018-12-24 17:12] tlinnet commented on #763
Indeed....

It was a problem of line endings in Windows.
After conversion everything is smooth.

This is **hooks/post_push** as executable with Linux line endings (LF)

[code]

[code]

[2018-12-24 17:12] #763 closed

[2018-12-28 19:05] #715 closed

[2018-12-29 04:45] parente commented on #700
Closed by #781. We can iterate as needed. Thanks @iyanmv for the original PR.

[2018-12-29 04:45] #700 closed

[2018-12-29 15:34] #779 closed

[2018-12-29 15:40] parente commented on #385
I think this was largely addressed by #720 and #731. If any options were missed, feel free to send follow-on PRs.

[2018-12-29 15:40] #385 closed

[2018-12-29 15:41] parente commented on #766
Fixed by #782.

[2018-12-29 15:41] #766 closed

[2018-12-29 15:42] parente commented on #707
Docs updated by PR #723. Closing this out.

[2018-12-29 15:42] #707 closed

[2018-12-29 15:43] parente commented on #696
Line endings problem should be resolved by PR #704. Closing this out.

[2018-12-29 15:43] #696 closed

[2018-12-30 12:32] schizophrene opened #790 "Downloaded packages doesn't remain installed after container update"
**What docker image you are using?**

`jupyter/all-spark-notebook:latest`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

I launch containers from OMV GUI, so it would be something like `docker run -it --rm -p 58888:8888 jupyter/all-spark-notebook:latest` with these binds :

- "/docker/jupyter/config:/home/jovyan/.jupyter:rw"
- "/docker/jupyter/wo

[2019-01-01 10:50] zebal commented on #774
Thanks Romainx!!

I´m using the ContainerStation of QNAP and I have no idea how can I run your command. The Container ID is this: 147f0f680186 (I saw in the properties of the container).

Do you have any idea how can run the code "$ docker exec -it -u root <container-id> bash" in ContainerStation of QNAP?

Thanks in advance

[2019-01-01 11:45] romainx commented on #774
Hello,

Sorry but I don't know if you have access to a running container in this environment. I've no knowledge at all about qnap.

Regards

[2019-01-01 15:56] romainx commented on #679
Hello,

I think we could close this issue since the `jupyter/r-notebook` has been updated (in the PR #789) with the latest version of R-Base (`3.5.1`) and the kernel does not crash anymore.

[code]

[2019-01-02 10:55] jeromekelleher commented on #679
Thanks @romainx, closing.

[2019-01-02 10:55] #679 closed

[2019-01-02 14:17] archenroot commented on #357
Same issue here, while having timezone of country in EU region, but being in middle-east region at moment. After establishing VPN tunnel to EU region it works....

[2019-01-03 13:19] dimitri320 commented on #718
This still doesn't solve the error when you're running Jupyter on AWS. Any ideas what can fix it?

[2019-01-06 00:03] heoa opened #794 "Can't make ODBC connection in Docker Jupyter R Notebook running R version 3.5.1?"
I need ODBC driver to work with Jupyter Docker R notebook but the following packages fire errors

    install.packages("unixodbc-dev")
    install.packages("odbc")
    install.packages("RODBC")
    install.packages("r-cran-rodbc")
    install.packages("unixodbc")

further details in SO [here](https://stackoverflow.com/questions/54057120/odbc-driver-for-jupyter-r-notebook-based-on-jupyter-docker-st

[2019-01-07 05:47] #794 closed

[2019-01-11 02:34] pmkc opened #797 "Make Spark on Kubernetes entrypoint script work with jupyter/*spark-notebook"
This is mostly a bug on Spark which I filed [here](https://issues.apache.org/jira/browse/SPARK-26597), but a few choices here break it futher

**What docker image you are using?**

Example: `jupyter/all-spark-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`kubectl run --image jupyter/all-spark-notebook jupyter --port 8001 --expose`

**W

[2019-01-11 13:13] jediwarpraptor commented on #408
Why didn't @parente just say this a year ago? smh

[2019-01-11 14:00] ericdill commented on #408
Are you really complaining that some person on the internet that you dont know didn't help you in the way that you wanted to be helped for free? Your negativity and, quite frankly, your feelings of entitlement to free help on the internet are unhelpful and reflects very poorly on you. Please try to be more polite in the future.

[2019-01-12 13:40] jediwarpraptor commented on #408
LOL - this is not a scathing 3 paragraph rant.  It's just an
obvservation... Look back at the thread... dude keeps on repeating the same
thing over and over again and people keep coming back saying I can't
`sudo`.  Hindsight is 20/20 but looking back - a huge chunk of this thread
would have been made unnecessary with that one comment.

On Fri, Jan 11, 2019 at 9:00 AM Eric Dill <notifications@githu

[2019-01-15 06:16] vizhuddar commented on #718
Commenting line "-----.ip = '*'" in jupyter config file worked for me.

[2019-01-15 06:54] ianalis commented on #771
I also encountered the same problem. It seems a dependency of `jupyterhub` is `configurable-http-proxy`, which, in turn, depends on `nodejs=6.*`. The latest available `nodejs 6.*` though is `6.11.2` hence the `nodejs >= 6.11.5` requirement fails. I don't know if there's a more elegant solution/workaround but what I did was to explicitly install the latest version of `nodejs` (`nodejs=10.13.*`) alo

[2019-01-16 10:24] dnk8n commented on #598
I am also still getting this same issue. Only getting it on a Docker host with Ubuntu 14.04 and Aufs storage driver... Is there a workaround to get it working there?

For a reproducible example:

docker run -d \
    -e NB_UID=3006 \
    -e NB_GID=3006 \
    -e GRANT_SUDO=1 \
    --user=root \
    --name=jupyter-rad \
    dnk8n/jupyter-rad:latest \
    start-notebook.sh

[2019-01-18 07:20] shivakumarss commented on #430
@dr-clhuang  did you get a resolution for this issue. ? We are facing the same issue.

[2019-01-18 10:55] ericdill commented on #797
I have little to add to your core issue here but I'd encourage you to engage @jakirkham over on the conda-forge feedstock (That's the maintainer of the feedstock). He's generally pretty overloaded already like all open-source maintainers, so no promise of an answer 😁 , but I'm sure he'd appreciate the input

[2019-01-18 11:08] ericdill commented on #790
First, some definitions. A **dockerfile** is used as a textual specification of what to put into your docker **image.** A docker **image** is the result of "building" a dockerfile. A docker **container** is one running instance of an **image.** When you use Watchtower or Ouroboros you are pulling an immutable **image** from a docker registry somewhere (likely the one here: https://hub.docker.com/r

[2019-01-20 22:58] Extarys opened #798 "Spark, PySpark, tensorflow and tensorflowonspark image"
Is there an all in one image?

I'm looking to use jupyter with spark, python and tensorflow. The images provided offer little description.

I'm trying to include it myself, here's what I got so far:

[code]

[2019-01-23 08:18] chainarong-Trainapakul commented on #743
+1 , i got the same problem

[2019-01-23 15:05] damianavila opened #799 "Adding nbgrader to the datascience stack or just make a new recipe?"
Howdy all,

I think a lot of people would find useful to have nbgrader in the data science notebook stack.
I also saw someplaces in the docs to add custom recipes.
I raised this issue just to discuss if I should contribute with a recipe or if it is worth to add nbgrader in the default data science stack (I would prefer the second option but I am interested about what the community thinks about thi

[2019-01-23 16:02] parente commented on #799
If there's enough support for it, let's get it in. My main concern is that, if I remember correctly, nbgrader is a notebook extension too, so it'll suddenly appear in the toolbar for everyone using the image, including people using jupyter/datasciece-notebook in a non-academic context.

Some alternatives to consider:

* Using github.com/jupyter/repo2docker to make an education specific image.
* Ma

[2019-01-23 16:19] damianavila commented on #799
That's a reasonable concern.

I like this second idea. We can put RISE and nbgrader at first and then add some other tools (by request) useful for education.

If we get enough traction, I guess, we can probably move the stack into the core, right? How we define what images live on this repo?

[2019-01-23 17:21] parente commented on #799
We've tried to freeze the number of images here and encourage new repos for all new images for reasons first documented in #517. #693 is an example (stalled) PR trying to *remove* some of the images here already. There's been discussions of splitting up the repo as well.

I think a new repo in https://github.com/jupyter/docker-for-education having just that image definition would work best. It can

[2019-01-24 15:26] damianavila commented on #799
I think I would probably go in the other direction, I mean... we can create a repo in whatever place containing this education-notebook image. If we get enough traction, we can think about requesting the repo to be moved in the Jupyter space. In this way, we filter out the case where we created a new official jupyter repo that does not have any maintenance people behind it.

Let create the tool an

[2019-01-26 16:39] parente commented on #798
Hi @Extarys. The documentation about what images are available and their general contents can be found at https://jupyter-docker-stacks.readthedocs.io/en/latest/using/selecting.html#. To save you a click, I'll point out that there is not an image that contains both Spark and Tensorflow.

If you figure out a Dockerfile that starts from jupyter/all-spark-notebook and adds Tensorflow or starts from j

[2019-01-27 15:58] schizophrene commented on #790
Thanks @ericdill for these explanations.

I know that Docker offers a lot of functionalities that I doesn't use for now, and that's a lack in my knowledges.
I'm used to use OpenMediaVault Docer GUI to launch containers, and I've never created or custom any container. But I will.

I close this "issue", I understand that I need to work a little more ;)

[2019-01-27 15:58] #790 closed

[2019-01-27 20:48] parente commented on #799
I think you're on the right track. Thanks for sharing what you're working on, @damianavila.

For those following along, the new image is in https://github.com/umsi-mads/education-notebook and now linked from the docker-stacks docs. I'm going to close out this issue as solved.

[2019-01-27 20:48] #799 closed

[2019-01-28 05:18] Extarys commented on #798
Thanks @parente, this is well explained. I'll look into it!

[2019-01-28 10:33] winni2k opened #801 "Command in docs outdated (port moved?)"
**What docker image you are using?**

`jupyter/datascience-notebook:08e09e60eb05`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

[code]

**What steps do you take once the container is running to reproduce the issue?**

1. Visit `http://http://127.0.0.1:8888/?token=71dd69ca0175184cbaa49d395c728e66758e627e2d7a0e56`

**What do you expect to happen?*

[2019-01-28 12:45] parente commented on #801
The mismatch between what Jupyter Notebook prints as the connection URL and the port you configured arises because of how Docker port mapping works. In this case, the notebook process in the  Docker container doesn't know that it's internal port might is 8888 but is in fact mapped externally as 10000.

Visiting http://localhost:10000 should in fact work with that example, but I understand how it i

[2019-01-28 13:00] winni2k commented on #801
Sure!

As an aside: It is funny to me how completely confused I was about this example. I did not even consider that the `-p` port mappings work the other way around from what I thought...

[2019-02-06 19:17] vilhelmen opened #806 "non-conda R packages"
Hi everyone. Due to some various conda package issues, I was installing r-rgdal through `install.packages` with `libgdal` provided through apt and a very long and painful story short, conda's R support for building package using system libraries is [flakey or even being removed](https://github.com/conda-forge/r-base-feedstock/issues/68).

With r-base 3.5.1, build `h391c2eb_5` supports building wit

[2019-02-07 10:53] Manoj1881 commented on #743
Same here

[2019-02-08 10:05] ASaragga opened #807 "Build error for base-notebook"
Trying to build 'jupyter/base-notebook' (commit 992d83c) on macOS v10.14, I am getting the following error:
[code]
This happens both locally and with Travis
Thank you

[2019-02-08 19:52] drzhouq opened #808 "r-rgdal package installed correctly, but dependency libraries are not installed."
**What docker image you are using?**

Example: `jupyter/r-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

Example: `docker run -it --rm -p 8889:8888 jupyter/r-notebook:latest`

**What steps do you take once the container is running to reproduce the issue?**
0. get into the docker shell to run `conda install -y r-rgdal`. It finished witho

[2019-02-12 11:54] zchunhai commented on #807
I have same error with old version:

[code]

[2019-02-12 13:41] parente commented on #807
Thanks for reporting. Something regressed about a week back as the daily cron build on Travis started failing too. I haven’t had cycles to investigate.

Updating to latest conda and jupyterlab are two things to try if someone wants to dig in before I get to it.

[2019-02-12 16:33] mkirch commented on #798
Hey @parente, it does make sense to have this as a recipe at a very minimum. I have one of these working with pyspark and tensorflow. Would it not make sense, though, to have one official image that contains as close to everything as possible? It may make things more convenient for people to be able to pull one image that contains everything. I can help with this if it would be approved.

[2019-02-12 17:07] CMobley7 commented on #807
I updated the image to the latest miniconda3 and jupyterlab packages and still got the same error

[2019-02-12 18:05] parente commented on #807
Thanks for trying that. Next thing to check would be to spawn a container off the last successful local build layer and see if something is lingering in /opt/conda that is not owned by the `$NB_USER`. The `fix-permissions` script in the previous `RUN` command should be tidying everything up, but perhaps not anymore.

Another possibility is that a directory that the jupyterlab package wants to writ

[2019-02-12 18:24] CMobley7 commented on #807
So, earlier in the build process I got

[code]

[2019-02-13 00:16] parente commented on #798
@mkirch https://github.com/jupyter/docker-stacks/issues/517 gives some of the reasoning behind why we're shying away from adding more images here and instead encouraging the creation of images in new repos which we can link to from here. https://github.com/jupyter/docker-stacks/issues/799 is a recent conversation along the same lines.

[2019-02-13 18:44] twalcari commented on #807
While trying to debug the problem, I got the error `[Errno 13] Permission denied: '/opt/condaw2fy28ej'`

So it seems that conda is trying to create another directory in `/opt`. Adding `fix-permissions /opt` as user `root` fixes the problem.

[2019-02-13 20:41] CMobley7 commented on #807
@twalcari, can you please include the code you added as well as the line you added it too?

[2019-02-14 01:38] dirkcgrunwald opened #809 "Using "Accelerated Python" by Intel"
Intel has released a Python conda channel that uses their Intel-tuned accelerated libraries. They claim up to 20x performance improvements over the base Ubuntu numpy performance (see https://software.intel.com/en-us/distribution-for-python/benchmarks )

You can find more information at https://goo.gl/P1VMGX

My question was: has anyone successfully integrated this into docker-stacks? I tried prepe

[2019-02-14 17:27] rwmajor2 commented on #807
@parente This is a conda 4.6.3 issue.  I just ran into it this morning vs. a few days ago.  I pinned my conda install in the base-notebook to 4.6.2 and the build succeeded.  @ASaragga

[code]

[2019-02-14 23:42] vilhelmen commented on #807
That explains why my builds suddenly started failing, thank you @rwmajor2 Maybe #810 should be changed switched out in favor of pinning the conda version?

[2019-02-15 08:19] 1kastner opened #811 "Invokation of certain methods result in an immediate crash of the python interpreter: `Illegal instruction (core dumped)`"
Hi! Thanks for using the Jupyter Docker Stacks.

**What docker image you are using?**

`jupyter/scipy-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

Have it started by an image derived and only slightly altered from `jupyterhub/jupyterhub` running version `0.9.4`

**What steps do you take once the container is running to reproduce the i

[2019-02-15 14:02] parente commented on #808
The problem is likely with the rgdal package in conda-forge. This upstream issue looks relevant: https://github.com/conda-forge/r-rgdal-feedstock/issues/18

[2019-02-15 14:05] parente commented on #807
@twalcari submitted the `fix-permissions "$(dirname $CONDA_DIR)"` fix in https://github.com/jupyter/docker-stacks/pull/810. I think it's fine to run with that for now in the base image since nothing else in the base image gets installed into `/opt` IIRC.

[2019-02-15 21:00] vilhelmen commented on #807
Yes, I was mistaken, #810 seems to fix it. Perhaps I was looking at an older build.

[2019-02-15 21:30] parente commented on #807
Closing for now. We can revisit `/opt` permission changes in the future if it really causes anyone a problem.

[2019-02-15 21:30] #807 closed

[2019-02-16 21:41] beniz commented on #706
Believing Jupyter is right to stay away from closed source binaries as provided by NVidia, though driven by immediate industry requirements, we have put a version of this repository with added GPU support, including recipes and an additional one for Tensorflow + Pytorch (see #745 ), here: https://github.com/jolibrain/docker-stacks

The Tensorflow + Pytorch recipe is here: https://github.com/jolibr

[2019-02-16 21:42] beniz commented on #745
See here for a Pytorch GPU recipe: https://github.com/jupyter/docker-stacks/issues/706#issuecomment-464388591

The Tensorflow + Pytorch recipe is here: https://github.com/jolibrain/docker-stacks/tree/master/jupyter-dd-notebook-gpu

The docker is available here: https://cloud.docker.com/u/jolibrain/repository/docker/jolibrain/jupyter-dd-notebook-gpu

[code]

[2019-02-18 22:14] vilhelmen opened #813 "Enabling man pages in containers"
Most OS container images blacklist the man pages for space reasons, but this can be pretty jarring when working in a notebook container terminal. Would it be worthwhile to re-enable the man pages in the images? It's as easy as adding the following to the base image (or a whole new image):

[code]
(This causes some package upgrades as the installed package versions no longer exist(!!), I would expe

[2019-02-19 08:00] 1kastner commented on #811
At https://github.com/matplotlib/matplotlib/issues/13458 it was said that the reason for the crash should be found here.

[2019-02-19 12:49] consideRatio commented on #774
Ooooh I just resolved this after struggling hard! This will do it I think, I may have messed up some syntax in the final section where i echo stuff to a file.

[code]

[2019-02-19 16:51] parente commented on #811
https://github.com/matplotlib/matplotlib/issues/13458#issuecomment-465069081 suggests the stock jupyter/scipy-notebook image is working (or was working, given we don't know what `latest` is pointing to on the commenter's machine.

@1kastner can you explain or share the alterations?

[2019-02-19 16:57] parente commented on #774
👀 @consideRatio wow, thanks for plowing through that and sharing it. I think that's great fodder for the recipes in the docs if someone would like to submit it.

[2019-02-19 17:01] 1kastner commented on #811
@parente I copy some local files into the image, add a label etc.
Sharing them is sadly not possible. But there is no installation via `apt-get`, `conda`, `pip` or any other software.

[2019-02-20 09:42] consideRatio opened #815 "Add bash.bashrc"
It is my understand that if we would not override /home/jovyan we probably would end up with a default .bashrc copied from /etc/skel/.bashrc, but that this is wiped in general due to mounting of storage in /home/jovyan.

Perhaps we could try to retain it somehow, for example by doing...

[code]

Changes if we do:
1. We get colors on the prompt, like...

![image](https://user-images.githubuserconte

[2019-02-20 19:56] 1kastner commented on #811
The latest guess at the other thread was that the nesting inside a not-suitably-configured VM might be the deal-breaker.

[code]

I will check whether the VM used at the cluster provides some kind of CPU which is not supported by the binaries installed through conda.

[2019-02-21 06:53] jakirkham opened #816 "Adding dask to the scipy-notebook"
Currently the `scipy-notebook` indirectly pulls in `dask-core` through `scikit-image`. That said, there are a fair number of users that will expect a fully featured dask install when they find it is in the image. Would suggest we go ahead and add the `dask` Conda package to the dependencies explicitly. This should pull in the fully featured dask install from conda-forge. Thoughts?

[2019-02-21 13:23] parente commented on #816
Agree since dask is already present.

[2019-02-21 16:13] 1kastner commented on #811
I could temporarily solve the issue by noting:
`FROM jupyter/scipy-notebook:987a0d33791b`
instead of the latest image.

[2019-02-21 16:58] 1kastner commented on #811
Btw, the same error popped up when I was using `scikit-learn`.

[2019-02-21 22:03] parente commented on #811
Here's what I get from running the matplotlib code in an ipython shell using the latest scipy-notebook image on my local VM. All versions / SHAs are shown in the log below for comparison. The result is what I would expect: matplotlib fails to use the default backend because there is no X session running in the container.

[code]

If I run `docker run -it --rm -p 8888:8888 jupyter/scipy-notebook` o

[2019-02-21 22:22] milensys commented on #718
I have the same issue.

File "/home/ec2-user/anaconda3/bin/jupyter-notebook", line 11, in <module>
    sys.exit(main())
  File "/home/ec2-user/anaconda3/lib/python3.7/site-packages/jupyter_core/application.py", line 266, in launch_instance
    return super(JupyterApp, cls).launch_instance(argv=argv, **kwargs)
  File "/home/ec2-user/anaconda3/lib/python3.7/site-packages/traitlets/config/application

[2019-02-22 02:57] javabrett commented on #815
Lots of good info here - I didn't quite follow the wiped/mounted-storage bit, but I suppose it refers to the late-creation of the container runtime user account.

What about something like this - you can make use of the fact that `.bashrc` looks late for `.bash_aliases`, and co-opt that somewhat hackishly to set PS1 as you please:

[code]

[2019-02-22 03:48] jakirkham commented on #816
Added PR ( https://github.com/jupyter/docker-stacks/pull/817 ).

[2019-02-22 06:28] 1kastner commented on #811
The image itself is working, I can use the same image on my Windows computer perfectly. I am not saying that it is as such broken. I would be glad if I had a simple error message like yours which is quite obious to deal with. As said before, the python interpreter crashes, most likely due to issues related to the pre-compiled libraries of conda which do not suit to the local installation.

Therefo

[2019-02-22 07:51] 1kastner commented on #811
Other places where `illegal instruction` was a reason for python to crash (even though at other points):
- https://github.com/jjhelmus/berryconda/issues/29
- https://github.com/ContinuumIO/anaconda-issues/issues/6400
- https://github.com/facebookresearch/faiss/issues/426
- https://stackoverflow.com/questions/41816892/pip-install-python-3-conda-illegal-instruction-4
- ...

So maybe it is rather an

[2019-02-22 08:00] #816 closed

[2019-02-26 19:24] 1kastner commented on #811
At https://github.com/numpy/numpy/issues/9532 they mention it as well.
It seems like one needs to work on the virtual machine.

[2019-02-27 16:10] freew01f opened #818 "How to use my own jupyter_notebook_config file"
I hava a image, the dockerfile content :
[code]
bug when the jupyter start , I discover the new jupyter_notebook_config is not replace the old one
how can I change it~
thanks

[2019-02-28 17:10] #818 closed

[2019-02-28 17:32] kbroughton opened #819 "pyyaml version 3.13 listed as High severity risk by Github audit."
Hi! Thanks for using the Jupyter Docker Stacks.

If you are looking to contribute to the images, please see the [Contributor's Guide] (http://jupyter-docker-stacks.readthedocs.io/en/latest/#) in the documentation for our preferred processes.

If you are reporting an issue with one of the existing images, please answer the questions below to help us troubleshoot the problem. Please be as thorough a

[2019-02-28 18:53] parente commented on #819
Looks like a version bump of all the scipy packages is in order. Happy to take a PR with version increases or I'll try to get to it on a weekend.

[2019-02-28 18:57] parente commented on #813
A guess a question is where to insert it into the tree of images. Adding it to base makes it available in all other images, but base is meant to be a reasonably constrained image without all the bells and whistles for actual use (e.g., no pandoc). minimal-notebook might be a better spot.

Or we can add the few lines to the docs as a recipe like you suggest. I'm on the fence and waiting to see if o

[2019-02-28 18:59] parente commented on #811
conda-forge went through a jump to a new compiler version in recent history. It may be tied to that.

Old versions of the images are always available with git sha's as tags. We can't stick with older versions of packages on master indefinitely, however, for reasons like #819.

[2019-02-28 19:05] parente commented on #815
Adding a file (bash_aliases, bashrc in skel, etc.) at build time to make the prompt prettier sounds good to me. If we copy a custom`/etc/skel/.bashrc` into the image before `adduser` in base-notebook, I think it'll get copied properly to that user's home dir. That seems like the right hook to use on the face of it, but I don't have a strong opinion on the implementation.

[2019-02-28 20:53] vilhelmen commented on #813
That's a good point about base. I'd just be wary about putting it too far in the process since you have to reinstall every package. The reinstall can really eat up a lot bandwidth and time. I don't recall the number of dependencies brought in by base's package install, but running it first in minimal might be ok.

I originally had it as part of our final presentation layer applied on top of the st

[2019-02-28 22:18] vilhelmen opened #820 "datascience/julia build failures(?)"
Has anyone else noticed builds of the datascience container failing on the Julia install in the last day or so? I know absolutely nothing about Julia, so I've got nothing really to add other than that.

Build log:
<details>

[code]
</details>

[2019-02-28 22:29] vilhelmen commented on #820
Also, is this a good place to bring up potential canary build warnings?

[2019-03-04 04:16] linzhiming0826 commented on #228
tanks a lot!!

[2019-03-04 04:16] linzhiming0826 commented on #228
thanks a lot！！

[2019-03-06 02:27] javabrett commented on #815
Customising/simplifying the base-image coloured `PS1` prompt aside - is this simply a matter of setting `TERM` to something that supports colour:

`docker run -it --rm --name jupyter -p 8888:8888 -e TERM=xterm-256color jupyter/minimal-notebook`

... and when shelling-in to that, I have colour, and

[code]

This does not help for the terminal plugin in JupyterLab - something must be clearing it to

[2019-03-07 09:52] MoniMayer commented on #210
Hi, I have exactly the same problem.
Hello,

I have problems creating charts in the jupyter notebook, sparmagic and  R.

This is my set up:

R version 3.5.2 (2018-12-20)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Db2 Warehouse
Matrix products: default
BLAS: /mnt/blumeta0/R-Install/lib64/R/lib/libRblas.so
LAPACK: /mnt/blumeta0/R-Install/lib64/R/lib/libRlapack.so
locale:
[1] LC_CTYPE=en_U

[2019-03-07 15:45] 1kastner commented on #811
I definitely do not want insecure software and at the conda issue (see https://github.com/conda/conda/issues/8373) the option is mentioned that docker might be misconfigured.

[2019-03-08 01:42] parente commented on #820
I noticed a Julia build failure on Docker Hub today. Builds before and after with the same Dockerfile contents have succeeded without an issue. I wonder if the build occasionally pulls a bad package version from upstream.

I'm not sure what you mean.

[2019-03-08 03:02] parente commented on #819
[code]

still gets pulled in after updating packages in #822. Looking at [conda-forge, the pyyaml feedstock is still at 3.13](https://github.com/conda-forge/pyyaml-feedstock/blob/master/recipe/meta.yaml) as is the  [latest release on PyPI](https://pypi.org/project/PyYAML/). The [PyYAML home page](https://pyyaml.org/wiki/PyYAML) also says the latest version is 3.13.

@kbroughton can you confirm wha

[2019-03-08 03:06] parente commented on #819
Found out what's going on here: https://github.com/yaml/pyyaml/issues/193#issuecomment-457387449

[2019-03-08 03:07] parente commented on #819
And here's the PR that will merge into 5.1 release with the fix: https://github.com/yaml/pyyaml/pull/257 Until then, 3.13 is the supported release version.

[2019-03-08 13:07] kbroughton commented on #819
thanks for digging!

[2019-03-08 22:18] vilhelmen commented on #820
Ah, looks like it's fixed itself sometime in the last two or three days.

I was just wondering if this was a good place to bring up these build issues.

[2019-03-08 22:29] 1kastner commented on #811
Let's see what will show up at https://forums.docker.com/t/70718

[2019-03-08 22:53] rvernica opened #823 "Track Python version used in the Docker images"
**What docker image you are using?**

`jupyter/datascience-notebook`

**What do you expect to happen?**

I would be nice to have a way to know which Docker image is using which Python version.

Here is a use-case: Current image is using Python `3.7.1`. I'm using PyArrow from `pyarrow-0.9.0-cp36-cp36m-manylinux1_x86_64.whl `. So, I would need Python `3.6`. How can I tell which Docker image is using

[2019-03-08 23:54] parente commented on #820
It’s a fine place to bring up the build issues. More often than not they’re caused by changes upstream but not always.

[2019-03-09 12:51] vikasavnish commented on #199
I had the same problem . I have reinstall tornado server( downgrade from v6 to v5.1.1) and it get solved

I posted solution [here](https://www.servloci.com/a-connection-to-the-notebook-server-could-not-be-established-the-notebook-will-continue-trying-to-reconnect-but-until-it-does-you-will-not-be-able-to-run-code-check-your-network-connection-or-note/)

[2019-03-09 22:30] vilhelmen commented on #820
Cool Since it's been fixed just as mysteriously as it broke, I suppose we're good for now.

[2019-03-09 22:30] #820 closed

[2019-03-11 11:11] javabrett commented on #813
-1 for unconditionally adding man pages to any base, intermediate or final stacks image.

I prefer the alternate suggestion - diligently document the recipe and add to the documentation, so anyone making a derived image could easily install man-pages if-desired.  Or if that is insufficient, provide the recipe as an (unreferenced by-default) build-time script that could be called for a derived imag

[2019-03-11 15:18] parente commented on #823
Understanding what's in each build is a common request. At the moment, the image tags are the prefix of the git SHA that triggered their build. This provides a link from binary to source, but lacks the exact manifest of packages and versions installed.

The Docker Cloud logs capture everything installed. I'm not sure if they're publicly available (https://cloud.docker.com/u/jupyter/repository/regi

[2019-03-11 17:25] rvernica commented on #823
I see. Makes sense. The Docker Cloud link did not work for me.

Having a page that lists the version info of the packages in the image would be a good start. Then we can turn that around and have a page with various versions of a package and the image that contains them.

Still, the image tag could contain the version numbers of the core languages, like Python, R, and Scala, since they will dictat

[2019-03-13 01:12] parente commented on #815
I opened PR #826 to enable terminal colors for a couple common use cases. It doesn't address customizing the default prompt or colorizing the terminal in all possible cases (e.g., user mounts a home directory not containing a `.bashrc`), both of which I think would be better served through documentation of specific recipes.

Feedback welcome.

[2019-03-13 08:33] romainx commented on #411
@danfowler I think the PR #812 has solved this problem.

[2019-03-13 14:06] parente commented on #823
For tagging language versions in an image like `jupyter/all-spark-notebook`, do you envision it would look something like:

`jupyter/all-spark-notebook:7db1bd2a7511-py37-r31-sc211`?

I think for building, what I'll call here, *package manifests*, we could do something like:

1. In a Docker Cloud `post_build` hook, run `apt list --installed`, `conda list`, `julia -E 'import Pkg; Pkg.status()'`, and

[2019-03-13 18:08] rvernica commented on #823
Yes, for the language version tagging format. If we do the _package manifest_ as well, then the Git SHA could be skipped.

[2019-03-13 18:23] parente commented on #823
We still need something unique to identify one build from the next in the name of immutable builds that people want to pin.

[2019-03-14 11:41] mindej commented on #199
@vibhutisawant Thank you very match it worked for me.
Jupiter right now do not work with tornado server version 6.0.1

[2019-03-14 19:32] parente opened #827 "Translating documentation"
We have good US English documentation in this project thanks to the efforts of quite a few people. It would be excellent if we had translations of the docs to promote broader use of and contribution to the docker stacks. Motivated by @leportella comments, I'm opening this issue as an invitation to anyone who would be interested in helping out, either with the translations or figuring out how best

[2019-03-15 20:27] parente commented on #823
First example of a manifest: https://github.com/jupyter/docker-stacks/wiki/base-notebook-eb149a8c333a

Manifests for the other images should start showing up soon, assuming I don't have a bug.

The entire setup is still a work-in-progress. PR #838 has a note about the current status.

[2019-03-15 21:48] parente commented on #823
TODOs based on results:

* [ ] fix Apache packages title and output (probably going to stderr)
* [ ] Include Python, R, Julia version in output too
* [ ] implement auto updating of the build history table, manually mocked-up at https://github.com/jupyter/docker-stacks/wiki
* [ ] expose language versions directly in the build history table
* [ ] eval if / how we need language versions in tags too o

[2019-03-16 14:09] prusswan commented on #811
I'm having a similar issue after trying to update numpy/pandas

[2019-03-18 15:31] frouzbeh opened #831 "Jupyter Notebook connecting to existing Spark/Yarn Cluster"
I want to deploy jupyterHub on a Kubernetes cluster using the following jupyter notebook image.
I have been trying to use the recipe in [here](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/recipes.html) to build a docker image which can use our Spark/Yarn cluster. I slightly changed the docker file, so this is my final docker file:

[code]
When I wanted to deploy it to Kubernetes cl

[2019-03-18 21:14] ezreal92170 commented on #663
It seems that MESOS-8921 is resolved. But I think this is not solved in pyspark and all-spark notebooks.
Will you deprecate mesos support or try to solve it?

[2019-03-18 21:20] parente commented on #663
I think we should move the few Dockerfile lines showing how to setup Mesos support to a recipe in the documentation, and continue to grow recipes for running Spark on numerous fabrics (mesos, local, yarn, k8s, ...) or more concrete community stacks that target specific use cases.

[2019-03-18 23:43] ezreal92170 commented on #663
I am still using an older image from Docker Hub which contains Ubuntu 16.04, before PR641.
I would be perfect if a recipe could exist

[2019-03-18 23:54] parente commented on #663
I can make an attempt at the recipe based on what’s in the Dockerfile today but I have no mesos cluster to truly test it against.

[2019-03-19 11:59] doctapp commented on #663
@parente I can test the recipe.

[2019-03-20 11:17] javabrett commented on #709
I agree this looks fixed in https://github.com/jupyter/notebook/pull/4103 , change which is unreleased as-of today.  Not sure what the close-policy here, but this could be closed pending upstream-release and uptake here.

[2019-03-20 11:46] 1kastner commented on #811
I just stepped through with pdb and found the line where things broke:

[code]

So yes, most likely it is related to numpy

[2019-03-20 11:52] javabrett commented on #768
Permalink for above pinning-for-`tini` reference, which had gone stale:

https://github.com/jupyter/docker-stacks/blob/185a9f74b2965ba65ef18f46b5d8494fad445439/base-notebook/Dockerfile#L88

[2019-03-20 12:04] 1kastner commented on #811
Sadly your suggestions @prusswan were not successful, thanks anyways.

I derived my image from it and added (1)
`RUN conda update -y pandas numpy`
and (2)
`RUN conda update -n base conda && conda update -y pandas numpy`
to it.
The error appeared again in the very same manner.

Those were the updates run:
[code]

[2019-03-20 12:14] 1kastner commented on #811
The np.dot operation further leads to https://github.com/numpy/numpy/issues/11517:

This makes it crash:
[code]

[code]
And this finally works!

[2019-03-20 12:24] prusswan commented on #811
I am not sure if you have the correct openblas packages, do you have the hash of the specific docker image you used? From what I can tell, problems start when the mkl/openblas packages get mixed up, and in my case, once I lost the openblas numpy through some update, I cannot get conda to install it again. Right now I am using a slightly older version of `jupyter/all-spark-notebook` , with these pa

[2019-03-20 12:25] 1kastner commented on #811
So now I added `ENV OPENBLAS_CORETYPE nehalem` to my Jupyter Notebook and everything works:

[code]

This is now the minimal Jupyter Notebook I can use on a JupyterHub.

[2019-03-20 12:29] 1kastner commented on #811
@prusswan as it is working now, I will give it a rest. Obviously it is some kind of bug somewhere as I did not setup something myself, it is all self-configured.
I am always building the image fresh from the dockerhub, so no chance that I broke something in some kind of update process myself.
But thank you very much for the conda list, I might still need it at some point.

[2019-03-20 12:32] 1kastner commented on #811
@parente Thank you very much for your patience. I guess my case is too specific so nothing needs to be adjusted on your side.
Therefore, I will close this for the meantime and let's hope the CPU detection will improve over time.
Otherwise I will open a new ticket with a new issue.

[2019-03-20 12:32] #811 closed

[2019-03-20 18:34] 1kastner commented on #811
Further information on this can be found at:
- https://github.com/xianyi/OpenBLAS/blob/master/USAGE.md
- https://github.com/xianyi/OpenBLAS/blob/master/driver/others/dynamic.c#L421

[2019-03-20 23:36] javabrett commented on #560
Despite #653, it still seems like it would be trivial to gain root access if the container is run with group `root`, i.e. `--user 1234:0`.  Is that intended?  And if not, what is the security-issue reporting process/email, and can we add that to the docs if not already there?

[2019-03-20 23:41] javabrett commented on #560
Is there a reason we can't just grant `sudo root` to `jovyan` for the purpose of running a single (hardened) script launched from `start.sh`, with that script (maybe call it `run-as-root.sh`) containing all the stuff requiring elevation at start-up?  Could even delete that script after running in.

Feels like that would allow the container to always launch as non-root (user or group) but retain al

[2019-03-20 23:55] parente commented on #709
Thanks for triaging. I agree we can close as the fix is upstream and workarounds are documented here in the meantime.

[2019-03-20 23:55] #709 closed

[2019-03-21 00:03] GrahamDumpleton commented on #560
If someone already has the ability to override the startup command and supply ``--user 1234:0``, then they could just as easily run the container as user ``root`` by doing ``--user 0``. So you have bigger problems if they have the ability to run containers as ``root`` user itself anyway. Note that running as user ``root`` is very different to running as non ``root`` user and group ``root``.

As yo

[2019-03-21 01:10] parente commented on #831
@frouzbeh We're starting to experiment with a general Q&A section on https://discourse.jupyter.org/c/questions to see if cross-technology questions like this catch more attention from a broader community audience. You might try re-posting your question there to see if someone has experience with a JupyterHub, Kubernetes, Spark, and Yarn setup. (I personally don't.)

I'll leave this issue open for

[2019-03-21 01:34] javabrett commented on #560
@GrahamDumpleton let's discuss via email or Gitter if you like (or something else, you choose), since it is a security question.

[2019-03-21 02:06] GrahamDumpleton commented on #560
Or BlueJeans or phone since you appear to live in the same city. :-)

For email you can get me at: firstname.lastname@gmail.com

[2019-03-21 04:06] javabrett commented on #577
With the Docker image dependency-graph in-mind - if each upstream image (starting with `base-notebook`) were able to be built/tested and pushed to Docker Hub (but maybe not tagged yet) - would that be an acceptable build-strategy, even on Travis?  That might allow build stages to be used.

[2019-03-21 13:48] saulshanabrook commented on #577
I wonder if the recent [CNCF Buildpacks project](https://buildpacks.io) could be useful here... It lets you cache different languages separately and compose the layers without invalidating the whole image: https://github.com/buildpack/spec/blob/master/buildpack.md#phase-4-export

[2019-03-21 15:23] parente commented on #577
FWIW, we haven't had a build failure due to timeout here in a while. Since opening the ticket, we've also documented how people can setup community stacks and started pushing for more use of recipes and separate images in other repos than continually adding more and more to these already large images.

Maybe an unpopular opinion, but we might want to call this issue moot and just continue to maint

[2019-03-21 15:29] willingc commented on #577
@parente Let's close this for now. If it becomes problematic again, we can try adding Azure Pipelines for testing too.

[2019-03-21 17:49] frouzbeh commented on #831
@parente  Thanks, I will.

[2019-03-21 18:59] jashubbard opened #834 "conda install fails on datascience-notebook and descendants"
I'm trying to build a custom notebook based on the datascience-notebook, but conda appears to be broken starting with the datascience-notebook but also with pyspark-notebook.

A minimal example using the scipy-notebook
[code]

This works fine. But if I try to do the same on the datascience-notebook (or pyspark-notebook):

[code]

I get the following error:

[code]

Is there something I'm missing?

[2019-03-21 21:19] jashubbard commented on #834
I answered my own question-- I was running this on a server with an older version of Docker (1.13.1), and none of the environment variables were passed through. So `$NB_UID` evaluated to '' .  I'm surprised that any of the jupyter stacks worked given this issue.

[2019-03-21 23:02] ezreal92170 commented on #663
i can test the recipe too

[2019-03-22 00:49] frouzbeh commented on #187
@minrk  Do you know how we can add this config to config.yaml for kubernetes?

[2019-03-22 01:57] parente commented on #663
OK. I'll see if I can adapt the mesos install when I get some time. If someone else wants to give it a go, by all means please do.

[2019-03-22 02:12] parente commented on #834
What you're doing looks correct.

Related to the blas JSON error you received, it looks like https://github.com/jupyter/docker-stacks/wiki/scipy-notebook-41e066e5caa8 has blas 1.1 but https://github.com/jupyter/docker-stacks/wiki/datascience-notebook-41e066e5caa8 has blas 2.4. It's just a hunch, but it seems relevant.

You might look at older build manifests on https://github.com/jupyter/docker-st

[2019-03-23 04:53] rkingdc commented on #806
You could take a look at the official R docker images at [rocker/geospatial](https://github.com/rocker-org/geospatial/blob/master/Dockerfile)

Looks like the install all needed dependencies and use `littler`'s `install2.r`, which is basically a nice cli wrapper for `install.packages`

[2019-03-25 08:10] michiboo commented on #827
Hi I am native Chinese speaker and would like to help translate some docs!

[2019-03-25 15:20] parente commented on #827
@michiboo Awesome. Thanks for reaching out. I'm a little swamped with day-job work at the moment, but I hope to follow-through on setting up the build infrastructure necessary to publish translated docs to ReadTheDocs following one of the paths noted in the description. (Of course, if you have any experience in that setup, please do share!)

[2019-03-25 18:49] jashubbard commented on #834
FWIW, I discovered the the problem was more pervasive and had nothing to do with configuration-- the server I'm trying to run on is a CentOs 7 system. It turns out that it doesn't have `d_type` turned on for the xfs filesystem (running `docker system info` revealed the issue). This causes really bizarre problems with the files on the docker images I was building (reference: https://linuxer.pro/201

[2019-03-25 18:49] #834 closed

[2019-03-27 17:00] alshabib commented on #638
Could you explain why should any directory other than the users home directory be writable by that user? Is this something fundamental to the operation of a jupyter notebook?

It seems to me that running fix-permissions $CONDA_DIR is both risky and causes container image bloat. Could you explain why this is necessary?

[2019-03-27 21:39] rahulpshah commented on #823
Also, would it make sense to add a LABEL suggesting the git-version of the build, so users can continue using the latest build but if something is not compatible, they can easily find out the git version of the working docker image.

[2019-03-28 02:12] parente commented on #823
@rahulpshah I'm not sure how to inject that into the Docker image at build time on DockerHub. If you've done that before or would like to figure out how, a PR would be welcome.

[2019-03-28 16:12] jhermann commented on #475
NOT a good idea, since 9 is not LTS (and unsurprisingly EOL by now because of that). The next target version should be 11 , and special care has to be taken because 8→11 involves the Jigsaw classpath mechanics change.

[2019-03-28 16:16] Bidek56 commented on #475
This is an old issue, closing it since it's irrelevant at this time.

[2019-03-28 16:16] #475 closed

[2019-03-29 16:28] prusswan commented on #811
Just fyi, the issue I encountered is probably this one: https://github.com/conda-forge/openblas-feedstock/issues/60. Not the same issue but related to CPU detection within VMs

[2019-03-30 08:40] 1kastner commented on #811
Your explanation seems likely to me.

[2019-03-31 01:57] Allanfs commented on #827
Hey, I'm native brazilian Portuguese speaker. I would like to help too!

[2019-03-31 17:35] parente commented on #831
I'm going to close this issue now in favor of having it reposted on the Discourse site where a broader user community will see it and may be able to answer this. If you have or will ask it again over there, feel free to include the link here as a comment in case people come across this closed issue and wonder where the conversation continued on Discourse. Thanks.

[2019-03-31 17:35] #831 closed

[2019-03-31 17:37] parente commented on #819
Looking at https://github.com/jupyter/docker-stacks/wiki/scipy-notebook-59b402ce701d today, I see that the image contains pyyaml 5.1. Other images I spot check downstream of scipy-notebook also seem to have pyyaml 5.1. I'm going to close this out as fixed upstream.

[2019-03-31 17:37] #819 closed

[2019-03-31 17:39] parente commented on #815
@consideRatio @javabrett (or anyone else) would you like to take another pass at terminal colorization to support the use cases my PR didn't handle or should we close this out?

[2019-03-31 17:42] parente commented on #813
Let's start with documenting man page additions as a recipe. If there's overwhelming interest and support for making it a standard part of the build, with a recognition of the cost it brings, we can continue the conversation and figure out a next step.

@vilhelmen If you're still interested, feel free to send a recipe page PR for me to review.

[2019-03-31 17:53] parente commented on #809
Hi @dirkcgrunwald. We're starting to experiment with a general Q&A section on https://discourse.jupyter.org/c/questions to see if cross-technology questions like this one catch more attention from a broader community audience. You might try re-posting your question over there to see if someone with more experience in this topic can help.

I'm going to close this issue since it has been idle for so

[2019-03-31 17:53] #809 closed

[2019-03-31 17:57] parente commented on #806
Installing Jupyter components in R-heavy images is probably a much easier path to walk than the other way around, so 👍 to @rkingdc 's suggestion.

FWIW, we're starting to experiment with a general Q&A section on https://discourse.jupyter.org/c/questions to see if cross-technology questions like this one catch more attention from a broader community audience. You might try re-posting your question

[2019-03-31 17:57] #806 closed

[2019-03-31 17:59] parente commented on #801
I believe this issue has been addressed by the linked PR. I'm going to close it out. Feel free to send additional PRs if you find other ways to improve the documentation. Thanks again.

[2019-03-31 17:59] #801 closed

[2019-03-31 18:02] consideRatio commented on #815
@parente hmmm sorry for dropping the ball on this and thanks for your work!

I'd love to see a system wide default configuration to allow the users with no `.bashrc` file get colors as well. For all JupyterHub's where we mount the home folder this will happen for example, and perhaps there is no real drawback to have something system wide configured rather than distributing the configuration to th

[2019-03-31 18:03] parente commented on #798
This issue has been idle for a while now so I'm going to close it out.

If someone would like to contribute a recipe for building an "everything but the kitchen sink" image to the recipes page or maintain such an image in a separate repo with a link to it from the community images documentation here, I'll happily review the PR.

[2019-03-31 18:03] #798 closed

[2019-03-31 18:04] parente commented on #797
@pmkc We're starting to experiment with a general Q&A section on https://discourse.jupyter.org/c/questions to see if cross-technology questions like this one catch more attention from a broader community audience. You might try re-posting your question over there to see if someone with more experience on this topic can help.

I'm going to close this issue since it has been idle for some time now.

[2019-03-31 18:04] #797 closed

[2019-03-31 18:06] parente commented on #774
This issue has been idle for some time now so I'm inclined to close it. I think it would still be great to have the information captured here appear on the recipes page in the doc if someone has the time and interest in vetting it and sending it in as a PR.

[2019-03-31 18:06] #774 closed

[2019-03-31 18:09] parente commented on #753
@cywang16 Quite a bit of time has passed since our conversation above. Were you able to resolve the problem of your docker client not downloading the latest image?

[2019-03-31 18:23] parente commented on #768
The associated PR #778 has the continuation of the discussion here and link to the upstream work that is happening in conda-forge to release tensorflow 1.13 which is blocking the upgrade of python to 3.7 in tensorflow-notebook. scipy-notebook currently has 3.7 and probably has for a bit now (https://github.com/jupyter/docker-stacks/wiki/scipy-notebook-59b402ce701d).

I'm going to close this issue

[2019-03-31 18:23] #768 closed

[2019-03-31 18:26] parente commented on #815
Porting the lines from `/etc/skel/.bashrc` that enable terminal and prompt colors to a new scripta in`/etc/profile.d` may do the trick. The only guidance I can give is to give it a shot and try running container with various settings (e.g., no home mount, a home mount with an .bashrc already present in the host folder, a home mount without a .bashrc, etc.) and see what works and what breaks.

[2019-03-31 18:32] parente commented on #751
This issue has been idle for some time now after my last comment. I'm going to close it but would still welcome a PR describing how to add nbgitpuller to the recipes page in the documentation.

[2019-03-31 18:32] #751 closed

[2019-03-31 18:39] parente commented on #748
This issue has been idle for some time now without any comments from the community about adding xarray. I see there's a linked issue from the pangeo project where they solved it by building their own images using repo2docker.

I'm going to close out this issue for the time being. If there's a groundswell of support for adding it, we can revisit adding it by default.

[2019-03-31 18:39] #748 closed

[2019-03-31 18:43] parente commented on #742
We're addressing some concerns raise here in #823. For example, the project wiki on this site now automatically updates after builds in Docker Hub to show complete build manifests of the apt, python, r, julia, etc. packages in the image.

Please feel free to join the conversation in #823. I'm going to close this issue out as a duplicate, even though I know it was opened first. (I just had time to

[2019-03-31 18:43] #742 closed

[2019-03-31 18:52] parente commented on #706
@beniz Thanks for sharing your work.

This issue has been idle for some time now so I'm going to close it. If anyone would like to submit a PR to the recipes or community images doc pages linking to information about GPU-enabled images, I'll be happy to review it.

[2019-03-31 18:52] #706 closed

[2019-03-31 18:58] parente commented on #745
This issue has been idle for some time now so I'm going to close it. If anyone would like to submit a PR to the recipes or community images doc pages linking to information about GPU-enabled images, I'll be happy to review it. For now, the decision stands that we do not wish to deal with the distribution of non-open source software in these images.

I'm not sure if it's been said yet, so I'll poin

[2019-03-31 18:58] #745 closed

[2019-03-31 19:04] parente commented on #96
This issue has inactive for some time now and so I'm going to close it. If someone would like to send a PR against the recipes page in the documentation with instructions about how to install the extensions in these images, I'll be happy to review it.

[2019-03-31 19:04] #96 closed

[2019-03-31 19:06] parente commented on #701
This issue has inactive for some time now and so I'm going to close it. If someone would like to send a PR to make the documentation clearer, I'll be happy to review it.

[2019-03-31 19:06] #701 closed

[2019-03-31 19:08] parente commented on #722
This issue has inactive for some time now and so I'm going to close it. The container startup logic has changed a bit since this issue was opened, but if there's still a way to improve it to reduce the time it takes to chown, I'll be happy to review a PR suggesting it. Failing that, a doc PR calling out increased startup time when using a custom UID/GID would also be welcome.

[2019-03-31 19:08] #722 closed

[2019-03-31 19:09] parente commented on #660
I believe this was addressed in #720.

[2019-03-31 19:09] #660 closed

[2019-03-31 19:10] parente commented on #674
This issue has inactive for some time now and so I'm going to close it. #823 has some on-going work to expose more information about the content of builds.

[2019-03-31 19:10] #674 closed

[2019-03-31 19:12] parente commented on #643
This issue has been idle for quite some time now and so I'm going to close it. If someone does work up a Haskell image based on the instructions in the documentation or repo2docker, I'll gladly review a PR that adds a link to it in the documentation here.

[2019-03-31 19:12] #643 closed

[2019-03-31 19:13] parente commented on #738
This issue has been idle for quite some time now and so I'm going to close it. #823 has a recent conversation and new work to make the contents of the images more readily visible to users.

[2019-03-31 19:13] #738 closed

[2019-03-31 19:18] vsoch commented on #701
holy cow, like 7 months and nobody changed a version string in the README? Holy cow man, I'll do it. The version clearly has a bug and needs to be updated. @parente please reopen and assign me to this issue.

[2019-03-31 19:22] vsoch commented on #701
Nevermind, we're good! I clicked a link to an old readme. Relief! I couldn't believe it.

[2019-03-31 19:29] parente commented on #242
Re-reading this issue, I'm not sure whether it's something that we still need to address or not. A long time has passed and no one has re-raised the desire to have the systemuser script in the images or noted that it's no longer needed.

I'm going to close this issue as inactive. If someone does find that the systemuser script is worth having for some use case, I'll be happy to review a PR that ad

[2019-03-31 19:29] #242 closed

[2019-03-31 19:30] parente commented on #309
I'm going to close this issue as inactive. If someone does find a way to get the SIGHUP forwarding to work without stopping the container along the way, I'll be happy to review a PR with the change.

[2019-03-31 19:30] #309 closed

[2019-03-31 19:46] parente commented on #678
The images are now using conda 4.6 so I think this is safe to close. Feel free to open a new issue if the problem persists.

[2019-03-31 19:46] #678 closed

[2019-03-31 19:47] parente commented on #406
Folks have contributed tests over time and will hopefully continue to do so. I'm going to close this out.

[2019-03-31 19:47] #406 closed

[2019-03-31 19:48] parente commented on #421
We're starting to experiment with a general Q&A section on https://discourse.jupyter.org/c/questions to see if cross-technology questions like this one catch more attention from a broader community audience. You might try re-posting your question over there to see if someone with more experience in this topic can help.

I'm going to close this issue since it has been idle for some time now. If you

[2019-03-31 19:48] #421 closed

[2019-03-31 19:50] parente commented on #468
This issue has been idle for some time but I'd like to leave it open as low-hanging fruit for someone looking to contribute to the project by improving upon the rather terse recipe for using spark packages in the recipes here: https://jupyter-docker-stacks.readthedocs.io/en/latest/using/recipes.html#using-spark-packages-org

[2019-03-31 20:12] parente commented on #472
This issue has been inactive for quite some time and so I'm going to close it. If someone would like to pick up the torch on restoring the ppc64 builds in this repo, I'll be happy to review the PR though I don't have suggestions on where to do the PowerPC builds. If anyone has an interest in leading the charge on making the base-notebook image a Docker official image, please open a new issue and m

[2019-03-31 20:12] #472 closed

[2019-03-31 20:15] parente commented on #640
This issue has been idle for some time now and so I'm going to close it. If someone has figured out how to use ROOT via the conda package, a PR updating the recipes page in the doc with instructions would be welcome.

[2019-03-31 20:15] #640 closed

[2019-03-31 20:17] parente commented on #599
This issue has been idle for a while now and so I'm going to close it. If someone puts together a recipe for the documentation or community-maintained Docker images containing Drill, Presto, etc., I'll happily review PRs adding links to them in the documentation here.

[2019-03-31 20:17] #599 closed

[2019-03-31 20:17] parente commented on #675
This issue is old, but I'd like to leave it open as a good starting point for someone who wants to contribute here.

[2019-03-31 21:15] parente commented on #513
I'm going to close out this issue as it's been inactive for some time now.

[2019-03-31 21:15] #513 closed

[2019-03-31 21:16] parente commented on #681
I'm going to close out this issue as inactive. Feel free to comment back on whether the suggestions in the last comment addressed your issue or not for future generations.

[2019-03-31 21:16] #681 closed

[2019-03-31 21:17] parente commented on #515
We're starting to experiment with a general Q&A section on https://discourse.jupyter.org/c/questions to see if cross-technology questions like this one catch more attention from a broader community audience. You might try re-posting your question over there to see if someone with more experience in this topic can help.

I'm going to close this issue since it has been idle for some time now. If you

[2019-03-31 21:17] #515 closed

[2019-03-31 21:20] parente commented on #546
We're starting to experiment with a general Q&A section on https://discourse.jupyter.org/c/questions to see if cross-technology questions like this one catch more attention from a broader community audience. You might try re-posting your question over there to see if someone with more experience in this topic can help.

I'm going to close this issue since it has been idle for some time now. If you

[2019-03-31 21:20] #546 closed

[2019-03-31 21:31] parente commented on #560
Re: reporting vulnerabilities, I've started a thread on Discourse about how we might better indicate the preferred procedure https://discourse.jupyter.org/t/responsible-vulnerability-reporting/655.

[2019-03-31 21:33] parente commented on #577
Of course, right after I said it, the daily Travis job failed for the first time in months due to a build timeout. Still, it's a rare occurrence and Travis is only used to test PRs. Docker Hub, which builds releases off master, has support for image caching and has not to my knowledge suffered from any time outs.

Closing this out as @willingc suggests for the time being.

[2019-03-31 21:33] #577 closed

[2019-03-31 21:35] parente commented on #585
This issue has been inactive for a few months now and so I'm going to close it. That said, I'll be happy to review a PR updating the recipes page with guidance on how to add sparkmagic if someone has the time and interest to write it up.

[2019-03-31 21:35] #585 closed

[2019-03-31 21:35] parente commented on #659
We're starting to experiment with a general Q&A section on https://discourse.jupyter.org/c/questions to see if cross-technology questions like this one catch more attention from a broader community audience. You might try re-posting your question over there to see if someone with more experience in this topic can help.

I'm going to close this issue since it has been idle for some time now. If you

[2019-03-31 21:35] #659 closed

[2019-03-31 21:55] parente commented on #827
Doing a little research today while closing old issues here:

* Django is using the Transifex + ReadTheDocs approach according to https://docs.djangoproject.com/en/dev/internals/contributing/localizing/#documentation and documented by RTD here: https://docs.readthedocs.io/en/stable/guides/manage-translations.html
* Python is also using Transifex (https://www.transifex.com/python-doc/public/)

[2019-03-31 22:00] parente commented on #743
We're starting to experiment with a general Q&A section on https://discourse.jupyter.org/c/questions to see if cross-technology questions like this one catch more attention from a broader community audience. You might try re-posting your question over there to see if someone with more experience in PySpark + Kafka + Docker can help.

I'm going to close this issue since it has been idle for some ti

[2019-03-31 22:00] #743 closed

[2019-03-31 22:01] parente commented on #741
@jdcohen220 Thanks for commenting back about localhost vs 127.0.0.1.

[2019-03-31 22:01] #741 closed

[2019-03-31 22:01] parente commented on #669
We're starting to experiment with a general Q&A section on https://discourse.jupyter.org/c/questions to see if cross-technology questions like this one catch more attention from a broader community audience. You might try re-posting your question over there to see if someone with more experience in Mayavi can help.

I'm going to close this issue since it has been idle for some time now. If you do

[2019-03-31 22:01] #669 closed

[2019-03-31 22:02] parente commented on #697
We're starting to experiment with a general Q&A section on https://discourse.jupyter.org/c/questions to see if cross-technology questions like this one catch more attention from a broader community audience. You might try re-posting your question over there to see if someone with more experience in webdav + JupyterHub + Docker can help.

I'm going to close this issue since it has been idle for som

[2019-03-31 22:02] #697 closed

[2019-03-31 22:05] parente commented on #682
This issue has been inactive for some time now without more information and so I'm going to close it. If someone can reproduce the issue with a recent image tag, feel free to open a new issue with the tag, steps to reproduce, etc.

[2019-03-31 22:05] #682 closed

[2019-03-31 22:10] parente commented on #698
I'm going to close this issue since it's been inactive for some time. @bobmayuze 's link does provide a reasonable example of how docker-compose can help run services in separate containers. It can be adapted to run Jupyter Notebook in one and MongoDB in another. If MongoDB does need to be running on the host, using `--net host` on the Docker command line for starting the Jupyter container should

[2019-03-31 22:10] #698 closed

[2019-03-31 23:24] parente commented on #699
We're starting to experiment with a general Q&A section on https://discourse.jupyter.org/c/questions to see if cross-technology questions like this one catch more attention from a broader community audience. You might try re-posting your question over there to see if someone with more experience in using these images plus Spark standalone mode can help.

I'm going to close this issue since it has

[2019-03-31 23:24] #699 closed

[2019-03-31 23:28] parente commented on #771
We've not seen a similar build failure in the daily Travis cron or the release builds on Docker Hub. I'm inclined to close the issue unless someone states the problem still exists and can provide a bit more context. For instance, is the docker build command from the description being run in the base-notebook subdir?

[2019-03-31 23:28] parente commented on #37
We're starting to experiment with a general Q&A section on https://discourse.jupyter.org/c/questions to see if cross-technology questions like this one catch more attention from a broader community audience. You might try re-posting your question over there to see if someone with more experience in using Julia + IPython together.

I'm going to close this issue since it has been idle for a signific

[2019-03-31 23:28] #37 closed

[2019-03-31 23:31] parente commented on #527
The Apache Spark website does not list a release containing Hadoop 3.0 JARs today either.

I'm going to close this issue as it has been idle for over a year now. If someone does make an official  Apache Spark release with the Hadoop 3.0 JARs and we haven't moved away from including Spark+Hadoop in these images by then (#626), I'll happily take a PR with the update.

[2019-03-31 23:31] #527 closed

[2019-03-31 23:33] parente commented on #695
We're starting to experiment with a general Q&A section on https://discourse.jupyter.org/c/questions to see if cross-technology questions like this one catch more attention from a broader community audience. You might try re-posting your question over there to see if someone with more experience using Zero-to-JupyterHub and these images together can help.

I'm going to close this issue since it ha

[2019-03-31 23:33] #695 closed

[2019-03-31 23:42] parente commented on #713
We're starting to experiment with a general Q&A section on https://discourse.jupyter.org/c/questions to see if cross-technology questions like this one catch more attention from a broader community audience. You might try re-posting your question over there to see if someone with more experience in this topic can help.

I'm going to close this issue since it has been idle for some time now. If you

[2019-03-31 23:45] parente commented on #714
@datawookie Now that I'm reviewing old issues, I think I see what I missed the first time I saw your question: the `--user` has to be set to `root` for any of the `NB_USER`, `NB_UID`, etc. flags to take effect.

https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html#docker-options

[2019-03-31 23:49] parente commented on #740
I'm going to close this issue as resolved. Since the question was asked, we've added [build manifests to the wiki](https://github.com/jupyter/docker-stacks/wiki) so that users can track what each image build contains. They're still a work in progress (#823) but useful already.

[2019-03-31 23:49] #740 closed

[2019-03-31 23:52] parente commented on #598
Spending the day reviewing and closing old issues, it's possible the original issue filed here could be related to https://github.com/jupyter/docker-stacks/issues/542#issuecomment-379515332.

[2019-04-01 01:28] parente commented on #517
We're well down the path of encouraging recipes and community stacks. repo2docker has grown in popularity as a way to build arbitrary images. There's the potential for work to be done here to reduce the number of images we maintain (#693) and to make the Spark images more cluster agnostic (#626). I think we can close this issue and track those efforts separately.

[2019-04-01 01:28] #517 closed

[2019-04-01 06:48] dnk8n commented on #823
I think a maintained document with the versions would be all that is required (even be a json or bash variable manifest which gets referenced). That way whenever there is a less complicated version bump, only one file gets a change. It would also then be a lot easier to find the tag (although scouring the source control should not be a requirement).

Since docker images and git commits can be refe

[2019-04-01 10:23] #771 closed

[2019-04-02 06:57] aabor opened #840 "import rpy2.robjects error"
I am trying to import rpy2.robjects from rpy2 library.

`
import rpy2.robjects as robjects
from rpy2.robjects import pandas2ri
pandas2ri.activate()
`
which gives me error message.

There were not such a problem in notebook image with this tag:
jupyter/datascience-notebook:635a1d142580

But when I upgraded to jupyter/datascience-notebook:be289da10d60
the problem arose.

As a work around I downgrade

[2019-04-04 00:59] solider245 opened #841 "requests-html module can't find"
![image](http://ws4.sinaimg.cn/large/6613a37fgy1g1qbl7yy29j20kr03qwen.jpg)

requests-html module can't find

It is a new but it is very important.

[2019-04-04 01:02] parente commented on #840
This is likely a problem with the upstream conda-forge package for rpy2: https://github.com/conda-forge/rpy2-feedstock/pulls

[2019-04-04 15:42] 1kastner opened #842 "scipy-notebook fails with `standard_init_linux.go:207: exec user process caused "exec format error"`"
**What docker image you are using?**

`jupyter/scipy-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run jupyter/scipy-notebook`

**What steps do you take once the container is running to reproduce the issue?**

Only enter the command to the command line.

**What do you expect to happen?**

The docker image to start

**What actua

[2019-04-04 15:44] 1kastner commented on #842
Following the argumentation of https://forums.docker.com/t/standard-init-linux-go-190-exec-user-process-caused-exec-format-error/49368/5 most likely it pulls a docker image with a wrong architecture.

[2019-04-04 16:21] cywang16 commented on #753
Thanks @parente
Looks good now. Let me close this issue.

[2019-04-04 16:21] #753 closed

[2019-04-04 18:04] vtrajan commented on #678
I got similar problem when trying to install keras:

(FYI: I have installed anaconda for my use only.  Should I have installed it in the root?
I had it installed in the root before.)

Preparing transaction: done
Verifying transaction: done
Executing transaction: failed
ERROR conda.core.link:_execute(568): An error occurred while uninstalling package 'defaults::python.app-2-py37_9'.
PermissionError

[2019-04-04 18:05] vtrajan commented on #678
I installed the anaconda today on my Mac.  So it must be the latest.

[2019-04-04 18:08] vtrajan opened #843 "Trouble installing keras"
I got similar problem when trying to install keras:

(FYI: I just installed anaconda for my use only. Should I have installed it in the root?
I had it installed in the root before, then removed it.)

Preparing transaction: done
Verifying transaction: done
Executing transaction: failed
ERROR conda.core.link:_execute(568): An error occurred while uninstalling package 'defaults::python.app-2-py37_9'.

[2019-04-04 18:37] parente commented on #678
@vtrajan make sure you are using the latest docker image by doing a `docker pull <image name>` and then try your keras install against a new container spawned from that image.

[2019-04-04 18:39] parente commented on #843
[code]

Looks like you're using conda directly on your Mac, not in the docker images maintained here. Please try asking your question or filing an issue in the appropriate anaconda/conda forum.

* https://support.anaconda.com/
* https://github.com/conda/conda

[2019-04-04 18:39] #843 closed

[2019-04-06 02:47] parente commented on #827
Toying around with `sphinx-build -b gettext` based on the RTD instructions. It looks like only paragraph level text is extracted into `.pot` files for translation. Bulleted lists are omitted, for example, even when they contain human readable text. I wonder if this is a problem with trying to use the sphinx tools against markdown files instead of proper restructuredtext. 🤔

[2019-04-06 21:30] aishwaryathondapu commented on #678
I got permission issue while running the keras and pyinstaller in MacOs. When ran with the sudo it worked. But there are packages in conda which executed perfectly with out using sudo. What might be the reason. My user in Mac has Admin previliges

[2019-04-06 22:37] parente commented on #678
@aishwaryathondapu This is an issue tracker for Project Jupyter and its use with conda in docker images. You might try asking your question about using conda on macOS in an appropriate conda support forum.

[2019-04-08 19:38] michiboo commented on #827
Hi I try to use sphinx-build, Bulleted lists are omitted where in the table of content  where following format are used:
`.. toctree::
   :maxdepth: 2
   :caption: User Guide

   using/selecting
   using/running`

[2019-04-08 19:38] michiboo commented on #827
Is there a way around this, or we have to manually put the text and link there?

[2019-04-08 19:47] parente commented on #827
Right now I think we're just experimenting with options. I was mostly focused on getting files to and from transifex for translation (https://www.transifex.com/project-jupyter/jupyter-docker-stacks-1/dashboard/).

Two things we might try next to resolve the "missing text" problem:

* I saw that transifex supports whole document translation which would bypass the use of pot/po files and the sphinx-

[2019-04-09 01:11] javabrett commented on #713
/close

[2019-04-09 10:26] #713 closed

[2019-04-09 16:01] joshuacook commented on #842
@1kastner What would it take to build multi-architecture images? Would it effect the current images at all?

[2019-04-09 20:53] 1kastner commented on #842
At https://lobradov.github.io/Building-docker-multiarch-images/ a quick explanation is available.
Actually there is already a second supported architecture, namely PowerPC. How I came to that conclusion? At https://github.com/jupyter/docker-stacks/tree/master/base-notebook there is a second Dockerfile called Dockerfile.ppc64le. This is used in https://github.com/jupyter/docker-stacks/blob/master/M

[2019-04-10 07:10] roccqqck opened #847 "is that possible to install jupyterlab-git in jupyter/base-notebook/dockerfile?"
sorry its not a issue
but i have to ask

almost every jupyter docker build FROM base-notebook

is that possible to install jupyterlab-git in  jupyter/base-notebook/dockerfile

that would be helpful

[2019-04-10 20:25] 1kastner commented on #842
Some more input can be taken from https://blog.hypriot.com/post/setup-simple-ci-pipeline-for-arm-images/

[2019-04-16 20:30] RobertSellers opened #850 "Adding JDBC postgres driver connection for external db to environment / jupyter"
**What docker image you are using?**

pyspark-notebook on ubuntu 18.04 server.

**What complete docker command do you run to launch the container?**

I am using a docker-compose.yaml, for three services: jupyter, spark-master, and spark-worker-1. For the spark services, I am running (approximately):

[code]

**What steps do you take once the container is running to reproduce the issue?**

I am not

[2019-04-21 14:31] Nico769 commented on #827
Hi, I'm an Italian native speaker and I'd love to help. Although I'm no expert on this, I'd suggest porting the entire doc to reST to leverage better compatibility with Sphinx (+ Transifex) and future development.

This [blog post](http://www.ericholscher.com/blog/2016/mar/15/dont-use-markdown-for-technical-docs/) gives a good outline on why to do so.

Meanwhile, [this might also help](https://git

[2019-04-21 20:34] parente commented on #847
We try to keep the base-notebook image free from extensions so that it can serve as a starting point for a variety of other images. We'd welcome a [recipe in the docs](https://jupyter-docker-stacks.readthedocs.io/en/latest/contributing/recipes.html) like the following showing how to add the JupyterLab git extension to a custom Dockerfile:

[code]

Would you like to send a PR?

[2019-04-21 20:42] parente commented on #842
We currently build x86 images on DockerHub. According to https://github.com/docker/hub-feedback/issues/1261, it should be possible to configure DockerHub to build images for other architectures. I believe anyone can experiment with this setup in their own personal DockerHub account by forking this repo and setting up an automated build on the Hub [like we recommend for community maintained stacks]

[2019-04-21 20:53] parente commented on #850
We're starting to experiment with a general Q&A section on https://discourse.jupyter.org/c/questions to see if cross-technology questions like this one catch more attention from a broader community audience. You might try re-posting your question over there to see if someone with more experience in this topic can help.

If you do post the question again on the Discourse site, feel free to leave a

[2019-04-21 21:37] parente commented on #827
Upgrading to `recommonmark 0.5.0` seems to have corrected the problem with `sphinx-build` gettext missing bulleted lists. 🎉

I've uploaded the latest portable object template (.pot) files to Transifex and enabled languages `zh`, `pt_BR`, and `it` for translation in the Transifex project here:

https://www.transifex.com/project-jupyter/jupyter-docker-stacks-1

@michiboo, I accepted your request to

[2019-04-21 21:39] parente commented on #827
Thanks for sharing. I noticed in passing on Transifex that you can configure automatic translation using Google, AWS, etc. with an API key. There also seem to be options for paid translation and crowd sourced translation with voting in Enterprise accounts as well.

[2019-04-22 12:56] Allanfs commented on #827
I've sended a join request to the team. As soon as you accept me, i'll make some translations and comment back here any question or sugestion.

Also, i'll read the links that the collegues shared above. 📖

[2019-04-22 13:47] parente commented on #827
I accepted you both. Thanks for helping out!

I've also added a TODO list to the description of this issue of things needing to get done to streamline the process and make it reproducible in other Jupyter projects.

[2019-04-22 13:57] parente commented on #827
After merging #844, I also see that Transifex automatically pulled the source language template files and updated the available strings for translation in the `zh`, `pt_BR`, and `it` projects. There was one hiccup I noted in the PR but it shouldn't be a problem from here on out.

When translated resources become available, we should see Transifex open a pull request here attempting to merge them i

[2019-04-23 01:33] parente commented on #827
I took another pass through Transifex this afternoon and paid closer attention to what I was clicking. I noticed that automated pull requests only appear when the English strings are either 100% translated to another language or 100% reviewed.

![Screen Shot 2019-04-22 at 12 37 55 PM](https://user-images.githubusercontent.com/153745/56544600-00ac0b00-6543-11e9-83af-3ee26c9cc0ff.png)

It's not a pr

[2019-04-23 05:53] betatim commented on #827
Transifex costs (a lot) of money and I couldn't find a "free for open-source" option. How did you organise for this Peter?

[2019-04-23 09:43] parente commented on #827
@betatim there’s a free for open source option when you add a new project. You provide a repo URL and someone or something (maybe) confirms it on the Transifex side.

I’ve setup an org in Transifex for Jupyter and would be happy to invite you and other maintainers who would like to poke around and/or configure it for other Jupyter projects. I was only holding off on suggesting that until we’re a b

[2019-04-24 19:21] Nico769 commented on #827
I've translated the `index.po`. Hopefully it's polished enough! Let me know what you think.

[2019-04-24 20:02] Allanfs commented on #827
@parente . I've seen that would be usefull for the readers(especially those who are entering the Docker world) if there were a link referencing the Docker documentation, for exemple: talking about the use of volumes and working directory it would have a link to it in the Docker docs.

May be in a future work, but what do you think about it?

[2019-04-25 05:59] parente commented on #827
@Nico769 I see Transifex opened a pull request with your translation! It's not quite in the right directory, but that's nothing you did wrong. I'll get the misconfiguration sorted out. Thanks for doing the heavy lifting. Hopefully someone else who can read/write Italian fluently can help out with reviewing and translating more of the docs.

@Allanfs Links to additional resources are always welcome

[2019-04-25 09:31] zommuter commented on #842
The first problem lies [here](https://github.com/jupyter/docker-stacks/blob/f646d2b2a3afde5403525523f5657bc6b93d1a84/base-notebook/Dockerfile#L73):

    wget --quiet https://repo.continuum.io/miniconda/Miniconda3-${MINICONDA_VERSION}-Linux-x86_64.sh && \

Obviously the `x86_64` version won't do. Unfortunately the latest `armv7l` release is 3.16.0 from 2015 😕

[2019-04-25 14:51] 1kastner commented on #842
At https://github.com/jjhelmus/berryconda somebody started a project to solve that.

[2019-04-26 05:27] j84lee opened #856 "trying to install fbprophet"
**What docker image you are using?**

I'm trying to build a Dockerfile based on 'jupyter/scipy-notebook'.

**What complete docker command do you run ?**

docker build xxxx .

**What do you expect to happen?**

It should build a Docker image with my customization.
I was trying to install fbprophet package when docker built the image.

**What actually happens?**
It returns an error message:
[code]
I

[2019-04-26 15:04] parente commented on #827
I setup ReadTheDocs subprojects following the docs here (https://docs.readthedocs.io/en/stable/localization.html#project-with-multiple-translations). It works!

https://jupyter-docker-stacks.readthedocs.io/pt_BR/latest/
https://jupyter-docker-stacks.readthedocs.io/it/latest/
https://jupyter-docker-stacks.readthedocs.io/zh/latest/

All of these are accessible from the popup menu inserted by RTD in

[2019-04-26 17:56] j84lee commented on #856
OK, instead of using  ```conda``` , I use ```pip``` to install fbprophet, and the problem is solved... Turn out the ```conda``` one only support python 3.6

[2019-04-26 17:56] #856 closed

[2019-04-27 08:36] Nico769 commented on #827
That's great! I've fixed some minor typos to `index.po` (e.g. `:doc:` tag not displaying correctly).

I'll try to go through the other pages as time permits :).

[2019-04-28 18:22] echowhisky commented on #775
I have been working on a multi-stage variant of the base-notebook container lately for a separate project. My use-case is a bit different -- I'm trying to make it easier to have both an Ubuntu and a CentOS-based version of a base Jupyter container -- but the Ubuntu version is essentially the same as your base-notebook rearranged to support multiple stage building. In my initial testing, it hasn't

[2019-04-28 20:51] parente commented on #775
@echowhisky thanks for sharing what you're working on. I think opening a pull request is a fine thing to do so that folks interested in the topic can see and discuss the changes you're making.

[2019-05-01 09:04] 1kastner commented on #811
https://github.com/xianyi/OpenBLAS/issues/2067 is closed and openblas 0.3.6 is online on https://anaconda.org/conda-forge/openblas - that should be solved by now. I will try it out on the corresponding server soon and leave some feedback here.

[2019-05-02 11:47] consideRatio commented on #813
I attempted to summarize some numbers @vilhelmen wrote in https://github.com/jupyter/docker-stacks/pull/837#issuecomment-478706819.

Image | Normal | Man early inject | Man late inject (bad idea) | Normal -> Early diff
-|-|-|-|-
ubuntu | 80 MB | - | 160 MB | 101%
base | 767 MB | 822 MB | 871 MB | 7%
minimal | 2747 MB | 2876 MB | 4903 MB | 5%
datascience | 5851 MB | 5854 MB | 8226 MB | 0.05%

1. I

[2019-05-02 22:20] sgloutnikov opened #860 "Apache Toree - Scala kernel times out with Spark 2.4.2 on all-spark-notebook"
**What docker image you are using?**

`jupyter/all-spark-notebook:ae5f7e104dd5` and previous Spark 2.4.2 images.

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -p 8888:8888 jupyter/all-spark-notebook:ae5f7e104dd5`

**What steps do you take once the container is running to reproduce the issue?**

Launch a new `Apache Toree - Scala` ker

[2019-05-03 14:22] Aravinviju commented on #199
I use jupyter in the GCP instance (ubuntu). It was perfectly working till yesterday with tornado==6.0.2. Suddenly today morning this error started showing up and I'm puzzled with it.
I have tried downgrading the tornado versions with all you accepted solutions above but non works for me.
Any help on this would be great!

Thanks
Arav

[2019-05-03 14:26] mindej commented on #199
@Aravinviju You have to downgrade to 5.x

[2019-05-03 14:26] VijaySaiProfessional commented on #199
If you are using n_jobs=-1 parameter, in your code, kindly make sure you
leave out one core.
For example, if your processor has 4 cores, then using n_jobs=-1 uses all
the 4 cores. Hence you have to leave out at least one core do that this
left out one core make sures there is no break in the internet connectivity.
Please use n_jobs=3 (if your processor has 4 cores)
Use n_jobs =7 (if your processor

[2019-05-03 17:28] itaysk commented on #114
Same problem on Windows 10 - WSL Ubuntu:
I'm running:
[code]
Here's the dir listing from working dir:
[code]

in the container:
[code]
on host:
[code]

From my understanding the fact that it's the same uid (1000) should be enough right?

[2019-05-03 23:10] jakirkham commented on #114
My guess is these are subsequent comments are different issues than what the OP raised. Could people please raise new issues for these? Thanks :)

[2019-05-04 09:43] consideRatio opened #861 "conda clean command - what flags should we use?"
@echowhisky noted that `conda clean` with the `-f` or `--force-pkgs-dirs` flag can do significant reduction in image sizes, but we do not grasp of the consequences of doing so. I created this post to have a gather discussion regarding this and what flags we should use in this command!

I found the following documentation about the flag:
https://conda.io/projects/conda/en/latest/commands/clean.html

[2019-05-04 13:21] echowhisky commented on #861
You beat me to it. I had planned on making this issue, and had also noticed the `-s` flag seems deprecated. It's likely that `conda clean --all -y` is what we want, but it's worth doing some testing between that and including `-f` and see how it goes.

[2019-05-04 14:39] itaysk opened #862 "Permission denied, Windows 10 WSL"
I'm running Windows 10 - WSL Ubuntu (docker for windows)

**What docker image you are using?**
`jupyter/pyspark-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**
`docker run -it --rm -p 8888:8888 -v $(pwd)/work:/home/jovyan/work jupyter/pyspark-notebook`

**What steps do you take once the container is running to reproduce the issue?**
try t

[2019-05-04 14:49] itaysk commented on #114
sure https://github.com/jupyter/docker-stacks/issues/862

[2019-05-04 15:27] parente commented on #861
IIRC, @jakirkham and I setup some of the initial clean commands a long time ago, probably when we were still on conda 3.x? I have few doubts that there are better options today.

#406 has been open for some time as a thought about how to test the behavior of the various packages and language kernels. Maybe putting some lightweight notebook tests in place before making the change would provide some

[2019-05-04 15:31] parente commented on #862
This behavior sounds suspiciously related to https://github.com/jupyter/docker-stacks/issues/542#issuecomment-379515332. The setup is not quite the same, but I wonder if the host OS -> hypervisor running Docker daemon on Windows/macOS -> container user mapping is causing grief.

[2019-05-04 15:50] itaysk commented on #862
I wanted to simulate the mac test, but couldn't get through creating the file:
[code]

[2019-05-04 15:50] consideRatio commented on #861
Perhaps we could add some tests to the datascience-notebook where we do something similar to the test below from base-notebook, but try to do a command to verify various import statements functions.

https://github.com/jupyter/docker-stacks/blob/185a9f74b2965ba65ef18f46b5d8494fad445439/base-notebook/test/test_container_options.py#L37-L47

[2019-05-04 18:16] echowhisky commented on #861
With the `-tipsy` flags, because of the `-s` the following error shows up in the build output for the base container.

The problem is conda build isn't installed, and I'm not sure it makes sense to install something extra to try to reduce size.

I have a branch for this issue now with the initial changes. I'll have an additional commit to test the `-f` option, but for now wanted to validate just t

[2019-05-04 18:27] parente commented on #841
We don't include that module in any of the images by default. You can `pip install` it most likely or create a custom Docker image in which you install it:

[code]

It doesn't appear to be packaged on conda-forge for conda install.

[2019-05-04 18:31] parente commented on #823
@dnk8n I'm not opposed to extra tags as long as they can be automatically assigned and updated. I'd be happy to review a PR from you or anyone extending the make and/or Docker Hub hook automation to enable it.

[2019-05-04 18:34] consideRatio commented on #861
@echowhisky I reduced my 3.6 GB image that is a bloated datascience-notebook image built from scratch to 3.4 GB by going for `--all -f` as command line arguments instead of `-tipsy`.

[2019-05-04 18:41] consideRatio commented on #861
@parente got an idea on how to test various python import statements as part of a test? If I could get a bit confident about how it makes sense to go about it I'd be happy to add such test along with a PR to change the conda clean command parameters.

Furthermore, would various import statements to various packages be good enough of a test if we broke something? I'm not confident about these thing

[2019-05-04 18:46] parente commented on #860
It's possible Apache Toree is not Spark 2.4.2 compatible, though strange that a patch release would cause it.

Maybe @lresende knows?

[2019-05-04 18:49] consideRatio commented on #861
My docker image built with `--all -f` reduced in file size while remained functional for various packages with lots of dependencies.

[2019-05-04 18:50] parente commented on #861
@consideRatio If you're planning on write a pytest, you could mimic what we do in the base notebook tests to launch a docker container and run `ipython -c "import whatever"` or the equivalent to test what you want. If you want to take the approach in #406, you'd write a notebook and we'd add some mechanism to invoke `nbconvert` with the execute flag to run the notebook top to bottom and error if a

[2019-05-04 19:00] consideRatio commented on #861
@parente hmmm and the #406 approach would be to do something within the makefile? I wonder about how we would make the notebook accessible to the container if we go about using a notebook no matter if we use makefile stuff or pytest.

Can you recommend an approach for me? ;)

[2019-05-04 19:28] sgloutnikov commented on #860
The Scala upgrade to 2.12 may be the issue or making Apache Toree incompatible? From the [release notes](https://spark.apache.org/releases/spark-release-2-4-2.html): Note that Scala 2.11 support is deprecated from 2.4.1 onwards. As of 2.4.2, the pre-built convenience binaries are compiled for Scala 2.12. Spark is still cross-published for 2.11 and 2.12 in Maven Central, and can be built for 2.11 f

[2019-05-04 20:01] parente commented on #861
@consideRatio I would start with a single pytest setup like https://github.com/jupyter/docker-stacks/blob/master/base-notebook/test/test_container_options.py#L119 where the test body is something like the following pseudocode:

[code]

This page in the doc (https://jupyter-docker-stacks.readthedocs.io/en/latest/contributing/tests.html) describes where to put the test file so that it executes again

[2019-05-04 20:55] betatim commented on #861
We have been doing what I think is the equivalent of `-f` in repo2docker for a few weeks(?) now and so far no one has complained. This means that at least for repo2docker I think we will keep deleting the package directory with the explicit `rm` command we have. Eventually we should switch to `--all -y -f` but it isn't urgent. However take into account that my last [comment](https://github.com/jup

[2019-05-05 10:56] solider245 commented on #841
thank you for answer。

[2019-05-05 14:30] echowhisky opened #865 "Should conda-metachannel be used instead of conda-forge?"
Anaconda made a [post](https://www.anaconda.com/understanding-and-improving-condas-performance/) back in March about improving the performance of conda.  @parente mentioned it [here](https://github.com/jupyter/repo2docker/pull/666#issuecomment-489366493) when discussing a different issue (hardlinks), but at the top of the post it mentions several times the idea of using the `conda-metachannel` ins

[2019-05-05 15:40] betatim commented on #865
One thing I didn't realise from the Anaconda blog post nor the linked Medium post: there is now a live hosted version of this! Take a look at https://github.com/regro/conda-metachannel, the live instance is linked at the top of the README.

[2019-05-05 16:58] betatim commented on #865
Just did a small experiment in repo2docker: we install a basic environment for every repository and for this we know the list of packages up front. So I went and replaced the list of channels in the `environment.yml` that we use with `https://metachannel.conda-forge.org/defaults,conda-forge/notebook,nbconvert,jupyterlab,ipywidgets,python,ipykernel` building a trivial repository with this takes bas

[2019-05-05 17:50] parente commented on #865
Hazarding a guess, metachannel might help with the build time of the scipy-notebook and r-notebook images which both install non-trivial packages using conda. That said, I don't know the current build time of the conda install step in either, and so they might not be worth the effort.

[2019-05-05 18:47] parente commented on #862
Hmm. I unfortunately do not have a Win10 environment to help debug the issue myself. I wonder what owner, group, and permissions you'll see in the container if you create a file in the host-mounted directory *from the Windows side (i.e., in *$(pwd)/work*). Maybe that'll provide more information about the problem?

[2019-05-05 22:23] betatim commented on #865
Now I can use my favourite quote related to optimisation things: "Measuring is what gives me a leg up on experts who are too good to measure". We should all measure more so we can get ahead of the experts :)

[2019-05-06 01:58] javabrett commented on #865
My only comment is that I have found the presence of `conda-forge` in the default-channels of images to cause stability issues.  Mostly this is when trying to manage Conda envs e.g. cloning etc.  That tooling is very unforgiving of packages which have been replaced/removed, and this happens in the `conda-forge` channel all the time - an exact version is there one day and not the next.

[2019-05-06 03:32] lresende commented on #860
@sgloutnikov by default, Apache Toree is built with Scala 2.11, in the case of running with Apache Spark using Scala 2.12 you will need to recompile Apache Toree properly. There is an open issue on the Toree JIRA to publish Scala 2.12 binaries with the next release.

[2019-05-06 04:19] jakirkham commented on #861
I would not be surprised if there is a bug in how Docker is reporting hard-links in image size. This has happened before ( https://github.com/moby/moby/issues/9283 ).

[2019-05-06 06:13] consideRatio commented on #861
I finally learned more about hard-links: https://en.wikipedia.org/wiki/Hard_link

[2019-05-06 19:06] echowhisky commented on #861
For comparison, in the `base-notebook` container run without `-f` the `/opt/conda/` directory has the following sizes:
[code]

And then when I built the same container with the `-f` flag:

[code]

Even though the `pkgs` directory is gone in the second one, some of the other directories appear to increase in size (`sbin`, `share`, `ssl`). They didn't really. This is due to hard-links. `du` is smart

[2019-05-06 19:17] jakirkham commented on #861
@echowhisky, do you think we could raise a simplified version of this to the Docker team as an issue and see if they have any thoughts?

[2019-05-06 19:22] parente commented on #861
@echowhisky @consideRatio Given what we found in repo2docker, I think it's OK to proceed with the `-f` addition without waiting for tests.

[2019-05-06 21:38] betatim commented on #861
@jakirkham checkout https://github.com/jupyter/repo2docker/pull/666#issuecomment-489348883 for a "minimal" example on hardlinks. Seems like `docker images` reports the numbers I'd expect it to report.

I think I read somewhere in the conda docs that it will try to hardlink what it can from `pkgs` but that not everything in that repo can be hardlinked and instead will be copied/symlinked. So it cou

[2019-05-06 21:55] echowhisky commented on #861
@jakirkham - the info I quoted above wasn't a docker issue, just the normal reduction from tweaking the `conda clean` flags and standard behavior of hard-links. I haven't tested beyond the `base-notebook` container for size savings, but went ahead and submitted the PR.

There are very likely some additional size savings that can be squeezed out, possibly using some other techniques like cleaning o

[2019-05-06 22:18] aaronsteers opened #868 "Enable magics %%spark and/or %%sql"
[code]

**What docker image you are using?**

`jupyter/all-spark-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

[code]

**What steps do you take once the container is running to reproduce the issue?**

1. Open a Python notebook.
2. Attempt to load spark magic using loadextention (fails)
3. Attempt to load spark magic using %%sql and/or

[2019-05-07 10:06] Aravinviju commented on #199
Hi, I have already tried downgrading the version to 5.1.1, but it still gives me the same error.
I aslo tried reinstalling anaconda back again from the beginning but no joy!

Thanks
Arav

[2019-05-07 19:43] dzanaga commented on #862
I also use docker with WSL and I can run jupyter containers without issues. Maybe it's a problem related to your Docker setup with WSL?
I followed this guide to set it up: https://nickjanetakis.com/blog/setting-up-docker-for-windows-and-wsl-to-work-flawlessly
I speculate the main problem is your mount point. In WSL you need to bind /mnt/c to /c and then you need to mount volumes with the path star

[2019-05-07 19:52] dzanaga commented on #808
This is a working solution to this issue:

[code]
I build an image starting from the ```all-spark-notebook```, adding these commands. I assume you can do that from the `r-notebook` as well, or type these commands directly in the container.

[2019-05-08 06:03] itaysk commented on #862
@dzanaga Thank you! As a matter of fact I did setup my docker according to the same guide, but I forgot when running the command to use the /c mount and not the /mnt mount. Confirmed working now.

[2019-05-08 06:03] #862 closed

[2019-05-08 17:13] drzhouq commented on #808
Thanks @dzanaga and @parente for your valuable inputs.

[2019-05-08 17:13] #808 closed

[2019-05-09 11:22] parente commented on #868
You're right that there is no kernel or package installed in the Spark images that provides`%%sql` and `%%spark` magics by default. The Apache Toree kernel in `jupyter/all-spark-notebook` has some magics for loading JARs and other actions, but I'm not sure about writing raw SQL in a cell.

Did you have an extension in mind? What would `%%spark` provide above and beyond what the kernels in the imag

[2019-05-12 00:21] parente commented on #861
If the Docker Hub tag size reports are to be believed, PR #867 caused the following changes in image size, starting in tag [4d7dd95017ed](https://github.com/jupyter/docker-stacks/commit/4d7dd95017edde59e13d695c218b7ecd9da0ca21):

|                      |   new_size_mb |   old_size_mb |   delta_mb |
|:---------------------|--------------:|--------------:|-----------:|
| all-spark-notebook   |

[2019-05-12 00:25] consideRatio commented on #861
Thanks for the summary @parente ! Closing time?

[2019-05-12 00:25] #861 closed

[2019-05-12 00:56] #860 closed

[2019-05-12 01:08] parente commented on #861
Thanks for the discussion and work put in here, folks. Less is more FTW!

[2019-05-14 13:20] JDOUBLE-U commented on #678
I had the same problem. I recommend to install Anaconda through the graphical installer. https://www.anaconda.com/distribution/. After that I installed keras in the terminal and it all worked.

[2019-05-15 00:20] aaronsteers commented on #868
For my primary use case, I'd like users to be able to type SparkSQL queries directly, and have them execute against the default or local spark implementation, without having to wrap the query in Python. So, for instance, after writing some data to a spark or hive table, I could write:

%%sql
CREATE TABLE myTable
as
SELECT t1.*, t2.extra_col
FROM t1
JOIN t2 USING my_key

#Separate Cell:
%%sql
SELEC

[2019-05-15 00:25] aaronsteers commented on #868
The jupyter-incubater/sparkmagic project seems to support this use case:
https://github.com/jupyter-incubator
 https://github.com/jupyter-incubator/sparkmagic/blob/master/examples/Spark%20Kernel.ipynb

[2019-05-15 04:41] sgloutnikov commented on #868
I briefly looked at the sparkmagic project myself, but have not really tested it to see if it will work with Toree on the Jupyter Spark images--it is built to work with remote Spark clusters through Livy. Right now the all-spark-notebook images work amazingly well out of the box with Toree, but if there is a way to also get %%sql for SparkSQL it would be amazing.

[2019-05-16 17:40] aaronsteers commented on #868
Agreed! I noted as well that Livy was a potential roadblock but will post back here if I have any success.

[2019-05-16 23:06] sgloutnikov commented on #868
I just saw on Toree's [page](https://toree.apache.org/) that it does come with a SQL magic which I was not aware of. Just tested it and it works pretty nicely.

`sparkSession.read.parquet("s3a://.../xyz.parquet").createOrReplaceTempView("MyTable")`

then I was able to do `%%sql
select * from MyTable`

[2019-05-19 17:52] parente commented on #823
After the PR above, `jupyter/base-notebook` now receives tags like the following:

[code]

All but the git SHA tag will be overwritten on the next build+push to Docker Hub unless the version of Python, Jupyter Notebook, etc. change in the image. I'll document this fact on the [wiki page tracking builds](https://github.com/jupyter/docker-stacks/wiki) to avoid confusion about old build entries also

[2019-05-21 06:47] eromoe opened #874 "Provide a way to show spark log on notebook"
I found that spark log is always print in jupyter console .
As I'd like to `run -d` , what I found is hard to view the log .
1. `docker exec -it xxx` can't enter the container
2. `docker attach xxx`  only show output sometimes, then  no more logs .

[2019-05-21 09:50] eromoe opened #875 "How do I see spark webui and History Server ??"
I have search for `port`, `webui` and `history` but nothing found .
I want to see the executing progress so that can improve code performance.

[2019-05-21 11:21] parente commented on #875
https://github.com/jupyter/docker-stacks/issues/60 has the answer I believe. It would be much appreciated if you could submit a pull request adding the solution to the docs somewhere under here:  https://github.com/jupyter/docker-stacks/blob/master/docs/using/specifics.md#apache-spark

[2019-05-22 06:13] eromoe commented on #875
Is this https://github.com/jupyter/docker-stacks/pull/876  OK ?

[2019-05-22 06:53] alanchalk opened #877 "pandas.read_hdf"
`jupyter/scipy-notebook`

**What steps do you take once the container is running to reproduce the issue?**

import pandas as pd
pd.read_hdf('myh5Store', 'filename')

**What actually happens?**

fails with the error

ImportError: HDFStore requires PyTables, "No module named 'tables'" problem importing

Would you be able to include the "tables" module in this image?

Many thanks for these amazing im

[2019-05-26 19:58] gwild commented on #678
I give up, no more Anaconda for me.  Tried over and over again with no luck to get Spyder working with Python 3.6 because 3.7 broke output scrolling in the console.  I'll try again someday, maybe in a year or two.  ERROR conda.core.link:_execute(568): An error occurred while uninstalling package 'defaults::python.app-2-py37_9'.
PermissionError(1, 'Operation not permitted')

[2019-05-28 14:14] philippegr opened #878 "conda environment inconsistency in scipy-notebook"
**What docker image you are using?**
`jupyter/scipy-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -it jupyter/scipy-notebook bash`

**What steps do you take once the container is running to reproduce the issue?**
 `conda update --all`
(or `conda`command that will try to install something)

**What do you expect to happen?**

[2019-05-28 19:06] miramar-labs commented on #878
I am seeing this also in all-spark-notebook

[2019-05-29 11:01] ivmaks opened #879 "add libjemalloc1 package"
https://gist.github.com/StephanErb/2deeb80b40e59671380a

plz, add this package and add to /etc/ld.so.preload

[2019-06-02 00:18] #875 closed

[2019-06-04 13:59] kafonek opened #880 "Feature: restartable Jupyter in container"
I do not know the most elegant way to implement this, so I'm posting an issue instead of a PR.  I would like to be able to restart Jupyter within the docker-stacks container without the docker process ending because the ENTRYPOINT/CMD exited.  That is to say, if I ran a notional command `docker run -p 8888:8888 jupyter/base-notebook --restartable`, then when I hit the 'Quit'  button the Jupyter pr

[2019-06-06 21:30] ibnsinha commented on #831
Do you have hdfs "/user/jovyan" directory with proper permission?

[2019-06-07 09:05] jsr-magic commented on #199
A connection to the notebook server could not be established. The notebook will continue trying to reconnect. Check your network connection or notebook server configuration.

[2019-06-07 12:21] nilsmelchert opened #881 "Not able to find mounted ssl certificate and key"
Hello I am currently trying to get my notebook working using some own certificates. When I am running:

[code]

I get the error message that my certificate does not exist:

[code]

Still mounting the volume `/srv/notebook/ssl` to `/etc/ssl/notebook` without specifying any certificate or key as an argument, the key and cert are indeed at the right place.

Am I missing something?

Thanks a lot for y

[2019-06-08 20:19] mtkilic commented on #669
@kmdouglass did you ever solve this issue. I am seeing same issue on my end and I haven't I didn't find any work around.

[2019-06-09 01:39] parente commented on #868
I think this request is addressed by Toree I'm going to close the issue.

[2019-06-09 01:39] #868 closed

[2019-06-09 01:41] parente commented on #877
I suspect `tables` is a minor addition. Feel free to send a PR adding the conda package we can see how much it pulls into the image.

[2019-06-09 01:46] parente commented on #879
Customizing the memory allocation strategy sounds like fodder for a recipe in the documentation rather than a default for all users. Feel free to [submit a PR adding it to the docs](https://jupyter-docker-stacks.readthedocs.io/en/latest/contributing/recipes.html).

[2019-06-09 01:49] parente commented on #880
There was an attempt to support SIGHUP to restart the Jupyter server without having the container exit in https://github.com/jupyter/docker-stacks/issues/309. If you or someone else is manages to get that approach working, or another one that does not complicate the image definitions, I'd be happy to review a PR.

[2019-06-09 01:53] parente commented on #881
What do you see when you run the following?

[code]

[2019-06-10 09:12] nilsmelchert commented on #881
When executing:
[code]
I get the following error message:
[code]

So seems like I have some trouble with the permissions.

[2019-06-11 18:35] inblueswithu commented on #552
Thanks a log @GrahamDumpleton . I was trying to fix a similar issue where a binary needs passwd entry and I was scratching my head. Your solution worked like a charm. However, I would have liked a source discussion url about the security review from Redhat about this.

Anyway. Thank you again.

[2019-06-14 00:01] PMende opened #882 "Funtions defined in .py files placed into /home/jovyan/.ipython/profile_default/startup not available"
**What docker image you are using?**

`jupyter/scipy-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

I launch a pod via Kubernetes running an image built from the `scipy-notebook` as a base image. A sample of the Dockerfile is below:

[code]

`00-setup.py` defines some top level functions meant to be available to the user of the Jupyter

[2019-06-14 19:31] PMende commented on #882
Turns out I needed to run `fix-permissions` on the `$USER_HOME/.ipython` directory after I copied the files over.

[2019-06-14 19:31] #882 closed

[2019-06-15 18:31] daviddoji opened #883 "adding cvxopt to scipy-notebook using docker-compose"
**What docker image you are using?**

`jupyter/scipy-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

I'm using a docker-compose.yml. The part for jupyter is this one:
[code]

The .jupyter-env file:

`pip install cvxopt`

**What steps do you take once the container is running to reproduce the issue?**

The notebook runs ok, but the librar

[2019-06-16 10:46] daviddoji commented on #883
I solved by using a Dockerfile with this (instead of the .env file):
[code]
and running the build command with sudo:
`sudo docker build --rm -t jupyter/scipy-notebook .`

I had to use sudo because there were a lot of dependencies problems with my other services in the docker-compose.yml

[2019-06-17 03:18] yonghaihung opened #884 "Exception: Java gateway process exited before sending its port number"
**What docker image you are using?**

Docker Image: `jupyter/all-spark-notebook:latest`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

Docker command:

`docker run -p 8888:8888 -p 4040:4040 --name abc -v c:\notebooks:/home/jovyan -v c:\etc\letsencrypt\live\url\privkey.pem:/etc/ssl/privkey.pem -v c:\etc\letsencrypt\live\url\fullchain.pem:/etc/ssl/

[2019-06-17 08:55] ejgutierrez74 opened #885 "Permission denied when mounting local folders"
**What docker image you are using?**

Example: jupyter/all-spark-notebook

**What complete docker command do you run to launch the container (omitting sensitive values)?**
docker run -it --rm -p 8888:8888 -v /home/eduardo/Descargas/DockerSpark/:/home/jovyan/work -w /home/jovyan/work jupyter/all-spark-notebook

**What steps do you take once the container is running to reproduce the issue?**
Permiss

[2019-06-17 22:34] richtong opened #886 "Building private versions of the stacks"
These stacks are just awesome, but if you want to fork them to your own organization then the docker hub organization is hard coded into every Dockerfile, it is probably better to have a build argument BASE_ORGANIZATION that substitutes for it and uses the Makefile OWNER to dynamically change the docker organization.

I did a version of this and can issue a PR if interested, otherwise it lives in

[2019-06-18 17:50] #881 closed

[2019-06-19 18:22] daviddoji opened #887 "add scikit-monaco package"
From PyPi "scikit-monaco is a library for Monte Carlo integration in python".

It would be nice to have it included in the scipy-image.

[2019-06-20 02:01] richtong commented on #886
Also, I added an additional makefile entry called `push` and `push-all` which will automatically push the images up to docker hub. I don't know how this fits into the CI at Jupyter, but that's good if you are just building the docker images. All images by the way are on https://cloud.docker.com/u/tongfamily if you want to look at them.

[2019-06-20 16:44] ttimbers opened #888 "r-notebook Dockerfile not building locally"
I just tried to locally build `r-notebook` so that I can create another image using that as the base image, but the build did not work (an image gets created however, the R packages don't get installed, including the irkernel) and I received the following error:

[code]

My build command was:

[code]

I will try building again, removing the versions for r-plotly & r-rmarkdown and then install them

[2019-06-20 17:54] ttimbers commented on #888
Update: rebuild without versions on  r-plotly & r-rmarkdown resulted in this error:

[code]

[2019-06-20 18:11] ttimbers commented on #888
hold on - I may have created this error myself by adding `plotly` to this Dockerfile instead of my Dockefile that builds off of this one (I will check and close this issue if this is the case).

[2019-06-20 18:14] ttimbers commented on #888
yep... my mistake on this one. Apologies.

[2019-06-20 18:14] #888 closed

[2019-06-20 18:34] ttimbers opened #889 "add e1071 to r-notebook Dockerfile"
I have tried training models in an image built from the r-notebook Dockerfile and although I can load `caret` using the `library` without an error, when I run `caret::train()` I get the following error:

[code]

When I then install e1071 inside the container via `install.packages('e1071')` in R then I can successfully run `caret::train()`.

[code]

Indicates that the version of `e1071` that was in

[2019-06-25 14:07] sdesrozis opened #891 "conda update breaks CONDA_VERSION"
In base-notebook/Dockerfile, a version of conda is choosen :
[code]

but an update breaking version is done :
`$CONDA_DIR/bin/conda update --all --quiet --yes`

I guess building is not reproductible. In my case, using conda 4.7.5 leads to a tedious error during conda update :

[code]

Why don't update only dependencies of conda ? Version of conda is kept :+1:
`$CONDA_DIR/bin/conda update --only-de

[2019-06-27 12:25] stklik opened #892 "conda update numpy breaks Docker build"
I use `jupyter/scipy-notebook:latest`

I think this is not really necessary, but here we go:
`docker run --rm -p 8888:8888 -v $(pwd):/home/jovyan/CREST -e JUPYTER_ENABLE_LAB=yes crest-local`

1. I add a few additional things to my Docker images using a [Dockerfile](https://github.com/stklik/CREST/blob/master/Dockerfile)
2. Trigger the build `docker build -t stklik/crest .` (also tried with `--no-c

[2019-06-28 15:51] ryogesh commented on #187
An alternate solution below,

from jupyterhub.utils import random_port
from dockerspawner import DockerSpawner
class custom_spawner(DockerSpawner):
    @property
    def internal_hostname(self):
        # Set FQDN or localhost
        return 'localhost'

    def _port_default(self):
        #Do NOT set c.DockerSpawner.port in the config file
        return random_port()

c.JupyterHub.spawner_class

[2019-07-01 10:55] lhoss commented on #860
@lresende you meant https://issues.apache.org/jira/browse/TOREE-423 ?

ps: In Toree someone had the same issue with Spark 2.4.2, now I cross linked the issues:
https://issues.apache.org/jira/browse/TOREE-500

[2019-07-02 11:30] Blizzke commented on #878
I'm experiencing the same issue for my `all-spark-notebook` based installed and it's preventing me from installing other needed packages.
Is there any progress on this matter?

[2019-07-02 12:14] Blizzke commented on #878
I don't know yet what the impact will be for my users and if it is a fix for anyone else, but installing `matplotlib` as `3.1*` has allowed me to continue working (notebook blocks version of `matplotlib` on `3.0*`).
I also don't know how to feel about `sip` being downgraded, but I just wanted to share things here for you all.

[code]

[2019-07-04 08:45] #891 closed

[2019-07-04 11:37] rwmajor2 opened #897 "Question: Plans to update from ubuntu:bionic-20180526?"
Are there plans to update the base image from ubuntu:bionic-20180526 to a newer version?

[2019-07-08 13:16] rubensa commented on #598
I think the problem is caused by **mapping external volume** on first run.

If I run:
[code]

but if I run:
[code]

So, looks like, when creating the new user's home directory if the home directory does not exists (as It was not externally mapped) the home directory is created with default files and permissions; but when the home directory exists (as It was created cause the external volume mappin

[2019-07-08 15:39] ejgutierrez74 commented on #885
Any help ??

[2019-07-08 15:59] step21 opened #899 "Interest in docker images for arm/Raspberry Pi"
Hi,

I just started to build docker images for jupyter based on this repository that are compatible with the Raspbbery Pi and other arm devices.  I followed the steps of these dockerfiles (so far only base-notebook is done) but used pip instead of conda, as there is no official version of conda for arm and at the time i thought it was closed source. Now that I saw it would be possible to self-comp

[2019-07-09 05:49] rubensa commented on #542
On **Linux** (I don't have MacOS) this solution works but if you want to set not only **UserID, GroupID** but **UserName, GroupName** (via **NB_USER** and **NB_GROUP**) you end up with a new user **home directory owned by root** and **without jovyan default home files** (.bash_logout, .bashrc, .cache, .conda, .config, .jupyter, .profile, .yarn), **only the mounted work directory**.

If I run:
[cod

[2019-07-09 05:53] rubensa commented on #769
I think the problem is caused by **mapping external volume** on first run using a **non existing username**.

If I run:
[code]

but if I run:
[code]

So, looks like, when creating the new user's home directory if the home directory does not exists (as It was not externally mapped) the home directory is created with default files and permissions; but when the home directory exists (as It was create

[2019-07-09 06:23] rubensa commented on #878
Last available scipy-notebook version (jupyter/scipy-notebook:6c3390a9292e) on [dockerhub](https://hub.docker.com/r/jupyter/scipy-notebook/tags) has the same **environment inconsistency problem**.  Also looks like the installed **conda** version is not the last available:
[code]

[2019-07-10 08:01] jamesdbrock commented on #878
There is a PR for conda 4.7 https://github.com/jupyter/docker-stacks/pull/896

[2019-07-12 07:11] sunnykevin19 commented on #199
Facing the same problem: -
A connection to the notebook server could not be established. The notebook will continue trying to reconnect. Check your network connection or notebook server configuration ??

[2019-07-13 17:59] planetf1 commented on #775
I'd support the above. On our project we had a similar issue with image size increasing, and also adopted the multi-stage build (since we built clean from git, with tools) as one part of the approach.

I just came here after looking at using docker-compose - with kafka, zookeeper, our project (Egeria - just the core), and it was the notebook image that stood out in size dramatically at around 2.7G

[2019-07-16 12:33] #878 closed

[2019-07-17 14:38] perllaghu opened #902 "R-Studio in a notebook"
I have a Jupyterhub installation that spawns notebooks into a Kubernetes cluster (or which a Jupyter Notebook with R 3.5 & Jupyterlabs is one)

I've been asked to provide a notebook with R-Studio - and I've [mostly] done that (I can provide the Dockerfile if people are interested).... and by _mostly done_, I mean that the demo() examples run

I've one, maybe two, issues to resolve - for which I ne

[2019-07-18 22:59] aidan-plenert-macdonald commented on #663
Just so you are aware, you've been generating broken images for 12-18 months. I count ~120 broken images (spot checking) 2.4Tb of images.

[2019-07-19 14:53] medis87 opened #904 "R package install broken"
Hi,

I try install r-rpostgresql on  `jupyter/scipy-notebook` image, but I get some version error:

[code]
And so on..

From the other channel there was no error:
`conda install -c conda-forge/label/gcc7 r-rpostgresql`
but when I try to import the package it was not found.
`Error in library(RPostgreSQL): there is no package called ‘RPostgreSQL’`
What did I wrong?

[2019-07-19 16:28] jeffyjefflabs commented on #880
You could do it with [run-one-constantly](http://manpages.ubuntu.com/manpages/trusty/man1/run-one.1.html).  Just add `run-one` to the apt installs (looks like about 45K in size) and then you can either do this if you want it unconditionally:

[code]

or something like this if you want it to be optional:

[code]

Happy to submit a PR with either of those options.  However, I'm getting an error in t

[2019-07-20 07:51] spectrumzhang opened #905 "if I need import opencv2, do I need get into this docker and pip install it?"
I am running this docker image https://hub.docker.com/r/jupyter/tensorflow-notebook/

and found can't import cv2 and some frequent lib(see picture)

is that I am running the wrong container which there is some image actually including all most useful lib already?

![image](https://user-images.githubusercontent.com/50335164/61575957-c46a5580-ab05-11e9-9257-c73f1fed4101.png)

[2019-07-25 06:16] aivl2018 commented on #323
How to login into docker container by root user. I tried below but i am getting below error.

Can anyone suggest here

[user@hostname ~]$ docker exec -it --user root f296ce6cf879 /bin/bash
OCI runtime exec failed: exec failed: container_linux.go:348: starting container process caused "chdir to cwd (\"/u01/oracle\") set in config.json failed: permission denied": unknown

[2019-07-25 10:30] felipebn commented on #885
Hey @ejgutierrez74,
Not sure if you managed to solve your issue, but I was having the same.

After reading the docs (https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html) I was able to get it running with the following env options:

[code]

Important parts are:
- NB_USER: set to whatver username you want, but be aware to reuse it
- CHOWN_HOME and CHOWN_EXTRA_OPTS to give approp

[2019-07-25 16:31] dmpe opened #907 "Update R to 3.6"
3. If you are reporting an issue with one of the existing images, please answer the questions below to help us troubleshoot the problem. Please be as thorough as possible.

**What docker image you are using?**

datascience-notebook

**What do you expect to happen?**
To have latest R version which currently is 3.6

**What actually happens?**

R 3.5

[2019-07-27 12:14] parente commented on #884
This error suggests your docker host / VM ran out of disk space. Running `docker rm <id>` probably freed up some space so that the older tag worked.

[2019-07-27 12:17] parente commented on #883
I'm not familiar with `.jupyter-env` but glad you figured it out using docker build.

As for the permission problem, it looks like your host mounted file is not readable by the within-container user. The note under the `-v` option in https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html#docker-options might provide some assistance there if you still need it.

[2019-07-27 12:17] #883 closed

[2019-07-27 12:20] parente commented on #885
The note associated with the `-v` flag under https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html#docker-options likely explains what needs to be done to allow the within container notebook process access to your host mounted home directory.

[2019-07-27 12:24] parente commented on #886
@richtong Making the organization configurable with a default of `jupyter` sounds like something we should be able to merge easily into the stacks here if you'd like to submit that change as a PR.

We used to have a manual push target in the Makefile but haven't needed it in a long time.

[2019-07-27 12:32] #889 closed

[2019-07-27 12:32] parente commented on #887
We prefer adding [recipes in the documentation](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/recipes.html) over installing new packages in the images to avoid forever increasing the size of the docker images and maintenance burden of this repository. We'd be happy to review and merge a [recipe pull request](https://jupyter-docker-stacks.readthedocs.io/en/latest/contributing/recipes

[2019-07-27 12:34] parente commented on #897
Done in https://github.com/jupyter/docker-stacks/pull/896.

We used to point to latest, but found severe build instability with that approach. Maybe it's time to revisit that assumption now that docker has been around for years.

In the meantime, please don't hesitate to submit a PR updating the base ubuntu build when you've seen it's gotten old / stale.

[2019-07-27 12:34] #897 closed

[2019-07-27 12:39] parente commented on #899
@step21 It's great to hear you're interested in working on rpi/arm compatible images. Based on what I know (which is little) about how ARM support would require a different base image, Python build, conda build, etc. I think it would be best to maintain those images in a separate repo that we link from the [community stacks documentation page](https://jupyter-docker-stacks.readthedocs.io/en/latest

[2019-07-27 12:41] parente commented on #902
We're starting to experiment with a general Q&A section on https://discourse.jupyter.org/c/questions to see if cross-technology questions like this one catch more attention from a broader community audience. You might try re-posting your question over there to see if someone with more experience in this topic can help.

I'm going to close this issue as it's not directly related to the docker stack

[2019-07-27 12:41] #902 closed

[2019-07-27 12:44] parente commented on #904
This looks like a compatibility problem with the latest packages upstream in conda-forge and versions we have pinned in scipy-notebook. It might be time to refresh all the package versions in the stacks to ensure they work with the latest and greatest upstream.

Happy to take a PR from anyone that wants to update version numbers of pandas, numpy, etc. to the latest `major.minor.*` versions, as lon

[2019-07-27 12:48] parente commented on #907
If someone wants to pick this up and submit a PR, here are the steps that need to be done.

1. Update `r-base` to the latest version (3.6.1 at the time of this writing) from conda-forge in datascience-notebook, r-notebook, and all-spark-notebook
2. Update all other `r-*` packages in those images for compatibility and to get to the latest version available anyway.
3. Iterate on resolving version co

[2019-07-27 12:51] parente commented on #892
Could be related to #904 as well (i.e., time to upgrade all our libraries for compatibility with the latest and greatest builds on conda-forge.)

[2019-07-27 12:53] parente commented on #905
https://jupyter-docker-stacks.readthedocs.io/en/latest/using/selecting.html documents the libraries in each image and is mostly up to date. The Dockerfiles in this repository are the ground truth of what gets installed (e.g., https://github.com/jupyter/docker-stacks/blob/master/scipy-notebook/Dockerfile#L18)

If a package you wish to use does not appear in one of the images, then you do need to in

[2019-07-27 12:57] parente opened #908 "Transifex sync broken on master"
https://travis-ci.org/jupyter/docker-stacks/builds/564363808

I saw this when setting up transifex builds for jupyter/jupyter. I think it was a rtd + some other lib version compatibility problem IIRC.

[2019-07-27 14:30] #908 closed

[2019-07-27 15:10] richtong commented on #886
Ok will do. Nice job on stacks by the way. Really well organized.

Thanks,
Rich

—
“History never repeats itself, but the Kaleidoscopic combinations of the pictured present often seems to be constructed out of the broken fragments of antique legends.” The Gilded Age: A Tale of To-day, Mark Twain and Charles Dudley Warren, 1874. https://quoteinvestigator.com/2014/01/12/history-rhymes/

+1-206-963-9

[2019-07-27 17:44] #841 closed

[2019-07-27 17:50] parente commented on #880
TIL about `run-one-constantly`. Thanks @jeffyjefflabs. I'm happy to take a PR with your second approach so that we don't change the current default behavior. We can note the flag in the
documentation.

I think the build failures have been fixed recently. You can try again locally or submit the PR and we can see what happens on travis.

[2019-07-29 11:34] tqa236 opened #914 "Numpy version not compatible to Catboost"
**What docker image you are using?**

`jupyter/tensorflow-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

In short, I tried to install [CatBoost](https://github.com/catboost/catboost) on the top of jupyter/tensorflow-notebook

Dockerfile:
[code]
 environment.yml

[code]

docker_test.py

[code]

Command: `docker build --tag experiment .`

[2019-07-29 11:41] parente commented on #914
Related: https://github.com/jupyter/docker-stacks/issues/904#issuecomment-515681444

I'm happy to review a PR that updates conda package versions throughout. We haven't done it in some time.

[2019-07-29 13:03] ericdill commented on #880
Is there a version of `run-one-constantly` that is for centos 7?

[2019-07-29 14:12] tqa236 commented on #914
Is there any easy way to update and test the compatibility of the packages? I will see if I can give a small help.

[2019-07-29 15:28] parente commented on #914
We do not have compatibility tests for all packages in the images. We rely on conda to tell us two packages are incompatible at install time.

In the past, we've updated to the latest of all available packages listed in one of the Dockerfiles, attempted the docker build, and investigated problems when the conda refused to install some subset of the packages.

[2019-07-30 11:14] rwmajor2 opened #915 "HEALTHCHECK Instructions?"
I have a general question.  We base some of our Docker images on the Docker-stacks Dockerfiles.  We are following [CISP Docker Security hardening guidelines](https://www.cisecurity.org/benchmark/docker/) and one of the checklist items is:
[code]
Can anyone provide any suggestions on what this is and how we may implement it in docker-stacks?  According to Docker help documentation, a HEALTHCHECK mi

[2019-07-30 11:23] GrahamDumpleton commented on #915
Can't see what health checks have got to do with security hardening. They are an operations feature to ensure your application is running. Unless they think that your application not running may have been caused by hackers and so qualifies somehow as a security event.  Also be aware that defining health checks in a container image itself only really pertains to Docker's container run time. They ar

[2019-07-30 11:32] rwmajor2 commented on #915
Thanks @GrahamDumpleton, that's fair enough.  Thanks for the feedback.

FYI, below is the "rationale" from the CISP guideline:

An important security control is that of availability. Adding the HEALTHCHECK instruction to your container image ensures that the Docker engine periodically checks the running container instances against that instruction to ensure that containers are still operational.
B

[2019-08-02 09:56] linglu commented on #914
I also encounter this problem, I have numpy version is 1.17.0 and catboot version is 0.16.1 installed in my win10_64. Is there any mehtod to solve this problem?

[2019-08-02 16:46] jeffyjefflabs commented on #880
I just stumbled across it recently while looking at this issue.  Things like monit or supervisor seemed too heavyweight, so I was just going to write a bash script but then I found `run-one-constantly`.  I'm not aware of a CentOS version, but it's just a shell script and there's a mirror [on GitHub](https://github.com/dustinkirkland/run-one).  The author also has a [blog post](http://blog.dustinki

[2019-08-02 21:09] wigging opened #919 "Conflicting dependencies with jupyterlab-manager@1.0.2"
I am trying to build the [docker-stacks/scipy-notebook/Dockerfile](https://github.com/jupyter/docker-stacks/blob/master/scipy-notebook/Dockerfile) on my laptop but I get several errors related to JupyterLab. Below are the steps I am performing:

**Build the image**

[code]

**Errors from the Docker build**

[code]

[2019-08-03 03:17] #880 closed

[2019-08-04 01:43] parente commented on #907
Resolved in #918.

[2019-08-04 01:43] #907 closed

[2019-08-04 01:44] parente commented on #914
@tqa236 Can you try again with the latest image? Numerous libraries were updated in #918

[2019-08-04 02:09] parente commented on #732
I think this question has been addressed. I'm going to close the issue.

[2019-08-04 02:09] #732 closed

[2019-08-04 02:21] parente commented on #730
This issue has been inactive for some time now and so I'm going to close it.

@pgeez, if you have a moment, please leave a comment here about whether @ericdill's solution did or did not work for you so that others who find this issue can benefit from it. Thanks!

[2019-08-04 02:21] #730 closed

[2019-08-04 02:22] parente commented on #904
PR #918 updated nearly all of the packages in the `jupyter/scipy-notebook` image. @medis87 can you try installing the R package again in the latest image?

[2019-08-04 02:28] parente commented on #919
Each image starts `FROM` the latest parent image available on your local machine (https://github.com/jupyter/docker-stacks/blob/master/scipy-notebook/Dockerfile#L3). Docker doesn't refresh the latest parent image during a docker build.

Try:

[code]

Keep in mind that some of the Dockerfiles in this repo have dependencies on local files. I suggest cloning this repo, and using the included Makefile

[2019-08-04 19:10] wigging commented on #919
Updating to the latest minimal-notebook image fixed the dependency issues. Thank you for the help.

[2019-08-04 19:10] #919 closed

[2019-08-05 14:09] mjimcua opened #921 "ImportError: PyArrow >= 0.8.0 must be installed; however, it was not found."
I use last "jupyter/all-spark-notebook" image

Error raises when I run Pandas UDF in a pyspark notebook.

Example code:

[code]
Error:

ImportError: PyArrow >= 0.8.0 must be installed; however, it was not found.

However, is intalled pyarrow 0.11.1 version, it can see in conda list inside container:

[code]

[2019-08-05 15:15] rkdarst commented on #921
Hmm...

[code]

This gives us something better searcheable... for example
https://github.com/conda-forge/pyarrow-feedstock/issues/58

I don't have more time now but one could check boost versions.

[2019-08-07 16:45] adriendelsalle opened #922 "Not able to use overrides.json with base-notebook image"
Hi!

I'm using JLab from the base-notebook image (thanks for this great job!).

Description
--
When using a classic install with conda, the `overrides.json` file located at /share/jupyter/lab/settings/ from my env location works fine but it seems to be skipped when using the base-notebook image built from this repo.

Steps to reproduce
--
I'm using the following very simple dockerfile:
FROM jupyte

[2019-08-08 16:26] adriendelsalle commented on #922
I still don't understand what was the problem but restarting with a fresh install and the latest images solved my issue.

[2019-08-08 16:26] #922 closed

[2019-08-09 07:29] adriendelsalle opened #923 "Changing UID/GID of user causes large dockers images"
Hello everyone!

I'm using the jupyter/base-notebook image when spawning with JHub. Thanks for the capability to change user name, uid and gid!
It seems that using `usermod` in the `start.sh` have an impact on the containers space usage.
I think this is related with a known unresolved bug of Docker with sparse file detailed here: https://github.com/moby/moby/issues/5419
Using `useradd` or `usermod

[2019-08-09 08:19] adriendelsalle commented on #923
Replacing the code dealing with uid and gid changes with the following code did the trick:

[code]

See the following screenshot:
![Jupyter docker-stacks - UID bug resolved](https://user-images.githubusercontent.com/27348745/62764687-c8e3b780-ba8e-11e9-9ca8-f796c7afcaee.png)

[2019-08-13 17:26] navneetkrverma opened #925 "How to provide docker image while spawning the notebook server in jupyerhub.yaml ( singleuser)."
Hey Team,

As jupyter hub takes a jupyterhub.yaml config file to know which single user docker image to be spawned. This happens just after we logs into the jupyter hub.

I want to know if there is any way to provide a docker image dynamically when we can jupyterhub and points to login and spawn user container.

So use case is one user can spawn one image another user can spawn another image using

[2019-08-14 03:13] markperri commented on #925
I haven't used it, but there is a spawner options form:  https://jupyterhub.readthedocs.io/en/stable/reference/spawners.html#spawner-options-form

[2019-08-14 08:21] tqa236 commented on #914
Thank you very much. It looks good to me. I'll close this issue.

[2019-08-14 08:21] #914 closed

[2019-08-16 07:17] kkwilllo commented on #823
May I know if there is any update for the python version tag?
For example, if i wanna use python3.5 instead, I could just change a variable in environment?

[2019-08-16 13:45] navneetkrverma commented on #925
Hey @markperri Thanks for your reply, but i want to know if there is any hub / kubespawner API to provide image details as we provide as hub config:
 - name: SINGLEUSER_IMAGE
          value:  "docker.artifactory.hostname.com/my_custom_image:1.0.0"
And i want this configuration to be custom to each user who logs into jupyter hub.

[2019-08-20 05:35] emthomas opened #927 "R reshape2 lib fails to load (stringi.so / libicui18n.so.64 not found)"
Hi! Thanks for using the Jupyter Docker Stacks.

Please review the following guidance about how to ask questions, contribute changes, or report bugs in the Docker images maintained here.

1. If you have a general question about using these Docker images or with Jupyter + Docker in general, please post your question in the [Jupyter Discourse Q&A section](https://discourse.jupyter.org/c/questions) s

[2019-08-20 05:35] emthomas commented on #927
Similar to #497. Hope it will be a quick fix.

[2019-08-20 06:38] emthomas commented on #927
Workaround is to install stringi. `conda install -c r r-stringi`

[2019-08-20 14:25] jakepaw commented on #369
Does anyone have an approach to fix this? I am not able to connect to my existing spark. Is this an issue with ingress to my kubernetes cluster?

any help is appreciated..

[2019-08-21 01:07] jamesthegiantpeach opened #928 "Difficult to find jupyter notebook versions associated with docker image tags"
There is a loopback error when trying to fire up the jupyter server from jupyterhub when the notebook server is different from the one that jupyterhub expects. So I need to know which notebook server versions are associated with which sha tags in the dockerhub repo.

I need 0.9.6

[2019-08-21 18:45] galenbancroft opened #929 "r"
Hi! Thanks for using the Jupyter Docker Stacks.

Please review the following guidance about how to ask questions, contribute changes, or report bugs in the Docker images maintained here.

1. If you have a general question about using these Docker images or with Jupyter + Docker in general, please post your question in the [Jupyter Discourse Q&A section](https://discourse.jupyter.org/c/questions) s

[2019-08-22 09:17] masip85 commented on #885
Hello

I've had same problem. But that flags (**-e NB_USER=vmasip -e CHOWN_HOME=yes -e CHOWN_EXTRA_OPTS='-R' --user root -w /home/vmasip/** \) collapse container, it cannot start:

`Set username to: vmasip
Changing ownership of /home/vmasip to 1000:100 with options ''
Executing the command: jupyter lab --NotebookApp.password=********
[I 08:54:05.232 LabApp] [nb_conda_kernels] enabled, 2 kernels fo

[2019-09-02 02:29] LY1806620741 opened #931 "A Suggestion on Creating Linux User Password"
Hi , When i use my docker-compose
[code]
Then run a base jupyter service on my computer, and now i need ``` pip install h3 ``` use jupyter terminals. But it depend on cc, make, and cmake. I can't ```which``` them on the container. So, I must i use ```sudo apt-get install cmake```.  So you can be imagined. I don't have root and jovyan's password. This mean i can't install h3 on the base-jupyter doc

[2019-09-03 16:21] skw1990 opened #932 "after image built it did not delete the scipy image"
**What docker image you are using?**

Example: `jupyter/tensorflow-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

 `docker run -d -p 8889:8888 jupyter/tensorflow-notebook:`

**What do you expect to happen?**

Dependency image (scipy is deleted) when building image locally, i.e.: same result as docker pull jupyter/tensorflow-notebook

**

[2019-09-05 05:26] sfo commented on #931
If you need an image with additional features, it would probably be the preferred way to build a derived image.
Just change you docker-compose script like so:
[code]
Then, create a new dockerfile as `h3-notebook/Dockerfile`. Content could be for example:
[code]
To build it, simply run `docker-compose build`.

For more details on how to configure the docker compose build step, see the [documentatio

[2019-09-06 20:04] kronenpj commented on #932
TL;DR; It's a feature of docker with images inheriting from other images.

It stems from the way that `jupyter/tensorflow-notebook` inherits all the layers from `jupyter/scipy-notebook`.

E.g. when I `docker pull jupyter/scipy-notebook`, with no existing layers, I pull down the entire set of layers (~3.5GB worth). If, after that action, I execute `docker pull jupyter/minimal-notebook` it pulls dow

[2019-09-06 20:33] kronenpj opened #934 "UI Corruption starting on jupyter/scipy-notebook:64c893e91c60 after jupyter lab build?"
**What docker image you are using?**
`jupyter/scipy-notebook:64c893e91c60` and later, including `:latest` as of today (6-Sep-2019).

**What complete docker command do you run to launch the container (omitting sensitive values)?**
[code]

**What steps do you take once the container is running to reproduce the issue?**
1. Open a temrinal within the UI
2. Run: `jupyter lab build`
3. Reload the UI in

[2019-09-06 20:41] kronenpj commented on #934
I found that it doesn't happen when using `jupyter:minimal-notebook`.

[2019-09-06 23:29] jeremydouglass commented on #934
What does "corrupt" mean? What are you seeing exactly?

[2019-09-06 23:47] kronenpj commented on #934
Since I did my best in words, here's a picture...

![screenshot](https://user-images.githubusercontent.com/286689/64466264-91554300-d100-11e9-947f-59908242eeab.png)

[2019-09-07 04:22] kronenpj commented on #934
Using `jupyter/minimal-notebook@64c893e91c60f60f9adb2a1e1acc934673a3388c`, I've been running through the `Dockerfile` line by line, executing those commands inside the container at the terminal window, then refreshing the page after each item.
The UI is corrupted after I run `jupyter labextension install @jupyter-widgets/jupyterlab-manager@^1.0.0`.

I then reset the environment to `jupyter/minimal

[2019-09-07 12:40] kronenpj commented on #934
Looks like this might have been fixed somewhere after jupyterlab v1.0.4 because when I build `base-notebook` with `jupyterlab-1.0.10` I don't see the behavior.

[2019-09-08 12:29] LY1806620741 commented on #931
Although this can be solved, it loses flexibility. So I suggest adding
`echo $NB_USER" ALL=(ALL) NOPASSWD:ALL" >> /etc/sudoers`
  to make jovyan to  use `sudo` without a password.  Then it can use jupyter terminals to
 `sudo apt-get install [a lot of bin]`.
Or check ENV $Password on deployment scripts likes mysql's docker.

Recently I found a bug that the Running page of base-notebook could not cl

[2019-09-09 09:29] sfo commented on #931
I think, this is still best done in an inherited, custom image. I could imagine that not everyone wants to have unrestricted root access from a notebook.

Then you should open another bug report.

[2019-09-09 19:51] hiramf opened #936 "Updating to 1.1.2?"
https://github.com/jupyter/docker-stacks/blob/82d1d0bf0867e410a2abc66862fa77c3e2a8d304/base-notebook/Dockerfile#L107

Looks like there are a lot of bugs that get fixed with Jupyter Lab v. 1.1.2. Any plans to update the version?

[2019-09-09 23:00] ltammariello commented on #936
We are seeing this issue https://github.com/jupyterlab/jupyterlab/issues/7178  which seems to be fixed in 1.1.1 (or later).  We are interested in the updated datascience-notebook as well.

[2019-09-09 23:20] dhirschfeld commented on #936
IIUC 1.1.1 has a problem with widgets so it would be best to jump straight to 1.1.2

[2019-09-10 02:38] hiramf commented on #936
Agreed, although I seem to be having issues running `jupyter lab build`, as referenced here:
https://github.com/jupyterlab/jupyterlab/issues/7180

[2019-09-16 13:29] edurenye commented on #936
It already uses 1.1.3 so I guess we can close this issue

[2019-09-17 14:20] #936 closed

[2019-09-17 14:52] giuliacarella opened #939 "Cannot install R library 'spdep' in datascience image"
Hi!

**I am using this image**

`jupyter/datascience-notebook`

**and running  this docker command**

`docker run --user root -p 8888:8888 -e GRANT_SUDO=yes -v ~:/home/jovyan/workspace jupyter/datascience-notebook`

**These are the steps I am taking once the container is running**

1. Visit http://localhost:8888
2. Start an R noteobook
3. type "install.packages("spdep")

**I expect the installatio

[2019-09-17 19:27] fcomte commented on #663
is mesos supported or not ? is a recipe was done ?
pyspark-notebook still containing mesos lib installation but this is not working...
So this image will become cluster agnostic or not ?

[2019-09-17 23:42] MissedMissile commented on #603
UPDATE THE SPARK ENVIRONMENT TO USE PYTHON 3.6:

Open a new terminal and type the following command: "export PYSPARK_PYTHON=python3.6" This will ensure that the worker nodes use Python 3.6 (same as the Driver) and not the default Python 2.7

DEPENDING ON VERSIONS OF PYTHON YOU HAVE, YOU MAY HAVE TO DO SOME INSTALL/UPDATE ANACONDA:

(To install see: https://www.digitalocean.com/community/tutorials/

[2019-09-18 08:11] giuliacarella commented on #939
Finally I could install it using `conda install -y r-spdep`

[2019-09-18 08:11] #939 closed

[2019-09-18 14:24] LY1806620741 commented on #931
I solved my needs by rebuilding centos-based DockerFile. So if you feel that the flexible version is not suitable, you can turn off the issue.

[2019-09-18 14:30] LY1806620741 commented on #931
my code:
[code]

[2019-09-20 14:21] kronenpj commented on #934
Verified my issue is fixed with the recent update of Jupyter and Jupyterlab.

[2019-09-20 14:21] #934 closed

[2019-09-21 15:30] #931 closed

[2019-09-23 21:58] lgautier opened #941 "rpy2 is quite outdated."
https://github.com/jupyter/docker-stacks/blob/1386e20468332f32a028c6224bbd8439eb406ee4/datascience-notebook/Dockerfile#L67

The current rpy2 release is 3.1.0 (and 3.2.0 likely very soon).

[2019-09-25 06:37] gbrault opened #943 "could it be possible to install libgit2 and pygit2 in the image?"
Latest version seems 0.28.2.

This would allow to script git in python right away in notebooks.
of course as an alternative we can use shell as git is installed...
But using python might lead to more elegant UI.

Thanks

[2019-09-27 16:29] tschm opened #944 "pyarrow broken in pyspark-notebook"
pyarrow is broken in the pyspark-notebook where it is installed

docker run -it --rm -p 8888:8888 jupyter/pyspark-notebook:latest

Start a Python notebook

try:
[code]
Version 0.11.1 of pyarrow is installed in pyspark. This problem of pyarrow is well-known in the arrow community. Trying to update pyarrow in my dockerfile results in some conflicts:

[code]

[2019-10-01 20:27] luminousmen opened #945 "org.apache.spark.api.python.PythonException; local class incompatible"
I'm trying to use jupyter/all-spark-notebook with an external standalone spark cluster. Got the error while doing a simple script:

[code]
Error:
```java.io.InvalidClassException: org.apache.spark.api.python.PythonException; local class incompatible: stream classdesc serialVersionUID = 5540028395182668829, local class serialVersionUID = -216573626675865439```

I'm using docker images as part of do

[2019-10-02 09:00] RobinL commented on #127
Another update on this:

In addition to running spark in jupyter lab, I have been trying to set up two additional docker commands that allow us to run spark scripts in the same environment:

1. Get a bash command prompt within the Docker container with `docker run -it myimage /bin/bash`
2. Run a python script in the spark environment with `docker run myimage python myfile.py`

The `script.py` abov

[2019-10-02 14:15] tschmel opened #946 "Loading matplotlib fails inside of a running container"
Maybe it is not a good idea at all, but I try to use the `scipy-notebook` image to generate matplotlib plots inside a running container. While importing matplotlib inside the juypter notebook works perfectly, it is not working at when using the `(i)python` commands. Any ideas?

**What docker image you are using?**

`jupyter/scipy-notebook:17aba6048f44`

**What complete docker command do you run to

[2019-10-04 13:28] tschmel commented on #946
I found a possible solution [here](https://github.com/ContinuumIO/docker-images/issues/39]):

[code]

[2019-10-04 13:28] #946 closed

[2019-10-06 19:46] evkoskib commented on #921
A workaround is to pip uninstall pyarrow, and install it again in the all-spark-notebook.

Once I did that and restarted the kernel, I was able to import without errors.

[2019-10-09 18:16] playermanny2 commented on #927
Also having this issue, @emthomas  workaround solves it...any ideas here on a longterm fix@parente  @minrk

[2019-10-10 17:04] gary-lloyd opened #947 "Spark submission to Kubernetes API broken with Py4JJavaError"
**What docker image you are using?**

`jupyter/all-spark-notebook`
Any version after `29a003bb3030`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

I'm not using docker directly, instead I'm running the container in a Kubernetes cluster and trying to use the Kubernetes API to schedule Spark jobs.

Extend default service account

[code]

Create a d

[2019-10-11 05:48] edurenye opened #948 "Update to tensorflow 2.0"
Would be great to update to TensorFlow 2.0 the tensorflow-notebook stack.

[2019-10-12 15:54] rberenguel commented on #944
This won't fix the issue overall, but at least for working around it in a notebook:

[code]

and then restart the kernel. This will install 0.15 by the way, it was released recently.

[2019-10-13 19:52] blatoo opened #949 "What is the password for using "sudo apt-get install" command?"
Hi all,

I want to install some software on the docker container, but when I use `apt-get install xxx`, then I will get a "permission denied" problem.  So I guess, I should use "sudo apt-get install xxx", my question is what is the password for the `sudo ` command?

[2019-10-17 15:04] Bidek56 commented on #941
I think you need to do a PR for an upgrade.

[2019-10-17 15:33] Bidek56 commented on #948
I think you need to a PR in order to upgrade it.

[2019-10-18 07:41] perllaghu opened #951 "Docker images leaving a zombied `tini` process"
Platform details:
* Boxen - Centos7: `Linux my_host 3.10.0-1062.1.1.el7.x86_64 #1 SMP Fri Sep 13 22:55:44 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`
* docker:  `Docker version 19.03.3, build a872fc2f86`
* K8 cluster: `Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.6", GitCommit:"96fac5cd13a5dc064f7d9f4f23030a6aeface6cc", GitTreeState:"clean", BuildDate:"2019-08-19T11:05:16Z",

[2019-10-22 11:38] edurenye commented on #948
Do we need to remove Keras now that it is included in TensorFlow 2.0?

[2019-10-22 12:06] j123github opened #955 "scipy-notebook Image Missing ipympl?"
It appears that the scipy-notebook image is missing ipympl, resulting in `%matplotlib widget` failing to run. As a result, interactive plots are not easily available when running Jupyter Lab.

It wasn't clear to me that this was a deliberate omission, since the jupyter-widgets extension is being installed [here](https://github.com/jupyter/docker-stacks/blob/8bfffcaa3f41d8493a71648399bb540e8aa24860

[2019-10-24 21:38] narquette commented on #949
Running into the same issue. Trying to install curl.

[2019-10-27 02:53] DrPaulBrewer commented on #949
Reading the docker files, I see they point back to `jupyter/base-image` and from there, back to:
`ubuntu:bionic-20190612@sha256:9b1702dcfe32c873a770a32cfd306dd7fc1c4fd134adfb783db68defc8894b3c`.

So the ubuntu:bionic pinned image runs as root, and does not have sudo.

Trying sudo from `docker run -it jupyter/base-image /bin/bash` requests a password.

The [Dockerfile](https://github.com/jupyter/do

[2019-10-27 03:28] DrPaulBrewer commented on #949
I'm not an official project volunteer, so someone with more knowledge might want to chime in.

This worked for me.

To build your own custom jupyter docker image with curl

1. Decide what base image you are going to use.  Here I used `jupyter/scipy-notebook`
2. Create a directory where the custom build will go.  Here we will name it `./jupyter-scipy-curl`
3. Create ./jupyter-scipy-curl/Dockerfile

[2019-10-27 21:40] blatoo commented on #949
I tried, but it doesn't work for me...

[2019-10-28 13:48] Bidek56 commented on #949
I have just tried:
`docker run -d -v $PWD:/home/jovyan/work -e GRANT_SUDO=yes --user root -p 8888:8888 jupyter/all-spark-notebook`

then

[code]

It all works fine, what error messages do you see?

[2019-11-03 16:34] Bugatti100Peagle commented on #949
I try it OK,thanks

[2019-11-03 16:45] entmike commented on #332
Same thing happened to me today.  I keep reading `jovyan` and `joyvan`.  Lost 30 minutes of productivity on this LOL.

[2019-11-04 10:59] PALuczak opened #956 "Container startup with custom user id fails on multi-tenant system with namespace isolation"
**What docker image you are using?**

`jupyter/datascience-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run --userns=host --gpus all --rm -it -p 42424:8888 -e JUPYTER_ENABLE_LAB=yes --user $(id -u) --group-add users -v /home/username/:/files/ --name datascienceLab jupyter/datascience-notebook`

 and

`docker run --userns=host

[2019-11-06 14:11] larsmathuseck commented on #948
Any progress on this one?

[2019-11-08 14:37] rwmajor2 opened #958 "Question: What is nodejs used for in the build stack?"
I noticed nodejs is installed as part of the stack images.  Can someone explain how this is used along the way?

[2019-11-09 20:37] parente commented on #958
JupyterLab requires node to build and install JupyterLab extensions. We use it during the docker build process but leave it installed since it's required to install additional extensions.

[2019-11-09 20:39] parente commented on #955
The image definitions here pre-date `ipympl`. Since we already install JupyterLab, IPython widgets, and Matplotlib, it makes sense to me that `ipympl` should also be included. Feel free to send a PR.

[2019-11-09 20:41] parente commented on #951
You might try re-posting your question on https://discourse.jupyter.org/c/questions to see if someone with more experience in running notebooks at scale on k8s with kubespawner can help.

[2019-11-09 21:18] parente commented on #949
This question comes up from time to time. I've opened a PR adding more explicit section in the documentation about how to grant the `NB_USER` passwordless sudo and brief explanation about why password auth is disabled.