[2022-02-04 18:25] mathbunnyru commented on #1407
Thanks, @consideRatio!
Actually, the actions we will need in these runners are quite simple - install python, python requirements, make and docker.
This should be enough to build, test and push our images.

[2022-02-04 23:49] manics commented on #1407
Proposal generally sounds good!

In step 6 how are the manifests and tags calculated? Do they require both architectures to be built before calculation?

If the calculations in step 6 can be run in parallel for the separate architectures that avoids having to pull the images back down again, instead you could push direct to Docker Hub and save the tags/manifests as JSON or text files, uploaded as

[2022-02-05 11:15] mathbunnyru commented on #1071
Thanks, @trallard for your work. I think we can close this issue for now.
If there is something more to add, we will deal with it in the future.

[2022-02-05 11:15] #1071 closed

[2022-02-05 11:23] mathbunnyru commented on #885
We have updated our docs and now we describe UID, GID and how to use them and how to troubleshoot common problems.

Please, take a look:

Configuration: https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html#user-related-configurations
Troubleshooting: https://jupyter-docker-stacks.readthedocs.io/en/latest/using/troubleshooting.html

If the issue still persists, then, please, cre

[2022-02-05 11:23] #885 closed

[2022-02-05 11:24] mathbunnyru commented on #542
We have updated our docs and now we describe UID, GID and how to use them and how to troubleshoot common problems.

Please, take a look:

Configuration: https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html#user-related-configurations
Troubleshooting: https://jupyter-docker-stacks.readthedocs.io/en/latest/using/troubleshooting.html

If the issue still persists, then, please, cre

[2022-02-05 11:24] #542 closed

[2022-02-05 11:25] mathbunnyru commented on #1333
We have updated our docs and now we describe UID, GID and how to use them and how to troubleshoot common problems.

Configuration: https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html#user-related-configurations
Troubleshooting: https://jupyter-docker-stacks.readthedocs.io/en/latest/using/troubleshooting.html

[2022-02-05 11:25] #1333 closed

[2022-02-05 11:30] mathbunnyru commented on #1448
I have run your command `docker run -it --rm -p 8888:8888 -e NB_USER=example -e CHOWN_HOME=yes -w /home/example jupyter/minimal-notebook:latest`

It gives me a warning: `WARNING: container must be started as root to change the desired user's name with NB_USER="example"!`

If I add `--user root`, I get:
[code]
which seems to work.

So, I will close this issue and emphasize, that we need this issue

[2022-02-05 11:30] #1448 closed

[2022-02-05 11:37] mathbunnyru commented on #1407
I didn't want to push to docker hub directly, because we might end up in a situation, where x86 images are fine and already uploaded and arm doesn't build for some reason.
In my solution, this will fail the whole build and our docker hub images will not be changed at all.
If we push directly to dockerhub, this will leave it in some inconsistent state.

@manics I've updated my proposition to includ

[2022-02-05 11:41] mathbunnyru commented on #1299
Closing this, if the issue still persists, please reopen.

[2022-02-05 11:41] #1299 closed

[2022-02-06 14:42] manics commented on #1407
Yes, makes sense to me :smile:

[2022-02-06 20:59] #1597 closed

[2022-02-06 21:32] mathbunnyru commented on #1596
@consideRatio @maresb @romainx @trallard feel free to add new frequently asked question to the list.

[2022-02-08 12:36] trallard commented on #1203
I recently offered to help with some tasks for #1407, after reading @mathbunnyru  proposal and additional comments it is clear that this issue - i.e. improving the monolithic build should be tackled first to ensure we have a solid foundation.

@manics  I would be happy to explore and work on a POC leveraging GH actions + doit (for x86):
1. I can start with a smaller scoped POC to gauge how doit +

[2022-02-08 12:57] romainx commented on #1203
@trallard In a recent PR (#1604) I've explored a way to standardise by using `docker buildx bake`.

I'm convinced that it could be a an option since it support multi-platform and can scale by using several build nodes through various drivers. It is the solution used by others with similar issues to solve like [Official Jenkins Docker image](https://github.com/jenkinsci/docker). It's a way of stand

[2022-02-08 13:46] bollwyvl commented on #1203
As Docker Desktop has recently... altered its terms (pray they do not alter them further), I've been looking into other cross-platform solutions as well for this kind of thing. minikube seems to be the most cross-platform approach at the bottom of the stack, as well as the most stable and well-documented.

At the build level, [skaffold](https://skaffold.dev/docs/references/yaml/) keeps coming up,

[2022-02-08 18:45] elferherrera opened #1616 "Tensorflow without CUDA"
Hi! Thanks for using the Jupyter Docker Stacks.

Please answer the questions below to help us troubleshoot the problem. Please be as thorough as possible.

**What docker image you are using?**

`jupyter/tensorflow-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -it --rm jupyter/tensorflow-notebook /bin/bash`

**What steps do

[2022-02-09 10:17] trallard commented on #1407
Hey folks - since my brain works in a very visual way I went ahead and made a diagram of this which captures the proposed approach above:

- From the proposal written here by @mathbunnyru: the random tag in step 2 could be a combination of the GH sha and the timedate/epoch stamp to make it easier to track back to

![Docker stacks - Build Docker images workflow diagram](https://user-images.githubus

[2022-02-09 13:23] mathbunnyru commented on #1407
@trallard very nice!

A few moments:
1. We create manifests and tags somewhere near `Test images` (so, in separate jobs for ARM and x86). We save this info as our build artefacts and will use that later to do merging different architectures. This can be done in parallel with testing and pushing images.
2. We can add "Push tags and manifests" before "Can merge tags?" questions. Or even in parallel

[2022-02-09 13:25] mathbunnyru commented on #1407
Also, I think this diagram will be very useful in the future if/when we implement this, so it might be worth to add a separate page in `Contribution Guide`.

[2022-02-09 16:34] trallard commented on #1407
For completeness, I have updated the diagram to reflect @mathbunnyru  comment above

![Docker Stacks -CI workflow schematic](https://user-images.githubusercontent.com/23552331/153245883-a7cae750-5c13-4d49-b36e-0f5592dc7f80.svg)

[2022-02-09 16:39] mathbunnyru commented on #1407
One more small update - we probably want to "Push tags and manifests" in the main workflow.
This is easier, because main workflow is gonna run in Github provided environment (so we can use existing "commit and push" GitHub workflow).
This way we will also push only when the tests are passed and they are passed for each image for each arch.

[2022-02-09 16:39] mathbunnyru commented on #1407
So it's a step right before "Can merge tags?"

[2022-02-09 17:16] trallard commented on #1407
🎉

![docker-stacksv3](https://user-images.githubusercontent.com/23552331/153254130-862e5672-2ec8-4353-9a11-93dc6ab1b753.svg)

[2022-02-10 05:09] romainx commented on #1433
Hello @djangoliv,

Very sorry for the late answer. The recipe you mention seems to be wrong on this point.
The problem is that conda is auto activating the `base` environment. It's a setting you can modify.

[code]

It will seems to work.

[code]

But the prompt will not reflect it for example because the environment has not been properly activated, another consequence is that `CONDA_PREFIX` is no

[2022-02-10 15:12] mathbunnyru commented on #1324
An example: https://github.com/jupyter/docker-stacks/pull/1617

[2022-02-11 20:37] mathbunnyru commented on #1616
@elferherrera so you solved the problem, right?
Could you please close the issue, if there is no bug in the stacks?

[2022-02-11 20:59] mathbunnyru commented on #1557
@sdwalker62 first of all, thank you for your suggestion!
I'm sorry it took such a long time to answer you.

I see a growing interest in the GPU-related docker stacks because people ask more and more about them.

But I think right now it's not easy to add a new image. And in this case a whole set of new images.
The main reason is our complicated and slow build system.

Right now, if we add new imag

[2022-02-11 21:02] mathbunnyru commented on #1557
This works because we have `ARG ROOT_CONTAINER` in our base image.
https://github.com/jupyter/docker-stacks/blob/master/base-notebook/Dockerfile#L6

[2022-02-11 21:38] #1616 closed

[2022-02-12 19:46] mathbunnyru opened #1620 "Start using issue forms"
Right now issue templates allow not to answer important questions while creating the issue.

Issue forms are well-structured and easier to use.
They have been in beta for a few months, so I think they are quite stable to use.

Docs:
https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms
News:
https://github.blog/changelog/2021-06-

[2022-02-12 20:02] mathbunnyru opened #1621 "Refactor tests to run on all applicable images"
Right now, it works like this:
- there is a test folder, which is run for every image
- image specific tests folder

What I propose:
If a test is run for some image, then it should run for all dependent images.
This way we will make sure, that some feature works in all the images it should work.
And we will be able to put our common tests to `/tests/base-notebook` and every image will run these te

[2022-02-12 20:07] mathbunnyru opened #1622 "Add an ability to run tests in parallel"
Right now, it's impossible to run tests in parallel.
I know only one reason why it doesn't work (I've quickly checked this running `make test/base-notebook` in two tabs) - we mount container port to host `8888` port (it is hardcoded).
Instead we should choose random port, then it should work fine.

Then we will be able to easily use [pytest-xdist](https://pypi.org/project/pytest-xdist/) and make o

[2022-02-14 15:55] pprados opened #1625 "Add 'make' in the docker image"
Hi! Thanks for using the Jupyter Docker Stacks.

Please see the [Suggesting a new feature](https://jupyter-docker-stacks.readthedocs.io/en/latest/contributing/features.html#suggesting-a-new-feature) section in the documentation for our preferred processes.

**What docker images this feature is applicable to?**
make and Makefile is a classical build process. In the image version "python-3.8.8", the

[2022-02-14 17:20] trallard commented on #1620
+1 from me - I have been using them regularly in other projects (also I can help if needed)

[2022-02-14 23:20] mathbunnyru commented on #1620
@trallard feel free to make a PR - I haven't done anything for this issue yet, so if you want to, please proceed 👍

[2022-02-15 05:29] #1622 closed

[2022-02-15 13:16] trallard commented on #1540
Started experimenting with this as part of #1627  😉

[2022-02-15 13:18] trallard opened #1628 "[Proposal] - add @trallard to triaging team"
Hi all 👋🏽

I am not sure if there is a triaging team for this repo - but if there is  would it be possible to be added to help y'all to deal with the issues/PR as they come in

[2022-02-15 13:30] mathbunnyru commented on #1628
Yes, there is!
Let's follow the same (unofficial) procedure which gave me triage rights a year ago :)

https://github.com/jupyter/docker-stacks/issues/1218

I definitely agree to give you triage rights for this repo - you were helping a lot lately with issues and PRs.
Thank you for that!
So 👍 from me.

I think it's okay to plan granting the permissions on February 22th (let's give other maintainer

[2022-02-15 14:08] consideRatio commented on #1628
Wieee @trallard :heart: :tada: :sunflower: thanks for investing time and effort to help this project in such a foundational way!!! :+1:

[2022-02-15 14:37] mathbunnyru commented on #1625
Hello @pprados ! Thank you for your suggestion.

I don't actually think we should add `make` to our images.

It was probably present because it was either in `ubuntu:focal` image or was installed as a dependency of other package.
It doesn't make sense to add `Make` to `jupyter/pyspark-notebook` and not `base` or `minimal` image, because there is no particular reason for it to be restricted for thi

[2022-02-16 14:32] miraculixx commented on #1625
I would respectfully disagree with this assessment. Actually, make (along with Makefile) is part of many workflows.

Yes, there is a particular reason it should be included in minimal, or at least in scipy-notebook. That is, jupyter/pyspark-notebook is based on scipy-notebook, which includes Cython. Cython requires build-essential (see [Cython installation instructions](https://cython.readthedocs.

[2022-02-17 13:10] #1620 closed

[2022-02-17 13:36] trallard commented on #1621
This sounds like a sensible proposal.

I would suggest instead something like `tests/images-common` or something similar. It will make it clearer that those tests are for all the images and not solely for the `base-notebook` thus preventing confusion in the future?

[2022-02-17 14:08] mathbunnyru commented on #1621
I already implemented this in my local repo, will draft a PR in the evening - please, take a look, I tried to improve the documentation, so it's more clear.

[2022-02-17 16:32] mathbunnyru commented on #1625
Oh, I see.
I confirm that this is a valid issue.
I have tried to use minimal example and it doesn't work.
https://cython.readthedocs.io/en/latest/src/tutorial/cython_tutorial.html#cython-hello-world

Let's add `build-essential` to `scipy-notebook` with an inline comment why we add it.
Also, it would be nice to have a test which shows cython works well.

@pprados @miraculixx could you draft a PR, p

[2022-02-21 13:38] #1621 closed

[2022-02-21 13:40] mathbunnyru commented on #1628
I think we can proceed here :)
I have some time today, so doing it one day earlier))

@trallard I've added you as a collaborator with triage rights. You should get an invite via email. Cheers!

[2022-02-21 13:40] #1628 closed

[2022-02-21 16:53] mathbunnyru commented on #1625
I found the place where I removed this.
https://github.com/jupyter/docker-stacks/pull/1383

[2022-02-21 19:46] #1625 closed

[2022-02-22 10:35] djangoliv commented on #1478
@maresb I read your PR https://github.com/jupyter/docker-stacks/pull/1512/files and I have 2 remarks:

- why you don't use `usermod -m` (or `--move-home`) to rename the jovyan home to NB_USER home ?
- later in the script you had a copy of the jovyan home files to the NB_USER home but it would be necessary that the home of NB_USER does not exist. So with the previous "usermod --home" it don't happe

[2022-02-23 14:41] consideRatio opened #1636 "A tool to inspect built images - could be helpful to our maintenance work!"
Today I learned about https://github.com/wagoodman/dive#readme by @yuvipanda, and I figure I'd open an issue here to spread knowledge about it and then close this issue after ~2 weeks (9th March).

[2022-02-24 13:18] trallard commented on #1636
I loooove dive 💜  it is one of my tools of choice when working with docker/OCI images

[2022-02-28 20:48] #1540 closed

[2022-03-02 13:48] trallard commented on #1402
Following here and since I already mentioned it in <https://github.com/jupyter/docker-stacks/issues/1407#issuecomment-1029955372>

We can ask for permanent free access to machines at WorksOnArm/equinix-metal-arm64-cluster - this could help us unblock `arm`-related build/test

[2022-03-05 19:45] mathbunnyru commented on #1402
@trallard

Please, proceed and ask for arm runner, I don't have much spare time right now.
I will be glad to help if I can ❤️

Thank you for your ideas and working on this project 👍

[2022-03-05 20:38] mathbunnyru commented on #874
Closing this one - didn't receive a reply.

[2022-03-05 20:38] #874 closed

[2022-03-06 09:49] consideRatio commented on #1402
I've learned a few things that are problematic.

## Challenges with self-hosted arm runners

1. The ARM runners can't use github actions like actions/setup-python or actions/setup-node etc, because they rely on pre-installed Python/Node versions in the runner. They also make checksum checks etc which makes this not possible to workaround by providing such installations for arm.
2. The self-hosted

[2022-03-06 09:55] consideRatio commented on #1402
## Scope of request

Do we scope the request for arm runners to be this project, jupyter github org, or jupyter ecosystem as a whole etc?

I suggest we scope it for this project as a pilot, and then later with experience we can consider asking for further help for runners etc.

If we have it functional well here, I'd appreciate these runners in jupyterhub/zero-to-jupyterhub-k8s as well for example

[2022-03-06 11:40] trallard commented on #1402
Thanks for the insights @consideRatio

I have little experience with self-hosted arm runners but being aware of these limitations and risks early on is very helpful.

Maybe we can add these or some other concerns to the request form? I am not sure if the folks providing these for OSS projects have also some sort of docs on how to secure the runners but worth asking.

Also I believe these are grant

[2022-03-06 12:09] consideRatio commented on #1402
@trallard I'd be happy to help with review!

## We are approved - then what?

I would love if we had a practical example to follow from someone else, where someone has already used this free-infra offering to host self-hosted github actions runners. I worry that without it getting the machines will be the easy part, while setting up everything beyond that to help us have self-hosted runners in the

[2022-03-06 13:23] trallard commented on #1402
I should have some capacity to follow through.
Might need to do loads of research first but I can certainly dedicate some time to this

[2022-03-08 12:24] kapsner commented on #630
I have solved this for the [gpu-jupyter repo](https://github.com/iot-salzburg/gpu-jupyter), which is building upon docker-stacks.

You could provide an updated `jupyter_notebook_config.py` script, where you change the `c.NotebookApp.port` to `c.NotebookApp.port = int(os.getenv("JPY_PORT"))`.

https://github.com/kapsner/gpu-jupyter/blob/own_image/.build/jupyter_notebook_config.py#L12

To take affec

[2022-03-09 08:27] benz0li commented on #1478
I find the suggestion of `-v "${PWD}":/home/jovyan/work` at https://github.com/jupyter/docker-stacks#quick-start > 'Example 2' rather odd, because this does not preserve _dotfiles_ (user-specific application configuration) - e.g. `~/.local`, `~/.config`, etc.

That's one of many reasons why I'm building my own Jupyter docker stack incorporating the changes listed above and mount the entire home di

[2022-03-11 14:13] mathbunnyru commented on #1636
@consideRatio I'm closing this. Hope you don't mind :)

[2022-03-11 14:13] #1636 closed

[2022-03-11 22:51] wapa5pow opened #1648 "Does "The Dirty Pipe Vulnerability" (CVE-2022-0847) affect on jupyter/docker-stacks ?"
### What docker image(s) are you using?

all-spark-notebook, base-notebook, datascience-notebook, minimal-notebook, pyspark-notebook, r-notebook, scipy-notebook, tensorflow-notebook

### OS system and architecture running docker image

Ubuntu

### What Docker command are you running?

[code]

### How to Reproduce the problem?

N/A

### Command output

_No response_

### Expected behavior

_No resp

[2022-03-12 21:14] rigzba21 commented on #1648
Here's the [Ubuntu CVE-2022-0847 patch status](https://ubuntu.com/security/CVE-2022-0847) page.

It looks like the [latest `ubuntu:focal` image tag](https://hub.docker.com/layers/ubuntu/library/ubuntu/focal/images/sha256-9c152418e380c6e6dd7e19567bb6762b67e22b1d0612e4f5074bda6e6040c64a?context=explore) is from nine days ago.

The [latest `base-notebook`](https://hub.docker.com/layers/jupyter/base-n

[2022-03-14 00:12] mathbunnyru commented on #1648
Note: I'm not a security engineer at all.

Our current docker files are written in a way that we are as safe as the latest images / applications.
https://github.com/jupyter/docker-stacks/blob/master/base-notebook/Dockerfile

1. We use `ubuntu:focal` without pinning particular build.
2. We also do `apt upgrade` in case some app was vulnerable and has been fixed.
3. We rebuild our images weekly.

Un

[2022-03-14 00:27] rigzba21 commented on #1648
Here's the kernel version running in `jupyter/base-notebook:latest`:
[code]
from inside the container:
[code]
shows `5.10.76-linuxkit`

[code]
shows:
[code]

[2022-03-14 00:34] mathbunnyru commented on #1648
It's the same version as latest `ubuntu:focal` and it seems to be vulnerable.
https://www.datadoghq.com/blog/dirty-pipe-vulnerability-overview-and-remediation/#check-if-your-system-is-vulnerable

So, we probably need to wait and rebuild images when a new version is available.

[2022-03-14 08:50] tobias-jenkner opened #1650 "[ENH] - Become a dockerhub verified publisher"
### What docker image(s) is this feature applicable to?

all-spark-notebook, base-notebook, datascience-notebook, minimal-notebook, pyspark-notebook, r-notebook, scipy-notebook, tensorflow-notebook

### What changes are you proposing?

Become a dockerhub verified publisher: https://docs.docker.com/docker-hub/publish/

### How does this affect the user?

Images that are part of the dockerhub verifi

[2022-03-14 09:33] consideRatio commented on #1650
I think this requires us to pay DockerHub, doesn't it? If so, then I think we can't manage as its too much hurdle to manage payments for us.

[2022-03-14 09:48] tobias-jenkner commented on #1650
I thought that it will be free of cost for open source projects, but in fact I do not know that.

I will look into it and see if there is this possibility for open source projects.

[2022-03-14 14:40] tobias-jenkner commented on #1650
I only found the docker open source program:
- https://www.docker.com/community/open-source/application
- https://www.docker.com/blog/expanded-support-for-open-source-software-projects/
It is unclear for me, if participating in this program would also result in becoming a verified publisher.

[2022-03-14 14:45] consideRatio commented on #1650
@tobias-jenkner hmmm, I think those may be separate aspects. We have a free account and seem to get by with the limitation of the amount of image pulled from our repositories etc which is what the first application was about I think. I think after having done that, then, you can apply to be a verified publisher etc.

[2022-03-14 16:02] mathbunnyru commented on #1650
@consideRatio I think @parente submitted an application, but I'm not sure he received a response.
https://github.com/jupyter/docker-stacks/issues/1309#issuecomment-873209253

I think you have an access to the docker hub team (I don't have any docker permissions at all) , could you please submit an application for the open source program?
I also think it's a good starting point.

[2022-03-15 22:29] mathbunnyru commented on #915
I think this is actually possible in a quite good way!

https://github.com/jupyter/notebook/issues/1857#issuecomment-868767694

It should be something like this:
`HEALTHCHECK CMD curl -v http://localhost:8888/api || exit 1`

I checked that `/api` returns 200 for lab, notebook, nbclassic, server and retro `jupyter` commands.

Also, I'm not sure we should add this to our docker files at this point -

[2022-03-16 00:59] lmeyerov commented on #915
Ah, so `curl -f` (so response to error code), nice!

[2022-03-16 11:10] carlosefr commented on #1530
Just noticed that the `jupyter/scipy-notebook:lab-3.2.9` image actually contains Jupyter Lab 3.3.0. If the version in the image tag can't be trusted, it may be a better idea not to tag images with a specific version at all.

[2022-03-16 13:04] mathbunnyru commented on #915
Thanks, fixed 👍

[2022-03-16 13:57] rigzba21 commented on #1648
Here's a recent open issue https://github.com/tianon/docker-brew-ubuntu-core/issues/232 to update the `ubuntu:focal` container with the fix.

[2022-03-16 13:59] mathbunnyru commented on #1648
Thanks @rigzba21 ! I subscribed to the issue and when the issue is closed, I will rebuild our images.

[2022-03-16 15:10] mathbunnyru commented on #1650
We would probably benefit from being verified publishers, because we will be much higher in the search queries :)

<img width="308" alt="Снимок экрана 2022-03-16 в 17 01 16" src="https://user-images.githubusercontent.com/12270691/158622799-0f686cdd-3511-43ab-b5cb-868533bf8a97.png">

[2022-03-16 15:34] mayswind opened #1657 "cannot start docker container after changing user name"
### What docker image(s) are you using?

base-notebook

### OS system and architecture running docker image

Alpine Linux v3.11/amd64

### What Docker command are you running?

*See the reproducing steps*

### How to Reproduce the problem?

1. Create a Dockerfile, and fill with these following content (change the default user name)
[code]
2. Use this Dockerfile to build a new docker image
[code]
3

[2022-03-16 15:41] mathbunnyru commented on #1657
We actually have a way to change the username to the desired one:
https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html?highlight=NB_USER#user-related-configurations

Could you please try this?

[2022-03-16 16:02] mayswind commented on #1657
I have read this doc before, but you must use `root` user to start docker container.
I think if the way I use is forbidden, there should be an error message, but now there are no error message and the jupyterlab cannot start either. This is why I think it's a bug.
In addition, in the older version, I can modify user name via the method I mentions in the issue and the jupyterlab can start successfu

[2022-03-16 19:36] mathbunnyru commented on #1657
Ok, I think you have a valid point we should either support this (and it would be nice to test it), or have a clear error message.

[2022-03-18 13:11] mathbunnyru commented on #1648
[code]

Base images seem to not be vulnerable anymore.
I will rebuild our images to make sure they are fine as well.

[2022-03-18 13:29] rigzba21 commented on #1648
@mathbunnyru do you think it may be worthwhile to use the sha256 image digest for `ubuntu:focal` in the `Dockerfile`, that way we know exactly which image is used as the root container?
example:
[code]

[2022-03-18 13:31] mathbunnyru commented on #1648
No, I don't think that's necessary:
- We only push from GitHub environment, which doesn't contain any pulled images (I hope so), so we will end up with pulling latest version
- We can't pin sha256, because we have to support both amd64/aarch64.

[2022-03-18 13:32] rigzba21 commented on #1648
Ah, gotcha. I forgot about aarch64. Thank you for clarifying!

[2022-03-18 14:10] benz0li commented on #1648
IMHO CVE-2022-0847 ("The Dirty Pipe Vulnerability") can't be fixed in the image because containers share the host machine’s Linux kernel.

`uname -r` prints the host's system information, returning `*-linuxkit` if the container is run with Docker Desktop.

[2022-03-18 20:35] #915 closed

[2022-03-18 21:48] mathbunnyru commented on #1648
Thank you @benz0li.

Anyways, our images have been rebuilt a couple of times already, so we should be fine no matter what and there is nothing we can do.
Note: some images, like tensorflow might need a bit more rebuilds, because we sometimes end up pulling images instead of using fresh builds, but that's another problem and I hope we will resolve it sooner or later.

[2022-03-18 21:48] #1648 closed

[2022-03-20 18:43] mathbunnyru opened #1664 "How to become "Project Jupyter" member?"
I would like to ask what it takes to become a project jupyter member.
And what responsibilities it implies :)

I've been super-concentrated on one repository (I believe it is one of the core repositories) and I might take a look at something else :smile:
It doesn't mean, that I'll stop maintaining this repository, but I don't have a lot of ideas to implement here (apart from the new build system).

[2022-03-20 18:43] mathbunnyru commented on #1664
@consideRatio you might know the answer here :)

[2022-03-21 12:40] mathbunnyru commented on #1402
GitHub might get arm + m1 native runners soon 🎉
https://github.com/actions/runner/issues/805#issuecomment-1071178243

Yes, we will be building under Mac, but in our case, I don't think we will even notice it - I've been developing this project on a Mac, only had a couple of issues, but now everything works well.

[2022-03-21 16:35] consideRatio commented on #1664
:heart: :tada: I'm very happy seeing how you have helped this project so much and would love to see help the broader Jupyter ecosystem as well!

I'll need to explore this question a bit myself because its not really clear to me either!

### GitHub organizations and associated teams

There are several parts of Jupyter with different GitHub organizations: Jupyter, Jupyter-Server, JupyterHub, Jupyter

[2022-03-25 16:33] choldgraf commented on #1664
Two quick thoughts:

- First, **thank you @mathbunnyru** for all of the work you've put into this repository. The Docker Stacks repository is a huge part of Jupyter's efforts, even though it doesn't cleanly fit underneath one of the major organizations like jupyterhub/jupyterlab/etc. I appreciate your work and already consider you a part of the Jupyter team myself :-)
- Second, what kind of work a

[2022-03-25 23:42] afshin commented on #1664
As we ramp up the new governance structure of Project Jupyter, the answer to this question becomes clearer. The Docker Stacks effort falls in the **Jupyter Foundations** Subproject (here is [a list of official Jupyter Subprojects](https://jupyter.org/governance/list_of_subprojects.html)).

The Subprojects are in the process of [bootstrapping](https://jupyter.org/governance/bootstrapping_decision_m

[2022-03-26 00:17] itnavigate commented on #794
Nice that this is closed - I assume you found a resolution. I note SO question is also deleted.
I have a similar (perhaps even the same) problem. What was you resolution @heoa?
did r-cran-rodbc fix it for you?

[2022-03-26 13:29] mathbunnyru commented on #1664
Thank you all for your answers! ❤️

I will think about what skills I would like to learn further for a while and then I think I will be able to better understand where I can put my efforts, so both jupyter projects and me are happy :)

[2022-03-26 20:02] Nehc opened #1667 "[FATAL tini (7)] exec start-notebook.sh failed: Permission denied"
### What docker image(s) are you using?

base-notebook

### OS system and architecture running docker image

Ubuntu

### What Docker command are you running?

docker run -it -p 8888:8888 -v "${PWD}":/home/jovyan/content -e DOCKER_STACKS_JUPYTER_CMD=notebook jupyter/base-notebook

### How to Reproduce the problem?

I am just clone repo and build image whith docker build base-notebook --tag jupyter/

[2022-03-27 00:33] mathbunnyru commented on #1667
Could you try to start the container without `-v "${PWD}":/home/jovyan/content`?
This looks like a permission issue.

[2022-03-27 06:40] Nehc commented on #1667
i am tried - the same error. (

The most annoying thing: base-notebook from docker hub works as expected. And from this repository - an error... (

It seems to me that this is quite elementary, but I'm a beginner, so I can't figure it out.

[2022-03-27 06:49] Nehc commented on #1667
removed all unnecessary/optional keys:

~$ docker run jupyter/base-notebook
[FATAL tini (7)] exec start-notebook.sh failed: Permission denied

error on build process. IMHO...

[2022-03-27 08:30] Nehc commented on #1667
This is very strange... I did a build on Windows 10 PC and push image to docker hub and it worked... (

Those. this means that it is on my ubuntu 20.04 that the build somehow goes wrong. ((

Maybe it has something to do with nvidia-docker or I did something wrong during installation.

[2022-03-27 11:50] mathbunnyru commented on #1667
Could you please clarify?

You say "docker run jupyter/base-notebook [FATAL tini (7)] exec start-notebook.sh failed: Permission denied" and "error on build process".
So, do you have an error during the image build?

[2022-03-27 14:26] Nehc commented on #1667
I'm not quite sure. Looks like no...

I just ran build on two different systems - on ubuntu 20.04 and on Windows 10. In both cases, the image was formed. Thats one on Win10 works, but on Ubuntu it gives the indicated error...After run...

As I said - I'm a beginner... Maybe there was some problem in the logs during the build process that I didn't notice... What should I pay attention to?

[2022-03-28 05:31] Nehc commented on #1667
I think I found the problem - it's my fault. (

I was copying files from a Win10 PC rather than spinning out a repo on the target machine. I guess it's just that the sh files lost their exec attributes...

When I did a clean git clone the whole procedure went as expected.

[2022-03-28 05:31] #1667 closed

[2022-03-30 15:27] mathbunnyru opened #1669 "JetBrains All Products Pack licenses"
I started using PyCharm to develop this project.
I've asked JetBrains to provide us with licenses for Open Source Development (https://www.jetbrains.com/community/opensource/).

They kindly provided me with 3 licenses.
One of them I will use myself, so 2 are left :)

This message is from the email:
[code]

@romainx @trallard @consideRatio if someone is interested in getting the license, please, pi

[2022-03-31 19:20] trallard commented on #1669
Thanks for the offer but I am not a PyCharm user anymore 😅 so will let the others call dibs

[2022-04-01 16:47] trallard commented on #1664
Thanks for asking this question @mathbunnyru - I _many of us_ have had a flavour of this question at some point in our head so having these here in the open is useful

[2022-04-10 10:59] NicolasChaillou opened #1680 "[ENH] - <title> Open To Colab"
### What docker image(s) is this feature applicable to?

base-notebook

### What changes are you proposing?

1 : Hello can you add in `/etc/jupyter/jupyter_notebook_config.py`
the line : `c.NotebookApp.allow_origin = 'https://colab.research.google.com/'`

2: And set a path to /vagrant folder in built-in?

That's would help

Thanks

### How does this affect the user?

1: Help to use Google Colab in

[2022-04-10 18:44] minrk commented on #1680
This would mean allowing cross-origin requests from any notebook on google colab for all notebook servers by default. I don't think that's an appropriate default. I suspect perhaps the meaning of `allow_origin` is misunderstood?

Note: this does _not_ affect using these images on any domain, which already works. Only _cross-origin_ requests are affected by this (i.e. requests to a server on one ho

[2022-04-11 06:35] NicolasChaillou commented on #1680
Hello Min, my requests were effectively to manage the docker inside a VM and by Google Colab notebooks.

I know it’s not base on the container features appropriately, even in the start of the build of these images.

I just had troubles by launching automatically these 2 features at the docker run /start, meaning I thought it might be set Inside the the container itself.

So if you have a link to s

[2022-04-12 11:44] #1478 closed

[2022-04-13 04:09] porscheme opened #1682 "Single user server as driver node in spark cluster k8s"
### What docker image(s) are you using?

pyspark-notebook

### OS system and architecture running docker image

Ubuntu/amd64

### What Docker command are you running?

JupyterHub single user server

### How to Reproduce the problem?

1. Setup a K8s cluster
2. Deploy Spark Cluster using bitnami/spark:3.0.0 container images for both master and worker nodes
3. Make sure both master and worker nodes a

[2022-04-13 07:25] porscheme commented on #1682
Someone also filed a similar issue on bitnami/spark side also.
https://github.com/bitnami/bitnami-docker-spark/issues/73

[2022-04-13 07:26] meeseeksmachine commented on #1682
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/single-user-server-as-driver-node-in-spark-cluster-k8s/13857/2

[2022-04-13 07:34] porscheme commented on #1682
It was me who raised the issue on spark side also, hope to quickly resolve this issue.

[2022-04-14 18:14] Bidek56 commented on #1682
Spark on K8s worked fine using pyspark-notebook images but I do recall changing the entrypoint on the worker image.

[2022-04-14 18:19] porscheme commented on #1682
I created a custom image, this worked for me.

[code]

[2022-04-20 08:21] tbarbugli opened #1686 "[BUG] - 404 : Not Found"
### What docker image(s) are you using?

scipy-notebook

### OS system and architecture running docker image

OSX M1

### What Docker command are you running?

`docker run -p 10000:8888 jupyter/scipy-notebook`

### How to Reproduce the problem?

1. I run `docker run -p 10000:8888 jupyter/scipy-notebook` (tried `docker run -p 10000:8888 jupyter/scipy-notebook:6b49f3337709` as well with the same out

[2022-04-20 10:33] mathbunnyru commented on #1686
You run `docker run -p 10000:8888 jupyter/scipy-notebook`, which means that you bind internal port `8888` of the container to host machine port `10000`.

That's why you should open not `http://127.0.0.1:8888/...`, but `http://127.0.0.1:10000/...`.

[2022-04-20 10:33] #1686 closed

[2022-04-20 17:39] carlosefr commented on #915
This change doesn't seem to work when the image is used in Jupyter Hub. The URL used in the health check fails with a 404.

[2022-04-25 15:28] Croydon opened #1688 "[ENH] - Add a jupyter/minimal-notebook:python-3.10.x image"
### What docker image(s) is this feature applicable to?

minimal-notebook

### What changes are you proposing?

I would like to see a `jupyter/minimal-notebook:python-3.10.x` image.

### How does this affect the user?

They can use a newer Python version

### Anything else?

_No response_

[2022-04-25 15:29] Croydon commented on #1688
Generally asked: Where are Python versions declared in this repository?

 The `jupyter/minimal-notebook:python-3.9.x` images are missing the latest patch versions too

[2022-04-26 14:47] mathbunnyru commented on #1688
Hi, @Croydon!

This is where python comes from:
https://github.com/jupyter/docker-stacks/blob/master/base-notebook/Dockerfile#L100

We install latest Miniforge3 and currently it comes with python 3.9.
https://github.com/conda-forge/miniforge#miniforge3

As soon as this project decides that python3.10 should be used by default, we will automatically start using python 3.10.

[2022-05-01 14:36] maresb commented on #1539
I hope we can close this. I just took a look at the current run, and it seems that it stalled on the docker push stage? Better that stalling at the build stage like before, but I wonder what's wrong? Maybe cosmic rays... 😂

[2022-05-01 16:01] maresb commented on #1688
We have just removed Miniforge3 thanks to Micromamba, so unless something unexpected goes wrong in the coming days, we should be able to set the Python version ourselves now.

[2022-05-01 16:39] mathbunnyru commented on #1539
I think the reason is that during the push step we are reusing an old image, not just a freshly built one.
Yes, it's really bad.
I will restart build process a few times and hope stuck build/push problem goes away.
Then I'll close this issue.

[2022-05-01 16:50] mathbunnyru commented on #1669
Closing this issue - if someone is interested, please, ping me :)

[2022-05-01 16:50] #1669 closed

[2022-05-01 16:54] mathbunnyru commented on #1539
@maresb does setting `./micromamba config set extract_threads 1` sets this value for further `mamba` calls as well?
If it doesn't, then we will still see stuck builds, because initially we had problems with `mamba install` calls.

[2022-05-01 16:59] mathbunnyru commented on #1539
[code]

It seems that it does, so all should be good after several rebuilds.

[2022-05-01 17:34] maresb commented on #1539
I'm really confused about why _build_ commands are running in the push step in the first place. I vaguely get that the various images seem to be building `FROM` the DockerHub images instead of the fresh images, and I'm very glad you're working on it.

But why build a second time? Am I missing something obvious?

Also, just an idea, sorry if this is way too naive, but would it simplify everything t

[2022-05-01 17:44] mathbunnyru commented on #1539
I don't know the reason myself :(
It might happen because we're building in system arch first, then we build in amd64+aarch64 using buildx.
Maybe because we don't have enough space to store everything on disk.

This is a good suggestion. But we still have to work with amd64/aarch64 differences (for example, we're not building everything under aarch64).
Or, it doesn't make sense to build all and th

[2022-05-01 17:54] mathbunnyru commented on #1407
I think what we can do now, is not to create multi-platform images as well and make aarch64 tags look like this `jupyter/base-notebook:aarch64-latest` (just add prefix).
Users will have to use tags like this for aarch64 images, but at least our images will be reilable.

Right now, every update is a pain - I have to rebuild 5 times to get to the point, when images on DockerHub are the same, as if I

[2022-05-01 17:57] maresb commented on #1407
A simple-minded comment I posted under an unrelated issue, together with the response from @mathbunnyru:

This is a good suggestion. But we still have to work with amd64/aarch64 differences (for example, we're not building everything under aarch64).
Or, it doesn't make sense to build all and then test all. It makes sense to test as early as possible (otherwise you will have to wait all the builds

[2022-05-01 23:00] mathbunnyru commented on #1688
This one is fixed automatically by using micromamba.

[2022-05-01 23:23] mathbunnyru commented on #1539
I made some rebuilds, I think this should be enough and the issue should be finally resolved.
Thanks for all your efforts and patience @maresb!

[2022-05-02 10:43] mathbunnyru commented on #1539
@maresb could you please take a look here?
https://github.com/jupyter/docker-stacks/runs/6253380468?check_suite_focus=true

The build step was taking more than 3h30 min (normally it takes 2h now), so I cancelled it.
The last operation was `mamba install` for `aarch64` 😢

In the beginning, we can see `#6 [linux/arm64 1/7] FROM docker.io/jupyter/minimal-notebook@sha256:1979b6252a3f0e21d1bdc4654cd748

[2022-05-02 12:17] maresb commented on #1539
:cry:
I will look into this.

[2022-05-02 14:43] mathbunnyru commented on #1539
One more build is stuck as well :(
https://github.com/jupyter/docker-stacks/runs/6255802977?check_suite_focus=true

[2022-05-02 20:08] mathbunnyru commented on #1539
This is worse now than it was. It seems like it is always stuck now.

[2022-05-02 20:47] maresb commented on #1539
I am absolutely baffled. I've been running `docker run` on that line where it hangs, unable to reproduce the problem locally. Before I had no problem reproducing the issue locally.

[2022-05-02 20:48] mathbunnyru commented on #1539
Did you pull the latest minimal image?

[2022-05-02 20:48] maresb commented on #1539
I pulled by sha

[2022-05-02 20:49] maresb commented on #1539
At least I do have one remaining trick, which is to set that env var before the mamba command...

[2022-05-02 20:51] maresb commented on #1539
It's here: https://github.com/mamba-org/mamba/issues/1611#issuecomment-1112970540

`G_SLICE=always-malloc`

It's nasty to have to do that before each `RUN mamba install` though.

[2022-05-02 20:53] maresb commented on #1539
In particular, you'd do `RUN G_SLICE=always-malloc mamba install ...` and it works around some bug in QEMU which I don't really understand.

[2022-05-02 20:54] maresb commented on #1539
I'm going to try a few more long-shots to try and reproduce this locally.

[2022-05-02 20:55] maresb commented on #1539
Have you seen any failures with Micromamba or is it exclusively with Mamba on subsequent images?

[2022-05-02 20:58] mathbunnyru commented on #1539
I've seen it happen only on `mamba install`.

[2022-05-02 20:59] mathbunnyru commented on #1539
Is there a chance that `extract_threads` applies to micromamba only?

[2022-05-02 21:01] maresb commented on #1539
I was wondering about that... they share `libmamba` and I believe the changes are all there, so theoretically I believe the answer is yes, but I wanted to double-check that.

[2022-05-02 21:01] maresb commented on #1539
I'm a bit confused by this:

[code]

[2022-05-02 21:06] mathbunnyru commented on #1539
It's not in this file, but in this one: /home/jovyan/.condarc

[2022-05-02 21:08] maresb commented on #1539
Which then gets deleted somewhere!!! :sweat_smile:

[2022-05-02 21:10] mathbunnyru commented on #1539
`--platform=amd64` are you sure you want to run amd64 image?
I think you should use aarch64 or something like this.

[2022-05-02 21:13] maresb commented on #1539
Aaaahhhh! Sorry!!! What's wrong with me? I guess I'm panicking a little bit. :man_facepalming:

[2022-05-02 21:15] mathbunnyru commented on #1539
Please, check how arm images behaves, I'm sure you can do this better than me because you have a lot of experience with this issue.
May I also ask - when you tested, did you only check that micromamba is working fine or you checked mamba as well?

[2022-05-02 21:20] maresb commented on #1539
I got a bit mentally tripped up by the CI bug. I figured that I could test mamba by starting a batch of CI runs on my branch, as per your old suggestion. They all completed without hanging. Thus I mentally gave it a :heavy_check_mark:. Sometime later I noticed that the Mamba version was old, and then connected it up with the problem of CI pulling the old images. But I didn't mentally revoke the :h

[2022-05-02 21:21] mathbunnyru commented on #1539
I think we can try `ENV G_SLICE=always-malloc` in all dockerfiles (in all to avoid even pulling problems) and see if it works.

[2022-05-02 21:22] mathbunnyru commented on #1539
Or, we can figure a way to make mamba respect extract_threads setting (I think it doesn't now).

[2022-05-02 21:23] maresb commented on #1539
Do you want to try out `ENV G_SLICE=always-malloc` while I do the local testing?

[2022-05-02 21:27] mathbunnyru commented on #1539
Yes, I will draft a PR.

[2022-05-02 21:34] mathbunnyru commented on #1539
https://github.com/jupyter/docker-stacks/pull/1696

I'm going to sleep and will take a look tomorrow.
I currently think one successful build would be a good thing 😆

[2022-05-02 21:38] maresb commented on #1539
Thanks!!!

It probably goes without saying, but if this works then we'll want to pack it into an if statement within the run command, since I don't know what side-effects that envvar has. I'll see if I can spawn some additional runs of your PR on my branch before I got to bed myself.

[2022-05-06 20:07] remisalmon opened #1698 "[BUG] - Healthcheck fails when using self-signed SSL certificate"
### What docker image(s) are you using?

base-notebook

### OS system and architecture running docker image

Amazon Linux 2

### What Docker command are you running?

[code]

### How to Reproduce the problem?

1. Run the docker command above
2. Run `docker ps`, containers shows as `(unhealthy)`
3. Run `wget -O- --no-verbose --tries=1 --no-check-certificate http://localhost:8888/api`
4. Run `wget -

[2022-05-07 11:10] bgalvao commented on #1698
ah nice, this is what I was looking for 😄 . I think this is related to the issue I'm having and [posted on Discourse](https://discourse.jupyter.org/t/newer-scipy-notebook-version-3-3-4-with-gen-cert-yes-creates-ssl-errors-http-request-does-not-work-with-traefik-reverse-proxy/14148).

`scipy-notebook:lab-3.2.8` is still working fine, but `:lab-3.3.4` is failing because of this. +1

[2022-05-07 20:20] mathbunnyru commented on #1698
Hello, @remisalmon!

1. There is an option to not use healthcheck `--no-healthcheck`.

2. Also, my output to step 4 is different from yours - what I get is this:

[code]

Not, that this is a warning, not an error (and the exit code is 0).

3. We would be glad to accept the patch to make it work for `https` version. At the same time, I don't think it's gonna be beautiful to implement healthcheck as

[2022-05-12 13:29] mathbunnyru commented on #1539
Closing this one, finally 👍
Hope the upstream project will fix the issue and we will get rid of ugly code in our Dockerfiles.

[2022-05-12 13:29] #1539 closed

[2022-05-13 22:44] remisalmon commented on #1698
Thanks for the fix @mathbunnyru!

[2022-05-15 13:21] mathbunnyru commented on #1682
My guess would be that you have to have compatible versions between your spark image and workers - and it should be true both for `python` and `spark`.

I'm glad that you found a solution which works for you, so I'm closing this issue.

[2022-05-15 13:21] #1682 closed

[2022-05-15 13:27] mathbunnyru commented on #1680
@NicolasChaillou could you please write what you try to accomplish, how you do it, and what doesn't work (and you think it should).

As @minrk pointed out, `c.NotebookApp.allow_origin = 'https://colab.research.google.com/'` is not a proper default.
If you really want to have this, you can easily achieve this by basing your image on one of our images.

[2022-05-15 13:34] mathbunnyru commented on #1434
@amerenda sorry for not being able to help you.

Could you please check, that this was fixed for the latest versions and works well now?

[2022-05-17 15:42] trallard commented on #1650
🎉  it would be good if we could get on the OSS program

For the verified publisher programme this is what I found
1. https://www.docker.com/partners/programs/
2. https://docs.docker.com/docker-hub/publish/#:~:text=The%20Docker%20Verified%20and%20Publisher,components%20to%20build%20new%20applications.

From the Data sheet in the first link - it seems the minimum charge is almost 10K USD. So I wonde

[2022-05-17 15:55] trallard opened #1707 "[Discussion] - Adding jupyter/accessibility Docker image to org in DockerHub"
### What changes are you proposing?

Please note **I am not proposing a new docker-stack image** but something entirely different

A bit of context:
I am currently working on https://github.com/jupyter/accessibility and to move forward with some of the development work we have realised we need to create and maintain a set of Docker images.

I have been thinking about where these images should live

[2022-05-18 16:25] #1369 closed

[2022-05-19 14:21] alonme commented on #408
As discussed several times before, the base image supports adding `jovyan` to the sudoers as can be seen in the following snippet

https://github.com/jupyter/docker-stacks/blob/bcf5118cb72fbd42682d281bd17227bd9c47648a/base-notebook/start.sh#L157-L159

we had some problems with getting this to work, so we just added this command to our Dockerfile, to get sudo to work without a password

[2022-05-20 21:23] mathbunnyru commented on #1707
Could you please tell the purpose of these images and what they will contain?

[2022-05-21 12:12] zbig-t opened #1709 "[BUG] - Container fails health check when using non-empty "base_url""
### What docker image(s) are you using?

scipy-notebook

### OS system and architecture running docker image

VMware Photon OS/Linux/x86_64

### What Docker command are you running?

[code]

### How to Reproduce the problem?

Start a jupyter container with a non-empty `base_url` - either via `--NotebookApp.base_url` parameter in a `docker run` invocation or a `c.ServerApp.base_url` parameter in a

[2022-05-22 21:45] mathbunnyru commented on #1709
Hello!
Unfortunately, we can't provide healthcheck, which works in all cases (it will be to much parsing of config files).
If you really need to have healthcheck, use `--health-cmd CUSTOM_COMMAND`, where you add this base_url to our healthcheck.
If you don't want it at all, use `--no-healthcheck`

[2022-05-23 09:58] zbig-t commented on #1709
Hello

Thank you for your response and clarification, @mathbunnyru. This is not a problem and I kind of suspected that rectifying this programmatically could require adding complexity.

[2022-05-23 09:58] #1709 closed

[2022-05-25 15:23] mnp opened #1710 "[ENH] - Really minimal container"
### What docker image(s) is this feature applicable to?

base-notebook

### What changes are you proposing?

The `jupyter/minimal-notebook` image is 1.5 Gb in size. It contains a full ubuntu which is some 300 packages including python 2.7. By comparison, the `python:3.9-slim` and friends are about 129 mb.

Proposal:
 - Create an `jupyter/experimental-minimal` image based off one of the `python:xx-

[2022-05-26 12:38] mathbunnyru commented on #1710
Thank you for your proposal @mnp!

A few comments on your proposal:

Does it really contain `python 2.7`?
I've checked that it doesn't in the aarch64 image.

I'm not sure we should base on `python` docker images.
This will give a wrong impression, that we depend or use system python binary/package.
I think it would be better to base on `debian-slim`.
And another option is to be based on `alpine` i

[2022-05-26 12:43] benz0li commented on #1710
See https://github.com/jupyter/docker-stacks/issues/1242#issuecomment-785647782 ff.

[2022-05-26 12:52] mnp commented on #1710
This is the conversation I was hoping to have.  So yes, 2.7, 3.8.2, and hundreds of other packages lab users don't need are in there.

[code]

Etc.

What's the requirement here?  I'm assuming whoever packaged the python image knows what they're doing. This wold also address @benz0li 's link, where it appears the Alpine base might be unstable.

[2022-05-26 13:05] mathbunnyru commented on #1710
Sorry, my bad, I was checking base-notebook image.
And it indeed doesn't contain python system packages.

My guess would be that most of the packages come from installing texlive.
https://github.com/jupyter/docker-stacks/blob/master/minimal-notebook/Dockerfile#L33-L35
It definitely comes from this `apt install` command.

So, I think the main issue is not just in the base image we use, but also the

[2022-05-26 13:12] benz0li commented on #1710
@mnp See [debuerreotype-slimify](https://github.com/debuerreotype/debuerreotype/blob/master/scripts/debuerreotype-slimify) about the magic for `slim` variants.

– https://github.com/docker-library/docs/tree/master/debian

I find man pages handy.

[2022-05-26 15:20] mnp commented on #1710
@mathbunnyru @benz0li thank you for exploring options with me. I'm okay to close this ENH for now. If I make a slim image I'll post a PR to play with.

[2022-05-26 15:21] #1710 closed

[2022-05-27 16:18] mathbunnyru commented on #1650
I have arranged a meeting with Docker team.

The timeslot:
[code]

This is the message from Jeff Hadfield, he is DVP specialist.

[code]

@consideRatio could you join this meeting?
I should have asked you first before choosing timeslot, I'm sorry for my mistake.
I think this is a great opportunity to know about DVP program and if it would work well for `jupyter`.

[2022-05-27 17:45] consideRatio commented on #1650
@mathbunnyru sure I'll join, i've scheduled an entry for the meet in my calendar. If there is a video link or calendar entry already, you can invite me at erik@sundellopensource.se!

[2022-05-27 17:51] mathbunnyru commented on #1650
Great 👍
I've sent you an invitation and an email with some details.

[2022-05-28 14:18] #1688 closed

[2022-05-28 20:16] fauxneticien opened #1715 "[BUG] - ipywidgets in JupyterLab behaves different if installed in Dockerfile"
### What docker image(s) are you using?

base-notebook

### OS system and architecture running docker image

macOS/aarch64 (Mac Mini) + BinderHub

### What Docker command are you running?

`docker build . -t jupyter/base-notebook:lab-3.4.2_ipywidgets` and then `docker run --rm -p 8888:8888 jupyter/base-notebook:lab-3.4.2_ipywidgets`

Dockerfiles:

I have tried both:

[code]

and, trying to solve i

[2022-05-28 21:01] mathbunnyru commented on #1715
I've noticed one thing:
When you do `docker build . -t jupyter/base-notebook:lab-3.4.2_ipywidgets`, you build base-notebook on your own and you end up with fresh build.

When you build image from this:
[code]
you're using a prebuilt image.

So the comparison is not truly fair.

I tried 2 things:

1. Used the freshly built image:
[code]

2. Used your Dockerfile with our pre-built image.
[code]
When

[2022-05-28 21:19] mathbunnyru commented on #1715
You're using ipywidgets in jupyterlab console.
I don't think they are officially supported.
https://github.com/jupyter-widgets/ipywidgets/issues/2370

I have no idea though why they work when `!pip install` from the console itself.
As there is no support from the upstream, I think the best way for you is to switch to running your code in notebook, not in console.

I've checked and it works fine in

[2022-05-28 21:24] fauxneticien commented on #1715
I don't think they are officially supported.
https://github.com/jupyter-widgets/ipywidgets/issues/2370

Oh, I see — sorry, then I didn't come across this issue. I'll close this one...

Yep, same

As there is no support from the upstream, I think the best way for you is to switch to running your code in notebook, not in console.

Fair point. Indeed this makes jupyter lab far less appealing (as some

[2022-05-28 21:24] #1715 closed

[2022-05-30 09:16] florianbaer commented on #1019
Hi @mathbunnyru
According to https://github.com/actions/runner/issues/805 - ARM Runners are now pre-released. But it looks as if they are only available for self-hosted runners? What's the status of providing the DataScience Notebook with the arm tag?

[2022-05-30 10:26] mathbunnyru commented on #1019
Hi @florianbaer

1. First of all, for now, we don't have any self-hosted runners here and use buildx + QEMU to build arm images.
2. `datascience-notebook` actually builds fine under native aarch64 (I built it on my M1 Mac), but fails under qemu emulated environment.
3. I think the issue you mentioned doesn't help us. I mean, we don't specifically need macos aarch64, simple linux aarch64 would work

[2022-05-30 23:30] Croydon commented on #1688
Thanks everyone!

[2022-05-31 21:06] piotr-vimn opened #1718 "[BUG] - Docker image `jupyter/minimal-notebook:python-3.9.13` install python version 3.10"
### What docker image(s) are you using?

minimal-notebook

### OS system and architecture running docker image

linux/amd64

### What Docker command are you running?

n/a

### How to Reproduce the problem?

1. Open https://hub.docker.com/layers/minimal-notebook/jupyter/minimal-notebook/python-3.9.13/images/sha256-702125eb8fb0a6e20d55fc7314fba6421708060e37a7d67dee8bee0a5c1951ca?context=explore
2. C

[2022-06-01 15:05] brsolomon-deloitte opened #1719 "[BUG] - Changed Python version to 3.10 without respecting image tag immutability"
### What docker image(s) are you using?

all-spark-notebook

### OS system and architecture running docker image

Ubuntu

### What Docker command are you running?

n/a

### How to Reproduce the problem?

It appears that in https://github.com/jupyter/docker-stacks/commit/46c41283ba205fbc3f4525772d1d0f62bfb4075c the default Python version was changed from 3.9 to 3.10. This is not in itself a problem

[2022-06-01 17:31] #1719 closed, assigned to nobody

[2022-06-02 16:40] mathbunnyru commented on #1718
Unfortunately, this is a well-known issue.
Instead of building images on top of freshly built ones, we end up using images from dockerhub.
This makes many things really awkward or in many cases wrong.

https://github.com/jupyter/docker-stacks/issues/1407

We will definitely address this issue (see https://github.com/jupyter/docker-stacks/pull/1703), but this is not finished yet, because we don't h

[2022-06-02 16:40] #1718 closed

[2022-06-03 09:46] phish108 opened #1720 "[ENH] - Provide multi-platform docker images"
### What docker image(s) is this feature applicable to?

all-spark-notebook, base-notebook, datascience-notebook, minimal-notebook, pyspark-notebook, r-notebook, scipy-notebook, tensorflow-notebook, new community stack

### What changes are you proposing?

Docker containers need to run on a range of hardware architectures.

Please provide additional support for

- `linux/arm64`
- `linux/arm/v7`
-

[2022-06-04 08:53] phish108 commented on #1720
This seems entirely related to `linux/arm/vX` platforms. plain `linux/arm64` works. Closing.

[2022-06-04 08:53] #1720 closed

[2022-06-06 18:57] tandav opened #1721 "[BUG] - wrong python tags for `jupyter/pyspark-notebook`"
### What docker image(s) are you using?

pyspark-notebook

### OS system and architecture running docker image

Ubuntu20.04 aarch64

### What Docker command are you running?

`docker run --rm jupyter/pyspark-notebook:python-3.9.13 python --version`

### How to Reproduce the problem?

1. get list of `python-*` tags using dockerhub api ([script which I used](https://github.com/tandav/gists/blob/mast

[2022-06-06 19:02] mathbunnyru commented on #1721
Unfortunately, this is a well-known issue and tags and manifests do not work properly for aarch64.
There is some WIP to fix all that.

https://github.com/jupyter/docker-stacks/issues/1401

[2022-06-06 19:02] #1721 closed

[2022-06-07 06:38] avihaybar commented on #1530
I've seen this happen in other images too -
`jupyter/minimal-notebook:python-3.9.12` is actually python 3.9.13, while
`jupyter/minimal-notebook:python-3.9.13` is actually python 3.10.

[2022-06-13 17:16] verdurin opened #1723 "[BUG] - permission denied error with datascience-notebook"
### What docker image(s) are you using?

datascience-notebook

### OS system and architecture running docker image

Fedora CoreOS 35

### What Docker command are you running?

Whatever is the default in Zero To JupyterHub version 1.2.0...

### How to Reproduce the problem?

1. Launch an R server using the `datascience-notebook` image
2. Try to run an R command e.g. `capabilities()`

### Command ou

[2022-06-13 19:08] mathbunnyru commented on #1723
Hello @verdurin!

Could you reproduce this without `Zero To JupyterHub`?
It will be much easier to debug.

[2022-06-15 15:19] faultfactory opened #1726 "[ENH] - Add lxml to scipy base notebook for easy data scraping on html."
### What docker image(s) is this feature applicable to?

scipy-notebook

### What changes are you proposing?

- Add lxml to scipy-notebook for easy data scraping on html.

### How does this affect the user?

There are built in methods that pandas has to capture all of the tables in a web page into dataframes.  It only requires the lxml package to operate. Beautiful soup is great for exploring a pa

[2022-06-16 21:18] TPME opened #1728 "[BUG] - pip is not able to establish connection"
### What docker image(s) are you using?

tensorflow-notebook

### OS system and architecture running docker image

Windows 10

### What Docker command are you running?

docker-compose.yml:

[code]

### How to Reproduce the problem?

1. Start the docker container
2. Open a new terminal
3. Type `pip install tensorflow-recommenders` (or in fact, anything on pip)
4. The following error takes place:

[

[2022-06-17 13:24] Bidek56 commented on #1728
This seems to be your Docker or OS setup, it works fine for me.

`docker run --rm -it -p 8888:8888 -v $(PWD):/home/jovyan/work jupyter/pyspark-notebook`

`(base) jovyan@5dbb8fb19832:~$ pip install tensorflow-recommenders
Collecting tensorflow-recommenders
  Downloading tensorflow_recommenders-0.6.0-py3-none-any.whl (85 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.8/85.8 kB 4.3 MB/s eta 0:0

[2022-06-17 19:42] mathbunnyru commented on #1728
@TPME as @Bidek56 suggested, could you try to use `pip` on a host machine itself?
Are you able to access `files.pythonhosted.org`?

[2022-06-18 12:57] TPME commented on #1728
Are you using Windows 10?

[2022-06-18 13:04] TPME commented on #1728
Hey, yes that works fine using e.g. the WSL shell.

[2022-06-18 16:21] TPME commented on #1728
Unfortunately, neither reinstalling Docker Desktop nor trying another image works. Really bummed here :-/

[2022-06-18 16:44] TPME commented on #1728
After some intense googling sessions I've determined the cause and fix for the issue.

*Cause*
The problem lies in a DNS issue relating to a specific Docker Desktop version (potentially multiple) and Windows 10, which has nothing to do with this repo. I've discovered someone has a similar problem here: https://forums.docker.com/t/docker-dns-not-responding-from-inside-a-container/103982/2 resp. her

[2022-06-18 16:44] #1728 closed

[2022-06-21 18:31] Bidek56 commented on #1726
@faultfactory I would suggest extending the Docker image for your needs. Adding special libs will make the images larger and we are trying to avoid making it too large.

[2022-06-21 18:56] bjornjorgensen commented on #1726
The lxml package is 6,9 mb!
@faultfactory you can use
`!pip install lxml`
in a cell to install this.

[2022-06-21 19:40] faultfactory commented on #1726
Will do. I was just putting in because Pandas asked for it when i had an error on a built-in function

[2022-06-22 09:46] consideRatio commented on #1726
My intuition is that this is too specialized need to be shipped by default in this image which needs to draw a line for some things to not be part of it for sustainable maintenance.

[2022-06-29 14:34] mathbunnyru commented on #1650
@consideRatio may I ask you, did you apply for the open source Docker program?
During our call in the beginning of June, I had an impression, that this was definitely a good thing to have for us.

[2022-07-03 12:20] consideRatio commented on #1650
@mathbunnyru thanks for the ping! An application has now been submitted for jupyter + jupyterhub in combination.

![image](https://user-images.githubusercontent.com/3837114/177039428-f17aa33c-7535-41ca-aa7b-961974934a2a.png)

[2022-07-04 06:47] mathbunnyru commented on #1726
I also think that this is better to have in your custom image, rather than adding to all the images here.
I will close this issue.
@faultfactory ping us, if you need some help.

[2022-07-04 06:47] #1726 closed

[2022-07-04 06:48] mathbunnyru commented on #1680
Closing this one, because no reply was received.

[2022-07-04 06:48] #1680 closed

[2022-07-05 11:31] #1203 closed

[2022-07-05 11:31] #1401 closed

[2022-07-05 11:31] #1402 closed

[2022-07-05 11:31] #1407 closed

[2022-07-05 11:31] #1530 closed

[2022-07-05 18:50] mathbunnyru commented on #1664
I finally merged a PR with huge changes to our build system.
If there is an application for `Jupyter distinguished contributors`, I would definitely like to apply 😂

[2022-07-05 19:21] mathbunnyru commented on #1557
@sdwalker62 if you're still interested in this issue - we've changed our build system completely, so it should probable be easier now to add cuda based images.

[2022-07-05 19:29] mathbunnyru commented on #1434
@amerenda I'm closing this issue for now.
Please, reopen it and check with latest versions that you still have this problem.

[2022-07-05 19:29] #1434 closed

[2022-07-05 19:33] mathbunnyru commented on #925
Hi @navneetkrverma!
Unfortunately, I don't think this issue belongs to this project - it would be better to create an issue in jupyterhub repo, or, even better - in the repo of the spawner you use.
So, I'm closing this one.

[2022-07-05 19:33] #925 closed

[2022-07-05 20:07] mathbunnyru opened #1737 "[ENH] - Create multi-platform images"
### What docker image(s) is this feature applicable to?

all-spark-notebook, base-notebook, datascience-notebook, minimal-notebook, pyspark-notebook, r-notebook, scipy-notebook, tensorflow-notebook

### What changes are you proposing?

It would be great to merge `amd64` image with `aarch64` image with the same tag into a single multi-platform image

### How does this affect the user?

It would all

[2022-07-05 21:04] mathbunnyru commented on #1723
@verdurin could you check it once again please with latest docker images? (you will have to do `docker pull`)
And if possible, try to reproduce without `Zero To JupyterHub`.

[2022-07-07 10:16] mathbunnyru opened #1740 "Rename default branch from `master` to `main`"
I think this is what most repos in `jupyter` do.
We don't have my PRs or a lot of active work here right now, so I don't think it should cause many troubles to developers.

After rename I will also simplify `if master or main or schedule` conditions.

[2022-07-07 10:35] consideRatio commented on #1740
Lets do this! When you do the rename, note that _it should be done using the GitHub UI to avoid a lot of issues_ rather than by `git push` etc.

To do this, use the "Rename branch" button looking like a pencil:
![image](https://user-images.githubusercontent.com/3837114/177754115-d1a99138-c386-4014-b05b-12a6fccdbe5c.png)

[2022-07-07 10:41] mathbunnyru commented on #1740
Sure, this is exactly how I wanted to do it :)

[2022-07-07 10:43] mathbunnyru commented on #1740
Local update:

[code]

[2022-07-07 13:33] #1740 closed

[2022-07-07 14:25] ant0n1s opened #1742 "[BUG] - missmatch btw container tag and python version"
### What docker image(s) are you using?

minimal-notebook

### OS system and architecture running docker image

Ubuntu 20.04

### What Docker command are you running?

docker build fails

### How to Reproduce the problem?

build as base image with the version jupyter/minimal-notebook:python-3.9.12 works fine and fails with version jupyter/minimal-notebook:python-3.9.13

### Command output

_No res

[2022-07-07 16:54] mathbunnyru commented on #1742
Hello, @ant0n1s!

The image you are referring to, was built a month ago.
Unfortunately, we had an issue for a long time when instead of building image based on a freshly built image, we ended up using old parent image from DockerHub.
This issue was resolved just a few days ago, but we can't change old images, that's why their tags will always be incorrect.

I'm closing this issue, because we can't

[2022-07-07 16:58] mathbunnyru commented on #1740
@consideRatio I would like to change the default branch name here: https://github.com/jupyter/cookiecutter-docker-stacks
But I don't have admin permissions.
Could you give them to me, please?

[2022-07-07 17:16] mathbunnyru opened #1743 "Reimplement `cookiecutter-docker-stacks` without cookiecutter"
`cookiecutter-docker-stacks` is a project, which allows other people to easily create their custom images.
It uses `cookiecutter` to allow to use part of the repo as a template for newly created repo.

I would like to suggest another approach:
- No cookiecutter or another 3rd part technology.
- Actually implement working example of `custom-notebook`.
- Suggest people to fork the repo and just to c

[2022-07-09 11:06] lymedo opened #1746 "[ENH] - Delta Image"
### What docker image(s) is this feature applicable to?

all-spark-notebook

### What changes are you proposing?

Can we get an image with Delta included?

https://docs.delta.io/latest/quick-start.html

### How does this affect the user?

It would provide additional functionality.

### Anything else?

_No response_

[2022-07-09 12:37] mathbunnyru commented on #1746
@lymedo could you draft a PR for this feature?
I've seen a few people here wanting this package, so it might make sense to add it for everyone.
We will see the image size increase.
We even have the recipe to add this package: https://jupyter-docker-stacks.readthedocs.io/en/latest/using/recipes.html#enable-delta-lake-in-spark-notebooks

Also, I would suggest adding this package to `pyspark-notebook

[2022-07-09 12:38] mathbunnyru commented on #1707
@trallard I'm waiting for your reply here ;)

[2022-07-09 19:06] lymedo commented on #1746
@mathbunnyru I'm afraid that I'm a newbie to docker so I'm probably not the right person to draft the PR.

Thanks for the link to the recipe. I have a go at build that image locally.

[2022-07-09 20:45] bjornjorgensen commented on #1746
Delta Lake doesn't have support for [Spark 3.3.0](https://docs.delta.io/latest/releases.html) now

The best thing you can do is to use scipy-notebook then !pip install delta-spark

[2022-07-09 20:56] bo44arov opened #1747 "Update R to 4.2.1 version"
### What docker image(s) is this feature applicable to?

r-notebook

### What changes are you proposing?

- currently R version is 4.1.3. Update it please to the latest 4.2.1

### How does this affect the user?

- user will use the latest version of R language

### Anything else?

_No response_

[2022-07-10 06:34] mathbunnyru commented on #1747
Hello @bo44arov!

As you can see, we are not pinning any r version in Dockerfile.
https://github.com/jupyter/docker-stacks/blob/main/r-notebook/Dockerfile

Unfortunately, the latest version published to `conda-forge` is 4.1.3 at the moment: https://anaconda.org/conda-forge/r-base/files
There are several PRs with automatic updates of the version, but there seem to be some problem.
https://github.co

[2022-07-10 11:20] lymedo commented on #1746
I'd picked on on the Spark version for Delta so built the image using the following:

## Dockerfile
[code]

## Notebook
[code]

[code]

[code]

[2022-07-13 15:29] consideRatio commented on #1743
Thanks for thinking about this! I'm :+1: for this!!

I'm not clearly overviewing the kind of changes that can be relevant in this repo, but if this is mostly documentation etc that makes perfect sense to me! It sounds like a strategy that is easier to sustain maintenance wise.

[2022-07-14 13:14] mathbunnyru opened #1748 "Try DocsQA"
DocsQA contacted me about their product, which allows much better documentation search.
It creates a nice bot, which can answer user questions using existing documentation.
And it's free for open source projects.
They asked me to try it out.

Intro: https://jina.ai/docsQA-console/
Documentation: https://jina.ai/docsQA-console/documentation
Bot API: https://jina.ai/docsQA-ui/api/

[2022-07-14 20:18] nathancarter commented on #1737
I would love to see this.  Just to give an example of why it's important:

Just got an M1 Mac and tried to re-use a VS Code devcontainer I have that's based on jupyter/datascience-notebook.  A build script in one of my projects, which used to run just fine, now runs out of memory, because the AMD devcontainer is being run on an ARM chip and thus has to go through some semi-supported emulation busi

[2022-07-14 20:30] mathbunnyru commented on #1737
Thank you for sharing your use case.

I think right now you can use your have Dockerfile loke `FROM $BASE_CONTAINER` and have this `BASE_CONTAINER` set to different things for Mac and PC, if it's possible.
I know it's not ideal, but if it works, it's not that bad.

[2022-07-16 01:59] iaSalazar commented on #1680
I want to host the spark image in one of my GCP instances but i cannot upload or create folders in it when I access Jupyter from my personal pc, I came across this thread.

I tried modifying the config.py file with:

c.NotebookApp.allow_origin = '*'
c.NotebookApp.ip = '0.0.0.0'

but the issue persist.

Any ideas how can achieve that? @mathbunnyru I did not wanted to open a new issue but i think it

[2022-07-17 08:18] mathbunnyru commented on #1680
@iaSalazar have you tried running jupyter manually (not from docker)?
I'm not sure if this issue is docker-related or not.

[2022-07-17 11:07] trallard commented on #1707
Oops thanks for the ping @mathbunnyru

Purpose: we are working on a series of tools to diagnose accessibility issues in JupyterLab, Retrolab and notebook.
There are significant challenges to get the development environment right due to the mixture of JS and Python dependencies so a Docker image with all these prerequisites and the suitable confs will make the team and contributors workflow much sm

[2022-07-18 19:54] KatlehoJordan opened #1752 "[BUG] - Unable to connect to all-spark-notebook URL"
### What docker image(s) are you using?

all-spark-notebook

### OS system and architecture running docker image

Windows 10 Home with WSL2

### What Docker command are you running?

As per the tutorial for the `all-spark-notebook` [here](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/running.html):
[code]

All outputs match those shown in the tutorial. However, if I try to copy and

[2022-07-18 20:27] #1752 closed

[2022-07-21 18:33] mathbunnyru commented on #1743
My WIP: https://github.com/mathbunnyru/custom-notebook-image
Built image: https://hub.docker.com/repository/docker/mathbunnyru/custom-notebook

Current TODO-list: https://github.com/mathbunnyru/custom-notebook-image/issues/1

[2022-07-25 20:00] benz0li opened #1754 "[ENH] - Remove inkscape"
### What docker image(s) is this feature applicable to?

minimal-notebook

### What changes are you proposing?

Remove inkscape from `minimal-notebook`.

### How does this affect the user?

Smaller size; less dependencies.

Images based on `minimal-notebook` will profit, too.

### Anything else?

See also https://github.com/JuliaLang/IJulia.jl/pull/1038#issuecomment-1194523666 on how to configure

[2022-07-26 08:51] msemelman commented on #1737
Not sure if it completely fits current building setup, but maybe buildx could be used to simplify this:

https://docs.docker.com/build/buildx/

[2022-07-26 11:00] ionicsolutions opened #1756 "[BUG] - pyspark-notebook no longer builds for Spark 3.1.3, 3.1.2, 2.4.8"
### What docker image(s) are you using?

pyspark-notebook

### OS system and architecture running docker image

any

### What Docker command are you running?

[code]

### How to Reproduce the problem?

Building the `pyspark-notebook` Docker image for 3.1.3 (as well as 3.1.2 or 2.4.8) is no longer possible as PR #1727 introduced a mandatory `${scala_version}` variable to the file path that's used t

[2022-07-26 11:02] ionicsolutions commented on #1756
Pinging @Bidek56, @mathbunnyru as the author/reviewer of PR #1727 that appears to have introduced this breaking change.

[2022-07-26 11:19] Bidek56 commented on #1756
@ionicsolutions It's not a bug it's a known feature that is [documented](https://github.com/jupyter/docker-stacks/blob/e862dc9005d77128d829f4b6ae27532d967222c3/docs/using/specifics.md).
The reason for the change is the fact that [Apache](https://spark.apache.org/downloads.html) started to release builds for a specific Scala version.
If you need to build with prior version of Spark, please use a pr

[2022-07-26 11:27] ionicsolutions commented on #1756
Thanks for the quick response! I'm aware that Apache started to release builds for specific Scala versions but don't you think that at least the currently maintained versions of Spark should be supported? The Anovos project was quite surprised by the sudden failure of their notebook builds, everything used to be fine until about a month ago.

Even 3.2.2 comes with archives that do not specifiy a S

[2022-07-26 11:48] Bidek56 commented on #1756
It makes sense, want to do a PR? Thanks

[2022-07-26 12:38] Bidek56 commented on #1754
Do you think some users are expecting the PDF functionality in the `minimal-notebook`?

[2022-07-26 12:46] Bidek56 commented on #1756
@ionicsolutions How would you structure the `if`?
Because we can have Spark 3.3 with Scala 2.12 or 2.13 but older versions only work with Scala 2.12
We want to default to Scala 2.13 since it's the latest but for older versions we need to use Scala 2.12 and Java 11, not 17.
It's gets complex quickly and we need to make sure it works for all. :)

[2022-07-26 13:37] ionicsolutions commented on #1756
@Bidek56 I'll see whether there's a way to solve it at least for 3.1 and 3.2. Or we need to convince the Apache Spark folks to add some symlinks ;-)

[2022-07-26 13:37] benz0li commented on #1754
ℹ️ The `minimal-notebook` currently contains three versions of `python`:

1.  `/opt/conda/bin/python3.10`
1.  `/usr/bin/python3.8`
    *  required by `texlive-xetex`
1.  `/usr/bin/python2.7`
    *  required by `inkscape`

👉 To further optimize the `minimal-notebook`, `texlive-xetex` _could_ be replaced by a variation of [TinyTeX](https://yihui.org/tinytex/).

[2022-07-26 13:48] Bidek56 commented on #1756
Asking Apache team to make a change will be a challenge but good luck.
I think you are better off asking end users to upgrade to Spark 3.3 and Scala 2.13. :)

[2022-07-26 13:52] Bidek56 commented on #1754
@benz0li I would suggest creating a PR and see what the community reaction is to this change.

[2022-07-26 13:57] Bidek56 commented on #1754
I would tag @parente on this PR since he added `inkscape` based on this [issue](https://github.com/jupyter/docker-stacks/issues/243).

[2022-07-26 14:16] bjornjorgensen commented on #1756
"pyspark-notebook no longer builds for Spark 3.1.3, 3.1.2, 2.4.8"

It`s only [Spark 3.1.3](https://spark.apache.org/downloads.html) that are supported by Spark for now.

Any reasons you need outdated software?

[2022-07-26 14:26] ionicsolutions commented on #1756
@bjornjorgensen 3.2.2 doesn't work either, it has a similar issue (Apache doesn't specify Scala 2.12 for 3.2.x in the filename, they just omit the Scala version entirely).

That said, the Anovos project by Mobilewalla (for which I'm contracted as an external advisor) supports older versions of Spark as they are apparently still in use in many enterprise settings. They even support 2.4.x... Hence,

[2022-07-26 14:38] bjornjorgensen commented on #1756
@Bidek56 [SO dockerfile if else condition with external arguments](https://stackoverflow.com/questions/43654656/dockerfile-if-else-condition-with-external-arguments)

[2022-07-26 14:45] Bidek56 commented on #1756
@bjornjorgensen How would you structure the `if`? Since we need to support multiple Scala, Spark and Java versions.

[2022-07-26 14:53] ionicsolutions commented on #1756
@Bidek56 I think the only issue that needs to be solved that if Scala is set to 2.12 (or is left blank) it has to be omitted from the filename for versions prior to 3.3.x. Then it would be possible to install all currently maintained versions of Spark in the various configurations made available by the Apache Spark project.

[2022-07-26 15:02] Bidek56 commented on #1756
@ionicsolutions Are you aware that pre-build and tagged images are available in the [hub](https://hub.docker.com/r/jupyter/pyspark-notebook/tags?page=1)?

[2022-07-26 15:05] ionicsolutions commented on #1756
@Bidek56 Yes, I'm aware of that but it doesn't help in the case I'm concerned with, as I'm building up different custom base images that are not provided pre-built (e.g. specific versions of Python). It looks like the best way forward might just be that I copy the "last good version" of this particular Dockerfile until the Anovos project eventually makes its way to 3.3.

[2022-07-26 15:12] Bidek56 commented on #1756
@ionicsolutions You are welcome to submit a PR, we just need to structure the `if` to handle all the possible cases.

[2022-07-26 17:23] bjornjorgensen commented on #1756
Something like this then
[code]

[2022-07-26 17:55] Bidek56 commented on #1756
We are defaulting `ARG scala_version="2.13"` so `RUN if [ -z "$scala_version" ]` will always be false.

[2022-07-26 18:01] mathbunnyru commented on #1756
My two cents:

In this repository, by default we only support the latest versions of the software and if someone needs the old versions they usually end up using old tag.
At the same time, it's fine to add some code to support old versions for a while (if people really need this).
So, if someone wants this feature, please make a PR and I will take a look.

Normally, I would not recommend this, bec

[2022-07-26 18:05] mathbunnyru commented on #1737
Unfortunately, `docker buildx` didn't work for us and created many issues and they were leading to bugs and very unpleasant things.
So far, current solution only has this issue.
You can see the details here and in the relevant issues: https://github.com/jupyter/docker-stacks/pull/1703

[2022-07-26 18:11] mathbunnyru commented on #1754
We have a test for `nbconvert` https://github.com/jupyter/docker-stacks/blob/main/tests/minimal-notebook/test_nbconvert.py.
I guess if it works without `Inkscape`, then we should be fine removing it.

[2022-07-26 18:13] bjornjorgensen commented on #1756
@mathbunnyru Yes, but there are cases where someone will have spark 3.3.0 java 17 and scala 2.12 instead of scala 2.13

[2022-07-26 20:48] mathbunnyru commented on #1756
Sure, code should ideally deal with the possible cases in the easiest way possible.

[2022-07-26 20:59] johnfelipe opened #1758 "[BUG] - ImportError: cannot import name 'secure_write' issue"
### What docker image(s) are you using?

all-spark-notebook

### OS system and architecture running docker image

Ubuntu 20

### What Docker command are you running?

docker-compose up -d

this is my files:

https://gist.github.com/4027bf012734c0c13c5c80093beb92fa

https://gist.github.com/dbd89454c61e16d9f3b0682362130d01

https://gist.github.com/45079140e11aa72bb697b69799cdd809

[code]

### How to

[2022-07-26 21:03] mathbunnyru commented on #1758
I see `opt/conda/envs/python36` in your logs.
Unfortunately, this means you're using an old python version which is already EOL.
I think the best thing to do is to start using more modern python.
https://endoflife.date/python

[2022-07-26 21:07] johnfelipe commented on #1758
Can u help me with versions for edit my files?

El mar, 26 de jul. de 2022, 4:03 p. m., Ayaz Salikhov <
***@***.***> escribió:

[2022-07-26 21:09] mathbunnyru commented on #1758
https://gist.github.com/johnfelipe/dbd89454c61e16d9f3b0682362130d01

[code]

I think you should change these variables, rebuild everything and you should be fine.

[2022-07-26 21:12] johnfelipe commented on #1758
3.8?
Or
3.7...

El mar, 26 de jul. de 2022, 4:09 p. m., Ayaz Salikhov <
***@***.***> escribió:

[2022-07-26 23:33] johnfelipe commented on #1758
i select 3.7, but this is my issue now

[code]

[2022-07-26 23:52] johnfelipe commented on #1758
solved

spark:3.3.0

[2022-07-26 23:52] #1758 closed

[2022-07-27 04:17] wsphd opened #1759 "[ENH] - Add `r-arrow` to both `datascience-notebook` and `r-notebook`"
### What docker image(s) is this feature applicable to?

datascience-notebook, r-notebook

### What changes are you proposing?

Add the [arrow](https://cran.r-project.org/web/packages/arrow/index.html) package to both ../datascience-notebook and ../r-notebook

### How does this affect the user?

Arrow is already in ../pyspark-notebook in this repo and Arrow is increasingly needed to obtain .parque

[2022-07-27 05:55] benz0li commented on #1754
I am maintaining my own Docker Stacks based on Debian, Python-only, including code-server.
ℹ️ Just sharing my findings with the community. It is up the developers @jupyter what to do.

[2022-07-27 07:05] consideRatio commented on #1754
To me, the findings in https://github.com/jupyter/docker-stacks/issues/1754#issuecomment-1195484696 is a very strong case for removing inkscape.

For the sustainability of this project, cleaning up legacy packages parts as times goes is relevant. I figure anything that installs dedicated python versions is extra costly and if users depending on such could switch to something else it would be impac

[2022-07-27 07:16] benz0li commented on #1754
@mathbunnyru @consideRatio If you remove `inkscape`, do not forget to configure `IPython` and `IRkernel` to output both `image/svg+xml` and `application/pdf` plot formats in the notebook file.
ℹ️ See also https://github.com/JuliaLang/IJulia.jl/pull/1038#issuecomment-1194523666 for more information.

I have not found solution for `IJulia` yet.

[2022-07-27 08:04] benz0li commented on #1710
@mnp See https://github.com/jupyter/docker-stacks/issues/1754 on removing `inkscape` [and `python2.7`].

---

`python3.8` is required by `texlive-xetex`. The latter together with

–  https://github.com/jupyter/docker-stacks/issues/1754#issuecomment-1195495919

[2022-07-27 13:43] ionicsolutions commented on #1756
@mathbunnyru But there is no alternative, really? Unless I want to stick to an old version of `docker-stacks` for all images (which is what I'm currently doing as a workaround) I'll have to keep a copy of the `pyspark-notebook` Dockerfile that is capable of downloading old versions of Spark.

[2022-07-27 14:20] mathbunnyru commented on #1756
There is definitely an alternative.
It's happening right now in https://github.com/jupyter/docker-stacks/pull/1757
We can support both new and old spark versions downloads in a single Dockerfile.

[2022-07-27 18:51] #1756 closed

[2022-07-27 19:00] mathbunnyru commented on #1759
I think `py-arrow` in present in `pyspark-notebook`, because `pyspark-notebook` is created specifically for spark users.
At the same time `r-notebook` is about more general `r` related packages.

I would suggest using a child docker image based on the provided ones and to add all the extra packages you need.
https://jupyter-docker-stacks.readthedocs.io/en/latest/using/recipes.html#using-mamba-inst

[2022-07-28 08:55] ionicsolutions commented on #1756
@bjornjorgensen @Bidek56 @mathbunnyru Thank you so much for the quick solution and your awesome work around `docker-stacks`!

[2022-08-01 12:23] mathbunnyru commented on #1759
Closing this issue as we probably won't be adding this package to the mentioned images and there is a better way.

[2022-08-01 12:23] #1759 closed

[2022-08-01 13:06] tdudgeon opened #1760 "[BUG] - misconfiguration of port and ip seetings in jupyter_notebook_config.py"
### What docker image(s) are you using?

minimal-notebook, tensorflow-notebook

### OS system and architecture running docker image

Ubuntu x86_64

### What Docker command are you running?

Running in K8S

### How to Reproduce the problem?

Compare running jupyter/minimal-notebook:latest and jupyter/tensorflow-notebook:latest

Both types launch OK but only the minimal notebook is reachable. Both a

[2022-08-01 13:29] mathbunnyru commented on #1760
Could you reproduce this issue without k8s?
This way it will be easier for maintainers to fix the issue.

[2022-08-01 13:40] consideRatio commented on #1760
I suspect that a very modern version of the JupyterHub Helm chart could be used, where JupyterHub 2+ is used etc where configuration like port/ip isn't something that should be provided any more at all.

These are all warnings and no real errors though.

[2022-08-01 16:09] tdudgeon opened #1761 "[BUG] - Specifying --config doesn't work with server 1.18.1"
### What docker image(s) are you using?

minimal-notebook

### OS system and architecture running docker image

Ubuntu x86_64

### What Docker command are you running?

docker run -it --rm -p 8888:8888 -v "$(pwd)"/jupyter_notebook_config.json:/home/jovyan/jupyter_notebook_config.json jupyter/minimal-notebook@sha256:0f18656bdf861cf811b5489a2a2970d6aa81119bd7d25312584550feea98e154 bash -c "jupyter l

[2022-08-01 16:12] tdudgeon commented on #1760
I was unable to reproduce with plain docker, but those investigations showed that the problem was probably a different bug that I've described in #1761

[2022-08-02 14:19] Zhiwei-Zhai commented on #1056
Thanks @dvdblk ! It works for me.

[2022-08-02 19:53] Bidek56 commented on #1761
@tdudgeon Why do you think this is an issue with the Docker stacks not jupyter_server?
If it's an issue with jupyter_server than this issue belongs in [jupyter_server GH](https://github.com/jupyter-server/jupyter_server), not here.
Have you tried jupyter_server 1.18.1 locally?
Have you tried jupyter_server [2.0](https://github.com/jupyter-server/jupyter_server/blob/main/CHANGELOG.md#200b0) to see

[2022-08-02 21:46] Bidek56 commented on #1761
Creating `lab_config.py` with

[code]

Then using:

`docker run -it --rm -p 8888:8888 -v "$(pwd)"/lab_config.py:/home/jovyan/.jupyter/jupyter_lab_config.py jupyter/pyspark-notebook`

works just fine with `jupyter-server===1.18.1`

[2022-08-03 15:54] mathbunnyru commented on #1761
Another way of fixing this issue for me was to add `"ip": "0.0.0.0"` to your json config.
This is what we do in our config as well.

[2022-08-03 16:07] mathbunnyru commented on #1761
I've checked the jupyter-server docs and in the example they recommend setting an `ip` as I did above.
I think what happens when you don't set this value, is that jupyter attaches to localhost inside docker, that's why port forwarding doesn't work.
It might have been a breaking change in this release.

You also won't see this behaviour when running not in docker, because `localhost` will be the sa

[2022-08-03 16:07] #1761 closed

[2022-08-03 16:12] mathbunnyru commented on #1760
@tdudgeon could you please check that the solution in #1761 worked for you here as well?

[2022-08-04 08:29] tdudgeon commented on #1761
Confirmed. Using `"ip": "0.0.0.0"` in the json config file solves the problem.

[2022-08-04 08:30] #1760 closed

[2022-08-04 20:20] veghp opened #1763 "[BUG] - Docker image jupyter/base-notebook:python-3.9.12 has Python version 3.9.13"
### What docker image(s) are you using?

base-notebook

### OS system and architecture running docker image

Ubuntu 20.04 x86_64

### What Docker command are you running?

`docker run -p 8888:8888 jupyter/base-notebook:python-3.9.12`

### How to Reproduce the problem?

[code]

### Command output

[code]
[code]

[2022-08-04 20:30] mathbunnyru commented on #1763
Unfortunately, this image was built around 2 months ago.
For many months our build system was misbehaving in the build process.

I was only able to fix it a month ago.
https://github.com/jupyter/docker-stacks/pull/1703

The best you can do is to select the image which works for you and ignore the tags for old images.

[2022-08-04 20:30] #1763 closed

[2022-08-08 13:50] mathbunnyru commented on #1746
The PR was merged, waiting for a release.

[2022-08-08 13:53] mathbunnyru commented on #1747
I see that r-base 4.2.1 was published to conda-forge.
https://anaconda.org/conda-forge/r-base/files

But still, 4.1.3 is installed by default.
I think it's because we install many r packages and we will have to wait until all of them start supporting new version.
I hope it's not gonna take a lot of time.

[2022-08-08 21:18] Bidek56 commented on #1746
Databricks [11.1](https://docs.databricks.com/release-notes/runtime/11.1.html) has support for Spark 3.3.0 and Delta Lake: 2.0.0 already with this [merge](https://github.com/delta-io/delta/commit/2d47ffdaa3f3f18804d1c2e7d8c0c4262b1564df).

[2022-08-09 08:07] bo44arov commented on #1747
ok, thanks for update

[2022-08-09 08:07] #1747 closed

[2022-08-09 12:53] twalcari opened #1767 "[BUG] - Reporting to JupyterHub fails with "RuntimeError: can't start new thread""
### What docker image(s) are you using?

base-notebook

### OS system and architecture running docker image

Tested on both Ubuntu 18.04 and Ubuntu 22.04

### What Docker command are you running?

*Image:* jupyter/base-notebook:0fd03d9356de
*Command:* start-notebook.sh --notebook-dir=/ --SingleUserNotebookApp.default_url='/lab/tree/project_antwerp'
*User*: root
*Environment:*
GRANT_SUDO = yes
JPY_

[2022-08-10 09:04] twalcari commented on #1767
Apparently, this was caused by an older version of Docker running on the node on which this container was deployed. More info: https://medium.com/nttlabs/ubuntu-21-10-and-fedora-35-do-not-work-on-docker-20-10-9-1cd439d9921

[2022-08-10 09:04] #1767 closed

[2022-08-10 22:19] 0nebody opened #1771 "[BUG] - Startup issues with low CPU allocation"
### What docker image(s) are you using?

base-notebook

### OS system and architecture running docker image

linux/amd64

### What Docker command are you running?

docker run -v $PWD:/home/jovyan -p 8888:8888 --memory=1000m --cpus=0.5 jupyter/base-notebook:lab-3.4.4

### How to Reproduce the problem?

1. Dock run with half a CPU
2. Visit http://127.0.0.1:8888
3. Start and save 7 empty python noteb

[2022-08-12 09:34] mathbunnyru commented on #1056
@throny could you please tell us what is not fixed?
We have docs describing how to generate hashed password and then how to use it.
It works well for me.

https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html

[2022-08-12 09:39] throny commented on #1056
@mathbunnyru I didn't meant you nor this project! Sorry if that was irritating, I meant the official tensorflow docker with jupyter tag.. Thanks to this issue I found a way to fix our issue.

[2022-08-12 10:19] mathbunnyru commented on #1056
Ah, ok :)
I'm glad to know our project works as expected :)

[2022-08-18 16:22] Bidek56 commented on #1771
Why do you think tornado and nest-asyncio fixes the issue?
Do later version of tornado and nest-asyncio work as well?
Thx

[2022-08-18 22:14] 0nebody commented on #1771
It does not fix the issue, but it makes it much less common. Only a couple of percent of launches will fail after using the versions specified. This is the simplest reproducible case that I could create for this issue. Is it something that you can also reproduce?

I believe it is probably related to the following issue https://github.com/jupyterlab/jupyterlab/issues/11934

[2022-08-19 12:26] Bidek56 commented on #1771
This is a jupyterlab [issue](https://github.com/jupyterlab/jupyterlab/issues/11934#issuecomment-1209235465) which will be fixed in the future.
If you need it sooner please submit a jupyterlab PR based on this [issue](https://github.com/jupyterlab/jupyterlab/issues/11934).

[2022-08-19 19:47] Bidek56 commented on #1771
There seems to be a [PR](https://github.com/jupyter/jupyter_client/pull/823) for this issue already.

[2022-08-19 19:53] Bidek56 commented on #947
@gary-lloyd Have tried the latest images with Spark 3.3 on K8s? Is this still an issue? Thx

[2022-08-20 06:17] mathbunnyru commented on #1754
Fixed in https://github.com/jupyter/docker-stacks/pull/1765

[2022-08-20 06:17] #1754 closed

[2022-08-21 16:06] TBrannan opened #1775 "[BUG] - java & pyspark not pre-installed?"
### What docker image(s) are you using?

pyspark-notebook

### OS system and architecture running docker image

windows 11

### What Docker command are you running?

docker run --name pyspark -p 8888:8888 jupyter/scipy-notebook:latest

### How to Reproduce the problem?

from pyspark.sql import *

spark = SparkSession.builder.appName('PySpark Read CSV').getOrCreate()

# Reading csv file
df = spark.

[2022-08-21 16:08] mathbunnyru commented on #1775
In the docker command you're using `scipy-notebook`. This is a typo, right?

[2022-08-21 16:16] Bidek56 commented on #1775
Please use **jupyter/pyspark-notebook** instead. Thx

`docker run --rm -it -p 8888:8888 -v $(PWD):/home/jovyan/work jupyter/pyspark-notebook`

[2022-08-21 16:30] TBrannan commented on #1775
oops, I was definitely pulling the wrong docker container. I pulled the correct container and it works as expected. apologies.

[2022-08-21 16:30] #1775 closed

[2022-08-21 18:05] mathbunnyru commented on #1771
Thank you @Bidek56.
We will wait for the upstream fix then.

[2022-08-22 11:43] mathbunnyru commented on #1743
I implemented everything another way.
https://github.com/mathbunnyru/custom-notebook

I created the `upstream_project` branch, where a full copy of the upstream project is stored.
In the `main` branch there are only files which might be needed for your own custom image.

Built image: https://hub.docker.com/repository/docker/mathbunnyru/custom-notebook

Our use-case:
1. Pull the upstream changes to

[2022-08-22 13:01] consideRatio commented on #1743
@mathbunnyru I think a clear proposal like suggesting users that want to make their own image fork and maintain a fork is very reasonable. I tried visiting https://github.com/mathbunnyru/custom-notebook and https://github.com/mathbunnyru/custom-notebook-image but got 404 - are they private? But, if they were found, what should i review more specifically in them - assuming they are forks and mostly

[2022-08-22 13:04] mathbunnyru commented on #1743
They are not forks of this repo (otherwise people will not be able to have fork of the original repo if they need).
First one is public and should work (https://github.com/mathbunnyru/custom-notebook).
Could you try once more please?

I would like you to look at the structure of the repo and the files.

[2022-08-22 14:29] consideRatio commented on #1743
Ah, the proposal is to provide an centralized example project that whoever clones can keep keep updated with a centrally maintained example project.

I think very critical is to define what should be part of the central project then, and looking at the proposed central example project, I'm afraid that bundling tests/tagging/formatting&linting from jupyter/docker-stacks will be unsustainable.

I th

[2022-08-22 14:33] mathbunnyru commented on #1743
Thank you, Erik!
I understand your point.

I wanted to provide something "production-ready" to make our example project work for people, who intend to create their own docker images for many users and so on.
Do you think we should simply drop all the tests, tagging, formatting&linting?

[2022-08-23 19:58] lima4658 commented on #1306
Using a login shell could also be a solution.

Needed modifications in Dockerfile:

All notebooks:

- SHELL ["/bin/bash", "-o", "pipefail", **"-l"**, "-c"]

Base notebook only:

- CMD [**"/bin/bash", "-l"**, "start-notebook.sh"]

- Place desired flexible environment variables (CONDA_DIR, PATH, SHELL, LC_ALL, LANG, LANGUAGE ...) in a file (e.g. 00-base-notebook.sh) in directory /etc/profile.d.

Due

[2022-08-24 22:14] gabriel-milan opened #1777 "[BUG] - Wrong python executable when using custom kernels"
### What docker image(s) are you using?

base-notebook

### OS system and architecture running docker image

Zorin OS/amd64

### What Docker command are you running?

I'm trying to add a few custom kernels to the image (as described below) but it doesn't seem to work (the wrong python executable gets called)

### How to Reproduce the problem?

1. Write a Dockerfile that inherits from `jupyter/base

[2022-08-24 22:21] #1777 closed

[2022-08-26 14:15] guigoruiz1 opened #1778 "[BUG] - No websocket connection when running on synology NAS in bridge network"
### What docker image(s) are you using?

scipy-notebook

### OS system and architecture running docker image

Sinology DSM 7.0

### What Docker command are you running?

docker run -p 8888:8888 jupyter/scipy-notebook:latest

### How to Reproduce the problem?

visit the port 8888 on the NAS IP address (http://192.168.X.Y:8888) and try opening a terminal or starting a kernel.

Kernel does not connec

[2022-08-26 19:17] guigoruiz1 commented on #1778
Minor update: I have accessed it directly via the IP of the container using a static route and the problem persists

[2022-08-26 21:39] Bidek56 commented on #1778
This command works fine on Mac, Linux and Win: `docker run -p 8888:8888 jupyter/scipy-notebook:latest` and I am able to connect to the hub using `http://127.0.0.1:8888/lab?token=foo`
This question may be more appropriate for [SO](https://stackoverflow.com/search?q=%5Bsynology%5D+docker).
Have you looked at the help [pages](https://kb.synology.com/en-my/DSM/help/Docker/docker_network?version=7) for

[2022-08-27 12:07] guigoruiz1 commented on #1778
Indeed, it works on my Mac. I have looked at all the links I could find but had no luck yet. I've posted it to stack overflow: https://stackoverflow.com/questions/73507035/no-websocket-connection-for-jupyter-notebook-when-running-on-synology-nas-in-bri

[2022-08-27 13:37] Bidek56 commented on #1778
Have you tried with a simpler container like [Nginx](https://hub.docker.com/_/nginx) to see if it's a Synology, Docker or image problem? For SO you may want to create a [MRE](https://stackoverflow.com/help/minimal-reproducible-example)

[2022-08-27 14:28] guigoruiz1 commented on #1778
I have just tried with Portainer and it also has the same issue if I try to open a console... So it's indeed not a jupyter issue.

[2022-08-27 16:20] Bidek56 commented on #1778
You may want to close this ticket then. Thx

[2022-08-27 17:53] #1778 closed

[2022-08-28 22:21] consideRatio commented on #1650
Progress! The Jupyter organization on dockerhub and the JupyterHub organization on dockerhub got accepted into the program! I wrote about it in https://github.com/jupyterhub/team-compass/issues/559!

[2022-09-01 05:43] mathbunnyru commented on #1650
We joined Docker Open Source program. I don't think there is a plan to become a verified publisher though (it will require us to pay for).

[2022-09-02 01:16] tiaden opened #1779 "[BUG] - Docker images for ubuntu 20.04 not updated"
### What docker image(s) are you using?

base-notebook, datascience-notebook, minimal-notebook, pyspark-notebook, r-notebook, scipy-notebook, tensorflow-notebook

### OS system and architecture running docker image

amd64

### What Docker command are you running?

On dockerhub, the last ubuntu 20.04 images are a month old. Are you planning on supporting ubuntu 20.04 images ?

### How to Reproduce

[2022-09-02 05:14] mathbunnyru commented on #1779
Hello @tiaden.
This is not a bug, but intended behaviour. We only build one set of images and do not build several versions of any software.
The way we choose ubuntu version is described here: https://jupyter-docker-stacks.readthedocs.io/en/latest/maintaining/tasks.html#updating-the-ubuntu-base-image

[2022-09-02 05:14] #1779 closed

[2022-09-06 08:34] galimba39 opened #1781 "[ENH] - Exposing the Spark UI port"
### What docker image(s) is this feature applicable to?

pyspark-notebook

### What changes are you proposing?

It would be useful for pyspark/spark users to expose the SparkUI port 4040 (please refer to this [https://spark.apache.org/docs/latest/monitoring.html](url)).

### How does this affect the user?

- Improve the overall Pyspark experience as a user

### Anything else?

_No response_

[2022-09-06 08:37] bjornjorgensen commented on #1781
https://jupyter-docker-stacks.readthedocs.io/en/latest/using/specifics.html#apache-spark

[2022-09-06 11:01] galimba39 commented on #1781
I am not sure I have understood correctly your answer @bjornjorgensen but I'll try to expand my reasoning below.
I was thinking to expose it to make the interaction with the Docker Desktop more confortable.
Something like this

![image](https://user-images.githubusercontent.com/42516847/188617533-5807a86b-c501-44b4-8f9d-5c9e11f0ca49.png)

comes in handy when you plan to add different volumes (one

[2022-09-06 15:51] mathbunnyru commented on #1781
@galimba39 what does this window currently show for `pyspark-notebook` image?

[2022-09-06 15:52] mathbunnyru commented on #1781
I guess we just have to add `EXPOSE 4040` to the spark images to make sure docker knows which ports we are exposing.

[2022-09-06 16:55] bjornjorgensen commented on #1781
`docker run -d -p 8888:8888 -p 4040:4040 -p 4041:4041 jupyter/pyspark-notebook` work and it works with docker-compose. I don't think its a good options to expose 4040 as default for everyone. Its a page without password and everyone can stop running spark seasons thru the web page.

[2022-09-06 19:03] galimba39 commented on #1781
@mathbunnyru it currently shows port 8888 only. Just adding EXPOSE 4040 return the image in my previous comment.

@bjornjorgensen
I'm not an expert in Docker but if I have correctly understood from [this](https://docs.docker.com/config/containers/container-networking/#published-ports), only published ports can be reached from outside and exposed ports shouldn't raise a risk until published.

[2022-09-06 20:10] bjornjorgensen commented on #1781
hmm.. have been reading [this one..](https://www.cloudbees.com/blog/docker-expose-port-what-it-means-and-what-it-doesnt-mean)

The strange thing her is that I build spark master daily and start it with a docker-compose where I expose - "4040:4040"

But in the docker file I don't have 4040 only
# Should match the service
[EXPOSE 2222 EXPOSE 7777](https://github.com/bjornjorgensen/jupyter-spark-mast

[2022-09-06 20:23] mathbunnyru commented on #1781
I am of mixed opinions on this one after reading @bjornjorgensen's message.
@galimba39 is right and `EXPOSE` in the docker image doesn't change published ports on the host machine. So I don't think this is gonna be a security issue.

[2022-09-06 20:30] bjornjorgensen commented on #1781
@mathbunnyru Yes, I'm more 1+ on this one now. A port can be exposed but not mapped.

From the link that I posted:

"Exposing a port doesn't make it available when you run a container.  To do that, you need to publish your ports. Depending on how you want to use the port, you need to map it, too."

[2022-09-06 20:35] bjornjorgensen commented on #1781
@galimba39 `docker run -d -p 8888:8888 -p 4040:4040 jupyter/pyspark-notebook` open port 4040

`docker ps`
`ea7be5642210   jupyter/pyspark-notebook          "tini -g -- start-no…"   10 minutes ago   Up 10 minutes (healthy)   0.0.0.0:4040->4040/tcp, :::4040->4040/tcp, 0.0.0.0:8888->8888/tcp, :::8888->8888/tcp`
So why can't you open port 4040 from the GUI that you are using?

[2022-09-06 20:57] galimba39 commented on #1781
@bjornjorgensen I see only [base-notebook](https://github.com/jupyter/docker-stacks/tree/main/base-notebook) exposes port in the docker heriarchy, but you are right saying that

This seems strange to me too. Could it be that passing -p 4040:4040 both does a publish+expose in a row?

Besided this, I made the port 4040 appear in the UI by building a docker on top of one of yours, this way

`FROM jup

[2022-09-06 21:03] bjornjorgensen commented on #1781
Yes, I just figured this out. expose are just for documentation [youtube What Does the Docker EXPOSE Command Do?](https://youtu.be/Rp2LtJH6Gzk)

[2022-09-07 09:33] tandav opened #1782 "[BUG] - ModuleNotFoundError: No module named 'pyspark'"
### What docker image(s) are you using?

pyspark-notebook

### OS system and architecture running docker image

Ubuntu22.04 aarch64

### What Docker command are you running?

[code]

[code]

### How to Reproduce the problem?

run the command above

### Command output

_No response_

### Expected behavior

pyspark should be available without PATH manipulations and startup scripts.

### Actual behav

[2022-09-07 12:13] Bidek56 commented on #1782
Why are you adding Python at the end of `docker run` command?

[2022-09-07 16:05] bjornjorgensen commented on #1781
@galimba39 will you try to open a PR where you add EXPOSE 4040 https://github.com/jupyter/docker-stacks/blob/c8bbeff1fbc3e7a2a690c10a3f00df812dabe244/pyspark-notebook/Dockerfile#L72 ?

[2022-09-07 16:15] bjornjorgensen commented on #1782
use `docker run -d -p 8888:8888 -p 4040:4040 jupyter/pyspark-notebook`

[2022-09-07 16:48] Bidek56 commented on #1782
Or use: `docker run --rm -it -p 8888:8888 -p 4040:4040 -v $(PWD):/home/jovyan/work jupyter/pyspark-notebook` if you want the local storage.

[2022-09-07 17:34] bjornjorgensen commented on #1782
From jupyterlab you can start a terminal
![image](https://user-images.githubusercontent.com/47577197/188942430-1dfb7daa-3637-40fa-b1b0-82fbd3b5bd22.png)

[2022-09-08 10:31] tandav commented on #1782
I want to use  `jupyter/pyspark-notebook` as image with pre-installed pyspark to run my python scripts and I don't need jupyter notebook for this. Is such usage out of scope of docker-stacks project?

[2022-09-08 10:39] tandav commented on #1782
Yes, I see that when you run jupyter notebook - there is a startup script which sets pyspark environment variables
https://github.com/jupyter/docker-stacks/blob/c8bbeff1fbc3e7a2a690c10a3f00df812dabe244/pyspark-notebook/Dockerfile#L57

My question is - is it possible to set these variables not only for jupyter notebook but also for regular python?
This docker image is very handy when you quickly ne

[2022-09-08 16:37] bjornjorgensen commented on #1782
[code]

This is a build with spark master brach.

https://github.com/bjornjorgensen/jupyter-spark-master-docker/blob/fcc09efa27c5ac17087ed79a747c272947da76cb/Dockerfile#L68

You can try add
pip install -e ${SPARK_HOME}/python

[2022-09-08 17:34] galimba39 commented on #1781
I see you already done the PR, from my point of view port 4040 is a (Py)Spark thing, having that in other dockers may raise doubts in users

[2022-09-08 18:12] mathbunnyru commented on #1782
I will add a few details here:

1. You say you use `Ubuntu22.04 aarch64`. Then, if you want to use the latest image, please use it like this `jupyter/pyspark-notebook:aarch64-latest`, because we add this prefix to all arm64 image tags (including latest).
2. When you add `python` in the end, you don't run our scripts to set variables properly and so on. You should use `start-notebook.sh python`. Th

[2022-09-08 20:38] mathbunnyru commented on #1781
Merged the PR, in ~1.5 hours the images will be updated

[2022-09-08 20:38] #1781 closed

[2022-09-09 13:08] tandav commented on #1782
@mathbunnyru

Thank you, I tried this command, but `start-notebook.sh` runs jupyter notebook. I see that `start-notebook.sh` runs `/usr/local/bin/start.sh` inside, so I tried:
[code]
and it works. I can import pyspark inside this python without  ModuleNotFoundError

[2022-09-09 13:10] mathbunnyru commented on #1782
Yes, sorry, you're right, I meant `start.sh` of course :)
I'm glad I was able to help you.

[2022-09-09 13:10] #1782 closed

[2022-09-09 14:54] Bidek56 commented on #1746
DL [2.1](https://github.com/delta-io/delta/releases/tag/v2.1.0) has been released.
Do we need a PR to include it or it is upstream? Thx

[2022-09-11 12:53] bjornjorgensen commented on #1746
I do have some issues with the reason why jupyter lab docker images should add delta lake. When delta lake have their own [docker file](https://github.com/delta-io/delta/blob/master/Dockerfile)  and delta lake is only a storage layer. 
Can the best solution here be to make a docker-compose file where there are both a jupyterlab image and delta lake image? 

[2022-09-11 13:38] Bidek56 commented on #1746
1. Not sure what the purpose of Delta docker file is. It doesn't even install Delta library.
2. I think we need the Delta library as part of the Docker stack to read and write Delta lake tables, no?

[2022-09-11 14:43] bjornjorgensen commented on #1746
2. No. Its just like S3. https://docs.delta.io/latest/quick-start.html

[2022-09-11 16:55] Bidek56 commented on #1746
Maybe I am missing something but S3 is a storage engine like Hadoop, where Delta.io is a storage format which is an extension of Parquet that can be written to S3, Hadoop, Azure Blo, etc... No??

P.s. I use delta.io on a daily basis.

[2022-09-12 16:01] Bidek56 commented on #1746
Since we have a [recipe](https://github.com/Bidek56/docker-stacks/blob/main/docs/using/recipes.md#enable-delta-lake-in-spark-notebooks) for Delta.io already, I would probably agree that we can close this issue.

[2022-09-12 17:41] mathbunnyru commented on #1746
Initially, I thought many people would like to see this package to be already included in the image.
But it seems that it won't be easy to add it, because many people want to use latest spark versions (at least we get such PRs quite often) and delta is a bit slow in supporting latest versions.

I'm gonna close this issue. If we have many requests to add this package again, we should think about it

[2022-09-12 17:41] #1746 closed

[2022-09-12 22:55] fymaterials98 opened #1786 "[BUG] - In the running container, permission denied in mapped volume"
### What docker image(s) are you using?

datascience-notebook

### OS system and architecture running docker image

Amazon Linux 1

### What Docker command are you running?

`docker run -it --rm -p 7654:8888 -v $(pwd):/home/jovyan/work  --name my_test jupyter/datascience-notebook`

### How to Reproduce the problem?

1. Open localhost browser for Jupyter notebook
2. Tried to create a notebook in Do

[2022-09-13 13:59] Bidek56 commented on #1786
It works fine for me, are you sure your Docker desktop is configured correctly to access the local volume?
Just FYI, these questions belong to SO not GH. :)

[2022-09-13 17:54] fymaterials98 commented on #1786
When I type command in Jupyter notebook to show the user and group id for the current files and folders,
`ls -l '
and the mapped volume work belongs to the host user instead of jovyan
`
total 8 -rw-r--r-- 1 jovyan users 72 Sep 12 22:48 Untitled.ipynb drwx
------ 8 500 500 4096 Sep 12 22:04 work
`
@Bidek56 I am wondering since I am jovyan user when in the docker container,  and I have no right to a

[2022-09-13 18:24] Bidek56 commented on #1786
You may want to try adding: `-e NB_UID=<numeric uid>` and `-e NB_GID=<numeric gid>`
Have you looked at [this](https://github.com/jupyter/docker-stacks/blob/main/docs/using/common.md#user-related-configurations) documentation?
Since you are on AWS already, you may want to use [SageMaker](https://aws.amazon.com/sagemaker/) instead and skip the configuration troubles.

[2022-09-14 20:30] Bidek56 commented on #1786
@fymaterials98 Did you resolve the issue? If so please close this ticket. Thx

[2022-09-15 14:01] hzclarksm opened #1787 "[ENH] - Stop JupyterLab terminal cursor from blinking"
### What docker image(s) is this feature applicable to?

base-notebook, minimal-notebook

### What changes are you proposing?

Provide the ability manipulate the JupyterLab terminal cursor.  In particular turn off the blinking feature (blinkrate = 0)

### How does this affect the user?

At best the blinking cursor is highly distracting.

Note: the JupyterNotebook terminal cursor does not blink.

#

[2022-09-15 15:37] Bidek56 commented on #1787
Have you checked this [post](https://github.com/jupyterlab/jupyterlab/issues/10443)?
Have you checked SO for a solution?
Why do you think Docker will provide a solution to this issue?

[2022-09-15 16:16] hzclarksm commented on #1787
The suggested post addresses the blinking cursor issue in Jupyter notebooks.  Changing the setting as suggested does not address the problem in Jupyter Lab terminals.
I don't think this a Docker issue but a JupyterLab issue.

[2022-09-15 16:49] Bidek56 commented on #1787
I would suggest posting this question in [Discourse](https://discourse.jupyter.org/c/jupyterlab/17) forum.

[2022-09-15 17:03] hzclarksm commented on #1787
Thank you.  I will take that under advisement.

[2022-09-18 09:35] markusschmaus commented on #1557
It would be awesome if such cuda based images were available.

[2022-09-19 20:11] DaviYokogawa commented on #1116
@eaboyle57 disabling the Jupyter extension of Vscode solves my problem, but if I want to use both together, do you know how to do it?

[2022-09-21 05:58] #1737 closed

[2022-09-21 07:59] mathbunnyru commented on #1309
@parente @minrk @consideRatio now I think it should be possible to provide me with access.
Could you please take a look?

[2022-09-21 08:03] minrk commented on #1309
It still says we're limited to 3 seats on the org, so we can't invite more yet. Maybe we should contact them if that should have changed?

[2022-09-21 08:08] mathbunnyru commented on #1309
Thank you. I wrote an email with this question to the Docker team.

[2022-09-21 09:17] mathbunnyru commented on #1737
@nathancarter @consideRatio @tomharvey @msemelman this is fixed now, please, take a look.

[2022-09-21 09:51] tomharvey commented on #1737
Massive thanks @mathbunnyru  -  my workflows just got a lot simpler!

[2022-09-21 12:04] consideRatio commented on #1737
Wieee great work on this @mathbunnyru!!!!!

[2022-09-21 13:29] consideRatio commented on #1309
It seems we could possibly get 10 seats for the organizations. We currently have 17 users out of 3 seats in the jupyter organization so we need to remove 8 users at least. Because this is also a matter of security, just like access to the source code on github or released versions in PyPI I figure we should try reduce that and ask that users that have access enable 2FA on their hub.docker.com acco

[2022-09-25 15:07] mathbunnyru commented on #1787
@hzclarksm I tried this solution and it works fine for me.
https://github.com/jupyterlab/jupyterlab/pull/10485#issuecomment-871136470

You can also change it in this file to not always have to change it manually (and you can do it separately for three types of cell: code, markdown and raw):
[code]

[2022-09-25 15:07] #1787 closed

[2022-09-25 15:08] mathbunnyru commented on #1786
@fymaterials98 we're waiting for your response here. Could you please take a look?

[2022-09-25 15:08] mathbunnyru commented on #1723
@verdurin we're waiting for you response here. Could you please take a look?

[2022-09-25 15:10] mathbunnyru commented on #1664
I've been added as a project jupyter github member around a week ago, so I think I can close this :)

[2022-09-25 15:10] #1664 closed

[2022-09-25 15:11] mathbunnyru commented on #1650
Closing this as not planned

[2022-09-25 15:11] #1650 closed

[2022-09-25 18:02] benz0li commented on #1664
@mathbunnyru You are doing a great job!

[2022-09-25 18:03] mathbunnyru commented on #1664
I really appreciate messages like this.
Thank you so much @benz0li ❤️

[2022-09-26 06:39] dhinojosa commented on #64
Seven years later, I tried reading the documentation and this ticket and can't make sense of it. I created a topic here: https://discourse.jupyter.org/t/integrating-docker-stacks-with-spark-and-minio-as-s3/15958

[2022-09-26 16:15] mathbunnyru commented on #1557
I think it's actually currently possible to have cuda based images and not increase build time at all.
If someone wants to do it, please, take a look here, this is where you will need to add new steps:
https://github.com/jupyter/docker-stacks/blob/main/.github/workflows/docker.yml

[2022-09-27 10:28] mathbunnyru commented on #1786
Closing this as no response was received. Please, reopen, if you still see this issue.

[2022-09-27 10:28] #1786 closed

[2022-09-27 10:28] mathbunnyru commented on #1723
Closing this as no response was received. Please, reopen, if you still see this issue.

[2022-09-27 10:28] #1723 closed

[2022-09-28 07:27] KaivnD commented on #1742
Same here, I thought that's my problem, so I try restart my machine, reinstall docker, when I reinstall my windows, still the same. Finaly end up here, wow, move to jupyter/minimal-notebook:python-3.9.12, problem solved!

[2022-09-28 13:06] Bidek56 commented on #947
@gary-lloyd Is this still an issue? If not please close the ticket. Thx

[2022-09-28 13:08] Bidek56 commented on #362
@mathbunnyru We have removed Scala support from this stack, so this issue can be closed. Thx

[2022-09-28 13:13] Bidek56 commented on #468
[databricks/spark-deep-learning](https://github.com/databricks/spark-deep-learning) only contains HorovodRunner code for local CI and API docs.
Databricks Runtime for Machine Learning is necessary to run it.
@kietly  I don't think this ask is relevant to this stack anymore hence we can close this ticket. Thx

[2022-09-28 13:22] Bidek56 commented on #1432
@eromoe Scala notebooks are no longer supported in this stack, if you need Scala support please use [almond](https://github.com/almond-sh/almond) Thx

[2022-09-28 15:19] #362 closed

[2022-09-28 15:21] #468 closed

[2022-09-28 15:21] #1432 closed

[2022-09-28 18:24] Bidek56 commented on #1197
@mathbunnyru Since we decided to close the PR, this ticket should be closed as well. Thx

[2022-09-28 18:28] #1197 closed

[2022-09-28 19:15] Bidek56 commented on #769
@jp68138743541  Can you please confirm that this is still an issue? It works fine me. Thx

[2022-09-28 19:58] Bidek56 commented on #598
@harschware Is this still an issue? Thx

[2022-09-28 20:55] harschware commented on #598
@Bidek56 I filed this issue 4 years ago and no longer work with jupyter code.  I'm unsure the current status and lack the ability to test now.  As far as I'm concerned the issue could be closed for being stale, so I'll close it.

[2022-09-28 20:55] #598 closed

[2022-09-29 14:08] masip85 opened #1792 "New conda environment issue with another username"
### What docker image(s) are you using?

scipy-notebook

### OS system and architecture running docker image

aarch64

### What Docker command are you running?

docker run -it --name myproject --rm \
 -p 8888:8888 \
    --user root \
    -e NB_USER=vicente \
    -e NB_UID="$(id -u)" \
    -e NB_GID="$(id -g)"  \
    -e CHOWN_HOME=yes \
    -e CHOWN_HOME_OPTS="-R" \
    -w "/home/${NB_USER}" \

[2022-09-30 09:46] mathbunnyru commented on #1264
@THargreaves are you still interested in publishing images to GitHub Packages?
I don't think we need caching, because currently build system works well.

[2022-09-30 09:48] mathbunnyru commented on #1193
I didn't see much interest in pypy images, so closing this one.
Please, if someone want to make it, ping me, I can describe how to change build system to make it work.

[2022-09-30 09:48] #1193 closed

[2022-09-30 09:50] mathbunnyru commented on #1214
Now, we upload our images as GitHub artifacts, so it's relatively easy to see the image size.
It's also not difficult to see the time it took to build the image.
And after that, we don't add new stuff to the images, so I don't think we really need this feature now.

[2022-09-30 09:50] #1214 closed

[2022-09-30 09:55] mathbunnyru commented on #1032
@Hugo54x have you tried official installation guide?
https://docs.amd.com/bundle/ROCm_Installation_Guidev5.0/page/How_To_Install_ROCm.html

Please, check it. If it works well, I don't think we should add something to our images / docs.

[2022-09-30 10:05] mathbunnyru commented on #1072
People haven't asked for this feature, so I don't think we should implement it.
If someone want to try it out, use this:

[code]

[2022-09-30 10:05] #1072 closed

[2022-09-30 10:08] mathbunnyru commented on #1309
@consideRatio could you please check if additional seats were allocated? :)

[2022-09-30 10:11] Hugo54x commented on #1032
@mathbunnyru it's been quite a long time since I opened this issue and I don't know what I was trying to achieve anymore. So you can close this issue. Thx for the reminder :)

[2022-09-30 10:12] #1032 closed

[2022-09-30 10:34] mathbunnyru commented on #775
@consideRatio @parente @echowhisky @planetf1 @dmpe I haven't found any places, where we could use multi-stage docker builds.

1. We clean after apt and only try to install packages when necessary.
2. We don't install any build-related packages anymore (like gcc).
3. We do not use `pip install`, but always use `mamba`, that's why we don't build anything.

Please, tell me if I missed something, but

[2022-09-30 17:41] Bidek56 commented on #1792
Can you use `pip`? This command works fine, and I can install packages with no issues.
`docker run -it --name myproject --rm -p 8888:8888 --user root
    -e NB_USER=vicente
    -e NB_UID="$(id -u)"
    -e NB_GID="$(id -g)"
    -e CHOWN_HOME=yes
    -e CHOWN_HOME_OPTS="-R"
    -w "/home/${NB_USER}"
    -v "${PWD}":/home/vicente/work
    jupyter/pyspark-notebook`

[2022-09-30 22:03] ElgerJP opened #1795 "[BUG] - AnalysisException: Table does not support reads: ..."
### What docker image(s) are you using?

pyspark-notebook

### OS system and architecture running docker image

Windows 11/ AMD64

### What Docker command are you running?

It's a service in a docker-compose file:

[code]

The Dockerfile that it being called is as follows, I aimed only to enable Delta support and set a specific python version (3.9.5):

[code]

To run it, I just use:
[code]
[code]

[2022-10-02 19:05] Bidek56 commented on #1795
1. This code works just fine: `spark.read.format("delta").load("/home/jovyan/work/spark-warehouse/my_database.db/my_table").show()`
2. This is not a GH question, it's a SO question that has been addressed [already](https://stackoverflow.com/questions/63306213/delta-table-insert-not-working-correctly-read-errors-out-with-org-apache-spar).

[2022-10-02 20:12] mathbunnyru commented on #1795
Guess this question was answered. Thank you @Bidek56.

[2022-10-02 20:12] #1795 closed

[2022-10-02 20:15] mathbunnyru commented on #1792
@Bidek56 I guess the problem here is that `.bashrc` is not run when changing username.
In your run command bashrc is more-or-less default, so you don't think any issues.
In the issue, your `.bashrc` is used to activate non-default environment.

[2022-10-03 07:25] adrienpacifico opened #1796 "[ENH] - Enable clipboard"
### What docker image(s) is this feature applicable to?

datascience-notebook

### What changes are you proposing?

This code does not work with docker images:

[code]
It throws a `PyperclipException`.

I do not know if it is possible, but it would be really nice to have this working with docker images.

### How does this affect the user?

- The use will be able to use any library that needs to ac

[2022-10-03 09:06] masip85 commented on #1792
@mathbunnyru , Yes, I'd do it, but first ipykernel install must be successful for all users, and it's only done for jovyan. How should I solve this?

[2022-10-03 10:03] KrzysztofMadejski opened #1797 "Jupyter Lab 404"
### What docker image(s) are you using?

all-spark-notebook

### OS system and architecture running docker image

Mac

### What Docker command are you running?

`docker run -p 8888:8888 jupyter/all-spark-notebook`

### How to Reproduce the problem?

1. Run the docker as above
2. I'm opening given link and I'm redirected to http://127.0.0.1:8888/lab
3. I see following error:
<img width="636" alt="S

[2022-10-03 11:47] consideRatio commented on #1664
You are amazing @mathbunnyru! Thank you for your thorough work!!!

[2022-10-03 11:52] consideRatio commented on #1309
Sadly no =/ Still limited to 3. If we get ten, I'll work to revise the memberlist to fit you.

![image](https://user-images.githubusercontent.com/3837114/193570365-38ac6a27-08e8-4c8e-99ba-5bfd00e5c09d.png)

[2022-10-03 11:54] consideRatio commented on #775
@mathbunnyru :+1: this is not so applicable to us overall. It is more relevant when you have an image soo trimmed that you don't inlcude much at all in the final build stage and still need to do various compilations etc first.

[2022-10-03 11:54] #775 closed

[2022-10-03 13:30] Bidek56 commented on #1797
After running `docker run -p 8888:8888 jupyter/all-spark-notebook`, `http://127.0.0.1:8888/lab` works fine for me.
Are you using some sort of firewall or virus scanner that blocks `http://127.0.0.1`?
What does browser dev tools show you? Can you do: `curl -v http://127.0.0.1:8888/lab`?
This question belong to SO, not GH. :)

[2022-10-03 15:19] THargreaves commented on #1264
This is not something I am personally interested in or have the time to look into anymore.

[2022-10-03 15:24] mathbunnyru commented on #1264
Then, I guess, we can close this issue.

[2022-10-03 15:24] #1264 closed

[2022-10-03 16:28] mathbunnyru commented on #1796
Hi @adrienpacifico!
I guess I found the solution here: https://github.com/asweigart/pyperclip/issues/161#issuecomment-1112942799
I haven't checked it out, but please try it.

I also think this issue is not related to our docker images in particular and you should use the thread with the message I mentioned (that's why I'm closing this issue).

[2022-10-03 16:58] adrienpacifico commented on #1796
Hi @mathbunnyru!

I am a bit sad that you closed the issue, as I think that being able to copy/paste at least for local jupyterlab docker image could be a nice option to have!

It could be:
1. Documented on how to proceed on https://jupyter-docker-stacks.readthedocs.io/
2. Maybe have xclip installed in minimal-notebook (not in base).

If anyone interested, I made it work on a debian based linux wi

[2022-10-03 17:01] mathbunnyru commented on #1796
Great solution @adrienpacifico!
I guess you're right and I was a bit too fast to close this issue.

Could you maybe share your instruction as a recipe?
https://jupyter-docker-stacks.readthedocs.io/en/latest/contributing/recipes.html

It will be easier for people to find it in the docs (and not in the github issue).

[2022-10-03 17:02] mathbunnyru commented on #1796
I would also suggest formulating it as a Dockerfile inherited from our Dockerfiles (to be persistent), and not to be run from `jupyter` terminal.

[2022-10-03 17:04] mathbunnyru commented on #1797
Just a random guess (I've seen this a lot) - maybe you have a VS Code opened, which also runs jupyterlab sometimes?
In this case, you might get an error like this.

[2022-10-03 17:05] mathbunnyru commented on #1792
@masip85 I understand this, my message was addressed to @Bidek56.

I don't know a good solution for your issue, but I might have a hack that might work (I haven't tested it).
Could you maybe mount `/home/vicente` folder, instead of the work folder and then put `.bashrc` in this folder with the activate line.

It's a bit ugly, because you will have all the config files in your mounted folder.
Also,

[2022-10-03 17:05] Bidek56 commented on #1796
I believe copy/paste should work without any libs on Windows, but I have not tested it.
The above solution does not work on MacOS 12.6

[2022-10-03 20:04] masip85 commented on #1792
And ipykernel installation?

El El lun, 3 oct 2022 a las 19:05, Ayaz Salikhov ***@***.***>
escribió:

[2022-10-05 12:46] mathbunnyru commented on #1792
I don't know the answer yet, sorry :(

[2022-10-05 14:53] #947 closed

[2022-10-05 14:53] #769 closed

[2022-10-05 15:55] mathbunnyru commented on #1796
Let's see how much megabytes the package adds to the image size.

[2022-10-05 20:50] mathbunnyru commented on #1796
@adrienpacifico as you suggested, I added xclip to the minimal image.
The image will be updated in around 1h30min.
Could you please check after that, that the new image works fine?

And this is the essential part to enable clipboard on Linux host system, right?
`-e DISPLAY -v /tmp/.X11-unix:/tmp/.X11-unix`

[2022-10-06 08:28] adrienpacifico commented on #1796
@mathbunnyru,

I am sorry, I was using an old version of jupyterlab image, I just repulled the last version, and I have an error when I launch a jupyter kernel/open a notebook (Server Connection Error).
I cannot confirm if it works. It seems that the issue I am facing has not an opened (or closed) issue on this repo. I may need to fill one.

The answer is yes. However, I have not tried without the

[2022-10-06 08:55] adrienpacifico opened #1800 "[BUG] - Server connection error"
### What docker image(s) are you using?

minimal-notebook

### OS system and architecture running docker image

Pop!_OS 20.10

### What Docker command are you running?

docker run --pull=always --network host  jupyter/minimal-notebook

### How to Reproduce the problem?

1. Visit localhost:8890
2. Open a notebook from jupyterlab

### Command output

[code]

### Expected behavior

Open a working jup

[2022-10-06 20:26] mathbunnyru commented on #1800
Let's keep it open for a while. Maybe someone had similar problem and found the solution.

[2022-10-07 10:42] masip85 commented on #1792
This is a solution, not a perfect one, but the best one by now:
[Jupyter Forum](https://discourse.jupyter.org/t/conda-env-listed-as-a-kernel-in-docker-container-but-not-in-a-docker-service/14303/7)

[code]

Now we could find a cleaner way for this:
_`Could you maybe mount /home/vicente folder, instead of the work folder and then put .bashrc in this folder with the activate line.`_

I don't underst

[2022-10-07 18:17] lacic commented on #1800
Can confirm the same issue with the following setup:

- Ubuntu 20.04.2 LTS on Windows 11 with WSL2
- Docker version 20.10.7
- jupyter/scipy-notebook
- commands:
     - `docker pull jupyter/scipy-notebook`
     - `docker run -it --rm -p 10000:8888  -v "$PWD"/notebooks/:/home/jovyan/ jupyter/scipy-notebook`

[2022-10-08 17:57] lacic commented on #1800
**UPDATE:**  Upgrading to the newest version of Docker (**20.10.18**) seems to resolve the issue in my case

[2022-10-08 18:01] mathbunnyru commented on #1800
Thank you @lacic, that's great news!
@adrienpacifico could you check if this solution works for you as well?

[2022-10-10 10:47] mathbunnyru commented on #1779
@tiaden if you still need old images, we rebuilt them. This was a one-time thing, but you might find it useful:
https://jupyter-docker-stacks.readthedocs.io/en/latest/#using-old-images

[2022-10-10 14:07] tiaden commented on #1779
@mathbunnyru, thank you very much for letting me know. I will start using it immediately.

[2022-10-12 10:05] dietmar opened #1804 "[ENH] - Add openpyxl to scipy-notebook to support .xlsx Excel files"
### What docker image(s) is this feature applicable to?

scipy-notebook

### What changes are you proposing?

Add the [openpyxl](https://openpyxl.readthedocs.io) package to the image.

Currently, the pandas function `read_excel` can only read old-style `.xls` files but not new-style `.xlsx` files, because the `scipy-notebook` image does contain the package [xlrd](https://xlrd.readthedocs.io), but

[2022-10-13 07:05] #1804 closed

[2022-10-13 15:12] mathbunnyru commented on #1797
Closing this one, as we didn't receive any reply. Please, reopen, if you still see this issue.

[2022-10-13 15:12] #1797 closed

[2022-10-13 15:13] #1800 closed

[2022-10-13 15:15] mathbunnyru commented on #1796
@adrienpacifico I updated the docs.
Please, check again, that the latest image works well for you (and reply here).

[2022-10-13 15:15] #1796 closed

[2022-10-13 15:17] mathbunnyru commented on #1771
@minrk @blink1073 @kevin-bates could you please take a look here (and maybe to the attached PR)?

[2022-10-13 17:29] blink1073 commented on #1771
We're are going to remove the use of `nest-asyncio` entirely in `client 8`: https://github.com/jupyter/jupyter_client/issues/833.  There is already a PR merged that does this: https://github.com/jupyter/jupyter_client/pull/835, and an alpha release.

[2022-10-15 14:12] mathbunnyru commented on #1771
Great news @blink1073, thank you! We will be waiting for release then.

[2022-10-17 05:45] mathbunnyru commented on #1110
I started using squash merges for everything - the history looks much cleaner.

[2022-10-17 06:12] consideRatio commented on #1110
It reads clearer on the high level overview, but when you have a PR that does something somewhat advanced and broken apart in multiple commits, that kind of lower lever overview is lost. I find such lower level overview is relevant in bigger PRs only. Due to that, I think its good to avoid a policy to always do it.

I'm not so happy about a squash also makes the person merging the commit author, a

[2022-10-17 06:16] mathbunnyru commented on #1110
Thank you for your feedback @consideRatio.

This doesn't work for me, because it's not easy to review PRs that do lots of rebases and you lose the history of your review and need to watch all the files again.

[2022-10-19 07:27] mathbunnyru commented on #1743
Hi @consideRatio!
I removed almost all the tests and all the tagging from my project.
I've left some linting, because it will help me as a maintainer, to make sure that the code has good quality.

https://github.com/mathbunnyru/custom-notebook

I think the only thing left to be done is to update this section of docs: https://jupyter-docker-stacks.readthedocs.io/en/latest/contributing/stacks.html#c

[2022-10-19 07:51] mathbunnyru commented on #1743
Fun fact: I've used one of the most modern GitHub features again.
https://github.blog/changelog/2022-09-27-github-actions-additional-information-available-in-github-event-payload-for-scheduled-workflow-runs/
https://github.com/mathbunnyru/custom-notebook/blob/main/.github/workflows/docker-build-test-publish.yml#L5

Now, by default, the docker image will be called as the repo.
And GitHub allowed to

[2022-10-19 07:59] mathbunnyru commented on #850
@RobertSellers could you please tell us, were you able to resolve this issue?
Did @raderas solution help you?
Or maybe you're are no longer interested in this issue?

[2022-10-22 15:59] kevin-bates opened #1809 "[ENH] - Introduce base image from which base-notebook derives"
### What docker image(s) is this feature applicable to?

base-notebook

### What changes are you proposing?

Hello - first, thank you for the great project!  We've been using your images for years in [Jupyter Enterprise Gateway](https://github.com/jupyter-server/enterprise_gateway) and can't recall any issues - really solid!

Enterprise Gateway and (now) [Remove Provisioners](https://github.com/ga

[2022-10-22 23:04] Bidek56 commented on #1809
Without Jupyter these images would be just Python images which already [exists](https://github.com/docker-library/python) and are well maintained.

[2022-10-23 06:08] kevin-bates commented on #1809
Hi @Bidek56 - thanks for responding.

I'm not proposing that Jupyter be _removed_ from the images.  I'm only proposing that the `base-notebook` Dockerfile be split into `base-jovyan` - which installs `mamba`, `fix_permissions`, creates the `jovyan` user, and adds some envs like `NB_UID`, `NB_GID`, etc.  That is, it provides the basis for _other_ Jupyter applications to extend.

`base-notebook` (af

[2022-10-23 08:57] mathbunnyru commented on #1809
Hello, @kevin-bates. I will first address simple questions :)

Thank you ❤️

No need in this. I've implemented  feature to run the tests on all the inherited images as well automatically. So it's always better to move tests to parent images when possible.

From the top of my head, I think this is not gonna be difficult. I don't have DockerHub admin permissions yet, but I hope I will get them quite

[2022-10-23 12:00] Bidek56 commented on #1809
So I am not opposed to this change but I do think that there are other stacks that provide this functionality, few examples:
1. [Python](https://github.com/docker-library/python)
2. [Mamba](https://github.com/mamba-org/micromamba-docker/)
3. [Conda](https://github.com/conda-forge/miniforge-images)

If we do have the time, I rather for us to focus on other features which don't exist like Scala Spar

[2022-10-23 13:28] consideRatio commented on #1809
I'm leaning positive towards this kind of change at the moment as I see it as a valuable feature that I think could be worth the added long term complexity. My main considerations and perceived action points towards resolving them are:

- Can we ensure future contributors clearly understands what should go in `base-jovyan` respectively in `base-notebook`?
  - [ ] Formulate a clear description of t

[2022-10-24 03:08] skr3178 commented on #1752
docker run -d -p 8888:8888  worked

[2022-10-24 10:17] ndtreviv commented on #1549
😭

[code]

[2022-10-24 10:21] mathbunnyru commented on #1549
@ndtreviv we don't provide aarch64 image for `jupyter/tensorflow-notebook`.
And currently `jupyter/tensorflow-notebook` is a manifest list with only one image for `linux/amd64`.
To make it run amd64 version under your Mac, just add `--platform linux/amd64` to the `docker run` options.

[2022-10-24 12:49] djangoliv opened #1810 "[BUG] - conda error while building base-notebook"
### What docker image(s) are you using?

base-notebook

### OS system and architecture running docker image

Debian bulseye

### What Docker command are you running?

docker build --build-arg PYTHON_VERSION=3.8 -t base-notebook:3.8  https://github.com/jupyter/docker-stacks.git#main:base-notebook --no-cache

### How to Reproduce the problem?

I used to build the the base-notebook image like this:

[2022-10-24 13:02] mathbunnyru commented on #1810
`Linking mamba-0.1.2-py38hbf85e49_0`
This is really old.
Could you please specify `"mamba>=0.27.0"` when running `micromamba install`?

[2022-10-24 13:03] mathbunnyru commented on #1810
Also, this issue is not specific to Docker stacks and should probably be asked in the upstream mamba project.
And it's not new.
https://github.com/mamba-org/mamba/issues/1583

[2022-10-26 08:36] djangoliv commented on #1810
With the command

`docker build --build-arg PYTHON_VERSION=3.8 -t base-notebook:3.8 https://github.com/jupyter/docker-stacks.git#main:base-notebook --no-cache`

I am using the base notebook Docker file: https://github.com/jupyter/docker-stacks/blob/main/base-notebook/Dockerfile

I'll try to upload the file to modify it, but I'm surprised you don't have the same problem.

Regards

[2022-10-26 09:29] djangoliv commented on #1810
I checked, the micromamba version is 0.27.0.

[2022-10-27 14:32] OneCricketeer commented on #996
Related - https://stackoverflow.com/questions/45489248/running-spark-driver-program-in-docker-container-no-connection-back-from-execu/56486271#56486271

[2022-10-27 19:37] nakvic opened #1816 "[BUG] - Hadoop command not found"
### What docker image(s) are you using?

all-spark-notebook

### OS system and architecture running docker image

Debian GNU/Linux 11 (bullseye)/arm64

### What Docker command are you running?

docker run  -d -p 8087:8888 jupyter/all-spark-notebook

### How to Reproduce the problem?

Neither hadoop nor hdfs commands found in terminal.

docker exec -it all-spark-notebook-01 bash

jovyan@658dcc88c81

[2022-10-27 19:58] Bidek56 commented on #1816
Spark uses "Hadoop Free" client libraries for HDFS and YARN. Please see this [document](https://spark.apache.org/docs/latest/hadoop-provided.html) for more info.

[2022-10-28 06:29] antofthy opened #1817 "[BUG] - Health Check fails if you change the port jupyter runs on"
### What docker image(s) are you using?

minimal-notebook

### OS system and architecture running docker image

RHEL7  docker swarm

### What Docker command are you running?

Not really relevant, but I need to run it in a docker swarm, with a generalise 'ingress service'.

For this I needed to change internal port jupyter runs on needs to be changes for intergation into a 'ingress proxy'
To change

[2022-10-28 15:39] imiro commented on #1817
+1, I also experienced similar issue. In my case, I used custom port as well as changing the base url (using the `--ServerApp.base_url` parameter) as I want to host jupyter from a subpath.

The workaround that I came up with is to override the healthcheck using a custom-build downstream docker image or by  with docker compose configuration.

This should be better documented, and would be even bett

[2022-10-29 08:50] jakirkham commented on #1810
FWIW we did a new Miniforge release a couple days ago, which has the new `mamba`. So maybe that is an option?

https://github.com/conda-forge/miniforge/releases/tag/22.9.0-0

[2022-10-29 08:54] mathbunnyru commented on #1810
@jakirkham
We've switched from Miniforge to micromamba, so I don't think we would like to switch back.
I've tried to build Dockerfile again, still see the same issue.

[2022-10-29 09:02] jakirkham commented on #1810
Yeah was poking around and noticed that.

Maybe it is worth [asking for a new micromamba release]( https://github.com/mamba-org/mamba/issues )?

[2022-10-29 20:10] mathbunnyru commented on #1810
@jakirkham was this issue fixed since the last release or why do you think this will help?

[2022-10-29 20:13] mathbunnyru commented on #1816
Thank you @Bidek56. Then, I guess it is expected behaviour, that these binaries are not present, so closing this issue.

[2022-10-29 20:13] #1816 closed

[2022-10-29 20:13] mathbunnyru commented on #850
Closing this one, since no response was received.

[2022-10-29 20:13] #850 closed

[2022-10-30 07:14] antofthy commented on #1817
Using JUPYTER_PORT (sets default port used) would be ideal. but needs the default port setting removed from the /etc config files (or it overrides it) and the variable added to the HEALTHCHECK.  Both of which substitute the environment variable value at run time, rather than at the time of Dockerfile image build.

So if it is fixed in the library docker images, you can set it at run time, just lik

[2022-10-31 19:10] jakirkham commented on #1810
That is my understanding, yes. We've done updates in other places in conda-forge to pickup new `mamba` releases

Perhaps another option is just to grab `micromamba` from `conda-forge`. We [do that as part of some scripts]( https://github.com/conda-forge/miniforge/blob/2e25aec041a47d8f7e962f2dbc9a1ef2e501e3b0/scripts/build.sh#L42-L53 ) already

[2022-10-31 19:42] jakirkham commented on #1810
@charlesbluca, if you have bandwidth, would you be able to try a PR to Jupyter docker-stacks with the suggestion for upgrading `micromamba` above?

[2022-11-01 01:12] antofthy commented on #1709
It would be better if this was mentioned in the docker-stacks guide.

[2022-11-01 05:05] antofthy opened #1820 "[BUG] - Mounting a NFS share as the users home locks ip ipykernel"
### What docker image(s) are you using?

minimal-notebook

### OS system and architecture running docker image

RHEL7 x86_64

### What Docker command are you running?

It runs in a swarm environment...

[code]
and then with a local mount of a NFS mount
[code]
The contents of the direct has the correct uid:gid or 1000:100  and is a exact replica of the `/home/jovyan` within the image

### How to Re

[2022-11-01 06:00] antofthy commented on #1820
**UPDATE:**
It only happens with mounting from the NFS home share mount,  which is a requirement for a full swarm service, where the docker container may run on any of a number of hosts.
Running with the home mounted from the host machines local disk works fine!  I can run ipykernel (notebook) just fine.
[code]
Mount info...
[code]
So it is likely something about NFS.   Perhaps some sort of lockfi

[2022-11-01 06:24] antofthy commented on #1820
**UPDATE #2**

At moment of failure docker reports...
`lockd: cannot monitor storage.**domain**`

So is there anything that can be done?   I have no control over the source of the storage.

[2022-11-01 09:05] mathbunnyru commented on #1809
Hi @kevin-bates! Will you be willing to create a PR for this feature? I guess, everyone agrees that we can proceed with this.

[2022-11-01 09:11] mathbunnyru commented on #1817
Hi everyone, thank you for all your suggestions!
`JUPYTER_PORT` was not there when these stacks were created, so I think it's a great idea to switch from config to env variable. https://github.com/jupyter/notebook/pull/5221

Is someone willing to create a PR for this?
1. Let's remove port setting in config.
2. Add `JUPYTER_PORT` with default value `8888` to the root file
3. Add a test which change

[2022-11-01 12:33] mathbunnyru commented on #1743
@consideRatio please, take a look here.
I think currently it's a good balance between no features and too many features.

Repo (I've recreated it from scratch): https://github.com/mathbunnyru/custom-notebook
DockerHub: https://hub.docker.com/r/mathbunnyru/custom-notebook

[2022-11-01 14:27] kevin-bates commented on #1809
Hi @mathbunnyru - thank you for getting back to me - I wasn't sure how many more maintainers needed to weigh in.  I will try to get a PR submitted this week (preferably within the next day or two).

[2022-11-01 17:44] Bidek56 commented on #1820
Have you looked at [SO](https://stackoverflow.com/questions/72822339/docker-volumes-shared-with-the-jupyter-lock-the-folder)?

[2022-11-02 00:28] antofthy commented on #1820
1/ it is not mounting the whole home just the "work" sub-directory.
2/ it is addressing problems of UID/GID not file locking.   As mentioned I was very careful is ensuring that was not the problem.
3/ it works fine without a bind mount, or with a bind mount not involving NFS.
4/ I did track it down to bein cause by NFS file locking.  If I can determine what file is being locked, I could posibly mo

[2022-11-02 13:19] Bidek56 commented on #1820
1. If you are trying to set up a multi user learning env, I would suggest using [Google Colab](https://colab.research.google.com) and avoid all the setup issues.
2.  Jupyter NFS issues should be asked/addressed on [SO](https://stackoverflow.com) or [Jupyter Forum](https://discourse.jupyter.org) not on GH. :)

[2022-11-02 16:33] #1810 closed

[2022-11-02 16:34] mathbunnyru commented on #1810
https://github.com/jupyter/docker-stacks/pull/1813#issuecomment-1300847574

[2022-11-03 01:05] antofthy commented on #1820
Thank you [Bidek56,](https://github.com/Bidek56) for the suggestion about asking on the Jupyter Forum.

A user (big thanks to kevin-bates) who was able to point to some code information about NFS problems which resolved the problem!  [Notebook fails on NFS mount, lockd not available](https://discourse.jupyter.org/t/notebook-fails-with-nfs-mounted-home-and-lockd-not-available/16626/2?u=antofthy)

F

[2022-11-03 01:05] #1820 closed

[2022-11-03 01:06] antofthy commented on #1820
Addendum... Perhaps this should be added to docker-stacks trouble shooting with regards to NFS mounted homes?

[2022-11-03 01:11] Bidek56 commented on #1820
Feel free to submit a PR, this stack has a documentation and recipe section. Perhaps add. An entire recipe based on your findings.
I am glad you were able to resolve your issue.

[2022-11-04 12:01] rwmajor2 opened #1826 "[BUG] - KeyError 'code'"
### What docker image(s) are you using?

scipy-notebook

### OS system and architecture running docker image

Ubuntu 22.04

### What Docker command are you running?

In examing the docker logs, I see this about every 10 minutes.  Any idea what is causing it?

[IPKernelApp] ERROR | Exception in message handler:
Traceback (most recent call last):
  File "/opt/conda/lib/python3.9/site-packages/ipyker

[2022-11-04 12:58] Bidek56 commented on #1826
1. What is the command that you are running to start the container?
2. Have you checked SO or [Discord](https://discourse.jupyter.org) before posting?

[2022-11-04 14:10] Bidek56 commented on #1826
I can not reproduce the problem. What are you running to produce the error?

[2022-11-04 17:47] mathbunnyru commented on #1826
@rwmajor2
I agree with @Bidek56, please fill in all the details about this issue.

Also, please, try to recreate this issue with the latest image.
`/opt/conda/lib/python3.9/` in your path means you use `python3.9` image, which might be quite old.

[2022-11-09 17:36] mathbunnyru commented on #1309
One and a half years later, I now have access 🎉
I'm going to celebrate this one 😂

I am closing this issue since it seems to be fully resolved for me.

[2022-11-09 17:36] #1309 closed

[2022-11-12 21:44] #1809 closed

[2022-11-12 21:49] mathbunnyru commented on #1110
@consideRatio I've just checked this and if you create a squash-merge from the GitHub website (and I always use this feature), then the author is correct.
You can see it here:
- PR: https://github.com/jupyter/docker-stacks/pull/1825
- Commit in main: https://github.com/jupyter/docker-stacks/commit/10e52ee84369aaa37630aea13c137b766ace307b

Moreover, co-author is added if needed.

[2022-11-12 22:06] askibinski commented on #1800
Can confirm, Ubuntu 22.04, upgrading docker-ce from `20.10.21` to `20.10.8` fixed this issue for me.

[2022-11-12 23:28] mathbunnyru commented on #1826
We haven't received any response here. Please, reopen and add missing details, if this is still an issue.

[2022-11-12 23:28] #1826 closed

[2022-11-12 23:29] mathbunnyru commented on #1817
@antofthy @imiro any chance you could work on a PR?

[2022-11-12 23:33] imiro commented on #1817
Sorry I've been a bit busy, but I might have some time next week on this

[2022-11-12 23:33] mathbunnyru opened #1828 "Change DockerHub icon"
I think it would really nice to use [modern Jupyter icon](https://github.com/jupyter/docker-stacks/blob/main/docs/_static/jupyter-logo.svg).
I don't know the meaning of what is currently used.
<img width="88" alt="Screenshot 2022-11-13 at 01 20 04" src="https://user-images.githubusercontent.com/12270691/201498639-c63bc023-8a2a-47a5-a86f-2099e5183c5d.png">

[2022-11-12 23:33] mathbunnyru commented on #1828
To change the icon, we need to have an access to the email which is currently used (actually, to gravatar/wordpress account), or to some another jupyter account.
Then, we set an icon on gravatar for this account and then update the gravatar email on DockerHub.

[2022-11-12 23:41] mathbunnyru commented on #1707
@trallard could you please tell me, if you're still interested in having the image on DockerHub?

[2022-11-13 00:38] consideRatio commented on #1707
There are options:
- ghcr.io/jupyter/...
- quay.io/jupyter/... (do we control this?)
- dockerhub's: jupyter/...

A plus with ghcr.io is that you manage permissions using github identities and we have good control of permissions etc, for example tied to permissions in a github repo.

Another aspect is findability, is this something we want to advertise from the image repository itself etc. ghcr.io

[2022-11-13 16:27] trallard commented on #1707
I'd be happy to have it under ghcr.io/Jupyter since it's for the Jupyter/accessibility project it makes sense to live under a Jupyter owned registry rather than under the Quansight-labs one

[2022-11-14 08:47] mathbunnyru commented on #1707
@consideRatio I don't think I have permissions on GitHub to create packages under `jupyter` org. Could you please either give me the permissions or create the package yourself?

[2022-11-14 09:31] consideRatio commented on #1707
Me neither @mathbunnyru, but before we ask for help, I know the following information is relevant to figure out.

1. What image repositories should be created, and what should they be named? (`ghcr.io/jupyter/<name?>`)
2. Permission to work with these images, push/pull etc, will be coupled to a specific project and the permissions of people within that project. @trallard can you confirm that it ma

[2022-11-14 10:16] mathbunnyru commented on #1707
I would also suggest moving this issue from `jupyter/docker-stacks` to `jupyter/accessibility`, so people from the relevant project see the change before it's done.
I can't do that as well, unfortunately.

[2022-11-14 16:01] consideRatio commented on #1707
While it may be possible to grant that team access, it is also possible to grant those with access to write to the github repository jupyter/accessibility - is that good?

I got a bit confused about a single repository name (ghcr.io/jupyter/accessibility) combined with a mention of images in plural. Are there more than one Dockerfile, and where are the Dockerfile(s) located?

[2022-11-14 20:30] trallard commented on #1707
Sure that should be fine re the maintainers and access

Re "images" sorry - I was typing fast between meetings. It is only one image so no need to worry.

[2022-11-16 08:18] LucasMaris opened #1830 "[BUG] - RuntimeError: can't start new thread when accessing the jupyter server"
### What docker image(s) are you using?

tensorflow-notebook

### OS system and architecture running docker image

Ubuntu 16.04.7 LTS (GNU/Linux 4.4.0-133-generic x86_64)

### What Docker command are you running?

sudo docker run -it --rm -p 4886:8888 -v "${PWD}":/home/jovyan/work --user root -e CHOWN_EXTRA="/home/jovyan/work" -e CHOWN_EXTRA_OPTS="-R" jupyter/tensorflow-notebook

(but I get the sa

[2022-11-16 14:11] mathbunnyru commented on #1830
Someone already had this issue. Could you please try updating your `Docker` version:
https://github.com/jupyter/docker-stacks/issues/1800#issuecomment-1272368486

[2022-11-16 17:26] EajksEajks opened #1831 "[BUG] - spawn by jupyterhub on K8s ; tensorflow doesn't recognize the GPU cards"
### What docker image(s) are you using?

tensorflow-notebook

### OS system and architecture running docker image

ubuntu 20.04 / amd64

### What Docker command are you running?

Dell PowerEdge R740 w/ 2 Nvidia A30 GPU cards
Host OS = Ubuntu 20.04.5
Kubernetes Cluster = 1.25.3
jupyterhub for K8s = 2.0.0
tensorflow-notebook = 2022-11-15

The container is spawned by jupyterhub.

### How to Reproduce

[2022-11-16 23:39] mathbunnyru commented on #1831
Hi, @EajksEajks!
I have no experience with running GPUs in docker, but I will try to help.

1. Could you please reproduce this behaviour without using jupyterhub/k8s and so on?
A simple `docker run` command should be enough, making it easier to debug this.

2.

I don't think you're running this inside the container, because `jupyter/tensorflow-notebook` doesn't contain nvidia libraries.

Overall,

[2022-11-16 23:49] mathbunnyru opened #1832 "JupyterCon talk"
Hi everyone,

I'm thinking about giving a talk for JupyterCon about this project.

I would like to cover 2 main topics:

1. What is our project and the ways you can use it (run it as a quick try-and-forget container / a single user on a single machine / jupyterhub / k8s). It should be useful for people, who would like to use our images.
2. How we do what we do (the internals), and what has changed

[2022-11-17 02:40] LucasMaris commented on #1830
Thanks for pointing me to that! Docker is on version 20.10.7, and after trying to update to a more recent version for a couple hours now, it simply turns out [this is the most recent version compatible with Ubuntu 16.04 “Xenial”,](https://docs.docker.com/engine/release-notes/#20108) which is the server I am working with (and can't upgrade). No luck on getting this to work then? Is there any way I

[2022-11-17 02:40] #1830 closed

[2022-11-17 06:45] mathbunnyru commented on #1830
Ubuntu 16.04 has reached its EOL (now it has only security updates), that's why it's gonna be difficult for you to keep using this OS. So I highly recommend to upgrade.

Yes, that's easy - we don't delete old images from DockerHub, ever.
There is a date tag as well, and it's not difficult to search the images
https://hub.docker.com/r/jupyter/tensorflow-notebook/tags?page=1&ordering=last_updated&na

[2022-11-17 08:23] minrk commented on #1832
I think that would be great! I think it's also useful to include a bit about the scope of the project, i.e. when should folks _not_ use it?

[2022-11-17 11:52] EajksEajks commented on #1831
Hi, @mathbunnyru

I was expecting tensorflow-notebook to support GPU cards out of the box as it is pretty unefficient to do machine learning without any proper hardware. Moreover I was misled by the JupyterHub installation instructions which mentions how to assign GPU cards to spawned notebooks.

On the K8s cluster we are running on, the gpu-operator from nvidia is installed and the GPU are easily

[2022-11-17 11:52] #1831 closed

[2022-11-17 15:59] mathbunnyru commented on #1831
I understand your frustration. The thing is we're building the whole bunch of image, not just one.
We also have an issue which suggests adding the images built on top of GPU enabled images.
https://github.com/jupyter/docker-stacks/issues/1557

I think it's actually possible, and can be done in this project without hurting anyone. But I haven't yet seen a PR, that tries to achieve it. I'm also not

[2022-11-20 14:33] mathbunnyru commented on #1707
@trallard please, create a corresponding issue in the accessibility repo 😄

[2022-11-20 15:50] mathbunnyru commented on #1832
@trallard @consideRatio @parente @romainx @maresb if you have any ideas, please share them with me :)

[2022-11-20 16:33] maresb commented on #1832
I have nowadays largely transitioned to VS Code (the dark side 😔), but I used to use it quite extensively for an exploratory data analysis and development environment so that I could:

* extend it by installing dependencies which my colleagues and I frequently use
* easily sharing this environment while guaranteeing that they can't break it (just restart the container if something goes wrong)
* wo

[2022-11-20 16:35] mathbunnyru commented on #1832
Thanks @maresb ❤️

[2022-11-20 19:04] bjornjorgensen commented on #1832
@maresb you can use VS Code to connect to jupyternote book running on this docker stack.
Something like [this](https://blog.ouseful.info/2019/02/11/connecting-to-a-remote-jupyter-notebook-server-running-on-digital-ocean-from-microsoft-vs-code/)

[2022-11-20 20:57] maresb commented on #1832
Thanks! Yes, the two approaches (VS Code and JupyterLab) are certainly not exclusive, with lots of hybrid possibilities. For my particular purposes I've just found it simpler to use micromamba-docker as my base image and start with a fresh environment. But for most people this docker stack image may be simpler since everything is set up, documented and tested.

[2022-11-22 06:57] mathbunnyru commented on #1828
Done. It looks much better, I believe.

<img width="723" alt="Screenshot 2022-11-22 at 10 57 07" src="https://user-images.githubusercontent.com/12270691/203245933-e0d2b3f7-7e9e-47c0-9be5-77a8f9d53bce.png">

[2022-11-22 06:57] #1828 closed

[2022-11-22 12:58] mathbunnyru commented on #1832
Here is my proposal. Please, let me know, if you don't like something or would like to add/remove a few things.
https://cfp.jupytercon.com/2023/talk/review/EH7A837AFBWCFJNHENG3QVXMMAKEQKZE

[2022-11-24 09:21] rileyhun opened #1836 "[BUG] - Persisting conda environments via Docker volume"
### What docker image(s) are you using?

datascience-notebook

### OS system and architecture running docker image

centos7

### What Docker command are you running?

`docker run -p 80:8888 \
    -e CHOWN_HOME_OPTS='-R' \
    -e CHOWN_HOME='yes' \
    -v /tmp/opt/conda:/opt/conda \
    daqml-jupyter:latest`

### How to Reproduce the problem?

1. Built **docker file** adapted from `jupyter/datascie

[2022-11-24 11:57] mathbunnyru commented on #1836
I don't recommend mounting `/opt/conda/` unless you really really need it.
If you don't need it, please, don't do this and everything should be fine.

Could you please tell me how you created your `/tmp/opt/conda`?
`sudo: jupyter: command not found` - does your local `/tmp/opt/conda` contain `bin/ jupyter` binary?
What permissions does it have?
There are so many things that can go wrong with this

[2022-11-24 16:19] rileyhun commented on #1836
Thank you @mathbunnyru for following up. Unfortunately, persisting conda environments is requirement from our users, unless there's another way for them to ensure their environments + kernels aren't wiped out every time we need to redeploy the infra on EC2 or do a reboot and restart the container

The full command is this:

[code]

[2022-11-24 16:41] mathbunnyru commented on #1836
Please, answer my question about `/tmp/opt/conda`.
Also, could you please simplify your example and make it reproducible?
Get rid of apt packages / aws-cli / pip packages / etc, if they don't change anything.

[2022-11-24 16:57] rileyhun commented on #1836
`/tmp` folder already exists and is one of a handful of shared host directories docker can use by default. When you mount the docker volume, `/opt/conda` _should_ be created in the `tmp` parent directory, but I just discovered that you need root access to create `/opt/conda`

[2022-11-24 16:58] mathbunnyru commented on #1836
This is why I was asking how `/tmp/opt/conda` was created ;)

[2022-11-24 17:14] rileyhun commented on #1836
It's still not working even if you use a different local path

Example:

[code]

But something like this, does work:

[code]

Basically, is it even possible to persist conda environments?

[2022-11-25 09:19] mathbunnyru commented on #1836
Once again, could you please answer these questions, I don't get it:

1. How you initially created your host `/tmp/opt/conda` directory?
2. Could you please share the contests of this folder? Both on a host machine and as a mounted volume.
To see the content as a hosted volume, add `ls /opt/conda` in the end of you `docker run`.

[2022-11-25 09:29] mathbunnyru commented on #1836
I think your host directory was created incorrectly:
I did the following:
[code]
and then I was able to run jupyter (mounting `/tmp/my_conda`)

[2022-11-25 09:50] rileyhun commented on #1836
Thank you @mathbunnyru ,

Yes you're correct. I think the host directory was created incorrectly. Running your commands did the trick. Thank you for your help.

[2022-11-25 10:22] #1836 closed

[2022-11-30 15:04] mathbunnyru opened #1837 "Posting in a Jupyter Medium Blog"
I'm currently writing a post on a medium about how we enabled support for `aarch64` images.
Could someone share, who I should ask to publish it on jupyter medium?

If someone is willing to read it and review it, it would be great as well.
It's currently in progress and it will take some time to finish it.

[2022-11-30 15:10] consideRatio commented on #1837
I've never done it, but there was just a note in the jupyterhub/team-compass in a PR about this, i'm on a mobile not able to look up what PR it was, but check for open or recently merged!

[2022-11-30 15:11] mathbunnyru commented on #1837
Cool, thanks, I'll do it!