[2021-02-11 19:37] #1235 closed

[2021-02-12 04:45] romainx commented on #1235
Hello,

New image is available.

[code]

Best

[2021-02-12 04:55] romainx opened #1237 "Images tagging not done during the latest build"
Hello,

Just noticed that during the last build only the `latest` tag was pushed to DockerHub on all images of the stack.
It has been done through [this build ](https://github.com/jupyter/docker-stacks/runs/1882175244?check_suite_focus=true).
It's weird since the wiki is up to date and the corresponding PR #1236 was only about bumping some packages versions.

Best

[2021-02-13 00:33] AKJHK2021 opened #1238 "M1 Apple's MacBooks support"
Is there a chance to have the same docker image that runs on M1 Apple's MacBooks..

Thanks!

[2021-02-13 06:51] romainx commented on #1238
Hello,

Yes, in fact I think we need to build an ARM image. If so, it's basically what I've drafted in the PR #1202. You can have a look if you are interested. It was not merged since it requires some additional work and since we had other priorities at this time. But it's definitely possible.

Another option you have right now is to use emulation to run the current AMD64 (X86) images. Have a look

[2021-02-21 23:09] TatianaShavrina commented on #358
Really thought for some time this was some Armenian developer's surname lol

[2021-02-22 14:21] ChristophSchranz opened #1240 "Redo PR to change jupyter_server_config"
https://github.com/jupyter/docker-stacks/blob/c3d5df67c8b158b0aded401a647ea97ada1dd085/base-notebook/jupyter_notebook_config.py#L11-L13

Please redo this commit c41616d7f30ed957f1fdf523819d328083270062
in order to change the file `jupyter_notebook_config.py` to `jupyter_server_config.py` and change the Notebook fields.

Thanks! :)

[2021-02-22 14:54] mathbunnyru commented on #1240
@romainx this is your commit :)

If you have some time, could you check this out, please?

[2021-02-22 18:47] parente commented on #1217
Noting that a convo opened in 2018 about making JLab the default in the Zero to JupyterHub tutorial has picked up steam again: https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/776#issuecomment-703895108 and includes a community poll.

[2021-02-23 20:17] romainx commented on #1240
Hello @ChristophSchranz & @mathbunnyru,

The commit you mention has been replaced by the following code that basically does the same thing without file duplication.
https://github.com/jupyter/docker-stacks/blob/c3d5df67c8b158b0aded401a647ea97ada1dd085/base-notebook/Dockerfile#L159-L161

You can check that everything is fine in the resulting `base-notebook`.

[code]

@ChristophSchranz please could

[2021-02-24 06:47] romainx commented on #1237
In fact the last successfully tagged stack was done the **2021-02-08**, after this date only the latest tag is pushed to DockerHub. @mathbunnyru I do not understand what is going on, any idea on your side?

[2021-02-24 07:09] ChristophSchranz commented on #1240
Yes that should be okay.

[2021-02-24 10:04] mathbunnyru commented on #1237
I will take a look. I'm not familiar with the dockerhub maintenance, but I will try my best, having all the tags is important.

[2021-02-24 10:57] ChristophSchranz commented on #1240
I've found that the problem was caused by a deprecated cached dependency. Rebuilding without cache (`docker build --no-cache -t tagname .build/`) solved this issue for me:

[2021-02-24 10:57] #1240 closed

[2021-02-24 10:57] ChristophSchranz commented on #1240
Thanks for the quick response and maintenance!

[2021-02-24 11:02] mathbunnyru commented on #1240
I always use `--pull` to make sure, that I use the latest (and, hopefully, greatest) version of Docker image.

[2021-02-24 16:47] rwmajor2 opened #1242 "Alpine OS base"
Is there any plan to investigate using Alpine as the base OS?  With these images, it's not about file size.  It's more about security posture.  It seems starting with Alpine vs. Ubuntu might help some security vulnerabilities that scanners will sometimes highlight with Ubuntu.

Do we know of a technical limitation that would prevent this?

[2021-02-24 17:40] mathbunnyru commented on #1242
Actually, this is quite an interesting question 👍
Disclaimer: I only used alpine for 15 minutes in my life.

Yes, it might be possible to get smaller images and probably more secure images.

But for python packages especially there is a big downside:
https://pythonspeed.com/articles/alpine-docker-python/

The python software didn't work that well on alpine image 1 year ago. Has this changed? (sorr

[2021-02-24 17:52] mathbunnyru commented on #1237
Done :)

[2021-02-24 18:36] #1237 closed

[2021-02-25 06:22] romainx commented on #1242
Hello @rwmajor2,

To complete what @mathbunnyru said, I would like to highlight that **I'm not sure Alpine is the best alternative**. I've been aware of issues with Alpine running Python. [This very good article][1] gives a good picture of the problem.  And this problem seems to be worst with libraries heavily relying on C and it is mostly the case of the scientific libraries we are using (for exa

[2021-02-27 00:39] srggrs commented on #1242
Hi,

Seems other people are moving away from alpine + jupyter, see [this repo](https://github.com/nbgallery/jupyter-alpine#repository-status). Hope those info help in the answer.

Cheers,
S

[2021-02-27 00:58] srggrs commented on #1214
Hi,

not sure if this is related to this issue here, but I'm struggling to understand which image to pull with the package requirements I want. I thought the image tags were related to the PRs (e.g. [this commit](https://github.com/jupyter/docker-stacks/commit/35d3fff7709912782e97325e907fbef6d3c565b5#diff-e67b5386623ecce90c1b575564210636b1139db34546ace04be10e9c130bb3ca) would be push to docker hub

[2021-02-27 10:05] rwmajor2 commented on #1242
Thanks everyone.  This was enough to answer my question.

[2021-02-27 10:05] #1242 closed

[2021-02-27 12:10] mathbunnyru commented on #1214
Hi, no, I would say that this is unrelated.

But I will be glad to help you.
You probably want the latest version with `JupyterLab < 3` (not `Jupyter`).

So, all you need to do is to find the commit before lab update and use this commit's hash prefix as the tag.
Note, that not all commits are tagged, because they might be docs update and do not change the image.

You need approximately this commit

[2021-02-27 15:06] parente commented on #1139
@romainx @mathbunnyru I've invited you to the jupyter/cookiecutter-docker-stacks repo with the same permissions you have in this one.

[2021-02-27 19:55] #1210 closed

[2021-02-28 18:21] hragbalian opened #1247 "Rollback to a tagged image does not work"
Hello,

For several months, I've been spawning Lab instances using the jupyter/datascience-notebook image.  In my builds, I hadn't specified any tags so was just referencing the image as

[code]

but most of our builds bypassed the image hosted on DockerHub and just updated via our cache (which is on ECR).  We had to do a cache-bust on a recent build to update some libraries, as they weren't updat

[2021-03-01 14:09] TheCatster opened #1248 "Jupyter Lab Has (Almost) Blank Login Screen"
**What docker image you are using?**

Example: `jupyter/datascience-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

[code]

**What steps do you take once the container is running to reproduce the issue?**

Example:

1. Visit https://jupyter.domain.com

**What do you expect to happen?**

Expect to see a login screen, as usual.

**What act

[2021-03-01 16:43] romainx commented on #1247
Hello,

The problem you encounter with the extension is probably linked to the upgrade to JupyterLab `v3.0.x` that was done in the PR #1222.
If you want to use a version with JupyterLab 2.2.x you can just use the tag `lab-2.2.9`.

[code]

To answer your second question, you should be able to build from a tagged image the same way. There is nothing special to know except that the base image could b

[2021-03-01 17:36] hragbalian commented on #1247
Thanks @romainx! Yes, there was an incompatible file in the .jupyter/lab directory.  When I wipe that directory the Lab loads fine.  Much appreciated.

[2021-03-01 17:36] #1247 closed

[2021-03-01 19:28] romainx commented on #1248
Hello,

I've answered to an issue today #1247 that reported the same behavior.

Apparently it was solved by the user that made the following feedback.

Could you check on your side if the problem is the same?

Thanks.
Best.

[2021-03-01 19:40] TheCatster commented on #1248
Clearing the `.jupyter/lab` directory did not fix it. It's not browser cache, since it's multiple devices experiencing it, and I don't believe it has anything to do with my notebooks, as they haven't been touched in about a month and worked for months before that (I got busy with work and didn't have the time to continue working on my projects). The only thing that could've changed in that time wa

[2021-03-01 20:17] romainx commented on #1248
@TheCatster the last major change was switching to JupyterLab `v3.0.x`, you can check with a prior tagged version `jupyter/datascience-notebook:lab-2.2.9`.
You can also try to not mount the volumes you are using because they may be related to this issue.
I do not reproduce it with a fresh setup.
Best.

[2021-03-01 20:22] TheCatster commented on #1248
I'll try now without mounting, that's a good idea.

[2021-03-01 20:55] romainx commented on #1248
It looks like a know issue, could you check #1035?

[2021-03-03 18:48] romainx commented on #1248
Hello @TheCatster, any update on your side.

[2021-03-03 18:51] TheCatster commented on #1248
Sorry about that, haven't had a moment. I run this on a remote machine without any of the scenarios described, except for in that month or so I didn't use the Jupyter Lab I added a `code-server` container. I'm wondering if the Python plug-in there is interfering. I will setup a separate VM to test out just Jupyter Lab.

[2021-03-03 18:56] romainx commented on #1248
We have received several issues of users reporting token problems and most of them were related to VS Code or (`code-server`) running a Jupyter on the same port. So it may be the same cause here.

[2021-03-03 22:09] TheCatster commented on #1248
I'm quite confused. I did as I said, rid the `code-server` containers, and moved Jupyter Lab to a lone VM. Still, I have the same screen.

[2021-03-03 22:13] TheCatster commented on #1248
To add, which is quite interesting, if I include the token in the URL there is no issue, and the proper Jupyter Lab loads. It seems to be only the login page.

[2021-03-04 14:15] Bidek56 commented on #1248
I use `jupyter/pyspark-notebook` on a AKS cluster and `https://jupyter.domain.com` works all the time.
The issue maybe in your `/home/{{ .Values.username }}/.jupyter/jupyter_lab_config.py`
I use the following values if it helps:
[code]

[2021-03-04 14:26] TheCatster commented on #1248
I had no such file when I first looked, and after adding one and what you had (editing the root dir), it seems that the file is not being read. Why would that be?

[2021-03-04 14:39] Bidek56 commented on #1248
You styling is gone because of the `c.ServerApp.tornado_settings = {'static_url_prefix': '/static/'}` setting, please check your browser console for any errors.

[2021-03-04 14:40] TheCatster commented on #1248
There are no console errors. Is there a way to see where the static files are actually kept?

[2021-03-04 15:05] Bidek56 commented on #1248
There seems to be a bug related to [`c.ServerApp.base_url`](https://github.com/jupyterlab/jupyterlab_server/issues/152) which maybe causing your issue, can you try removing it from the config?

[2021-03-04 16:17] TheCatster commented on #1248
No change from that.

[2021-03-05 07:18] kentwait commented on #885
I also had this same problem when mounting host folders for jupyter/datascience-notebook.
I was able to solve it by adding `--user <UID> --group-add users` options to `docker run`.
From the [docs](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html#docker-options):

My environment:
- Ubuntu 18.04.5 LTS
- Docker version 20.10.5, build 55c4c88

The following is my `docker run` c

[2021-03-06 16:54] ABCurado commented on #823
Thank you for this functionality, just one suggestion.
A reference from the main readme, docker hub or readthedocs to the [wiki page tracking builds](https://github.com/jupyter/docker-stacks/wiki) would be very helpful in my opinion.
Speaking from personal experience, only after seeing this issue I've understood this functionality was available(after several time spent searching). The github wiki

[2021-03-06 19:27] willingc commented on #1217
Let's look again at the date when these stacks will move to JupyterLab as the default front-end. April 2021 seems too aggressive a move and have the time to adequately inform those that expect classic.

[2021-03-07 04:23] romainx commented on #1217
Hello @willingc, thanks for the information. We can move the date, no rush on our side, it's just to reflect the message given by Jupyter Notebook maintainers. Could you please tell us what is the new target?

[2021-03-07 04:28] romainx opened #1250 "Enhance tagging by making it consistent and well documented."
Hello,

## Make image tags consistent

The images will be tagged as described below

- `base-notebook`:
  - `SHA`: Commit short SHA
  -  `python-$VER`: Python version
  -  `notebook-$VER`: Jupyter Notebook version
  -  `lab-$VER`: JupyterLab version
  -  `hub-$VER`: JupyterHub version
 - `minimal-notebook`:
   - all upstream tags
 - `scipy-notebook`:
   - all upstream tags
 - `r-notebook`:
   - al

[2021-03-07 04:29] romainx commented on #823
@ABCurado thanks good suggestion, I've just created a dedicated issue to implement your idea.

[2021-03-07 12:01] cchantep opened #1251 "Add semantic tag"
The Docker images are pushed without any semantic tag, which make it hard to track the changes.

[2021-03-07 22:26] Bidek56 commented on #1251
I see the [tags](https://hub.docker.com/r/jupyter/pyspark-notebook/tags?page=1&ordering=last_updated) in the hub, where are you looking?

[2021-03-07 23:39] cchantep commented on #1251
That's not semantic tag in any way, it doesn't help at all to select and fix one according according wanted jupyter/python/.. versions.

[2021-03-08 15:27] King-of-penguins opened #1252 "How to build datascience-notebook with new version of Pyrthon using docker-compose?"
I read several comments on how to build a Docker image with a different version of Python: [comment1](https://github.com/jupyter/docker-stacks/issues/1200#issuecomment-745258117) and [comment2](https://github.com/jupyter/docker-stacks/issues/1208#issuecomment-755907605).
These comments recommended using the following argument: `--build-arg PYTHON_VERSION=3.x.x`
In `conda` I found version of Python

[2021-03-08 21:41] Bidek56 commented on #1252
I think you are way ahead of the time. Python 3.9.2 is brand new.
I doubt there is [miniforge](https://github.com/conda-forge/miniforge) with Python 3.9.2 support, even if there was one, a lot of the packages will not support 3.9.2 yet.

[2021-03-09 19:43] romainx commented on #1252
@King-of-penguins The issue you are running into is that the python version can be set in the `base-notebook` image and your `Dockerfile` uses the `datascience-notebook` as upstream (base) image. Moreover in your example you are passing an argument to your `Dockerfile` that is not using it. So it cannot work.

If you want to do that properly, as I said in my [comment](https://github.com/jupyter/do

[2021-03-09 19:43] #1252 closed

[2021-03-09 19:48] romainx commented on #1251
Hello @cchantep could you check in the [wiki](https://github.com/jupyter/docker-stacks/wiki) if it's the tag you are looking for?

Here is an example for the `datascience-notebook` image.

[code]

If it's the case, I recently created the issue #1250 to enhance the documentation on this point and put a link to this history.

Best

[2021-03-09 21:32] cchantep commented on #1251
There no tag for https://hub.docker.com/r/jupyter/pyspark-notebook/tags?page=1&ordering=last_updated

[2021-03-09 22:45] mathbunnyru commented on #1251
The reason is the difference in these 2 files.

https://github.com/jupyter/docker-stacks/blob/master/datascience-notebook/hooks/run_hook
https://github.com/jupyter/docker-stacks/blob/master/pyspark-notebook/hooks/run_hook

`datascience-notebook` always has many tags while `pyspark-notebook` only has `SHA` tag.

I know almost nothing about `pyspark-notebook`, so, @cchantep could you please create P

[2021-03-10 02:13] romainx commented on #1251
Done!
@cchantep could you confirm in #1250 if it matches your expectations?
Many thanks

[2021-03-12 14:26] sakuraiyuta commented on #1019
I'm interested this topic too.
`aarch64` docker images builded with my repository are here.

- https://hub.docker.com/r/sakuraiyuta/base-notebook/tags
- https://hub.docker.com/r/sakuraiyuta/minimal-notebook/tags
- https://hub.docker.com/r/sakuraiyuta/all-spark-notebook/tags
- https://hub.docker.com/r/sakuraiyuta/pyspark-notebook/tags
- https://hub.docker.com/r/sakuraiyuta/datascience-notebook/tags

[2021-03-13 18:15] jeffyjefflabs commented on #1242
I didn't notice this issue while it was open - I work on the nbgallery project referenced here, and I'll echo what others in the thread have said.  For a general-purpose project like this one or what we were doing with nbgallery, where users want to be able to pip install any arbitrary package, using Alpine was a constant struggle.  We used it for a couple years before switching over to jupyter/do

[2021-03-16 12:40] IrtazaHussain1 commented on #1248
I have customized start-notebook.sh file and created the new image from **jupyter/datascience-notebook:67b8fb91f950**
bellow is updated code
[code]
Issue i am facing is when I enable lab using environment variable JUPYTER_ENABLE_LAB in start-notebook.sh file suddenly all the styling of login page disappear while if I make JUPYTER_ENABLE_LAB empty string it start working perfectly. means if jupyter

[2021-03-16 14:05] step21 commented on #1019
Cool! So far I had them built on docker hub after testing locally.

[2021-03-17 11:57] mathbunnyru commented on #1248
@TheCatster I tried to run your docker-compose file on a local docker and everything works just fine.

Could you please, try to run it on a local machine as well?
And without your mounts - there might be a problem with them.

After that try to add your mounts - if everything works well, it might be a network setup issue.
If not, it means that something is wrong in the folder(s) you mount:

It migh

[2021-03-17 11:58] TheCatster commented on #1248
I've tried without mounts a few times earlier, so I'll try on a local machine. I wouldn't be surprised if it's something on the network side at this point.

[2021-03-17 12:04] TheCatster commented on #1248
Now I'm even more confused. Same blank screen on my main workstation, nothing mounted. Only the docker compose that I pasted in the original issue.

[2021-03-17 14:24] mathbunnyru commented on #1248
Ok, at least this gives much more understanding.
Could you confirm then that it is working on another machine you have?

Also, what OS are you using / browser?
I was building everything under macOS and Safari.

[2021-03-17 14:25] mathbunnyru commented on #1248
And I would like to ask you to try visiting jupyter in a freshly installed browser - you could use Vivaldi for example.

[2021-03-17 14:29] TheCatster commented on #1248
I can't at this moment, but I'll try it on another few laptops. So far it does not work on my main workstation, running Arch Linux, my Hackintosh, running Big Sur, my main laptop running Arch, and another laptop running Void.

Arch, macOS Big Sur, Void, and I've tried accessing it from my iPhone as well on Safari. Using Safari on Big Sur/iOS, and Firefox on all others. I've tried using my default

[2021-03-17 14:45] TheCatster commented on #1248
![image](https://user-images.githubusercontent.com/32912305/111486349-51c4d980-872f-11eb-867f-5fcd7bd2bfe3.png)
Brand new install of Vivaldi, I've never used it before. No difference

[2021-03-17 15:21] mathbunnyru commented on #1248
That's so unfortunate. I have no idea how the same setup doesn't work on all your machines but works on the one I have.

Please, could you explain step-by-step, how do you launch your `docker-compose`, which website you visit (`http://127.0.0.1:8888/?token=TOKEN_HERE`) and versions of docker-compose and docker (please, try updating them).

[2021-03-17 15:22] mathbunnyru commented on #1248
Sorry for such stupid requests, but I don't see another way of debugging this issue.

[2021-03-17 15:27] TheCatster commented on #1248
No no, not stupid at all, I completely understand. I always run the latest versions, being on a rolling release distro, so my docker version is 20.10.5, build 55c4c88966 and my docker-compose is 1.28.5.

1. I make a directory called `jupyterlab`. On my workstation, where I'm currently testing, it's located at `~/Programming/Docker/jupyterlab`.
2. Within `jupyterlab`, I make a file called `docker-c

[2021-03-17 15:40] mathbunnyru commented on #1248
First of all, I have the exact same versions as you do (on my mac).

Wow, this is something new to me. I didn't log out, so the issue you're running into is that you can't log in after logout.

Still, I tried your instruction and get no errors.
I did run with `docker-compose up` to see the logs and here is what I see (302 GET is a successful login).

Do you see something odd in your logs? Could yo

[2021-03-17 15:47] TheCatster commented on #1248
![image](https://user-images.githubusercontent.com/32912305/111496231-0a8f1680-8738-11eb-84a5-c30e7655176f.png)
Following are my logs, with nothing particularly strange to me.

[2021-03-17 17:35] mathbunnyru commented on #1248
Oh, the image I'm using seems to be a bit old. I will make `docker pull jupyter/datascience-notebook` and retry your steps.

[2021-03-17 17:44] mathbunnyru commented on #1248
I updated my image and now my logs look like yours, but without an error. I think the tornado error is causing the issue you see.

Please, run `docker pull jupyter/datascience-notebook`, this might easily resolve the problem

[2021-03-17 17:44] mathbunnyru commented on #1248
This is what I see now - note, no error.

<img width="1552" alt="Screenshot 2021-03-17 at 20 43 29" src="https://user-images.githubusercontent.com/12270691/111513169-910c1e00-8761-11eb-977f-bf2eb2018d81.png">

[2021-03-17 17:56] mathbunnyru commented on #1248
And, I hope, you use the `jupyter/datascience-notebook` from dockerhub, not your (custom) build of `jupyter/datascience-notebook`, because the images might be different.

[2021-03-17 19:01] TheCatster commented on #1248
Yeah, I use it from docker hub, and I just pulled mine when you asked me to try on local. But, I'll try again.

[2021-03-17 20:24] romainx commented on #1217
@parente & @willingc April is coming what is your advice? On my side, I have no strong opinion since I do not know the plans regarding Jupyter Notebook end of life. If we want to avoid unnecessary issues — like me — we could postpone the switch to a later date, for example June or October? Please tell me and I will take care of performing the change.

[2021-03-17 20:33] mathbunnyru commented on #1248
I took a careful look at your logs.
Your log misses one line `Writing notebook server cookie secret`.
You might be still attaching your volumes, because with volumes attached I don't see this line as well.
Please, take a more careful at your `docker-compose.yaml`.

And let's try to use `docker-compose up` with `--force-recreate` option.

[2021-03-17 20:53] mathbunnyru commented on #1217
I would wait for Jupyter Notebook's decision regarding EOL.
I'm also not sure that all lab extensions are already updated to be compatible with jupyterlab 3.0.
And we have to give users more time to adjust their systems for jupyterlab.

[2021-03-17 21:24] romainx commented on #1248
@mathbunnyru @Bidek56  thank you for all investigations made.
@TheCatster Based on these discussions, we are most definitely on an issue specific to your setup. I'm not sure we should spend more time on specific cases like this that only affect a specific setup. So if you don't mind, we will close this issue.

Thank you for your understanding.

[2021-03-17 21:34] mathbunnyru commented on #1248
Let me first explain the ideas on how to debug these things.
General idea is that you need to make the setup as simple as possible.
It will most likely be repeatable by other people.

Things we've excluded so far:
- network (tried on a local machine)
- volumes attached (but as I said, I'm not sure that this is true)

I would like to suggest you try to use the raw `docker` command because this will

[2021-03-19 13:46] uluzox opened #1255 "pyspark library is missing from jupyter/pyspark-notebook when running with jupyterhub/zero-to-jupyterhub-k8s"
pyspark library is not available in the pyspark-notebook when running on jupyterhub.

**What docker image you are using?**
jupyter/pyspark-notebook:9fe5186aba96

**What complete docker command do you run to launch the container (omitting sensitive values)?**
I am running a jupyterhub instance on k8s that starts the above mentioned container

**Description**
When running jupyter/pyspark-notebook lo

[2021-03-19 13:54] mathbunnyru commented on #1255
I know nothing about pyspark at all, but I can see that we have some hooks to enable pyspark in pyspark-notebook.

For example, we have this line:
https://github.com/jupyter/docker-stacks/blob/master/pyspark-notebook/Dockerfile#L50
`ln -s "${SPARK_HOME}/sbin/spark-config.sh" /usr/local/bin/before-notebook.d/spark-config.sh`

And the comment is actually makes sense:
`# Add a link in the before_note

[2021-03-19 14:02] uluzox commented on #1255
The contents of the script look exactly like what I am doing manually.
So I assume you are right. The script probably is not running. When should it be running? Who starts the run when running the container image with docker run?

[2021-03-19 14:11] mathbunnyru commented on #1255
This is the start script:
https://github.com/jupyter/docker-stacks/blob/master/base-notebook/start.sh
Note that there are 2 branches - if we're running from root and if not (and in both cases we run before-notebook.d hooks).

Docs on these start scripts:
https://github.com/jupyter/docker-stacks/blob/master/docs/using/common.md

https://github.com/jupyter/docker-stacks/blob/master/base-notebook/Doc

[2021-03-19 16:37] jeffyjefflabs commented on #1248
I found my way here after also noticing the lack of styling on the login page.  I can't reproduce @TheCatster's token problem either, but just for reference, the lack of styling is easily reproducible with `docker run -e JUPYTER_ENABLE_LAB=yes -p8888:8888 jupyter/base-notebook:latest` and then going to `http://localhost:8888` without including the token in the URL.  I believe that's due to https:/

[2021-03-19 16:41] TheCatster commented on #1248
I finished setting up my new network, and I no longer have the token issue. I do still have no styling, but if what @jeffyjefflabs just linked is the answer, then I can live with no styling. I think that solves it for me!

[2021-03-19 16:57] Bidek56 commented on #1255
I think this is an issue with `jupyterhub/zero-to-jupyterhub-k8s helm` because I am running this image on AKS
`FROM jupyter/pyspark-notebook:9fe5186aba96`
and have no issues, everything works just fine.

[2021-03-19 17:00] Bidek56 commented on #1255
Have you looked at this [doc](https://zero-to-jupyterhub.readthedocs.io/en/latest/jupyterhub/customizing/user-environment.html)?

[2021-03-19 17:05] mathbunnyru commented on #1248
Great, I'll close this issue as it seems to be resolved.

[2021-03-19 17:05] #1248 closed

[2021-03-21 22:12] parente commented on #1217
Since there's no votes here for switching in April and concern about it being too early, let's set the date further out. When Notebook no longer receives security fixes, when most other Jupyter projects make Lab the default (e.g., Binder, [Z2JH](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/776)), when there's a stable single-document interface for Lab akin to Classic, ... all seem l

[2021-03-22 06:11] romainx commented on #1217
@parente @mathbunnyru thank you for your very wise suggestions — one more time . I will take care to remove the date my saying something like "at some point", I think it's a better choice than setting a random date.

[2021-03-22 10:32] meeseeksmachine commented on #1255
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/pyspark-library-is-missing-from-jupyter-pyspark-notebook-when-running-with-jupyterhub-zero-to-jupyterhub-k8s/8450/1

[2021-03-22 12:54] uluzox commented on #1255
Using the following config.yaml fixes the problem.
[code]

The cause is, that the `jupyterhub/zero-to-jupyterhub-k8s` helm chart calls jupyterhub-singleuser directly and skips the start script.

[2021-03-22 12:54] #1255 closed

[2021-03-27 20:10] giulange opened #1262 "Impossible to install r-gdal or r-sf in conda"
Hi!
Thanks for your work on Jupiter notebooks!

I am reporting an issue installing **r-gdal** or **r-sf** in conda which affects the availability of these packages under R.

I start from the jupyter/datascience-notebook to build a new layer having more libraries on board.
This is the _Dockerfile_ I'm using:

[code]

**I would remove comments in order to install r-sf and r-gdal**
The build is fine

[2021-04-01 08:28] tronicum commented on #1229
could you supply an `docker info` output plz?

[2021-04-01 11:59] pylang commented on #1229
[code]

[2021-04-01 21:40] tronicum commented on #1229
i am pretty new to juypter myself but it looks like you are mounting stuff, not "creating" volumes, are you? ever tried creating a specific volume beforehand? as on the docker docs
"Named volumes have a specific source from outside the container, for example awesome:/bar."
 "Anonymous volumes have no specific source so when the container is deleted, instruct the Docker Engine daemon to remove them

[2021-04-02 18:42] romainx commented on #1071
Hello @trallard, great. I will be able to give you a hand if needed, however I will be off for a few days (not sure I will have the time to have a look on your contribution regarding cookie-cutter).
I had noticed that JupyterHub has a [troubleshooting page](https://jupyterhub.readthedocs.io/en/stable/troubleshooting.html), maybe we could take some ideas from this template?

Thanks a lot

[2021-04-02 19:17] romainx commented on #1262
Hello @giulange,

Sorry for the late answer. I managed to install the two missing packages with the following instructions.
Disclaimer: I'm not sure at all that it's the right way to do it, it's just a result of googling around + trials and error.

[code]

Since I do not know at all how to use those packages, I let you check. The only thing I can tell is that R seems to not complain when I ask to

[2021-04-03 12:32] pylang commented on #1229
Correct.  I'm mounting a directory using the `-v` flag per the docs

The trouble is I'm losing data if I use certain combinations of flags, recommended in the docs.  Here is a related [problem](https://github.com/jupyter/docker-stacks/issues/769#issuecomment-509499266).  I don't particularly want to get into making docker volumes and connecting them as you're suggesting, but yes I think that is an

[2021-04-05 18:41] wedneyyuri commented on #885
Guys, it seems that the solution is **simpler than you think**.

This example is **working for me** (ubuntu):

[code]

The key to the victory is the option `CHOWN_HOME`:

[2021-04-08 03:28] romainx commented on #1262
@giulange I'm closing this issue since we have proposed an answer and it's not strongly related to Jupyter images but more to specific packages installation that are not part of the base images. Feel free to comment in this issue, if you think we can help further.

Best

[2021-04-08 03:28] #1262 closed

[2021-04-09 05:31] jeffyjefflabs commented on #1229
I encountered the same thing - I didn't have time to investigate closely, but my guess was the combination of setting `$NB_USER` and mounting something underneath `/home/jovyan` causes docker to do bad things when the Jupyter startup script tries to rename the home directory.  Might be worth at least adding a warning to the docs in the `$NB_USER` section?

@pylang, if your end goal was the same as

[2021-04-09 21:08] THargreaves opened #1264 "Possibility of Publishing to GitHub Packages"
There would be considerable benefits to having the Jupyter Docker Stacks publish to [GitHub Package Repository](https://github.com/features/packages) as well as DockerHub. This allows [considerably faster caching](https://dev.to/dtinth/caching-docker-builds-in-github-actions-which-approach-is-the-fastest-a-research-18ei) than can be achieved via other means.

Are there plans to implement this? Is

[2021-04-11 16:52] romainx commented on #1264
Hello @THargreaves.

To be honest I'm not familiar with GitHub Package Repository and its policy regarding open source projects. Would we be able to store all stacks built here for free?

I don't know neither if there is a global strategy at Jupyter organization level to stick to DockerHub and / or to provide an alternative.

Sorry I'm not a big help, but it could make sense, if you or someone els

[2021-04-11 17:11] THargreaves commented on #1264
No worries. Yes, GPR is free for public repositories.

As far as I am aware, the process for pushing to GPR is exactly the same as DockerHub but using specifying `ghcr.io` when logging in, tagging, and pushing.

E.g. here is the introductory Docker example provided by GitHub

[code]

[2021-04-12 03:33] mathbunnyru commented on #1264
For me, the main question is - do we really need faster caching?
Right now, I don't think that is the case.
At the same time, there is a growing interest in images for other architectures, so the complexity might raise significantly.

[2021-04-12 11:48] midav7 opened #1265 "Is there an image with ubuntu-20.04"
Hi there,
Does jupyter/base-notebook base docker image with the latest ubuntu-20.04 version exist on DockerHub?
I can only find it with ubuntu-18.04 https://hub.docker.com/layers/jupyter/base-notebook/ubuntu-18.04/images/sha256-8502dd73c35fe239a33d52ee371a30282f570e387a5503ef69639fe0c35b13ac
I appreciate any advice. Thank you in advance.

[2021-04-12 12:17] mathbunnyru commented on #1265
All the images after the one you mentioned use 20.04.
So, pick a recent image and it should be fine.

The thing is that we manually tagged latest 18.04 image if people need more time adjusting their setup.

More info:
https://github.com/jupyter/docker-stacks/pull/1096#issuecomment-645741243

[2021-04-12 19:58] romainx commented on #1265
@mathbunnyru maybe another suggestion for the tag improvement you are working on #1250.
I think we can close this issue.

[2021-04-12 19:58] #1265 closed

[2021-04-12 20:00] romainx commented on #1264
@mathbunnyru good point we have prototyped that building multi-arch image is not sustainable with the current build solution. There is an open issue for that #1203 that could benefit from this solution.

[2021-04-13 10:15] manics commented on #1238
This looks like a duplicate of https://github.com/jupyter/docker-stacks/issues/1019. Since that issue includes work from others who've done their own builds is it worth closing this issue, and modifying the title of https://github.com/jupyter/docker-stacks/issues/1019 to make it clear it's for all ARM platforms?

[2021-04-13 17:16] #1139 closed

[2021-04-14 10:26] LYU-Daliang commented on #408
`-e GRANT_SUDO=yes` must be used with `-u root` at the same time. Otherwise will get *Container must be run as root to grant sudo permissions*.

[2021-04-14 10:28] apeming commented on #1228
I'm facing the same issue on kubernetes

[2021-04-14 11:00] Kula4ud3e opened #1266 "Deleting cache files"
Good afternoon!

I am using the `jupyter/datascience-notebook` image for work. And I have a problem, when a pod is created for a user in the pod there should not be cache files at the paths `/opt/conda/share/jupyter/lab/staging` and `/home/jovyan/.cache`. The cache in `/home/jovyan/.cache` is created each time the user logs in to their pod.

I would like to know how I can delete this cache?

Thank

[2021-04-16 02:45] apeming commented on #1228
I pre install the jupyterlab-git in the basic-notebook and it works. Hope it can help

[2021-04-17 07:18] romainx commented on #1238
@manics good remark I'm closing it in favor of #1019.

[2021-04-17 07:18] #1238 closed

[2021-04-17 07:22] romainx commented on #1019
Hello, if you don't mind I will rename this issue to something more general like "Support ARM architecture".
Please also note that I made an attempt in #1202 to build multi-arch images. It works however the build time is a pain point in this case.

[2021-04-17 10:19] maresb opened #1268 "Tensorflow 2 is finally on conda-forge!"
As of about 4 days ago. It is now finally possible to do `mamba install tensorflow` or `conda install tensorflow`.

It would be great to switch tensorflow-notebook from `pip` to `conda` or `mamba`. I have not yet had the chance to test it out though.

[2021-04-17 10:33] mathbunnyru commented on #1268
That's great news!

I also don't like using pip and conda together (better to install all the things using conda).
But, in this case, we're already using `2.4.1`, but for now only 2.4.0 is available in conda-forge.

https://anaconda.org/conda-forge/tensorflow/files

I hope, they will update soon and we will switch to conda.

[2021-04-17 15:08] step21 commented on #1019
Sure, please do. Cool that you did that. What did you use for building that the build time was such an issue? I just used dockerhub and that seemed to work relatively quickly. And how big is the difference?

[2021-04-18 16:18] mathbunnyru commented on #1228
@JessicaBarh @jameslao @apeming

It seems that the upstream released a new version and the issue is closed now.

https://github.com/jupyterlab/jupyterlab-git/issues/779#issuecomment-821823380

Both pypi and conda already have the newest version:
https://pypi.org/project/jupyterlab-git/
https://anaconda.org/conda-forge/jupyterlab-git/files

Please, confirm, that version 0.30.0 works fine and I will

[2021-04-19 01:56] apeming commented on #1228
Still failed to load the jupyterlab-git server extension in docker image jupyter/scipy-notebook:8d32a5208ca1

![image](https://user-images.githubusercontent.com/17539850/115171256-3fa2d600-a0f5-11eb-8c99-bcc1c8a6e50c.png)

![image](https://user-images.githubusercontent.com/17539850/115171288-521d0f80-a0f5-11eb-84ee-b5c3a62cfcc1.png)

[2021-04-20 16:15] mathbunnyru commented on #1228
I think I finally made it work!

I have the same issue, as you do if I install `jupyterlab-git` in already running jupyterlab.

But I have created a `Dockerfile` just like this:
[code]

And built it `docker build -t my_tag ./`
And ran: `docker run -v SOME_GIT_FOLDER:/home/jovyan/ -p 8888:8888 my_tag`

And, it works!

[2021-04-20 16:23] mathbunnyru commented on #1268
There is a PR attempt to update the version:
https://github.com/conda-forge/tensorflow-feedstock/pull/114

[2021-04-23 16:40] mathbunnyru commented on #1153
That's not a silly question at all.

I see several positive things in pinning versions:

1. Reproducibility. If we don't fix versions and build the same code at different times, it will give different results. It's not something that I expect (I have some background in C++). This is really important.

2. It's quite an easy strategy to rebuild the images - they are rebuilt if someone pushes an upda

[2021-04-23 20:11] maresb commented on #1153
@mathbunnyru, I used to think similarly, but my perspective has changed.

I think reproducibility is ultimately the responsibility of the end user, and that is easily achieved by pinning a Docker build number. Moreover, the current practice of pinning major/minor version numbers doesn't provide exact reproducibility. For that you'd need not only the patch number but also the conda-forge build numb

[2021-04-24 09:25] giansegato commented on #885
This configuration worked out for me:

[code]

I strongly advise against setting `-u root` in `docker run`, or `user: root` in docker-compose. There's a reason why Jupyter doesn't get sudo privileges — it'd not ideal, from a security standpoint, to run Jupyter as root (being vulnerable to quite trivial command execution).

[2021-04-24 15:56] mathbunnyru commented on #1153
Thanks for you ideas @maresb.

It would be great to hear from @parente and @romainx

[2021-04-24 20:09] parente commented on #1153
The major.minor version pinning approach used here originated in the early days of conda-forge when it was extremely difficult to get a working build with the number of packages in these images. I think it's reasonable to experiment with an unpinned strategy today as long as users are informed about the change, there is a manifest of what actually got installed during a build (there is on the wiki

[2021-04-24 20:57] mathbunnyru commented on #823
If I'm right, my PR wil fix this issue as well, because tagging will be consistent and we will add tags for the things like python version for all the images.

[2021-04-26 19:24] romainx commented on #1019
@step21 in fact here we are testing the images before before pushing them. In the case of multi-arch images we built an image for each architecture and tested them separately. Everything is in the PR but it takes ~3x more time to build the `minimal-notebook` for the 3 architectures because nothing was done in parallel.

[2021-04-26 19:32] romainx commented on #1153
In fact if we not only to do it for conda dependencies but also for other part of the stack

- upstream ubuntu image
- Miniforge
- Spark
- Julia

We should also change the build policy to switch to some kind of regular build vs build after a merge on the master branch.
The drawback is that the time that will not be spend in updating the images will certainly have to be spent in fixing the builds.

[2021-04-27 11:15] Bonifacio2 opened #1272 "jupyter/pyspark-notebook doesn't start SparkUI"
Hello, I'm trying to use `jupyter/pyspark-notebook` and according to the docs [here](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/specifics.html#apache-spark), the SparkUI should be available at localhost:4040 after I run the following command `docker run -d -p 8888:8888 -p 4040:4040 -p 4041:4041 jupyter/pyspark-notebook`, but it doesn't seem to be the case.

**What docker image yo

[2021-04-27 12:14] mathbunnyru commented on #1228
@JessicaBarh @jameslao @apeming
Please, use the solution I gave above and it should work fine.

[2021-04-27 12:14] #1228 closed

[2021-04-27 12:33] mathbunnyru commented on #1272
Note: I know nothing about spark :)

I've just checked and have the same issue as you do.

I think the idea here is that we don't launch any spark process automatically and you have to create the session like this:

[code]

This way you will create a spark session in python.
After running this code, port `4040` works fine.
And, if I shut down the kernel, of course, the port is also down.

There is

[2021-04-27 16:15] psychemedia opened #1273 "rpy2 not installed in `r-notebook` image"
One of the use cases for the R containers might be to demo differences between R and Pyhton notebooks.

Should `rpy2` be installed by default into those containers to allow testing / demoing the use of `rpy2` package and `%R / %%R` magics in a minimal Python environment ?

[2021-04-27 17:05] romainx commented on #1273
Hello @psychemedia,

I think the image you are looking for is `datascience-notebook`, it includes both R (including `rpy2`) and Python environment. The `r-notebook` image is intended to be a minimal image dedicated to R kernel / usage. For python in this image, there is no scientific packages installed, so it will not be very useful I guess.

Does it make sense for you?
Best

[2021-04-27 17:24] romainx commented on #1272
@mathbunnyru you're right 👍
Just we need to precise that the port 4040 has to be exposed to be accessed from the host.
For example.

[code]

Best

[2021-04-27 18:10] psychemedia commented on #1273
Hi @romainx

Yes, makes sense. But I was thinking just very simple demos of R in a python notebook, not a data science application use, specifically.

The `r-notebook` image is pretty lightweight and ideal if you just want to demo to someone how to run an R command in a Python notebook. By comparison the datascience notebook is huge and overkill. There is a Python kernel in the `r-notebook` image

[2021-04-27 19:56] Bonifacio2 commented on #1272
Thank you, both. I guess it just wasn't clear to me when the spark context would be created.

[2021-04-27 19:56] #1272 closed

[2021-05-01 06:05] romainx opened #1276 "Grant mathbunnyru maintainer rights"
@mathbunnyru has continued to help triage issues, submit pull requests, and review pull requests in this repo since receiving triage rights in #1218. We like to grant him maintainer access which adds the ability to merge PRs after review.

Before we take that step, @mathbunnyru, are you interested? I want this change to place no new expectations on your time or commitment to the project, only affo

[2021-05-01 06:25] romainx commented on #1273
Hello @psychemedia,

You made me change my mind 😄.
Installing `rpy2` could be useful and it will not make the image heavier (2.56GB vs. 2.55GB-> You can draft a PR for that if you want.

And you're right 'reticulate` could also make sense but more in `datascience-notebook` since users will not benefit from so much Python packages in `r-notebook`.

Best

[2021-05-01 07:54] mathbunnyru commented on #1276
Sure :) I would be glad to continue to help where I can :)

[2021-05-01 09:25] #1268 closed

[2021-05-01 14:06] step21 commented on #1019
How about splitting it? Would be happy to help, but right now I cannot work on it.

[2021-05-02 09:39] consideRatio commented on #1276
@romainx @mathbunnyru I'm very thankful for your work in this repo! :heart:

[2021-05-02 10:19] romainx commented on #1276
@consideRatio thanks, that kind of positive feedback is really nice.

[2021-05-02 10:58] consideRatio commented on #1050
In the JupyterHub organization on GitHub, we have now published (thanks @manics!!!) arm64/aarch64 compatible images alongside the amd64/x86_64 for multiple repositories.

I would like to help this repo do the same, but at the same time I find it crucial that future maintenance is sustainable. I created the enhancement proposal below with that in mind.

### Enhancement proposal

1. Principle - to m

[2021-05-02 16:32] manics commented on #1050
Looks like this issue is another duplicate of https://github.com/jupyter/docker-stacks/issues/1019 which has contributions from others. How about moving the discussion there so as not to split things?

[2021-05-02 16:41] consideRatio commented on #1050
I'm moving my comment to that issue :P

[2021-05-02 16:41] consideRatio commented on #1019
In the JupyterHub organization on GitHub, we have now published (thanks @manics!!!) arm64/aarch64 compatible images alongside the amd64/x86_64 for multiple repositories.

I would like to help this repo do the same, but at the same time I find it crucial that future maintenance is sustainable. I created the enhancement proposal below with that in mind.

### Enhancement proposal

1. Principle - to m

[2021-05-02 19:44] mathbunnyru commented on #951
@perllaghu could you tell us please if your issue was resolved?

[2021-05-02 19:51] mathbunnyru commented on #865
`conda-metachannel` is unmaintained and hasn't received update for some time (https://github.com/regro/conda-metachannel).
And, they suggest to use `mamba`, if one wants to have faster alternative to conda.
And, we already install mamba for all the images and it is even used in tensorflow image.

So, I think this issue can be closed.
Please, reopen, if you think otherwise.

[2021-05-02 19:51] mathbunnyru commented on #865
`conda-metachannel` is unmaintained and hasn't received update for some time (https://github.com/regro/conda-metachannel).
And, they suggest to use `mamba`, if one wants to have faster alternative to conda.
And, we already install mamba for all the images and it is even used in tensorflow image.

So, I think this issue can be closed.
Please, reopen, if you think otherwise.

[2021-05-02 19:51] #865 closed

[2021-05-02 19:55] mathbunnyru commented on #879
`libjemalloc1` is outdated (libjemalloc2 has been for some time with us).
There is also a duplicate (issue)[https://github.com/jupyter/docker-stacks/issues/1072] (sorry for that, it's actually mine) which proposes to add latest `jemalloc`.
And another issue has a bit more details, so I'll close this one as a duplicate.

[2021-05-02 19:55] #879 closed

[2021-05-02 19:59] mathbunnyru commented on #879
I moved your messages to the topic of my issue to have everything in one place. Thanks!

[2021-05-02 20:04] mathbunnyru commented on #905
There was no feedback for a loooooong time and I think @parente's answer does answer the question, so I'm closing this issue.
Feel free to reopen, if you need some help.

[2021-05-02 20:04] #905 closed

[2021-05-02 20:09] mathbunnyru commented on #887
Just cleaning up old issues, which haven't received response or outdated.

`scikit-monaco` is an outdated package (last commit was on 22 Feb 2018).
I think you won't be able to use it with latest docker stacks with recent python version (https://github.com/scikit-monaco/scikit-monaco/issues/14)

So, I'm going to close this issue. I also added `Upstream` label, because the upstream package is quite

[2021-05-02 20:09] #887 closed

[2021-05-02 20:17] mathbunnyru commented on #886
@richtong are you still interested in getting this done?

I think, the usual use case for our users is to base on the top of the images provided by this project and then customize it to their own needs.
But, if you have to change intermediate images, I think you can draft a PR and give it a go.

I'm cleaning old issues and I will close this issue in a week, if I don't get a response.
Or you can cl

[2021-05-03 11:29] mathbunnyru commented on #1050
@akitanaka @step21 @manics @consideRatio @parente I'm closing this issue as a duplicate of https://github.com/jupyter/docker-stacks/issues/1019 to make it easy to have everything in one place.
I think the interest is growing in multi-arch images (especially, `aarch64`), so as mentioned here it's better not to split things.

[2021-05-03 11:29] #1050 closed

[2021-05-03 12:04] sakuraiyuta commented on #1019
@consideRatio `r-*` packages exists on `conda-forge` repository.
It's better if the project policy can agree to use another(not default) repository.

See also:
https://github.com/sakuraiyuta/docker-stacks/blob/fix/aarch64/r-notebook/Dockerfile.aarch64

[2021-05-03 12:15] consideRatio commented on #1019
@sakuraiyuta can you clarify if I understood you correctly:

You meant that the `conda-forge` conda channel includes both amd64 and arm64 compatible versions of `r-*` packages, while the `default` conda channel only includes amd64 compatible versions of `r-*` packages. And, due to this, we should consider switching to using `conda-forge` conda channel by default instead of the `default` conda chan

[2021-05-03 12:59] sakuraiyuta commented on #1019
@consideRatio Sorry, I don't read your comments carefully so I wrote simply a solution to resolve `r-*` packages.
After reading your reply, I understood that you tried building with applying no patches to Dockerfile.

This project seems already supporting the patch process for another architecture.
So, on my forked repository, I created `Dockerfile.aarch64.patch` and patched for `aarch64` .

As yo

[2021-05-03 15:27] apoorvvyavahare commented on #408
just add -u 0 tag while executing container, eg: docker exec -itu 0 <container name>

[2021-05-03 15:30] apoorvvyavahare commented on #408
docker exec -itu 0 containerName bash

[2021-05-03 18:13] romainx commented on #1019
@sakuraiyuta and @consideRatio since the PR #1189 we have switched to miniforge instead of miniconda and so the default channel is `conda-forge`. So all the packages are already installed from the `conda-forge` channel.

[2021-05-03 18:17] romainx commented on #951
Hello, I'm closing it to clean things up since we have no answer for a long time.

[2021-05-03 18:17] #951 closed

[2021-05-03 18:33] #1250 closed

[2021-05-03 18:33] #823 closed

[2021-05-03 18:33] #1140 closed

[2021-05-03 19:21] mathbunnyru opened #1280 "Permission to jupyter/docker-stacks.wiki.git denied to github-actions[bot]."
Pushing to the `https://github.com/jupyter/docker-stacks.wiki.git/` seems to be broken right now.

It means that no build manifests are generated.

Fir PR merge where it happened: https://github.com/jupyter/docker-stacks/commit/dfcb043bd88798a9419a5c7a38eb1218f7aac941
The Github Actions run: https://github.com/jupyter/docker-stacks/commit/dfcb043bd88798a9419a5c7a38eb1218f7aac941

It also happened

[2021-05-03 19:30] consideRatio commented on #1280
Is this an action related to secrets.GITHUB_TOKEN? Perhaps the jupyter org has reduced the permissions by default now?

See https://github.com/jupyterhub/team-compass/issues/404

[2021-05-03 19:31] mathbunnyru commented on #1280
Yes, it is.

https://github.com/jupyter/docker-stacks/blob/master/.github/workflows/docker.yml#L63-L69

Probably this is the reason why it doesn't work.

[2021-05-03 20:24] #1280 closed

[2021-05-03 20:48] consideRatio commented on #1019
@romainx @mathbunnyru do you think https://github.com/jupyter/docker-stacks/issues/1019#issuecomment-830836753 would be something I could work towards?

[2021-05-03 20:49] wee-analyze opened #1282 "Can't install libraries with other versions of python"
### Description

I am using juypter notebook in Docker and want to use python 3.7. I followed the instructions on this page [link_here](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/recipes.html) and used this dockerfile and docker compose file. I followed the instructions to install using pip by uncommenting a line in the dockerfile and then added the pandas library.

My docker-com

[2021-05-03 20:55] mathbunnyru commented on #1019
@consideRatio if you don't mind, I would like to take a few days to give this a thought, because I want to be more familiar with the process of building for other archs in GitHub environment.

[2021-05-03 21:31] manics commented on #1019
[Docker buildx](https://docs.docker.com/buildx/working-with-buildx/) uses qemu to build images for non native architectures.

There are a few issues when building multi-arch images simultaneously under the _same_ tag that may have an impact here. This is a good introduction to the overall process https://www.docker.com/blog/multi-arch-build-and-images-the-simple-way/

`docker build` can build and

[2021-05-04 02:06] consideRatio commented on #1233
I like the idea of sticking with Makefile/bash/python even though I don't yet know of Xonsh. I have grown fond whatever tech that can be understood using well known tech as it reduce the threshold to maintain and contribute to a project.

[2021-05-04 06:28] #1163 closed

[2021-05-04 09:00] wee-analyze commented on #1282
Nvmd, it worked after I deleted all my containers and images and rebuilt it with `docker-compose build`

[2021-05-04 09:00] #1282 closed

[2021-05-04 11:37] romainx commented on #1019
Hello @manics I ran on the same issue in my PR #1202. I had to build the image for each architecture one by one and with nothing done in parallel, so it was a bit long. In fact it was the main blocker. However I was able to run the unit tests on each architecture variant successfully thanks to qemu. I had even modified the tests because `pandoc` was not available for each architecture.

[code]

[2021-05-05 10:37] bwulff opened #1287 "Setting Password instead of token doesn't work in Jupyter Lab"
**What docker image you are using?**

Docker image: jupyter/datascience-notebook  (bc7cb4e4ab91)

**What complete docker command do you run to launch the container (omitting sensitive values)?**

running as part of a docker-compose:
[code]
(host directory for `/home/jovyan` has uid:gid set as specified for the image, so write access to it from container works)

**What steps do you take once the co

[2021-05-05 10:54] bwulff commented on #1287
Yes, so, simply **restarting the container** does the trick.

Seems like Lab the `jupyter_server_config.py` (that is created when you set the password) is only recognized when starting the server again.

[2021-05-05 10:54] #1287 closed

[2021-05-06 11:39] mathbunnyru commented on #1019
We would be kind for any help with the new archs so your help would be great.

I will comment on each element of your proposal

💯 agree

💯 agree

💯 agree

This is where `maintenance is sustainable` comes in.
I don't like how `Makefile` looked after https://github.com/jupyter/docker-stacks/pull/1202.
At the same time, I respect @romainx's work because it's an important thing for the community.
Remo

[2021-05-06 16:39] consideRatio commented on #1019
@mathbunnyru thanks for taking the time to deliberate on my proposal!

I think the proposal I made was quite course and needs some additional exploration on the implementation - but it is very central to me that it is sustainable to maintain as you emphasis.

Perhaps I could start working on a separate PR for point 1 and 2?

Regarding creating maintenance sustainable support for multiple architect

[2021-05-06 20:36] consideRatio opened #1291 "Removal of some ENV and ARG fields for Dockerfile readability?"
How to minimize complexity and maximize readability of the Dockerfile while introducing support for using the same Dockerfile to build more than one architecture? While considering this...

## I wonder if we can...

1. Stop declaring `CONDA_VERSION` and `MINIFORGE_VERSION` environment variables which was introduced [6](https://github.com/jupyter/docker-stacks/commit/96ab5502e1e582063d543b4bc4e2ade

[2021-05-06 20:47] manics commented on #1291
A downside of `TARGETPLATFORM` is it's not set by `docker build`, so to retain compatibility you'd have to fallback to a default architecture such as `amd64`, but that will break `docker build` on `arm64`/`aarch64`.

The approach I took in Z2JH was to obtain the architecture from `uname -a` and avoid any special buildx variables, e.g.:
https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/7a3d

[2021-05-06 22:18] mathbunnyru commented on #1276
And, if it's not too much to ask, please make me a maintainer here as well :)
https://github.com/jupyter/cookiecutter-docker-stacks

[2021-05-06 23:43] mathbunnyru commented on #945
@luminousmen could you please tell us if this answer helped you?

[2021-05-07 00:02] mathbunnyru commented on #840
@aabor the issue seems to be resolved, because I was able to run your commands in the latest image.

I'm closing this issue for now, because I think everything is going to be fine.
If you want to be on a safe side, please, make a PR adding the test like you suggest.

The best way is to just copy the existing test and change some lines to use the needed library.
https://github.com/jupyter/docker-st

[2021-05-07 00:02] #840 closed

[2021-05-07 00:06] mathbunnyru commented on #978
https://github.com/plotly/jupyterlab-dash was archived.
But luckily, now there is https://github.com/plotly/jupyter-dash

And it was even updated to support jupyterlab 3 (which we're using).
https://github.com/plotly/jupyter-dash/pull/51

So, I think this effectively resolves this issue.

[2021-05-07 00:06] #978 closed

[2021-05-09 09:45] ItamarShDev opened #1298 ""Add a Python 3.x environment" documentation doesn't work"
Using [this docs page](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/recipes.html#add-a-python-3-x-environment), i am trying to update python to 3.8.8 with JLab 2

The result is the I can open JHub and see the python packages listed under `pip freeze`
But the labextensions are not loaded and I can import any of the pip packages.

What am I missing here>

My Dockerfile
[code]

[2021-05-09 19:47] mathbunnyru commented on #945
Great. Then I'm closing this issue.

[2021-05-09 19:47] #945 closed

[2021-05-10 15:24] mathbunnyru commented on #1298
@ItamarShDev may I ask you to simplify your example?

1. It should be reproducible by other people and complete. It means, there should be no `backup_user_data.sh` or `install_extensions.sh` steps or you should provide these files.
2. The same thing goes about the long `pip install` command, which has many arguments like `PIP_TRUSTED_HOST` or `requirements.txt -r`, `imubit-requirements.txt`
3. Del

[2021-05-10 20:56] JessicaBarh opened #1299 "vulnerability detected from texlive-xetex -> libpdfbox-java"
**What docker image you are using?**

jupyter/datascience-notebook:r-4.0.3

**What complete docker command do you run to launch the container (omitting sensitive values)?**

 `docker run -it --rm -p 8889:8888 jupyter/datascience-notebook:r-4.0.3`

**What steps do you take to reproduce the issue?**

`trivy image --severity CRITICAL jupyter/datascience-notebook:r-4.0.3`

there is a vulnerability in

[2021-05-11 00:56] consideRatio opened #1300 "I'd like to contribute to this repo's maintenance"
It made me so happy to see the maintenance momentum created by @romainx and @mathbunnyru in recent weeks and I want to contribute to it.

I'm asking here as the README file described...

My past activity in the repo:
- Authored issues: https://github.com/jupyter/docker-stacks/issues?q=author%3Aconsideratio
- Authored PRs: https://github.com/jupyter/docker-stacks/pulls?q=author%3Aconsideratio

[2021-05-11 06:51] momonala opened #1301 "Extremely slow build times when installing additional libraries with `pip`"
Hello! Thank you for providing these open-source and well documented. Docker containers. I am having an issue in installing my own requirements on top of the base image. Specifically, it seems certain libraries (numpy, OpenCV, etc) have extremely slow build times when using `pip`. In my other containers, it is no more than 5 minutes, but here its about 1.5 hours. This issue only started happening

[2021-05-11 06:54] ItamarShDev commented on #1298
1. you can ignore those lines, basically i am installing our internal IpyWidgets based tools, install_extensions.sh installs private JLab extenstions
2. we are using our own pypi repository, works before the change.
3. will attach simpler example
4. jupyter/base-notebook:lab-2.0.1
5. The dockerfile shows no error but:
  a. i can see the python packages in pip freeze but cant import them.
  b. the

[2021-05-11 12:09] parente commented on #1276
Done. And thank you @consideRatio for raising this issue to my attention.

[2021-05-12 00:04] parente commented on #1300
The approach we’ve taken with other contributors has been to grant triage rights for a while and then maintainer.

Given that @consideRatio is already a [**prolific** contributor to numerous other Jupyter projects](https://github.com/consideRatio), I’m OK with bypassing the triage trial period and granting maintainer rights here from the start.

That said, I think @romainx and @mathbunnyru should

[2021-05-15 07:55] unautre opened #1303 "networkx library version uncompatible with python version"
Hello,

The library `networkx` that is installed in it (2.3) is too old to work with Python 3.9.
I guess it is installed as a dependency, because I couldn't find that library in the Dockerfile.

**What docker image you are using?**
**What complete docker command do you run to launch the container (omitting sensitive values)?**
I am using the `jupyter/scipy-notebook` image, with the default command

[2021-05-15 20:50] jakob-keller commented on #1303
I can confirm your report. networkx is indeed installed as a dependency of scikit-image. The current jupyter/scipy-notebook image includes version 2.3 which is incompatible with Python 3.9.

However, when digging into current build logs, it appears as if networkx==2.5.* is now being picked up automatically and there is no need for any changes to this project. Please be patient and wait for the nex

[2021-05-15 22:45] lima4658 opened #1305 "jupyter/base-notebook: Installing additional packages with pip"
Several python packages have to be recompiled when using pip for installation.

This will fail due to missing compiler infrastructure of the OS (e.g. pip install bottleneck)

Solution:
add Ubuntu packages 'build-essential binutils binfmt-support' to the first RUN statement of the Dockerfile

[2021-05-16 12:32] lima4658 opened #1306 "jupyter/base-notebook: Hardcoded PATH Environment Variable in Dockerfile"
Some developers need to change the PATH Environment Variable (e.g. create their own virtual environments and registrate/add their private notebooks)
You can create virtual environments (conda create ...; python -m venv ...) but the activation will fail due to the hardcoded PATH environment variable.

Solution:
Remove Line  'ENV PATH=$CONDA_DIR/bin:$PATH' from Dockerfile
But this will cause several

[2021-05-17 02:19] BryanBo-Cao commented on #228
I was trying to use ```cv2``` on a cluster without ```sudo``` permission. ```conda install -c conda-forge opencv``` works. Thanks!

[2021-05-17 17:23] romainx commented on #1300
I have never seen so many notifications in a week since contributing here, so we need help to merge 😄.
More seriously, I think @consideRatio knowledge of the Jupyter community and projects will be a great asset here in order to take the right decisions and move things forward in the same direction.
So the proposal is approved on my side ✅ and welcome @consideRatio 👋

[2021-05-17 17:28] WilliamWhispell commented on #1200
Adding --build-arg PYTHON_VERSION=3.7 to the example in https://jupyter-docker-stacks.readthedocs.io/en/latest/using/specifics.html would help people avoid this issue.

[2021-05-17 18:37] romainx commented on #1299
@JessicaBarh thanks for the warning, however according to the [documentation](https://nbconvert.readthedocs.io/en/latest/install.html#installing-tex) it seems to be the way to install nbconvert with PDF support.

[code]

As you said according to the dependency tree confirm that everything seems Ok regarding our installation.

[code]
I have no idea except creating an issue in the [nbconvert](https:

[2021-05-18 11:42] mathbunnyru commented on #1300
If @consideRatio wants to help, I only support this decision. So let's give the maintainer rights.

[2021-05-19 01:21] parente commented on #1300
Done! Thanks @consideRatio .

[2021-05-19 01:21] #1300 closed

[2021-05-19 01:39] consideRatio commented on #1300
Thank you for having me :heart:! @parente can I also get access to read the docs? I'm @consideratio there - I'd like to enable PR preview of the documentation.

[2021-05-19 10:01] mathbunnyru opened #1309 "Please, provide me with DockerHub access"
@parente I created an issue, to kindly ask you for additional permissions on DockerHub Read the Docs.
These permissions will sometimes make maintenance of this project much easier.

My username is `mathbunnyru` in both places.

[2021-05-19 21:15] jakob-keller commented on #1303
@unautre: The latest [jupyter/scipy-notebook](https://hub.docker.com/r/jupyter/scipy-notebook) image includes networkx 2.5. This fixes your issue with importing in Python 3.9. Enjoy!

[2021-05-20 12:56] mathbunnyru commented on #1303
I think this issue can be closed then.
I checked - the latest version of the image effectively has networkx 2.5, which should work just fine.

[2021-05-20 12:56] #1303 closed

[2021-05-20 12:59] mathbunnyru commented on #1305
Thanks for the suggestion @lima4658.

Though you suggestion will make installation of some packages easier, it will increase the image size even for those, who are only using our images and not installing much on top (or installing regular python packages without building).

And, I think, if people need a package with compiler infrastructure of the OS, they can manage to install it themselves.

[2021-05-20 13:02] mathbunnyru commented on #1298
@ItamarShDev your Dockerfile is still not reproducible.
Once again - make it as simple as possible, delete `backup_user_data.sh` if it's not relevant.
Instead of writing `some-ipywidgets-package`, write one concrete example which doesn't work (and it should).

The easy check - you should be able to run `docker build .` with your Dockerfile.

[2021-05-20 13:17] consideRatio commented on #1298
From a maintenance perspective of this repository, I think the only thing in scope of a GitHub issue is if we conclude that [the example in the documentation](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/recipes.html#add-a-python-3-x-environment) is malfunctional.

The action point is then to make it functional, or update the documentation somehow. Is this example malfunctional?

[2021-05-20 13:24] mathbunnyru commented on #1291
Is there a way to be both flexible in the terms of arch and being able to change the behaviour using `--build-arg`?
If there is not, then I'm ok with losing the flexibility to specify versions with build arguments.
But if there is, let's consider it.

[2021-05-21 12:57] mathbunnyru opened #1316 "Install pre-commit ci"
@parente I requested pre-commit ci installation for this repo.
It will automatically create PRs updating pre-commit hooks, so we will always have latest hooks.

http://pre-commit.ci

[2021-05-21 15:29] mathbunnyru commented on #1305
As this is not a bug and intended behaviour, closing this issue.

[2021-05-21 15:29] #1305 closed

[2021-05-21 15:57] mathbunnyru commented on #1301
I simplified your example to this:

[code]

And built it using `docker build .`

I noticed, that the long part is installing `opencv-python-headless==4.4.*`.
The thing is that for some reason it is getting built and wheel is not used.

If I delete this requirement, everything works pretty fast.
Moreover, if I add the step `RUN pip install --no-cache-dir opencv-python-headless==4.4.*`, then the whe

[2021-05-21 16:01] mathbunnyru commented on #1301
I think this is somehow related to how `pip` decides whether to build or to use wheel and it's not an issue of the Docker images we provide, but I might be wrong.
@momonala what do you think?

[2021-05-21 19:26] daviddoji opened #1318 "Bad rendering when using a terminal from launcher"
**What docker image you are using?**

Using `jupyter/datascience-notebook:lab-3.0.15`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker-compose up -d`

My `compose` file:
[code]

**What steps do you take once the container is running to reproduce the issue?**

Example:

1. Starting an instance of jupyter.mydomain.com
2. Start a simple termin

[2021-05-21 20:01] romainx commented on #1318
Hello @daviddoji,

I cannot reproduce it with a _standard_ `docker run` command.

[code]

My guess is that it seems to not be related to the image but to your configuration, that we cannot reproduce easily (you have not shared the `.jupyter-env` file for example).
So, if it's not related to the image, we will not fix it here.

Thanks for your understanding.

Best

[2021-05-22 04:42] daviddoji commented on #1318
Thx for looking into this @romainx.

The `.jupyter-env` file is just a single line from a previous installation (I was using the scipy notebook), enabling the LAB:
```JUPYTER_ENABLE_LAB='yes'```

I have just removed the env-file, and the problem persists.

As said, it's not too important as I can still use the terminal from Portainer.

[2021-05-22 06:00] romainx commented on #1318
@daviddoji the behavior you describe is weird. I have googled around and do not see anything related. My guess is that it may be related to the routing, but I do not understand why. You may try inspecting your window with the chrome browser to check if there is any network issues.

Sorry but I will not be able to help you further.
Best.

[2021-05-22 07:11] daviddoji commented on #1318
Once again thx for looking into this.
I've set up a VM with windows10 and using Edge, I can see the rendering of the terminal as it should be.

I'll try to look into that because it's indeed weird.

[2021-05-22 20:23] consideRatio commented on #1318
@daviddoji this is a topic we can't help with, as it relates to the software installed rather than this project installing this software. It can even be a browser bug, or extension in your browser.

[2021-05-22 20:23] #1318 closed

[2021-05-22 20:30] consideRatio commented on #1266
I think it is out of scope to decide what the software running inside the container should or shouldn't do with regards to `/home/jovyan/.cache` during container startup in general.

I think it is in scope to consider if a container starting with a `bash` entrypoint have within `/opt/conda/share/jupyter/lab/staging`, and if it would make sense to clear that.

## Questions
1. Do you have a suggesti

[2021-05-22 22:07] mathbunnyru opened #1324 "Verify contributed recipes"
Contributed recipes are not checked in CI, were mostly added a long time ago and so they might be out-of-date.
It would be nice if someone checked them, updated packages versions used there and verified that they still work.

[2021-05-22 22:11] consideRatio commented on #1324
Perhaps we should include a date for when they were added to the list, and allow that date to be updated whenever it is known to "be functional" (vague, but it's fine I think).

[2021-05-22 22:20] mathbunnyru commented on #1324
Yes, something like `Last verified` near each recipe should be fine.

[2021-05-24 15:02] jingw222 opened #1330 "Permission denied when mounting jupyter data dir"
**What docker image you are using?**

`jupyter/all-spark-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

[code]
Note that I did `fix-permissions "${HOME}" "${CONDA_DIR}"` at the end of the Dockerfile.

**What do you expect to happen?**

No error launching the notebook server.

**What actually happens?**
Got this permission error
[code]

[2021-05-24 16:04] jingw222 commented on #1330
Tried that but still got the same PermissionError
[code]
[code]

[2021-05-24 16:33] mathbunnyru commented on #1330
Could you try not to mount these 2 folders?
Or, create them from the user which is running Docker (1000:1000 in your case).

[2021-05-24 16:41] jingw222 commented on #1330
It raises no issues without mounting these two folders. But I wouldn't be able to persist jupyter data in those directories, right? I have them created already on the host running Docker.

[2021-05-24 16:44] mathbunnyru commented on #1330
The data is stored in `/home/jovyan` folder, these two folders are for cache files / configs.
Or, `/home/jovyan/work` is also fine.

Yes, but one is `root:root`, another is `root: users`, that's why I asked to create them from the user which is running Docker ((1000:1000 in your case).

[2021-05-24 17:31] mathbunnyru commented on #1330
You're welcome. Closing this issue as resolved.

[2021-05-24 17:31] #1330 closed

[2021-05-25 11:48] mathbunnyru opened #1333 "Better documentation on how NB_UID, NB_GID, CHOWN_HOME work and how to use them properly"
We have quite a complicated setup using NB_UID, NB_GID, CHOWN_HOME so it's not obvious at all how to start using our docker images easily and in the correct way.

Some examples:
https://github.com/jupyter/docker-stacks/issues/1330

[2021-05-25 22:53] priamai opened #1334 "how to add maven dependency in jupyter/pyspark-notebook"
**What docker image you are using?**

`jupyter/pyspark-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

Example: `docker run -it --rm -p 8888:8888 jupyter/pyspark-notebook:latest`

**What steps do you take once the container is running to reproduce the issue?**

I want to connect to a local docker instance via the hadoop connector

[code]

[2021-05-26 10:56] NaUyLL opened #1336 "TypeError:an integer is requird(got type bytes). The python version is too high?"
Now I am using the spark-2.4.5. Then I meet the error. I find the python version is 3.9.x in the container.  This is the reason to cause the error?
In the pyspark's Dockfile, I find the pyspark-jupyter is based on scipy-jupyter. Scipy-jupyter also has its base container. So how can I build a low-version (or choose a version) python for the spark? Are there any parameters that can be used to contro

[2021-05-28 06:08] kwon14 opened #1337 "[base-notebook]Import of conda packages is not possible."
Hello.
I am using a very good program for your efforts.

I am using it as a base-notebook dockerfile as a jupyter-notebook.
By default, if you check the "conda list", you can see the packages installed with conda-forge.
However, quite a few packages cannot be imported.

ModuleNotFoundError: No module named'yaml' I get a message like this,
Is there a solution?

Some examples are zstd, reproc, and y

[2021-05-28 12:02] parente commented on #1316
@mathbunnyru I've added it. For reference, it required the following scopes:

- Read access to issues and metadata
- Read and write access to code, commit statuses, pull requests, and workflows

[2021-05-28 12:02] #1316 closed

[2021-05-28 12:04] mathbunnyru commented on #1316
Thanks, @parente !

[2021-05-29 06:03] romainx commented on #1334
Hello,

You can declare jars through the property `spark.jars.packages` either by defining it at the creation of the Spark session. They will be downloaded dynamically.

[code]

Or in the `spark-defaults.conf`. However, this has to be done by `root` (permission denied to `jovyan`) so it could be a good option if you intend to build your own image.

[code]

Best

[2021-05-29 06:24] romainx commented on #1337
Hello,

The package `yaml` you see in the list of package is in fact [a C package](https://github.com/conda-forge/yaml-feedstock) called [LibYAML](https://pyyaml.org/wiki/LibYAML) and shipped with the `conda` distribution.

If you want to use the YAML Python package you may use instead [PyYAML](https://github.com/yaml/pyyaml).

[code]

Best

[2021-05-29 06:24] #1337 closed

[2021-05-30 07:35] romainx commented on #1336
Hello @NaUyLL,

Exactly you are right. It's an incompatibility between newer versions of Python and older versions of Spark. See [this post](https://stackoverflow.com/questions/61348860/spark-installation-problems-typeerror-an-integer-is-required-got-type-bytes) on SO to get more information.

I'm closing the issue since this problem is not related to our stack.
Best

[2021-05-30 07:35] #1336 closed

[2021-05-30 17:41] lima4658 commented on #1193
PyPy migration on conda-forge works fine.
For building a pypy based scipy-notebook you have to change two lines in the base-notebook Dockerfile:
ARG miniforge_python="Mambaforge**-pypy3**" and the
ARG miniforge_checksum=<new value>
No futher modifications are needed.

[2021-05-31 12:57] mathbunnyru commented on #1193
Thanks, @lima4658.
Did you try to build all the images or only `scipy-notebook` (and its parents)?

The thing is, that it would be nice to receive some feedback from users, that they really want these images (as you see, this thread is not really active).

And, to support these images, we will need something closely related to https://github.com/jupyter/docker-stacks/issues/1019.
I think it might

[2021-05-31 20:01] lima4658 commented on #1193
@mathbunnyru
I build only base-notebook, minimal-notebook and scipy-notebook. As mentioned only minimal modifications in the base-notebook Dockerfile were needed. Maybe in the next days I have time to build the missing notebooks.

Is a "conda free" version based on ubuntu python packages requested? If yes let me know. I can provide versions until scipy-notebook.

[2021-05-31 20:05] mathbunnyru commented on #1193
No, we use conda (or sometimes mamba) wherever possible, so, on the contrary, it would be nice to have all packages installed through conda (or mamba, which uses the same channels and packages).

[2021-06-01 10:19] mathbunnyru commented on #1019
@consideRatio I don't want to put any pressure on you, but how is it going? :)
Now, I'm more interested in these arm images, because I have recently switched to m1 mac, so it's not as easy development as it was, but with arm, it would probably be easy again :)

[2021-06-01 12:21] mathbunnyru opened #1345 "Dismiss stale reviews"
@parente please, add this option, so whenever someone pushes something to a PR, all the reviews are dismissed.
Here is a screenshot with Github setting where you need to change it: https://github.com/jupyter/docker-stacks/pull/1319#issuecomment-852077333

[2021-06-01 13:03] mathbunnyru opened #1347 "Change dockerhub password to personal access token"
I'm switching to docker/login-action in https://github.com/jupyter/docker-stacks/pull/1346 and there's an advice not to use passwords for authenticating.
https://github.com/marketplace/actions/docker-login#docker-hub
Our secret is called `secrets.DOCKERHUB_PASSWORD`, and there might be a chance, that it's a real password and not a token.
@parente please, change the name to `secrets.DOCKERHUB_TOKEN

[2021-06-01 14:56] mathbunnyru opened #1349 "Switch to python 3.9 in .readthedocs.yml"
It would be nice to build docs with the same version, which is used in other places (currently 3.x, which means latest python 3 version, which means 3.9.5).
We're only waiting for the upstream.

https://github.com/readthedocs/readthedocs.org/issues/7554

[2021-06-01 14:59] mathbunnyru opened #1350 "Enable Preview Documentation from Pull Requests"
It's a nice RTD feature, whenever someone changes the docs we can see that these changes build without problems on RTD platform.

[2021-06-01 15:36] priamai commented on #1334
That worked thanks!

[2021-06-01 17:25] mathbunnyru commented on #1334
@romainx how would you feel about adding your answer to the docs?
I think it might be useful for other people.

I reopened the issue only to not to forget about this suggestion - if you think it's not needed, please, tell me that and close this issue again.

[2021-06-01 17:38] mathbunnyru opened #1352 "Python version changes in pyspark-notebook (and all-spark-notebook)"
Right now base image installs python 3.9.2.
But, when installing pyarrow, actually, python is updated to 3.9.4!

I'm not sure this is expected at all.

https://github.com/jupyter/docker-stacks/runs/2719734258#step:5:6118

Also, it's quite easy to see in the wiki https://github.com/jupyter/docker-stacks/wiki, that `pyspark-notebook` `all-spark-notebook` get tag `python-3.9.4`, while everything else

[2021-06-01 19:32] romainx commented on #1334
Hello @mathbunnyru,

Yes you're right it could be helpful. I will take care of that.
Good suggestion, thanks!

[2021-06-01 20:27] mathbunnyru opened #1353 "An ability to easily write modules unit tests"
What I would like to have:

An ability to write super-simple assert-style file, that checks one module like this:
[code]

This file will be run in the docker image (ideally, in all the ancestor images as well).

Right now, we have quite big files with the same basic idea, but with much more code and the executed code is not a script.
https://github.com/jupyter/docker-stacks/blob/master/scipy-noteb

[2021-06-01 20:31] mathbunnyru commented on #1352
We have quite a difficult way to pin python version.
We should probably fix the version in a more strict way, shouldn't we?

https://github.com/jupyter/docker-stacks/blob/master/base-notebook/Dockerfile#L116

[2021-06-01 20:37] mathbunnyru commented on #1352
Found the place where it was added: https://github.com/jupyter/docker-stacks/pull/778#discussion_r243851245

[2021-06-01 23:48] jeffyjefflabs commented on #1333
#1229 is related too, I think

[2021-06-02 04:56] mathbunnyru commented on #1333
Yes, you're right, thanks!

[2021-06-02 21:19] #1334 closed

[2021-06-03 03:03] parente commented on #1309
@mathbunnyru I’ve added you to the jupyter-docker-stacks project on readthedocs.org as well as all the translation projects.

[2021-06-03 08:54] mathbunnyru commented on #1350
I did it for the english version of docs and it seems to work.
https://github.com/jupyter/docker-stacks/pull/1335

[2021-06-03 08:54] #1350 closed

[2021-06-03 08:54] mathbunnyru commented on #1309
Thanks, working great1

[2021-06-03 08:55] mathbunnyru commented on #1309
Could you please add me to DockerHub as well?

[2021-06-03 12:08] mathbunnyru opened #1356 "Enable jupyter-docker-stacks-zh pdf in read the docs back"
There was an error with the pdf creation so I disabled it (to make the website work).

https://readthedocs.org/projects/jupyter-docker-stacks-zh/

[2021-06-05 19:52] parente commented on #1347
@mathbunnyru It’s definitely a personal access token, not a password. I’ll rotate it anyway for good measure.

Please let me know if mathbunnyru is also your username on Docker Hub and I’ll get you added to the “stacks” team there which has access to configure the image repositories. (cc: @romainx @consideRatio if interested)

[2021-06-05 19:57] consideRatio commented on #1347
@parente please do add me as well! I'm `consideratio` there as well.

[2021-06-05 20:23] mathbunnyru commented on #1347
Yes, it's mathbunnyru!

[2021-06-06 18:14] dvdblk commented on #1056
In my case, this command:
[code]
Generated an `argon2` hashed password which for some reason jupyter notebook can't decode.

The solution was to use `sha1` as an argument to the function:

[code]

After pasting the output into `c.NotebookApp.password` I was able to log in!

[2021-06-06 20:20] parente commented on #1347
@mathbunnyru I've generated a new token and stored it in secret `DOCKERHUB_TOKEN` as you requested. I've left the old one enabled until you switch over.

@consideRatio I added you to the stacks team on Docker Hub. @mathbunnyru I was unable to add you because we're apparently at our free org member limit for the jupyter org. (@consideRatio was already in the org on another team.)

[2021-06-06 20:38] mathbunnyru commented on #1347
That's a bit unfortunate - I'm merging and changing a lot these days and it would be nice to have access if something goes wrong and we need a manual fix.
I have a separate issue where I ask for DockerHub access and I'll close this one (automatically) when the review will be merged.
https://github.com/jupyter/docker-stacks/issues/1309

[2021-06-06 20:41] mathbunnyru commented on #1347
Thank you @parente. As I said, I created a PR, which replace the old token with a new one (though this PR will only be actually checked when merged to master).

[2021-06-07 07:54] #1347 closed

[2021-06-07 09:15] mathbunnyru commented on #1347
@parente everything works fine, please delete the old key.

[2021-06-07 12:20] parente commented on #1309
XRef: https://github.com/jupyter/docker-stacks/issues/1347#issuecomment-855457154

We're at our free org limit of users. It appears we have 10+ users in the jupyter org on Docker Hub while the UI says we have 3 max on the free plan. 🤷

[2021-06-07 12:26] mathbunnyru commented on #1309
@parente do you know who is responsible for the dockerhub jupyter org?
There is a Open Source Community Application for Docker Hub.
https://www.docker.com/community/open-source/application
https://www.docker.com/blog/expanded-support-for-open-source-software-projects/

I think jupyter org could ask for benefits from Docker Hub.

[2021-06-08 21:56] parente commented on #1309
Most of the Jupyter Steering Council members are listed as owners of the Docker Hub jupyter org. I can have a look at the application.

[2021-06-08 22:10] mathbunnyru commented on #1309
Thanks!

[2021-06-12 09:49] #1352 closed

[2021-06-14 12:43] mathbunnyru opened #1365 "Install pre-commit.ci in cookiecutter project"
**What docker images this feature is applicable to?**

Cookiecutter project

**What changes do you propose?**

Add pre-commit.ci

**How does this change will affect users?**

Faster CI + autoupdates for pre-commit hooks

[2021-06-14 18:17] consideRatio commented on #1349
The linked issue is now closed, and it can be abled by configuring the use of a testing environment. I think we shouldn't though and instead keep waiting for reliable support.

[code]

I'd personally opt to pin 3.8 systematically and avoid `3.x` or `builld.image=testing` as it makes it less obvious what is going and becomes one more thing to consider "did this fail because of ..." when something h

[2021-06-14 18:41] mathbunnyru commented on #1349
I saw it worked in testing environment, but I do also want to wait for an official release.

It's debatable. We don't pin our requirements versions', don't pin ubuntu version.
And it works quite fine.
The only issue I remember for the last year is `docker push`, which stopped pushing all tags by default.

Also, for example, `myst-parser` was updated a few days ago and started working with sphinx 4

[2021-06-14 19:02] mathbunnyru commented on #886
Closing, no activity.

[2021-06-14 19:02] #886 closed

[2021-06-14 19:03] mathbunnyru commented on #1301
Closing, no activity, even though I tried to investigate the situation, but didn't get any response (so it's probably solved).
Please, reopen, if needed.

[2021-06-14 19:03] #1301 closed

[2021-06-15 06:44] momonala commented on #1301
Sorry for the no-response. We ended up manually installing open-cv and the numpy dependencies in the docker container. Unfortunately I dont have much time to go deeper anymore. But thanks for the help! I suspect your comment here is correct (we noticed this pattern too): https://github.com/jupyter/docker-stacks/issues/1301#issuecomment-846057928

[2021-06-15 11:21] parente commented on #1365
👍 It’s approved. I think one of the other admins got to it before I did.

[2021-06-15 11:21] #1365 closed

[2021-06-15 12:11] mathbunnyru commented on #1365
Thanks. It works 👍
A simple test that pre-commit is launched.
https://github.com/jupyter/cookiecutter-docker-stacks/pull/14

[2021-06-16 21:55] robomotic opened #1369 "enable multi core settings in pyspark-notebook"
**What docker images this feature is applicable to?**

Example: `jupyter/pyspark-notebook`

**What changes do you propose?**

Taking this example:
[code]

How can I use my 16 logical cores in my host.

I tried:

[code]

But only one core in my system is being used.

Are there other settings I should change when the image is being built?

[2021-06-17 05:57] romainx commented on #1369
Hello,

Local mode is a development tool where all processes are executed inside a single JVM. The number between brackets, in your case `local[16]`, correspond to threads, so it will use 16 threads instead of 16 CPU.

If you want to use all the CPU one of the simplest way is to setup a [Spark Standalone Cluster][1].
It is often done with several containers acting as spark components (master and w

[2021-06-17 09:56] robomotic commented on #1369
Hi there,
thanks for the explanation, I didn't realize those were threads but how can I make sure there are 16 running.
What I did was to open the terminal from jupyter and monitor the Java process that gets created.

When I do this during the execution (takes several minutes to complete):

(base) jovyan@bbf77cee22d7:~$ ps -e -T | grep java
   2476    2476 ?        00:00:00 java
   2476    2498 ?

[2021-06-17 21:26] romainx commented on #1369
Hey,

You can see java thread by using `top -H -p $pid`.
As you can see in this screenshot the setting produces the expected number of executors.
<img width="1349" alt="JupyterLab" src="https://user-images.githubusercontent.com/7131913/122474390-6e3d1000-cfc3-11eb-9981-c07bfa89d60c.png">

Ok for the example, it's a good idea.

Best.

[2021-06-18 11:16] robomotic commented on #1369
Yes I can confirm I can see those threads too.
Great thanks for he help.

[2021-06-18 18:08] weisdd opened #1372 "Consider adding openssh-client to all images containing git"
**What docker images this feature is applicable to?**

All images derived from `jupyter/minimal-notebook`.

**What changes do you propose?**

I think pretty much everyone moves to git-over-ssh these days. It'd be great to have `openssh-client` included in all images, where git comes pre-installed (I think it's everything derived from minimal-notebook).
It's just around 4 MiB of extra packages.

**

[2021-06-18 18:22] consideRatio commented on #1372
@weisdd is something like `git clone git@github.com:jupyterhub/jupyterhub` not possible without having `openssh-client` installed in the image?

[2021-06-18 18:23] weisdd commented on #1372
@consideRatio yep:
![image](https://user-images.githubusercontent.com/46579601/122602389-69d42e00-d07b-11eb-8985-62fc47e74f06.png)

[2021-06-18 18:47] consideRatio commented on #1372
@weisdd thanks for the clarification!

I support this feature request, I think this should be added at the same time we add `git` to the docker images - in the jupyter/minimal-notebook image.

[2021-06-18 21:18] weisdd commented on #1372
@consideRatio perfect :) Should be an easy change, I'll prepare a PR for that.

[2021-06-20 06:47] #1372 closed

[2021-06-20 17:21] mathbunnyru commented on #1079
@nathanrpage97 @maresb are you still interested in adding plotly?

If I don't get a response, I will probably close this PR, because no one is actually interested in this feature.

[2021-06-20 17:25] mathbunnyru commented on #1214
I found Github Action, which will greatly simplify this task.

https://github.com/marketplace/actions/sticky-pull-request-comment

I think it should be quite simple to check the sizes of the latest master build images, the current PR and so on.
I will also think about adding a build time, though it might not be that good (because of network/spikes and so on).

[2021-06-20 17:26] mathbunnyru commented on #1214
Also, the build time is written in the Github Action itself, so it might not make sense to duplicate.

[2021-06-20 17:28] maresb commented on #1079
This should be super easy these days. The recent versions of plotly have a built-in rasterization library called Kaleido which replaces Orca. I think it's simply a matter of adding `plotly` to the conda dependencies.

[2021-06-20 17:30] maresb commented on #1079
For my workflow, I add `plotly` and `python-kaleido` with `mamba`, and then run the following two lines. I'm not sure whether or not these are still necessary:
[code]

[2021-06-20 17:32] mathbunnyru commented on #1079
I think, if someone needs plotly, they will just follow instructions and it should be ok, I suppose.
How do you feel about closing this issue?

[2021-06-20 17:32] maresb commented on #1079
Sure, fine by me!

[2021-06-20 17:33] mathbunnyru commented on #1079
Ok, thanks, closing then :)

[2021-06-20 17:33] #1079 closed

[2021-06-20 17:40] mathbunnyru commented on #827
@parente is this still needed?

I mean, the translation right now seems to be not working at all for several years and I didn't see any complaints for the past year or so?
Maybe it would be easier to stop supporting translation?

[2021-06-21 23:12] raderas commented on #850
Don't know if your problem is specifically that you don't have the jdbc driver installed.
I had thir problem with MSSql Server JDBC driver. Tried a couple of things but nothing seemed to work (tried adding the jar in %%init_spark magic (I use scala), and some stuff like that.

Finally what I had to do was to manually copy the jar file of the JDBC to the CLASSPATH folder which defaults to something

[2021-06-22 17:30] parente commented on #827
I'm pretty sure the transifex integration is still technically working. I get emails saying docs are ready for translation whenever the English source documentation changes.

Growing a community of translators is where the original effort fell down (aka I did not have time to cultivate the necessary relationships).

[2021-06-22 18:30] mathbunnyru commented on #827
I created transifex account (also `mathbunnyru`) and sent a request to join Russian translation.
I have never used transifex, but I would like to make sure it works fine.

Could you please give me the necessary rights? Both on GitHub and transifex sides?

[2021-06-23 00:30] parente commented on #827
The GitHub side should be purely PRs. I’ll look for your request on the transifex side.

https://jupyter.readthedocs.io/en/latest/contributing/docs-contributions/doc-new-translation.html?highlight=translation has documentation about how the process should work. The implementation here in docker-stacks predates that doc, however, and may differ in a few ways.

[2021-06-23 11:22] mathbunnyru commented on #827
I don't think everything works fine.
Transifex tells me that `contributing.po` was last updated more than a year ago.
That's definitely can't be right.

[2021-06-23 12:06] parente commented on #827
You may well be right. I'll try to take a look sometime this week. If I recall, we have to configure the translation for a new language before it'll report correctly. If you're looking at the new _ru_ language addition, it might not be accurate until that's fixed.

[2021-06-23 13:16] vemonet commented on #1157
Hi @romainx and @Bidek56 could you point to an actual image with python2.7? There is no corresponding image when searching through the tags provided.

Another option would be to just use conda to create an environment with python 2.7

But it does not work due to `conda activate myenv2.7` not working in Docker.

[2021-06-24 19:13] Coteh opened #1384 "lab-3.0.16 Docker stack fails to initalize - "failed with initial frozen solve. Retrying with flexible solve.""
Hey, so I run a docker-compose setup containing a jupyter notebook every couple days to generate reports for business, and today it stopped working.

**What docker image you are using?**

`jupyter/scipy-notebook:latest` aka `jupyter/scipy-notebook:lab-3.0.16`

Dockerfile:

[code]

docker-compose.yml
[code]

requirements.txt
[code]

**What complete docker command do you run to launch the container

[2021-06-24 19:43] Coteh commented on #1384
Just checked back at the CLI window and the following conflicts were outputted: (it's possible there were more but my CLI window truncated the output)

[code]

[2021-06-24 19:43] consideRatio commented on #1384
@Coteh hmmmm, I'm not sure if I see an action point to take in this repo with regards to what you have said.

My understanding is that you use these images as a base image, and then you install something on top of it - and what you install is pinned to a version that is found incompatible with other already pinned versions.

Hmmm... I'm not feeling confident how various packages have been pinned i

[2021-06-24 19:47] consideRatio commented on #1384
For performance reasons, we have transitioned to using `mamba` instead of `conda` - I think that is not related, but you may want to switch to using `mamba` instead of `conda` in your commands. The key difference as I understand between these is how they resolve packages even though I think it is almost solely a performance matter. But still, could you try using `mamba` instead of `conda` in your

[2021-06-25 09:04] mathbunnyru commented on #1384
I reproduced your problem locally.
Actually, switching to mamba works.
Thanks @consideRatio.

Actually, it seems to be more complicated - I have already seen several cases like this when conda doesn't want to resolve dependencies, but mamba is working just fine.

[2021-06-25 09:22] consideRatio commented on #1384
@mathbunnyru thanks for your thorough maintenance work! :tada: :heart:

Do you suggest an action point for this item? I guess it was a surprise that one needed to start using `mamba` i guess. One could consider letting `conda` be an alias for `mamba` or documenting that we recommend the use of `mamba` over `conda` in images that rely on this image going onwards.

[2021-06-25 09:27] mathbunnyru commented on #1384
I'm not actually a conda/mamda expert to document something or give any advice straight out of my head (yet).
Letting `conda` be an alias for `mamba` is a big change for the users.
I don't think this is the right solution.

To actually fix this issue, one needs to understand how conda dependency resolution works and why it fails in this case, while mamba doesn't.
I'm afraid I don't have much time

[2021-06-25 09:32] consideRatio commented on #1384
Okay I suggest we wait and see at this point in time then, and close this specific issue as resolved as with a message like...

Apparently one may need to use [mamba](https://github.com/mamba-org/mamba) after we decided to start using it to installing packages with mamba instead of conda for performance reasons - we hope this works for users of these images downstream, please help us if you experi

[2021-06-25 09:47] ninomllr opened #1385 "Can't install azureml-core pip package in lates Dockerfile"
It's not possible to install azureml-core in the latest image for jupyter/all-spark-notebook as it fails when installing ruamel.yaml dependency.

[code]

Can be reproduced with the following Dockerfile:
[code]

[2021-06-25 09:49] mathbunnyru commented on #1385
`error: command '/usr/bin/gcc' failed with exit code 1`

Please, install `build-essential`, we have removed it from the image recently.

[2021-06-25 09:50] mathbunnyru commented on #1385
@consideRatio you see, this is what I've been talking about, it's a build time fail (which is better, than runtime).

[2021-06-25 09:55] mathbunnyru commented on #1385
I was wrong, this is not related.

[2021-06-25 09:55] mathbunnyru commented on #1385
https://pypi.org/project/azureml-core/

Seems that python 3.9 is not yet supported for this package?

[2021-06-25 09:59] mathbunnyru commented on #1385
This seems to be an upstream issue, please, search the upstream project for the info when they're going to update.

For the time being, you can use a python 3.8 based image.

https://hub.docker.com/layers/jupyter/all-spark-notebook/python-3.8.8/images/sha256-ad78c8054533f40cb5c66f17a470833f424a059e4dcef0284032292c302727e1?context=explore

[2021-06-25 11:13] ninomllr commented on #1385
@mathbunnyru thanks! that worked! I replaced the version in my Dockerfile `FROM jupyter/all-spark-notebook:python-3.8.8`

[2021-06-25 11:15] mathbunnyru commented on #1385
Great, I will close this one as it is purely the problem of a package we don't provide.

[2021-06-25 11:15] #1385 closed

[2021-06-25 13:21] Coteh commented on #1384
Hey guys so I just got around to changing `conda` to `mamba` and it worked! Thanks so much for the help!

This solution works for me, but it makes sense to figure out why conda dependency resolution failed in this case and resolve it that way for people who may not be able to switch to mamba. I have updated my previous comment with some additional output I was able to find. Do you guys think Pytho

[2021-06-27 10:04] mathbunnyru commented on #1384
@wolfv may I ask you to take a look, please?

[code]

This doesn't work with conda, but works well with mamba.

[2021-06-27 17:26] mathbunnyru commented on #1113
@Bidek56 is right.
I will close this issue because this is purely an upstream problem.

We will gladly update our versions to the ones, which will be fixed.
And, in the nearest future, we might be switching to automatically using kind-of latest versions (https://github.com/jupyter/docker-stacks/pull/1378)

[2021-06-27 17:26] #1113 closed

[2021-06-28 08:24] wolfv commented on #1384
Hi, the problem is that in this line:

https://github.com/jupyter/docker-stacks/blob/7dd516c8098102e896b2e3ab3f95c73630a2f74b/scipy-notebook/Dockerfile#L36

protobuf is pinned to `3.17.*` while there is no version compatible with this protobuf version of mysql available. mamba (and conda) correctly write into the `$PREFIX/conda-meta/history` file this pinning.

Now when installing new packages wit

[2021-06-28 08:55] mathbunnyru commented on #1384
Thanks so much @wolfv!

Now I know this difference between conda and mamba, it's much easier to deal with situations like this.

Also, I'm planning to remove explicit versions pin, which will also fix this issue.
https://github.com/jupyter/docker-stacks/pull/1378

Closing this issue, because the concrete reason was found and there are several solutions found.

[2021-06-28 08:55] #1384 closed

[2021-06-30 15:28] mathbunnyru commented on #1298
Renamed this issue to make it more clear

[2021-06-30 15:32] mathbunnyru commented on #1298
This issue is a way of improving our docs to provide better info:
https://github.com/jupyter/docker-stacks/issues/1298

[2021-07-01 23:17] droctothorpe opened #1394 "Mounting EFS/NFS to home without root privileges"
Correct me if I'm wrong, but it looks like the [start.sh](https://github.com/jupyter/docker-stacks/blob/master/base-notebook/start.sh#L67) script requires root privileges to mount NFS.

I understand that it subsequently deescalates, however, we're using JupyterHub to provision notebooks on K8s and we want to provide a custom image field in the options form, but there's no way for us to guarantee d

[2021-07-02 18:39] mathbunnyru commented on #1309
@parente any update on this?

I've been doing a lot of maintenance for these images for the past couple of months and it would be nice to have DockerHub access.

[2021-07-02 19:13] parente commented on #1309
I submitted the Docker form but haven't heard anything back from Docker. The message at submit time said that wait times may be long because they have a lot of submissions.

[2021-07-03 01:02] Goblin80 commented on #408
Make sure to set these environment variables:

* GRANT_SUDO: yes
* NB_GID: 100
* NB_USER: jovyan

after that it shouldn't ask for a sudo password.

[2021-07-03 09:13] mathbunnyru commented on #1309
Thanks!

[2021-07-06 23:18] gitclem commented on #990
When I try to run:

jupyter labextension install @jupyter-widgets/jupyterlab-manager

I get the error:

[code]

I tried replacing the offending line with:

`  var _ref27 = (0, (_asyncToGenerator2 || _load_asyncToGenerator()).default)(function* (dir, relativeDir) {
`

but I run into another error:

[code]

I'm on on:

* Ubuntu 16.04 LTS
* Python 3.11
* node v4.2.6

And when I run

[code]
I'm in the

[2021-07-07 00:36] parente commented on #1309
Thanks for being patient. I would give up my seat for you, but even that wouldn't help. We'd need to get the user count down from 10 or so to 3. I don't think that's tenable. 🙁

[2021-07-07 09:35] mathbunnyru commented on #990
Please, create a new issue if you have some errors. And please use issue template to make it easy for maintainers.

[2021-07-10 02:06] kylezeeuwen commented on #336
Note for posterity : here is a better link to find the common options on the base-notebook : https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html

[2021-07-12 15:59] migueltorrescosta opened #1400 "NetworkX fails to be imported"
**Image:**`jupyter/datascience-notebook`
**Docker command:** `docker run -it --rm -p 8888:8888 jupyter/all-spark-notebook:latest`
**Reproduction steps:**
1. Visit <http://localhost:8888>
2. Start a Python notebook
3. Run `import networkx as nx`

**What do you expect to happen:** Successful import
**What actually happens:** Error message due to invalid imports inside NetworkX. This problem has alre

[2021-07-13 05:18] lmeyerov commented on #915
We used to do `pgrep "jupyter"` as describe above, but Jupyter kernels are prone to getting wedged without crashing, e.g., 100% CPU or IO, so we find this check not so great for availability in practice. Don't have an alt, however.

[2021-07-14 14:03] krassowski commented on #1217
I wonder if https://github.com/jupyterlab/retrolab might ease the transition.

[2021-07-15 19:47] consideRatio opened #1401 "Tags and manifests are created based on amd64 images, but assumed for the arm64 images"
In #1399 we add let this repo publish arm64 based images rather than the amd64 based images we currently have published.

This issue is meant to represent the problem of doing so without also documenting the version of packages installed etc, which may be different for an arm64 based image compared to an amd64 based image. Also, we only publish manifests based on the amd64 images rather than both,

[2021-07-15 19:51] consideRatio opened #1402 "Tests of arm64 based images are not performed"
Assuming we merge #1399, then we only run tests for the amd64 based image.

My suggestion is that we try to acquire arm64 based self-hosted GitHub runners that can assist this project and other projects in the Jupyter ecosystem. If we have that, then we can run tests and such easily.

[2021-07-16 19:46] manics commented on #1402
I've been looking at free resources for self-hosted GitHub runners. The most promising looks like Oracle Cloud which has "4 Arm-based Ampere A1 cores and 24 GB of memory usable as one VM or up to 4 VMs" in the "Always Free" service
- https://www.oracle.com/uk/cloud/free/#always-free

You need a credit card to sign-up to prove your identity (and presumably to stop you signing up for multiple free a

[2021-07-16 21:27] consideRatio opened #1407 "Improve performance of CI system"
We have crippled our CI systems performance after introducing support for arm64 based images. A key reason for this is that emulation of arm64 images from the amd64 based runners github provide is far worse, besides the fact that we end up building base-notebook and minimal-notebook for arm64 in sequence alongside the other images now.

I'm not fully sure how we should optimize this long run, but

[2021-07-16 23:34] consideRatio opened #1410 "Don't request the absolute latest buildx version"
#1409 requested the latest version of buildx instead of accepting the one pre-installed in the GitHub runner's environment. We can remove that request and save a few seconds when https://github.com/actions/virtual-environments/blob/HEAD/images/linux/Ubuntu2004-README.md#tools lists version 0.6.0 of buildx.

[2021-07-17 00:31] consideRatio opened #1411 "We fail to push our multi-arch images"
We successfully login with `docker login`, but we fail to push images. I'm unsure why, we only get 401 Unauthorized and that's it.

### From [CI run that failed](https://github.com/jupyter/docker-stacks/runs/3090573663?check_suite_focus=true)

[code]

[2021-07-17 00:52] consideRatio commented on #1411
I think this is fixed by #1412. Soon to be confirmed but I'll close this now and open if it isn't.

[2021-07-17 00:52] #1411 closed

[2021-07-17 19:29] mathbunnyru commented on #1407
Related: https://github.com/jupyter/docker-stacks/issues/1203

[2021-07-17 19:30] mathbunnyru commented on #1407
Added this issue to the milestone.

[2021-07-17 19:33] mathbunnyru commented on #842
We're tracking all the work on arm images in https://github.com/jupyter/docker-stacks/issues/1019 so this issue is a duplicate.
And you can already start using base and minimal images and build something on top of them!

[2021-07-17 19:33] #842 closed

[2021-07-17 19:41] mathbunnyru commented on #1407
Another idea is to improve PRs speed - build ARM images only in master or when the commit has some pre-defined string.
This way we will be able to have PRs working at the same speed as before (around 25 minutes).

Also, we might want to use [actions/cache](https://github.com/marketplace/actions/cache).

[2021-07-19 11:35] mathbunnyru commented on #1019
I created myself a VM on Amazon to have much faster builds.
I found the cause of issue for `scipy-notebook`, created an upstream issue.

[2021-07-19 12:45] consideRatio commented on #1019
@mathbunnyru can you provide a link to that issue?

[2021-07-19 12:47] mathbunnyru commented on #1019
It's in the top message of this issue.

[2021-07-20 11:25] manics commented on #1407
Could you move the multiarch build into a separate GitHub workflow? You'd then get multiple CI statuses on PRs, and could choose to merge after the amd64 job passes instead of waiting for all jobs?

[2021-07-20 12:31] consideRatio commented on #1407
@manics separate jobs within a workflow is sufficient for that. To have separate jobs running is what I thought when I wrote the step 2.

[2021-07-22 05:15] consideRatio commented on #1407
I've ordered 7 RPi computers and look to make them self-hosted arm64 based runners for us in the Jupyter ecosystem where needed.

[2021-07-22 06:50] mathbunnyru commented on #1407
Wow, nice! :)

I also wanted to create some VMs on ARM to use it as self-hosted runners, but if you're already on it, that's great 👍

[2021-07-26 03:12] choijan78 commented on #1056
No way... This comments saved me!!!!
I was suffering for 2 hours to find why I can't access to Jupiter notebook!!! Even I made password so well!!!!!

Hahahaha.. Thank you so much!

Watch out everybody.
Jupyter notebook can *not* decode argon2 hashed password.
USE sha1 !!!!!

[2021-07-26 12:17] mathbunnyru commented on #1056
@dvdblk @choijan78 if you could extend our docs to show how to generate passwords, that would be great.

[2021-07-30 08:59] kszyk8 opened #1419 "Unable to use `conda install`"
Hi, I am trying to build a custom Jupyter image but I can't install anything with conda due to multiple conflicts. Previously I used older version of docker-stacks (revision `d990a62`) and it worked just fine.

**What docker image you are using?**

`jupyter/all-spark-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker build .`

**Wha

[2021-08-02 20:10] rigzba21 commented on #1333
Hello! I'm interested in contributing to this issue.

[2021-08-03 14:38] mathbunnyru commented on #1333
@rigzba21 that's great!

I think, we have many issues with these variables.
First of all, you can try to solve the issue https://github.com/jupyter/docker-stacks/issues/1229.
It will definitely give you an understanding why we need these variables and how to use them.

After that, it would be great to search for issues (possibly closed), which also had troubles with these variables.

And then it w

[2021-08-03 14:43] rigzba21 commented on #1333
Great! I'll start by taking a look at https://github.com/jupyter/docker-stacks/issues/1229. Thank you for the advice for a starting point.

[2021-08-09 11:05] mbalduini opened #1423 "Unexpected console message from IVY and spark"
Description
* used docker image: jupyter/pyspark-notebook:b9f6ce795cfc
* Started up via docker-compose:
[code]
* Additional Information: Downgraded from java 11 to Java 8

Running a simple cell to create a spark session (see code below) annoying message from Ivy (related to packages config) and spark start to be printed on console.

![Screenshot 2021-08-09 at 13 03 56](https://user-images.githubus

[2021-08-09 11:19] mathbunnyru commented on #1423
I think the issue is that now, when something is printed to stderr, jupyter shows it in a red box.

What you can do is:
[code]

Note, that this sets stderr to `/dev/null/`, so, if you want to see it later, you need to save and restore previous value.

[2021-08-09 11:57] mbalduini commented on #1423
Thank you for suggestion @mathbunnyru, but the proposed solution doesn't seem to work. No change in the output.

Any chance to specify redirection only for specific source?

[2021-08-09 12:13] mathbunnyru commented on #1423
Could you please make your question reproducable by other people?
No one want to copy-paste the code from the screenshot.
Also, tell us why you downgraded java and how you did it.

[2021-08-09 12:22] mbalduini commented on #1423
Got it, you are right.

* I downgraded to java 8 in order to avoid additional warning (find below):
[code]
* I downgraded by installing the open jdk version `sudo apt-get install openjdk-8-jre` and then selecting the version via `sudo update-alternatives --config java` command

* Here the code I used to create the spark session with additional packages:
[code]

* Here below the ivy print:
[code]

[2021-08-09 17:28] #1153 closed

[2021-08-09 20:39] consideRatio opened #1426 "Docker image version tags are incorrect"
It appears that #1378 successfully has build and pushed an image with jupyterhub 1.4.2 which is the latest version. But from looking at [docker hub](https://hub.docker.com/r/jupyter/base-notebook/tags?page=1&ordering=last_updated) I conclude that it tagged `hub-1.4.1` instead of `hub-1.4.2` even though the image itself contain jupyterhub 1.4.2.

[code]

@mathbunnyru do you have any ideas about wha

[2021-08-09 22:02] #1426 closed

[2021-08-10 04:58] maresb opened #1428 "Track version changes in separate repository"
I'm very interested to see how #1378 works out. I hope that it makes maintenance easier. In this FR I'd like to address the issue of package versions no longer being explicitly tracked by proposing a first idea. I'm also interested in alternative ideas.

**What docker images this feature is applicable to?**

All.

**What changes do you propose?**

Create a new repository `jupyter/docker-stacks-ver

[2021-08-10 07:38] mathbunnyru commented on #1428
@maresb what you're asking is already implemented using our wiki.
We create build manifest for each master branch run and the wiki is updated automatically.

https://github.com/jupyter/docker-stacks/wiki

Maybe, I missed something?

[2021-08-10 07:58] consideRatio opened #1429 "Updating the wiki page with build history in GitHub GUI truncates the index I think"
I wanted to update the [wiki page's](https://github.com/jupyter/docker-stacks/wiki) description to read like below, but I realize that the web based GUI to do so would truncate the auto-generated index. Also, that the index was already truncated by a previous edit like this I presume.

@mathbunnyru have you experience with updating that wiki page text before? Got recommendations?

[code]

[2021-08-10 08:25] mathbunnyru commented on #1429
Actually, wiki itself is a git repo, so you can clone it like this `git clone https://github.com/jupyter/docker-stacks.wiki`.

After that you can change it on your machine and make sure it is not truncated.

[2021-08-10 10:26] #1428 closed

[2021-08-10 11:02] slmg commented on #1153
Late loyal user feedback on this.

Whilst I completely understand the reasons behind un-pinning packages versions, I believe it may have been a good idea to at least keep the major component. So switching from `'jupyterlab=3.0.16'`, `'scipy=1.7.*'` to `'jupyterlab=3.*`, `'scipy=1.*'` as an example.

Most packages use semantic versioning, so that would in theory always get the latest non-breaking c

[2021-08-10 11:05] mathbunnyru commented on #1153
There are also wiki build manifests, but you will have to diff entire pages, which is also doable, but a bit more difficult, I suppose.

https://github.com/jupyter/docker-stacks/wiki

[2021-08-10 11:22] slmg commented on #1153
Thank you that is useful. Yes I think a custom tool to diff build manifests might be my way to go moving forward.

[2021-08-10 13:09] jovanni-hernandez opened #1430 "Base Image using EOL NodeJS v13"
**What docker image you are using?**

`jupyter/scipy-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -it --rm -p 8888:8888 jupyter/all-spark-notebook:latest`

**What actually happens?**

The Base docker image is using an old version of NodeJS 13.13.0 that is no longer supported.

[code]

This causes downstream affects for use

[2021-08-10 13:15] mathbunnyru commented on #1429
Fixed, found my commit which truncated the wiki.

[2021-08-10 13:22] mathbunnyru commented on #1429
@consideRatio I also added some notes to prevent this in the future.
Please, take a look and if that looks well for you, please, close this issue.

[2021-08-10 13:23] maresb commented on #1153
Having everything in a git repo would make diffing easier, but at least all the data is already there in the wiki, and it's probably not worth the time at this point.

[2021-08-10 14:00] consideRatio commented on #1429
@mathbunnyru deal!

I made your text a HTML comment instead, so if you press edit you will see it anyhow but it won't show for users that just browses the wiki.

![image](https://user-images.githubusercontent.com/3837114/128880575-b4e33d9c-0218-4c94-872e-b79fa7b37e96.png)

[2021-08-10 14:01] #1429 closed

[2021-08-10 14:05] mathbunnyru commented on #1430
Could you please update your docker image?

I have just checked the latest image and it's telling `v14.17.4`, which is quite new and supported.

<img width="829" alt="Снимок экрана 2021-08-10 в 17 04 17" src="https://user-images.githubusercontent.com/12270691/128881179-7673182d-a2b5-4d7e-b9da-0794684c1e98.png">

[2021-08-10 18:26] jovanni-hernandez commented on #1430
Really weird, I wonder if my computer had just cached the older image and wasn't honoring my pull of latest. After purging everything and repulling it definitely has v14.

Sorry for the wasted time!

[2021-08-10 18:26] #1430 closed

[2021-08-12 01:49] parente commented on #1153
`git clone https://github.com/jupyter/docker-stacks.wiki.git` should work to get a local clone of the wiki, which is itself a git repo. I haven’t checked a diff to see how readable it is, but I’d guess it’s not too bad since the page is prepend only.

[2021-08-12 02:44] slmg commented on #1153
Yes that's what I ended up doing :+1:. Below is an excerpt of some doc I wrote (for `scipy-notebook`).

I am using vscode to produce rich diffs, though `git diff --no-index` does a good job too for those preferring to stay in the terminal.

### How to select a new image

1. Visit <https://github.com/jupyter/docker-stacks/wiki>
and pick a build canditate for `jupyter/scipy-notebook`.

1. Using the

[2021-08-12 12:23] maresb commented on #1153
The wiki clone stores the various versions of manifests in separate files, which is a git antipattern. One can do diffs by hand as in @slmg's solution, but you're not actually leveraging git except as a filestore. Ideally you'd have a single `base-notebook.md` file instead of `base-notebook-[hash].md`.

Given that one can do the diffs by hand, I don't personally have enough motivation to arrange t

[2021-08-12 13:03] slmg commented on #1153
It would be nice. Though would it not make it hard to keep track of the original commit id from this repo? How could we determine which version to compare if only one `base-notebook.md` was present, given that the wiki would generate its own commit hash?

It would work fine if manifests were committed to this repo, with the commit hash used to tag images. Which would enable to fall back to a simpl

[2021-08-12 13:06] mathbunnyru commented on #1153
I think the best solution is to have both things - both `base-notebook-[hash].md` and `base-notebook.md`.
Users can choose whatever they want.
And also, put the original commit hash in the message, to make it easy to find.

[2021-08-12 13:27] maresb commented on #1153
@mathbunnyru great point! And that would probably be trivial to implement.

Unfortunately it seems that GitHub doesn't allow one to browse the files or view blame in a wiki repo. (It doesn't work to visit https://github.com/jupyter/docker-stacks.wiki/blob/master/Home.md.)

I wonder if it be difficult to mirror the wiki as a normal browsable GitHub repo?

[2021-08-12 13:35] mathbunnyru commented on #1153
I think that might be a bit too much :)

[2021-08-15 13:31] HaeyoonJo commented on #211
You chould you the cmd in a cell as following:
!pip3 install boto3

[2021-08-16 13:31] eromoe opened #1432 "How do I add jar while using scala shell ?"
I know it only need add env  in pyspark , but there is no introduction tell how to add jar in scala

[2021-08-18 13:48] meeseeksmachine commented on #358
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/jupyter-community-calls/668/66

[2021-08-20 13:52] djangoliv opened #1433 "default virtual env in console"
I am using `jupyter/base-notebook` with jupyterhub.

I change the python3 version with the recipe : https://jupyter-docker-stacks.readthedocs.io/en/latest/using/recipes.html#add-a-python-3-x-environment

I uncomment the line
`ENV CONDA_DEFAULT_ENV ${conda_env}`

All works as expected (the notebooks are executed in ${conda_env} ) but the console is still in the env named `base`.
I can activate it m

[2021-08-20 14:32] amerenda opened #1434 "[BUG] Jupyter lab build works inconsistently when the docker image is built via a script and built via a terminal."
This is a copy of: https://github.com/keplergl/kepler.gl/issues/1581 as I'm not sure if this bug has to do with kepler, or jupyter lab.

**Describe the bug**
A kepler map built via the kepler widget will not display a map if built in a docker container via a script. But will display the map if built via a terminal emulator. This behavior is consistent when built both ways on the same VM, with the

[2021-08-21 18:15] Bidek56 commented on #1432
I think this question belongs to SO, not GH.
This [link](https://stackoverflow.com/questions/34515598/apache-spark-shell-error-import-jars) should answer your question.

[2021-08-21 19:34] MaisamMD opened #1435 "Load configs in shell script before launching the notebook/lab"
Hi,

I am using the jupyter/base notebook to build a Docker image for my environment. I have some configurations in a shell script format (.sh file) that should be loaded before launching the notebook/lab. I normally do source the .sh file in the ~/.bashrc. It seems these configurations are not loaded when I start the docker container using the default start-notebook.sh CMD.
I need the ~/.bashrc (

[2021-08-22 04:38] eromoe commented on #1432
Nope, it is here . Here is no document tell how to add jar while using jupyter/all-spark-notebook image .
It is easy to add jar when you directly run spark-shell which some parameters.

[2021-08-23 05:03] consideRatio opened #1436 "Type in Dockerfile affecting Arm64 builds?"
This looks like a typo, and that it shouldn't be `aarm64` but `aarch64`. But, why hasn't this failed earlier then? I note that the image is built and pushed to docker hub.

https://github.com/jupyter/docker-stacks/blob/70178b8e48d7825ceade6e2decf374bc3e792d90/base-notebook/Dockerfile#L103-L105

@holdenk what do you think about this?

[2021-08-23 09:56] oskarryn commented on #1298
For me the recipe "Add a Python 3.x environment" works, I verified using jupyter/minimal-notebook and jupyter/pyspark-notebook images as the parent image. I suggest you start exactly with the recipe and once you get it working, incrementally add your stuff to identify what's causing the issue. I suspect an issue related to root/jovyan user.

[2021-08-24 11:12] mathbunnyru commented on #1436
I think I solved the mystery.

[code]

`uname -m` returns `aarch64`.
So, `if` condition is wrong.
But, fortunately for us, miniforge naming is already good, so we didn't need any replacements in the first place.

https://github.com/conda-forge/miniforge/releases/
For example, the file is called `Mambaforge-4.10.3-5-Linux-aarch64.sh`

[2021-08-24 11:13] mathbunnyru commented on #1436
I will fix this.
I will also add downloading the latest miniforge version, to make it follow our automatic updates principles.

[2021-08-24 19:38] #1436 closed

[2021-08-25 11:01] mathbunnyru commented on #1419
We have switched to using mamba by default - is is faster, I personally think it resolves dependencies quite well, so, as this issue is probably some conda behavior or bug and there is a resolution, I'm closing it.

[2021-08-25 11:01] #1419 closed

[2021-08-25 11:02] mathbunnyru commented on #1229
Thanks to @rigzba21 , this should be fixed now.

[2021-08-25 11:02] #1229 closed

[2021-08-25 11:04] mathbunnyru commented on #1291
I think this is fixed now, because we switched to always using latest Miniforge

[2021-08-25 11:04] #1291 closed

[2021-08-25 11:05] mathbunnyru commented on #1273
@psychemedia are you still interested in making this change?

[2021-08-25 11:07] mathbunnyru commented on #1266
Closing this one - there is no response from the user, please, reopen, if this issue is stilll valid.

[2021-08-25 11:07] #1266 closed

[2021-08-25 11:24] mathbunnyru commented on #1407
@consideRatio did you have any luck with arm runners?

[2021-08-25 11:40] consideRatio commented on #1407
@mathbunnyru I have a k8s cluster running on 7 raspberry pi computers etc, but I've failed to deploy the github runner software on k8s still. I'm left quite clueless on what is going on with that and have failed to debug it.

https://github.com/actions-runner-controller/actions-runner-controller/issues/732

[2021-08-25 14:08] #1410 closed

[2021-08-25 15:34] mathbunnyru commented on #1407
I see. Unfortunately, I have almost zero experience with k8s and absolutely zero experience with self-hosted runners, so I can't help you right now :(

[2021-08-26 15:11] lab1702 opened #1447 "R missing from the New Notebook section and JupyterLab Launcher page"
**What docker image you are using?**

jupyter/datascience-image

**What complete docker command do you run to launch the container (omitting sensitive values)?**

docker run --rm -ti -p 8888:8888 jupyter/datascience-notebook

and

docker run --rm -ti -p 8888:8888 -e JUPYTER_ENABLE_LAB=yes jupyter/datascience-notebook

**What steps do you take once the container is running to reproduce the issue?**

[2021-08-27 10:07] twalcari opened #1448 "Conflict between documentation on NB_USER envvar and start.sh script"
Hi all,

In the [documentation](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html#docker-options) it is stated that when passing the NB_USER environment parameter, that you should also update the working directory for that docker container:

Indeed, when you don't do that, any `docker exec -ti <my_jupyter_container> <any command>` command fails because the working directory

[2021-08-30 02:16] consideRatio commented on #1407
Hmmm, looking into this a bit, my guess is that the cache for layers grows too large and that cause it to be discarded along the way forcing a rebuild or similar. This guess is supported by noting that previous builds have been successfully using a cache for at least the base-notebook image and then suddenly that stops working when you added more images to be built in recent PRs.

I have a few ide

[2021-08-30 14:31] sknauff commented on #1447
I have experience the same issue. R doesn't show up in kernel selection drop down in JupyterLab either. I think that the latest working image on DockerHub that includes R in JupyterLab is `jupyter/datascience-notebook:2021-08-25`?

[2021-08-31 08:02] gemfield commented on #484
@sho-suzuki solution also fixed similar pull issue but on windows: https://github.com/DeepVAC/MLab/issues/60

[2021-08-31 21:01] aforsythe opened #1450 "Missing IRkernel from r-notebook"
Hi! Thanks for using the Jupyter Docker Stacks.

Please answer the questions below to help us troubleshoot the problem. Please be as thorough as possible.

**What docker image you are using?**

Example: `jupyter/r-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

Example: `docker run -it --rm -p 8888:8888 jupyter/r-notebook:latest`

**What

[2021-08-31 21:05] consideRatio commented on #1447
I'm closing this as a duplicate of #1450 that had some technical details of relevance even though this was opened first. Thanks for reporting this!

[2021-08-31 21:05] #1447 closed

[2021-09-01 05:38] #1450 closed

[2021-09-01 09:54] mathbunnyru commented on #1447
I checked - it works for me with latest image.

[2021-09-01 09:54] mathbunnyru commented on #1450
I checked - it works for me with latest image.

[2021-09-01 09:54] mathbunnyru commented on #1447
Thanks for reporting the issue and investigating when it broke 👍

[2021-09-04 13:11] thuybt opened #1459 "Pyspark notebook cannot recognize JAVA_HOME"
Thanks for using the Jupyter Docker Stacks.

Please answer the questions below to help us troubleshoot the problem. Please be as thorough as possible.

**What docker image you are using?**

jupyter/pyspark-notebook

**What complete docker command do you run to launch the container (omitting sensitive values)?**

helm upgrade --cleanup-on-fail \
  jupyterhub jupyterhub/jupyterhub \
  --namespace sp

[2021-09-07 15:40] Bidek56 commented on #1459
Are you using K8s to run jupyter/pyspark-notebook? If so your issue is related to your Helm chart no this repo.
I would suggest checking SO for help with your charts.
jupyter/pyspark-notebook works just fine on K8s as long as the charts are configured correctly.

[2021-09-08 00:59] changxiaoju commented on #1056
Now i face the same situation as you, but i dont quite understand what do you mean by using the URL with the token generated. is that something like http://localhost:8888/?token=c53bbd4d00828cb800c4d75af1b4fa433cdd0db90b512221? which still ask about token and password. looking forword to your reply

[2021-09-14 00:49] kslader8 opened #1464 "JupyterLab Git Extension"
**What docker images this feature is applicable to?**
jupyter/scipy-notebook

**What changes do you propose?**
installing jupyterlab-git
(mamba install jupyterlab-git)

**How does this change will affect users?**
It allows users to more easily collaborate (the main issue research teams I work on have with jupyterhub). I'm actually surprised that jupyterlab-git hasn't been absorbed into the default

[2021-09-14 11:28] mathbunnyru commented on #1464
@kslader8 could you please draft a PR?
And could you check how the size of the image changes after adding this package?

We try to minimize the image size, especially minimal-notebook(it makes sense to add this to minimal notebook, because git is also installed there as you said).

[2021-09-15 04:04] jlphillipsphd opened #1465 "Recent changes to start.sh (mkdir; cp -R instead of mv) makes use-case for NB_USER too narrow (breaks existing z2jh deployments)"
**What docker image you are using?**

Example: `jupyter/minimal-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

I am running z2jh on k3s, and typically use NB_USER to change jovyan to a user id obtained from LDAP, AzureAD, or Github OAuth.

The relevant values.yaml would be:
[code]
The environment variable NB_USER is set using a custom a

[2021-09-15 04:18] jlphillipsphd commented on #1394
Would nfs-subdir-external-provisioner (https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner) work for you in this context? I typically use this now instead of direct NFS mounts like I have tried in the past.

This allows containers to mount from anywhere in the cluster (like one wants from NFS), and the provisioner provides a storage class backed by NFS to make it pretty simple to re

[2021-09-15 04:20] jlphillipsphd commented on #1333
#1465 is related

[2021-09-15 06:31] masip85 commented on #1333
Hello

I had problems with this long ago:

https://github.com/jupyter/docker-stacks/issues/885

From that issue next one is linked:

https://github.com/jupyter/docker-stacks/issues/1077

[2021-09-15 09:30] twalcari commented on #1465
The changes also broke things in our deployment. I've created a pull request with a fix wrt copying hidden files/directories, which I deployed locally and which has been running well for a couple of weeks on our side now.

Lets hope for a quick merge!

[2021-09-15 14:25] #1465 closed

[2021-09-15 14:27] mathbunnyru commented on #1333
Thanks for mentioning these issues @jlphillipsphd @masip85 !

@rigzba21 if you still have a desire to fix this problem, now you have many examples where it's not obvious how our docker images behave.

[2021-09-15 22:54] wscardua opened #1468 "Delta in a Pyspark Notebook not work"
hi guys.

I use that Dockerfile to build a image to work with pyspark and delta

[code]

`docker build -t jupyter/notebook-pyspark-delta . --no-cache`

`docker run -p 8888:8888 jupyter/notebook-pyspark-delta`

Notebook

[code]

ERROR

[code]

[2021-09-16 00:50] rigzba21 commented on #1333
Hi all, thank you for the examples, this is helpful!

[2021-09-16 13:41] devas123 opened #1469 "Cannot set password for jupyter server"
**What docker image you are using?**

`jupyter/tensorflow-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run --rm -p 10000:8888 -e JUPYTER_ENABLE_LAB=yes -d jupyter/tensorflow-notebook `

**What steps do you take once the container is running to reproduce the issue?**

1. Visit http://localhost:10000
2. in the login window input

[2021-09-16 14:07] jlphillipsphd commented on #1465
Thanks @twalcari for the potential fix, and @mathbunnyru for the quick merge!

This approach gets us farther along in a way, but introduces other issues (in a way):

1. If I -only- set NB_USER, then `/home/${NB_USER}` is getting created correctly and the container starts up. However, the mount point for the PVC using standard z2jh is `/home/jovyan`. As a result, none of the user's files are actual

[2021-09-16 15:02] jlphillipsphd commented on #1465
OK, I found the solution for my deployments:
[code]
With this change to my values.yaml, I was able to essentially recreate the same user experience provided by my existing deployments.

One thing to note: the current solution doesn't appear to actually succeed in copying the files from `/home/jovyan` to `/home/${NB_USER}`. I don't see anything in the startup log to suggest that it failed, but none

[2021-09-16 15:03] twalcari commented on #1465
In our JupyterHub instance, we don't mount any external storage into the home directory of the user. We use clearly labeled paths (ex. `/project`), so that users know when they store something to a permanent location. Everything outside those paths is ephemeral by definition.

Our spawner only sets `NB_USER` and `NB_GID`. We don't set `CHOWN_HOME` or `CHOWN_HOME_OPTS`.

Maybe you can investigate i

[2021-09-16 15:06] twalcari commented on #1465
You've just encountered #1448 🙃

[2021-09-16 15:16] jlphillipsphd commented on #1465
Your side remark is interesting because the default storage setup for z2jh is a dynamic PVC mounted at `/home/jovyan`. I am not sure what the answer needs to be for the default, but since this **is** the default, it gives the impression that it's the expected way to do this. I agree with you that it can cause issues if you wanted to switch images: I haven't been doing so *so far* for my deployment

[2021-09-16 15:23] jlphillipsphd commented on #1448
I usually install lab extensions globally, not locally, in images so they don't end up in /home/jovyan. This way, if the copy doesn't work, the extensions are still available.

[2021-09-16 18:24] Bidek56 commented on #1468
This code works:
[code]
The reason it works is because `configure_spark_with_delta_pip`  configures the Spark session to use delta.
Your code does not.

Don't want to be a jerk but this question belongs to [SO](https://stackoverflow.com/) not GH.

[2021-09-16 18:32] joshuacook commented on #1468
Considering that this repo maintains a list of recipes, I think it's ok to
ask questions about the recipes here.

On Thu, Sep 16, 2021 at 11:24 AM Darek ***@***.***> wrote:

[2021-09-16 18:40] Bidek56 commented on #1469
Hmmm, this is probably a Hub bug since this repo does not make any jupyter_notebook_config.py changes.

[2021-09-19 05:18] devas123 commented on #1469
in the logs I see that it creates the jupyter_serve_config.json in the workdid/.jupyter, and it appears to be in the container, but this takes no effect

[2021-09-20 15:01] Bidek56 commented on #1469
Have you tried setting password in Jupyter Lab without the Docker container?
It maybe a Lab bug not a docker stack issue.

[2021-09-20 19:21] mathbunnyru commented on #1469
Thanks @Bidek56.

I will close this issue. Please, create an issue in the corresponding repo of discourse.

[2021-09-20 19:21] #1469 closed

[2021-09-22 09:01] mbalduini commented on #1423
Any update on this issue?

I tested the code with the most recent version and the behaviour persists

[2021-09-22 11:00] devas123 commented on #1469
Just for the sake of history: the problem is not with the container. The jupyter server needs to be restarted for the changes to take effect. So for my problem I had to create an image from tensorflow-notebook, where I copied .jupyter dir with pre-configured files for the password into the home dir. It solved the problem

[2021-09-22 11:21] mathbunnyru commented on #1469
@devas123 there is a better way to do this

`command: "start-notebook.sh --NotebookApp.password='PASSWORD_SHA_TAG'"`

where you generate the sha tag from the password:
[code]

[2021-09-22 11:23] mathbunnyru commented on #1423
@mbalduini I've tried several solutions, but I didn't find something working, I think you need to somehow configure `pyspark.sql` logger (I haven't used pyspark, that's why I can't help you).

[2021-09-22 11:24] mathbunnyru commented on #1423
Another option would be to somehow configure jupyterlab / jupyterlab cell to not to show stderr (or sth like this).
I don't know if it's easily possible.

[2021-09-26 12:12] Data-drone opened #1471 "Pytesting connection error"
**What docker image you are using?**

Example: `jupyter/base-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker build -t base-notebook:latest ./base-notebook`

**What steps do you take once the container is running to reproduce the issue?**

`TEST_IMAGE=base-notebook:latest pytest -m "not info" --log-cli-level=INFO base-notebook/tes

[2021-09-26 18:03] mathbunnyru commented on #1471
Hello, I think you're using the wrong commands:

1.

[code]
This doesn't work for me - it should probably be without `--build-arg`.

2.

[code]

I think it should be just `test` at the end like this:
[code]

It works this way as expected.

[2021-09-27 10:53] rehanguha opened #1472 "Error while creating/editing files under "work" directory"
Hi,
I have using the below command from the docs

[code]

I have an issue to create any file under the work directory. I am getting permission denied when trying to save or create any new file with any extension.

[2021-09-28 01:45] Data-drone commented on #1471
Oops yes pasted the wrong thing in but the error stands - updated the original post

[2021-09-29 15:21] Bidek56 commented on #1472
Please try this command, it works for me, as per [GH](https://github.com/jupyter/docker-stacks/issues/199#issuecomment-217327748)

docker run --rm -p 10000:8888 -e JUPYTER_ENABLE_LAB=yes --user=root  -e NB_UID=\`id -u\`  -v "${PWD}":/home/jovyan/work jupyter/datascience-notebook:33add21fab64

[2021-10-12 08:15] benz0li opened #1478 "Populate home dir if it is empty"
**What docker images this feature is applicable to?**

`jupyter/base-notebook`

**What changes do you propose?**

Populate home dir if it is empty.

**How does this change will affect users?**

If a user _mounts_ to `/home/{raw_username}` it will be populated from `/home/jovyan` on initial startup.
ℹ️ `NB_USER` set to `{raw_username}`; the _unescaped_ `username` (e.g. from JupyterHub).

[2021-10-12 18:47] organom opened #1479 "%reload_ext giving ModuleNotFoundError: No module named"
I'm trying to run an extension, but I always get `ModuleNotFoundError: No module named`

**Example:**

Using a slightly modified version of the jupyter/scipy-notebook as:

[code]

I start the docker, create a new notebook and run the installation of an extension as
[code]
(extension gets copied correctly into /home/jovyan/.ipython/extensions/ngs.py)

I then try to load the extension as:
[code]
(`l

[2021-10-13 09:10] piernov opened #1480 "jupyter/tensorflow-notebook: TypeError: Parameter to MergeFrom() must be instance of same class: expected tensorflow.TensorShapeProto got tensorflow.TensorShapeProto."
**What docker image you are using?**

Example: `jupyter/tensorflow-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

Example: `docker run -it --rm -p 8888:8888 -e JUPYTER_ENABLE_LAB=yes -v "$(pwd)"/d1-notebooks:/home/jovyan/d1-notebooks jupyter/tensorflow-notebook`

**What steps do you take once the container is running to reproduce the is

[2021-10-14 14:26] Bidek56 commented on #1479
You are adding ngs as root during the docker build.

Can you try adding it in the notebook as originally specified? it worked for me on Ubuntu.

`!curl https://raw.githubusercontent.com/ngs-lang/ngs-ipython-extension/master/ngs-install.sh | bash`

[2021-10-14 15:44] nathancarter opened #1481 "Cannot install R's mosaic package on jupyter/datascience-notebook"
# Problem

**What is the problem?**

Attempting to install R's [mosaic package](https://github.com/ProjectMOSAIC/mosaic) (a common tool when using R in educational contexts) in the `jupyter/datascience-notebook` Docker image fails.

**What is the expected behavior?**

The R installation in the `jupyter/datascience-notebook` Docker image would be configured in such a way as to support installing ar

[2021-10-14 16:15] gabrielmagno opened #1482 "Script `test_outdated.py` not working after replacing conda to mamba"
I tried running the `test/test_outdated.py` script to see packages to update, but it gives an error (reported below).
I tested reverting the commands in `test/helpers.py` from `mamba` to `conda`, and the scripts runs normally.

So I believe the error is related to the fact of the output of `mamba` being different from `conda`, so the parsing of the outputs should be different.

The easiest fix see

[2021-10-15 11:53] organom commented on #1479
You're right, it was a user context issue.
In this particular case, I had to install ngs directly in the docker image `RUN curl https://ngs-lang.org/install.sh | bash` since this part requires sudo and would fail because the user requires password, and then the other part, like you suggested on the notebook directly `!curl https://raw.githubusercontent.com/ngs-lang/ngs-ipython-extension/master/ngs

[2021-10-15 11:53] #1479 closed

[2021-10-15 15:25] mathbunnyru commented on #1479
@Bidek56 thanks for your help ❤️

[2021-10-15 15:43] mathbunnyru commented on #1482
Thanks for this issue.

Actually, I don't think `test_outdated.py` is actually useful for us anymore.
I mean, we don't pin versions of python packages at all.
It seems to work well - at least, we didn't have any failed builds and versions are updated in automatic way.

If you need this script for some reason, please, tell us why :)

[2021-10-16 12:27] 0neday opened #1484 "error, This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN)"
[code]
[code]

[2021-10-16 13:07] mathbunnyru commented on #1484
Please, create a new issue, using our issue template, because right now it's so difficult to understand what you are trying to tell us.

[2021-10-16 13:07] #1484 closed

[2021-10-16 13:26] mathbunnyru commented on #1481
@nathancarter unfortunately, this seems to be an issue with upstream package(s).

I mean, if you can't have both `conda` and `terra`, the issue should be transferred either to conda (or maybe even corresponding `r` feedstock), or `terra` or maybe `gdal`.
I'm not really familiar with any of these packages, so I can't tell you which one of them is a good place to ask for help.

I'm sorry to say that

[2021-10-16 13:26] #1481 closed

[2021-10-16 14:11] mathbunnyru commented on #1480
I've fixed the issue, I will revert the patch part when the upstream project releases a new version (it will actually break and we will have to revert the fix).

Waiting for the PR CI, then I will merge.

[2021-10-16 14:26] mathbunnyru commented on #1468
@Bidek56 thanks for your help 👍
I think this issue can be closed then, because we have a working solution for the problem.

[2021-10-16 14:26] #1468 closed

[2021-10-16 14:26] mathbunnyru commented on #1464
The author doesn't seem to be interested, so closing this issue.

[2021-10-16 14:29] mathbunnyru commented on #1459
Closing this issue because of no response.

[2021-10-16 14:29] #1459 closed

[2021-10-16 14:31] mathbunnyru commented on #1435
We have startup-hooks.
I haven't used them myself, but I think they might help you.

Could you please take a look?
https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html#startup-hooks

[2021-10-16 19:10] #1480 closed, assigned to nobody

[2021-10-16 19:22] #1482 closed, assigned to nobody

[2021-10-16 20:11] mathbunnyru opened #1488 "Outdated overview of docker images on dockerhub"
**What docker image you are using?**

All of them

**What complete docker command do you run to launch the container (omitting sensitive values)?**

Not applicable

**What steps do you take once the container is running to reproduce the issue?**

1. Visit https://hub.docker.com/r/jupyter/base-notebook

**What do you expect to happen?**

Beautiful webpage

**What actually happens?**

There is an ou

[2021-10-16 20:31] mathbunnyru opened #1489 "Remove translated webpages and the code to support it"
**What docker images this feature is applicable to?**

All

**What changes do you propose?**

Get rid of transifex and the translated websites

**How does this change will affect users?**

Right now, translation is done only for 1.77% of the project.
I haven't seen any demand to translate the project as well.
Translated versions of the webpage will be deleted and the code as well.

What I propose:

[2021-10-16 20:35] gabrielmagno commented on #1482
Thank you very much @mathbunnyru !
The fix came quicker than I could even answer you :-)

I have created a private Dockerfile based on `all-spark-notebook`, which installs some extra conda packages, with explicit versioning. I do not create automatic updates, I release a new version once every 3 months, so I run the `test_outdated.py` to see what I could manually update.

So, as you can see, this

[2021-10-16 20:35] consideRatio commented on #1489
That sounds good to me.

I perceive it as unrealistic to maintain those - and if they are unmaintained, the end users would be better off without them I think. I consider it a win/win for maintainers and end users at this point in time.

[2021-10-16 20:39] mathbunnyru commented on #1482
But, be warned, when versions are automatic, it might end in non-latest versions sometimes, because version resolution is a difficult thing to do.

[2021-10-16 22:07] mathbunnyru commented on #1488
I've implemented it, but it won't work for now:
https://github.com/christian-korneck/update-container-description-action#conflict-with-dockerhub-personal-access-tokens-and-2fa-auth

@parente could you please update READMEs manually for now?

[2021-10-18 14:12] TiemenSch opened #1493 "Requirements to a bare singleuser image"
What are the absolute minimal requirements for an image to be accepted as a "singleuser image" by JupyterHub?

I'm experimenting with trying to add different profiles to a JupyterHub instance that could use access to the same user volumes as the JupyterLab environment, but with frontends other than JupyterLab. That way I could let users change the "app" whilst sharing the centralized JupyterHub au

[2021-10-18 15:21] CholoTook opened #1494 "Getting help pages when using R"
Hi! Thanks for using the Jupyter Docker Stacks.

Please answer the questions below to help us troubleshoot the problem. Please be as thorough as possible.

**What docker image you are using?**
https://hub.docker.com/r/jupyter/r-notebook

**What complete docker command do you run to launch the container (omitting sensitive values)?**
`docker run --rm --name jupyter -p 49153:8888 -e JUPYTER_ENABLE_L

[2021-10-18 15:36] CholoTook opened #1495 "ESS bindings for code cells in R?"
Hi! Thanks for using the Jupyter Docker Stacks.

Please see the [Suggesting a new feature](https://jupyter-docker-stacks.readthedocs.io/en/latest/contributing/features.html#suggesting-a-new-feature) section in the documentation for our preferred processes.

**What docker images this feature is applicable to?**
https://hub.docker.com/r/jupyter/r-notebook
(or any image that includes an R kernel)

**

[2021-10-20 16:59] sanketsarang opened #1497 ""jupyter notebook list" won't show running instances with custom NB_USER setting"
When starting a container with custom `NB_USER` setting, the `jupyter notebook list` command fails to capture the running instance. The running instances show only if the user is `jovyan`.

## Works
[code]
## Does not work
The same command, with `NB_USER=hello` fails to capture the running instance.

[code]

The returned list is empty, as if an instance of Jupyter is not running. However, an insta

[2021-10-20 18:17] Bidek56 opened #1498 "openjdk_version in pyspark-notebook"
**What docker images this feature is applicable to?**  `jupyter/pyspark-notebook`

**What changes do you propose?**

I would like to bump [openjdk_version ](https://github.com/jupyter/docker-stacks/blob/fb6fe5dd812200163f8291fa96d6cb25b5049394/pyspark-notebook/Dockerfile#L20) to something higher than 11 but this change will break the [all-spark-notebook](https://github.com/jupyter/docker-stacks/tr

[2021-10-21 20:59] Bidek56 commented on #1498
I have created [Jira ticket](https://issues.apache.org/jira/browse/SPARK-37091) to upgrade the requirement in the Spark source, but given that it's a Spark project, my hopes are limited.
If we can figure out how use Java > 11 in pypark without affecting the R users that would be great.

[2021-10-23 11:54] #1498 closed, assigned to nobody

[2021-10-28 07:22] PuckCh opened #1502 "No more way to customize some parts of the generation of images"
Hello,

**What docker image you are using?**

We are creating custom images based on base-notebook with build like:

[code]

**What complete docker command do you run to launch the container (omitting sensitive values)?**

Not relevant here, the issue is on the build system, not running the standard images.

**What steps do you take once the container is running to reproduce the issue?**

In termi

[2021-10-30 21:46] analistacarlosh opened #1505 "Port 1000 worked but not port 8888 as informed and expected in the documentation and console log"
Following this reference: https://jupyter-docker-stacks.readthedocs.io/en/latest/index.html

My OS: Mac OS Catalina

**Docker image that I'm using**
`jupyter/datascience-notebook:33add21fab64`

**I've run to launch the container**
`docker run --rm -p 10000:8888 -e JUPYTER_ENABLE_LAB=yes -v "${PWD}":/home/jovyan/work jupyter/datascience-notebook:33add21fab64`

** What steps do you take once the con

[2021-10-30 21:59] analistacarlosh commented on #1071
Hey,
Maybe this can also be added on this troubleshooting page:
https://github.com/jupyter/docker-stacks/issues/1505

[2021-11-01 09:03] mathbunnyru commented on #1505
I think everything works perfectly fine here.

`-p 10000:8888` means docker port forwarding.
You launch your application with some port.
It happens that jupyter applications use port 8888 by default.
Then, you want to publish this port outside of the docker container to make your jupyter environment available.
That's why you use `-p 10000:8888`.
But the application doesn't know anything about the

[2021-11-01 09:03] #1505 closed

[2021-11-01 09:05] mathbunnyru commented on #1071
I think I answered your question and everything works as expected and the documentation is correct.
Please, reply to me in your issue, if something looks wrong to you.

[2021-11-01 09:18] mathbunnyru commented on #1502
Fixed in https://github.com/jupyter/docker-stacks/pull/1501

[2021-11-01 09:18] #1502 closed

[2021-11-01 14:33] CholoTook commented on #1494
There is a stack exchange question discussing this issue here:
https://bioinformatics.stackexchange.com/questions/17879/r-help-in-jupyter-notebook

[2021-11-01 17:54] trallard commented on #1071
I am sorry I started working on this and never got around to finish it 🤦🏽‍♀️  I will get back onto this. Will perhaps open a draft PR to get feedback as I add items

[2021-11-02 06:07] ggaaooppeenngg opened #1509 "proposal: support multiple bases image builds"
**What docker images this feature is applicable to?**

From `jupyter/base-notebook` to the `jupyter/scipy-notebook`.

**What changes do you propose?**

Support multiple builds for some stable bases like (ubuntu20.04, cuda/10.2-cudnn7-runtime-ubuntu18.04,11.4.2-cudnn8-runtime-ubuntu20.04)x(python3.7,python3.8).  Provide these built images on the dockerhub, for example tag the scipy image as jupyter

[2021-11-03 11:38] zeehio commented on #1217
Following this issue, I changed the default from the classic jupyter notebooks view to the jupyterlab and some users started complaining about notebook rendering performance, and browser hanging.

Apparently related to:

-  https://github.com/jupyterlab/jupyterlab/issues/1639

Just for you to consider that performance issue as a potential blocker for the jupyter notebook deprecation

[2021-11-04 13:58] manics commented on #1493
It should be enough for the container to include `jupyterhub-singleuser` or equivalent:
https://github.com/jupyterhub/jupyterhub/blob/2.0.0rc2/singleuser/Dockerfile

[2021-11-04 14:32] consideRatio commented on #1493
https://github.com/jupyterhub/jupyterhub/blob/2.0.0rc2/singleuser/Dockerfile

I figure this is something we can close as a resolved question, it doesn't seem so relevant for this to be documented better in jupyter/docker-stacks project.

[2021-11-04 14:32] #1493 closed

[2021-11-04 14:37] consideRatio commented on #1509
While it would be a relevant feature for some users, I think that is out of scope of what we are able to maintain reliably in this project.

Due to that, I'm quite clear in my mind that this is something we shouldn't go for.

[2021-11-04 14:38] #1509 closed

[2021-11-04 15:37] ggaaooppeenngg commented on #1497
The environment variable maybe work at the build phase. You can use the dockerfile below to build an image with the custom user.
[code]

[2021-11-04 15:42] consideRatio commented on #1497
@sanketsarang you need to use the `start.sh` script, otherwise the logic to consider NB_USER won't matter. See https://github.com/jupyter/docker-stacks/blob/master/base-notebook/start.sh.

[2021-11-04 15:47] consideRatio commented on #1497
If you start a container with --user=root, and NB_USER=jovyan, it means the startup script will switch to the jovyan user after startup.

When you do `docker exec`, it will enter as the root user, because its a new session that is influenced by `--user=root`, but not by `NB_USER=jovyan` etc. So it sounds like you are reporting a failure for `jupyter notebook list` to list information about noteboo

[2021-11-06 12:11] krassowski commented on #1217
There was a lot of work on the performance, some released in 3.1 and 3.2, more coming to 4.0.

Which version of JupyterLab have you deployed? Was the slowdown specific to Firefox? Is it attributable to more notebooks opened, or is it also visible in RetroLab? We really need more real-world data to be able to address it.

[2021-11-08 08:59] maresb commented on #1478
Which are the files here that you care about? Is your home directory totally empty, like missing `.bashrc`? Or is it the `work` folder? I'm trying to understand what test cases we should write.

[2021-11-08 09:13] benz0li commented on #1478
Yes, the home directory is entirely empty if _bind mounted_ to `/home/{raw_username}`. As it exists, `! -e "/home/${NB_USER}"` is `TRUE`, thus nothing is copied from `/home/jovyan/` to `/home/${NB_USER}`.
ℹ️ `NB_USER` set to `{raw_username}`

It's the whole content of `/home/jovyan/` I care about.

[2021-11-08 09:32] benz0li commented on #1478
For jupyters [base-notebook](https://hub.docker.com/r/jupyter/base-notebook) this would takes care about

[code]

For my custom [jupyterlab image](https://gitlab.b-data.ch/jupyterlab/r/r-ver/container_registry) this would takes care about

[code]

Only for the initial/first startup and if the _mounted_ home directory at `/home/${NB_USER}` is empty.

[2021-11-09 12:17] tim-blackmore commented on #1035
I had this same problem today with Pycharm running in the background. Once Pycharm was closed I was able to use the token.

[2021-11-09 22:18] consideRatio opened #1517 "Make the start script fail loudly with an error where it makes sense"
This issue represents the following comments from another PR, so we can mark them as resolved without forgetting them.

https://github.com/jupyter/docker-stacks/pull/1512#discussion_r745520508
https://github.com/jupyter/docker-stacks/pull/1512#discussion_r745526275

[2021-11-09 23:27] maresb opened #1518 "Remove XDG_CACHE_HOME from start.sh sudo call"
This issue tracks [this comment](https://github.com/jupyter/docker-stacks/pull/1512#discussion_r746103918) as a TODO after #1512 is resolved.

[2021-11-10 00:03] maresb commented on #1478
@consideRatio the merge seems to have unintentionally caused this issue to be closed prematurely. (Probably I shouldn't have had "close #1478" in my description! :laughing:)

[2021-11-10 06:21] ellawang55 commented on #717
Hi I met the same issue, but I didn't use docker. Do you find the solution???

[2021-11-10 11:14] maresb opened #1520 "Failed write to /etc/passwd"
From @bilke:

[code]

[code]

_Originally posted by @bilke in https://github.com/jupyter/docker-stacks/pull/1512#discussion_r746462652_

[2021-11-10 11:28] maresb commented on #1520
Thanks @bilke for the quick report. We made some huge changes to `start.sh`, and  and unfortunately they had an unintended side affect.

We need to add some test cases for your scenario to avoid breaking this in the future.

Old code:
[code]

New code:
[code]

We switched from using `sed` on a temporary file to using `sed --inplace`, but unfortunately it seems that `sed --inplace` requires write p

[2021-11-10 12:35] maresb commented on #1520
@bilke, once the new image is built and uploaded the problem should be fixed. The false warnings are still present for the moment.

[2021-11-10 14:56] mathbunnyru commented on #1520
The new image is built and works as intended.
@maresb when you have time, please, get rid of false warnings and add the test for this case.

I will keep this issue open to not to forget to add a test case and fix the warnings.

[2021-11-11 08:25] bilke commented on #1520
I can confirm that the image is working again! Thanks a lot!

[2021-11-12 13:18] manics opened #1528 "Move environment setup from `start.sh` to ENTRYPOINT instead of CMD"
**What docker images this feature is applicable to?**

- `jupyter/base-notebook`
- Notebooks that use startup hooks to configure the environment

**What changes do you propose?**

Split `start-notebook.sh` or `start.sh` into a script that does the environment setup in an ENTRYPOINT, and a script that does the actual notebook startup in CMD.

Originally suggested in https://github.com/jupyterhub/ze

[2021-11-12 14:08] meeseeksmachine commented on #1528
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/pyspark-library-is-missing-from-jupyter-pyspark-notebook-when-running-with-jupyterhub-zero-to-jupyterhub-k8s/8450/6

[2021-11-12 17:19] Cally99 opened #1529 "Has anyone got the notebook working on EC2?"
I've been tinkering around with this repo for a few days. If I leave the web browser open when it's up and running I'll get failed to connect.
I'm on EC2 and connecting like so

11.22.22.22:8888/login?next=%2Ftree%3Ftoken%bighlongtoken

After a few refreshes I eventually see the home page and the work directory.
After about 20 mins of work and if I leave the browser unattended it fails to connect.

[2021-11-12 23:12] Bidek56 commented on #1529
Yes, I use it on EC2 all the time and it works just fine. Although I am connecting thru VPC, not using the public IP.
Jupyter notebooks use websockets, please check your browser dev tools for any connections issues.

[2021-11-15 11:14] CholoTook commented on #1494
Seems a fix is mentioned there!

https://github.com/IRkernel/repr/pull/144#event-5589475824
https://github.com/IRkernel/repr/issues/143

[2021-11-15 12:48] carlosefr opened #1530 "Latest scipy-notebook:lab-3.1.18 docker image actually contains lab 3.2.0"
The latest docker image for `jupyter/scipy-notebook:lab-3.1.18` does not contain Jupyter Lab 3.1.18, but 3.2.0. This is an issue if one needs to stay on 3.1.x for some reason.

**What docker image you are using?**

`jupyter/scipy-notebook:lab-3.1.18`, specifically `jupyter/scipy-notebook@sha256:4aa1a2cc3126d490c8c6a5505c534623176327ddafdba1efbb4ac52e8dd05e81`

**What complete docker command do you

[2021-11-15 12:54] mathbunnyru commented on #1034
This is fixed, in several hours new images will be uploaded.

[2021-11-15 12:54] #1034 closed

[2021-11-15 15:42] mathbunnyru commented on #1529
@Cally99 what you can do:
- run vanilla jupyter notebook on you server, not the docker images. If the issue still persists, unfortunately, the problem is not in our images.
- Try to understand what happens using logs - there might be connection errors, for example.
- Quite an important thing to do - choose EC2 instance somewhere nearby, it might not fully solve, but can significantly improve your

[2021-11-15 16:06] mathbunnyru opened #1532 "Improve logging in start.sh"
Possible future improvements (just a note for someone, who will want to improve our docker stacks):

1. Test `JUPYTER_DOCKER_STACKS_QUIET` env variable
2. Always add log_level like this: `_log "INFO" "my_message"
2. Based on log level color can be added
3. Exit on fatal errors (or maybe just errors)
4. Add timestamps, like INFO[2021-08-23 11:00:00.000000] my_message
5. Stop using bash, haha 👍

Bas

[2021-11-15 22:40] mathbunnyru commented on #1530
This is the corresponding build: https://github.com/jupyter/docker-stacks/runs/3915506220?check_suite_focus=true

Right now I have no ideas why this could have happened.

[2021-11-17 20:53] mathbunnyru commented on #1530
I think I know the reason for this.

Unfortunately, because of our complicated build system, we end up compiling images twice.
It's easy to see that pushing takes a lot of time.
Actually, the process looks like this:
1. Build.
2. Tag.
3. Push (but unfortunately, we also build here).

That's why we might end up in a situation like this.
I have checked both minimal and base images with the same tag.

[2021-11-17 20:59] mathbunnyru commented on #1530
@consideRatio any ideas, how to fix this?

I do actually have one, but I'm nor sure people will like it.
Do not build real multi-images.
Instead, use `-arm` suffix tag for arm based images.

This way, we will achieve many things simultaneously:
1. Faster build times - we can have two separate jobs, one for arm, another one for amd64.
2. Reducing complexity. Although we will have to add another typ

[2021-11-18 10:32] consideRatio commented on #1530
If we use a suffix, it should be `arm64` as `arm` often is used to represent arm32.

Hmmmm, it would absolutely reduce complexity quite significantly in this project, and that is important because it is shouldering a lot of complexity that is hard to maintain. At the same time, I know I'd have to do some work in jupyterhub/zero-to-jupyterhub-k8s to compensate if we have platform suffixes and such.

[2021-11-19 03:31] juskaiser opened #1536 "R version in notebook kernel is different than R version specified in image tag on M1 Mac"
**What docker image you are using?**
`jupyter/r-notebook:r-4.1.1`

**What complete docker command do you run to launch the container (omitting sensitive values)?**
`docker run -p 8888:8888 jupyter/r-notebook:r-4.1.1`

Running on an Apple MacBook Pro Laptop:
- `OS: 12.0.1`
- `Chip: Apple M1 Pro`

Docker version:  `Docker Desktop 4.2.0 (70708)`

**To Replicate**
1.  Run `docker run -p 8888:8888 jupy

[2021-11-20 12:57] mathbunnyru commented on #1536
@juskaiser the reason for this is explained in https://github.com/jupyter/docker-stacks/issues/1401

Unfortunately, there is no easy solution, but I hope one day our support for arm images will be much better than it is right now.
I will close this issue as a duplicate.

[2021-11-20 12:57] #1536 closed

[2021-11-21 09:50] 3-w-c commented on #358
Me (and [apparently ~237 other people](https://github.com/search?q=joyvan&type=code)) typoed this as `joyvan`, which is a huge foot-gun because Docker will happily create a `/home/joyvan` volume without error, and you'll only notice that data is not as persistent as you think it will be when the container restarts :see_no_evil:

If it's not, as I guess it is, *far* too late to change this, I think

[2021-11-24 12:47] rezan21 commented on #717
@ellawang55 try running on a different port: e.g:
`jupyter lab --port 7878`

[2021-11-26 10:15] mathbunnyru opened #1539 "Build is stuck for jupyter/scipy-notebook arm64 image"
There is a timeout and it happened several times already:
https://github.com/jupyter/docker-stacks/runs/4292319380?check_suite_focus=true

I think the reason might be in QEMU :(

[2021-11-26 10:15] mathbunnyru commented on #1539
I have tried to restart manually several times - still no luck.

[2021-11-26 10:17] mathbunnyru commented on #1539
Stuck command:
https://github.com/jupyter/docker-stacks/runs/4292319380?check_suite_focus=true#step:7:7814

[code]

[2021-11-26 12:54] consideRatio opened #1540 "ci maintenance: queue workflows or jobs with new GitHub workflow `concurrency` option?"
I think this GitHub workflow thingy can be really useful. It makes two workflows being triggered not run in parallell if they are within the same group. This will make us queue workflows in sequence.

[code]

This can also be applied to specific jobs, but not steps within jobs. This makes it even more valuable if we manage to split apart our build workflow into multiple separate jobs and then merg

[2021-11-29 07:31] tomron opened #1541 "Collaborative mode"
Following [collaborative mode](https://jupyterlab.readthedocs.io/en/stable/user/rtc.html) which was added to JupyterLab 3.1 I would like to run in a collaborative mode, i.e with `--collaborative`.

What would be the best way to do it?

[2021-11-29 19:33] metasim commented on #1183
@mathbunnyru You saved me hours!!

[2021-11-29 19:40] mathbunnyru commented on #1183
I'm glad to hear this :)
Good luck! 👍

[2021-12-02 17:23] mathbunnyru commented on #1541
We have NOTEBOOK_ARGS environment variable to be able to pass anything we want and not create specific options for everything.
Well, this variable is not documented at all (this is not good), but I think it should work perfectly well in your case.

https://github.com/jupyter/docker-stacks/blob/master/base-notebook/start-notebook.sh#L19

[2021-12-02 17:25] mathbunnyru commented on #1539
It seems this was caused with some upstream project and should be fixed now (I saw build was fine in one of PRs)

[2021-12-09 12:15] mathbunnyru commented on #1539
@consideRatio @minrk could you take a look please?
I do not have enough experience with qemu / arm to say what's going wrong.
We haven't been able to upload new images for 3 weeks already.

[2021-12-09 14:19] minrk commented on #1539
I don't have any information or insight, but if it's a problem, I'd say disable the arm64 builds and try to fix it by re-enabling them in a PR. That should unstick things for the most part and reduce pressure on working out what changed (apparently between 6e246ea4bbff1eb812b0520b01ab68a2a42b2dad and 92ce0af9989fb5ca8997f744c0718ba20dc70cd8 which had no changes for the failing image).

FWIW, here'

[2021-12-09 14:38] minrk commented on #1539
Actually comparing the [last successful](https://github.com/jupyter/docker-stacks/runs/4228004475?check_suite_focus=true#step:7:7934) and [first failed](https://github.com/jupyter/docker-stacks/runs/4277294764?check_suite_focus=true#step:7:685) build, it appears mamba was upgraded from 0.17 to 0.18. That seems very likely to be the cause, given that it's apparently a hang in mamba solve.

I'd try

[2021-12-10 12:24] mathbunnyru commented on #1539
Thanks @minrk!
I might have missed that :(

Created PR to try it out: https://github.com/jupyter/docker-stacks/pull/1545

[2021-12-15 10:23] #1520 closed

[2021-12-15 13:50] mathbunnyru commented on #1489
The wait is over. I will remove translations in a few days :)

[2021-12-15 14:04] #1541 closed

[2021-12-15 22:48] atong01 opened #1549 "Images are broken for M1 Mac Docker desktop >= 4.1.1"
M1 Mac running macOS 12.1 Docker for Mac 4.3.1 amd64 image. Current solutions are to use arm64 images or downgrade Docker for Mac to 4.0.1

I suspect this is something upstream so have filed an issue here: https://github.com/docker/for-mac/issues/6097
but posting here for others that may have the same issue.

**What docker image you are using?**

`jupyter/minimal-notebook` scipy-notebook also repr

[2021-12-16 10:26] mathbunnyru commented on #1549
I do agree that this looks like an upstream issue of one version worked fine and the newer one fails.
Let's wait for the answer in the docker project.

[2021-12-16 23:46] richtong commented on #1549
Sigh, they closed the bug as "best efforts only" how unsportsmanlike

[2021-12-17 22:53] massongit commented on #1549
The build of `datascience-notebook` for arm64 is failed in the following process to install the Julia packages:
https://github.com/jupyter/docker-stacks/blob/ace92d3c5f3e619b4d9c33add1d745ba324ae72c/datascience-notebook/Dockerfile#L99-L110

How about preparing a `datascience-notebook` without Julia like `datascience-notebook-without-julia` and supporting arm64 for it?

[2021-12-18 03:07] massongit opened #1551 "Add a multi-architecture stack based on datascience-notebook without Julia"
**What docker images this feature is applicable to?**

`jupyter/datascience-notebook`

**What changes do you propose?**

Add a multi-architecture stack based on `jupyter/datascience-notebook` without Julia.

**How does this change will affect users?**

Users who do not use Julia will be able to use `jupyter/datascience-notebook` on M1 Mac and latest Docker Desktop for Mac.

[2021-12-19 08:52] SauravMaheshkar opened #1552 "Broken link in docs [Community Stacks Section]"
In the [**Community Stacks Section**](https://jupyter-docker-stacks.readthedocs.io/en/latest/contributing/stacks.html#community-stacks) of the docs, in step 4, there's a link to **"list of community stacks"**

**What do you expect to happen?**

To be Redirected to a section/page where there are a list of community contributed stacks.

**What actually happens?**

I get the "This page doesn't exist"

[2021-12-20 07:19] johnwongapi opened #1553 "Missing r-notebook tag(r-3.6.3) in DockerHub"
**What docker image you are using?**

`jupyter/r-notebook`

**What do you expect to happen?**

I know there is a merged [PR](https://github.com/jupyter/docker-stacks/pull/1105) about upgrading R from 3.6.3 to 4.0.
But I expect the old tag should still exist in [DockerHub](https://hub.docker.com/r/jupyter/r-notebook/tags).

**What actually happens?**
I cannot find the r-3.6.3 tag in `jupyter/r-note

[2021-12-20 10:44] mathbunnyru commented on #1552
I also saw this broken link, though markdown seems to be correct.
It might be sphinx bug or I don't understand something.

[2021-12-20 10:49] mathbunnyru commented on #1553
This PR was merged `6 Jun 2020`.
We only had reliable and correct tagging for least than a year, that's why it's not there.
I suggest you choose the commit before the merge date and use this hash as a tag.
Or simply scroll several dockerhub pages till you get builds before `6 Jun 2020`.

Closing this issue, because now tags work quite well (for amd64 at least).

[2021-12-20 10:49] #1553 closed

[2021-12-22 07:57] uonxhou opened #1556 "sudo: account validation failure, is your account locked"
**What docker image you are using?**
jupyterhub/singleuser:1.3.0
I use this image as base image and add the following code in my Dockerfile.
[code]

**What complete docker command do you run to launch the container (omitting sensitive values)?**
i use kubespawner to start the container which i built from the above dockerfile

**What steps do you take once the container is running to reproduce the

[2021-12-22 08:12] uonxhou commented on #1556
@mathbunnyru Cloud you please help there?

[2021-12-22 12:57] mathbunnyru commented on #1556
Sorry, @uonxhou I know nothing about `jupyterhub/singleuser`.
Maybe the issue should belong to the project which owns this image?
I can't see how our project is related.

[2021-12-23 06:40] uonxhou commented on #1556
Hi @mathbunnyru.Sorry to bother you again.
But i found the base of `jupyterhub/singleuser` is `jupyter/base-notebook` that you maintain.
The only thing this `jupyterhub/singleuser` accomplishes is pinning the jupyterhub version on top of base-notebook.
So I want to ask you for help, I have been stuck on this problem for many days.
![image](https://user-images.githubusercontent.com/48987742/1471987

[2021-12-23 08:06] mathbunnyru commented on #1556
Tried to build your example, I'm getting another error. Please, check, that you haven't missed anything.

[code]

[2021-12-24 01:15] sdwalker62 opened #1557 "Small Change to Makefile to facilitate GPU Variants of Current Images"
Hello everyone! First, I just want to say that at work we almost exclusively use Jupyter as our data science platform and appreciate everything that the community and the Jupyter team has done to create such a wonderful tool!

I have searched through the current list of issues and pull requests open in this repository and have not found and that match this request so I am starting a new one. Apolo

[2021-12-28 22:24] ykazakov commented on #1530
This happens also for other images: `jupyter/minimal-notebook:hub-1.5.0` contains jupyterhub 2.0.0, not 1.5.0:

[code]

I wonder if this is because this image was pushed (and possibly built again) on 17 of December 2021, after jupyterhub 2.0.0 was released on conda. Looking at [docker commands for building the image](https://hub.docker.com/layers/jupyter/minimal-notebook/hub-1.5.0/images/sha256-c3

[2022-01-06 14:20] DankoPenko opened #1561 "Add jdk-dependency to datascience-notebook."
Hi, could someone please help me how should i edit the Dockerfile for the datascience-notebook [https://github.com/jupyter/docker-stacks/blob/master/datascience-notebook/Dockerfile](url) so that it will also have java-11 installed?

[2022-01-06 20:24] romainx commented on #1423
Hello @mbalduini and @mathbunnyru,

I have looked into this problem in more depth. The modification of the notebook output comes from one of the changes made in the release [`6.0.0` of ipykernel](https://github.com/ipython/ipykernel/releases/tag/6.0.0).

A subsequent [fix](https://github.com/ipython/ipykernel/pull/752) provides a way to restore the previous behavior.
The fix consists in disabling

[2022-01-07 15:03] mathbunnyru commented on #1423
@romainx nice!

I think we can try to add this file to pyspark image (it will also be included in all-spark).
I think these logs are noisy and everyone using spark sees them and they don't make a lot of sense, if everything goes right.

[2022-01-07 15:07] ykazakov commented on #1530
B.t.w., for the minimal image the lab version is also incorrect:

[code]

[2022-01-07 15:43] romainx commented on #1423
@mathbunnyru 👍
And in fact they still appear in the container logs even after this change.
I will draft a PR for that (this will be the opportunity to start my contributions here again 😄).

[2022-01-07 15:57] Bidek56 commented on #1561
Just copy these [lines](https://github.com/jupyter/docker-stacks/blob/11db461624b7b9f4e05e96d20a412da45a09839e/pyspark-notebook/Dockerfile#L25) from pyspark-notebook/Dockerfile

[2022-01-07 18:38] romainx commented on #1561
Thanks @Bidek56.
Nothing to add I'm closing the issue.

[2022-01-07 18:38] #1561 closed

[2022-01-07 22:30] Kino1994 opened #1563 "Spark Network:Too large frame"
Hi,

I was trying to consume data from Twitter API with tweepy and make Analysys and Aggregation of Data with Spark Streaming but I couldn't send data to Spark Host trought python socket, so I tried to make a more simple example and I found this problem:

My docker command is this with last image of spark-all-notebook running with Spark 3.2.0:

[code]

Once SparkSession is built, SparkUI is availa

[2022-01-08 09:52] romainx commented on #1563
Hello @Kino1994,

I'm not sure your problem as something to do with this stack. It sounds more like a Spark streaming usage problem in a specific context. Maybe you should ask this question on Stack Overflow.

Best.

[2022-01-09 08:33] romainx commented on #1552
Hello @SauravMaheshkar,

Thanks to have reported this issue 👍.
I've just made a the PR #1564 to fix it.

Best.

[2022-01-09 08:50] #1552 closed

[2022-01-09 08:55] #1423 closed

[2022-01-09 11:49] consideRatio commented on #1489
/cc: @choldgraf as a reference regarding the challenge of maintaining translations in open source projects as discussed on twitter (https://twitter.com/choldgraf/status/1479640310447624193).

[2022-01-09 14:39] Bidek56 commented on #1563
@Kino1994  Please check [SO](https://stackoverflow.com/) before posting, these issues have been addressed [already](https://stackoverflow.com/questions/53503668/apache-spark-scala-hive-insert-into-throwing-a-too-large-frame-error).

[2022-01-09 18:05] romainx commented on #1489
Ok for me, I could not say better 😄

[2022-01-09 20:46] #1489 closed

[2022-01-09 21:10] mathbunnyru commented on #1217
@romainx I think we can and probably should proceed with this issue and change the default.

Rationale:
- you're back :)
- it's been a long time - enough to switch to jupyterlab and update the extensions
- JupyterHub 2.0 switched to lab by default: (https://jupyterhub.readthedocs.io/en/stable/changelog.html#id3)
- repo2docker (and mybinder) use lab by default: https://mybinder.readthedocs.io/en/la

[2022-01-09 21:24] krassowski commented on #1217
I think that it is important to mention [Notebook v7 JEP](https://jupyter.org/enhancement-proposals/79-notebook-v7/notebook-v7.html) ([discussion](https://github.com/jupyter/enhancement-proposals/pull/79)) in this conversation: Jupyter Notebook is here to stay, it is just getting a modernization/rewrite to use JupyterLab components and superpowers but it will retain its layout and features.

[2022-01-12 01:06] droctothorpe commented on #1394
We figured out a solution and documented it in this PR: https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/2538. Closing this issue.

[2022-01-12 01:06] #1394 closed

[2022-01-12 23:33] agustingenoud commented on #1468
Hi all,
I've been testing the example and there's an incompatibility using the latest jupyter image because (today) installs Spark 3.2 version. Which is incompatible with delta lake ([link](https://docs.delta.io/latest/releases.html#-compatibility-with-as)). If you replace the first line of the Dockerfile with "FROM jupyter/pyspark-notebook:lab-3.1.18" build the image and run the example code ever

[2022-01-15 00:13] GuimFreitas commented on #1468
Hello, babies!
For 4 years consecutive I've watched this repo.

[2022-01-15 06:31] romainx commented on #1563
Hello I'm closing it since it seems to have nothing to do with the stack.
@Kino1994 do not hesitate to post a comment here if you think it's a problem on the stack.
Best.

[2022-01-15 06:31] #1563 closed

[2022-01-15 06:43] romainx commented on #1217
@mathbunnyru yes you're right I'm back 🤘
Thanks a lot for all of the valuable links. If you don't mind I will take some time to look at them 👀 in depth since the landscape is rich. I will comment back here.

[2022-01-17 13:12] drageset opened #1572 "Your base image ubuntu distro is vulnerable (CVE-2021-4122)"
We are using `jupyter/pyspark-notebook:spark-3.2.0` as the base for our jupyterlab image.

This vulnerability affects the image, and is considered "HIGH" effective severity by Google:

https://ubuntu.com/security/CVE-2021-4122

It appears that the OS distro used in your base image, Ubuntu Focal (20.04), contains a vulnerable version of `cryptsetup`. The vulnerability is fixed in cryptsetup 2.4.3 a

[2022-01-17 14:30] mathbunnyru commented on #1572
I've just checked this:
[code]

Then I check the list and there was no `cryptsetup` package.
I don't think it's present in docker images, that's why our images are not vulnerable.

Closing this issue.
@drageset please, feel free to reopen, if I missed something.

[2022-01-17 14:30] #1572 closed

[2022-01-17 21:35] romainx commented on #1217
Hello,

Just a short update after reading most of the implementations. I'm wondering if the best solution to switch back to classic notebook is not to follow what has been done on [binder](https://mybinder.readthedocs.io/en/latest/howto/user_interface.html#classic-notebook-interface): just indicate to use the URL `http(s)://<server:port>/tree/`.  So there is no need to add a new variable as I prop

[2022-01-18 17:27] mathbunnyru commented on #1217
Sorry, @romainx I didn't understand how you want to proceed :(

[2022-01-18 18:44] romainx commented on #1217
Sorry @mathbunnyru my bad.

Here is the initial plan updated with the new proposal.

- **With no option (no specific environment variable)**: JupyterLab is launched, the classic notebook remains accessible through this URL:  `http(s)://<server:port>/tree/`.
-  **With `JUPYTER_ENABLE_LAB`**: Same behavior as without option + a warning message informs that this option is no more required.
- ~~**With

[2022-01-18 20:16] romainx commented on #1217
@mathbunnyru you're right it was unclear. I mixed the two last steps of the plan. Forget that, it was not a good idea. I will propose something in a PR.

[2022-01-20 22:47] #1217 closed

[2022-01-21 12:11] mathbunnyru commented on #1529
I think the issue is resolved, because there was no message from @Cally99 .

[2022-01-21 12:11] #1529 closed

[2022-01-21 12:42] mathbunnyru commented on #1494
This fix seems to be merged, so closing this issue.

[2022-01-21 12:42] #1494 closed

[2022-01-21 13:05] CholoTook commented on #1494
Yup, I can confirm it works as expected now.

[2022-01-21 22:54] mathbunnyru commented on #1400
I have just checked and it seems to work well. I think, newer images will use newer versions on networkx and we hope we will not see this issue anymore.

[2022-01-21 22:54] #1400 closed

[2022-01-23 00:37] chengsh7 opened #1579 "base-notebook: Failed to build for python 3.6"
**What docker image you are using?**
`jupyter/base-notebook`
branch: master
(Note: all the tags and releases are missing, so I am using the master branch)

**What complete docker command do you run to launch the container (omitting sensitive values)?**
[code]

**What steps do you take once the container is running to reproduce the issue?**
Hit error during docker build
[code]

**What do you expect

[2022-01-23 09:20] consideRatio commented on #1579
It seems we require Python 3.9 which was a quite big step of lost support for Python versions, hmmm, can you reproduce this with Python 3.8 as well?

[2022-01-23 10:00] mathbunnyru commented on #1556
@uonxhou I will close this issue - didn't get a response from you.
Please, reopen, if you still have a problem and verify your example.

[2022-01-23 10:00] #1556 closed

[2022-01-23 10:06] mathbunnyru commented on #1549
I think it works now with Docker 4.4.2 🎉
I checked it on my M1 Mac with and without `-e DOCKER_STACKS_JUPYTER_CMD=notebook`.

So, i think, we can close this issue as resolved one.

[2022-01-23 10:06] #1549 closed

[2022-01-23 10:07] mathbunnyru commented on #1345
I don't need this anymore, and now I have all the permissions, so I will take a look if it's gonna be needed.

[2022-01-23 10:07] #1345 closed

[2022-01-23 10:07] mathbunnyru commented on #1356
We decided to get rid of translations.

[2022-01-23 10:07] #1356 closed

[2022-01-23 10:08] mathbunnyru commented on #827
We decided to not to translate our documentation - there was zero interest from the community, that's why I think we can close this issue.

[2022-01-23 10:08] #827 closed

[2022-01-23 10:13] mathbunnyru commented on #714
This question seem to be answered a long time ago.

[2022-01-23 10:33] mathbunnyru commented on #1495
@CholoTook could you check this out?
Seems to be exactly what you need.

https://github.com/kpe/jupyterlab-emacskeys

I will also tag this as an upstream because this is definitely not the goal of this project to implement custom key-bindings and either jupyter/3rd-party extension should work here.

[2022-01-23 10:36] #1435 closed

[2022-01-23 11:00] massongit commented on #1551
https://github.com/jupyter/docker-stacks/issues/1549#issuecomment-1019451833

So I close it.

[2022-01-23 11:00] #1551 closed

[2022-01-23 11:40] mathbunnyru commented on #1551
Yes, amd64 image should work fine.

[2022-01-24 16:15] mathbunnyru commented on #1495
Closing this, because this won't be implemented as a part of this project.
And the extension seems to already exist.

[2022-01-24 16:15] #1495 closed, assigned to nobody

[2022-01-24 16:17] mathbunnyru commented on #1071
@trallard may I ask you if you would like to continue working on this issue? :)

[2022-01-25 07:58] Shanduur opened #1582 "jupyter/r-notebook:r-4.1.2 uses r-3.6.3 instead r-4.1.2"
Hi! Thanks for using the Jupyter Docker Stacks.

Please answer the questions below to help us troubleshoot the problem. Please be as thorough as possible.

**What docker image you are using?**

`jupyter/r-notebook:r-4.1.2`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker compose up`

[code]

**What steps do you take once the container is ru

[2022-01-25 08:32] mathbunnyru commented on #1582
Are you running this on arm or under amd64?

[2022-01-25 09:18] Shanduur commented on #1582
@mathbunnyru arm64

[2022-01-25 10:53] mathbunnyru commented on #1582
Unfortunately, there's already an issue for this :(

https://github.com/jupyter/docker-stacks/issues/1401

I will close this one, so all the progress is tracked in one issue.

[2022-01-25 10:53] #1582 closed

[2022-01-25 11:10] mathbunnyru commented on #1401
@romainx if you have free time to dig into the most important issues, here is one of them.

This issue comes from the way we build images using `docker buildx` and how we tag them.
This scheme is over complicated and creates tons of problems for both users and maintainers.

What we can and probably should do - is to have our own arm native runners, get rid of dockerx, get much faster native builds

[2022-01-25 13:08] romainx commented on #1401
@mathbunnyru thank you for the heads-up, unfortunately I've not so much time to work on open source 😞. However, I will try to have a look this week. This will be an opportunity for me to refresh my memory 😄.

[2022-01-26 10:56] bgalvao commented on #885
I am struggling with this too. I have not yet set `user: root` out of principle.

[2022-01-26 21:16] trallard commented on #1071
Definitely - need to keep myself accountable and get this done. Been hanging for a while sorry

[2022-01-27 06:58] adrienpacifico commented on #1541
@mathbunnyru I have not been able to launch it with the `NOTEBOOK_ARGS` env variable.
I tried :
`docker run -it --network host -e JUPYTER_ENABLE_LAB=yes -e NOTEBOOK_ARGS="--collaborative"  jupyter/datascience-notebook:latest`

However, I made it work with :
`docker run --network host jupyter/datascience-notebook:latest start.sh jupyter lab --collaborative`

I think an `ENABLE_COLLABORATIVE` option

[2022-01-27 11:41] mathbunnyru commented on #1541
@adrienpacifico it works for me well.
Could you please make `docker pull jupyter/datascience-notebook` and check it once again?

If we copy one useful flag, then we will have to copy each of them, which is not maintainable at all.

[2022-01-27 14:54] adrienpacifico commented on #1541
@mathbunnyru , thank you! I indeed forgot to pull the latest image. It works now.

[2022-01-27 18:02] #1471 closed

[2022-01-28 11:25] trallard opened #1586 "[Documentation] - content and wording enhancements"
Hey folks - I started working on #1071 but as I was re-familiarising myself with the docs I noticed some places where some wording might be updated to make it easier to follow.

I am just opening this issue to give you a heads up that I will be opening a PR with some of these changes.

[2022-01-28 12:58] trallard commented on #1586
Asking for input: there are some instances in the docs where the word `whitelist` is used. I would be keen on replacing this with `welcome-list` or `allowlist` instead.

Thoughts?

[2022-01-28 15:10] mathbunnyru commented on #1586
I see only one place, actually:
[code]

If you want to, you can rewrite this, I don't mind merging it, so feel free to rewrite this - if it sounds nice and is understandable by other people, then I think it won't be a problem :)

[2022-01-28 16:24] rigzba21 commented on #1333
Linking https://github.com/jupyter/docker-stacks/issues/1497 here.

[2022-01-28 21:12] mathbunnyru commented on #675
There is a spellchecker for jupyterlab and the documentation is quite good about installing it, so I'm closing this issue.
https://github.com/jupyterlab-contrib/spellchecker

[2022-01-28 21:12] #675 closed

[2022-01-28 21:18] mathbunnyru commented on #813
I don't see a lot of activity here.
@vilhelmen please, if this topic is a lot of interest to you, create a PR where you enable man pages or reopen the issue.
Until then, I'm closing this issue.

[2022-01-28 21:18] #813 closed

[2022-01-28 21:22] mathbunnyru commented on #847
I think the installation process is quite well documented and the best thing to do here is to create a docker images base on base-notebook and install extension on top of it:
https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html#conda-environments
https://github.com/jupyterlab/jupyterlab-git#install

Closing this one, as this seems to be pretty old issue.

[2022-01-28 21:22] #847 closed

[2022-01-28 21:25] mathbunnyru commented on #1273
No response from @psychemedia, so I will close this issue.

[2022-01-28 21:25] #1273 closed

[2022-01-28 21:37] mathbunnyru commented on #1299
@JessicaBarh I have just run `trivy image --severity CRITICAL jupyter/datascience-notebook` (with latest image) and I don't see `libpdfbox-java` in the list of errors.
Could you please check, that the issue still persists?

[2022-01-28 21:45] mathbunnyru commented on #1579
I have checked even this with python 3.7 and it seems to work.
Please, try to update your environment.

@chengsh7, unfortunately, we won't be able to support python 3.6, because, as it was mentioned by @consideRatio, it has reached EOL (I think it basically means that anyone can stop supporting python 3.6 code).

[2022-01-28 21:45] #1579 closed

[2022-01-28 21:55] mathbunnyru commented on #1298
I have updated the docs to use python 3.7 (python 3.6 has reached EOL) and I confirm that I can see new kernel.
Please, check, if you still have a problem and reopen the issue and provide more details.

[2022-01-28 21:55] #1298 closed

[2022-01-29 09:12] #1586 closed

[2022-01-30 01:04] #1053 closed

[2022-01-30 14:54] davidvandebunte opened #1588 "The `help` command doesn't work in notebooks with the R interpreter"
**What docker image you are using?**

`jupyter/r-notebook` (and `jupyter/datascience-notebook`)

**What complete docker command do you run to launch the container (omitting sensitive values)?**

[code]

**What steps do you take once the container is running to reproduce the issue?**

1. `R` (to start the R interpreter)
2. Any `help` command

In detail:
[code]

**What do you expect to happen?**

Th

[2022-01-30 23:59] mathbunnyru commented on #1588
Yes, I think it's perfectly fine to add `less` to our image to make help work in `R`.

I would suggest adding it to `minimal-notebook` with a comment.
Having a test for this would also be nice, probably.

Could you draft a PR, please?

[2022-02-02 13:42] maresb commented on #1539
I wonder if [this code block](https://github.com/mathbunnyru/docker-stacks/blob/57156de45b35c88803810a6e854b42d72d765fc3/base-notebook/Dockerfile#L112-L122) is still necessary?

In case it is still required, perhaps we should report this upstream to mamba-org/mamba. They would probably like to know.

[2022-02-02 13:55] consideRatio commented on #1539
@maresb do you want to give it a test run by creating a PR and removing it - checking if our build gets stuck? I know mamba 0.20 was released quite recently.

[2022-02-03 13:06] trallard opened #1596 "[DOC] - Add FAQ"
Creating a new issue to make review - and follow through easier (Also I will be working on this 😉)

---

I think this is a good direction because we are frequently asked the same questions.

Several things are definitely worth adding in my opinion:
- why we do not add your favorite package :)
- issues we have with arm images and x86 also, related to our build process
- how to give root permissions

[2022-02-03 15:44] trallard opened #1597 "[DOC] - Broken hyphens in documentation"
Not related to the images but the documentation - hyphens seem to not be rendering properly. I thought it was as I was working on the docs but the published version also seems broken (see image below):

![https://jupyter-docker-stacks.readthedocs.io/en/latest/ - Home Page ](https://user-images.githubusercontent.com/23552331/152376237-2730364f-a4bb-444e-b706-036fd6ef0ff4.png)

**Checked on:**
- Bra

[2022-02-04 09:41] mathbunnyru commented on #1497
I think @consideRatio's explanation is good and there was no comment after that, so I'm closing this issue.

[2022-02-04 09:41] #1497 closed

[2022-02-04 12:46] trallard commented on #1407
Hey folks I would like to help with optimising the CI 😉

Also - on the matter of `arm64` it turns out that you can ask for permanent free-access to machines at https://github.com/WorksOnArm/equinix-metal-arm64-cluster it might be worth submitting a request

[2022-02-04 12:56] mathbunnyru commented on #1407
Wow, I didn't know about this project - I will submit a request in a few days, thank you!

[2022-02-04 13:00] mathbunnyru commented on #1110
Sometimes I do squash merging, but I'm actually fine wirth merges, so let's keep the way it is right now.

[2022-02-04 13:00] #1110 closed

[2022-02-04 13:25] mathbunnyru commented on #1407
So, I can share my vision to make this work.
And, to be honest I don't see another way.
And, actually, my solution requires one big change, but it will resolve around 5 huge issues at the same time.

1. Get native arm runners. This is a **must**.
   Without native runners, we end up building under QEMU, which means we have to wait much longer and to debug some strange arm under qemu behavior.
   W

[2022-02-04 13:32] #1588 closed

[2022-02-04 13:55] manics commented on #1407
@mathbunnyru what does `docker buildx` do in step 6? If you've already built and pushed the single arch images and just need a multiarch manifest you can use `docker manifest {create,push}` with the tags of those images. Since this is just a metadata operation it should be even faster than a cached build.
https://www.docker.com/blog/multi-arch-build-and-images-the-simple-way/

[2022-02-04 13:59] mathbunnyru commented on #1407
Thanks, I meant `docker run`. Added `docker manifest` to the step 7.

[2022-02-04 14:00] mathbunnyru commented on #1407
@manics what do you think about my proposal?

[2022-02-04 17:59] consideRatio commented on #1407
Quick note from mobile: native arm runners, i got them running on k8s cluster setup with raspberry computers. The downside..... You cant use the same actions etc you have used in a github workflow. Setup-python etc relies on cached versions in a amd64 maintained github ci environment that wont work on arm64. So, going arm64 native means abandoning typical actions we have relied on.

Imo, i'm more