[2019-11-11 20:15] Bidek56 commented on #947
I am able to run a single node Spark using Helm and the [PySpark image](https://github.com/jupyter/docker-stacks/tree/master/pyspark-notebook) on AKS/K8s but I think the preferred way to run Spark on K8s is to use the [operator](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator), which I believe has a [Helm chart](https://github.com/helm/charts/tree/master/incubator/sparkoperator) for i

[2019-11-12 15:38] skw1990 opened #962 "Cant pull image (pyspark)"
Hi! Thanks for using the Jupyter Docker Stacks.

Please review the following guidance about how to ask questions, contribute changes, or report bugs in the Docker images maintained here.

1. If you have a general question about using these Docker images or with Jupyter + Docker in general, please post your question in the [Jupyter Discourse Q&A section](https://discourse.jupyter.org/c/questions) s

[2019-11-12 23:31] Bidek56 commented on #962
This seems like a local Docker configuration issue. I am pulling and installing images all day long and it works just fine. Also if it was a true docker image pull issue, it does not belong here, it belong on a Docker hub forum.

[2019-11-13 15:25] skw1990 commented on #962
I have no issue downloading other images apart from this.....

[2019-11-14 20:18] Bidek56 commented on #962
In the example above you are showing 3 different images, which image are you trying to pull?

[2019-11-16 15:05] edurenye commented on #948
Looks like it was merged so we can close this issue. Thanks @gokgozf and @parente

[2019-11-16 15:05] #948 closed

[2019-11-16 19:23] MikaelUmaN opened #963 "Kernel Error with latest images on Win10 Docker for windows"
**What docker image you are using?**
latest images as of 2019-11-16:
- scipy
- datascience
- minimal

**What complete docker command do you run to launch the container (omitting sensitive values)?**

` docker run -p 8888:8888 -e JUPYTER_ENABLE_LAB=yes -v ${PWD}:/home/jovyan jupyter/scipy-notebook:latest`

**What steps do you take once the container is running to reproduce the issue?**

1. Go to ju

[2019-11-16 22:01] #949 closed

[2019-11-16 22:11] parente commented on #963
There was a recent change in Jupyter to ensure secure files are written with proper permissions. `-v ${PWD}:/home/jovyan` mounts the current working directory as the home directory within the container. It looks like the new `jupyter_client` code is unable to set the proper permissions on the volume mounted from Windows 10 by docker.

[2019-11-18 16:50] Bidek56 commented on #963
Windows 10 Docker file permission has been a mess for a while. You may need to:
1. Run the older image
2. Wait for WSL2 to come out
3. Sign up for Windows Insider edition.
Until then just stick with Linux :)

[2019-11-18 18:35] MikaelUmaN commented on #963
I’m using win 10 insider with WSL 2. Though not yet for Docker because WSL 2 seems too unstable right now. Just now I couldn’t open my Ubuntu.

I am running the old image for moment.

I’d much prefer Linux but at work I am kind of tied up unfortunately...

[2019-11-18 19:04] Bidek56 commented on #963
If you can run Win 10 insider at work, then you can probably run Virtualbox on Windows, which will allow you to run Linux, from there you can run a working Docker, but if you are going to go thru so much trouble, may as well just do a `pip install jupyter` in your local env. Good luck.

[2019-11-18 22:18] Bidek56 commented on #944
This seem to be a Dockerfile fix: `RUN conda install -c conda-forge --quiet -y arrow-cpp=0.12.* pyarrow`
But because of [Conda issue](https://github.com/conda/conda/issues/9367), PR won't build for now.

[2019-11-21 19:29] MikaelUmaN commented on #963
I cant run insider at work. That’s at home.

Regardless, given other images work fine as regards permissions and writing files, the solution is not to install virtual box but to fix this issue in the jupyter client.

I already have a local anaconda and jupyter installed. But I much prefer container based development and think these images are great.

[2019-11-24 15:51] shawngiese commented on #831
Argh, always hard to track issues on discord. You probably need to have a matching user in your cluster that has hdfs permissions.

[2019-11-25 05:28] justin3687 opened #964 "Mine"
Hi! Thanks for using the Jupyter Docker Stacks.

Please review the following guidance about how to ask questions, contribute changes, or report bugs in the Docker images maintained here.

1. If you have a general question about using these Docker images or with Jupyter + Docker in general, please post your question in the [Jupyter Discourse Q&A section](https://discourse.jupyter.org/c/questions) s

[2019-11-25 05:30] justin3687 commented on #964
Nb

[2019-12-01 22:22] mattsiler commented on #963
You could try adding this to the Docker file:
conda install -c anaconda jupyter_client=5.3.1

I think the issue you're facing might be the same one reported here:
https://stackoverflow.com/questions/58214911/kernel-error-jupyter-client-connect-py-assertionerror

I hit the kernel start error when I re-build my environment last week, and this fix seems to have worked for me.

[2019-12-05 04:22] dungdm93 opened #966 "pyspark: undefined symbol in pyarrow"
**What docker image you are using?**

`jupyter/pyspark-notebook`

**Steps**

[code]

The error say that:
[code]

[2019-12-06 18:01] Bidek56 commented on #966
Please see https://github.com/jupyter/docker-stacks/issues/944 for resolution but because of a Conda issue, PR won't build and the issue can not be resolved at this time.

[2019-12-07 10:06] mathbunnyru opened #968 "Shutdown the notebook from Running section"
**What docker image you are using?**

`jupyter/scipy-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -p 8888:8888 jupyter/scipy-notebook:latest`

**What steps do you take once the container is running to reproduce the issue?**

1. Visit http://127.0.0.1:8888
2. Start a Python Notebook
3. Save it
4. Go to Running section on th

[2019-12-09 05:21] ly3too opened #972 "cannot run with a public ip"
**What docker image you are using?**
 `jupyter/base-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

Example: `docker run -it --rm -p 8889:8888 jupyter/all-spark-notebook:latest`
 sudo docker run -dt --name=jupyter --restart=always -p 8866:8888 -v /home/jupyter:/home/jovyan jupyter/base-notebook jupyter notebook --ip 0.0.0.0 --port 8888 -

[2019-12-09 18:14] Bidek56 commented on #972
Although I am not familiar with nginx reverse proxy, I believe you need to look at your nginx config and notebook config. I use the `jupyter/pyspark-notebook` image on Azure AKS with ingress controller and it works just fine. In the past I had to modify these settings in the ` jupyter_notebook_config.py` file.

c.NotebookApp.tornado_settings

[2019-12-10 14:12] Bidek56 commented on #968
This is a [Jupyter issue](https://github.com/jupyter/notebook/issues/4867) fixed with [PR](https://github.com/jupyter/notebook/pull/4939) but not yet released. Please close this ticket.

[2019-12-10 14:31] mathbunnyru commented on #968
@Bidek56 thanks!

[2019-12-10 14:31] #968 closed

[2019-12-13 04:30] stevenstetzler opened #975 "Fall back on symlink if moving home directory fails with NB_USER is set"
I'm wondering if a change can be made to fall back on using a symlink when changing the name of the home directory in the docker container. The image to be changed would be `jupyter/base-notebook`, which would propagate along every other image to the one I am interested in `jupyter/scipy-notebook`.

When starting the container as root with the environment variable `NB_USER` set to something other

[2019-12-15 00:24] gsteele13 commented on #963
I had the same problem trying to deploy a Jupyterhub where the home directories were on an NFS mount (with squashed permissions):

[code]

Rollback to 5.3.1 got rid of the error. It would be good to have a fix for this.

[2019-12-16 18:00] yuriploc opened #976 "Downgrade Python from 3.7 to 3.6 or tag 3.6 version"
**What docker image you are using?**

`jupyter/scipy-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

 `docker run -it --rm -p 8889:8888 jupyter/scipy-notebook`

**What steps do you take once the container is running to reproduce the issue?**

Example:

1. Visit http://localhost:8888
2. Try to install `turicreate`: `!pip install turicreat

[2019-12-18 12:41] Bidek56 commented on #976
Can you use an older image that has Python 3.6 as a base?

[2019-12-18 19:50] yuriploc commented on #976
Thank you for the suggestion, @Bidek56.

The image `jupyter/scipy-notebook:7d427e7a4dde` from 2019-04-15 works fine for my use case.

[2019-12-18 19:50] #976 closed

[2019-12-22 06:43] ly3too commented on #972
Yes, I know that there must be something wrong with notebook config. but I dont know exactly what it is. I can access the notebook webpage and event edit and save file, but just cannot run the code.

Thanks

[2019-12-23 02:19] parente commented on #972
@ly3too Jupyter notebook relies on websocket connections for executing code. It sounds like the nginx configuration may be preventing those connections.

There's a community-contributed nginx configuration linked from https://jupyter-docker-stacks.readthedocs.io/en/latest/using/recipes.html#running-behind-a-nginx-proxy. Could you compare that config with your own, particularly the part that mentio

[2019-12-24 11:31] METAVar opened #978 "Enable jupyterlab-dash extension in jupyter lab"
Hi,

I am running jupyter/minimal-notebook:latest image with jubyter lab  enabled.
Currently i am trying to install  jupyterlab-dash extension using extension manager and i am able to install the package but when try to run script

[code]

I get error saying extenstion jupyterlab-dash not installed.

[2020-01-01 05:30] ly3too commented on #972
Thanks,
It indeed looks like the websockets problem. Since all /api/xxx got a 404.

[2020-01-03 04:24] xiaodaigh opened #979 "update datascience to Julia 1.3 or make available a few tags for different version of Julia?"
I am new to docker so which I can contribute, but I think changing the JULIA_VERSION to 1.3 worked for me.

[2020-01-03 22:02] kjfergu commented on #979
I've made the changes to `Dockerfile` that uses Julia 1.3.1 instead of 1.2.0. I'll upload it and submit a pull request.

[2020-01-06 11:57] shlomi-viz commented on #228
Thanks that helps 👍

[2020-01-10 15:54] mapsacosta commented on #625
@jakirkham can you please point me to your CentOS stacks? Would be of HUGE help!!

[2020-01-10 23:51] arghyakusumdas opened #984 "Key Not Found in store Error | Any help is appreciated"
$ docker run --rm -p 10000:8888 -e JUPYTER_ENABLE_LAB=yes -v "$PWD":/home/users/argo/MyDockerImages jupyter/datascience-notebook:9b06df75e445
Unable to find image 'jupyter/datascience-notebook:9b06df75e445' locally
Trying to pull repository registry.access.redhat.com/jupyter/datascience-notebook ...
Pulling repository registry.access.redhat.com/jupyter/datascience-notebook
Trying to pull repositor

[2020-01-12 16:58] lgautier commented on #941
Conda is generally quite behind rpy2 releases, and the images appear to be designed for conda.

I have created a jupyter image that does not use conda: https://github.com/rpy2/rpy2-docker

[2020-01-12 19:29] sourabhdattawad commented on #743
You need to download jar files (https://mvnrepository.com/artifact/org.apache.spark/spark-streaming-kafka-0-8-assembly_2.11) directly and place it under jovyan
Add reference inside the code
`import os
os.environ['PYSPARK_SUBMIT_ARGS'] = '--jars /home/jovyan/spark-streaming-kafka-0-8-assembly_2.11-2.0.0-preview.jar pyspark-shell'`

[2020-01-13 00:56] Bidek56 commented on #984
This is a Docker problem not an image problem. Have you moved your docker directory recently? Is your disk out of space? Please search for a solution on the web.

[2020-01-20 04:29] #972 closed

[2020-01-20 04:31] #923 closed

[2020-01-20 04:44] parente commented on #979
Updated in #980. Thanks!

[2020-01-20 04:44] #979 closed

[2020-01-20 04:45] parente commented on #978
I'm not familiar with the dash extension. Perhaps someone who is from the community can help here.

[2020-01-20 04:47] parente commented on #966
Thanks for reporting @dungdm93. I'm going to close this issue as a duplicate of #944.

[2020-01-20 04:47] #966 closed

[2020-01-20 04:49] parente commented on #975
@stevenstetzler Symlinking sounds like a reasonable fallback if mv fails. If you'd like to submit a PR, we can get it reviewed and tested to merge. Thanks!

[2020-01-20 04:51] parente commented on #932
I believe this issue has been addressed by @kronenpj's answer. Since the issue has been inactive for some time now I'm going to close it.

[2020-01-20 04:51] #932 closed

[2020-01-20 04:52] parente commented on #927
If this is still an issue, the upstream conda-forge `r-reshape2` package definition should be updated to require `r-stringi` if it is indeed a dependency. Then the stacks here should pick up that new `r-reshape2` package version for the fix.

[2020-01-20 04:54] parente commented on #956
There's a general Q&A section on https://discourse.jupyter.org/c/questions for cross-technology questions like this one to catch more attention from a broader community audience. You might try re-posting your question over there to see if someone with more experience in this topic can help.

[2020-01-20 04:56] parente commented on #921
Thanks for reporting. I'm going to close this as a dupe of #944. I know this issue was reported first, but #944 has more detail about a workaround.

[2020-01-20 04:56] #921 closed

[2020-01-21 04:57] jaskiratr commented on #963
@mattsiler I ran in same issue. Confirming that adding `conda install -c anaconda jupyter_client=5.3.1` to Dockerfile fixes it for the moment. Thanks!

[2020-01-21 09:52] Dmitry1987 opened #987 "Customizing single-user notebook images"
Hello,
I configured a dockerspawner installation, and wanted to modify the image which I used (for example instead of using this one "jupyter/base-notebook", I tried to base mine on standard Python3.6 image, and just add stuff to it). So I want to ask what is the correct way of building a custom image like the ones in this repo - but based on another Python version?  also it will have only our own

[2020-01-21 18:13] Dmitry1987 commented on #987
omg solved this, the 'tini' installed with pip, is not good, has no 'tini' binary, but a py file. reinstalled with apt, and it works now.

[2020-01-21 18:13] #987 closed

[2020-01-22 05:59] velaraptor opened #988 "Current Base-Notebook Image does not have pip"
Noticed that pip will not work with latest image [7f696fe2cb4e](https://hub.docker.com/layers/jupyter/base-notebook/latest/images/sha256-7f696fe2cb4ee581262c8c053831188efbe048751bd8e7f0e2011cae41ec555c)

This Fix will work

[code]

[2020-01-23 07:13] consideRatio commented on #988
I've looked through this in depth, it seems like it should have if i rebuild it without cache. I don't know what have happened, but it ended up without pip for some reason but doesn't if i build the Dockerimage locally.

Can we trigger a rebuild without cache?

[2020-01-23 11:49] shingo78 commented on #988
I tried to build locally without cache, but the built image does not have pip.
Looking at the build logs, I found that `conda update` removed pip.

[code]
The problem seems to be in conda.
If I update Miniconda to 4.7.12 and rebuild, pip is available.

[2020-01-23 16:10] #988 closed

[2020-01-24 15:16] archienorman11 commented on #976
Is it possible to run the most recent image with `python3.6`? (There are some Jupyter features I require that are not available in `jupyter/scipy-notebook:7d427e7a4dde`)

[2020-01-25 15:15] sgbiskup opened #990 "Fail to get yarn configuration"
Hi

I'm dealing with a problem which is logged as 'Fail to get yarn configuration'.
It is related to Extension Manager which can't load a list of installed extensions, neither install new extensions (tested from a terminal).
Moreover, when I try to check nodejs and npm installed versions I receive below results
[code]

What is strange is that docker container run locally doesn't generate such erro

[2020-01-26 06:55] matthewbegun commented on #927
Not sure if I should put this here or start a new issue - I get the same error trying to load `tidyverse`. Happy to open a new issue or raise upstream, but it does seem unlikely they would have their dependencies wrong?

[2020-01-26 14:30] maresb opened #992 "scipy-notebook DockerHub image not updating"
Hi, I just noticed that `scipy-notebook` hasn't been [built on DockerHub](https://hub.docker.com/r/jupyter/scipy-notebook/builds) for almost 2 months.  This is although the Dockerfile was [updated 5 days ago](https://github.com/jupyter/docker-stacks/commit/75519a57515ae04e8f66d22f26f9511c1fdb5591#diff-ce4141738e05cf3732ff298c1955b6ce).  The [Dockerfile on DockerHub](https://hub.docker.com/r/jupyte

[2020-01-27 04:56] rahulpshah commented on #978
@METAVar Can you post the output of `jupyter labextension list`, this will help to understand whether your extension was actually installed.

[2020-01-27 13:13] Bidek56 commented on #992
It seems that none of the images have been build on DockerHub for the last 2 months.
@parente would you know what's going on? Thanks

[2020-01-27 16:37] maresb commented on #992
@Bidek56, note that `base-notebook` was [built 3 days ago](https://hub.docker.com/r/jupyter/base-notebook/builds).

[2020-01-27 17:37] dz-s commented on #743
@sourabhdattawad It works! Thanks.

[2020-01-27 20:18] parente commented on #992
Looks like downstream image builds broke without raising an explicit error from Docker Hub after the 2019-12-02 build. I'll have a look at the config tonight to see what regressed.

[2020-01-27 20:30] parente commented on #992
The cross-repository trigger hostname supported by Docker apparently changed from cloud.docker.com to hub.docker.com. I've adjusted the hostname in the build configs on Docker Hub and kicked off a new build of base-notebook. I'll close this after confirming the other builds triggered in proper sequence.

Thanks for raising the issue @maresb and @Bidek56.

[2020-01-28 02:11] parente commented on #992
Everything is built or in in-progress building. I think this is safe to close.

[2020-01-28 02:11] #992 closed

[2020-01-28 12:59] meeseeksmachine commented on #992
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/docker-stacks-latest-jupyter-datascience-notebook-image-is-not-up-to-date/3167/2

[2020-01-29 07:59] sgbiskup commented on #990
Actually problem solved by the latest build from dockerhub

jupyter/all-spark-notebook:437f1ef92733

[2020-01-29 07:59] #990 closed

[2020-01-29 14:04] mudinet opened #996 "how can i run jupyter/all-spark-notebook to existing Spark/mesos/hadoop cluster ?"
Hi! Thanks for using the Jupyter Docker Stacks.

Please review the following guidance about how to ask questions, contribute changes, or report bugs in the Docker images maintained here.

1. If you have a general question about using these Docker images or with Jupyter + Docker in general, please post your question in the [Jupyter Discourse Q&A section](https://discourse.jupyter.org/c/questions) s

[2020-01-30 02:46] raybellwaves opened #999 "Feature request: dask lab extension in scipy-notebook"
I'm not sure if this is the place to ask this. I can move it to the discourse channel if you prefer https://discourse.jupyter.org/

Is it worth adding the dask lab extension to the scipy-notebook docker file (https://github.com/jupyter/docker-stacks/blob/master/scipy-notebook/Dockerfile#L52_? https://github.com/dask/dask-labextension

I understand this may be too bespoke and therefore would not fi

[2020-01-30 03:36] parente commented on #999
We generally prefer adding [recipes in the documentation](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/recipes.html) over installing new packages in the images to avoid forever increasing the size of the docker images and maintenance burden of this repository. We'd be happy to review and merge a [recipe pull request](https://jupyter-docker-stacks.readthedocs.io/en/latest/contributi

[2020-01-30 04:25] raybellwaves commented on #999
Will do and we can discuss further. Thanks.

[2020-01-31 10:32] terzieff commented on #927
Also happens for me, probably linked to a release/update from the last ~7 days, since it was okay last Friday. Using `jupyter/r-notebook:latest` image.

[code]

[2020-01-31 13:25] parente commented on #927
In the conda-forge recipes:

* `r-reshape2` lists `r-stringr` as a dependency: https://github.com/conda-forge/r-reshape2-feedstock/blob/master/recipe/meta.yaml#L45
* `r-stringr` lists `r-stringi` as a dependency: https://github.com/conda-forge/r-stringr-feedstock/blob/master/recipe/meta.yaml#L39
* `r-stringi` package is currently broken, missing the same .so listed above: https://github.com/conda-

[2020-01-31 16:51] dmpe commented on #927
Alternatively, much more prefered, would be to include stringi in all images. That would also help people like me behind firewall :)

[2020-02-05 07:54] danst0 opened #1002 "Docker jupyter-tensorflow not functional"
Hi,

since two days I try to get the tensorflow-notebook running. My minimal non-working example looks like this.

`docker run -it --rm jupyter/tensorflow-notebook python -c "print('Hel');import tensorflow as tf; print(tf.reduce_sum(tf.random.normal( [1000,1000])));print('lo')"`

As a result I get
`Hel`

Using it in other situations it seems that the import statement is causing an error (without e

[2020-02-05 11:28] maresb commented on #1002
Strange, I get the following:

[code]

[2020-02-06 13:50] ainiml opened #1003 "datascience-notebook needs to chown -R /home/jovyan to uid 1000 as root before starting"
PermissionError: [Errno 13] Permission denied: '/home/jovyan/.local'

This is even starting the Deployment as root `0`

Note: new-longhorn-volume was remounted to `/home/jovyan/volume`, in order to start

[code]

**What docker image you are using?**

`jupyter/datascience-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -v new-

[2020-02-07 22:45] dmpe commented on #775
Just for your information. My largest images, which I currently have to offer to my businesses, is now almost 9 GB.
I use data science image and because jupyterlab plugins take also quite a lot of space, the image has grown quite a bit.
Well, those enterprises...

[2020-02-08 15:42] parente commented on #1002
Best guess: likely a consequence of the pip installed, newer version of tensorflow no longer working by chance with the conda installed supporting libraries from conda-forge.

Possible fixes:

- Contribute to https://github.com/conda-forge/tensorflow-feedstock so that it installs the latest version of tensorflow
- ...

[2020-02-08 19:27] romainx commented on #1003
Hello,

There is already an option documented to handle this case. It is described in the [Docker Options](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html#docker-options) section of the documentation.

To fix this kind of problem, you can simply run the notebook with the following options: `-e CHOWN_HOME=yes -e CHOWN_HOME_OPTS='-R'`.

I have reproduced the case and fixed i

[2020-02-08 20:00] romainx commented on #929
Hello,

I've just run the `all-spark-notebook:latest` as you describe.

[code]

Then I've started a `R` notebook and typed the following `ggplot2` example:

[code]

And here is the output.
Could you please retry -- I know that the R packages have recently been updated on this stack?

<img width="513" alt="Untitled_-_Jupyter_Notebook" src="https://user-images.githubusercontent.com/7131913/74091251-

[2020-02-08 20:14] romainx commented on #945
Hello,

To be able to run Spark with an external cluster you have to use exactly the same versions on both driver (the Jupyter notebook) and the cluster.

According to the error message, I think it's the cause of the problem.
You seem to use a Spark `2.4.3` in your cluster (`docker-compose`) please check that the version is the same in the notebook. At this time the version used is `2.4.4`.

[code

[2020-02-09 05:24] romainx commented on #996
Hello,

There is [an entry](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/recipes.html#use-jupyter-all-spark-notebooks-with-an-existing-spark-yarn-cluster) on the documentation about this setup. However it will not be easy since we will have to use the same versions of Spark and Python to make it work. See #945 for an example of the issues you may face.

I think one of the best way

[2020-02-09 05:52] romainx commented on #927
Hi,

The R stack has been updated recently in the PR #1000 and the library can be loaded.
My guess is that there was an incompatibility between the latest system lib and the previous R version `3.6.1`, now the `3.6.2` is deployed.

[code]

So could you please give it a try?

However regarding the `reshape2` case it **is now deprecated** and you should switch to `tidyr` (that is also available in t

[2020-02-09 06:02] romainx commented on #904
Hello,

We have recently updated the R stack (PR #1000 ).

I've made a try with the latest version of the scipy-notebook and it's OK .

[code]

Best

[2020-02-09 21:46] parente commented on #904
I think @romainx has shown this issue is fixed in the latest images. I’m going to close the issue. Please file another if you still see the problem locally.

[2020-02-09 21:46] #904 closed

[2020-02-12 01:27] Defunctionalize commented on #332
oh my god.  I've spent months on this.  I was sure the problem was some combination of Docker for Windows and using WSL (and then later in desperation WSL2) to interface with the containers.

Nope.  just spelled it wrong.   I hope someone finds this comment and judges me.

[2020-02-13 08:14] romainx commented on #892
Hello,

I think this problem is related to the version of `conda` see https://github.com/conda/conda/issues/8831. Some comments say that it should be fixed with the version `4.7.10`.

Latest versions of the notebooks use the conda version `4.7.12`.

I've tried on my side and it works fine.

[code]

The version `1.18.1` is the latest available on conda-forge at the time of writing.

[code]
if every

[2020-02-13 18:03] jlphillipsphd opened #1012 "datascience-notebook: newer images generate " Illegal instruction (core dumped)" when importing sympy"
`docker pull jupyter/datascience-notebook:9f4983c5d1f3`
`docker run -it --rm --name temp jupyter/datascience-notebook:9f4983c5d1f3`
in other terminal:
`docker exec -it temp /bin/bash`
Inside the container:
[code]

Expected behavior: importing sympy should not cause a core dump, and allow additional code execution
(Note: the kernel dies within the notebook environment as well when importing sympy)

[2020-02-13 18:44] jlphillipsphd commented on #1012
Just to follow-up, sympy doesn't have these problems on the host system:
[code]

[2020-02-13 19:54] romainx commented on #1012
Hello,

Thank you for submitting this issue with all the necessary information to reproduce the problem.
However it's weird since with exactly the same procedure (just changed added the `-it` option in the command `docker exec -it temp /bin/bash`) and obviously the same image tag I'm not able to reproduce it.

[code]

So you must be right it could be related to the host hardware. By googling aroun

[2020-02-13 20:40] jlphillipsphd commented on #1012
Thanks for trying this out.
Thanks for following-up. I edited my comment above to include the -it option (which I was indeed using myself when I ran the command).

I am going to start looking for where in the stacks get python 3.7.6 and see if that's the culprit and why... might just have to build the stack myself if AVX2 is now a requirement since I doubt anyone will have mercy on my (now taken t

[2020-02-13 22:46] jlphillipsphd commented on #1012
I tried pulling the latest scipy-notebook and had the same issue, so it's not particularly the datascience-notebook (which makes sense: it's based off of scipy-notebook). However, there is no sympy prior to scipy-notebook.

Given this, I pulled the Dockerfile from the current master branch for both scipy-notebook and datascience-notebook and then used them to build them both locally. After that, I

[2020-02-13 23:20] jlphillipsphd commented on #1012
Backtrace (using GDB) from the "Illegal instruction (core dumped)" error attached.
[backtrace_info.txt](https://github.com/jupyter/docker-stacks/files/4201910/backtrace_info.txt)

[2020-02-14 11:47] danlester commented on #990
I find something similar, and even in the latest (2fd856878b83) build of minimal-notebook I have to upgrade conda before the node problems go away.

E.g. for:
`jupyter labextension install @jupyter-widgets/jupyterlab-manager`

I see:
[code]

Running any conda command I get the upgrade notice:

Once I run that, the earlier command now works correctly and the JupyterLab build runs.

[2020-02-14 19:48] jlphillipsphd commented on #1012
At this point, it seems that there is some kind of autodetection or autoconfiguration having to do with building libgmp/gmpy2 that causes the stack to have these illegal instructions on certain hardware.

For a docker container, I realize that certain hardware may just be too obsolete to be supported, but I didn't think my hardware was quite that bad yet: just my opinion :) Therefore, in order to

[2020-02-14 20:45] step21 commented on #899
First two images (based on berryconda) are functional now. https://github.com/step21/raspi-jupyter-docker-stacks
Currently only base-notebook and minimal-notebook.

[2020-02-15 07:28] romainx commented on #1012
Very interesting feedback, it definitively makes sense.

I'm not a maintainer nor a specialist of this topic, so I cannot answer to your question however it's always better to master and define the supported hardware configuration instead of simply relying on the build infrastructure hardware configuration.

[2020-02-15 14:27] chrisroat commented on #885
Browsing the web, this seems like a very common issue.  Most likely it is because the third example on the [docs homepage](https://jupyter-docker-stacks.readthedocs.io/en/latest/) specifies using -v without dealing with any of the permissions issues.

If that example doesn't work for most people out of the box, and the root user workarounds are not ideal for many people, should the example be remo

[2020-02-15 15:14] jlphillipsphd commented on #1012
Thanks for the feedback @romainx

OK, I'll start looking into this then. The general plan will be to configure a fork which I will use to build on docker hub, and use that fork to isolate the change required to remedy the issue on my hardware. This will eventually lead to a PR that I can provide which should fix the issue (for my hardware at least).

This will mean ensuring that this change meets

[2020-02-15 16:50] gbrault opened #1014 "Why freezing the libs version?"
Hello,
you choose to "freeze" some of the package there
[docker file lib definition](https://github.com/jupyter/docker-stacks/blob/437f1ef92733ecdb34814a28af38484acc02cd1a/scipy-notebook/Dockerfile#L18)

do you have a particular reason not to let conda do the job?

pandas is now 1.0.1 and 0.25 is a quater older...

Do you plan something to improve that?

[2020-02-15 20:30] ChristophSchranz opened #1015 "feature request: Dynamic generation of Dockerfile with CUDA base image and this toolstack"
Hi guys,

I really enjoy this great maintained docker stack which I use for ML-projects. I've worked on replacing the base image by a GPU-ready image, here `nvidia/cuda:10.X-base-ubuntu18.04`, such that I can run my PyTorch (and Tensorflow) in Jupyter.

A tutorial was written on [medium](https://medium.com/@christoph.schranz/set-up-your-own-gpu-based-jupyterlab-e0d45fcacf43) that explains the set

[2020-02-15 21:06] mjablonski-hive opened #1016 "No pyspark in jupyter/pyspark-notebook"
**What docker image you are using?**

`jupyter/pyspark-notebook`

**What complete docker command do you run to launch the container?**

`docker run -p 8888:8888 jupyter/pyspark-notebook`

**What steps do you take once the container is running to reproduce the issue?**

1. Visit http://localhost:8888
2. Start a python3 notebook
3.  type `import pyspark`

**What do you expect to happen?**

Import py

[2020-02-15 23:11] maresb commented on #1015
I'm not a docker-stacks maintainer, but this looks like a really cool project!  Thanks for doing this.

This makes me wonder: is there is some list of projects like this which are based off of the Jupyter Docker stacks?  That could be really useful.

By the way, I think you can greatly simplify your procedure.  Rather than concatenating all the other Dockerfiles like you're currently doing from yo

[2020-02-16 09:03] romainx commented on #1016
Hello,

Sorry it's a bug introduced in a recent the PR #1007 , `PYTHONPATH` was broken.
It has been fixed in PR 1017 and a test has been added to avoid this in the future.

So you can pull the last version (`jupyter/pyspark-notebook:31b807ec9e83`) it's fixed.

Sorry for the inconvenience.

[2020-02-16 16:59] ChristophSchranz commented on #1015
Thanks @maresb !
I have though about that solution, and now tested also yours. Your solutions leads to this message:
[code]
and the container crashes on my system immediately after the start. I guess that the recursive pull till the BASE_IMAGE does not work as expected. Maybe, you have more luck!

By the way, I've set the issues on the fork on.

[2020-02-16 17:47] mjablonski-hive commented on #1016
Works, thanks!

[2020-02-16 17:47] #1016 closed

[2020-02-17 20:45] jlphillipsphd commented on #1012
OK, so I forked docker-stacks/master and made a public Docker Hub repo of my own using the fork to build scipy-notebook only (just configured the repo to build from the /scipy-notebook/ subdirectory). I *never* used my machine for any part of this process. Then I pulled the image that was built on Docker Hub for testing:
[code]
Then in another shell...
[code]
The import was successful and ran with

[2020-02-19 17:16] jiwidi opened #1019 "Possible docker image for raspberry pis"
Hi!

I was working recently with some Docker images for jupyterlab to run in raspberry pis and I was wondering if an image like that one could be worth including in this notebook or if its of value for the Jupyter team.  I will very happy to work towards a contribution for this but first want to check wether there is value for it.

Thanks!

[2020-02-20 04:45] jlphillipsphd commented on #1012
I guess the bug has been resolved by some other change. Today I pulled the latest datascience-notebook and had no issues with sympy any longer...

[2020-02-20 04:45] #1012 closed

[2020-02-20 09:27] ChristophSchranz commented on #1015
Yes, the discussion should be continued in #1001

[2020-02-20 09:27] #1015 closed

[2020-02-20 11:31] amarandon commented on #638
I second @alshabib's comment.

In our case having `$CONDA_DIR` writable is annoying because it allows users to install packages globally. Then when they restart their container they don't understand why their packages are gone! In fact in our own image the first thing we do is to undo what fix-permissions has done to `$CONDA_DIR`. This forces users to install with `pip install --user` or to  use v

[2020-02-22 14:56] parente commented on #1019
@jiwidi Thanks for your interest in extending the Jupyter ecosystem. https://github.com/jupyter/docker-stacks/issues/899 has some discussion and movement toward supporting rpi images as community-maintained docker stacks. Perhaps you'd be interested in contributing to that effort?

[2020-02-22 15:13] jiwidi commented on #899
Hi! I've been referred to this issue as I was working towards a contribution for rpi jupyter images. I have a working image for jupyter lab atm. I think we could join forces into a single PR and standardize jupyter images for arm. What do you think @step21 ? :blush:

My current lab image https://github.com/jiwidi/jupyter-lab-docker-rpi

[2020-02-22 15:14] jiwidi commented on #1019
I think its a good idea if we both join forces, I left him a comment and lets see how it goes :)

Thanks for the referal!

[2020-02-23 16:51] step21 commented on #899
Hi, thanks for commenting and your work. Please take a look at my images. You will see that they mirror the official ones as close as possible. I also first just used a general one like you or that someone else made, but abandoned it. As I see it, just running basic jupyterhub/lab is not a problem most of the time. More problematic is getting a full installation with everything built in and differ

[2020-02-25 08:17] maresb commented on #1015
To answer my own question from above:

there are the [Community Stacks](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/selecting.html#community-stacks).

[2020-02-26 20:40] romainx commented on #1014
A quote from the documentation bringing a part of the answer.

In the PR #1024 it's a draft of a test permitting to check outdated packages in order to update them.

Here is the raw (including dependencies) list of outdated packages in `scipy-notebook`

[code]

A last word about `pandas` the `1.0` version last from the 30-Jan-2020. Less than 1 month, not so bad :sweat_smile:

You can submit a pull

[2020-02-26 20:43] romainx commented on #929
@galenbancroft could you please check if it's OK for you and close the issue if it's the case?
Many thanks

[2020-02-26 20:58] romainx commented on #608
Maybe this quote from the [Docker Security guide](https://docs.docker.com/engine/security/userns-remap/) could be a good justification for the warning on the documentation.

I can manage to quote it in the documentation if it makes sense.

[2020-02-27 01:15] avatsaev commented on #408
I'm running jhub in kubernetes, how in the hell do I run sudo inside the single user container, I need to install some native libs, why is it so difficult? I searched 3 pages of google results and nothing, just tell me what is the password for the user jovyan?

[2020-02-27 21:48] mpmdean commented on #955
I strongly agree and would this to start this process

[2020-02-27 22:03] romainx commented on #1014
For information just submitted a PR to bump the version of packages in `scipy-notebook` ->  #1030.

Best

[2020-02-28 04:32] romainx commented on #608
I've just submitted the PR  #1031. If everyone agree once merged, we could close this issue.

Best.

[2020-02-28 04:51] romainx commented on #944
The version of `pyarrow` has been updated to `0.16` in the latest `pyspark-notebook` [version](https://github.com/jupyter/docker-stacks/wiki/pyspark-notebook-94fdd01b492f).

[code]

So if everyone agree, we could close this issue.

However, and more generally I will work on a way to avoid this kind of issues in the future by improving the tests.

Best

[2020-02-28 05:02] romainx commented on #941
The latest version available and used in notebooks is now `3.1` which is still behind the latest version available on Pypi `3.2.6`. IMO to be consistent with other packages it could be better to ensure that https://github.com/conda-forge/rpy2-feedstock is up-to-date. The [PR #46](https://github.com/conda-forge/rpy2-feedstock/pull/46) intended to publish the version `3.2.6` seems to encounter issue

[2020-02-28 09:09] gbrault commented on #1014
Many thanks!

[2020-02-28 09:09] #1014 closed

[2020-02-28 19:43] romainx commented on #1014
You're welcome 😄
Updated stack is available see [manifest}(https://github.com/jupyter/docker-stacks/wiki/scipy-notebook-678ada768ab1).

[code]
Best

[2020-03-01 13:50] Hugo54x opened #1032 "ROCm Support?"
Is there already ROCm Support for AMD Graphic Cards?

https://github.com/RadeonOpenCompute/ROCm

Would be very nice to have if it is not already present.

[2020-03-03 18:05] wingedrasengan927 commented on #885
This is working for me. Thanks!

[2020-03-05 13:09] ddobrinskiy opened #1034 "NOTEBOOK_ARGS passed to image, but has no effect"
**What docker image you are using?**

`jupyter/minimal-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -p 8888:8888 -e JUPYTER_ENABLE_LAB=yes -e NOTEBOOK_ARGS="--NotebookApp.token='' " jupyter/minimal-notebook`

**What steps do you take once the container is running to reproduce the issue?**

Example:

1. `docker ps` to get i

[2020-03-05 13:39] Hugo54x commented on #1034
Maybe try this:
`docker run -p 8888:8888 -e JUPYTER_ENABLE_LAB=yes jupyter/minimal-notebook start-notebook.sh --NotebookApp.token=''`

[2020-03-05 14:32] ddobrinskiy commented on #1034
@Hugo54x thanks, however another problem now pops up.

**Good news:** running `docker run -p 8888:8888 -e JUPYTER_ENABLE_LAB=yes jupyter/minimal-notebook start-notebook.sh --NotebookApp.token=\'\'`  disables authentication (as wanted)

**Bad news:** jupyter now does not show a link to localhost.
[code]

Since I am using this to distribute my notebook to users not familiar with notebooks, explainin

[2020-03-05 16:13] Hugo54x commented on #1034
The JupyterLab runs only local, if not otherwise specified.
I don't know what you wan't to do. But to tell them to start their Docker Container and then connect to `localhost:8888` seems quiet simple :)
If you want to share it across an network, there are some more steps to do.

Consider this Guide: [https://jupyter-notebook.readthedocs.io/en/stable/public_server.html](url)

And there are more com

[2020-03-05 17:07] romainx commented on #608
Hello,

PR #1031 merged. If everyone agree we can close this issue 😄

[2020-03-05 18:30] profbbrown commented on #1034
I wanted to chime in and post what I've noticed today.

I launch base-notebook with the following command:

    docker run -p 8888:8888 jupyter/base-notebook

It gives me a URL to connect to the notebook. I use the one that looks like: `http://127.0.0.1:8888/?token=a4405d51cde6c...`

Until today, it worked beautifully. But this morning I discovered that it now rejects the token and send me to the

[2020-03-05 18:39] profbbrown opened #1035 "Tokens are being rejected"
**What docker image you are using?**

`jupyter/base-notebook`

I pulled this image on March 4.

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -p 8888:8888 jupyter/base-notebook`

**What steps do you take once the container is running to reproduce the issue?**

Connect to the suggested URL: `http://127.0.0.1:8888/?token=a4405d51cde6c..

[2020-03-06 10:07] ddobrinskiy commented on #1034
@Hugo54x I wanted jupyter to display `localhost:8888` in the logs, instead of `8f3a1eb5da92:8888`.

But that is not critical, thanks for your assistance!

However, while your solution worked, it seems that there is still a problem with `NOTEBOOK_ARGS`. Maybe it is worth investigating ?

[2020-03-07 15:09] parente commented on #1035
Could you run `ps aux | grep jupyter` from a terminal and see if there are jupyter processes running on your host machine?

[2020-03-07 15:29] parente opened #1036 "Grant user romainx triage rights"
@romainx has been helping out quite a bit with responding to issues and submitting pull requests here for the past couple months, and doing so in a positive way in keeping with the Jupyter Code of Conduct. I'd like to grant them triage rights as a stepping stone toward maintainer rights.

First, @romainx, are you interested? 😄

Second, I don't believe we have a formal process for voting on elevati

[2020-03-07 17:56] #608 closed

[2020-03-07 18:08] romainx commented on #1036
@parente a big thank-you, I really appreciate your feedback and your proposal. So in short, off course I'm interested and ready to help :satisfied:!

[2020-03-10 13:31] mpmdean opened #1038 "ipympl not working in scipy-notebook"
There appears to be a problem with ipympl not working within jupyterlab when using scipy-notebook.

1. Launch docker run -p 8888:8888 jupyter/scipy-notebook
2. Switch to jupyterlab mode by prepending lab to the URL.
3. Run notebook commands as:
![76247554-1a674700-6216-11ea-8a01-7d268ebb7746 (1)](https://user-images.githubusercontent.com/699991/76316787-821ea000-62b1-11ea-882a-57df897545cd.png)

*

[2020-03-10 19:04] romainx commented on #1038
Hey just submitted a PR #1040 to fix it.

I let you check to confirm it's OK on your side.
Thanks
Best

[2020-03-11 13:31] MikaelUmaN commented on #963
Any update on this? Tried again with latest everything and still the same error.

[2020-03-11 18:09] parente commented on #1036
Granted triage role. @romainx, you should receive an invite in your email.

https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization#repository-access-for-each-permission-level summarizes what the role grants.

Congrats and thank you for helping out. 🎈

[2020-03-11 18:09] #1036 closed

[2020-03-11 19:47] romainx commented on #1036
@parente Thanks a lot. I will try my new role on the list of issues :smirk:.

[2020-03-11 19:51] parente commented on #1036
@romainx For reference, we adopted a system like JupyterLab uses to label issues here. It works reasonably well. Feel free to suggest improvements as you use it.

[2020-03-11 19:52] parente commented on #1038
Fixed by #1039. 🤞

[2020-03-11 19:52] #1038 closed

[2020-03-11 19:54] parente commented on #1034
@ddobrinskiy I think `--NotebookApp.custom_display_url` was added in 5.6.0 to do what you need.

https://github.com/jupyter/notebook/pull/3668/files

[2020-03-11 19:55] parente commented on #1034
That said, if `NOTEBOOK_ARGS` aren't working, you won't be able to use it until we debug the env var problem. :)

[2020-03-11 19:55] romainx commented on #929
We have no answer and everything seems to be working fine. In consequence, I'm going to close it. Feel free to open a new issue with the tag, steps to reproduce, etc. if you think something does not work as expected.
Best.

[2020-03-11 19:55] #929 closed

[2020-03-11 20:01] romainx commented on #1038
Good job, just pulled the latest version of the `scipy-notebook` and it works as expected with the following versions. Good job 👍

[code]

[2020-03-11 20:06] romainx commented on #1036
I just had a look and it sounds good. I've closed my first issue 😄

[2020-03-11 20:09] romainx commented on #955
Hello  @j123github

@mpmdean has worked on this feature and we are happy to say that it has been merged (#1039) and it's working now. You can pull the latest versions and try it.

Could you confirm that it's OK for you?

[2020-03-11 20:19] romainx commented on #944
@tschm I'm going to close this issue since it's fixed now with `pyarrow` version `0.16`. Feel free to open a new issue if you encounter this kind of problem again.

For information we are working on a way to test the import of the packages in the PR #1037 in order to avoid this kind of obvious problem in the future.

[2020-03-11 20:19] #944 closed

[2020-03-12 04:10] aar0nTw opened #1041 "base-notebook failed to spawn by jupyterhub"
The lastest base-notebook image failed to spawn by hub since the lastest image upgrade jupyterlab from `1.2.1` to `2.0.1`

**What docker image you are using?**
`jupyter/base-notebook:lastest`(`8882c505faa8`)

**What complete docker command do you run to launch the container (omitting sensitive values)?**

-

**What steps do you take once the container is running to reproduce the issue?**

launch b

[2020-03-12 05:13] romainx commented on #1041
Hello,

Thanks to have reported this bug.

Here is the cause of the problem

-- https://jupyterlab.readthedocs.io/en/stable/getting_started/changelog.html

I'm guessing, but we have to check that we could fix the bug by changing the `start-singleuser.sh` launcher.

[code]

Here is what is called and we can see the the `labhub` command is trying to load ` jupyterlab.labhubapp` that does not exist a

[2020-03-12 12:42] twalcari commented on #1041
I've determined that it suffices to remove the check for `JUPYTER_ENABLE_LAB` from `start-singleuser.sh` completely. My PR is now ready to be merged.

[2020-03-12 16:56] romainx commented on #1041
@twalcari Great thanks a lot I will have a look to the PR.

[2020-03-12 20:30] mpmdean opened #1043 "dvipng"
I suggest adding dvipng to scipy-notebook. This is used by matplotlib (albeit not by default)

<img width="923" alt="Screen Shot 2020-03-12 at 4 19 50 PM" src="https://user-images.githubusercontent.com/699991/76563335-92837600-647d-11ea-9be5-9e317ea318a1.png">

RuntimeError: Failed to process string with tex because dvipng could not be found

**What docker image you are using?**
`jupyter/scipy-not

[2020-03-13 18:05] romainx commented on #955
I'm closing it since it's done. Feel free to open a new issue in case of problem.

[2020-03-13 18:05] #955 closed

[2020-03-13 19:23] yashpalmittal commented on #1041
Till the mentioned PR by @twalcari is merged and the image is updated, here is a fix that works for me:

if you have been following the [zero-to-jupyterhub](https://zero-to-jupyterhub.readthedocs.io/en/latest/customizing/user-environment.html#use-jupyterlab-by-default) tutorial like me, you would have used this in the config.yaml file:
[code]

Fix is to replace it by following (as mentioned in #10

[2020-03-13 21:25] #1041 closed

[2020-03-15 05:29] romainx commented on #752
Hello,

The command has evolve with the new `2.x` Jupyterlab version.

- <cite>https://jupyterlab.readthedocs.io/en/stable/getting_started/changelog.html</cite>

We could only use `jupyter lab clean` to remove the `staging` since other options will lead to not usable extension.

- <cite>https://jupyterlab.readthedocs.io/en/stable/user/extensions.html#staging-and-static</cite>

I've tested in the `

[2020-03-16 06:03] mathematicalmichael commented on #899
@step21 thank you for your work on this! I really needed this. Got jupyterlab auto-launching now via docker restart policy whenever my pi4 gets power. Will eventually work on upgrading the images to jlab > 1.0 and take a stab at compiling the scipy image, though I have minimal prior experience on the ARM architecture.

[2020-03-16 16:52] step21 commented on #899
@mathematicalmichael thanks! The scipy image is planned, I just want to resolve the fate of berryconda and rpi channel on conda first, as some stuff esp for scipy really needs a version upgrade but I want to make it using (berry)conda and rpi channel and not reinvent or selfcompile everything. See here https://github.com/jjhelmus/berryconda/issues/79#issuecomment-599594609

[2020-03-16 20:59] romainx commented on #1043
@mpmdean PR #1044 merged. Thanks.
Could you test if it's OK and close the issue?

Many thanks for your contribution :icecream:

[2020-03-16 21:02] romainx commented on #752
Hello,

The PR #1046 has just been merged and `jupyter lab clean` is now used in place of `rm`.

I'm closing the issue, thank you for the suggestion :smile:

Best

[2020-03-16 21:02] #752 closed

[2020-03-16 21:03] romainx commented on #962
@skw1990 could you please confirm that this issue is still relevant?

Many thanks for your reply.
Best.

[2020-03-16 21:07] romainx commented on #892
@stklik We have no answer from you and it seems to be OK now, so I'm closing the issue. Feel free to open a new one if you run into problem.

Best

[2020-03-16 21:07] #892 closed

[2020-03-16 21:13] mpmdean commented on #1043
Yes this is fixed in the version now on docker hub.

Thanks!

[2020-03-16 21:18] #1043 closed

[2020-03-17 11:50] #999 closed

[2020-03-17 15:26] mathematicalmichael commented on #899
... I ended up running into that problem maybe 2 hours after commenting. I'm sure you saw that as I found myself in the berryconda issues.

building for ARM is way more of a challenge than I expected.

[2020-03-18 14:41] ticoneva opened #1048 "Users other than jovyan are unable to log into Jupyterhub through PAM authentication"
Users added through `adduser` cannot log into Jupyterhub through PAM authentication. I have tried the latest `jupyter/datascience-notebook` and `jupyter/tensorflow-notebook`  stock images and neither works, but if I revert back to an image from two years ago it does work.

I have also tried giving a password to jovyan and it is able to log in even in the latest version, leading me to suspect that

[2020-03-19 09:40] vivekj11 commented on #323
https://github.com/oracle/docker-images/issues/1336#issuecomment-530789709

[2020-03-19 17:08] ticoneva commented on #1048
To answer my own question, launching Jupyterhub after creating the user accounts work. For reason that I do not quite understand, in the past I was able to launch Jupyterhub before creating the accounts.

[2020-03-19 17:08] #1048 closed

[2020-03-21 14:20] querafael commented on #899
Hey @step21  thanks a lot for the effort to have it available for rpi! Could you also update the images on docker hub? I see that the last update over there is abou 8 months old. I would be highly appreciated

[2020-03-21 16:03] romainx commented on #1048
@ticoneva sorry you were faster than us :snail:, thanks!

Maybe the answer to your question is in the [`create_system_users`](https://jupyterhub.readthedocs.io/en/stable/api/auth.html#jupyterhub.auth.PAMAuthenticator.create_system_users) parameter of the [`PAMAuthenticator`](https://jupyterhub.readthedocs.io/en/stable/api/auth.html#jupyterhub.auth.PAMAuthenticator) that is `False` by default.

Bes

[2020-03-22 03:09] step21 commented on #899
Thanks. This should be the latest. https://hub.docker.com/repository/docker/step21/rpi-base-notebook
Will check and and make sure all are uploaded tomorrow.

[2020-03-22 15:18] AvverbioPronome commented on #1019
@jiwidi don't these images run there?

What's the issue? pip takes too long compiling? (add piwheels)

[2020-03-23 11:14] step21 commented on #899
Somehow I get an error when uploading.
`error creating overlay mount to /var/lib/docker/overlay2/145199a435e49caf855babdb27a3c2c9465bfe69a845b42d9022b3e8359a7cfa/merged: device or resource busy` Not sure why... supposedly some issue with overlayfs2 between kernel and docker. Anyone know how to resolve this?

[2020-03-23 19:27] step21 commented on #899
The newest versions are now here https://hub.docker.com/repository/docker/step21/jupyter-base-notebook and here https://hub.docker.com/repository/docker/step21/jupyter-minimal-notebook

[2020-03-24 03:33] akitanaka opened #1050 "Add Dockerfile for aarch64 (arm64/v8)"
Hello.

I'm wondering it would be great if we can add base-notebook Dockerfile for aarch64 platform and the community can provide the official Docker image on [Docker Hub](https://hub.docker.com/layers/ubuntu/library/ubuntu/bionic-20200219/images/sha256-fab7c78ecd4c52e801b8a597846ec5c00ff2e4f4d1d92f6af1c8390eabc1d2d5?context=explore).

The Dockerfile would be like below (I haven't created the pull

[2020-03-24 21:11] romainx commented on #1034
Hello,

Maybe I've missed something however here is my understanding of the issue.
The default `CMD` is `start-notebook.sh`. So if Jupyter is not launched through the Hub, `start.sh` is launched directly either as `jupyter lab` (like in your case) or `jupyter notebook`.

https://github.com/jupyter/docker-stacks/blob/dc9744740e128ad7ca7c235d5f54791883c2ea69/base-notebook/start-notebook.sh#L12-L17

[2020-03-25 01:43] ticoneva commented on #1048
That's it. Thanks!

[2020-03-25 02:12] romainx commented on #927
Hello,

I've no feedback on this issue. Moreover now tests are in place ensuring that all the installed packages can be imported. For example this is an extract of the build logs showing the result of the import test for
`reshape2`.

[code]
So I'm closing this issue, feel free to open a new one in case of problem.

Best.

[2020-03-25 02:12] #927 closed

[2020-03-25 05:14] BothOfUsTogether2 commented on #1003
THANK YOU VERY MUCH

[2020-03-25 07:59] jiwidi commented on #1019
What do you mean? If you mean if the normal images can be run in raspberry pi, no they can't. Because of the ARM architecture of rpis there is need for some special tricks or bypass to compile nodejs and other libraries

[2020-03-25 09:03] AvverbioPronome commented on #1019
I've started looking into it and the first obvious problem is that `base-notebook` uses miniconda x86_64 explicitly. https://github.com/jupyter/docker-stacks/blob/master/base-notebook/Dockerfile#L79

Latest miniconda armv7 is `2015-08-24 11:01:14` no good. https://repo.continuum.io/miniconda/

So, yeah, making this image "platform independent" means rebuilding on ubuntu packages or pip (pip is fra

[2020-03-25 10:33] ddobrinskiy commented on #1034
Hi Romain, thanks for your work on this!

The fix looks reasonable to me.

Regarding the custom url - it is a question completely unrelated to the
main issue, sorry for mixing it in.

On Wed, Mar 25, 2020 at 12:11 AM Romain <notifications@github.com> wrote:

[2020-03-25 14:55] ainiml commented on #1003
see https://github.com/jupyter/docker-stacks/issues/1003#issuecomment-583768897

[2020-03-25 14:55] #1003 closed

[2020-03-25 17:39] romainx commented on #1034
@ddobrinskiy Thank you for the feedback. So I will draft something and we will see.
I'm not sure of the potential impacts. We will see with the help of the community.

I keep you posted.
Best.

[2020-03-26 03:40] BothOfUsTogether2 opened #1051 "on upyter/datascience-notebook:latest the ModuleNotFoundError: No module named 'jupyter_nbextensions_configurator'"
I read all the docs, many issues but it's all for nothing, i literally tried to reinstall like 4 times and comes up with 3 hours doing nothing.

I tried every command... i dont understand why do we have python 2.7 if we just use python3. it's all mixe with pip and conda all fucked up and can't install this shit nbtextensions. i am very thankful for this project but i dont know what to do to fix th

[2020-03-26 06:41] romainx commented on #1051
Hello,

If you have read all the doc, you should also take some additional time to read the [Project Jupyter Code of Conduct](https://github.com/jupyter/governance/blob/master/conduct/code_of_conduct.md#project-jupyter-code-of-conduct). It should make the exchanges more pleasant 😄.

If you have find so many issues in the doc please take the time to fix them and submit a PR, it will help other user

[2020-03-26 14:38] BothOfUsTogether2 commented on #1051
thank you but i give up and just install jupyter without docker...

[2020-03-26 16:54] romainx commented on #1051
Ok as you want, so I'm closing this issue.

Best.

[2020-03-26 16:54] #1051 closed

[2020-03-27 17:35] maresb opened #1053 "Wrong PATH in start.sh when running as root"
I seem to have found a subtle bug in the `start.sh` script, and I have prepared a pull request to fix it.

For those not so deeply into the details, I'll first explain a bit about the context.

In order to give the `jovyan` user `sudo` privileges, one must start the container as `root`. Thus running these Docker stacks as `root` is a common use case.

The `start.sh` script is documented [here](htt

[2020-03-27 22:26] consideRatio commented on #1053
:D crazy timing indeed! Thanks for writing this thorough issue that provides links and context etc @maresb! I'm working very actively to figure out all the details and improve some documentation that reduce future confusion, I had not yet read up on the actual documentation you linked to here, which is very good to have as it declares the intent of everything better than from within start.sh itsel

[2020-03-27 23:01] maresb commented on #1053
Yes, I agree. Maintaining a separate `secure_path` is very confusing. Setting `PATH` from Dockerfile won't currently work. (Note: I haven't verified this.) Also, I can put scripts in `/usr/local/bin/before-notebook.d` to be run by the `run-hooks` function of `start.sh`, and I can set environment variables there. But setting `PATH` won't work. (I haven't verified this either.) **That's why I like y

[2020-03-28 00:42] josedanielfd commented on #921
I have done pip uninstall pyarrow and pip install pyarrow but still is not working...

Any suggestions?

[2020-03-28 14:29] AvverbioPronome commented on #899
I tought about this some more, have we considered ditching conda/berryconda and going for pip only using piwheels? (It has one limitation, support for python 3.7 only)

I have an image running this way and it works, but it's not a notebook server (pandas, matplotlib, and flask).

[2020-03-28 14:47] step21 commented on #899
For simple python-only images this can work. I had this too, that's not an issue.
Most importantly, conda can provide R and other compilers etc to jupyterlabs as well. This is of course possible without, but not with pip, then using other package managers or compiling from source. My goal is/was to stick as close as possible to official jupyter docker images. This means using conda and installing

[2020-03-29 09:38] AvverbioPronome commented on #899
It makes sense, but with berryconda not being maintained anymore maybe we should think of rebasing on `python:3.7` and `pip` (`python:3.7` is a `debian:buster` with python installed from source) and add what's not available in pip gets installed via `apt` or manually.

This might be an idea for the official images too, maybe.

[2020-03-29 13:43] rkdarst opened #1055 "Rethinking the start-up sequence"
For background: I run a kubernetes-based JH cluster for my university (and a batchspawner based one, too), and have often had to struggle against the way these images are set up.  That doesn't mean something is wrong, I just have tended to do lots of setup to integrate things.  Combined with difficulties of incremental upgrades, I was wondering if I should try another strategy for some docker imag

[2020-04-02 00:16] sumyuck opened #1056 ""Invalid Credentials" on jupyter notebook login"
I'm trying to access jupyter-notebook on my laptop and the actual process is running on a remote server. I have removed any hashed password in the jupyter_notebook_config.json file and also set c.NotebookApp.password = "" in the upyter_notebook_config.py file but it is still asking me for a password. I have literally tried every possible solution to it. I have even tried changing the password and

[2020-04-02 00:23] sumyuck commented on #1056
So I realized I just had to use the URL with the token generated rather than just browsing to localhost:port

[2020-04-02 00:23] #1056 closed

[2020-04-03 00:40] abdoulsn opened #1057 "Token note working"
Hello, I've an issue with token, I'm using macbook. when I past token, I got the error I`nvalid credentials `

[2020-04-03 05:24] romainx commented on #1057
Hello,

We had the same kind of issue yesterday and the user just figured out that it was a mistake on his side. Please check this issue #1056 and also ensure that you are using the URL outputted in the logs when you start the notebook. Something like the logs below.

[code]

Best

[2020-04-03 10:54] abdoulsn commented on #1057
Hello thanks for answering, I always copy and past one of these but non worked. It ask the token.
ps: I’m running them using Kitematic so I get links from kitematic.

[2020-04-03 15:46] de-code commented on #885
This seem to have worked out of the box until the tag `9e8682c9ea54` and caused issues afterwards.

The above instructions don't seem to exactly work, it may have changed.

Now one should set `CHOWN_HOME_OPTS` instead of `CHOWN_EXTRA_OPTS`. The latter works in conjunction with `CHOWN_EXTRA`.

Related code: https://github.com/jupyter/docker-stacks/blob/56e54a7320c3b002b8b136ba288784d3d2f4a937/base-

[2020-04-03 20:19] parente commented on #1057
@abdoulsn Could you please run `ps aux | grep jupyter` at a terminal on your mac and see if another Jupyter notebook server is running? A service running on port 8888 on your Mac will mask a service running Docker on the same port without errors in either startup.

I've hit this problem with vscode's support for notebooks launching a notebook server on my Mac which then masks one I've got running

[2020-04-03 20:25] abdoulsn commented on #1057
res
`abdoulayediallo   3412   0.2  0.1  4376556  24576   ??  S     5:05PM   0:10.37 /Users/abdoulayediallo/opt/anaconda3/bin/python -m vscode_datascience_helpers.daemon --daemon-module=vscode_datascience_helpers.jupyter_daemon -v
abdoulayediallo   3411   0.0  0.0  4369428   6604   ??  S     5:05PM   0:00.98 /Users/abdoulayediallo/opt/anaconda3/bin/python -m vscode_datascience_helpers.daemon --daem

[2020-04-03 20:25] abdoulsn commented on #1057
I restarted the mac, and just lunched it.

[2020-04-04 10:39] romainx commented on #1057
@abdoulsn Do you confirm it's Ok after the reboot?

PS: Nothing better than a reboot to solve a problem 😄

Many thanks.

[2020-04-04 11:39] abdoulsn commented on #1057
Yes yes, I never shutdown my mac, ... thanks.

[2020-04-04 13:36] romainx commented on #1057
Ok let's close it so. Thank you @parente for the help :chocolate_bar:

[2020-04-04 13:36] #1057 closed

[2020-04-05 00:13] peterprescott commented on #779
surely the fix needed here is to add vim to the Dockerfile for the minimal notebook, rather than to remove it from the docs? developers might be split into rival camps by their choice of minimal text editor, but the jupyter project surely aims to bridge those divides rather than pick sides? i'll go ahead and make the relevant PR...

[2020-04-08 18:16] sbgsbc opened #1060 "How to install a local developped package in a conda environment without root privileges"
Hello,

Following Add a Python 3.x environment everything is ok until I try to install a locally developed package (ex SBG). I add in my dockerfile :
RUN cd /home/$NB_USER/tmp/ && \
    $CONDA_DIR/envs/${conda_env}/bin/python setup.py install

So I face a problem of access :
running install
running bdist_egg
running egg_info
creating SBG.egg-info
error: could not create 'SBG.egg-info': Permission

[2020-04-09 14:07] romainx commented on #1060
Hello,

You can run the command as `root` in the `Dockerfile` however I'm not sure why you end with a permission error. It may break the permissions in the installation this is the reason why I have added calls to `fix-permissions`.

[code]

I've not tested it, so I'm not sure it will fix your problem :sweat_smile:.
Let me know.

Best.

[2020-04-10 14:42] sbgsbc commented on #1060
Hello and many thanks,

First, to answer the additional question I've created the environment as follow:
[code]
Add USER root around the commands installing the package allows its installation within the environment, but I obtain the following error:

[code]
where mp35 is my environment and mp35.txt its installation file.
Inside the container I've listed :
[code]
It seems like /usr/local/bin/fix-p

[2020-04-10 19:59] romainx commented on #1060
Hello,

I guess I've seen the root cause of this behavior. It comes from the `COPY`. If it's used like this it will create the directory `/home/$NB_USER/tmp/` and add the file as `root:root`.
To avoid all these issues you have to perform the following change.

[code]

The directory `/home/$NB_USER/tmp/` will be owned by `jovyan` and you will be OK to perform the installation without the need to sw

[2020-04-11 11:24] sbgsbc commented on #1060
Hello,

Everything is ok now, many thanks.
Who should close the issue, me or you ?

Thanks again

De : Romain <notifications@github.com>
Répondre à : jupyter/docker-stacks <reply@reply.github.com>
Date : vendredi 10 avril 2020 à 21:59
À : jupyter/docker-stacks <docker-stacks@noreply.github.com>
Cc : BOURG Stephane <Stephane.BOURG@cnrs.fr>, Author <author@noreply.github.com>
Objet : Re: [jupyter/do

[2020-04-11 12:41] sbgsbc commented on #1060
Hello,

Everything is ok now, many thanks.
Who should close the issue, me or you ?

Thanks again

[2020-04-11 12:44] romainx commented on #1060
Hello,

Great to hear that.
I'm closing the issue.

Have a nice day!

[2020-04-11 12:44] #1060 closed

[2020-04-11 18:15] ScarletMcLearn commented on #200
How? Bump

[2020-04-14 02:56] miramar-labs opened #1062 "pyspark mesos issue"
Q: why do you assume folks are using Mesos?

I'm not using Mesos, it doesn't build for me ... so in the interest of keeping it generic.. can you remove the Mesos stuff?

[2020-04-15 16:58] dirkcgrunwald commented on #1055
I agree with needing a simpler model -- as part of switching to the jupyterlab 2.x version of the docker stacks, I changed my Z2JH config to switch from starting up using
[code]
to
[code]
With the former startup, my scripts in /usr/local/bin/start-notebook.d would execute and do the needful (e.g. ulimit core 0) but jupyterlab 2.x wouldn't start because jupyter-labhub is gone. With the later, jupyt

[2020-04-16 21:28] mpmdean opened #1063 "Pandas on jupyter/scipy-notebook missing optional dependency"
**What docker image you are using?**
jupyter/scipy-notebook

**What complete docker command do you run to launch the container (omitting sensitive values)?**
jupyter-repo2docker --editable --image-name jupyter/scipy-notebook

**What do you expect to happen?**

PyTables, an optional dependency of pandas, seems not to be installed. (See the atttached image.) I would be happy to contribute a PR on th

[2020-04-17 14:32] carstenpohllhind opened #1064 "start.sh adds conda path to secure_path for sudoers, which fails on centos redhat images"
**What docker image you are using?**

`jupyter/base-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

This does not apply here.

**What steps do you take once the container is running to reproduce the issue?**

If you change the docker image to a redhat / centos based image, the start.sh will fail, and you will see an output similar to:
`S

[2020-04-18 19:37] romainx commented on #1063
Hello @mpmdean,

Nice catch. We will be happy to have a PR for that 😄

# Rationale
`scipy-notebook` already supports [`HDF5`](https://www.hdfgroup.org/) format through the [`hdf5`](http://docs.h5py.org/en/stable/) and [`h5py`](https://www.h5py.org/) packages. So it makes sense to also support this format through `pandas`.

# Solution

You're right to do that we need to install [`pytables`](https:/

[2020-04-18 19:41] romainx commented on #1064
Hello,

Thank you for the issue and the PR #1065 that seems OK.
I have posted a review in it asking a question about one test supposed to check this behavior.

Best.

[2020-04-18 20:20] romainx commented on #1002
Hello,

In fact it's a warning raised at the import mainly to warn you that a GPU cannot be used.
See for example https://github.com/tensorflow/tensorflow/issues/7653.

For example I can reproduce this with the **official tensorflow image**.
[code]

The error is produced at the import and at the first but it works see this example in our `tensorflow-notebook`.

[code]

Could you confirm?

Many tha

[2020-04-18 20:57] romainx opened #1066 "Install bottleneck in scipy-notebook to provide speed improvements to pandas"
Hello,

[`bottleneck`](https://github.com/pydata/bottleneck) is one of the two recommended dependencies of pandas, the other being `numexpr` that is already installed in `scipy-notebook`.

https://github.com/jupyter/docker-stacks/blob/dc9744740e128ad7ca7c235d5f54791883c2ea69/scipy-notebook/Dockerfile#L32

Here is a quote from the pandas documentation.

The latest version of the library available i

[2020-04-20 14:54] romainx commented on #1002
Hello,

In PR #1067 we have added tests (including your case) that show that `tensorflow` is working.
So I'm closing this issue.

Feel free to open a new one.

Best.

[2020-04-20 14:54] #1002 closed

[2020-04-23 10:56] robmarkcole commented on #1035
Can confirm I received this error when vscode was using jupyter in the background

[2020-04-24 05:50] romainx opened #1071 "Create a troubleshooting page in the documentation"
Hello,

The objective is to write a troubleshooting page for know issues.

# Cases identified

Here is the list of identified known issues.

## Permission denied when mounting local folders

This is a recurring issue, there is a PR (#1078) in progress to update the documentation

- #542
- #885
- #1003
- #1187

## Container launching issue

In recent issues (#1035, #1057) the same problem and the s

[2020-04-24 05:51] romainx commented on #1035
@robmarkcole tanks for the confirmation. @parente and me had the same issue with VSCode plugin. We will consider adding this case in a troubleshooting section of the documentation. I've just created an issue to perform this task #1071, so I'm closing this one.

Thanks for your help.
Best.

[2020-04-24 05:51] #1035 closed

[2020-04-24 08:03] romainx commented on #1062
Hello @miramar-labs,

You're right there is already a work in progress on this topic #693.

Thanks for your feedback.

[2020-04-24 08:03] #1062 closed

[2020-04-24 12:44] mathbunnyru opened #1072 "Speed up execution using jemalloc"
I think it would be nice to try to use jupyter under jemalloc.
It is quite fast allocator.
Because Docker is used, we control we environment and it's quite easy to run everything under jemalloc (just need to use `ENV LD_PRELOAD=jemalloc_so_lib_here`).

I need to note, that the bionic ubuntu uses outdated jemalloc, but it's fairly easy to build a latest one (inside Docker).

Could you please tell m

[2020-04-24 17:24] romainx commented on #1072
Hello,

I must confess that I do not know at all this topic. Maybe some folks around could give their opinion. However it sounds interesting.

As far as I know we do not measure the performance here but we are using a minimal (home made) test framework permitting to run arbitrary commands into the containers, here is an example.
https://github.com/jupyter/docker-stacks/blob/29f53f8b992797efffbeb23

[2020-04-24 20:14] mathbunnyru commented on #1072
Yes, installing via conda is much easier and, well, pythonic.

I'll give this a try as soon as I have time to do it :)

[2020-04-26 10:08] sbgsbc opened #1073 "Is PYTHONPATH effective within notebook ?"
Hi,

I've modified Dockerfile of jupyter/base-notebook in order to add myself developed python module: mypack.
[code]

In my notebook
`!echo $PYTHONPATH`
returns
`/home/jovyan/code/mypack`

If I print sys.path it's OK too but when I try
`from mypack import *`
it returns
`ModuleNotFoundError: No module named 'mypack'
`
It seems PYTHONPATH is ineffective. How can I access mypack ?

Thanks

[2020-04-26 19:44] mpmdean commented on #1066
@romainx @parente

I think this can now be closed following #1069

[2020-04-26 19:44] mpmdean commented on #1063
@romainx @parente

I think this can now be closed following #1069

[2020-04-27 04:16] romainx commented on #1063
@mpmdean you're right a big thank-you for your help 🍰

[2020-04-27 04:16] #1063 closed

[2020-04-27 04:16] romainx commented on #1066
@mpmdean you're right a big thank-you for your help 🍰

[2020-04-27 04:16] #1066 closed

[2020-04-27 04:40] romainx commented on #1073
Hello,

In fact the problem lies into your definition of `PYTHONPATH`. To be able to import the module `mypack` you have to declare in `PYTHONPATH` the directory **containing** `mypack` *and not the `mypack` directory itself*. In the latter Python cannot import the module since it cannot see it.

# Example

Here is a small `custom-notebook` example.
The structure of the `custom-notebook`.

[code]

[2020-04-27 07:30] romainx commented on #984
Hello @arghyakusumdas

Any update on this issue? We will close it soon if we have no feedback.

Thanks

[2020-04-27 08:33] sbgsbc commented on #1073
Thanks again, everything is OK

[2020-04-27 09:10] romainx commented on #978
Hello,

In fact we have upgraded the stack to JupyterLab `2.0.x` and the `jupyterlab-dash` extension is not compatible with this version. There is an issue open in their repo about that: https://github.com/plotly/jupyterlab-dash/issues/37.

[code]

We will have to wait to be able to use it.

Best

[2020-04-27 12:35] romainx commented on #1073
Ok thanks for the update. I'm closing the issue.
Best.

[2020-04-27 12:35] #1073 closed

[2020-04-28 08:53] Alexander-Barth commented on #598
While upgrading from jupyterhub 1.0 to 1.2 we run into the same issue. The work-around for us was to change the docker entry-point and to manually change the permissions of some folders:

Our docker entry point now looks like this:

[code]
It is my understand that in previous version, these permissions were changed automatically by the `start-singleuser.sh` script. In our case, the username is sti

[2020-04-30 11:43] masip85 commented on #885
Yes, I used same options, but when I try to translate them to docker-compose, it doesn't work. I have to comment three lines because, even with no errors, and same jupyter log, volume is not available in folder navigation:

[code]

[2020-04-30 12:19] romainx commented on #915
Hello @rwmajor2

It's a late answer however I hope it could be useful to someone.

# Standard HTTP probe

As far as I know there is currently no specific "health" end point available on Jupyter, it seems to be confirmed by this issue https://github.com/jupyter/notebook/issues/1857.
Since notebook are protected it's not possible to use a standard `HTTP` health check like.

[code]
This will always r

[2020-04-30 18:30] romainx commented on #885
Hello,

I will have a look at it to clarify this problem that seems recurrent see #1003.
We added a test, however it seems to not be sufficient.

https://github.com/jupyter/docker-stacks/blob/619e9cc2fc073bd59697c1fababfa0ca326044f6/base-notebook/test/test_container_options.py#L81-L92

I keep you informed.
Best.

[2020-04-30 18:34] romainx commented on #905
Hello,

This issue is old, is it OK to close it?
We will do it soon if you have no feedback.

Best

[2020-05-01 08:15] romainx commented on #885
Hello @masip85

Here is a quote from the [documentation](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html#docker-options)

There is an inconsistency in your `docker-compose.yml` file.

[code]

You mount the volume in the container to `/home/jovyan/work` you set the working dir to `/home/jovyan/work` but by changing the `NB_USER` the `start.sh` script will change the user's

[2020-05-02 07:42] romainx opened #1077 "Changing `NB_USER` requires explicit `CHOWN_HOME` option to be set"
Hello,

Following some issues (#885, #1003) related to home directories, I have performed some tests and figured out that the following recipe in the documentation does not work as expected.

[code]

In fact the problem is that the home directory is created but it's owned by `root`.

[code]

So in order to make it work we need to use the option `CHOWN_HOME=yes`, full command is below.

[code]

In

[2020-05-02 07:43] romainx commented on #984
Hello,

Since we have no feedback I'm closing the issue. Feel free to open a new one if you are facing this issue again.

Best

[2020-05-02 07:43] #984 closed

[2020-05-04 16:02] masip85 commented on #885
Ok,I made a bug that comes from not eliminating a volume,which didn't fit with new configs. After that,I changed to jovyan. But deleting volumes properly did the trick and now is working with my user.

And yes, this set of configurations can be dangerous, I realized when I used same settings with docker run and I changed owner of thousands of files.

Let me add,to make this thing works with existi

[2020-05-04 18:42] romainx commented on #885
Hello @masip85 ,

Thank you for your answer. Great to hear that it's OK for you now. For information I've created an issue (#1077) and proposed a PR to improve the documentation on using `NB_USER` to change the default user.

Best

[2020-05-05 01:52] #1064 closed

[2020-05-07 05:57] nathanrpage97 opened #1079 "Adding support for plotly / jupyterlab-plotly in the scipy notebook"
I think it would be a nice addition to add plotly and its jupyterlab-plotly extension to the scipy notebook. ~~There is already precedent for it in [jupyterlab-demo](https://github.com/jupyterlab/jupyterlab-demo/blob/268524d006da026ad1a71b37e4e83c1d0f8d0128/tasks.py#L53)~~. It would be another very nice plotting tool with interactivity.

Edit: plotly extension was removed from core demo.

[2020-05-07 16:42] romainx commented on #1079
Hello @nathanrpage97,

Thanks for the proposal, it makes sense and it's feasible.
However I would like to have the opinion of others users / contributors.

Before deciding we have also to check

- If the plotly licence is compliant [it seems OK](https://github.com/plotly/plotly.py/blob/master/LICENSE.txt)
- Estimate the size of the installation of plotly + the extension for Jupyterlab. The reason

[2020-05-07 19:07] nathanrpage97 commented on #1079
So I modified and built the Dockerfile locally adding plotly and jupyterlab-plotly.

The uncompressed image went from 3.42GB->3.5GB

[code]

[2020-05-08 04:30] romainx commented on #1079
@nathanrpage97 thank you for the additional information.

I confirm `scipy-notebook` is the right place if we want to install plotly since this is where other plotting libraries and widgets are installed.

So we are talking about ~+80 MB uncompressed on `scipy-notebook`, it seems reasonable however I would like to have the opinion on @parente before launching a PR.

@parente are you good to instal

[2020-05-08 04:32] romainx commented on #958
I think the answer is clear, I'm closing this question.

Best.

[2020-05-08 04:32] #958 closed

[2020-05-08 04:39] romainx commented on #951
@perllaghu

I'm a bit late however I would like to share something on this topic.
Have you tried to enable **PID sharing between the containers that are running in the POD**?. This is done by specifying `shareProcessNamespace: true`. It can be used to
address Docker’s zombie problem by reaping orphaned zombies in the infra container.

I've written a [blog post}(https://www.back2code.me/2020/02/zom

[2020-05-08 04:45] romainx commented on #877
Hello,

Good news `tables` is now available on `scipy-notebook` since the PR #1069.
So I'm closing this issue.

Best

[2020-05-08 04:45] #877 closed

[2020-05-08 05:12] romainx commented on #884
Hello @yonghaihung

Any feedback on this issue?

I can confirm I'm able to run the code shared without error however with these spark settings `.config("spark.driver.memory", "230g")` you may ran into other issues unless you have a bunch of memory on the host.

Note: If we have no feedback from you, we may close this issue soon.

Best

[2020-05-08 05:51] yonghaihung commented on #884
Hi,

Have found the issue is due to the underlying Windows server C: drive ran out of disk space.

The issue is resolved after changing the Disk image location under Advanced settings to another disk volume.

[2020-05-08 06:11] romainx commented on #884
@yonghaihung thanks a lot for the quick answer :grin:.
Happy to hear that you have found the solution to your problem.

So I'm closing the issue.
Best.

[2020-05-08 06:11] #884 closed

[2020-05-08 13:33] maresb commented on #1079
I'd be delighted to see Plotly supported here. I currently maintain my own Dockerfile to add Plotly on top of `tensorflow-notebook`. Consequently I have to maintain compatible versions of the JupyterLab extensions `plotlywidget` and `jupyterlab-plotly`, plus any additional Plotly tools one wishes to use (e.g. jupyterlab-chart-editor).

My observations:

- It requires a little bit of work to test a

[2020-05-08 15:27] maresb commented on #1079
Another very important practical consideration regarding Plotly is that once one starts plotting tens of thousands of points, the JupyterLab interface starts to seriously lag. Consequently, it's good practice to render large plots as images rather than `FigureWidget`s. Unfortunately, supporting rasterization requires running an [Orca server](https://github.com/plotly/orca), which has some complica

[2020-05-10 12:16] rantav opened #1081 "Upgrading tensorflow to 2.2.0"
**What docker image you are using?**
`jupyter/tensorflow-notebook`

**When is the upgrade expected?**
Hi there, any thoughts on upgrading [`jupyter/tensorflow-notebook`](https://github.com/jupyter/docker-stacks/blob/master/tensorflow-notebook/Dockerfile) to [tensorflow 2.2.0](https://github.com/tensorflow/tensorflow/releases/tag/v2.2.0), released and stable a few days ago?

[2020-05-10 14:30] romainx commented on #1081
Hello,

Sure we have a PR 1080 in progress jut for that. The latest version will ba available once this PR merged.

Best

[2020-05-10 18:31] rantav commented on #1081
Great! Closing

[2020-05-10 18:31] #1081 closed

[2020-05-12 07:45] gsteele13 commented on #963
I'm still suffering from this...

We are running a jupyterhub with the persistent home directories of the docker containers mounted on an NFS mount with root_squash to avoid having to handle username mapping.

Due to this bug, I still have to roll back to 5.3.1 to get a functioning server...

Is there maybe an option to override the secure file check for those that don't need it?

Thanks

[2020-05-15 01:57] NaelsonDouglas commented on #336
The example was erased from the master branch, but if you came here looking for a solution like me, you can get a snapshot here.
https://github.com/jupyter/docker-stacks/tree/eef4285cc290fc3ca20fb00417d8d3bb81a54a85

[2020-05-15 15:40] rahulpshah opened #1083 "Do we need python-dev?"
https://github.com/jupyter/docker-stacks/blob/master/minimal-notebook/Dockerfile#L23
Why do we need python-dev from the base image if we install python from conda?

[2020-05-15 16:03] mathbunnyru commented on #1083
And, python-dev is python2, not python3, which doesn't make sense at all. Could you please make a PR without this package, maybe it would be easy to not to install it?

[2020-05-16 06:25] romainx commented on #1083
Hello @rahulpshah,

You're right :scream:

[code]

`python-dev` installs a python version that is not needed.

[code]

We will reduce the image size and the same for all the downstream images

[code]

So, as suggested by @mathbunnyru :thumbsup: please could you make a PR?

Many thanks
Best

[2020-05-16 08:12] romainx commented on #962
Hello

Since we have no feedback for a long time now, I'm closing this issue.
Feel free to open a new one if it's still relevant.

Best.

[2020-05-16 08:12] #962 closed

[2020-05-16 08:25] romainx commented on #943
Hello,

Very sorry for not responding earlier. We have to take a closer look to decide if these libraries have to be installed or not. We try to keep images as slim as possible so we have to find the good tradeoff between the benefits for the community to have these librairies installed and the penalty on the image size.

Here are the links to the repos

- [libgit2](https://github.com/libgit2/libg

[2020-05-16 15:20] rahulpshah commented on #1083
Thanks for the response @mathbunnyru, @romainx. I will make the PR today.

[2020-05-16 15:31] bollwyvl commented on #1083
Recently got bitten by thinking i could actually bid a fond farewell to
python2: so long as nodejs is supported (e.g. building jupyterlab, so,
yes), python2 will likely have to be on the path, as it is part of the
build chain for packages with native components.

[2020-05-16 18:43] romainx commented on #1083
Hello @bollwyvl,

Thanks for your feedback, it's interesting. I think all the stacks can be build without this package. However it 's a problem if we break something elsewhere by removing it.
So could you please develop and / or give an example of what you mean by saying "as it is part of the build chain for packages with native components"?

Many thanks for your help.
Best.

[2020-05-16 19:43] bollwyvl commented on #1083
Specifically nodejs packages. If there are any "jupyterlab build" commands
in the stack, and any of the core lab npm components, any part of its build
chain, or any extensions or their npm dependencies,  require compiling with
the weird node-gyp toolchain, the build will fail if python2 is not
available. Ubuntu 20.04 and Fedora 32, for example, don't ship with python2
by default, and no doubt othe

[2020-05-17 02:38] rahulpshah commented on #1083
Hi @bollwyvl Thanks for pointing that out. I checked out the [node-gyp](https://github.com/nodejs/node-gyp) page it looks like the allow configuring the python path to be used for the node-gyp. Is it something that we can benefit from. I am thinking of adding a line here (https://github.com/jupyter/docker-stacks/blob/master/base-notebook/Dockerfile#L117) to set the config for node-gyp. Do you have

[2020-05-17 03:28] yonghaihung opened #1084 "Pandas data frame can only use one CPU core?"
Hi,

Most jobs run in Spark can parallelise its job, utilising multi-core (up to 20 cores on local machine) even using local config.

However when running some lighter tables or trying to make use of Pandas data frame as a intermediary to output to_csv or to_sql (using SqlAlchemy), the Pandas data frame takes a long time to complete its job and it can only use one CPU core.

Is this a Pandas limit

[2020-05-17 04:48] yonghaihung commented on #1084
Would also like to know if the above problem like making use of multi-core for pandas.to_sql can be solved by using Dask, e.g. df.map_partitions

[2020-05-17 08:02] romainx commented on #1083
Hello all,

In fact just figured out that `python-minimal` (Python 2.7) is installed despite the removal of the `python-dev` package. It's a dependency of `texlive`.

[code]

And at the end it is installed by this line

https://github.com/jupyter/docker-stacks/blob/3b1f4f5e6cc1fd81a14bd57e805fbb25daa3063c/minimal-notebook/Dockerfile#L25

So removing `python-dev` package **will not remove python 2.

[2020-05-18 09:53] thudxz opened #1085 "Conda install problem: Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve."
Hi!

I am using the latest datascience-notebook image and want to install a bioconductor package using the following code:

`
RUN conda install -c bioconda bioconductor-geoquery
`

It returned the following message:

`
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Collecting

[2020-05-18 16:06] romainx commented on #1085
Hello @thudxz,

We have turned `conda` channel priority to `strict`.

[code]

So you can install the package by disabling it since the package you want to install comes from the `bioconda` channel.

[code]

## Note

The last version `2.56` is not installed since it requires `r-base 4.0` which is not (yet) installed on `jupyter-datascience`.

[code]

Please tell us if it's Ok for you?
Best

[2020-05-19 06:40] thudxz commented on #1085
It worked. Thank you.

[2020-05-19 06:54] romainx commented on #1085
Great to hear that.
Thank you.

## Note
I will add this case to the troubleshooting doc I intend to write (#1071)

[2020-05-19 06:54] #1085 closed

[2020-05-19 14:41] Bidek56 commented on #1084
By default, Pandas executes its functions as a single process using a single CPU core.
If you need multi-core execution, please try:

- [Koalas](https://github.com/databricks/koalas)
- [modin[ray]](https://modin.readthedocs.io/en/latest/)
- [Dask](https://github.com/dask/dask)

[2020-05-19 19:49] maresb opened #1086 "Missing CONDA_PREFIX"
I conda installed [`code-server`](https://github.com/cdr/code-server) and [`jupyter-vscode-proxy`](https://github.com/betatim/vscode-binder) in order to run VS Code from JupyterLab. The feedstock for `code-server` [generates a eponymous bash script](https://github.com/conda-forge/code-server-feedstock/blob/master/recipe/build.sh) which relies on the `CONDA_PREFIX` environment variable. I get a bea

[2020-05-19 21:21] dirkcgrunwald opened #1087 "Slow startup using datascience-notebook:lab-2.1.1 - perhaps npm sha512?"
I've been trying to isolate a problem with slow startup on a container based on datascience-notebook:lab-2.1.1 which is new as of ~15 days ago.

There's a distinct "pause" when the looking in using a z2jh that normally has no such delay. I notice when using the base datascience-notebook:lab-2.1.1 that ~/.npm was created and had:

[code]

This file / directory gets created each time restart the con

[2020-05-19 21:42] bollwyvl commented on #1086
CONDA_DIR is indeed non-standard. Unfortunately, just setting some env vars
is not sufficient. Not fully activating the  environment is no doubt a
source of subtle problems.... As packages get more complex (e.g anything
that uses Java, or a runtime compiler) they end up relying on activation
scripts.

About the only thing that would work for arbitrary "docker exec" is a
wrapper script in ENTRYPOIN

[2020-05-19 21:55] maresb commented on #1086
To clarify, I'm not actually using `docker exec`. I have my own `Dockerfile` extending these containers, so I'm still using the standard activation scripts. But perhaps this is yet another factor to consider in https://github.com/jupyter/docker-stacks/pull/1052.

[2020-05-20 04:53] romainx commented on #1084
@Bidek56 thanks for your answer.

@yonghaihung, you can also check the official Pandas guide [Scaling to large datasets](https://pandas.pydata.org/pandas-docs/stable/user_guide/scale.html) that mentions dask. Note also that dask is installed in `scipy-notebook` and downstream images so you can give it a try.

If it's Ok for you, we will close this issue since it is more related to pandas than Jupy

[2020-05-20 05:23] romainx commented on #1086
Hi @maresb

`CONDA_DIR` even if not standard is basically used everywhere in these images and probably elsewhere in custom images build by users. So it seems complicated to remove it.
Moreover the two variables have not the same intend

* `CONDA_DIR`: the root of the `conda` distribution installation.
* `CONDA_PREFIX`: the path to the conda environment [source][LK1]

So they can be different when

[2020-05-20 05:45] yonghaihung commented on #1084
Noted with thanks.

I’m ok to close the issue.

On Wed, 20 May 2020 at 12:53 PM, Romain <notifications@github.com> wrote:

[2020-05-20 05:48] romainx commented on #1084
Thank you 😄

[2020-05-20 05:48] #1084 closed

[2020-05-20 14:33] mathbunnyru opened #1089 "Start using ubuntu 20.04 (focal)"
As Canonical released a new LTS version of Ubuntu, it might be a good idea to start using it - various security updates, optimizations, features and package updates should be good.

[2020-05-20 15:44] romainx commented on #1087
Hello

Nice catch. The `npm` cache directory is described [here](https://docs.npmjs.com/cli-commands/cache.html). I first thought that this behavior had something to do with JupyterLab [Disabling Rebuild Checks](https://jupyterlab.readthedocs.io/en/stable/user/extensions.html#disabling-rebuild-checks), but after a quick test, it does not seem to have an effect.

It sounds obvious but is worth reme

[2020-05-20 16:25] gbrault commented on #943
Thanks @romainx !

[2020-05-20 16:25] #943 closed

[2020-05-20 19:44] romainx commented on #1089
Hello @mathbunnyru

I though exactly about the thing.

I've compared the size and it's basically the same (+10MB).
[code]
And I had a look at the [FocalFossa Release Notes](https://wiki.ubuntu.com/FocalFossa/ReleaseNotes).

However I was wondering how to validate this change (mainly in term of system packages)  :worried:?

Best

[2020-05-20 20:01] dirkcgrunwald commented on #1087
This problem does not occur with the "lab-2.0.1" release on docker hub. So, the change was introduced sometime between May 2 and May 5 when the lab-2.1.1 release came out.

The only non-package-version or documentation change I saw in https://github.com/jupyter/docker-stacks/commit/c32ba3a7f8263f2943be6726d1f6203695df5db1 was the change to jupyterlab-2.1.1 and adding a "-y" arg to "jupyter build -

[2020-05-20 20:09] mathbunnyru commented on #1089
I think it would be better to compare image sizes after installation of the dependencies. Because the dependencies might have changed as well in terms of size. For example, scipy-notebook based on 18.04 and based on 20.04.

There are so many ways how things could break. I can create a PR, try to make it build and pass all the tests and then we could wait for a while, till people, who know the infr

[2020-05-21 13:59] romainx opened #1090 "Build issue affecting r-notebook"
Hello,

We are facing a build issue affecting

- `r-notebook`
- `datascience-notebook` (not sure)

The problem is `UnsatisfiableError` thrown by `conda`, here is an extract of the [trace](https://travis-ci.org/github/jupyter/docker-stacks/builds/689508561#L3362).

<details>
<summary>Conda error</summary>

[code]
</details>

<details>
<summary>Conda config
</summary>
$ conda config --show
add_anaco

[2020-05-21 17:58] mathbunnyru commented on #1083
I think it is still worth to delete non-direct dependencies.
Packages and their dependencies change, so it is quite possible that texlive will not require python2 in the future.

[2020-05-21 20:01] romainx commented on #1090
Do not understand why this problem is resolved now. I'm a bit lost ... 😵

[2020-05-21 20:01] #1090 closed

[2020-05-21 20:10] romainx commented on #1089
@mathbunnyru Yes you're right you can draft a PR and see what happen.
A full build OK will be the first test 😄

[2020-05-21 20:41] mathbunnyru commented on #1089
I already tried to build everything.
There's one big problem though.

It is impossible to install mesos package in Ubuntu 20.04 - it requires to have libcurl3 installed.

As far as I see, mesos has not been working for 2 years since Ubuntu 18.04 (https://github.com/jupyter/docker-stacks/issues/663)

And I see there is WIP to remove mesos (https://github.com/jupyter/docker-stacks/pull/911)

Unfortu

[2020-05-21 21:51] dirkcgrunwald commented on #1087
I rebuilt my derived container user `jupyter/datascience-notebook:lab-2.0.1` -- that had no problems with either pause and did not download `npm` modules. In that container, I was using a couple of lab extensions:
[code]
so I don't think the presence of extensions is itself the problem -- it's jupyterlab-2.1.1 and above.

I then added `RUN     conda install --quiet --yes jupyterlab=2.1.2` to the D

[2020-05-21 22:16] bollwyvl commented on #1089
Recall, too, that Ubuntu itself won't offer upgrading between LTS versions
until the .1 release... No harm in starting the effort, but if folks are
relying on LTS stability, it might be surprising to get it "early".

On Thu, May 21, 2020, 16:41 Ayaz Salikhov <notifications@github.com> wrote:

[2020-05-22 04:50] romainx commented on #1087
So you have demonstrated that the problem occurs only with `jupyterlab >= 2.1.1`. Maybe it's worth creating an issue in the [Jupyterlab project](https://github.com/jupyterlab/jupyterlab/issues). I took a quick look, but I didn't find anything close to this issue.

[2020-05-24 13:46] #1077 closed

[2020-05-24 13:46] parente commented on #1090
I suspect there was a package rebuild or release in conda-forge causing the incompatibility which fixed thereafter.

[2020-05-24 14:01] parente commented on #1087
It does look like some changes were made to handling of extensions to support enabling/disabling in 2.1.0 according to the release notes.

https://jupyterlab.readthedocs.io/en/stable/getting_started/changelog.html#v2-1-0

I agree with @romainx that reporting this in the jupyterlab issue tracker makes sense at this point.

[2020-05-24 14:51] parente commented on #963
This repo is essentially packaging for Jupyter projects in Docker. A flag for disabling would have to exist or get added to https://github.com/jupyter/notebook I believe. Have a look at https://jupyter-notebook.readthedocs.io/en/stable/config.html to see if such a flag exists. If it doesn't, you could make a proposal in the notebook issue tracker about adding such a flag. I think it'd be a hard se

[2020-05-24 18:23] gsteele13 commented on #963
Maybe useful to add:

This problem was solved for me in a recent upgrade to the latest version. (I also could no longer find the offending code in the jupyter-client source.)

To be specific: I no longer have any trouble deploying containers running a jupyter notebook server with home directories for which full POSIX permission changes are not possible.

Here is my version info:

[code]

It could

[2020-05-26 12:59] ved1303 opened #1092 "Not able to connect through jdbc"
HI there,

First of all thanks for creating such a useful docker image.
I am using pyspark. I have placed ojdbc driver at "\home\jovyan\work\"

`jar_import = "\home\jovyan\work\ojdbc6.jar"`
`spark = SparkSession.builder.appName("EIMConnect").config(
    "oracle.jdbc.driver.OracleDriver", jar_import).getOrCreate()`
`incremental_df = spark.read.format("jdbc").option("url", "jdbc:oracle:thin:login_ur

[2020-05-26 21:16] dirkcgrunwald commented on #1087
This appears to be fixed with jupyterlab-2.1.3 -- likely from https://github.com/jupyterlab/jupyterlab/pull/8463

I would mark this "closed" here but I think it should remain open until base-notebook upgrades to 2.1.3

[2020-05-27 04:21] efagundes93 commented on #228
thanks!

[2020-05-27 08:39] romainx commented on #1092
Hello @ved1303,

I think it's not related to this stack but more to Spark configuration. However here is some information that could help--not tested.

You need to define external jars, one of the way to do it is to use `spark-defaults.conf` in `$SPARK_HOME/conf/`. More on that in [Spark configuration manual](https://spark.apache.org/docs/latest/configuration.html). For example.

[code]

See also

[2020-05-29 16:39] AdySan opened #1099 "Fresh install of scipy-notebook, DNS doesn't work"
I just ran a docker container using the following `docker-compose.yml`

[code]
The web interface runs fine, but when I run this command,
`df = pd.read_excel ('https://github.com/AdySan/tempPlot/raw/master/V1_vs_V2_voting_comparison.xlsx')`

I get an error that says

[code]

So apparently DNS isn't working? I do use PiHole on my home network, so maybe that was messing with it, so I tired entering t

[2020-05-30 04:36] romainx commented on #1087
@dirkcgrunwald thank you for your work on this issue.

Your PR has been merged and the version `2.1.3` of jupyterlab is now available in `base-notebook`. Could you please confirm if it's OK for you and close this issue?

Many thanks.
Best.

[2020-05-30 04:41] romainx commented on #996
Hello,

We have no feedback since our answer and mesos support has been recently removed from the stack #911. Following this PR we have updated [the documentation](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/specifics.html) #1098 to indicate how to use Spark, so you may find some information in this page.

So I'm closing this issue.
Best.

[2020-05-30 04:41] #996 closed

[2020-05-30 04:46] romainx commented on #663
The mesos support has been recently removed from `all-spark-notebook` #911. The image is now cluster agnostic. If a recipe is needed for mesos, I think we should address it in a different issue.

Best.

[2020-05-30 04:52] romainx commented on #626
Hello @taqtiqa-mark

Mesos support has been recently removed #911. I've read your suggestions and they are very interesting. If you have any update / additional suggestions do not hesitate to post them here.

Many thanks

[2020-05-30 17:36] dirkcgrunwald commented on #1087
Yes, this fixes it.

[2020-05-30 17:36] #1087 closed

[2020-05-31 15:45] AdySan commented on #1099
Update: I fixed it by using

[code]

Silly me.

[2020-05-31 15:45] #1099 closed

[2020-06-03 12:51] theaivhub opened #1101 "Strange behavior, all content is deleted under jovyan home directory in few hours after docker container is started including jupyter_notebook_config file"
I use jupyter notebook server and kernel to execute python and r script on the fly using websocket.

I have created docker container using below command.

FROM jupyter/r-notebook:3b1f4f5e6cc1
USER root
RUN mkdir /opt/notebook_dir

COPY jupyter_notebook_config.py /home/$NB_USER/.jupyter/
COPY requirements.txt /home/$NB_USER/

RUN chown $NB_USER -R /home/$NB_USER
RUN chown $NB_USER -R /opt/notebook_

[2020-06-04 04:31] ttimbers opened #1102 "Move to R 4.0?"
Is there a plan to move the `jupyter/r-notebook` to R 4.0 soon? If you need a volunteer to take on this task, I can do this.

[2020-06-05 04:01] hemangjoshi37a commented on #408
Has anyone found any password yet for jovyan??

please help.

[2020-06-05 04:07] romainx commented on #1102
Hello

Sure! You can draft a PR to perform the upgrade. However the last time I tried in the PR #1076 I was not able to resolve dependencies with other packages.

Pay attention that R is installed in `r-notebook` but also in `all-spark-notebook`. We have to upgrade both images.

Many thanks for your contribution.
Best.

[2020-06-05 04:20] romainx commented on #408
Hello @hemangjoshi37a if you want `jovyan` to be sudoer you have to use launch the container as `root and` to use a specific option (`GRANT_SUDO=yes`) to launch it as explained in the [documentation](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html#docker-options). With this option you will be able to perform passwordless `sudo` with `jovyan`.

For example

[code]

As a rem

[2020-06-05 04:43] romainx opened #1103 "Remove R retired packages from r-notebook"
Hello,

Two packages in `r-notebook` are in the *retired* step in their lifecycle, I propose to remove it from the stack since an alternative is already proposed.

##  plyr (`r-plyr`)

-- [source](https://www.rdocumentation.org/packages/plyr/versions/1.8.6)

`dplyr` and `purr` are already installed so no further installation needed.

## reshape2 (`r-reshape2`)

-- [source](https://www.rdocumentati

[2020-06-05 04:45] romainx commented on #1102
In addition, it could also be interesting to treat the point #1103 in the same PR since **retired packages** could cause an issue with the new R version.

[2020-06-05 07:56] vtslab commented on #358
Note that the spelling Jovyan instead of Jovian is awkward at first sight because of the original spelling in Latin: https://en.wikipedia.org/wiki/Jupiter_(mythology)
However, in analogy with the Jupyter spelling, the Jovyan spelling makes sense.

[2020-06-05 10:04] gsteele13 commented on #963
OK, maybe a minor update:

Curiously, users who had earlier logged in worked fine on my jupyterhub.

However, new users ran into errors that appear to be related to secure write problems. Their server did start up, but they could not start kernels, which we traced back to this related issue:

https://github.com/jupyter/notebook/issues/5058

We are going to try integrating:

ENV JUPYTER_ALLOW_INSEC

[2020-06-05 15:02] gsteele13 commented on #963
just confirmed that ENV JUPYTER_ALLOW_INSECURE_WRITES=true solves our problems!

[2020-06-05 15:54] rhlarora84 opened #1104 "Slow Startup when overriding NB_USER with building additional extensions"
Hi,
I am trying to change the NB_USER to the logged-in user using the Environment variables. This environment variable is passed from the Hub to the DockerSpawner. It works fine however the startup.sh really takes a long time (around 2-3 minutes) in executing the mv command

**mv /home/jovyan "/home/$NB_USER"**

Further troubleshooting revealed that it has to do with installing the Jupyter lab ext

[2020-06-05 15:57] step21 commented on #899
@AvverbioPronome

I think no one wants to install via apt, because often it is way too old. That said, I also want to ask my question that I asked over at berryconda github - what is you reason to use 32bit based distro?
Since I discovered that conda-forge has support for aarch64, it works well and it is growing continuously, I would rather spend my time on this than setting up a whole new infrast

[2020-06-05 17:23] ttimbers commented on #1102
Sounds good, I can address #1103 in my PR. Also, R is moving away from `caret` and towards `tidymodels` for machine learning. Should we add the the `tidymodels` (and related packages)? I would suggest keeping `caret` for a few months longer to allow folks some time to switch?

[2020-06-05 17:54] hemangjoshi37a commented on #408
But sir, I am using docker from kubernetes cluster and I don't have any
idea how to run kubernete container with sudo access. Please help me.

On Fri, 5 Jun 2020 at 09:51, Romain <notifications@github.com> wrote:

--
Regards,
Hemang Joshi,
Email : hemangjoshi37a@gmail.com
mobile : +919409077371

[2020-06-05 18:34] MikaelUmaN commented on #963
Yes. Confirmed that this works. Closing. Thank you very much :)!

[2020-06-05 18:34] #963 closed

[2020-06-06 03:46] romainx commented on #408
@hemangjoshi37a I'm afraid you cannot if the `GRANT_SUDO` environment variable is not set, see https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/562.

`jovyan` is only added to the `sudoers` if this condition is met.

https://github.com/jupyter/docker-stacks/blob/76402a27fd13e649a3166b1da5a162ac476912bf/base-notebook/start.sh#L90-L93

Best.

[2020-06-06 05:52] bharath02 commented on #272
i am working for solving error,

 ERROR:py4JJavaError: An error occurred while calling o88.csv. : java.lang.NoClassDefFoundError: org/jets3t/service/S3ServiceException

error rose  reading data from AWS S3 buckect to pyspark.
data=spark.read.csv("s3a://bucketname/filename")
pls help me  how to solve

[2020-06-06 10:18] AvverbioPronome commented on #899
The most stable (and actually working) distribution on a raspberry pi is the official 32 bit raspiOS. This might change once raspiOS 64 bit gets released as stable.

I tried doing the same things with ubuntu aarch64 but it wasn't as stable.

[2020-06-07 02:01] rhlarora84 commented on #1104
Closing the issue. Cleanup was required after installation of Lab extensions

    jupyter lab clean -y && \
    npm cache clean --force && \
    rm -rf /home/$NB_USER/.cache/yarn && \
    rm -rf /home/$NB_USER/.node-gyp

[2020-06-07 02:01] #1104 closed

[2020-06-07 15:14] ttimbers commented on #1102
Thanks @romainx for those pointers, that fixed somethings. Agreed, however, there seems to be an outstanding issue with the `all-spark-notebook` that seems to be linked with the `local_sparkR.ipynb` test notebook. In particular, when I run the local built docker `all-spark-notebook` container as Jupyter interactively, and try to run that specific notebook I get this error message:

[code]

Which i

[2020-06-08 04:40] ttimbers commented on #1102
Here's the full error message (in all of its glory) in case it is helpful:

[code]

[2020-06-08 18:34] mathematicalmichael commented on #899
Heads up: I got 64-bit raspbian running on my 4b+, came out last week, still experimental but working smoothly so far (I'm using the desktop mode)

[2020-06-09 11:38] step21 commented on #1050
As stated in the docs, this will probably not be merged. But I made some docker images here
https://hub.docker.com/repository/docker/step21/jupyter-minimal-notebook (under arm64 tag)
(base and minimal until scikit-image is merged into conda-forge for aarch64)
The aarch64 ones are at least much closer to standard images.

[2020-06-09 11:40] step21 commented on #1019
You can check my work here https://hub.docker.com/repository/docker/step21/jupyter-minimal-notebook (base and minimal so far, soon also scipy-notebook once scikit-image gets merges)
It has both aarch64 and armv7l images, but unless someone gets armv7l packages into conda-forge, I do not think it makes sense to maintain armv7l images.

[2020-06-09 11:45] step21 commented on #899
Cool.

What wasn't stable? I am running some stuff on ubuntu aarch64 since a month and it really great so far. Really trying to understand.

I have some images ofr aarch64 here https://hub.docker.com/repository/docker/step21/jupyter-minimal-notebook - I think I decided that unless there is more effort to bring armv7l to conda-forge, I will focus on aarch64 and contribute to getting that on as many

[2020-06-11 00:24] sryadgir opened #1106 "Token authentification issue"
Hi,
I'm having the same issue reported here: https://github.com/jupyter/notebook/issues/2716
That issue is closed and the solutions offered there don't fix my problem.
Here are the details:
Problem: I've been using these fantastic docker images to run jupyter notebook until today when suddenly I started being prompted for a token when starting a notebook. Nothing seems to satisfy the token and the

[2020-06-11 11:40] romainx commented on #1106
Hello,

It looks like a known issue. Are you using VS Code?
If so, it could be the VS Code Jupyter plugin running in the background that is causing the issue. Check the following issues for more information.

- #1035
- #1057

Please tell us if it solves your problem.
Best.

[2020-06-13 18:01] parente commented on #1050
I think links to one or both of these resources would be great additions to the [community stacks section in the documentation](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/selecting.html#community-stacks).

[2020-06-13 18:03] parente commented on #1101
Could you please share how you are launching the container?

[2020-06-14 07:31] romainx commented on #1092
@ved1303 any news about this issue, without any feedback or additional information we cannot help you. In consequence I will close this issue soon.

Best.

[2020-06-14 12:12] step21 commented on #1050
Thanks. Any pull requests etc welcome. If you want to help to get proper juypter stacks, you could also help packaging for conda-forge. The only package holding back a scipy notebook right now is numba which needs llvm.

[2020-06-14 17:08] mathbunnyru opened #1110 "Using squash commits in the master"
I propose to start using squash commits in the master for PRs.
It will make it much easier to read commit history.

I think GitHub handles it quite well, so maybe it's worth giving it a try.

All the details are located here:
https://cloudfour.com/thinks/squashing-your-pull-requests/

I attached `tig` from the master, which is not easy to read at all.

<img width="1552" alt="Screenshot 2020-06-14

[2020-06-15 09:21] sanidhya-singh commented on #408
Did anyone figure out how to do give "GRANT_SUDO=yes" from a Dockerfile?

[2020-06-15 09:28] sanidhya-singh commented on #408
This worked for me

[2020-06-17 14:19] gabriellsf-radix opened #1113 "Detected NVD Vulnerabilities on base-jupyter."
Hi!

We are using **jupyter/base-jupyter** on a project that needs to be FedRAMP approved.
For that we are running a Anchore report with the National Vulnerability Database (NVD) in base-jupyter image.

Below are the vulnerabilities reported and solution found to solve each one.

**CVE ID**: CVE-2020-8116
**Severity**: Critical
**Vulnerability Package**: dot-prop-4.2.0
**URL**: https://nvd.nist.go

[2020-06-18 23:24] mathbunnyru commented on #1089
Done

[2020-06-18 23:24] #1089 closed

[2020-06-19 07:25] eaboyle57 opened #1116 "Unable to Access Jupyter Notebooks"
What docker image you are using?

jupyter/pyspark-notebook

I pulled this image today.

What complete docker command do you run to launch the container (omitting sensitive values)?

docker run -p 8888:8888 -p 4040:4040 -v 'C:\Users\{userID}\be\lake':/lake jupyter/pyspark-notebook:latest

What steps do you take once the container is running to reproduce the issue?

Connect to the suggested URL: htt

[2020-06-19 12:08] Bidek56 commented on #1116
This seem to be a personal setup/hardware issue, I use these images all day and they work just fine.
Unless the issue can be reproduced, how can anyone debug the issue?

[2020-06-19 13:20] eaboyle57 commented on #1116
Bidek, I've alluded to multiple tickets (#1035, #1057 ) in which the same issue is being encountered and troubleshooting steps led to the discovery of a recurring issue and incompatibility with other software. All you're saying is "it works on my computer".

[2020-06-19 15:45] eaboyle57 commented on #1116
Found out the issue _was_ caused by VS Code.  The Python extension is starting a Jupyter server on startup which is interfering with port 8888.  Disabling Jupyter startup through VS Code has so far resolved my issue.

[2020-06-19 15:45] #1116 closed

[2020-06-19 20:49] Bidek56 commented on #1113
I think you want to post these issues in the [Notebook](https://github.com/jupyter/notebook) repo, that's the repo that uses outdated packages.
Packages used by Notebook could be using outdated packages, which need to be upgraded as well.
I would suggest submitting PRs if you want anything fixed.
Welcome to the the planet called: open source software. :) and good luck.

[2020-06-22 16:02] romainx commented on #1092
@ved1303 I'm closing this issue. Feel free to open a new one if needed.

[2020-06-22 16:02] #1092 closed

[2020-06-25 12:25] #1102 closed

[2020-06-28 03:26] bobmayuze opened #1119 "Cannot run base image"
**What docker image you are using?**

`jupyter/base-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -ti -p 8888:8888 -e JUPYTER_ENABLE_LAB=yes jupyter/base-notebook:43c995183265`

**What steps do you take once the container is running to reproduce the issue?**

1. Run `docker run -ti -p 8888:8888 -e JUPYTER_ENABLE_LAB=yes jup

[2020-06-29 01:04] bobmayuze commented on #1119
There is something wrong with the docker I was using. This image works.

[2020-06-29 01:04] #1119 closed

[2020-07-02 11:49] masip85 commented on #899
I've seen that your docker image hasn't a Dockerfile uploaded, and [this](https://github.com/step21/raspi-jupyter-docker-stacks)
is for armv7l. So I don't know what are you using, are you using normal conda? And soon sci-kit learn,isn't it? What about numpy? Could you share those dockerfiles?

[2020-07-02 11:53] step21 commented on #899
@masip85 the dockerfile is there on aarch64 branch https://github.com/step21/raspi-jupyter-docker-stacks/tree/aarch64
Same for the docker image, it is in the same repo, but aarch64 is under arm64 tag. I thought that would make sense, but maybe it is too confusing?
It uses miniconda.

[2020-07-02 12:41] masip85 commented on #899
@step21 , I am sorry,I didn't see the branches! Now I see it uses miniforge, not exactly the same that miniconda. I think it just uses conda-forge, but as a restriction or default? I wanted to add something like:

    Install conda4aarch64. This will create a minimal conda environment.

    Add the c4aarch64 and conda-forge channels to your conda configuration:

    $ conda config --add channels c

[2020-07-02 12:49] step21 commented on #899
Yeah sorry I meant miniforge. Miniconda dropped arm support, so miniforge is the best option.
conda4aarch64 was just an experiment by jjhelmus and miniforge is now where that work continues. It is not maintained, so I would not use that anymore. You can always add your own channels of course. It is just easier to maintain if not mix and matching channels. That is why I chose to contribute to conda

[2020-07-02 13:15] masip85 commented on #899
Well,but I mean,can I go whereas building a beta with numpy,scipy,:
![imagen](https://user-images.githubusercontent.com/12863854/86363116-ab0adc80-bc76-11ea-9178-fb3df833ea8d.png)
and numba (from other channels), isn't it?

[2020-07-05 11:30] masip85 commented on #899
Do you use last DockerFile with rpi4 Ubuntu 64bits?
I execute it and I got errors:
First,for numba,numba channel must be specified. And jumping numba,I get,

ValueError: Please install Node.js and npm before continuing installation. You may be able to install Node.js from your package manager, from conda, or directly from the Node.js website (https://nodejs.org).

[2020-07-05 12:20] step21 commented on #899
As I said, it is not working yet. I just uploaded if for you as a courtesy, so you can use that as basis if you want. Yesterday, llvmlite was merged to conda-forge, which will enable numba and then I will fix it.

[2020-07-05 15:19] masip85 commented on #899
Yes, the issue is that I thought it was a functional Dockerfile. I just did an small numba change:

conda config --add channels c4aarch64
conda install -c numba numba

And as you said, soon,numba in conda-forge.

And jupyter extensions building will be possible?

[2020-07-06 17:46] mfahadakbar opened #1121 "install all dependencies at once of a single package"
Hi ,

I Have a docker file that pulls the Jupiter's minimal image and installs a python package named preprocess1.
when i install it i expect that all its dependencies are automatically installed, but that does not happen

Here is the docker file code:

[code]

After building and running the image:

 `   docker run -p 8888:8888 notebook_demo`

I open up the jupyter note book and try to import the

[2020-07-07 01:25] mfahadakbar commented on #1121
I found the issue, it was actually the module that hadn't had requirements in the setup

[2020-07-07 01:25] #1121 closed

[2020-07-11 14:06] romainx commented on #1106
Hello @sryadgir ,

I'm closing this case because we have no feedback.
Feel free to post an update if you still have the problem.

Best.

[2020-07-11 14:06] #1106 closed

[2020-07-12 14:23] techie-jai opened #1124 "Uploading own Jupyter file and making a docker Image for it"
If I upload my own juypter file and then want to make an image with that file inside, how can I do that

[2020-07-13 12:35] Bidek56 commented on #1124
What do you mean by `juypter file`?

You probably want extend the existing Docker images by creating new Dockerfile with:
[code]

Then building it by using: `docker build -t my-docker-container .`

May want to check this [tutorial](https://docs.docker.com/get-started/part2/)

[2020-07-16 09:28] LustigePerson opened #1129 "Do we need texlive-fonts-extra in the minimal-notebook?"
Do we really need the `texlive-fonts-extra` package in the [minimal-notebook](https://github.com/jupyter/docker-stacks/blob/ea01ec4d9f5715ab7dd85d4742ad6416c343c8bd/minimal-notebook/Dockerfile#L29)? It is commented to be optional and I guess `nbconvert`does not need it for basic functionality.
The problem is that it really bloats the image:
[code]
That's 1.3 GB difference...

Any thoughts on that?

[2020-07-21 03:52] kaczmarj commented on #421
I solved this by running jupyter notebook with xvfb.

[code]

[2020-07-21 07:04] romainx commented on #1129
Hello,

Good catch I've done the previous work to clean things up on `tex` / `nbconvert` / `pandoc`. In the PR #1013

In [one of my comments](https://github.com/jupyter/docker-stacks/pull/1013#discussion_r379897106 ) I had the same interrogation about the `texlive-fonts-extra` package.

So I guess is time to go further on this topic since, according to the figures you got, we can make an impressiv

[2020-07-23 21:18] ZihaoXue1995 commented on #228
Thanks a lot!

[2020-07-28 03:55] robrich opened #1131 "Create both Spark2 and Spark3 docker images"
All of a sudden the image upgraded from Spark2 to Spark3.  I'm really glad there's a manually created `spark-2` tag or I would be sunk!  But I'm now stranded on an old, unmaintained version.  Oops.

Can we get the Docker Build to build `latest` using Spark3 as it does now, and also get the build to create `spark-2` tagged images as well?

It appears https://github.com/jupyter/docker-stacks/commit/

[2020-07-30 12:40] parente opened #1133 "Grant romainx maintainer rights"
@romainx has continued to help triage issues, submit pull requests, and review pull requests in this repo since receiving triage rights in #1036. I'd like to grant them maintainer access which adds the ability to merge PRs after review.

Before I take that step, @romainx, are you interested? I want this change to place no new expectations on your time or commitment to the project, only afford you

[2020-08-01 04:09] #1129 closed

[2020-08-02 14:28] romainx commented on #1131
Hello @robrich,

In fact my idea to solve this request, and also to permit to user to use different Spark version is to create a [recipe](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/recipes.html). But first we need to perform some changes in the `pyspark-notebook` `Dockerfile`. Use arguments (`ARG`), along with their default valuen, to specify which Spark installation to perform

[2020-08-02 14:34] romainx commented on #1133
Hello @parente,

I'm learning a lot and I feel that the work we do here is useful to the community.
So I thank you and gladly accept your proposal.
I will do my best to continue my contribution -- and avoid breaking anything.

Many thanks and see you soon.

[2020-08-04 02:09] robrich commented on #1131
I think this sounds perfect.  Then have the Docker Hub build pass in both versions and publish two different tags.  Perhaps `latest` and `2-latest` or similar.

[2020-08-08 18:26] parente commented on #1133
I see two thumbs up and no dissent. I'm granting the permissions now.

Thank you for your continued work in the Jupyter community, @romainx. 🎈

[2020-08-08 18:27] #1133 closed

[2020-08-08 18:39] parente opened #1139 "Update cookiecutter-docker-stacks"
Follow-on work after #1132

1. Update https://github.com/jupyter/cookiecutter-docker-stacks to use GitHub Actions instead of Travis + Docker Hub to align with this repo.
2. Update the documentation in this repo to describe the new setup process.

[2020-08-08 18:45] parente opened #1140 "Refactor duplicative, opaque run_hook scripts"
Follow-on work from #1132 ...

We wrote a set of [bash scripts for Docker Hub](https://docs.docker.com/docker-hub/builds/advanced/#custom-build-phase-hooks) to update the project wiki with build metadata. We stuck with bash, sed, and heredocs as we found use of Python and other languages unreliable in the Docker Hub build environment.

Now that we're running builds on GitHub Actions, we should mak

[2020-08-10 06:34] romainx commented on #1133
@parente Thank you to take care of contributors and maintainers like you do. It's really a pleasure to collaborate within this community.

[2020-08-10 22:26] JamesTownend commented on #408
This Dockerfile worked for me to provide user `joyvan` password-less sudo:

[code]

Build and run with:
[code]

[2020-08-16 09:56] romainx commented on #1124
Thanks @Bidek56 for this clear answer.
@techie-jai is it Ok for you?

[2020-08-16 11:04] techie-jai commented on #1124
Hi

Thank you for your reply. I am re-trying this today. Probably should work.

Thank you

On Sun, Aug 16, 2020 at 3:26 PM Romain <notifications@github.com> wrote:

[2020-08-16 11:22] techie-jai commented on #1124
I have a project that works perfectly on a Jupyter notebook. However, I want it to be an docker image, so that anybody can fetch and use it. I have a normal data train.csv file and a Jupyter Notebook file "myproject.pynb". I want a single image where these two files are pre-loaded and I just have to fetch and run a single image to make it work

[2020-08-16 11:38] chenbr commented on #1124
There’s many ways to skin that. Ping me and I can show you

On Sun, Aug 16, 2020 at 7:22 AM Jai Mishra <notifications@github.com> wrote:

[2020-08-16 12:04] techie-jai commented on #1124
ok sure, thanks

[2020-08-16 12:08] techie-jai commented on #1124
@chenbr where should I ping you

[2020-08-16 12:41] techie-jai opened #1147 "Adding a Jupyter pynb and csv File in the starting"
Hi Team

Great work on the image.

I tried the "docker run -p 8888:8888 jupyter/scipy-notebook:17aba6048f44" and it starts the Jupyter perfectly. However, I want to know if there is a way using which I can upload my custom file to this image, so that when I pull this image and build a custom one. That custom image when starts, it has my "example.pynb" and "train.csv" already in the folder of jupyt

[2020-08-16 13:50] parente commented on #1124
@techie-jai If your project is public, you might want to try https://mybinder.org/ which allows anyone on the internet to launch a Jupyter notebook from the contents of your GitHub repository.

If you want people to run your notebooks locally or share them privately, you could also look into https://github.com/jupyterhub/repo2docker which builds a Docker images for git repositories. (It's what myb

[2020-08-16 13:52] parente commented on #1147
Hi @techie-jai. I left a comment in your other related thread just now: https://github.com/jupyter/docker-stacks/issues/1124#issuecomment-674529076

Please let us know if mybinder.org or repo2docker help with your use case.

[2020-08-16 17:15] mathbunnyru opened #1148 "Run pre-commit hooks server side"
We already discussed with @romainx in https://github.com/jupyter/docker-stacks/pull/1123 pre-commit should be run server-side, to make sure everything will look good in master branch.

An easy way to run all pre-commit hooks:
`pre-commit run --all-files`

Actually, there are already many bashate and few hadolint errors.
So it would be great to fix them and enable server-side checks.

[2020-08-16 19:10] romainx commented on #1110
Hello, sorry I did not react to that since I have no opinion nor feedback on how it's done on other similar project.
However it's interesting, @parente what is your opinion?

[2020-08-17 03:44] #1131 closed

[2020-08-17 03:54] robrich commented on #1131
I love the versatility to pass in any version, but on Docker hub it appears
there's still only one version. Could the build be adjusted to run twice,
passing in 3.x and 2.x?

[2020-08-17 04:10] romainx commented on #1131
Hello,

Following the merge of the PR #1145 you can now build your own image with a different Spark version. [This part](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/specifics.html#build-an-image-with-a-different-version-of-spark) of the documentation explains how to do it.
We will not manage several versions in the stack (with different stack) because it's too much work. This proj

[2020-08-17 04:13] romainx commented on #626
Hello,

With the merge of the PR #1145 it's now possible to build an image with a different version of Spark. This [part of the documentation](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/specifics.html#build-an-image-with-a-different-version-of-spark) explains how to do it.

I propose to close this issue soon if you agree.

Best.

[2020-08-17 14:42] chenbr commented on #1124
email is good..

On Sun, Aug 16, 2020 at 8:08 AM Jai Mishra <notifications@github.com> wrote:

[2020-08-25 06:49] masip85 commented on #899
@step21 , numba is working from conda-forge:
[code]

What is left from docker-stacks? Many things of course, but should this be in a separated repo? Can things like extensions work in rpi?

[2020-08-25 20:43] mathbunnyru opened #1153 "An easy way to update packages versions"
I see a lot of commits just updating several packages.

It would be great to have a tool, which automatically finds all the versions which are old (with some blacklist maybe) and tries to update these versions and if tests pass, it will automatically commit the changes.

So we will always have latest (and greatest packages), and reduce a lot of manual work.

[2020-08-26 02:07] parente commented on #1153
One implementation thought: We could set up a GitHub Action workflow to run that tool on some cadence and open / close PRs based on test status.

[2020-08-26 04:31] romainx commented on #1153
Good idea, note that this tool already exist and can be used at least as a base. It is described in the [contributor documentation](https://jupyter-docker-stacks.readthedocs.io/en/latest/contributing/packages.html#notes).

[code]

[2020-08-26 12:04] step21 commented on #899
Thanks, yeah I worked on that one :)

Next thing would be some R packages, which require pandoc which requires Haskell which is not on conda for aarch64 yet. For now it has to be in a seperate repo, though I am also working on integrating qemu so that docker hub will build aarch64 for me as well.

Most jupyter lab extensions are just javascript, so they should definitely work.

[2020-09-04 21:05] mborgerding commented on #613
This seems to be it.
https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html

[2020-09-07 12:44] twrobinson opened #1155 "Suggestion for new feature in core stacks: batchspawner package"
Hi, as per https://jupyter-docker-stacks.readthedocs.io/en/latest/contributing/features.html, I would like to suggest the inclusion of batchspawner. Personally, I think that inclusion would make sense in the core stacks, as it is generally applicable (at least for those using JupyterHub with BatchSpawner!), is a lightweight package, and is not scientific software - so not stack dependent. I would

[2020-09-08 09:04] un4ckn0wl3z opened #1156 "Pyspark-notebook returned a non-zero code: 8"
I cannot build pyspark-notebook docker image. It's give me below error
 **### returned a non-zero code: 8**

Help me pls.

[code]

[2020-09-10 05:47] romainx commented on #1156
Hello @un4ckn0wl3z,

As the command that is failing relies on a downloaded archive, it can sometimes fail -- and we have already noticed that during the automated build on this project. Before further investigation could you please confirm that it is not a transient error by reproducing it a couple of times ?

Many thanks.

[2020-09-10 05:55] rhijit789 opened #1157 "Create docker image of Base-Notebook with python 2.7"
Hi,
I want to create a new image using base-notebook docker-stacks with python 2.7. I tried doing that but I am facing some issues.

Step 27/36 : RUN conda install --quiet --yes     'notebook=6.1.3'     'jupyterhub=1.1.0'     'jupyterlab=2.2.5' &&     conda clean --all -f -y &&     npm cache clean --force &&     jupyter notebook --generate-config &&     rm -rf $CONDA_DIR/share/jupyter/lab/staging

[2020-09-12 05:56] xsqian commented on #154
Hi @drdwitte In "'--jars /home/jovyan/spark-streaming-kafka-assembly_2.10-1.6.1.jar" part, what is the /home referring to? The /home on the docker? If that is the case, do you need to build the docker image with the .jar file on?
Thanks, Xingsheng

[2020-09-13 07:46] romainx commented on #1155
Hello @twrobinson,

Thank you for this suggestion.
I do not have a good knowledge of [batchspawner ](https://github.com/jupyterhub/batchspawner), but from my understanding it is a spawner like any others. In that case I'm not sure it's a good place to install spawners. As far as I know, spawners have to be installed on JupyterHub side, and the images in this repositories are more intended to be sp

[2020-09-15 15:28] mpmdean opened #1160 "cm-super for matplotlib latex plots"
I think scipy-notebook might be missing the cm-super package required for latex plots?

**What docker image you are using?**

`jupyter/scipy-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**
[code]

**What steps do you take once the container is running to reproduce the issue?**

Example:

1. Switch to jupyterlab appending /lab to brower UR

[2020-09-15 15:32] Bidek56 commented on #1157
Since Python 2.7 is no longer supported you will run into a lot of issues trying to do this.
I would suggest extending one of the old images that still have Python 2.7 if there are any at: https://hub.docker.com/r/jupyter/base-notebook/tags

[2020-09-16 10:34] liualexiang opened #1161 "build pyspark-notebook with spark2.4.6 failed."
I got an error when build docker image, is there any ideas?

[code]

**build command:**

[code]

**also tried:**
[code]

[2020-09-16 13:45] romainx commented on #1161
Hello @liualexiang

The command is OK, in fact the problem is related to #1158
The build only works as long as the Spark version is available on the [Spark download page](https://spark.apache.org/downloads.html).
In this case, the version `2.4.6` has been replaced by the version `2.4.7` so the build works only now with the version `2.4.7`.
See below a working example from your code just modified t

[2020-09-17 03:08] romainx opened #1163 "Allow pyspark-notebook build with archived Spark version"
Hello,

Two recent issues #1156 and #1161 have the same root cause. At this time the build of `pyspark-notebook` will only work with the set of versions available on the [Apache Spark download page](https://spark.apache.org/downloads.html), so it will not work with the archived versions.

To fix it, it sounds easy to switch to the [Spark release archives](https://archive.apache.org/dist/spark/) ho

[2020-09-17 05:24] liualexiang commented on #1161
Hi @romainx ,

I met a wired thing, the arguments didn't pass to docker build command.

[code]

[2020-09-17 08:50] gvojtko opened #1164 "Sync notebooks using docker-sync"
Hi, how I can syncing notebooks with my local storage using docker-sync? I need to have the files saved after the container is stoped.

[2020-09-17 10:14] liualexiang commented on #1161
I'm going to use the docker image in K8s, but the pod failed. Does this docker image support k8s platform?

[code]

[2020-09-18 00:52] marscod commented on #949
adding the following to the base model, works for me: `-e GRANT_SUDO=yes --user root`

[2020-09-18 14:53] Bidek56 commented on #1164
I think you want to mount a volume into your Docker container, that's the typical solution.

[2020-09-18 19:00] #1156 closed

[2020-09-18 19:00] #1161 closed

[2020-09-18 19:07] mpmdean commented on #1160
@parente I am not really understanding why this got closed. Is there a chance that some of the different issues got mixed up?

[2020-09-18 19:20] romainx commented on #1164
Thank you @Bidek56.
@gvojtko I think @Bidek56 is right, you can simply use a docker bind mount as described in [the documentation](https://jupyter-docker-stacks.readthedocs.io/en/latest/).

In this example adapted from the documentation

[code]

Could you please confirm if it answers to your question?
Many thanks.

[2020-09-18 20:18] romainx commented on #1157
@rhijit789 are you good with the @Bidek56 answer?
He's right, it will be complicated for us to spend time on an old Python version

Thanks in advance for your feedback.

[2020-09-19 04:44] romainx commented on #1160
@mpmdean my bad sorry. I typed the wrong PR number in a commit that has nothing to do with this issue. So the issue was closed automatically following the merge.

Sorry for that.

[2020-09-19 04:49] romainx commented on #1161
@liualexiang the answer is yes, this image can be used in K8s. See [Zero to JupyterHub with Kubernetes](https://zero-to-jupyterhub.readthedocs.io/en/latest/customizing/user-environment.html#choose-and-use-an-existing-docker-image) for more information.

Best.

[2020-09-22 09:08] JamesSample opened #1167 "Problem with `Restart kernel and run all cells` for R and Julia kernels in `datascience-notebook`?"
Hi,

I'm having issues with the `Restart kernel and run all cells` command for **R** and **Julia** kernels in the latest versions of the `datascience-notebook` (both the option in the `Kernel` menu and the shortcut button at the top of my notebooks). Older versions of the image (e.g. `54462805efcb`) work fine, but in the latest versions I have to _separately_ use the "Restart kernel" command - som

[2020-09-25 03:38] romainx commented on #1167
Hello @JamesSample

Thanks for reporting that. I confirm that I can reproduce it and that it only occurs with Jupyterlab and not classic Jupyter notebook UI.
This bug has been reported in the Jupyterlab project https://github.com/jupyterlab/jupyterlab/issues/9008.
So the most probable cause is that it is related to this upstream issue. In consequence we cannot do anything here, we just have to wai

[2020-09-25 03:55] romainx commented on #1164
I'm closing this issue because I think we've answered your question.
Feel free to reopen it if it's not the case.

Best

[2020-09-25 03:55] #1164 closed

[2020-09-25 03:57] romainx commented on #1157
Hello,

I'm closing this issue since I think we will not go further on this topic.
If you are not happy with our answer, feel free to reopen it 😕.

Best.

[2020-09-25 03:57] #1157 closed

[2020-09-25 07:42] JamesSample commented on #1167
Thanks @romainx! I'll downgrade to an older version of the image until the issue is fixed in JupyterLab.

Feel free to close this issue to avoid duplication if you think that's best.

[2020-09-25 08:48] romainx commented on #1167
@JamesSample thank you. I let it as a reminder to bump the package version once fixed.

Have a nice day.

[2020-09-25 09:37] romainx commented on #1155
Hello @twrobinson what do you think of my last comment?

Please let us know.

[2020-09-25 09:39] romainx commented on #1147
I'm closing this issue because we have already posted an answer on that.
Feel free to reopen it if it's not the case.

[2020-09-25 09:39] #1147 closed

[2020-09-25 09:41] romainx commented on #1124
Hello,

I'm closing this issue because @parente has given a smart answer and now the discussion is more a specific case and discussion than a topic for the community.
Feel free to reopen it if it's not the case.

Best.

[2020-09-25 09:41] #1124 closed

[2020-09-25 10:23] angelcervera opened #1168 "java.lang.UnsupportedOperationException using pandas in Spark"
**What docker image you are using?**
jupyter/all-spark-notebook

**What complete docker command do you run to launch the container (omitting sensitive values)?**
docker run -d -p 8888:8888 jupyter/all-spark-notebook

**What steps do you take once the container is running to reproduce the issue?**

1. Visit http://localhost:8888 with the token
2. Create a new `spylon-kernel` notebook.
3. Copy and p

[2020-09-25 13:22] twrobinson commented on #1155
Hi @romainx, excuse my slow reply - I was waiting to see if other contributors / maintainers had an opinion.

Yes, batchspawner is indeed required on the JupyterHub side. But if you are running your JupyterHub server outside the HPC cluster, then the jupyterlab build on the cluster will also need batchspawner (jupyterhub executes batchspawner-singleuser) in order for them to talk to each other.

I

[2020-09-25 15:34] rkdarst commented on #1155
@twrobinson is right, it's not strictly needed but this
`batchspawner-singleuser` wrapper would be needed if, for example, a
hub used batchspawner to invoke something on a cluster, that ran in a
docker/singularity container.  It's certainly possible, and with stuff
going towards containers more someone might even be doing it now.

Since batchspawer is very small, I guess it can't hurt.  But,
batch

[2020-09-25 15:39] twrobinson commented on #1155
Hi @rkdarst
Thanks for the positive feedback. I saw that you released 1.0 a couple of months ago - is there a reason you haven't published it on pypi?

[2020-09-25 15:47] rkdarst commented on #1155
There's no particular reason, other than waiting for a maintainer's
time.  I can't do it as I'm not a maintainer.

[2020-09-26 04:47] romainx commented on #1086
Hello,

This change has been implemented in the PR #1161

Best.

[2020-09-26 04:47] #1086 closed

[2020-09-26 14:33] romainx commented on #1168
Hello @angelcervera,

Thanks for reporting this issue.

Not sure we want to downgrade to Java 8. So if you want to draft a PR to implement the `-Dio.netty.tryReflectionSetAccessible=true` solution, go for it. In this case, it would be interesting to add a test case for that based on this example.

https://github.com/jupyter/docker-stacks/blob/332db3db9ebb51167ef6b21cf261022bd0fc4eae/pyspark-notebo

[2020-09-26 19:14] romainx commented on #1155
@twrobinson if you agree I'm going to close this feature request because I do not think we will work on it, at least soon.
Is it OK for you?

Thanks

[2020-09-27 06:30] romainx commented on #1148
Hello,

Now that we have moved to Github actions we should have a look to https://github.com/pre-commit/action.
I'm Ok to work on it and have a clearer way to lint all the files.

Best

[2020-09-28 03:49] mathbunnyru commented on #1148
Great, but first I will have to fix several bashate errors.

[2020-09-28 08:38] twrobinson commented on #1155
Yes, I think it is perfectly reasonable to close this request. Thanks!

[2020-09-28 08:38] #1155 closed

[2020-09-28 15:30] mpmdean commented on #1160
Solved via PR #1169

[2020-09-28 15:30] #1160 closed

[2020-09-28 19:30] romainx commented on #1148
@mathbunnyru for bashate errors I suggest the following configuration, it will permit to reduce significantly the number of errors by ignoring the rule `E006`: check for lines longer than 79 columns.

[code]

The remaining errors will not be too hard to fix nor too risky

[code]

[2020-09-29 14:27] Bidek56 commented on #1168
Please add these config options to resolve the issue:

`
conf.set("spark.sql.legacy.setCommandRejectsSparkCoreConfs","false")
conf.set("spark.driver.extraJavaOptions", "-Dio.netty.tryReflectionSetAccessible=true")
conf.set("spark.executor.extraJavaOptions", "-Dio.netty.tryReflectionSetAccessible=true")
`

I am going to try upgrading JRE to see if this issue is fixed in the newer versions, but last

[2020-09-29 14:35] angelcervera commented on #1168
Hi Derek.
If you want,  I can work on it, but no time until weekend.
If it's ok for you, I can create a PR.

Regards

On Tue 29 Sep 2020, 15:28 Darek, <notifications@github.com> wrote:

[2020-09-29 17:30] Bidek56 commented on #1168
I just tried upgrading Open JDK to 14, Spark work OK but this error still exists.
Not sure if it's worth upgrading JDK to 14 since it's not a LTS and it does not fixes this issue.
We may have to wait until JDK 14.0.2 or 15 to be available.

[2020-09-29 17:41] Bidek56 commented on #1168
I may do a PR for JDK 14 anyway hoping that it fixes this [issue.](https://github.com/fabric8io/kubernetes-client/issues/2145)

[2020-09-30 19:16] mathbunnyru commented on #1148
All issues are fixed, I will read the docs about github actions and add this feature.

[2020-09-30 20:07] romainx commented on #1148
@mathbunnyru OK but maybe I was wrong by pointing the reference to pre-commit actions. We have to stick with what has been done by @parente and maybe rely on the `make` tasks more than GitHub actions. This permits to reproduce at the command line the build steps and to keep a consistent behavior. For example
https://github.com/jupyter/docker-stacks/blob/36d857bb01215cd6ebf67e631092b4c1e81c75f0/.gi

[2020-10-01 04:07] romainx opened #1174 "Proposal: Reduce the number of editors in the stacks"
Hello,

We have plenty of editors installed in the stacks + Jupyter editors.

[code]

Some of them (in fact emacs) have a significative impact on the images size.

[code]

# Proposal

1. Remove jed. Rationale: I don't think it is widely used 👴--but maybe I'm wrong. The last version has been released more than 10 years ago (2009)
2. Remove emacs (I don't want to create a psychodrama 😨). Rationale:

[2020-10-03 08:40] EnziinSystem opened #1175 "Add datascience missing to datascience-notebook"
Hello,

Please add 'datascience' package to 'datascience-notebook'

[code]

For example, the block code below warning 'datascience' package missing.

[code]

Thanks.

[2020-10-07 12:02] bainadeashish opened #1177 "UI Distorted for jupyter notebook when run inside k8 pod"
Hi Team,

I am running image custom docker image of jupyter inside kubernetes pod

below is my docker file which is very straight forward:
FROM ubuntu:latest
RUN apt-get update && apt-get -y update
RUN apt-get install -y build-essential python3.6 python3-pip python3-dev
RUN pip3 -q install pip --upgrade
RUN pip3 install jupyter
RUN mkdir src
WORKDIR src/
COPY . .
ENV TINI_VERSION v0.6.0
ADD https:

[2020-10-08 18:00] Bidek56 commented on #1177
You need to check your browser networking tab and see which resources are getting 404, then:
1. Fix your ingress to serve those resources
2. Fix your `~/.jupyter/jupyter_notebook_config.py` to serve the html resources correctly

[2020-10-08 18:03] Bidek56 commented on #1177
I think this question belongs in the [Jupyter Forum](https://discourse.jupyter.org/) not here.

[2020-10-12 12:11] #1148 closed

[2020-10-12 21:05] Bidek56 commented on #1174
Emacs and Jed have to go, my grandmother stopped using those years ago. :)

[2020-10-15 03:41] kampandi commented on #58
Thanks, it works fine

[2020-10-15 06:49] jomach opened #1179 "Cloud minimal interfaces"
Hello everyone,

I would like to know if it would make sense to add to the base image the python apis for Azure, AWS and gcloud.
Example for azure:

[code]
 what do you think ?

[2020-10-16 15:30] romainx commented on #1179
Hello,

Thanks for this suggestion, it could be interesting, however we try to keep the images as small as possible and as much as possible easy to maintain. This is even more the case for the base images (`base-notebook` and `minimal-notebook`) because they are used as upstream images by all the others. These images are agnostic from their environment so I do not think we would like to add.

So I

[2020-10-16 15:38] romainx commented on #1175
Hello,

Thanks for the suggestion. I do not know this [datascience](https://github.com/data-8/datascience) package and I'm not sure that is widely used. For example is not included in the [Anaconda distribution](https://docs.anaconda.com/anaconda/packages/py3.8_linux-64/) which gather a crafted list of packages for data science.
We try to keep the images small and maintainable so we try to select

[2020-10-16 17:53] romainx commented on #1177
Hello @bainadeashish,

You are building a Jupyter image from scratch.
I'm sorry but I'm closing this issue because is not related to the images maintained in this repo.

Best.

[2020-10-16 17:53] #1177 closed

[2020-10-18 08:31] jomach commented on #1179
Fair enough

[2020-10-18 08:31] #1179 closed

[2020-10-20 08:31] romainx commented on #1103
Packages have not yet been removed.

[2020-10-20 15:20] romainx commented on #1153
I think one of the best way to do it would be to use a tool like [dependabot](https://github.com/dependabot/dependabot-core). However it does not support conda, and its Docker support will not help on our use cases.

[2020-10-20 15:24] romainx commented on #663
I'm closing this issue because mesos support has been droped.

[2020-10-20 15:24] #663 closed

[2020-10-21 06:44] romainx commented on #815
Hello,

Just made some checks on this topic and putting those instructions in `/etc/profile.d` will not work since most of the shells launched in this context are **non-login shells** that will not execute the content of `/etc/profile.d`. I think the the best solution is to move what is currently done in `/etc/skel/.bashrc` to `/etc/bash.bashrc`. `/etc/bash.bashrc` will be executed for all interac

[2020-10-21 07:10] #1103 closed

[2020-10-30 06:35] Mjvolk3 commented on #718
I have the same issue. Any new solutions?

[2020-10-31 18:06] earthastronaut opened #1183 "Docker BuildKit SSH fails to download repository"
**What docker image you are using?**

Tried with
`jupyter/scipy-notebook`
`jupyter/base-notebook`

And I imagine it effects all the images

**What complete docker command do you run to launch the container (omitting sensitive values)?**

[code]

With Dockerfile:

[code]

**What steps do you take once the container is running to reproduce the issue?**

Container fails to build.

**What do you expec

[2020-11-04 14:26] Bidek56 commented on #1183
Why would you post this question here instead of [SO](https://stackoverflow.com/)?
This seem to be a Docker issue instead of an image issue. Are you using WSL?
I see related issues on [SO](https://stackoverflow.com/questions/64221861/failed-to-resolve-with-frontend-dockerfile-v0)

[2020-11-04 15:00] earthastronaut commented on #1183
Well I don't think it's a docker issue because it works on Dockerfiles with different docker base images. I do think it's something to do specifically with the jupyter base image and how the environment is built. it is not a bug with the jupyter image per say, this is a feature request that the jupyter base image should work with buildkit ssh. I posted here because I believe it's specific to the j

[2020-11-04 15:39] mathbunnyru commented on #1183
@earthastronaut I think I know the problem in your example.

Actually, it's right in the logs you sent:
`#11 0.202 /bin/bash: git: command not found`

Basically, `git is not installed` in jupyter images.
So, if you want your example to work, just install `git` like this: `sudo apt-get install --yes git`.

I guess `git` is present in `python:3.9-buster`, so it works just fine.

[2020-11-04 16:09] earthastronaut commented on #1183
Shoot, I was sloppy there @mathbunnyru. My apologies, that was the wrong error message. I did fix the missing `git` requirement by adding an `apt-get` install. I update the error message in the ticket to show the one where it's failing to have access rights to github.

For historical reference this is the error message with the missing git error I posted originally:
[code]

[2020-11-05 08:48] romainx commented on #1183
Hello,

In fact `git` is not installed in `base-notebook` but installed in `minimal-notebook` and all upstream images.

https://github.com/jupyter/docker-stacks/blob/95ccda3619d03bfd6a2233b715ecc19d56966e05/minimal-notebook/Dockerfile#L11-L15

So the solution if you do not want to install it may be to switch to `minimal-notebook` or one of the upstream images.

[code]

I'm closing the issue, do no

[2020-11-05 08:51] mathbunnyru commented on #1183
@romainx after my comment Dylan fixed the description and the issue is not in the git not installed anymore.
It's something to do with permissions in jupyter images and definitely worth checking.

I can also confirm that I have the same issue when running the example above.
So, please reopen the issue, it's totally legit.

[2020-11-05 08:59] romainx commented on #1183
@mathbunnyru sorry my bad my answer was related to git installation.
I reopen it. If you can have a look It would be great 😄

[2020-11-05 20:07] romainx commented on #718
@Mjvolk3 could you please give a reproducible example, as things have changed since this issue was opened.
Many thanks

[2020-11-06 23:57] mathbunnyru commented on #1183
Ok, after spending quite a lot of time, I think I know what the issue is.

This is the thing - when you're running python:3.9-buster, you're using root.
But in jupyter dockers the user is non-root.
And here's the SO question for using ssh forwarding for non-root user:
https://stackoverflow.com/questions/60959367/ssh-forwarding-during-build-only-works-for-root

And finally, I was able to fix the bu

[2020-11-07 01:45] earthastronaut commented on #1183
Thank you @mathbunnyru ! That's brilliant. I checked too and there does not appear to be a way to use the NB_UID variable instead of hardcoding it. But hardcoding is not the worse. I'm not trying to change that value on the image.

[2020-11-07 05:13] martinorpa commented on #316
you need add start-notebook.sh first and second  start-singleuser.sh

-> docker run -it --rm jupyter/base-notebook  start-notebook.sh  start-singleuser.sh

or
-> on docker-compose.yml file
     volumes:
       - ./startup/start:/root/start:rw
     command: >
         sh -c "/root/start/start-notebook.sh && /root/start/start-singleuser.sh"

[2020-11-07 06:40] romainx commented on #1183
@mathbunnyru thank you for this work, impressive!
@earthastronaut if this solution is OK for you could you please close the issue?

[2020-11-07 06:45] #1183 closed

[2020-11-08 16:19] #1083 closed

[2020-11-10 16:55] saveriogzz commented on #552
Hey, thank you for this!
I'm also experiencing that when I use the container, I am logged in with an unknown user and the terminal says:
[code]
FROM jupyter/base-notebook:latest
USER root
RUN apt-get update
USER jovyan
RUN pip install xarray && \
  pip install scipy && \
  pip install netCDF4
[code]

[2020-11-11 08:32] romainx commented on #552
@saveriogzz

The problem in your start command seems to be summarized by the message `Container must be run with group "root" to update passwd file`.

An alternative could be to run the container as root and to use the options `NB_UID` and `NB_GID`.

[code]

However your solution should work according to the documentation [common options](https://jupyter-docker-stacks.readthedocs.io/en/latest/usin

[2020-11-11 08:46] saveriogzz commented on #552
It does!! Thank you so much @romainx !! :100:

[2020-11-11 08:51] romainx commented on #552
Note for later the problem comes from here

https://github.com/jupyter/docker-stacks/blob/42f4c82a07ff63af0f14492293e331eafa7691a9/base-notebook/start.sh#L104-L120

[2020-11-11 17:40] discdiver commented on #717
In case someone is here looking for a fix to this issue in the future - make sure you don't already have a Jupyter instance running locally. That was my issue and solved by a comment in a solution to this thread  https://stackoverflow.com/q/44030678/4590385 by user3780173 "That will interfere with the token input since both will be on port 8888." Shut down your local instance for the fix.

[2020-11-11 17:42] mathbunnyru commented on #717
Or, you can use another port for the docker version as well. Then everything should be fine with 2 simultaneous jupyter instances.

[2020-11-11 23:04] mathbunnyru commented on #941
Latest version of rpy2 right now is 3.3.6 (https://pypi.org/project/rpy2/)

And rpy2-feedstock also has this version (https://github.com/conda-forge/rpy2-feedstock/blob/master/recipe/meta.yaml)

And it is getting installed in the latest datascience stack:
https://github.com/jupyter/docker-stacks/runs/1370687524#step:8:5229

So, I think this issue can be closed.

@romainx @lgautier

[2020-11-12 10:33] ogierpaul opened #1187 "Volume: Permission denied"
## What docker image you are using?
jupyter/minimal-notebook

## What complete docker command do you run to launch the container (omitting sensitive values)?
[code]

## What steps do you take once the container is running to reproduce the issue?

1. Visit http://localhost:8888 & Login with token
2. Go to /home/jovyan/stagingarea
3. Attempt to create a simple notebook, or text file (Greetings.txt)

[2020-11-12 12:53] romainx commented on #941
@mathbunnyru thank you 🍰
You're right I'm closing this issue.
Best.

[2020-11-12 12:53] #941 closed

[2020-11-13 01:25] ThejYapa commented on #364
Check for updates and update docker. Then logout and login again.
If you are working on windows verify with "docker login".

[2020-11-15 14:21] romainx commented on #1187
Hello @ogierpaul,

You can use one of the following option or combination of options to achieve what you want to do and change the ownership of your mount that is by default owned by `root`.
They are described in the [Common Features](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html) chapter of the documentation.

- `CHOWN_EXTRA` option to

[code]

- `CHOWN_HOME` with `CHOW

[2020-11-16 12:07] ogierpaul commented on #1187
Thank you Romain. You can close the issue.

[2020-11-16 12:07] #1187 closed

[2020-11-17 15:05] JavierHernandezMontes opened #1191 "OpenSSH Information Disclosure Vulnerability in jupyter/scipy-notebook:42f4c82a07ff"
Hi! Thanks for using the Jupyter Docker Stacks.

Please review the following guidance about how to ask questions, contribute changes, or report bugs in the Docker images maintained here.

**What docker image you are using?**

Example: `jupyter/scipy-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

 `docker run -it --rm -p 8889:8888jupyter

[2020-11-17 19:18] romainx commented on #1191
Hello,

Those CVE are coming from our base image `ubuntu:focal` and are known in LOW priority with the status Ignored.

* [CVE-2020-14145](https://ubuntu.com/security/CVE-2020-14145)
* [CVE-2020-15778](https://ubuntu.com/security/CVE-2020-15778)

If you want to have those CVE fixed you can ask Ubuntu support or try to rebuild the image from another base image without those vulnerabilities.

So I'm

[2020-11-17 19:18] #1191 closed

[2020-11-17 19:24] romainx commented on #1175
Hello @EnziinSystem,

I've no update from your side, I'm closing this issue.
Feel free to update this issue if you have additional information leading us to change our mind.

Best.

[2020-11-17 19:24] #1175 closed

[2020-11-18 00:06] mathematicalmichael commented on #1174
100% agree

[2020-11-18 02:49] romainx commented on #626
Hello,

I think we have done most of the job and the remaining activity is described in another issue #1163.
@taqtiqa-mark if you don't mind I'm closing this issue.
Thanks again for sharing your relevant suggestions.

Best.

[2020-11-18 02:49] #626 closed

[2020-11-19 11:22] Jyotirm0y commented on #426
You may need to disable the hypervisor.

So, follow the next steps:

1) Open command prompt as Administrator

2) Run bcdedit to check hypervisor status:
bcdedit
3) Check hypervisor launch type:
4) If is set to auto then disable it:
bcdedit /set hypervisorlaunchtype off
5) Reboot host machine and launch VirtualBox again

[2020-11-27 20:43] romainx commented on #1101
Since we have no additional information for a while, i'm closing this issue. Feel free to write a comment in this issue if you have some update, we will be happy to help.

Best

[2020-11-27 20:43] #1101 closed

[2020-11-29 15:41] #1174 closed

[2020-11-29 15:56] parente commented on #1110
I'm OK squashing PRs that have a lot of iteration happening in them (e.g., fix, fix, fix, typo) and as long as the original contributor name is preserved as the author in the git history (i.e., we want to recognize people for their contributions).

[2020-11-29 15:58] parente commented on #1032
We prefer adding [recipes in the documentation](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/recipes.html) over installing new packages in the images to avoid forever increasing the size of the docker images and maintenance burden of this repository. We'd be happy to review and merge a [recipe pull request](https://jupyter-docker-stacks.readthedocs.io/en/latest/contributing/recipes

[2020-11-29 22:18] mathbunnyru commented on #1110
I see, there might be some problems with that.
I need to investigate this question.

[2020-11-29 22:20] mathbunnyru opened #1193 "Try pypy-based image"
Now, using miniforge, we may be able to try PYPY based images quite easily.
I'm not sure it would work and that it would be that easy, but it might give significant performance improvement and it that case it would be nice to have a choice.

For example, `scipy-notebook-python` and `scipy-notebook-pypy` would be fine for me.

[2020-11-30 12:13] bollwyvl commented on #1193
Having kicked the tires on a number of different configurations: stuff like
json parsing/validating gets the advertised 4x benefit, so tornado and the
notebook server run faster, and things _feel_ snappier...

In-kernel, for scientific computing, it's kind of a mixed bag... One you
get to numpy-derived things, the benefits are somewhat harder to maintain.
Also, as packages get more exotic, they ju

[2020-11-30 22:33] jakirkham commented on #1193
cc @mattip (who may be interested in this 😉)

[2020-12-01 05:38] mattip commented on #1193
Nice, thanks for piniging me. Do you get much feedback from end users what works for them and what doesn't?

[2020-12-02 14:36] marc1701 opened #1195 "Bind mounts not working"
Running jupyter/minimal-notebook using the following command:

`docker run -p 8888:8888 -v $(pwd):/home/jovyan/work jupyter/minimal-notebook`

But the /work directory on the container remains empty regardless of the status of the host directory. I have tried this code across two different Mac machines and a virtual linux installation and this is happening on all.

[2020-12-02 14:39] #1195 closed

[2020-12-08 19:29] warrenmsmith opened #1197 "Include sparkmagic in pyspark-notebook stack"
Including [sparkmagic](ttps://datacadamia.com/ide/jupyter/sparkmagic) enables a new use case -- enables me to stay remote but use Livy to connect to a remote spark cluster running in yarn (or any) mode. This aligns with connecting to remote EMR clusters from AWS as well as other providers.

[2020-12-08 22:11] pylang commented on #769
I experienced similar results as mentioned in @rubensa's post.  I found [adding the following flags](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html) *partially* resolved the missing files problem in `/home/username`: `-e NB_USER=... -e CHOWN_HOME=yes -w ...`.   The results:

Expected

- the original `/home/jovyan` is renamed to `/home/username`
- a `/home/jovyan/work` dir

[2020-12-13 11:03] romainx commented on #1168
Hello, just submitted the PR #1198 to fix it.
Please let me know if it's OK for you.
Best.

[2020-12-14 19:56] dschneiderch commented on #542
@rubensa how does this work? you can only run `docker run` once to create a container, right?

these permission issues are super frustrating because the [docs ](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html) seem to be misleading or I don't get it.

I'm running a server with CentOS 7 and trying to map an nfs mount to my container.
`(base) [dominik@cppc-server nfs-pcv-tes

[2020-12-15 10:21] DavidSpek opened #1199 "Delete build requirements in Dockerfiles"
As requested [here](https://github.com/jupyter/docker-stacks/pull/1196/files/feee7870b662e2836036cd31fb84330932937d51#r542640611) as a comment to an open PR of mine, I am opening an issue regarding deleting build requirements from the docker images after they are not needed anymore. The line in question is:
[code]
Which is installed to add an apt key in the same `RUN` command and deleted after its

[2020-12-15 11:50] sramirez opened #1200 "Cloudpickle error after re-building pyspark-notebook with custom spark version"
3. If you are reporting an issue with one of the existing images, please answer the questions below to help us troubleshoot the problem. Please be as thorough as possible.

**What docker image you are using?**

jupyter/pyspark-notebook:latest

**What complete docker command do you run to launch the container (omitting sensitive values)?**

docker build --rm --force-rm \
    -t jupyter/pyspark-note

[2020-12-15 12:29] romainx commented on #1200
Hello @sramirez,

In fact you're right there is an incompatibility between Spark `2.4.x` and Python `3.8`. However it's unclear -- at least for me -- if it will be supported in one of the `2.4.x` next release.
It's already possible to rebuild the `base-notebook` with a different python version.

https://github.com/jupyter/docker-stacks/blob/399cbb986c6bde361a5755c89a5544f23c2fa814/base-notebook/Do

[2020-12-15 12:41] sramirez commented on #1200
Yes, I supposed that was the best solution. I'm gonna test the latest image before the switch.

Thanks

[2020-12-15 14:14] mathbunnyru commented on #1199
The purpose of this change is to make the layers and the overall image size smaller.

[2020-12-21 15:22] romainx commented on #1197
Hello @warrenmsmith,

Sorry for the late answer. It's a good suggestion to include [Sparkmagic][1]. However if at first sight, it seems obvious to add it to the `pyspark-notebook` image, I'm wondering if it's a good idea since the image is quite heavy with the installation of Java and Spark. One of the advantage of using Sparkmagic is to avoid installing Spark locally and all the compatibility pro

[2020-12-21 15:52] warrenmsmith commented on #1197
I agree wholeheartedly, @romainx ! The key idea here is to enable quick-and-easy usability and enable the key development concepts of "start small, finish big!". Ideally, I would begin development on my local pyspark and get kinks out, build test cases, and work with small datasets. Without changing environments, I then connect (via livy) to EMR and BOOM! I'm running the exact same analysis and co

[2020-12-21 16:39] romainx commented on #1197
👍🏼 thanks for the answer.

In fact no, Sparkmagic is only a kind of wrapper around the Livy REST API. When using it mimics a Spark direct interaction but behind the scene it's all about HTTP asynchronous calls between the notebook and the Livy server. So you do not need Java nor Spark to use Spark through Sparkmagic / Livy.

I do not know the reason behind the existence of the `pyspark-notebook`,

[2020-12-26 16:22] #1168 closed

[2020-12-27 10:32] romainx opened #1203 "Improve monolithic build"
Hello,

As discussed in two recents PR (#1196 and #1202) the current build seems to be too monolithic.

We should benefit from GitHub actions that have been introduced by @parente in PR #1132 and / or by proposal made by @bollwyvl in his [comment](https://github.com/jupyter/docker-stacks/pull/1202#issuecomment-751359223). My first idea is to split the treatment of each image in different jobs that

[2020-12-27 11:07] romainx commented on #1200
@sramirez Since this problem is not related to the image and related to upstream compatibility between Spark and Python, I'm closing this issue.
Feel free to leave a comment if you want to give more information or need more support from our side.
Best.

[2020-12-27 11:07] #1200 closed

[2020-12-28 18:32] mirekphd opened #1205 "[base-notebook] Cannot connect to server after upgrading to Jupyter Lab 3.0.0"
After upgrading (by unpinning 3 Jupyter packages in [my fork of docker-stacks](https://github.com/mirekphd/docker-stacks/commit/0e7b985eaaba531e8f4dfd440b990c6a6a12f332)) Jupyter Lab / Server no longer works (only Notebook is still OK).

To reproduce:
1. Clone my fork `mirekphd/docker-stacks` (or reproduce it by making [this change](https://github.com/mirekphd/docker-stacks/commit/0e7b985eaaba531e

[2020-12-29 16:23] romainx commented on #1205
Hello,

The problem seems to come from the file `jupyter_notebook_config.py` that needs to be renamed in `jupyter_server_config.py` in `/etc/jupyter/`, and change in this file `NotebookApp` by `ServerApp`, see [this][1] discussion.

[code]

After these changes the problem is fixed and JupyterLab is accessible.
We have not migrated yet to the `3.0` version, so I will make this change along with the

[2020-12-29 16:50] romainx commented on #1205
Hello,

Here is the documentation [Migrating from Notebook Server][1] explaining this change.

[1]: https://jupyter-server.readthedocs.io/en/latest/operators/migrate-from-nbserver.html

[2020-12-29 17:09] mirekphd commented on #1205
Thank you so much @romainx !

The docs even warn about the impending doom: _"NBClassic will only work for a limited time. Jupyter Server is likely to evolve beyond a point where Jupyter Notebook frontend will no longer work with the underlying server."_ How unfortunate that the two interfaces cannot continue to co-exist peacefully...

[2020-12-29 20:15] romainx opened #1207 "JupyterLab 3.0"
Hello,

JupyterLab `3.0.0` introduces major changes that could impact:

- the compatibility between Jupyter Notebook and JupyterLab,
- the way extensions are managed.

# Terminology

Very good status taken from https://github.com/nbgallery/docker-images/issues/17

# Impact

## Jupyter Notebook and JupyterLab

[Jupyter Notebook][1] is deprecated and it is advised to transition to JupyterLab.

See d

[2020-12-29 21:26] FuriouslyCurious commented on #1205
Thanks for this solution!  If someone running as a non-root user, then these config files should be placed in `~/.jupter` config directory.

[2020-12-30 07:05] romainx commented on #1197
For information, the PR #974 was a proposal of this new image.

[2020-12-30 09:37] phish108 commented on #1205
Hi @FuriouslyCurious  @romainx

I tried to apply this hotfix ontop of `jupyter/base-notebook:latest` by adding

[code]

before switching to the container user.

The error persists with the present `base-notebook` container using JL 3.0.0.

I manually added the fix to `.jupyter/jupyter_notebook_config.py` without effect.

Despite setting `c.ServerApp.open_browser = False` I continue to get the foll

[2020-12-30 09:48] romainx commented on #1205
@phish108 you need to first copy the file to `jupyter_server_config.py` and you have to maintain both files if you want to use either classic notebook and JupyterLab.

[code]

[2020-12-30 09:54] phish108 commented on #1205
Couldn't this be part of base-notebook? I understand that both configs do not conflict with each other or am I missing something?

[2020-12-30 10:16] romainx commented on #1205
@phish108 Maybe but I have not tested the behavior with the current version of JupyterLab `2.2.9`.
I've drafted a PR #1206 that bumps the version of JupyterLab to `3.0.0` but it's not ready right now since it conflicts with some extensions installed in `scipy-notebook`.
Maybe we could release a kind of intermediate version with this code.

[2020-12-30 10:25] mirekphd commented on #1205
Yes, `jupyter_server_config.py` is not sufficient to run both interfaces, because Notebook still requires `jupyter_notebook_config.py`. You can switch from Lab to Notebook (e.g. using Help->Launch classic Notebook) without `jupyter_notebook_config.py`, but you cannot start Notebook standalone without it.

[2020-12-30 10:40] phish108 commented on #1205
@romainx Thanks for the infos. Eventually I have my container running and noticed that all of the community extensions I use  are currently outdated, so this will take a while.

@mirekphd I got that part. But apart from the server configuration they do not differ too much, so the two files could exist side by side in the base-notebook.

I tried this side-by-side setup for JL 2.2.9 and it causes no

[2020-12-30 10:42] romainx commented on #1205
@phish108 thanks for the information I'm currently modifying my update PR #1206 to rollback to JupyterLab `2.2.9` waiting for extension compatibility. I've included this change to prepare the upgrade. So there is a chance to have it included soon 😄

[2020-12-30 12:11] fburak commented on #976
Same problem for me and i agree with the advice above

[2020-12-30 12:46] mirekphd commented on #1205
I think @romainx the initial answer [here](https://github.com/jupyter/docker-stacks/issues/1205#issuecomment-752144794) could be improved by incorporating the two-files setup or at least a warning that renaming (instead of copying) the config will break standalone Notebook.

[2020-12-30 15:55] mirekphd commented on #1205
I tried the dual-file setup in `jupyterlab==3.0.0` and while superficially both interfaces seem to work OK, after some testing it turns out that Jupyter Notebook extensions and their configurator refuse to work in any configuration.

So for production containers, I too had to roll back to `jupyterlab==2.2.9`, `notebook=6.1.5`, `jupyterhub=1.2.2`, and `nbconvert==5.6.1` (the last one as a workaroun

[2020-12-30 20:31] romainx commented on #1205
@mirekphd In my last build I've used the following versions that are slightly different than your versions. Have you tried this setup ? If so, have you identified issues?

[code]

Thanks

[2020-12-30 22:01] mirekphd commented on #1205
I think that only `nbconvert>=6` is a dog, I had to downgrade it to `nbconvert==5.6.1` to work around https://github.com/ipython-contrib/jupyter_contrib_nbextensions/issues/1529

To reproduce that issue, switch from Lab to Notebook (Help -> Launch Classic Notebook) and then try to run its extensions configurator (Edit -> nbextensions config) and you should see in server log multiple 'template_path

[2020-12-30 23:07] R7President commented on #1205
1. I suggest a document on how to move from 2.2.x to 3.0.0 that can include renaming the config file from jupyter_notebook_config.py to jupyter_server_config.py (but see note below there appears to be a different file)
2. in addition to ip, port and open_browser   there are more items that moved: I noticed allow_remote_access
3.  There is something else wrong with open_browser, it does not seem to

[2020-12-31 08:21] romainx commented on #1205
@R7President you're right we will do it carefully. What has been exchanged here is just a workaround since the current stack still uses JupyterLab `2.2.x`.

So the plan is to

- perform a stack update with JupyterLab `2.2.x` -> PR #1206
- study and perform the upgrade to JupyterLab `2.2.x` -> #1207

[2021-01-02 19:34] #1205 closed

[2021-01-02 19:50] romainx commented on #1207
@parente I have integrated your comments in the issue description.
My first idea is to make make the switch to JupyterLab in several steps, what is your opinion?

## Switch to JupyterLab by default

With JupyterLab `2.2.x` and notebook `6.x`.

- Switch to JupyterLab by default in the start script and so for the test.
- Update the documentation accordingly.
- Deprecate in the documentation and in t

[2021-01-05 17:57] romainx commented on #1199
Hello @mathbunnyru & @DavidSpek,

Thanks for this suggestion. However I'm wondering where to apply it.

From the [man page][1]

So from my understanding, it can be used in conjonction with `apt-get remove`, but we are not removing any packages in the `Dockerfiles`.

So `autoremove` can be used to clean unused dependencies. But I tried on the last image in the lineage `all-spark-notebook` and it se

[2021-01-07 03:40] amazongodman opened #1208 "Install the base-notebook and change Python version(not jupyter stack tag) ."
Hi,
I read [this](https://github.com/jupyter/docker-stacks/issues/976).

and I want to change python_version by rewriting the dockerfile instead of looking for the tags in jupyter/notebook-stacks.

**What docker image you are using?**

`jupyter/base-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

git clone  jupyter/docker-stacks
and edit

[2021-01-07 04:13] amazongodman commented on #1208
when I set python=3.5

[code]

conda==4.9.2 is miss much?

[2021-01-07 06:08] romainx commented on #1208
Hello @amazongodman,

The version you are looking for `3.5.0` is not available in conda-forge.

[code]

So the older version available for `3.5` is `3.5.1` and the latest is `3.5.5`.

If you want to use one of them you have not to edit the `Dockerfile` you can pass the pass the python version as an `ARG` at build time. But Python `3.5` seems to be in conflict with the version of conda `4.9.2`. I w

[2021-01-07 06:08] #1208 closed

[2021-01-07 06:21] amazongodman commented on #1208
Hello @romainx

I never know that build-arg existed !
Thanks for sharing(teaching) that new knowledge!

I see that 3.5 conflicts with conda 4.9.2.
I'm curious because of my intellectual curiosity, so I'll try to find out for myself.

3.6 doesn't even have a tag in the jupyter repository in docker hub, so this is very valuable advice!

[2021-01-07 06:39] romainx commented on #1199
Hello @mathbunnyru,

Ok got it. However I'm not sure in our case it's worth doing it for `wget` specially if we consider that it is used in some downstream images and that it can be useful in other circumstances. I would not be 100% for removing it. So I'm closing this issue since we have no defined action to do.

Best.

[2021-01-07 06:39] #1199 closed

[2021-01-11 19:07] RichardBronosky commented on #408
I came here to say the same thing. https://github.com/jupyter/docker-stacks/blob/master/base-notebook/start.sh#L89-L93

I will add that if the way the maintainers have chosen to handle users and password, you can change it in a Dockerfile. I explain how to add/change user/password in https://askubuntu.com/a/1307156/146273
[code]

[2021-01-11 19:29] RichardBronosky commented on #949
If you want to understand the `docker run -it --rm -e GRANT_SUDO=yes` thing, see https://github.com/jupyter/docker-stacks/blob/master/base-notebook/start.sh#L89-L93

I will add that if the way the maintainers have chosen to handle users and password, you can change it in a Dockerfile. I explain how to add/change user/password in https://askubuntu.com/a/1307156/146273
[code]

[2021-01-13 15:36] trallard commented on #1153
I think the idea of having a GitHub action to update the dependencies would be a good approach (and overcomes the limitations from dependabot).

I would be happy to give this a go

[2021-01-13 18:26] mathbunnyru commented on #1153
I think no one has been working on this issue for the past few months, so I say, git this a go, if you want to, it would be awesome :)

[2021-01-14 09:54] trallard commented on #1153
Great - will get working on this and create a draft PR as soon as possible

[2021-01-14 20:00] MridulS opened #1210 "Add mamba to base-notebook?"
Thanks for maintaining these images!

Does it make sense to add [mamba](https://github.com/mamba-org/mamba) to the base-notebook image? https://github.com/jupyter/docker-stacks/blob/703d8b2dcb886be2fe5aa4660a48fbcef647e7aa/base-notebook/Dockerfile#L133-L137
It speeds up installation of `conda` packages and `docker build` time significantly downstream, some rudimentary tests on scipy-notebook makes

[2021-01-15 04:16] romainx commented on #1210
@MridulS thank you.
Yes it could be an option especially since we have recently switched to [miniforge](https://github.com/conda-forge/miniforge) and mamba is already shipped with one of the installer flavor `Mambaforge-Linux-x86_64.sh`. So installing it will just be a matter of changing the `ARGs` in the `Dockerfile` and then calling `mamba` instead of `conda` for packages installation.

https://

[2021-01-15 10:32] #899 closed

[2021-01-15 11:21] mathbunnyru commented on #1210
I think, having much faster builds sounds great 👍

I think we should try to compare the build time using regular condo and using mamba for some heavy image like tensorflow-notebook. And compare sizes of the resulting images.
@MridulS could you please share this information with us?
Maybe you can draft a PR with the changes you made so we can see the amount of diff to enable mamba?

If the differen

[2021-01-15 12:11] dporp opened #1211 "How to build pyspark image with specific version of spark and python?"
Hi!
I can not find answer either documentation and Github issues.
I have one pretty simple question: How to build pyspark-notebook with specific version of spark and python.
I have used this
[code]
to set up a version of spark, but how to set up a version of python?
I can do it in base-notebook using arg `PYTHON_VERSION `  (from this https://github.com/jupyter/docker-stacks/blob/master/base-notebo

[2021-01-15 14:33] Bidek56 commented on #1211
I would probably take one of the existing images from [Docker Hub](https://hub.docker.com/r/jupyter/pyspark-notebook) and extend it.

`FROM jupyter/pyspark-notebook
....`

[2021-01-15 14:36] dporp commented on #1211
@Bidek56 thanks.
Maybe you can give me advice on how to find `pyspark-notebook` image that uses python=3.7 in the Dockerhub?

[2021-01-15 14:52] Bidek56 commented on #1211
I would start with `docker pull jupyter/pyspark-notebook:spark-2` but this image maybe using Python 3.8 already.
If you need 3.7, pulling an image from 2 years ago should do. It's easy enough to pull and do: `docker exec -it` to check the version.
Another option is to grab an older version of [Dockerfile](https://github.com/jupyter/docker-stacks/blob/master/base-notebook/Dockerfile) and start with

[2021-01-15 15:07] dporp commented on #1211
@Bidek56 thanks, I will do it.

[2021-01-15 17:15] romainx commented on #1211
Hello @dporp and thanks @Bidek56,

Just to add a link to a recent issue #1200 and particularly to this [comment](https://github.com/jupyter/docker-stacks/issues/1200#issuecomment-745258117) on pretty much the same topic and the same conclusion if it could help.

Best

[2021-01-15 17:39] romainx commented on #1210
Let's try it -> #1213 😄

[2021-01-15 17:59] mathbunnyru opened #1214 "Automatically send build times and images size for all PRs"
The idea is to be sure, that the image is not building slower than it was and the image size is acceptable.

The idea came from https://github.com/jupyter/docker-stacks/pull/1213

[2021-01-15 18:02] romainx commented on #1214
I'm waiting for your implementation, in the meantime I will do it manually 😭

[2021-01-15 18:04] mathbunnyru commented on #1214
I'll implement it for sure 👍
I think there should be an easy GitHub action to do it.

It'll take some time, because I don't have much free time at the moment, but I will try my best :)

[2021-01-15 18:13] romainx commented on #1214
@mathbunnyru obviously it's not urgent at all. But it could be interesting. For information @parente shared in #693 a notebook performing this kind of comparison https://nbviewer.jupyter.org/gist/parente/316d5c242aeb484484c8 from various tags / date directly from DockerHub.

<img width="411" alt="Jupyter_Notebook_Viewer" src="https://user-images.githubusercontent.com/7131913/104763046-a23aad80-576

[2021-01-15 18:19] mathbunnyru commented on #1214
Thanks for the link!

We can't do this for the image in the PR, because it is not uploaded to dockerhub, but we can fetch the numbers for the current master and do the comparison.

[2021-01-16 07:15] romainx commented on #1210
Hello,

We have a first result summarized in [this comment](https://github.com/jupyter/docker-stacks/pull/1213#issuecomment-761517281).

- **Build time**: no improvement
- **Size**: +20MB for most images. But some weird results on several images ending with images built by mamba lighter than images build by conda especially images with R packages . We have to understand the reason, because we are

[2021-01-16 17:59] sandeepmohan opened #1215 "Code Completion in Notebook not working - Tab not functional"
**What docker image you are using?**

`jupyter/all-spark-notebook

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -it --rm -p 8888:8888 jupyter/all-spark-notebook:latest -v mylocaldir:/HOME/JOVYAN/WORK
`
**What steps do you take once the container is running to reproduce the issue?**

Example:

1. Visit http://localhost:8888
2. Start a

[2021-01-17 15:34] romainx commented on #1215
Hello @sandeepmohan,

You're right did not notice it. This is issue is tracked in https://github.com/ipython/ipython/issues/12740. Apparently the root cause is a compatibility problem between `ipython` and `jedi` `1.8.0`. The root cause seems to be https://github.com/davidhalter/jedi/issues/1714.

The workaround is to downgrade the version of `jedi`. You can do it directly in the notebook console

[2021-01-17 17:59] #1215 closed

[2021-01-18 04:37] sandeepmohan commented on #1215
Romain,

The fix works. Just updated my stack and I am back in business. Many
Many Thanks!!

--
Sandeep Mohan
sjmohan@gmail.com | (703) 732-3757

On Sun, Jan 17, 2021 at 1:00 PM Romain <notifications@github.com> wrote:

[2021-01-18 05:34] romainx opened #1217 "Jupyter Notebook deprecation"
[Jupyter Notebook][1] **is deprecated and it is advised to transition to JupyterLab**.

The recent issue #1205 has shown that keeping both may lead to issues.

The newly preferred backend for JupyterLab 3.0 is [`jupyter-server`][3] instead of [`notebook`][1]: https://jupyterlab.readthedocs.io/en/stable/getting_started/changelog.html#jupyter-server.

## Roadmap

1. **Deprecation**: Maintain compati

[2021-01-18 13:03] #1211 closed

[2021-01-19 07:02] romainx opened #1218 "Grant user mathbunnyru triage rights"
_Follows the same pattern as the issue that was created to grant me the same rights (#1036)._

@mathbunnyru  has been helping out quite a bit with responding to issues and submitting pull requests here for the past couple months, and doing so in a positive way in keeping with the Jupyter Code of Conduct. We would like to grant him triage rights as a stepping stone toward maintainer rights.

First,

[2021-01-19 11:22] mathbunnyru commented on #1218
Yes, I would be glad to have triage rights and help when I can! 👍

Thanks for the proposal @romainx :)

[2021-01-19 13:08] parente commented on #1218
Thanks for opening this @romainx. I'm in favor.

Thank you @mathbunnyru for your contributions so far. I'm happy to see you continue your participation in the project.

I've set my self a reminder to check back on the 26th.

[2021-01-19 17:16] pylang opened #1219 "Update the base environment?"
**What docker image you are using?**

The link in the README to the latest image on master.

**What complete docker command do you run to launch the container (omitting sensitive values)?**

I clicked link

https://mybinder.org/v2/gh/jupyter/docker-stacks/master?filepath=README.ipynb

**What steps do you take once the container is running to reproduce the issue?**

Example:

1. Open a new notebook

[2021-01-19 18:07] mathbunnyru commented on #1219
The issue is not actually in the base-image, it is updated quite a lot and right now we use python `3.8.6`, which should work just fine.

The problem is in the image used by mybinder.
https://mybinder.org/v2/gh/jupyter/docker-stacks/master?filepath=README.ipynb

And the phrase `You can try a recent build of the jupyter/base-notebook image on mybinder.org` is confusing as well.

[2021-01-19 18:08] mathbunnyru commented on #1219
I found the reason for the problem:

We hardcode the version for binder image:
https://github.com/jupyter/docker-stacks/blob/master/binder/Dockerfile

So, as a hotfix we can just update the tag used there.

[2021-01-19 18:10] mathbunnyru commented on #1219
I will craft a PR today or tomorrow, it sound super-easy.

[2021-01-19 19:26] romainx commented on #1215
Note: Here is another way that could be used to fix this issue

[code]
https://github.com/ipython/ipython/issues/12740#issuecomment-763018119

[2021-01-20 06:17] #1219 closed

[2021-01-20 20:21] jeffyjefflabs commented on #1207
Clarification question... I was following the discussion in #1209, and the decision to keep `notebook` as the default entrypoint until April seems reasonable.  However, based on the plan described here, does that mean you're planning to keep `jupyterlab` pinned to version 2 until then as well?  Lab 3 does still run as a serverextension on the old notebook back-end, even though it's not "preferred"

[2021-01-21 06:53] romainx commented on #1207
Hello @jeffyjefflabs,

No we were just waiting a bit because some of the extension we are using in `scipy-notebook` were not working with JupyterLab `3.0`. At the time of writing only bokeh seems to not be supported. So I have planned to draft a PR for the upgrade this weekend because it seems reasonable now even without 1 of the 3 extensions installed.

Yes you're right and we know it's working.

[2021-01-21 14:43] jeffyjefflabs commented on #1207
Excellent!  Thanks for the update.

[2021-01-24 19:35] mathematicalmichael commented on #899
every time I'm reminded of R's dependencies I want to cry. Thanks for putting in the work on this stuff!

[2021-01-24 22:25] doglasfc-docker opened #1223 "No permission to access /home/jovyan/work folder"
when I use following command:
docker run --rm -p 10000:8888 -e JUPYTER_ENABLE_LAB=yes -v "$PWD":/home/jovyan/work jupyter/datascience-notebook

I don't have the permission to navigate  /home/jovyan/work folder to create any files in jupyter environment?

(Since I set the the volume to $PWD, I want to create  a file in $PWD location and see it in /home/jovyan/work of Docker image instance.

Sorry,

[2021-01-25 00:19] gaow opened #1224 "Change UID for jovyan results in login as root"
According to [this page](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html#docker-options):

However it does not work for me:

[code]

I am expecting that by using `-e NB_UID=$UID --user root`  I'll be able to change UID for jovyan to 1003 then still run the container as jovyan for Jupyter -- I use command terminal above just to show what the problem is. Am I wrong about it?

[2021-01-25 15:31] Bidek56 commented on #1223
Have you searched prior issues before posting this? Please [see](https://github.com/jupyter/docker-stacks/issues/542) which has references to few solutions.
What OS are you using? WSL2 is known to have permission issues.

[2021-01-26 14:21] parente commented on #1218
Today's the day. I see no objections and only support.

@mathbunnyru I've added you as a collaborator with triage rights. You should get an invite via email. Cheers!

[2021-01-26 14:21] #1218 closed

[2021-01-26 14:22] mathbunnyru commented on #1218
I received the invitation and accepted it 🎉

[2021-01-27 06:14] #1167 closed

[2021-01-27 06:14] #1207 closed

[2021-01-27 08:45] romainx commented on #1224
Hello @gaow,

No it's OK like this (even if you may need to expose the port to use the notebook UI).
You just need to tell `docker exec` to use the right user through the `--user` flag ([doc](https://docs.docker.com/engine/reference/commandline/exec/)).

[code]

Best

[2021-01-27 08:45] #1224 closed

[2021-01-27 11:15] step21 commented on #899
Thanks. On another packages, I could sidestep haskell/pandoc as it was only used for documentation. But not sure if that is also true for R.

[2021-01-27 20:34] romainx commented on #1223
Hello @doglasfc-docker,

Thanks @Bidek56 for this suggestion. In addition, we have not yet taken the time to do it but we would like to create a troubleshooting page and one of the recurring issue / question is this one. This initiative is described in the issue #1071 (I have just added your suggestion @Bidek56) and there is a section called _Permission denied when mounting local folders_ listing

[2021-01-27 20:34] #1223 closed

[2021-02-02 20:08] minertom opened #1226 "How can I see what packages are installed in the data science notebook"
I have successfully downloaded and built the docker file for the data science notebook.  It runs the jupyter notebook locally.

However, I don't really know which packages are loaded in it. For example, I type hit or miss "import pandas as pd" and that works, as to several others. But how can I tell which packages are really installed in the image?

Thank You
Tom

[2021-02-02 20:34] mathbunnyru commented on #1226
Hello, Tom!

You can run `!conda list` in a cell, which will run this command in place.
You can also run `conda list` in a terminal.

More info on how to use `conda`: https://docs.conda.io/projects/conda/en/latest/user-guide/index.html

[2021-02-02 22:21] minertom commented on #1226
Thank You!

Tom

On Tue, Feb 2, 2021 at 12:34 PM Ayaz Salikhov <notifications@github.com>
wrote:

[2021-02-02 23:40] romainx commented on #1226
Hello @minertom,

A **build manifest** is also available in the [GitHub Wiki](https://github.com/jupyter/docker-stacks/wiki).It displays the list of packages installed in each image tag. [Here](https://github.com/jupyter/docker-stacks/wiki/datascience-notebook-5cb007f03275#python-packages) is the list of packages for the latest `datascience-notebook`.

Best

[2021-02-02 23:40] #1226 closed

[2021-02-03 06:46] amazongodman opened #1227 "Is there any way to send files to the local volume after starting jupyter stack?"
I have completed the tutorial from start to finish.

I confirmed that I can connect to local volume by starting the docker run command with the "-v" option.

If I forget to fill in -v at startup, is there any way to send files or notebooks 'ipynb' to local?
(or download)

thank you.

[2021-02-03 20:06] Bidek56 commented on #1227
What's wrong with clicking the download button? :)

[2021-02-03 21:35] JessicaBarh opened #1228 "failed to load jupyterlab-git server extension"
**What docker image you are using?**

jupyter/datascience-notebook:r-4.0.3

**What complete docker command do you run to launch the container (omitting sensitive values)?**

docker run -p 8888:8888 jupyter/datascience-notebook:r-4.0.3

**What steps do you take once the container is running to reproduce the issue?**

1. Visit http://localhost:8888/lab
2. pip install --pre jupyterlab-git
3. verify i

[2021-02-03 23:46] amazongodman commented on #1227
It seems to have been a temporary problems.
Now I was able to download and upload without any problems.
I thought It was not a temporary problems, but I mistakenly thought that I could not interact with the virtual environment.

thank you !

[2021-02-03 23:46] #1227 closed

[2021-02-04 01:20] pylang opened #1229 "Volumes deleted when entering a container"
**What docker image you are using?**

`jupyter/scipy-notebook:latest`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

First, the setup:

[code]

Now the command:

[code]

Note: `sudo` may be optional on your system.  Replace `user` with your appropriate username.

**What steps do you take once the container is running to reproduce the issue?**

No

[2021-02-04 13:56] mathbunnyru commented on #1228
I think this is an issue in the upstream.
https://github.com/jupyterlab/jupyterlab-git/issues/779

Docker-stacks have recently moved to jupyterlab 3.0, that's why some extensions need to update to work well with the stacks.

For now, if you don't need latest features, you can use an older image which still uses jupyterlab 2.0.

[2021-02-04 23:54] jameslao commented on #1228
I'm facing the same issue even when installed on bare metal. Everything looks fine though.
[code]

[2021-02-04 23:57] jameslao commented on #1228
Ah, it magically gets resolved after using `c.Spawner.cmd=["jupyter-labhub"]` in jupyterhub...

[2021-02-05 00:00] JessicaBarh commented on #1228
Which file is that in?

[2021-02-05 00:02] jameslao commented on #1228
`/etc/jupyterhub/jupyterhub_config.py'

[2021-02-05 09:50] JonasGeckomatics opened #1230 "Spark-Submit not reaching the right python environment"
**What docker image you are using?**

Both jupyter/pyspark-notebook & jupyter/all-spark-notebook

**What complete docker command do you run to launch the container (omitting sensitive values)?**

docker run --rm -v $(pwd)/:/home/jovyan jupyter/pyspark-notebook spark-submit ./test.py

and in test.py you have this small script to test if pyspark work

[code]

**What do you expect to happen?**

I wou

[2021-02-05 10:24] #1230 closed

[2021-02-05 10:26] JonasGeckomatics commented on #1230
Somebody noticed that I was using a test script called pyspark.py instead of text.py => circular error

[2021-02-05 16:35] leewallen commented on #272
@bharath02 - You could try building a docker image using the docker-stacks image you were trying to use as the base image, and then add this:

`RUN (cd /usr/local/spark/jars && curl -O https://repo1.maven.org/maven2/net/java/dev/jets3t/jets3t/0.9.4/jets3t-0.9.4.jar)`

I did that (and included the hadoop-aws jar and aws java SDK jar) and had things working for a little while.

Unfortunately I made

[2021-02-05 17:05] JessicaBarh commented on #1228
Hi @jameslao!
Can you share some more details on how you did this? Still not working with me :/
What docker-stacks image/tag are you using?
How do you start up your jupyterlab?
Also I didn't have an existing "jupyterhub_config.py" file so I had to create it..did you need to do the same?

Thanks, any help would be very appreciated! 😄

[2021-02-05 17:09] jameslao commented on #1228
Hi sorry I'm not using a docker image but a bare-metal installation with JupyterHub. ￼I am only in this thread because I was looking for the same symptom. Sorry again if I caused any confusion. ￼

[2021-02-07 18:23] maresb opened #1233 "Consider redoing all scripts with Xonsh"
I've become a big fan of the [Xonsh](https://xon.sh/) shell scripting language. It allows for almost seamless mixing between Bash and Python. Thus you get the sanity of Python, but you can still simply run a command without needing `subprocess`.

I think it may provide a viable way forward for initiatives which have stalled out, such as #1052 and #1140.

[2021-02-11 10:11] BenGig opened #1235 "Patch sudo to 1.8.31-1ubuntu1.2"
sudo is vulnerable to attack from local accounts ("Baron Samedit"):

https://ubuntu.com/security/notices/USN-4705-1
https://blog.qualys.com/vulnerabilities-research/2021/01/26/cve-2021-3156-heap-based-buffer-overflow-in-sudo-baron-samedit

**What docker image you are using?**

`jupyter/base-notebook`

**What steps do you take once the container is running to reproduce the issue?**

Example:

1. St

[2021-02-11 18:51] romainx commented on #1235
Hello,

Thanks to ping us. I've just drafted a PR that will trigger a reinstall of `sudo` with the latest version.

Best