[2017-09-13 18:55] szaydel opened #466 "Missing timezone data OS package"
**What docker image you are using?**

`jupyter/datascience-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -e GRANT_SUDO=yes --user=root -d -p 8123:8888 -v /var/lib/docker/volumes/jupyter/r/$NAME:/home/jovyan/work --name=jupyter-$NAME jupyter/datascience-notebook start-notebook.sh --NotebookApp.token='' $NAME`
...
where `$NAM

[2017-09-13 19:20] josephinemho commented on #409
```docker run -it -v `pwd`:/home/jovyan/work -p 8888:8888 jupyter/pyspark-notebook```

[2017-09-14 00:25] niyazpk commented on #464
Bookmarked! Thank you.

[2017-09-14 16:15] JeremyLG opened #467 "Trying to mount locally but the notebooks always gets deleted"
[code]

Hi I almost understood everything except the part about mounting the noteoboks locally...

I have my jupyter docker on an EC2 instance, which is linked through nginx, so everything works.

My ssl .pem file is the /etc/ssl directory

I created a directory /home/ec2-user/test/ and I chown 1000 it

But even with the -v option, this doesn't save anything locally. What am I missing ?

Thanks a

[2017-09-14 21:07] parente commented on #467
You need to add a `-v /home/ec2-user/test:/home/jovyan/work` to the command to mount the folder you created on the host somewhere in the container where you can save and preserve notebooks.

[2017-09-15 08:41] JeremyLG commented on #467
If I had both `-v /home/ec2-user/test:/home/jovyan/work` and just after in the command `-v /home/ec2-user/test/notebook.pem:/etc/ssl/notebook.pem` then Jupyter launches but it doesn't save the notebooks on the local folder.

If I only add `-v /home/ec2-user/test:/home/jovyan/work` then Jupyter doesn't even launch.

Am I doing something wrong ?

Thank for your help anyway !

[2017-09-15 14:40] rancas commented on #440
@doesnotexist I've built a docker using your indications and I am now able to run notebooks with python2.
Unfortunately, I've no scipy and pandas installed for Python 2.7 notebooks.
Can this be fixed or do I need to install 2.7 all modules during docker build?

[2017-09-15 15:12] doesnotexist commented on #440
I've don't really know much about conda, so I could be wrong, but I imagine you could just tack on any packages that are conda installable to the end of the conda create line, and it would install those packages for that version of python when its creating the env.

[2017-09-15 15:32] parente commented on #467
Are you creating the notebooks in the `work` subfolder?

If you only mount that one folder and do not also remove the `--NotebookApp.certfile`, then the notebook server will fail to find the `pem` file. You shouldn't need to remove the other mount though.

[2017-09-15 16:24] parente commented on #440
You'll need to add any additional packages you want to use with the Python 2.x kernel into your dockerfile. I've updated the recipe at the bottom of https://github.com/jupyter/docker-stacks/wiki/Docker-recipes with a comment to this effect.

[2017-09-15 17:38] JeremyLG commented on #467
Hey man, thank a lot, you're right. The issue was pretty simple, I was pretty dumb ! :p

Thank again for the help !

By the way, I have another question about Nginx, maybe you have an answer, if not then it's fine !

I want to link my Jupyter node to mydomain.com/jupyter and not just the root location. But I can't make this nginx conf works... Do you have any insights about this ?

[code]

Anyway

[2017-09-18 00:08] kietly opened #468 "add databricks/spark-deep-learning"
Hi! Thanks for using Jupyter's docker-stacks images.

If you are requesting a library upgrade or addition in one of the existing images, please state the desired library name and version here and disregard the remaining sections.

If you are reporting an issue with one of the existing images, please answer the questions below to help us troubleshoot the problem. Please be as thorough as possible.

[2017-09-19 17:52] jakirkham commented on #454
There is a 0.6.0 package for `julia` from conda-forge available. I leave it up to the community whether to use that or some other installation method.

[2017-09-19 20:08] tkelman commented on #454
It has serious performance problem due to not being built with any optimizations. If there are any bugs caused by the unconventional way it's built, the response from upstream will be "use the official binaries."

[2017-09-20 04:10] caseypen commented on #228
That helps! THanks!

[2017-09-20 17:16] fzhcary commented on #440
Parente: The script to add python2 back at  https://github.com/jupyter/docker-stacks/wiki/Docker-recipes  has errors. It complains about some package "qt" .. missing. Have you test it?

[2017-09-20 17:19] fzhcary commented on #440
guillaumerosinosky : I can't agree with you more. The default python2 caused my python2 script lots of errors. Why remove python2? It took me hours to get this page....

[2017-09-20 17:23] parente opened #469 "Web app for building custom stacks"
Originating from jupyterhub/binderhub#101

As I've watched the size of the docker-stacks images grow and grow, I've often wondered if we should provide some kind of web UI that let's users pick high-level features they want (languages, kernels, conda-forge packages, etc.) and get what we'd consider a well-formed Dockerfile (and/or environment.yaml, requirements.txt, ...) for their personal build e

[2017-09-20 21:41] parente commented on #440
I did when it also had matplotlib in the sample which has since been removed. I've removed the `--remove qt` line from the recipe on the wiki to match @doesnotexist 's example above.

[2017-09-21 05:59] jakirkham commented on #454
This is not well demonstrated at this point. Only two build logs have been compared from two different CIs. One from conda-forge's CI and one from the Julia team's CI. Given CIs historically are resource limited and vary greatly in capabilities and configurations based on their provider, there are not really any conclusions to draw here.

To get an accurate answer, it will require someone (probabl

[2017-09-21 23:38] tkelman commented on #454
You have to admit the conda-forge build of Julia is far less widely used, untested with most packages and environments, and only supports a handful of the platforms that the upstream project already provides binaries for. What problems does that solve? You're adding a support and maintenance burden for both upstream and yourself (and any package author who may have to deal with issues caused by th

[2017-09-23 02:24] ChadSleeman opened #470 "File upload size limit question"
Sorry, I am a newb please be gentile...

I am using the jupyter/datscience-notebook image running locally on my PC.

In Jupyter, when I try to upload any file larger then 1MB nothing happens. I click the upload button and nothing.

If I launch the image so I have sudo access I noticed I can upload files over 1MB.

Looking over the config.py file nothing poops out to me that could be set limiting t

[2017-09-25 14:53] minrk commented on #469
This is largely what [repo2docker](https://github.com/jupyter/repo2docker) is doing (as a repo, not web UI): generating a Dockerfile from envirionment.yml, requirements.txt, etc. We could do something similar to use repo2docker to generate a Dockerfile from form input instead of files in a repo.

[2017-09-26 04:44] mattshma commented on #440
when run `conda create --quiet --yes -p $CONDA_DIR/envs/python2 python=2.7 ipython kernda` on Centos7+ 64bit, which maybe raise:
[code]
so just replace it to `conda create --quiet --yes -p $CONDA_DIR/envs/python2 -c conda-forge python=2.7 ipython ipykernel tensorflow=1.3 keras=2.0 kernda=0.2 ipykernel && \` would be ok.

[2017-09-26 11:37] vaibhavsood opened #472 "ppc64le dockerhub images"
Hi, I'm looking to enable docker containers for packages like jupyter for multiple architectures on dockerhub, starting off with a focus on ppc64le. Wanted to check on the work that will be involved to do that

I have locally been able to successfully test ppc64le changes to the dockerfiles in this repo - changes for enabling additional arch would be minimum.

Would like to know how a multi-arch i

[2017-09-26 13:30] sardbaba commented on #440
@parente the recipe should be updated as follow:

`
# ---------------- Create a Python 2.x environment using conda

# includes at least the ipython kernel and the kernda utility. Add any additional packages you want
# available for use in a Python 2 notebook to the first line here (e.g., pandas, matplotlib, etc.)
# @see https://github.com/jupyter/docker-stacks/wiki/Docker-recipes#add-a-python-2x-e

[2017-09-26 16:14] parente commented on #472
There was a contribution of a ppc64 Dockerfile a while back: https://github.com/jupyter/docker-stacks/tree/master/base-notebook. We haven't kept it up to date or invested in automatically building the images for that platform since then.

[2017-09-26 16:35] parente commented on #469
I was thinking about this from a ground-up perspective rather than from an existing environment.yaml, requirements.txt, etc. which I think is what you're suggesting. Please correct me if I'm wrong.

I think both have merit. Here's a messy brain dump of what I was thinking in a bit more detail:

1. User loads a static web app from docker-stacks.github.io. (I keep thinking about this app as having n

[2017-09-27 10:43] vaibhavsood commented on #472
Ok thanks!

Want to check if you would be willing to make the docker images official https://docs.docker.com/docker-hub/official_repos/#how-do-i-create-a-new-official-repository , that would offload the build process to docker. They also build for multi-arches so that could be used to auto build additional arches like ppc64le.

Alternatively, i can help to bring the ppc64le dockerfile upto date (i

[2017-09-27 21:40] letypka commented on #415
I have the exact same problem. I run Python 3.6 and tensorflow v.1.2 on Mac OS Sierra 10.12.6. I tried to copy-paste the entire code the the Jupyter notebook but I get the same error. When I run the code in the terminal everything worked just fine. Is there something I need to do in order to get the code running via Jupyter? (I want to ass that I am very new to Python)

[2017-09-28 01:20] parente commented on #470
Welcome, @ChadSleeman. I do believe the notebook server does have a 1 MB file upload limit through the web UI by default. If I remember correctly, the limit is actually in the JavaScript of the notebook server, and might not be configurable from the server side.

For questions like this, you might get a faster / better response on the Jupyter Google Group (https://groups.google.com/forum/#!forum/j

[2017-09-28 01:27] ChadSleeman commented on #470
The issue is solved! The problem was not in the image/container but in the NGINX config for the swarm server.

Thanks for replying to my question.

Chad

[2017-09-28 01:27] #470 closed

[2017-09-28 01:28] parente commented on #472
I'm OK with the official image route, but I personally don't have the time to invest in doing the research and making that move at the moment. If you (or anyone) wants to figure out what it would take to make either base- or or minimal-notebook conform to the official repository requirements and still function as a base for the other stacks here, I'm all for it. Happy to provide some guidance alon

[2017-09-29 13:00] rwmajor2 opened #474 "Question: base-notebook vs. minimal-notebook"
Can someone provide exact details of the difference between the base-notebook Docker image and the minimal-notebook Docker image?  The file sizes in Docker Hub are quite different, but the descriptions state:

"Minimally-functional Jupyter Notebook 5.1.x (e.g., no pandoc for document conversion)"
vs.
"Fully-functional Jupyter Notebook 5.1.x"

Thanks.

[2017-09-29 13:21] parente commented on #474
From https://github.com/jupyter/docker-stacks/blob/master/minimal-notebook/Dockerfile#L11, the differences are:

* pandoc + latex are installed, so that notebooks can be converted to PDFs
* emacs, vim, and jed are available for text  editing from a terminal
* git is there for version control
* zip/unzip are installed for dealing with zip files
* build-essential, libxrender1, and inkscape are insta

[2017-09-29 13:24] rwmajor2 commented on #474
Thanks @parente.  Do you know what of these things are the biggest culprits of file size?  In Docker Hub, the compressed size of the base-notebook is 188MB but the minimal-notebook is 967MB.

[2017-09-29 13:27] parente commented on #474
Taking a guess from past experience, pandoc and texlive packages add the majority of the bytes.

[2017-09-29 13:53] Bidek56 opened #475 "openjdk-9-jre-headless upgrade"
Please upgrade openjdk-8-jre-headless in pyspark-notebook/Dockerfile to openjdk-9-jre-headless, since Java 1.9 is out. Thanks

[2017-09-29 14:14] #474 closed

[2017-10-01 07:35] lebannen opened #476 "--rm flag in docker run commands"
**What docker image you are using?**

`jupyter/tensorflow-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

Example: `docker run -it --rm -p 8888:8888 jupyter/tensorflow-notebook`

**What do you expect to happen?**

I didn't expect --rm flag in basic use command. I've started docker after restart and have not found my container. Then I've

[2017-10-03 05:54] luck02 opened #477 "docker-stacks in kubernetes --user root config"
Hi! Thanks for using Jupyter's docker-stacks images.

If you are requesting a library upgrade or addition in one of the existing images, please state the desired library name and version here and disregard the remaining sections.

More of a question than an upgrade request.

We're running a kubernetes based infra and I'd like to be able to provide quick and simple pyspark style notebooks for my us

[2017-10-04 17:42] jakirkham opened #478 "Use conda-forge's tini"
We package `tini` at `conda-forge` now. Maybe it would make sense to have it used here. Though we would probably want to pin it so that it doesn't get updated by `conda` while the container is running. Thoughts?

[2017-10-08 14:01] parmentelat opened #480 "can't hide #header-container anymore"
Hi folks

I had initially reported this as (now closed) issue ipython/ipython#10852

I use image jupyter/scipy-notebook

I need to hide the first part of the header (with the logo and notebook name) and I have this line in my `custom.css`

[code]

this used to work fine with this image:
sha256:d6ebaf357aa9cbc20aa8982b1860a454b90aa599377999212e2889ab5f764aea   853caf4b6a07        12 weeks ago

 but

[2017-10-10 17:18] cancan101 commented on #421
Why was the issue closed?

[2017-10-10 19:38] brunorpinho commented on #421
@cancan101 just because it was a duplicate, but I'm still looking for a solution. Should I just leave it opened?

[2017-10-10 19:40] cancan101 commented on #421
Duplicate of what? I would link to other issue or leave this one open.

[2017-10-11 19:43] diimdeep commented on #235
IDK why but first variant work while second fail.

[code]

[code]

[code]

[2017-10-12 01:25] hero0926 opened #481 "happens lots of jovyan user password problem"
**What docker image you are using?**

jupyter/pyspark-notebook

**What complete docker command do you run to launch the container (omitting sensitive values)?**

my docker-compose file

[code]

**What steps do you take once the container is running to reproduce the issue?**

1. Trying to make integration with zeppelin
2. Cause zeppelin notebook ui connection refused error(with no error in zeppelin

[2017-10-14 02:19] parente commented on #478
We could switch and pin. We'd have to juggle the build order a bit since tini is currently installed before conda.

[2017-10-14 02:24] parente commented on #477
Sorry, I'm not too familiar with kubernetes. Are you saying sudo for the `jovyan` wasn't good enough and you need to be the `root` user in the container, or that granting sudo didn't work in your setup?

@yuvipanda @choldgraf @willingc k8s experience and might understand what you're after far better than I.

[2017-10-14 02:26] parente commented on #480
Try adding `!important` to the end of your style rule. This is most likely due to an upgrade from notebook 5.0 to 5.1 across the two tags you mention, and associated stylesheet changes in the notebook project.

[2017-10-14 02:35] luck02 commented on #477
I was unable to get sudo to work for the jovyan user.  It looked like you needed to run the container with -e GRANT_SUDO=yes as well as execute it with the docker --user root argument.  It looks like there's no obvious way to issue the --user root argument in kubernetes.

My workaround was to use the jupyter all-spark image as base and extend:

[code]

by adding `USER root`  I was able to get this

[2017-10-14 02:46] parente commented on #481
I executed `docker run --rm -it -p 8888:8888 -e GRANT_SUDO="yes" --user root jupyter/pyspark-notebook` after pulling the latest `jupyter/pyspark-notebook` image from Docker Cloud. I'm able to run `sudo ls` and `sudo apt-get update` both in a notebook and in a terminal without entering a password. Perhaps there's an issue with the docker-compose.yaml. Can you provide the rest of the file (e.g., ver

[2017-10-16 00:22] hero0926 commented on #481
@parente I tried again with updated images with same docker-compose and now it's working with sudo or su. Suppose there was some update within days?

[2017-10-16 02:21] charlesreid1 commented on #476
You can map a local directory to the Docker container's `/home/jovyan` directory using the `-v` flag, which will prevent losing your work. Here's an example script I use, which I drop into a Github repository. The `notebooks/` directory now allows version-controlled Jupyter notebooks to be passed through.

[code]

[2017-10-16 02:27] parente commented on #481
Possibly. The complete build history with dates, tags, and related pull request messages is available on the wiki here https://github.com/jupyter/docker-stacks/wiki/Docker-build-history. I'm glad it's working for you now at any rate.

[2017-10-16 08:59] #481 closed

[2017-10-16 09:00] hero0926 commented on #481
@parente By the way... who is jovyan? *snuggle*

[2017-10-16 17:09] yuvipanda commented on #477
By default Kubernetes just runs the container with the user that's specified as USER in the Dockerfile. However, you can override it by specifying a securityContext.runAsUser explicitly (https://kubernetes.io/docs/tasks/configure-pod-container/security-context/ for more info).

So you probably want `securityContext.runAsUser: 0` in your container config.

[2017-10-17 15:09] parente commented on #469
Work-in-progress mock-up: https://parente.github.io/docker-stacker/

[2017-10-17 17:05] parente commented on #469
/cc @ian-r-rose

[2017-10-17 17:56] jakirkham commented on #469
Could shorten the conda-forge links to ( https://conda-forge.org/feedstocks ). Though they are redirected anyways.

Would be good if we could select versions of a package. Though maybe that is possible and I just don't know how. 😄

This doesn't actually generate images now, right? Mainly a UI mock up, correct? If so, looks really nice.

[2017-10-17 18:16] yangyishan0901m commented on #432
Hi @minrk , any more reason that you wanna remove python2? Like performance issue, introduce bug, or conflict?

[2017-10-17 18:59] parente commented on #469
+1

No version selection at the moment. I'm scraping the list of packages only, not repodata for conda or the equivalent from the Julia packages site.

Mock-up only (in desperate need of design love), implemented to make real the thought I was trying to convey a couple comments up. My next step is to get it to show a little dialog with the Dockerfile it produced, a Download button to get the Docke

[2017-10-17 20:03] DrPaulBrewer commented on #469
Idea: you could emit a zip file. This way the Dockerfile can be in its own
directory as Docker build prefers.

I have a js app that emits a zip file of multiple directories of organized
csv data.  The JavaScript to do that (specialized for this one app) is in
NPM: single-market-robot-simulator-savezip

While that's not quite what you need, it may yield ideas.

On Oct 17, 2017 2:59 PM, "Peter Paren

[2017-10-17 21:16] AlexAbraham1 opened #483 "can't run with option GRANT_SUDO on ubuntu"
hi!

when I try to run the following command I get an error "option -e not valid"

docker run -d -p 8888:8888 jupyter/datascience-notebook start-notebook.sh --NotebookApp.password='sha1:78f1988b6a17:91e3e10508156128c6f7e97cddbbe4f073d58fd9' --user root -e GRANT_SUDO=yes --name=jupyter_notebook

anyone else experience that issue? How can I start the container with sudo access?

thanks!

[2017-10-17 22:05] charlesreid1 commented on #432
@minrk mentioned it wastes space, which I completely agree with. Here's another: Python 3 was released in December 2008.

I was inspired to put on my big kid pants and switch to Python 3 when a library I used eliminated Python 2 support. And when Python cookbooks/guides started being rewritten for Python 3. If a library you use doesn't support Python 3, that's a good reason to (a) search for alter

[2017-10-18 00:29] parente commented on #483
The -e and —user are docker arguments and have to come before the image name like the -p

[2017-10-18 01:33] AlexAbraham1 commented on #483
Thanks! that worked :)

[2017-10-18 01:33] #483 closed

[2017-10-18 05:31] DrPaulBrewer commented on #469
Idea: you could emit a zip file. This way when the zipfile is unzipped, the Dockerfile can be in its own
directory as Docker build prefers.

The key npm modules are [jszip](https://www.npmjs.com/package/jszip) for the zipping and [filesaver.js-npm](https://www.npmjs.com/package/filesaver.js-npm) (works, but has a horrible name for npm)  to  "download" a file made from data within the browser.

I'v

[2017-10-18 16:37] rgbkrk commented on #432
We have limited time to maintain software, including distribution channels like this. If you want Python2 support, you'll need to run your own image. You're free to use the old Python2 setup for it, maintaining it however you choose.

[2017-10-19 10:57] sho-suzuki opened #484 "docker pull was failed due to "unauthorized: authentication required""
Hi all!

**What docker image you are using?**

`jupyter/all-spark-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker-compose build spark`

**What do you expect to happen?**

pull the image successfully

**What actually happens?**
my `docker-compose.yml` as follows

[code]

and command log as follows

[code]

so I deleted the existin

[2017-10-21 03:03] parente commented on #484
This is usually a problem with authenticating or proxying to Docker Hub. See #364 and #357 for past examples and some guidance.

[2017-10-21 08:38] jimmynguyc opened #487 "A notebook for Ruby stack"
I think it would be nice to have a notebook for IRuby. Made a PR https://github.com/jupyter/docker-stacks/pull/486

[2017-10-21 08:39] jimmynguyc commented on #487
I'll submit another one for `pycall` if you guys think it's a good idea.

[2017-10-22 00:13] dsevilla commented on #465
Related to this, when you change the UID and GID of the jovyan user using an environment variable, actually the user is modified to hold those UID and GID, but permissions over /home/jovyan and /opt/conda are not granted again *after* the UID/GID change, so you cannot, for example, install packages with pip anymore unless you specify the GRANT_SUDO and use sudo for the installation of the packages

[2017-10-22 21:12] parente commented on #487
@jimmynguyc Thanks for submitting the Ruby PR.

Are you interested in helping maintain the image over time in this repository with us? This would involve answering questions from users, upgrading versions, adding packages, fixing permission bugs, debugging build problems on Docker Cloud, and so on for the Ruby image in particular. If you're interested, then let's get the PR merged here. If you're

[2017-10-22 21:14] parente commented on #477
@luck02 I think @yuvipanda answered your question and that you found an alternative solution. I'm going to close out this issue. Cheers!

[2017-10-22 21:14] #477 closed

[2017-10-23 01:37] jimmynguyc commented on #487
@parente Sure I can do that :)

Since `pycall` is just a Python object wrapper in Ruby I don't think it will have issues with Julia < 0.6.0. I'll check it out.

[2017-10-23 02:24] luck02 commented on #477
Sorry, I should have closed earlier :(  I got the email but then got busy and forgot to check back.  Thanks @yuvipanda !

[2017-10-23 14:50] parmentelat commented on #480
thanks so much, this worked for me 👍

[2017-10-23 15:51] #480 closed

[2017-10-23 17:02] yu2003w opened #488 "all-spark-notebook image with R3.3.1"
Hi，
How could I get all-spark-notebook image with R3.3.1 and ubuntu as base image?

Thanks.

[2017-10-24 01:33] parente commented on #488
You might try creating your own Dockerfile that starts from the jupyter/all-spark-notebook, but uses conda to downgrade from the r-base 3.3.2 package to 3.3.1. Something like this:

[code]

Then use docker to build your own image using the Dockerfile

[code]

You might run into problems with other packages in the upstream image not being compatible with 3.3.1, or conda-forge not having the older v

[2017-10-24 08:21] yu2003w commented on #488
@parente
When build the image, I met the following problem,
UnsatisfiableError: The following specifications were found to be in conflict:
  - r-base 3.3.1*
  - r-rlang -> r-base 3.4.1*
Use "conda info <package>" to see the dependencies for each package.

For downgrade R version, do I need to remove firstly?

Thanks.

[2017-10-24 16:30] blacknred0 opened #489 "Unable to write R/lib path on jupyter/all-spark-notebook (bbfb8aad625b)"
I am not sure if this is related to [Issue 443](https://github.com/jupyter/docker-stacks/issues/447), but it could be.  I was trying to install a package and wasn't able through jupyter.

I ended up solving the issue by

1. Starting `docker run -it --rm -p 8888:8888 -p 4040:4040 -v $(pwd):/home/jovyan -e GRANT_SUDO=yes --user root jupyter/all-spark-notebook start.sh bash`
2. Then `sudo chmod -R 77

[2017-10-25 11:12] mryap commented on #469
@parente  I like your Docker-Stacker initiative. https://parente.github.io/docker-stacker/
Please give options to opt out libraries like Julia and Scala. Thanks

[2017-10-27 12:28] anatoliykmetyuk commented on #466
Any news about this one? It is pretty strange that a standard feature of a standard library does not work out of the box.

Am not able to do `sudo apt-get update ; sudo apt install tzdata`, because "passwordless" sudo requires password, which I don't know.

[2017-10-27 12:31] anatoliykmetyuk commented on #408
Any news on what is the password for `sudo`?

[2017-10-27 12:47] anatoliykmetyuk commented on #466
For anyone else struggling.

I have used a custom `Dockerfile` with the following contents:

[code]

Then build and run this image as specified in the [official tutorial](https://docs.docker.com/get-started/part2/).

[2017-10-28 15:27] nb312 commented on #415
I have the same error when I run the  minst_softmax.py of tensorflow  in the Anaconda.

[2017-10-28 15:29] nb312 commented on #415
the error occurred at the code :
`  with open(filename, 'rb') as f:
            exec(compile(f.read(), filename, 'exec'), namespace)`

[2017-10-28 16:43] nb312 commented on #415
This error can ignore, for there is not affecting my program.

[2017-11-01 16:13] jpzwolak commented on #415
I am not sure if that is completely correct, but what I think is happening is that the code on tensorflow website was written so that it can be compiled from a terminal. When I tried to run it from a jupyter notebook it was giving me an error, but when I removed the last two lines of the code, defined a dummy variable a = None and then run main(a) the code run as expected.

[2017-11-03 01:27] parente commented on #488
You can try removing packages until the install works, or create a new conda environment in the image and install the version of R you want there. In both cases, the image will be larger than if you started from jupyter/minimal-notebook because of the way docker file system layering works. So perhaps starting with minimal and installing what you need is the way to go.

[2017-11-03 02:47] parente commented on #489
The jovian user has permission to install R package in the conda environment using conda or `install.packages`. The all-spark-notebook Dockerfile has `ENV R_LIBS_USER $SPARK_HOME/R/lib` to refer to RSpark rather than the default lib path in the conda environment. Perhaps we need to set this to the conda path first followed by the Spark path so that `install.packages` targets the conda dir but the

[2017-11-03 08:02] yu2003w commented on #488
I removed R3.3.2 and installed R3.3.1. However, image size is still about 4.8G.
If I want much more smaller image, how could I do?
Is that possible to only include base ubuntu image and discard unnecessary packages?
Thanks for your help.

[2017-11-03 09:43] iyanmv opened #492 "Missing /opt/conda/bin path for root user"
**What docker image you are using?**
`jupyter/scipy-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

[code]

**What steps do you take once the container is running to reproduce the issue?**

1. Connect to the docker container with `sudo docker exec -itu jovyan x-scipy` or open a terminal in the web interface.
2. Try to use pip (without su

[2017-11-03 13:35] blacknred0 commented on #489
I wasn't aware of this... 😕 .  I could take a look as well since it seems that there are two `install.packages` location one for conda and the other for RSpark.

Thanks for the share!

[2017-11-07 09:31] sivakon opened #493 "Troubling connecting to internet from docker container"
Hi,

I am trying to use spark-notebook, but I get an error while downloading packages to my Apache Toree kernel. Python kernel works fine.

**What docker image you are using?**

`jupyter/all-spark-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -it --rm -p 8888:8888 jupyter/all-spark-notebook:latest`

**What steps do you take

[2017-11-07 13:44] ibayer commented on #304
I have the same issue. I'm not installing RPostgreSQL from conda R channel.

[2017-11-07 14:01] ibayer commented on #304
I have the some problem using the conda R channel:

[code]
[code]

[2017-11-07 20:13] blacknred0 commented on #489
@parente - Would this be worthy enough as the solution to this bug?  If so, then we can consider this close unless you want me to submit a PR with that one liner :hammer:

from
[code]
to
[code]
I can confirm that by adding this to the docker file, the R package installed successfully as jovian with out super user powers.  Caveat is that will install in `/usr/local/spark-2.2.0-bin-hadoop2.7/R/lib`

[2017-11-07 20:25] blacknred0 commented on #493
Are you importing other functions?

I try running that command and got a different error.
[code]

[2017-11-08 00:01] sivakon commented on #493
@blacknred0 I got the same error. Some problem with Toree, I'm trying from scratch (base-notebook).

[2017-11-08 08:43] HOHOOO commented on #489
The same problem with u, and I use `chown` to solve the problem.

`chown 777 /usr/local/spark-2.2.0-bin-hadoop2.7/R/lib`

[2017-11-08 14:19] blacknred0 commented on #493
@sivakon I also tested straight from scala (on spark 2.2.0) and got the same error.

[2017-11-08 17:11] uday2002 opened #494 "opening spark-shell with parameters not available in Jupyter"
Typically, we uses Jupyter to access resources on Hadoop servers, e.g., http://localhost/hub/login.

However, sometimes we need to open a spark-shell with parameters other than the defaults that load in a Jupyter session.  For example, spark-shell --num-executors 25 --executor-memory 1g --executor-cores 4 --driver-memory 3g.

While this works in an SSH session, it appears to bypass the YARN limita

[2017-11-11 04:20] parente commented on #493
It's possible that Toree is not compatible with Spark 2.2.0. IIRC, the last incubation release was made for Spark 2.0.0.

[2017-11-11 04:24] parente commented on #494
How you configure these parameters depends on what your kernel supports.

The https://github.com/maxpoint/spylon-kernel Scala metakernel supports this kind of configuration via an `%%init_spark` magic. The https://github.com/apache/incubator-toree Scala kernel supports configuration of these parameters by setting them up in a [kernel spec file](https://github.com/apache/incubator-toree/blob/master

[2017-11-11 04:26] parente commented on #489
I'm not sure either, but installing and working anywhere seems preferable to not installing or working at all.

If you have time to submit the PR to make the 2 line change, please do.

[2017-11-11 04:31] parente commented on #492
The fact that pip is not part of the root user PATH is the expected behavior. The `jovyan` user has read/write permission on /opt/conda, so there shouldn't be a need to run pip or conda as root. (In fact, doing so will create a mix of owners and permission in /opt/conda.

You could try running with `sudo -E`, but I suspect it will still get dropped from the PATH.

[2017-11-11 04:32] parente commented on #484
Close this issue. It's not an issue with the images or anything we can control.

[2017-11-11 04:32] #484 closed

[2017-11-11 05:30] jakirkham commented on #467
Going to close as the original issue was solved. Feel free to raise additional issues for new topics.

[2017-11-11 05:31] #467 closed

[2017-11-11 05:32] jakirkham commented on #463
Going to close due to no response. Happy to reopen on a follow up.

[2017-11-11 05:32] #463 closed

[2017-11-11 05:34] jakirkham commented on #466
Care to do a PR @anatoliykmetyuk?

[2017-11-11 05:34] uday2002 commented on #494
Hi Pete,

Thanks for the response.. let me try this in next week. I will get in touch with you. once I try this and any concerns/issue I'm facing in.

Thanks,
Uday

[2017-11-11 05:38] jakirkham commented on #476
Indeed. @charlesreid1 is correct. Mapping directories from the native machine to the Docker container is the way to go. Any other questions @lebannen or can we close this?

[2017-11-12 14:32] lebannen commented on #476
@jakirkham my problem was that I've lost results of one day of my work because of this flag. I understand that it was my fault and I should be more careful with docker command. I know how to handle that, I've just removed -it --rm, because I don't need them.
My idea is that when you have default command in readme, it should just work. Without mounting volumes or doing other docker staff.

[2017-11-12 20:31] blacknred0 commented on #493
I don't think this is a Toree issue, but rather scala.

[2017-11-12 22:29] parente commented on #476
We can switch to not specifying the `--rm` in the default command. If we do, we'll have to add a note telling users that if they continually create containers without `--rm` and don't use `docker rm <container name or id>` or `docker system prune` routinely, they'll silently fill disk with stopped containers.

[2017-11-12 23:00] lebannen commented on #476
@parente Why should anyone create container each time? I've created container once and it keeps working. If I need to stop/start it, I use `docker stop <container name>`/`docker start <container name>`.

[2017-11-12 23:20] charlesreid1 commented on #476
I think the `--rm` flag should remain, as it is in keeping with the principle of [disposability](https://12factor.net/disposability) (not to mention, `--rm` is a flag included by the Docker developers wherever they start containers in the documentation). Users shouldn't rely on the container maintaining a persistent state and sticking around indefinitely. That being said, perhaps a warning or some

[2017-11-13 03:04] blacknred0 commented on #488
@yu2003w if all you are looking for is R, you can use jupyter/r-notebook instead of jupyter/all-spark-notebook.  It probably has a smaller footprint due to the packages that are required on jupyter/all-spark-notebook.

[2017-11-13 03:05] #489 closed

[2017-11-13 07:29] iyanmv commented on #492
Yeah, that makes sense and when I run the image without `-e GRANT_SUDO=yes` I can install packages with pip and `jovyan` user. The problem is that this way I cannot install system packages with `apt-get`.

I tried with `sudo -E` and as you say it is not in the path.

[2017-11-13 08:03] yu2003w commented on #488
I tried to build only with r/python kernel,  image size is more than 4G.
Is that possible to build much smaller images?

[2017-11-13 09:23] lebannen commented on #476
@charlesreid1
1) how it provides

It just destroys container with all its state, which makes startup slower in comparison with `docker start` after `docker stop` without `--rm` flag. If you check [this docs](https://github.com/docker/labs/blob/master/12factor/09_disposability.md) there is not a single word about `--rm` flag.

2) Where do Docker developers add this flag? If you check [official docu

[2017-11-13 10:01] charlesreid1 commented on #476
As the docker documentation and @parente both mention, leaving off the `--rm` flag leaves resources laying around when containers are created/destroyed. In a production system with many containers being created/destroyed this *does* affect startup time.

From your description it sounds like your use case is a single user using the container on a single machine, in which case your arguments are per

[2017-11-13 10:15] lebannen commented on #476
@charlesreid1 as I mentioned before, in production system you will **never** run containers with `docker run` multiple times. You create containers once and then start/stop them.
You use volumes in production systems, because docker file system (why it has its own file system if it was designed stateless?) is much less efficient with a lot of changes. It does not mean that you can easily use `--rm

[2017-11-13 19:48] jburos opened #497 "R kernel fails to start (stringi.so / libicui18n.so.58 not found)"
**What docker image you are using?**

I am running `jupyter/datascience-notebook`

Output from `docker images | grep datascience-notebook`:

[code]

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -d -p 8889:8888 --name jacki-datascience jupyter/datascience-notebook start-notebook.sh --NotebookApp.token=''`

**What steps do you take onc

[2017-11-14 00:12] maximz commented on #497
I was able to reproduce this on my machine following those instructions.

[2017-11-14 02:25] blacknred0 commented on #488
yes, you probably could, but would be risking losing a lot of the features.  you can probably start with `jupyter/minimal-notebook` or clean up `jupyter/scipy-notebook` (by removing unnecessary packages that you think you won't need.

[2017-11-14 05:07] yu2003w commented on #488
@blacknred0 Thanks for response. I will try again.

[2017-11-14 05:07] #488 closed

[2017-11-14 12:14] minrk commented on #478
Sounds good to me.

[2017-11-14 17:10] parente commented on #497
Regression in the latest build. I believe all of the R packages are now coming from conda-forge, however.

[2017-11-14 17:17] parente commented on #492
With `-e GRANT_SUDO=yes`, the `jovyan` user should be able to do all of the following:

[code]

Can you run pip/conda as `jovyan` and apt-get with `sudo` or does that not fit your use case?

[2017-11-14 23:54] parente commented on #497
Possibly fixed by #499.

[2017-11-15 08:54] fxofxo opened #500 "all-spark-notebook inconsistent spark context after import libraries"
Hi,
I'm trying to uses jupyter/all-spark-notebook/  (apache-toree Scala kernel) to get a data from kafka with a spark-streaming.
I need to import the library org.apache.spark:spark-streaming-kafka-0-10_2.11:2.2.0, so I use the magic
AddDeps to get the package
`%AddDeps org.apache.spark spark-streaming-kafka-0-10_2.11 2.2.0. `
It seem to work well, I get
[code]
Now it is possible to import kafka st

[2017-11-16 12:30] nasedil opened #501 "Error when trying to change to python 3.5 in jupyter/minimal-notebook"
**What docker image you are using?**

jupyter/minimal-notebook:7fd175ec22c7

**What complete docker command do you run to launch the container and reproduce the issue?**

`docker run -it --rm jupyter/minimal-notebook:latest conda install -y python=3.5`

**What do you expect to happen?**

Anaconda python version to be downgrated to python 3.5

**What actually happens?**

It fails with an error with

[2017-11-17 10:45] iyanmv commented on #492
Thanks for following this issue @parente :)
If those three commands worked, that'd be all I need. The problem is that when I set `-e GRANT_SUDO=yes` both `pip` and `conda` works but then there is a problem regarding permissions. Could it be something related to setting `-e NB_UID=1011 -e NB_GID=1011`?

[2017-11-17 12:15] parente commented on #500
@fxofxo You should probably file this issue in the Apache Toree issue tracker at https://issues.apache.org/jira/projects/TOREE for better support. On the face of it, the error doesn't look related to Jupyter specifically or the Docker image, other than perhaps an upgrade of Toree is needed if there's a newer release. (Upgrade PRs welcome!)

[2017-11-17 12:21] parente commented on #501
Looks like the link and unlink scripts in the jupyterlab conda-forge package (https://github.com/conda-forge/jupyterlab-feedstock) failed during the downgrade. Can you run bash in a container, try the downgrade with the `-v` flag as suggested, and post the additional info if there is any?

/cc @blink1073

[2017-11-17 12:22] parente commented on #497
@jburos Can you try pulling the latest r-notebook and see if @minrk's fix has resolved the problem?

[2017-11-17 12:29] blink1073 commented on #501
It could be that there are insufficient permissions to modify the jupyter configuration file that the pre-post link scripts are affecting (`jupyter_notebook_config.py`).

[2017-11-17 12:33] parente commented on #492
Yes. Now I see the problem. I ran:

[code]

I got the following expected output:

[code]

I fired up a terminal in the notebook server and tried to run:

[code]

I was greeted with:

[code]

Checking the jovyan permissions and permissions in `/opt/conda` I see:

[code]

which looks correct and:

[code]

which does not. There's a mismatch somewhere in the what the fix-permission script and the star

[2017-11-17 12:37] parente commented on #492
https://github.com/jupyter/docker-stacks/blob/master/base-notebook/start.sh#L39

Quick look / note for later: The fix might be to add the user to a new group and leave users alone so that all paths don't need to be adjusted, though I thought the fix-permissions script was meant to address this issue.

[2017-11-17 18:45] jburos commented on #497
@parente Looking into this now

[2017-11-17 19:30] jburos commented on #497
@parente Yes, I can confirm that this works using the latest images.

I have tested on:
- `jupyter/r-notebook`
- `jupyter/datascience-notebook`

Here's the clean log:

[code]

:pray: for your help & the rapid turnaround.

[2017-11-18 15:22] fasib opened #502 "R missing timezone data and Olson database"
**What docker image you are using?**

`jupyter/r-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -it --rm -p 8889:8888 jupyter/r-notebook:latest`

**What steps do you take once the container is running to reproduce the issue?**

Start an R noteobok

Run:
[code]
and
[code]

**What do you expect to happen?**

Something like:
[c

[2017-11-18 19:49] parente commented on #497
Passing the 🙏 thanks on to @minrk and closing this out. Cheers!

[2017-11-18 19:49] #497 closed

[2017-11-18 19:50] #502 closed

[2017-11-18 19:50] #466 closed

[2017-11-20 10:06] antowan opened #504 "Cannot adjust timezome and date / time"
Hi,
I am using the latest version of the jupyter/scipy-notebook and I would like to change the default time / date and timezone

I could adjust only in the docker-compose as follow.

Also as I couldn't find any information about the root password I am unable to execute any commands with the root privilege to adjust this.

Thank you for your update.

[2017-11-21 17:52] tlinnet opened #505 "Please add to scipy-notebook/Dockerfile: jupyter labextension install @jupyter-widgets/jupyterlab-manager"
**What docker image you are using?**
jupyter/scipy-notebook:7fd175ec22c7

The Dockerfile for scipy-notebook installs ipywidgets.
https://github.com/jupyter/docker-stacks/blob/master/scipy-notebook/Dockerfile

The jupyter/scipy-notebook can run in JupyterLab mode.
But the ipywidgets extension is not enabled for JupyterLab.

Please add this to the Dockerfile:
`jupyter labextension install @jupyter-w

[2017-11-21 18:13] iramsey85 opened #506 "Login to Notebook after Kubernetes Deployment"
Example: `jupyter/base`

I created a simple yaml file to deploy jupyter/base using Kubernetes.
I port forwarded port 8888 to 8888 on my local machine from the command line.
When browsing to the container, I am stuck at a login screen.

Unlike docker, starting the container never provided a url with a token to login. is there a solution to this? is there something i can include in the yml file to b

[2017-11-22 07:03] dorbodwolf commented on #228
thanks

[2017-11-23 12:56] parente commented on #506
I think you'll need to pre-generate a hashed password and pass it as a command line parameter instead of relying on Notebook to generate a random password for you. Look for NotebookApp.password on http://jupyter-notebook.readthedocs.io/en/stable/config.html about how to generate the password and the command line argument to use to pass it to the notebook server when you start the container. (`--No

[2017-11-23 12:58] parente commented on #505
Thanks @tlinnet.  If you or anyone would like to submit a PR before we get to it, mimicking how the jupyterlab-hub  extension gets installed in the base image https://github.com/jupyter/docker-stacks/blob/master/base-notebook/Dockerfile#L82 is probably the way to go.

[2017-11-23 12:59] parente commented on #504
@antowan can you clarify your issue a bit for us. Are you saying that you *can* adjust the timezone in a docker-compose.yaml but *can't* using some other method?

[2017-11-23 14:56] tlinnet commented on #505
Hi @parente . I have now made a PR. I tested it, and it works as expected.

[2017-11-24 05:51] antowan commented on #504
@parente I could advance a little on that and what I understand from the various forum I could check is that it's not related to this docker image but it is a general "issue" with the docker containers that need to adjust the time / clock. Indeed it is not permitted to change this from the container as it is an hardware settings.
For containers running on different timezone I can still adjust the

[2017-11-24 05:51] #504 closed

[2017-11-24 07:24] tlinnet commented on #505
This was solved by a PR

[2017-11-24 07:24] #505 closed

[2017-11-25 03:07] parente commented on #504
@antowan Thanks for clarifying and sharing what you found.

[2017-11-26 22:59] jdb78 commented on #96
How do I actually install these extensions using a dockerfile. When I run the install with the conda install -c conda-forge jupyter_contrib_nbextensions it does not throw an error, but once I try to run the container, it cannot find the extensions anymore in opt/conda/share/jupyter/nbextensions. However, I know they are there as directly logging into the container shows the files.

It must have to

[2017-11-30 04:53] parente commented on #481
@hero0926 Late seeing your last question. "jovyan" is a play on the word "jovian":

https://www.google.com/search?q=jovian

[2017-12-01 09:23] haitch commented on #506
[code]

[2017-12-04 01:35] dhirschfeld opened #511 "JupyterLab extensions"
I'm building my own JupyterLab analytics images using Windows Containers and have a conceptual question about how best to manage lab extensions.

In [`scipy-notebook`](https://github.com/jupyter/docker-stacks/blob/033056e6d1648e484b61e523f22eb87fefedd3bd/scipy-notebook/Dockerfile#L50) I notice that the usual `jupyter labextension install` command is just run as part of image build:
https://github.

[2017-12-04 01:37] #454 closed

[2017-12-04 01:41] parente commented on #511
On the face of it, it should work. I'm not familiar with how much would be involved in rearranging the existing Dockerfiles to support it.

I did notice the /home/jovyan/.npm was caching all the packages from the npm install. I slipped a commit into a testing PR I'm working on to address that, but haven't yet merged it.

[2017-12-04 02:19] dhirschfeld commented on #511
I'll give it a go an report back...

[2017-12-04 11:41] dhirschfeld commented on #511
So, it turns out my image explosion was for a different reason, not related to the building of JupyterLab extensions.

Using multi-stage builds to avoid npm temp junk *does* save a little space but only 9.49GB vs 9.55GB so possibly not even enough to worry about. Still, 60MB is 60MB!

I'll go ahead and close this, but in case it's useful for comparison purposes the multi-stage recipe I used is bel

[2017-12-04 11:41] #511 closed

[2017-12-04 12:41] blink1073 commented on #511
@dhirschfeld, I'd recommend adding a `--no-build` on each of those `labextension install` calls, otherwise it is auto-building each time.

[2017-12-04 12:57] dhirschfeld commented on #511
Ah, right - that'll save a fair bit of time! Thanks @blink1073!

[2017-12-06 01:48] sho-suzuki commented on #484
@parente thanks!
my problem was caused by the host clock.
I fixed the host clock like `sudo date -s "28 NOV 2013 hh:mm:ss" ` and retry it, and then, it was succeed.
ref: https://github.com/moby/moby/issues/2645

[2017-12-06 02:32] parente commented on #484
That's good to know. Thanks for sharing the problem and fix.

[2017-12-08 06:05] yuvipanda opened #513 "Updates to the tensorflow stack"
Hello! I'm at KubeCon, and spent some time with @foxish and @vishh about TensorFlow. They indicated a desire to add some extra functionality to our tensorflow based stack here, so am filing this issue to remind me and them :)

[2017-12-11 16:41] arokem opened #514 "+ nano text editor"
Hello! I would like to request that the text editor `nano` be added to the images.

I am using the scipy image on jupyterhub following the z2jh recipes, in a workshop that includes instruction of git/Github. The nano editor is easier for novices to use, so we usually use it for git.

[2017-12-12 16:23] mango22 opened #515 "Do Jupyter Docker Support Spark Cluster with Yarn?"
Hello,

Documentation talks about Spark standalone and Spark cluster on Memos. Wondering if Spark cluster with Yarn is supported or not.

Thanks.

[2017-12-13 16:59] pascalwhoop opened #516 "[Discussion] Status CUDA Support for tensorflow image"
Hi all,
As far as I understood from [this post](https://github.com/jupyter/docker-stacks/issues/264#issuecomment-241606872), it's a legal issue if you can roll out NVIDIA CUDA with the images or not.
1. is that true?
2. could we extend the docs with a link to an external post (to be written?) that shows how to port this Dockerimage to one that supplies CUDA support? I am currently working on this,

[2017-12-17 04:11] parente commented on #515
@mango22 There is a Dockerfile recipe for building a YARN-compatible image on the recipes wiki page: https://github.com/jupyter/docker-stacks/wiki/Docker-recipes#use-jupyterall-spark-notebooks-with-an-existing-sparkyarn-cluster

I'm not sure how up-to-date the recipe is. It was added early in 2017.

[2017-12-17 04:15] parente commented on #516
@pascalwhoop I'm not familiar with the licensing and distributions requirements for CUDA. Maybe @jakirkham can chime in.

The recipes wiki page (https://github.com/jupyter/docker-stacks/wiki/Docker-recipes) sounds like the right place to put a link.

[2017-12-17 16:48] parente opened #517 "[Discussion] How to support additional stacks?"
We’ve been collecting PRs that add new image definitions to this project (see: #512, #486 #444). On one hand, I'd love to showcase the diversity of languages supported by Jupyter. On the other, I’m not sure we have the maintainer bandwidth for PHP, Ruby, Cling, etc. How might we proceed? Some ideas:

* Create a Jupyter "docker-stacks starter kit" project that people can use to set up their own cus

[2017-12-18 13:52] parente commented on #406
Foundation for this went in as PR #408. Leaving open because I think it's valuable to have additional kernel-specific integration tests using nbconvert, the execution preprocessor, and some notebook-based tests.

[2017-12-18 15:33] minrk commented on #517
I like option one the most. Building a generation tool and a wiki-style index of community images seems a lot more sustainable than growing this repo forever. Part of what's great about docker hub, etc. is that there's no reason for all of these images to be in one place, as long as they are discoverable. The only reason to do that is to consolidate maintenance effort, and we are already at (or pa

[2017-12-19 14:04] parente commented on #399
@edi90 this issue has been inactive for a while. I'm going to close it. If you found a way to use spark-tfocs and would like to share it with the community, feel free to post it here or on the https://github.com/jupyter/docker-stacks/wiki/Docker-recipes page.

[2017-12-19 14:04] #399 closed

[2017-12-19 14:06] parente commented on #384
@rothnic This issue has been idle for a while now. I'm going to close. If you found a way to get Spark with Snappy working against S3, and would like to share it with the community, please feel free to post your solution here or on the https://github.com/jupyter/docker-stacks/wiki/Docker-recipes wiki page.

[2017-12-19 14:06] #384 closed

[2017-12-19 14:12] parente commented on #408
Setting the `GRANT_SUDO` environment variable when launching a container should cause the container startup script to grant the `jovyan` user passwordless sudo (see: https://github.com/jupyter/docker-stacks/blob/master/base-notebook/start.sh#L45). If that's not working for your use case, we should debug and fix it.

The `jovyan` user purposely does not have a password set with sudo access granted

[2017-12-19 14:14] parente commented on #411
@danfowler This issue has been inactive for a while. I'm going to close it. If you found a way to solve your problem and would like to share it with the community, please feel free to comment back or post it on the https://github.com/jupyter/docker-stacks/wiki/Docker-recipes wiki page.

[2017-12-19 14:14] #411 closed

[2017-12-19 14:16] parente commented on #494
@uday2002 Just checking in. Did you find a solution to your issue?

[2017-12-19 14:25] parente commented on #493
@sivakon @blacknred0 It looks like your investigations have lead you to think Scala is the issue here. Should we keep this issue open (i.e., is it only occurring when using Scala in the docker images built here) or close it as a problem that will be fixed when the problem is resolved upstream?

[2017-12-19 16:22] uday2002 commented on #494
Hi  Peter,

Yes, Please close the ticket. Thanks for the help.

Thanks,
Uday

[2017-12-19 16:22] #494 closed

[2017-12-21 03:15] parente commented on #517
I'm in favor of the first option as well. I'm thinking that a ReadTheDocs site for this repo could serve as place to post a list of community maintained images, not to mention serve as motivation for me to finally consolidate the duplicate text spread across the READMEs.

[2017-12-27 12:25] sivakon commented on #493
@parente I built Apache toree from source. Now, it works like charm.

[2017-12-27 16:25] tomer-ben-david opened #521 "Question: can i share data from scala to R?"
Hi! Thanks for using Jupyter's docker-stacks images.

If you are requesting a library upgrade or addition in one of the existing images, please state the desired library name and version here and disregard the remaining sections.

If you are reporting an issue with one of the existing images, please answer the questions below to help us troubleshoot the problem. Please be as thorough as possible.

[2017-12-28 01:51] parente commented on #493
@sivakon Thanks for the feedback. Sounds like it's fixed in Toree master branch, and maybe in the 0.2.0 release candidate builds. Leaving this issue open as a reminder to update the Toree version once 0.2.0 final is out.

[2017-12-28 01:57] parente commented on #521
@tomer-ben-david The answer depends on the Jupyter kernel you are using.

* With Apache Toree, the answer is "yes", if the data are in a Spark DataFrame" which can be shared via the shared SparkContext.
* With spylon-kernel, the answer is "not easily".
* I'm not sure what the answer is when using [jupyter-scala](https://github.com/jupyter-scala/jupyter-scala).

[2017-12-28 10:48] pourya2374 commented on #228
thanks a lot :+1:

[2017-12-31 03:38] jamestwebber commented on #516
Adding a 👍 here to register interest in this feature, and happy to help debug if I can. A GPU-enabled TF image would be super useful.

[2018-01-02 10:21] hpham04 opened #523 "Step 10/28 : ADD fix-permissions /usr/local/bin/fix-permissions ADD failed: stat /var/lib/docker/tmp/docker-builder520912608/fix-permissions: no such file or directory"
Hi!
I tried to download the Dockerfile then tried to build it
It was OK until step 10/28

**What docker image you are using?**

Example: `jupyter/base-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

docker build  .

**What steps do you take once the container is running to reproduce the issue?**

Example:

1. Download Dockerfile, add a l

[2018-01-03 03:38] parente commented on #523
@hpham04 You'll need to git clone this entire project if you plan to build the images yourself locally. There are scripts and files besides the Dockerfile for some of the images that need to be in the same directory.

Example of how to build the jupyter/base-notebook image locally:

[code]

[2018-01-03 08:32] hpham04 commented on #523
@parente
Thank you so much for your help
I tried again and now it's executing Step 14/27, overcome this issue 👍

[2018-01-03 08:32] #523 closed

[2018-01-03 18:12] sergesvr opened #524 "sudo: jupyter: command not found"
Hi! Thanks for using Jupyter's docker-stacks images.

If you are requesting a library upgrade or addition in one of the existing images, please state the desired library name and version here and disregard the remaining sections.

If you are reporting an issue with one of the existing images, please answer the questions below to help us troubleshoot the problem. Please be as thorough as possible.

[2018-01-03 21:39] parente commented on #524
Regression due to #509. I need to add more integration tests clearly.

In the meantime, the workaround is to pin to the prior build tag, 0b3ec811c968.

[2018-01-03 23:02] parente commented on #524
Gah, right, forgot about `secure_path` in `sudoers`. We can either add `/opt/conda/bin` permanently as part of the build process or switch to full paths like `/opt/conda/bin/jupyter-notebook` if we don't want to trust things that might get installed in the container.

[2018-01-04 09:12] printztxikia opened #526 "KeyError: 'runtime_dir' trying to run the container with jupyter/all-spark-notebook"
Thanks in advance!

**What docker image you are using?**
jupyter/all-spark-notebook
**What complete docker command do you run to launch the container (omitting sensitive values)?**
docker run -it --rm -p 8888:8888 jupyter/all-spark-notebook

**What steps do you take once the container is running to reproduce the issue?**

Nothing, just running the container as listed above is causing the error.

*

[2018-01-05 03:22] parente commented on #526
I pulled the latest `jupyter/all-spark-notebook` image and ran `docker run -it --rm -p 8888:8888 jupyter/all-spark-notebook` locally. The notebook server started up without incident.

The `No space left on device` error suggests the hard drive where your docker images are stored is out of space. If you're running docker for mac or windows, it could be the VM is out of space rather than your host m

[2018-01-05 05:38] #524 closed

[2018-01-05 06:32] printztxikia commented on #526
:S you were right @parente , I had 18GB size of VM, and as soon as I've clean it, worked perfectly. Apologies for wasting your time...

[2018-01-05 06:32] #526 closed

[2018-01-05 10:29] lhoss commented on #506
this question looks resolved 👍

[2018-01-05 12:14] #493 closed

[2018-01-05 14:44] parente commented on #526
No problem. Happy Jupyter-ing!

[2018-01-05 14:44] parente commented on #506
Agreed. @iramsey85 feel free to comment back or reopen if you're still having trouble.

[2018-01-05 14:44] #506 closed

[2018-01-05 15:22] ericdill commented on #492
@parente fixed by #525?

[2018-01-07 12:41] tlinnet commented on #514
+1

[2018-01-08 06:48] hero0926 commented on #408
@anatoliykmetyuk

how'about try

docker run -it --rm \
-p 8888:8888 \
--user root \
-e NB_GID=100 \
-e GEN_CERT=yes \
-e GRANT_SUDO=yes \
jupyter/pyspark-notebook

[2018-01-08 21:46] Bidek56 opened #527 "Hadoop 3.0 is out"
Hadoop 3.0 is out, it's a major release. Please upgrade the docker-stacks to include hadoop-*3.0.0.jar.
Thanks

[2018-01-09 01:39] parente commented on #527
@Bidek56 Thanks for the news. I'm happy to review a PR updating the Spark distribution to one including Hadoop 3.0 when it's available.

[2018-01-09 16:48] nbonnotte commented on #524
I have the same issue with `docker run -ti --user=root -e NB_UID=1000 -e NB_GID=1000 jupyter/datascience-notebook`

I think `sed -ri "s#Defaults\s+secure_path=\"([^\"]+)\"#Defaults secure_path=\"\1:$CONDA_DIR/bin\"#" /etc/sudoers` should have been added outside the  GRANT_SUDO condition

Or the documentation should say that the GRANT_SUDO condition is necessary in that case, but I don't think that

[2018-01-09 17:28] Bidek56 commented on #527
Jar files for Spark with Hadoop 3.0 are not available yet, so this may have to wait till those jar files are available.

[2018-01-10 01:15] westurner opened #530 "scipy-notebook: pandas 0.22.0, {...}"
http://pandas.pydata.org/pandas-docs/stable/

http://pandas.pydata.org/pandas-docs/stable/whatsnew.html

https://github.com/jupyter/docker-stacks/blob/master/scipy-notebook/Dockerfile

[2018-01-10 01:32] westurner commented on #385
:+1:

[2018-01-10 18:56] parente commented on #530
@westurner Thanks. Happy to take a PR to update any / all libraries.

[2018-01-11 23:27] Bidek56 commented on #530
You can just update the libraries in a local Dockerfile, no need to wait for the base update.

###### Dockerfile ######
FROM jupyter/pyspark-notebook:latest
USER root
RUN conda update -y  --all

[2018-01-12 00:45] westurner commented on #530
Yup, but then I download the image containing the old versions and also the
updated conda packages.

`conda update -y all; conda env export` should list the latest package
versions.

Without tests, I'd assume that the latest versions are all working?

On Thursday, January 11, 2018, Derek <notifications@github.com> wrote:

[2018-01-12 15:45] Bidek56 commented on #524
Has this been resolved? I am still getting "sudo: jupyter: command not found" when running the latest

FROM jupyter/pyspark-notebook:latest
or
FROM jupyter/pyspark-notebook:400c69639ea5

using docker-compose

[2018-01-12 21:41] parente commented on #524
@Bidek56 The case noted in the original description should be resolved, but the one noted in @nbonnotte's comment still remains.

[2018-01-13 00:09] yuvipanda opened #531 "Consider adding jupyterhub-lab to images with JupyterHub and Lab"
We currently install JupyterHub and JupyterLab into all the notebook images. It'll be great to install https://github.com/jupyterhub/jupyterlab-hub too in them, since without it Lab doesn't have clean links to JupyterHub control panel.

[2018-01-13 15:27] terhorst opened #532 "R package hexbin for r-notebook image"
The R package `hexbin` (https://cran.r-project.org/web/packages/hexbin) is required to use `geom_hex` in ggplot, however it does not come with the r-notebook image.

[2018-01-14 15:32] parente commented on #532
@terhorst Thanks for reporting this issue. If you'd like to add `r-hexbin` to the list of packages conda installed in r-notebook, I'll be happy to review and merge that PR.

[2018-01-14 15:33] parente commented on #531
Seems reasonable to me. I can't imagine it'll add many bytes to the base-notebook image, as long as we clear the temporary build artifacts like we do when we install ipywidgets in scipy-notebook.

[2018-01-15 03:54] #532 closed

[2018-01-15 03:56] parente opened #535 "Julia 0.6 HDF5 unhappy with hdf5 from conda-forge"
History: https://github.com/jupyter/docker-stacks/issues/165

Recently build failure: https://travis-ci.org/jupyter/docker-stacks/builds/328753746?utm_source=github_status&utm_medium=notification

[code]

[2018-01-16 23:15] pascalwhoop commented on #516
Okay I made some progress today. I built a Dockerfile based on the nvidia cuda image and then added everything else myself. I had issues with the [tensorflow image](gcr.io/tensorflow/tensorflow:latest-gpu) hosted on gcr.io, because my Python3 kernels actually used python 2 underneath (which is a big nono obviously)

The image contains:

- jupyter of course
- python 2+3, all packages are in 3 thoug

[2018-01-17 00:37] westurner commented on #530
Is there a reason not to manage these versions in an external environment.yml?

- environment.yml would be easier to diff and patch separately (``conda env export -f environment.yml``)
- It's easy to see the versions in the one Dockerfile

[2018-01-18 22:17] Bidek56 commented on #524
How do get around this issue?
jupyter/pyspark-notebook:latest still throws: "sudo: jupyter: command not found" when using docker-compose
Do I just add GRANT_SUDO=yes ?

[2018-01-19 15:19] Bidek56 commented on #524
jupyter/pyspark-notebook:27ba57364579 resolved the issue. Thanks!!

[2018-01-19 16:03] Bidek56 opened #536 "pyspark library is missing from jupyter/pyspark-notebook"
**What docker image you are using?**
jupyter/pyspark-notebook:27ba57364579

pyspark library seems to be gone from the latest dockerhub build: jupyter/pyspark-notebook:27ba57364579

When I do:  pip list installed | grep pyspark, I get nothing.

In the prior version: jupyter/pyspark-notebook:033056e6d164
pyspark (2.2.0) exists.

What could be wrong? Thanks

[2018-01-19 17:22] Bidek56 commented on #536
When I run: docker run -it --rm -p 8889:8888 jupyter/pyspark-notebook:27ba57364579
pyspark is there.

When I run: docker run -it --rm -u root -p 8889:8888 jupyter/pyspark-notebook:27ba57364579
pyspark is gone.

Is this the expected behaviour?

[2018-01-19 20:51] parente commented on #536
@Bidek56 When you run:

[code]

what do you get as output in each case?

[2018-01-19 20:54] Bidek56 commented on #536
/opt/conda/bin/pip in both cases.

[2018-01-19 20:58] Bidek56 commented on #536
docker run -it --rm -p 8889:8888 jupyter/pyspark-notebook:27ba57364579 pip list installed | grep pyspark
pyspark (2.2.0)
docker run -it --rm -u root -p 8889:8888 jupyter/pyspark-notebook:27ba57364579 pip list installed | grep pyspark
pyspark (2.2.0)

but when I run it in the notebook, it can't find pyspark. Weird.

[2018-01-20 16:05] parente commented on #535
Seems to have been a transient. Follow-on builds succeeded with no issues.

[2018-01-20 16:14] parente opened #537 "Bot to update wiki/Docker-build-history is no longer working"
Unsurprising. The webhook endpoint was running out of a free team account that has probably expired. Needs to be relocated elsewhere or re-envisioned. After a few minutes of looking, I don't see a post-build webhook option in Docker Cloud like there is in Docker Hub.

[2018-01-20 17:27] jakirkham commented on #537
Heroku can be a good option for this sort of stuff.

[2018-01-20 19:24] parente commented on #537
I was thinking of moving it to AWS lambda where the charge is only for the handful of api calls that’ll be made to it a month. Does heroku have a lambda equivalent these days?

[2018-01-20 19:49] jakirkham commented on #537
There's [this buildpack]( https://github.com/weibeld/heroku-buildpack-run ), which let's you run arbitrary stuff during the Heroku build. So then it comes down to trigger that build.

Alternatively you can go with the traditional Heroku webservice model and setup an API that runs this once for you. This is how we power most of the automated stuff in conda-forge.

That said, no strong opinions on i

[2018-01-20 23:17] eyadsibai commented on #535
What about installing julia using conda instead?

[2018-01-21 20:13] parente commented on #535
There was a bit of back and forth on that topic in #454. A contributor submitted a PR adding Julia 0.6 from upstream and that's what we merged.

[2018-01-21 20:16] parente commented on #531
Looks like we already have it.

https://github.com/jupyter/docker-stacks/blob/master/base-notebook/Dockerfile#L82

IIRC, the start command has to be `jupyter labhub`. We probably need some documentation about how to enable it appropriately using the `start-singleuser.sh`, `start-notebook.sh`, or `start.sh` scripts here.

[2018-01-23 15:15] lhoss commented on #205
Before creating a new issue, I found this existing (closed) issue about large images, so I tought to first ask here:
* Is there a chance to optimise the various image sizes at all (potentially eliminating near-duplicate layers)
* or is it just the combination of the many python modules + the chain of derived images (base->spark->pyspark) ?!

Example: recent pyspark image size = *5.017 GB* !
[code]

[2018-01-24 14:38] Bidek56 commented on #536
Any idea how to resolve this issue besides installing pyspark everytime I start the container?
Does anyone else have this issue? Thanks

[2018-01-25 02:56] parente commented on #536
The `PYTHONPATH` set here:

https://github.com/jupyter/docker-stacks/blob/master/pyspark-notebook/Dockerfile#L37

is preserved when the container starts as the `jovyan` user:

[code]

When started as `root`, like so:

[code]

the `PYTHONPATH` is lost when the `start.sh` script sudo's to `jovyan`. Interestingly, the `SPARK_HOME`, `MESOS_NATIVE_LIBRARY`, and other variables are preserved.

Looks lik

[2018-01-25 02:57] #535 closed

[2018-01-25 02:57] parente commented on #535
I haven't seen the issue again. Closing it out for the time being.

[2018-01-25 12:51] PkuRainBow commented on #228
Thanks!

[2018-01-31 22:13] ksingh7 commented on #536
I am also hitting the exact same bug

[2018-01-31 22:14] ksingh7 commented on #536
BTW this is also hitting ``jupyter/all-spark-notebook`` image

[2018-01-31 22:54] ksingh7 opened #542 "Unable to access host directory from within container : getting permission denied"
Hi! Thanks for using Jupyter's docker-stacks images.

If you are requesting a library upgrade or addition in one of the existing images, please state the desired library name and version here and disregard the remaining sections.

If you are reporting an issue with one of the existing images, please answer the questions below to help us troubleshoot the problem. Please be as thorough as possible.

[2018-01-31 23:02] ksingh7 commented on #542
- Here is the output from host machine that shows ``/nvme/jupiter-notebook/all-spark-notebook/work`` directory is owned by``ksingh`` user whose id is ``1000``
[code]
- Next i launch container successfully
[code]
- Logs from jupyter terminal , that shows ``/nvme/jupiter-notebook/all-spark-notebook/work`` is mounted on ``/home/jovyan/work``
[code]

[2018-01-31 23:08] ksingh7 commented on #542
Also if i try to change user id to a different number on host machine and try to launch container, the container fails like this.
[code]

[2018-02-01 02:49] #531 closed

[2018-02-01 02:52] parente commented on #536
Happy to take a PR if someone gets to this before I do. I believe some experimentation with adding `PYTHONPATH` to the `env_keep` list in `/etc/sudoers` might do the trick. If not, we might need to simply remove the `env_reset`.

https://stackoverflow.com/questions/7969540/pythonpath-not-working-for-sudo-on-gnu-linux-works-for-root

[2018-02-01 07:39] souravpatnaik commented on #364
**Solution :**

[root@xx ~]# docker pull hello-world
Using default tag: latest
Pulling repository docker.io/library/hello-world
**Error while pulling image: Get https://index.docker.io/v1/repositories/library/hello-world/images: authenticationrequired**

earlier i have set docker proxy in file   /etc/systemd/system/docker.service.d/https-proxy.conf
#[Service]
#Environment="HTTPS_PROXY=http://xxx:8

[2018-02-01 07:46] souravpatnaik commented on #484
**Solution :**

[root@xx ~]# docker pull hello-world
Using default tag: latest
Pulling repository docker.io/library/hello-world
**Error while pulling image: Get https://index.docker.io/v1/repositories/library/hello-world/images: authenticationrequired**

earlier i have set docker proxy in file   /etc/systemd/system/docker.service.d/https-proxy.conf
#[Service]
#Environment="HTTPS_PROXY=http://xxx:8

[2018-02-02 20:38] asanchez75 commented on #408
Here, there is an example for docker-compose.yml

`
FROM jupyter/datascience-notebook
MAINTAINER Adam Sanchez <a.sanchez75@gmail.com>

USER root
RUN apt-get update && apt-get install -y graphviz git

USER jovyan
RUN cd /tmp && \
    git clone https://github.com/asanchez75/sparql-kernel.git && \
    cd /tmp/sparql-kernel && \
    python setup.py install

RUN jupyter sparqlkernel install --user && \

[2018-02-02 21:10] moonlight16 opened #543 "How to install jupyter/docker-stacks with python 2.x"
Please find the question here:
https://stackoverflow.com/questions/48590900/how-to-install-jupyter-docker-stacks-with-python-2-x

[2018-02-02 22:12] parente commented on #543
@moonlight16 Please see / try https://github.com/jupyter/docker-stacks/wiki/Docker-recipes#add-a-python-2x-environment

[2018-02-03 08:17] xagano commented on #228
Thanks!

[2018-02-03 21:50] Bidek56 commented on #536
PR #544 has been created to fix this issue.

[2018-02-04 18:13] parente commented on #542
@ksingh7 Thanks for the report. I'm seeing the same behavior on OSX with Docker version 17.12.0-ce-mac47. Can you post back with your version of docker and operating system? I'm wondering if Docker for Mac or the Docker daemon now maps container uid/gids to different, ephemeral users on the host by default. Some evidence: `chmod 777 /the/host/folder` and the `jovyan` user in the container can writ

[2018-02-05 14:25] Bidek56 commented on #536
The issue has been fixed with PR #544

[2018-02-05 14:25] #536 closed

[2018-02-07 02:16] parente commented on #516
Cross-posting from the PR so it's retained here on the original issue:

As a matter of principal, we (the Project Jupyter maintainers) do not wish to deal with the distribution of non-open source software. This sentiment includes both the binary Docker images and the toolchain we use to build them.

We will be happy to revisit this issue if the CUDA license changes. Until then, we're going to clos

[2018-02-07 02:16] #516 closed

[2018-02-07 05:46] pascalwhoop commented on #516
Good mentality, although I don't believe Nvidia will ever OS the cuda libs for the sake of generating nice revenue streams. Too bad.

[2018-02-08 04:06] madeinquant opened #546 "How to install plotly or vega in the docker image 'jupyter/all-spark-notebook'"
Encounter erros when import breeze.plot._ in a docker "all-spark-notebook

I try to execute the following source code(https://gist.github.com/satoshihirose/49fac5ad48b39c5970ae) in a docker "all-spark-notebook", however, it cannot be executed in jupyter notebook. An error was encountered. Please comment how to fix it, thank you.

[code]

[2018-02-09 08:54] wys18 commented on #228
thanks a lot 👍

[2018-02-11 10:36] GrahamDumpleton opened #547 "The fix-permissions script must be re-run on $HOME after various setup."
**What docker image you are using?**

All of the following images are affected in some way.

[code]

**What is the problem?**

The ``fix-permissions`` script is run on the ``$HOME`` directory once in ``Dockerfile`` for ``base-notebook``, and in one special case in ``scipy-notebook``. This is not enough.

The ``fix-permissions`` script needs to be run after any commands which could result in per us

[2018-02-11 16:44] MarcoMeter opened #548 "Permission denied on uploaded executable ran as subprocess"
**What docker image you are using?**

[Dockerfile.txt](https://github.com/jupyter/docker-stacks/files/1714594/Dockerfile.txt)
- Base image: `jupyter/scipy-notebook`
- Added [nvidia cuda image](https://gitlab.com/nvidia/cuda/blob/ubuntu16.04/8.0/runtime/cudnn6/Dockerfile) manually
- Added tensorflow-gpu like it is done for jupyter/scipy-notebook
Further additions ([Unity ML-Agents](https://github.c

[2018-02-11 18:36] harschware commented on #465
Just a status update that I tried the command posted above on the latest jupyter/all-spark-notebook  to see if anything may have changed.  same error.  I just wanted to see if any commits since the issue filed had any effects.

[2018-02-14 10:17] brospars commented on #542
I'm also having permission related issues building a notebook image based on `jupyter/minimal-notebook`. I wonder if this is related.

[code]

[2018-02-14 18:59] MarcoMeter commented on #548
Apparently using `os.chmod("executable", 777)` in python does not set all permissions to true. Instead of 777, I fixed the issue by `os.chmod("executable", 0o777)`.

[2018-02-14 18:59] #548 closed

[2018-02-15 00:04] GrahamDumpleton opened #549 "Use integer $NB_UID and not $NB_USER for USER in Dockerfile."
All the ``docker-stacks`` images currently use:

[code]

to switch from ``root`` to non privileged ``jovyan`` user.

This is not ideal when it comes to platforms for deploying containers which enforce secure methods for deploying images in containers. This is because the platform may restrict users from deploying images that will run as ``root``. Because a user name is used with ``USER`` via ``$NB

[2018-02-15 04:50] GrahamDumpleton commented on #547
@parente I will be starting on a PR for this tomorrow. Warn me if already done work on it.

[2018-02-15 05:40] GrahamDumpleton opened #552 "Lack of passwd/group file entries when run as arbitrarily assigned user ID."
**What docker image you are using?**

All are affected by this issue.

**What complete docker command do you run to launch the container (omitting sensitive values)?**

Two commands to consider.

[code]

and:

[code]

The examples are where images are run as arbitrarily assigned user ID. This scenario can arise in container deployment platforms which enforce a security model where images can't run

[2018-02-16 03:17] GrahamDumpleton commented on #547
Of interest, just removing the ``.cache`` directory, which contains packages from yarn, drops the image size as shown by ``docker images`` by 150+ MB.

Before.

[code]

After.

[code]

[2018-02-16 04:10] GrahamDumpleton commented on #547
There is a potential conflict between packages in ``base-notebook`` and what ``r-notebook`` wants. This results in:

[code]

If this means different versions of packages are being pulled down to replace existing ones, then it only serves to bloat out the ``r-notebook`` image size.

A separate issue should perhaps be created to investigate this and avoid downgrading of packages if possible.

[2018-02-16 04:55] GrahamDumpleton commented on #547
The ``scipy-notebook`` also has packages being downgraded.

[code]

And some removed, which will not actually save any space.

[code]

[2018-02-16 04:56] GrahamDumpleton commented on #547
In ``scipy-notebook`` the directory ``/home/jovyan/.node-gyp`` can also be cleaned up.

[2018-02-16 05:26] GrahamDumpleton commented on #547
Saving on size in ``scipy-notebook`` should be good as well. Before:

[code]

and after

[code]

So almost 400MB on image size by ``docker images``.

The before size is already based on the trimmed ``base-notebook``.

[2018-02-16 06:53] kish7 commented on #114
I have the same issue in windows 10. The same message comes up when I try to create a new notebook.
Any idea what I should do to fix it ?
Thanks in advance .

[2018-02-16 11:19] GrahamDumpleton commented on #552
This is also needed for running Apache Toree in all-spark-notebook. Without it the Apache Toree kernel will not start as it can't work out what $HOME is for the user ID that the container runs as when run as arbitrarily assigned user ID.

[2018-02-16 13:37] minrk commented on #547
yeah, none of the build artifacts should be left in HOME. In fact, there shouldn't be anything in $HOME in any of our images, so ~any file created in $HOME should be considered a bug in the line that creates it. My guess is that the majority of it is happening in the jupyterlab build step. I don't believe the fix is to run fix-permissions on $HOME, but instead delete the cached artifacts.

As for

[2018-02-16 20:52] GrahamDumpleton commented on #547
It is not entirely true that everything in ``$HOME`` should be deleted. In ``scipy-notebook`` the step taken to pre-calculate fonts stuff related to ``matplotlib`` will leave stuff under the ``.cache`` directory. So removing that is probably not a good idea. I have already taken that into consideration. Will be creating PR later today as done all the changes required.

[2018-02-17 03:06] parente commented on #547
Fixed by #555.

[2018-02-17 03:06] #547 closed

[2018-02-17 03:07] parente commented on #549
Fixed by #550.

[2018-02-17 03:07] #549 closed

[2018-02-19 03:19] GrahamDumpleton commented on #465
@dsevilla Your issue may have been addressed by https://github.com/jupyter/docker-stacks/pull/555. Try again.

[2018-02-19 07:50] GrahamDumpleton commented on #552
BTW, Red Hat guidelines have been updated to use this approach in place of a previous way they were recommending using libnss_wrapper. See section 'Support Arbitrary User IDs' of:

* https://docs.openshift.com/container-platform/3.7/creating_images/guidelines.html

Hopefully this provides some confirmation that is seen as okay to use it.

[2018-02-20 09:22] minrk commented on #552
Thanks for digging into it! Closed by #559

[2018-02-20 09:22] #552 closed

[2018-02-20 12:39] minrk opened #560 "Revisit root permissions and entrypoint for user management"
In start.sh, we support setting up the user in a variety of ways that currently require the container to be started as root. #552, #553, #559 introduce a mechanism to handle a subset of those cases when the user is in the root *group*, as is typical with openshift. #553 initially did so in an ENTRYPOINT instead of CMD in order to benefit even when CMD is overridden, e.g. directly to `jupyterhub-si

[2018-02-20 14:10] parente commented on #560
I've stalled on creating the ReadTheDocs site, partially because I'm at the section of the doc where I have to document all the various options the images support. It's daunting.

So I was planning to open an issue this morning to discuss what options we currently support (e.g., `NB_UID`), why they were originally needed, and if they're still needed given the usage patterns that have emerged.

The

[2018-02-21 15:08] tonywangcn opened #561 "The docker kernal always dead after about 30 minutes training"
**What docker image you are using?**

tensorflow-notebook

Example: `jupyter/scipy-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**
docker run -it --name tensorflow_notebook --restart always -p 8887:8888 -v /root/code:/home/jovyan/work -d jupyter/tensorflow-notebook
Example: `docker run -it --rm -p 8889:8888 jupyter/all-spark-notebook:late

[2018-02-21 15:27] tonywangcn commented on #561
And it died after 39 mins with this repo too. https://github.com/sherjilozair/char-rnn-tensorflow (python train.py)

Monitor data:

![image](https://user-images.githubusercontent.com/3056655/36488568-bb435402-175e-11e8-902d-b4917e1e6b5b.png)

[2018-02-23 23:40] brntsllvn commented on #199
confirmed...Chrome curiously cannot connect. Edge works fine.

[2018-02-24 12:52] OnlyBelter opened #563 "Cannot access through https://ip:port"
I am using docker-compose to set `jupyter/datascience-notebook` up. My `docker-compose.yml` like below:
[code]

My website is hosted on `alibabacloud`, https://account.alibabacloud.com/. Because this host has other apps, I cannot change the whole web apps to `https` connection. I only got `mycert.pem` and `mykey.key` by `openssl`.
I run `docker-compose` through `docker-compose up`, I got the follo

[2018-02-25 22:46] jonatasbaldin opened #564 "Unable to run jupyter/minimal-notebook: ValueError: source code string cannot contain null bytes"
**What docker image you are using?**
`jupyter/minimal-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**
`$ docker run -it --rm -p 8888:8888 jupyter/minimal-notebook`

**What steps do you take once the container is running to reproduce the issue?**
Just run the command.

**What do you expect to happen?**
A URL to access the notebook.

**What

[2018-02-26 03:08] parente commented on #564
Hmm. The `Container must be run with group root to update passwd file` bit made me think it was a regression related to PR #559. I just pulled the latest `jupyter/minimal-notebook` image locally on Linux and ran without an issue. Pulling it on my Mac at the moment to try there ...

[2018-02-26 03:16] parente commented on #561
The `Bad response from Docker engine` message you receive makes me think this is unrelated to the jupyter images or possibly even tensorflow, and more with the environment in which the training is running.

In your Docker for Mac settings, how much memory do you have allocated for the VM that runs Docker? Does the Mac go to sleep while the training is running, potentially pausing the Docker VM?

[2018-02-26 03:18] parente commented on #563
The `Unable to access this website` make me believe the problem is with the app configuration on alibabacloud.com.

I'm not familiar with alibabacloud.com and how it maps external ports to your application. Is port 6000 allowed?

[2018-02-26 03:23] parente commented on #564
No issues on my mac either. Do you have the latest minimal-notebook image? Should have ID 83cc55e10b0f from about 5 days ago.

[code]

[2018-02-26 03:25] jonatasbaldin commented on #564
Hello there, thanks for the responses.

Yes, I have this version. Still having the same issue 🤔 Will try to remove the image and pull it again!

[2018-02-26 07:51] tonywangcn commented on #561
Nope. Mem 14 GB. The same image and model works well in a linux machine about 24 cores. I think it's killed by some service of MacOS because of high cpu usage. But didn't have any proof yet.

[2018-02-26 14:36] OnlyBelter commented on #563
Now I can access through http://ip:port (eg: http://192.168.201.33:8888) in our local area network by using below configration:
[code]

But I still cannot access it through public ip (our web server, similar to AWS) with the same configuration.

By the way, is there a way to connect this port, like `8888`, to my domain and serve it through `nginx`?

[2018-02-28 13:34] jonatasbaldin commented on #564
Hello! Just pulled the image again and it working fine, it maybe got corrupted while pulling it before.

Thanks for the attention ❤️

[2018-02-28 13:34] #564 closed

[2018-03-01 06:28] kcolton commented on #530
@westurner

Without tests, I'de assume nothing about versions working.

Version bumps need to be done methodically and care taken to look at what breaking changes. So that the next person who happens to do a `docker pull jupyter/*-notebook:latest` might find their notebooks suddenly broken.

I need a feature from `pandas=0.22.0` so i've done some above overrides.

It would be great to allow everyo

[2018-03-01 18:18] parente commented on #530
The mantra for this repo has always been that users should be using specific build tags for the images here, unless they're comfortable with anything changing under their feet with `latest`. The README calls this out.

We have to have some measure of trust that pandas 0.22 has been tested by the pandas community and is not completely broken. That said, there barebones automation for running functi

[2018-03-01 19:47] westurner commented on #530
http://nbconvert.readthedocs.io/en/latest/execute_api.html

[code]

https://github.com/computationalmodelling/nbval

[code]

[2018-03-01 21:33] Bidek56 commented on #527
Spark 2.3 is out, I have created a PR https://github.com/jupyter/docker-stacks/pull/565 for it.

[2018-03-03 18:02] iolbr opened #568 "Unable to share folder from windows 10 to container"
**What docker image you are using?**
jupyter/all-spark-notebook

**What complete docker command do you run to launch the container (omitting sensitive values)?**
docker run -it --rm -p 8888:8888 jupyter/all-spark-notebook -v C:/docker/jupyter:/mnt
--user root -e NB_UID=1000 -e NB_GID=100 -e GRANT_SUDO=yes

Results in:
[FATAL tini (5)] Executing child process '-v' failed: 'No such file or directory

[2018-03-03 18:04] iolbr commented on #568
Same for
docker run -it --rm -p 8888:8888 jupyter/all-spark-notebook -v C:/docker/jupyter:/home/jovyan/work --
user root -e NB_UID=1000 -e NB_GID=100 -e GRANT_SUDO=yes
[FATAL tini (5)] Executing child process '-v' failed: 'No such file or directory'

[2018-03-04 02:04] parente commented on #568
@iolbr The various docker options (-v, -e, --user) have to come before the docker image name (jupyter/all-spark-notebook).

[2018-03-04 08:14] iolbr commented on #568
Missed that information! Now it works, many thanks!

[2018-03-04 08:14] #568 closed

[2018-03-05 12:08] mrocklin opened #569 "The open_browser config option in base-notebook"
I've been getting errors like the following in my logs

    [W 2018-03-05 12:02:24.533 SingleUserNotebookApp configurable:168] Config option `open_browser` not recognized by `SingleUserNotebookApp`.  Did you mean `browser`?

I tracked the open_browser config option to the `base-notebook` image config file

[code]

[2018-03-05 12:11] mrocklin commented on #569
Hrm, it looks like this is still a valid option.  I realize now that this may not be the best place to raise this issue.  Please let me know if I should reroute.

[2018-03-06 13:56] parente commented on #569
@mrocklin I see on the downstream issue that you traced your problem back to kubernetes on GCE (which is good, because I don't think the warning here was related :). OK to close?

[2018-03-06 13:57] mrocklin commented on #569
Yes, apologies for the noise.

[2018-03-06 13:57] #569 closed

[2018-03-06 15:47] mdespriee opened #572 "Apache Toree / Spark notebook crashes on init."
Unable to have a running scala/spark notebook

**What docker image you are using?**

[code]

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -it --rm -p 8888:8888 -v /Users/mathieu:/home/jovyan jupyter/all-spark-notebook`

**What steps do you take once the container is running to reproduce the issue?**

Example:

1. Visit http://localho

[2018-03-08 10:03] anandumdas commented on #524
The error happens because the binary you are trying to call from command line is only part of the current user's PATH variable, but not a part of  root user's PATH.

You can verify this by locating the path of the binary you are trying to access. In my case I was trying to call "bettercap-ng". So I ran,

`$ which bettercap-ng`

`output: /home/user/work/bin/bettercap`

I checked whether this locati

[2018-03-09 16:47] papakpmartin opened #574 "No longer have access to local volume"
**What docker image you are using?**

I'm building from my own Dockerfile [here](https://github.com/papakpmartin/jupyter-pyspark-plus-oracle-and-postgres/blob/master/Dockerfile) which is based on `jupyter/scipy-notebook`.

This Dockerfile has worked for many months and is untouched (except for debugging attempts which I'll describe below).

**What complete docker command do you run to launch the c

[2018-03-09 17:24] #574 closed

[2018-03-09 17:36] papakpmartin commented on #574
Oh good heavens... it's `jovyan` and `joyvan`; typo in my `docker run...`

Correcting that, it works _nearly_ as expected.

On thing that seems new to me: On my other laptop running this container (built a few weeks ago), the home directory is the contents of the `work` directory; so in Jupyter I don't see `oracle` and `work`, I only see the contents of the volume I'm pointing to. After correcting

[2018-03-09 17:59] ewjoachim opened #575 "When using a volume, the work dir belongs to root"
**What docker image you are using?**

`jupyter/scipy-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -it --rm -p 127.0.0.1:8888:8888 --user=root -e NB_UID=$UID -e NB_GID=$GID -e CHOWN_HOME=1 -v "$pwd/notebooks:/home/jovyan/work" --name notebook jupyter/scipy-notebook`

**What steps do you take once the container is running to

[2018-03-09 18:02] ewjoachim commented on #575
Actually, chown is not -R, that's why it doesn't work. I've made a PR :)

[2018-03-09 18:47] vegabondx commented on #361
I have the same problem but I am NOT using docker machine I guess. Any help here?
Things I have tried already
1. Using 0.0.0.0 (ip=0.0.0.0 in starting notebook )
 2. Accessing via localhost , 0.0.0.0 . 192.168.99.103
3. Changing the port mapping -p 8889:8888 etc

[2018-03-09 19:47] parente opened #577 "Shorten Travis CI build process"
We're running up against the max build time allowed. Ideas for shortening so the tests can run to completion again:

* Be smarter about what images have changed and what to build based on the git diff
* Remove some images
* Remove some libraries from the images
* Study where the build time is spent and focus on that piece

[2018-03-09 19:52] parente commented on #572
Maybe related to needing a newer version like the one in #570 to function with the Spark 2.2 version in the image?

[2018-03-12 16:01] iolbr opened #578 "Convert JDBC-Dataframe to Dataset is failing"
Hi,
started to use the all-spark-notebook. Run into error while trying to convert dataframe into dataset.
**What docker image you are using?**

jupyter/all-spark-notebook

**What complete docker command do you run to launch the container (omitting sensitive values)?**
PS C:\WINDOWS\system32> docker run -it --rm -p 8888:8888 --user root -e NB_UID=1000 -e NB_GID=100 -e GRANT_SUDO=yes -v C:/docker/ju

[2018-03-14 07:50] cndaimin opened #582 "Why 'As distributed tensorflow is still immature'"
![image](https://user-images.githubusercontent.com/4527219/37389347-ee097286-279e-11e8-9f17-4b83896a10c6.png)

I noticed `As distributed tensorflow is still immature` here, and my question is, what's the best practice in writing distributed tensorflow?

[2018-03-14 10:47] gglanzani opened #583 "Add netcat to pyspark notebook"
Hi, thanks for the project!

I was wondering if it would make sense to add netcat (`nc`) to the pyspark image.

The rationale is that, when learning Spark Streaming, many examples use netcat to send data through socket to Spark.

Netcat only takes approximately 130kb up, so that would not influence the size of the image much.

If this is useful, please let me know and I will create a PR (also let

[2018-03-14 15:55] bclipp opened #585 "feature request sparkmagic"
Hi,

I'm using r-notebook, but I feel this would be useful for most notebooks.  the command in this case I'm using is just :
run -it --rm -p 8888:8888 jupyter/r-notebook

sparkmagic is a livy plugin for jupyter so that jupyternotebook will allow python, R or scala to talk to a Livy API server who then runs the spark session. The trick is you will need to allow the run time env variable of hostname

[2018-03-15 03:28] parente commented on #583
I think it'd be best to put it in minimal-notebook along side the other "handy tools".

[2018-03-15 11:13] ewjoachim commented on #575
Should be closed now. Let's reopen if a new problem arises :)

[2018-03-15 11:13] #575 closed

[2018-03-16 10:39] lastnod opened #587 "don't understand --no-switch_user flag break link"
Hello !
i want to use pyspark-notebook with mesos
and this step is not really clear to me

and the link on  --no-switch_user flag is not available anymore

Could you write a little explanation or fix the link ?

[2018-03-16 11:32] parente commented on #587
http://mesos.apache.org/documentation/latest/configuration/agent/ is an updated page with the agent settings and description of the flag. Search for `switch_user` on that page.

Would you mind submitting a PR updating the README with that link and any improvements you feel warranted based on what you learn from that page?

[2018-03-16 13:27] #587 closed

[2018-03-17 08:51] iolbr commented on #578
Seems to no issue with the notebook. Build a test case in scala/spark directly and was able to reproduce it.

[2018-03-17 16:28] parente commented on #578
@iolbr If you do resolve this completely, would you mind posting a comment as to how for future readers?

Is it OK to close this issue since the problem is with Scala / Spark and nothing related to the Jupyter docker images?

[2018-03-17 21:11] parente commented on #583
Thanks for the PR!

[2018-03-17 21:11] #583 closed

[2018-03-18 01:43] parente commented on #582
That note has been in the README since its original contribution. It'd be great if someone would like to submit a PR updating it to reflect the current state of affairs.

[2018-03-19 01:42] parente opened #589 "r-notebook downgrades pyzmq to 16.0, nb fails to start"
Something in the r-notebook image is causing pyzmq to downgrade to 16.x which is incompatible with the latest tornado 5.0 release. Trying to force `pyzmq>=17` leads to:

[code]

Current workaround: forcing `tornado<5` so that pyzmq 16.x works with the notebook server.

Need to figure out what's dragging the packages down and fix upstream.

[2018-03-19 02:21] parente commented on #572
@mdespriee can you give the latest all-spark-notebook image a try? @lresende updated Apache Toree  in #570 and I wonder if it fixes your issue.

[2018-03-19 21:30] #447 closed

[2018-03-19 22:07] moonlight16 commented on #440
The Dockerfile recipes provided here and on the main page:

https://github.com/jupyter/docker-stacks/wiki/Docker-recipes#add-a-python-2x-environment

are still not letting me run jupyter notebooks with python2.x as the default.  I still get python3, as confirmed by 'import sys; sys.version_info'.

What am I doing wrong???

[2018-03-23 01:02] archcra commented on #440
When I build the image, I got such error:

The command '/bin/sh -c conda create --quiet --yes -p $CONDA_DIR/envs/python2 python=2.7 ipython ipykernel kernda &&     conda clean -tipsy' returned a non-zero code: 1

Any help will be appreciated

[2018-03-23 08:14] stijndehaes opened #592 "pyspark-notebook - spark 2.3 default user id in downloaded files"
Hi I am using the pyspark-notebook on a kubernetes cluster. I am starting from your image and adding some extra libraries. However since moving to spark 2.3 I can not pull the docker image in my jenkins machine.

This is because the spark files inside the downloaded spark package are owned by user with uid: 1311767953. And on my jenkins machine user namespace mapping is enabled. For this the work

[2018-03-24 14:25] parente commented on #563
If you want docker to expose port 8888 on all host interfaces, I think you need:

[code]

Double-check my recollection of the syntax in the docker-compose docs if that fails.

[2018-03-24 14:28] parente commented on #408
This issue has been inactive for a while now, has an explanation for why there's no password set for the `jovyan` user by default, and has a couple examples of how to install packages in this setup. I'm going to close out this issue. If there's further questions, we should address them in #538 and future documentation PRs.

[2018-03-24 14:28] #408 closed

[2018-03-24 14:29] parente commented on #419
This issue has been inactive for some time and I'm going to close it. If someone would like to pick up the reigns on debugging checkpointing problems, we'll definitely review a PR.

[2018-03-24 14:29] #419 closed

[2018-03-24 14:30] parente commented on #465
It's likely that PR #555 resolved this issue so I'm closing it out. If the problem persists, feel free to open a new issue or PR.

[2018-03-24 14:30] #465 closed

[2018-03-24 14:32] parente commented on #469
I stalled on working on the web UI idea and started to focus on better documentation for this repo and community contributed stacks. I'm going to close this out since I don't expect to continue to working on the web approach anytime soon. If someone would like to pick up where I left off, that's fine by me. I think the next challenge with the approach is finding a sane way to generate the flat Doc

[2018-03-24 14:32] #469 closed

[2018-03-26 16:53] cywang16 opened #597 "Question: why doesn't ifconfig work in tensorflow image's terminal?"
Greeting,

I just pulled the latest jupyter/tensorflow-notebook docker image, and launched it. I opened a new terminal, but found 'ifconfog' and 'ip addr' not working. Why is that?

Thanks,

Chun-Yen

[2018-03-28 15:43] harschware commented on #465
Unfortunately this bug was not resolved with PR#555

[2018-03-28 15:47] harschware opened #598 "Using NB_UID produces, KeyError and error due to unwriteable home directory"
Unwriteable home directory previously reported in PR #465.  It was incorrectly thought that PR #555
addressed the issue.  It did not, but it did introduce an additional error for this use case `KeyError: 'runtime_dir'`

[code]

[2018-03-29 10:12] taqtiqa-mark opened #599 "Feature request: Apache Drill"
Hi! Thanks for using Jupyter's docker-stacks images.

I love the idea of the opinionated/curated stack.

Has [Apache Drill](https://drill.apache.org/) been considered for inclusion?
Is there a road map of upcoming additions?

Thanks again for all your efforts.

[2018-03-29 14:40] mdespriee commented on #572
works with today's image

[2018-03-29 14:40] #572 closed

[2018-03-31 20:44] jakirkham commented on #382
Was just noticing today that there are still a few images that add the `r` channel. Any thoughts on dropping the `r` channel from them as well?

[2018-03-31 20:55] parente commented on #382
@jakirkham Interesting. Thought we had got them all switched over. I see `--append channels r` in datascience-notebook which we should fix. Did you spot it elsewhere as well?

[2018-03-31 21:54] jakirkham commented on #382
That was the one that I saw as well. Did a couple quick searches and didn't see anything else.

Are there particular packages that we were missing over there that motivated us to keep it? Skimming a [recent build of the datascience-notebook]( https://cloud.docker.com/app/jupyter/repository/registry-1.docker.io/jupyter/datascience-notebook/builds/2db6413b-6854-4580-a97b-055df84ec3e3 ) shows only `c

[2018-04-02 04:27] GrahamDumpleton commented on #465
@harschware What permissions does the directory ``/home/centos`` have. Override the start up command when using ``docker run`` and then use ``ls -las`` on the directory.

[2018-04-02 05:04] jakirkham commented on #382
Added PR ( https://github.com/jupyter/docker-stacks/pull/601 ) to drop the `r` channel vestige.

[2018-04-02 05:32] jakirkham commented on #589
Merged PR ( https://github.com/conda-forge/r-pbdzmq-feedstock/pull/4 ). Hopefully that helps.

[2018-04-02 20:59] harschware commented on #598
The following shows permissions on the /home/centos directory (using ls -la instead of default CMD).
`[root@sandbox ~]# docker run --name sparkall --user root -e NB_USER=centos -e NB_GROUP=centos -e NB_UID=$(id -u centos) -e NB_GID=$(id -g centos) -p 8888:8888 -v work:/home/centos/work jupyter/all-spark-notebook ls -la /home/centos
total 0
drwxr-xr-x 3 root root 18 Apr  2 20:58 .
drwxr-xr-x 4 root

[2018-04-02 21:00] harschware commented on #465
@GrahamDumpleton I've responded to you by sharing the output in the open PR #555.  Thanks.

[2018-04-04 11:34] taqtiqa-mark commented on #577
AFAICT you'll forever be snookered by this issue without breaking the build steps out of the make files, to take advantage of the parallel build functionality.

The extra benefit of doing this is that same parallel structure can be used in Shippable - this would give you some redundnacy in the build infrastructure.

[2018-04-05 10:21] prakritidev opened #603 "different version 2.7 than that in driver 3.6 in jupyter/all-spark-notebook"
[code]

Got this error after testing this code :

[code]
run docker using

`docker run -it --rm -p 8888:8888 jupyter/all-spark-notebook
`

[2018-04-06 01:06] parente commented on #603
We used to set the `PYSPARK_PYTHON` in the Dockerfile so that it would point to the Python 3 binary at `/opt/conda/bin/python`, but that was removed some time ago. I'm looking through the commit history to see if that was intentional or lost accidentally.

[2018-04-06 01:08] parente commented on #603
Ah. https://github.com/jupyter/docker-stacks/issues/151#issuecomment-296395760

So apparently the behavior has changed yet again after the update to Spark 2.3 or due to some other modification to the Dockerfile.

[2018-04-06 08:36] prakritidev commented on #603
okay, so how should I solve this?

[2018-04-07 20:39] parente commented on #603
Short term, try adding:

[code]

at the start of your notebook before initializing a SparkContext. I'll see about adding that environment variable to the Dockerfile again.

[2018-04-07 20:41] parente commented on #599
@taqtiqa-mark there's no official roadmap, but we're thinking about how to keep up maintenance on the images here while encouraging the community to create new images. Have a look at #517 and feel free to chime in.

[2018-04-07 20:57] parente commented on #597
They're not installed in the ubuntu base image nor the `jupyter/*` images defined here by default. You can add them in your own Dockerfile like:

[code]

https://stackoverflow.com/questions/42870005/how-to-install-ifconfig-command-in-my-ubuntu-docker-image

[2018-04-07 21:10] parente commented on #603
I just pulled the latest `jupyter/pyspark-notebook` image, however, and was unable to reproduce the problem running the code provided.

[code]

Are you creating the SparkContext like I have in the code above or in some other manner?

[2018-04-07 21:36] parente commented on #598
@harschware Can you try running the following and paste the output?

[code]

The `start.sh` script is responsible for adjusting permissions, so I'd like to see what the permissions look like after the script performs its work.

[2018-04-07 21:37] parente commented on #578
Closing this issue since it's inactive.

[2018-04-07 21:37] #578 closed

[2018-04-08 02:53] parente commented on #542
I finally found some time to sit down and try some combinations on my Mac
and Linux boxes. tl;dr: the configuration you need to use to successfully
write to a host mounted volume now differs between the two.

## Mac OSX

https://docs.docker.com/docker-for-mac/osxfs/#ownership explains the ownership
model demonstrated below.

[code]
$ docker --version
Docker version 18.03.0-ce, build 0520e24

$ una

[2018-04-08 03:05] parente commented on #577
Dealing with the partial dependency tree has made me shy away from exploring parallelization options and favoring tricks to shorten the build where I can.

For example, when someone makes a change to base-notebook, we need to build/test minimal-notebook next before any other image. After minimal is built, we can parallelize r-notebook and scipy-notebook. Once scipy is done, we can then parallelize

[2018-04-08 04:08] dexterchan opened #606 "When can we upgrade to tensorflow 1.5?"
I tried to change the tensorflow version to 1.5 in dockerfile....

When running, I catch error:
Seem there is compatibility issue on numpy
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
RuntimeError: module compiled against API version 0xc but this version of numpy is 0xa

---------------------

[2018-04-08 23:08] #589 closed

[2018-04-09 12:25] taqtiqa-mark commented on #577
@parente I'm currently building a port of the jupyter docker containers to rkt [over here](https://github.com/taqtiqa-admin/rkt-stacks).  The [.travis.yml](https://github.com/taqtiqa-admin/rkt-stacks/blob/master/.travis.yml) isn't the most elegant but you'll see the idea in matrix.

Travis runs 5 jobs at the same time.
The first 'job' builds the base and minimal notebooks.
The rest of the jobs bui

[2018-04-09 12:48] taqtiqa-mark commented on #599
Ack maintenance is an issue.

However I'd argue Drill provides a such a generic interface (ANSI-SQL) to so many formats/sources that is should be built into the base notebook. Accept that is a big call.

[2018-04-09 13:10] parente commented on #577
@taqtiqa-mark thanks for sharing that! I've given it a glance and will read it more detail later outside work. Based on your description here, and what I see in the yml, we'd have to figure out how to wait on the base-notebook build in the matrix before proceeding with the next (and so on) in order to fully test the impact of a change in one of the upstream images (e.g., base-notebook) on a downst

[2018-04-09 13:17] taqtiqa-mark commented on #517
Frankly Eight containers seems like overkill.
The main advantage of this effort is complex integrations are done 'once'.

Maybe the maint. burden can be eased and value increased at the same time.
A defensible approach could be to delineate three/four containers:

Base: In memory work loads, single machine (but still multiple container use cases)
Middle: Mix of big data and in memory work. Several

[2018-04-09 13:28] taqtiqa-mark commented on #577
Oh, in case you stay within Dockerfiles, you probably want to shift the CI to Shippable and their workflows. Jobs should get you there, http://docs.shippable.com/platform/workflow/job/overview/

[2018-04-09 15:36] RaRam opened #607 "GPU"
Hello,

is there a docker file for tensorflow with GPU support?

Best!

[2018-04-09 15:49] parente commented on #607
@RaRam there isn't. The past discussion and decision on this topic is here: https://github.com/jupyter/docker-stacks/issues/516#issuecomment-363633558

[2018-04-09 23:01] harschware commented on #598
[root@sandbox ~]# docker run --name sparkall --user root -e NB_USER=centos     -e NB_GROUP=centos -e NB_UID=$(id -u centos) -e NB_GID=$(id -g centos)     -p 8888:8888 -v work:/home/centos/work jupyter/all-spark-notebook start.sh ls -al /home/centos
    Set username to: centos
    Setting CWD to /home/centos/
    Set centos GID to: 1000
    Executing the command: ls -al /home/centos
    total 0

[2018-04-09 23:55] parente commented on #598
On more question, can you paste the permissions of the `work` folder on the host that you are mounting into the container as `/home/centos/work`?

[2018-04-10 01:36] parente commented on #606
The tensorflow 1.5 package on conda-forge has `numpy>=1.12` as a requirement so that should be installing the necessary version. Are you using conda to update tensorflow? If that is yielding a broken install, it's possible the tensorflow package definition on conda-forge needs fixing.

https://github.com/conda-forge/tensorflow-feedstock/blob/master/recipe/meta.yaml#L28

[2018-04-10 01:54] parente commented on #599
Yes. It's hard to draw the line. How about Presto instead of Drill for instance? I can't speak for the other maintainers here, but I'm not all that familiar with either. I think the community would be much better served by someone with a vested interested in Drill (or Presto, or ...) maintaining such an image, starting from the base-notebook or minimal-notebook image defined here for the Jupyter b

[2018-04-10 02:27] parente commented on #469
@jakirkham there's some discussion in #517. Current thinking is better documentation about how to build your own stack (e.g., what to do on Docker Cloud or elsewhere) and a cookiecutter-jupyter-docker project of some sort to help people get started.

[2018-04-10 02:45] jakirkham commented on #469
Thanks Peter. Have been reading along in there as well. Oddly enough that is what made me think about this solution for a bit. :)

Had cc'd Björn as he and others have been involved in a really massive container building effort. So this would be a useful thing to consider as we determine the future of the stacks.

ref: https://biocontainers.pro/

[2018-04-10 06:45] iolbr commented on #578
Looks like a dependency issue. I did upgrade my solution to latestet postgres JDBC driver 42.2.2 and created a new docker container with the jupyter notebook.

[2018-04-10 20:16] bgruening commented on #469
Hi all.

Indeed it seems that we have some solutions for you.

Try out this one: http://biocontainers.pro/multi-package-containers/
Create containers with simple PRs like this one: https://github.com/BioContainers/multi-package-containers/pull/427

What happens underneath is documented here a little bit:
https://docs.galaxyproject.org/en/master/admin/mulled_containers.html#automatic-build-of-linux

[2018-04-11 20:25] harschware commented on #598
A couple of things I noticed:
1) if I don't specify a full path to -v as in "work:/home/centos/work" work will be created in /var/lib/docker/volumes by root.

    [root@sandbox ~]# ll /var/lib/docker/volumes
    total 24
    -rw------- 1 root root 32768 Apr 11 20:16 metadata.db
    drwxr-xr-x 3 root root    18 Apr 11 20:16 work

I mistakenly thought the volume "work" would be relative to the cwd o

[2018-04-12 12:47] akhmerov opened #608 "Clarification about the documentation"
The documentation on how to use the images states:

I would like to understand that better. To the best of my understanding, root cannot escape from a non-privileged container assuming there are no vulnerabilities in the docker daemon and the host OS.

On the other hand the warning seems to imply something more than merely saying that if the installation is vulnerable, giving the container user ro

[2018-04-13 04:53] datwiz opened #609 "check if username jovyan exists before usermod call in start.sh"
When restarting a stopped container, the start.sh script fails if the `NB_USER` env var has been set due to the user `jovyan` not existing.  The username was renamed to `NB_USER` when the container was started the first time.

**What docker image you are using?**
`jupyter/datascience-notebook`
Code impacted is defined in `jupyter/base-notebook`

**What complete docker command do you run to launch

[2018-04-15 11:33] taqtiqa-mark opened #611 "Following Debian upstream in adopting ffmeg over libav-tools"
Hi! Thanks for all the effort making Jupyter's docker-stacks images.

libav-tools (jupyter/scipy-notebook)

I'm porting the Jupyter stacks to Apline Linux containers.  As part of that, while building  `jupyter/scipy-notebook` I discovered libav is not available on Alpine Linux, but ffmeg is.  The libav team was not very responsive/proactive about the patch to try make it work, and things seem to h

[2018-04-16 14:05] acelasi7 opened #612 "update scipy-notebook scikit-learn's dependency to 0.19.1"
Hey,

I've been using `jupyter/scipy-notebook` and found out that the `scikit-learn` library used is locked to `0.18*`, while there's been a release of version `0.19.1` in October 2017. That includes some [highlights](http://scikit-learn.org/stable/whats_new.html#highlights).

What are your thoughts around adopting the new release?

[2018-04-16 14:54] test2016new opened #613 "Unable to use other users other than the default one"
Hi! Could you pls. help me?

I'm using the latest version of the base notebook in Ubuntu.
I want the current logged in user to have all permissions as the default user - joyvan. Also, the current user need to have the correct permissions on the mounted volume.

Issue:
When I use the below command, I get the notebook. The current user is joyvan (verified using whoami).

docker run -d -p 8888:8888 j

[2018-04-16 15:38] parente commented on #609
Should be fixed by #610. Thanks again.

[2018-04-16 15:38] #609 closed

[2018-04-16 16:23] cywang16 opened #614 "Cannot upgrade matplotlib and tensorflow in latest tensorflow-notebook"
Greeting,

I just pulled the latest image, but found I cannot upgrade matplotlib and tensorflow to latest versions. The error I got is as
[code]

Is this a known issue?

Thanks,

Chun-Yen

[2018-04-17 16:15] cywang16 commented on #614
I found this cannot repro consistently. Close for now. Will keep an eye.

[2018-04-17 16:15] #614 closed

[2018-04-23 01:57] parente commented on #608
As far as I know, Dan Walsh's observations in 2014 and beyond that "containers do not contain" (https://opensource.com/business/14/7/docker-security-selinux, https://opensource.com/business/14/7/docker-security-selinux, http://www.projectatomic.io/blog/2014/09/yet-another-reason-containers-don-t-contain-kernel-keyrings/) still hold true today. That said, I am not a container security expert, and s

[2018-04-23 02:04] parente commented on #611
I believe the images here were based on Debian Jessie at the time. Now they derive from Ubuntu 16.04, so switching to ffmpeg shouldn't be all that difficult. If you'd like to submit a PR with the change, along with a notebook showing that matplotlib animation still works properly, I think we can merge it.

[2018-04-23 02:06] parente commented on #607
I'm going to close this issue out as resolved by the comment in the prior issue.

@RaRam if you looked around for an answer to your question and couldn't find it before opening this issue, please let me know where you looked. I'm always looking for better ways to document these decisions. Searching through closed issues to find them is not ideal.

[2018-04-23 02:06] #607 closed

[2018-04-23 02:07] parente commented on #603
@prakritidev were you able to try again with the latest image?

[2018-04-23 02:09] parente commented on #612
I'm happy to take a PR to update the scikit-learn version. You may need to update other package versions at the same time if you run into conda build errors, but that's fine / expected.

[2018-04-23 02:12] parente commented on #613
The images support changing the `jovyan` user ID and group ID via environment variables documented in the READMEs (https://github.com/jupyter/docker-stacks/blob/master/base-notebook/README.md#docker-options). There is also support for changing the `jovyan` user name itself via the `-e NB_USER=somename` environment variable, but the documentation has not kept pace with all of the options. (We're wo

[2018-04-23 03:37] jakirkham commented on #611
There’s also `ffmpeg` in `conda-forge`, which could be used to this end.

[2018-04-23 07:11] prakritidev commented on #603
@parente  I have not yet. I'll try it again

[2018-04-23 11:31] aneagoe commented on #560
I'm currently using https://github.com/GrahamDumpleton/openshift3-jupyter-stacks to be able to deploy on OpenShift. However, since the dockerfile there specifies changes to /home/$NB_USER, it results in an additional ~3GB layer to the base image, just because it's changing permissions. I can imagine if this enhancement is resolved, then these images would run natively on OpenShift.
The biggest cha

[2018-04-23 13:24] parente commented on #560
@GrahamDumpleton made quite a few contributions to this repository lately, including documentation about using these images on OpenShift 3 (https://github.com/jupyter/docker-stacks/tree/master/examples/openshift). Perhaps the problem has been mitigated already?

[2018-04-23 15:03] parente commented on #606
@dexterchan Just to clarify, are you saying it works now when you install with conda? If so, would you like to submit a pull request updating the version in the tensorflow-notebook Dockerfile so everyone benefits?

[2018-04-23 20:00] taqtiqa-mark commented on #611
Unfortunately, I'm going to have to leave this to someone else.  The Alpine build is taking all my spare cycles.

I'll use ffmpeg with the hope/expectation that at some point the switch from libav-tools will be made.

Happy for you to close this or leave it open.  As you wish.

[2018-04-23 21:06] GrahamDumpleton commented on #560
The ``docker-stacks`` images don't have all the changes I would like to see, but based on reactions have got, I doubt that will ever be able to get the last change I want done that would allow the images to run on OpenShift out of the box without any special configuration. That one change I would like to still have made is having ``NB_GID`` be ``0`` and not that of ``users``. So by default noteboo

[2018-04-24 01:43] parente commented on #611
No problem, @taqtiqa-mark. Please leave the issue open.

[2018-04-24 01:53] jakirkham commented on #611
If it's any help, I use `ffmpeg` from `conda-forge` to generate videos either with `matplotlib` or `moviepy` (primarily on our Linux-based cluster). Don't know what bar you had in mind for testing, but maybe that provides some assurance that this does work.

[2018-04-24 02:08] parente commented on #592
Closing because I believe this was fixed in #591. Feel free to comment if that's not the case.

[2018-04-24 02:08] #592 closed

[2018-04-24 02:15] parente commented on #560
Maybe my memory is faulty, but I remember some questions about whether using the root group could lead to security issues and some answers back that it looked OK to OpenShift folks. After that, I think the conversation trailed off and was lost when folks, myself included, suggested that changes be made one PR at a time.

I'm open to switching the default user `gid` to `0` as long as it doesn't reg

[2018-04-24 02:55] GrahamDumpleton commented on #560
If these images were only ever used as is there would be no issue changing. The problem is the effect on people who are creating derived images. You can’t assume that people when adding stuff in derived images are setting user/group based on NB_UID/NB_GID environment variables, if they are at least trying to match permissions. So it isn’t a security issue, just that derived images people are creat

[2018-04-24 02:57] eromoe commented on #515
we use spark 1.6.2  in yarn mode,  hadoop version is 2.7.2.

1. Should I use same hadoop version as spark in yarn cluster ?
2. I don't see where specific spark version, is it fine
3. Should -Dhdp.version=2.5.3.0-37 same as the yarn cluster, or it is fine to leave as it be.

I really don't know much about java stacks and spark.

[2018-04-24 03:11] parente commented on #560
Sorry, I should have been clearer. By "regress other features" I meant "break without the ability to fix".

Documenting best practices for deriving images from the core definitions here, especially the base and minimal images, is fodder for the ReadTheDocs site slowly being worked in #517 and associated PRs. If we document examples of how to properly set permissions in derived images (e.g., `fix-p

[2018-04-24 12:06] aneagoe commented on #560
@GrahamDumpleton thanks a lot for all your efforts with regards to getting jupyter on OpenShift, it was a huge help.
It seems to be already better than I thought, I didn't know that just applying supplemental group 100 would work with existing upstream images. That makes it easier. Still, it would be ideal to run with gid=0 straight off.

[2018-04-24 13:02] minrk commented on #560
My main concern about defaulting to GID=0 is that it seems to be the wrong thing to do for the much more common case of people running these docker images outside of kubernetes/openshift-style locked-down environments. See [this thread](https://github.com/jupyter/docker-stacks/pull/553/files/fe721bf6d1928587cc259acf8a1ff6106ddca45c#diff-5f7ab83390210d08801691de538aa6a1) where running users as gid=

[2018-04-24 21:35] acelasi7 commented on #612
I'm happy to do that, but I believe I don't have the rights to push,
otherwise a simple change from `scikit-learn=0.18*` to `scikit-learn=0.19*` suffices and the build succeeds without other errors.

[2018-04-24 22:13] GrahamDumpleton commented on #560
Arrgggh. Totally forgot that issue was raised around use of ``su``. With that PR closed and work moved to another, that probably didn't get discussed further as well as it should have at the time.

[2018-04-24 23:43] GrahamDumpleton commented on #560
Not sure yet what issues this may cause with existing functionality in the image which uses ``su`` and ``sudo``, but you restrict use of ``su`` to users in the ``wheel`` group.

[code]

Result then is:

[code]

[2018-04-24 23:52] GrahamDumpleton commented on #560
You would though have to also rollback the change made to make ``/etc/group`` writable as if left that way someone could add themselves to group ``wheel`` anyway.

The addition of a corresponding entry to ``/etc/group`` for an assigned user ID not in ``/etc/passwd`` was not essential and I don't know of a specific case where lack of it would cause failure of Jupyter notebooks or other Python packa

[2018-04-25 02:00] parente commented on #612
Thanks for testing the change locally. Projects on GitHub work by way of a "fork and pull-request" model which anyone can use to suggest changes to a project, even if they don't have permission to push to it directly.

If you're interested in trying it out, https://help.github.com/articles/creating-a-pull-request-from-a-fork/ is a brief guide if you already know some of the concepts (forking, bran

[2018-04-25 03:56] shishito-megane commented on #228
Thaks!!

[2018-04-26 11:52] tomjorquera commented on #612
Hi @acelasi7, do you intend to submit a PR for this issue ?

I actually hit a block due to this just today, and fixed it locally. I would submit the change myself, but since you raised the issue first I prefer to let you the "right of way" in case you want to do it :smile:

(maybe you can even take the opportunity to update `scikit-image` at the same time!)

[2018-04-27 10:19] tomjorquera opened #620 "Build fails due to conflict in jupyterlab extension version"
Hi all,

Current master seems to fail due to a conflict in versions between jupyterlab and extension.

This causes PR such as #612 to fail on travis for reasons unrelated to actual change.

Most direct fix seems to be updating jupyterlab and its extensions.

**To reproduce**

1. clone project latest master (8312f54454d7330e72bfd935c29c0ba431060bf5)
2. run `make build-test-all DARGS="--build-arg TE

[2018-04-27 16:10] #620 closed

[2018-05-02 12:58] SofianeB opened #625 "Build image on Centos"
Can I build a base-notebook image based on Centos and not on Ubuntu?
Reason: I have to install other dependencies, which work only on Centos.
Thank you!

[2018-05-02 14:49] parente commented on #625
With some time, love, and effort, probably, but I've not tried it. Maybe someone else who has can chime in here.

The way I'd approach it is to fork this repository, change the base-notebook/Dockerfile to start `FROM centos:7`, run `make build/base-notebook`, fix errors (e.g., yum instead of apt-get) as you find them, and iterate until it's built. I don't think anything the base-notebook depends o

[2018-05-03 02:11] parente commented on #469
@bgruening Thanks for sharing biocontainers. That's very cool, definitely inline with what I was thinking, and you've already done it. 👏

How do you find maintenance of the build process for all the user submissions? Is it pretty much hands off or do you find yourselves needing to restart failed jobs, fix version conflicts, etc. as the set grows?

[2018-05-04 06:37] taqtiqa-mark opened #626 "Architecture: Make 'spark' container: spark, hadoop and cluster manager agnostic"
Hi! Thanks for all the work that has gone into creating Jupyter's docker-stacks images.

I'm wondering if you are open to breaking out spark into a separate container, rather than the current monolithic container. By "open" I mean willing to work in that direction, i.e. accept pull requests etc.
That means I don't propose this issue resolve all the implementation issues/details.

Some advantages f

[2018-05-05 17:18] jayqi opened #627 "jupyter/pyspark-notebook missing conda clean"
The Dockerfile for the pyspark-notebook is missing a `conda clean` after installing `pyarrow`.

https://github.com/jupyter/docker-stacks/blob/1fbaef522f17d413535b86ad335b0f58f1042789/pyspark-notebook/Dockerfile#L44-L47

[2018-05-06 06:52] dexterchan commented on #606
I have created pull request:

update higher version of tensorflow and keras
#629

[2018-05-06 10:01] tgamal opened #630 "Starting notebook on different port ??"
I am using the `jupyter/tensorflow-notebook` and I would like to open the tensorflow-notebook container on another port rather than 8888. In this case it is 8889 so this is the command I use

`docker run -it --rm -p 8889:8888 --network none jupyter/tensorflow-notebook start.sh jupyter notebook --port=8889`

the notebook start successfully but when I visit http://localhost:8889  I get "Unable to co

[2018-05-06 15:54] parente commented on #630
Try:

[code]

The first port in `-p` is the external facing docker port, the one you visit on local host. The second port after the colon is the one used inside the docker container which you do not need to change.

[2018-05-06 15:55] parente commented on #627
Fixed by #628.

[2018-05-06 15:55] #627 closed

[2018-05-06 16:30] parente commented on #626
Hi @taqtiqa-mark

I think I need a bit more information to understand whether we should update all-spark-notebook or manage a set of Spark related images outside this repo. I've got a couple questions about your advantages and disadvantage that should help.

Would the new image(s) you're proposing derive from `jupyter/base-notebook` or another docker-spark image like `BDE/docker-spark`? I'd like f

[2018-05-06 16:32] parente commented on #625
Sounds like you're good to go so I'm going to close this out. Feel free to open a new issue if you have other questions.

[2018-05-06 16:32] #625 closed

[2018-05-06 18:43] #606 closed

[2018-05-06 23:30] jakirkham commented on #478
FWIW this is how we install and pin `tini` at `conda-forge`. This blocks `conda` from updating `tini` once it is installed.

ref: https://github.com/conda-forge/docker-images/blob/565e3e9add4a7b4462ee94d2838e2b8158152268/linux-anvil/Dockerfile#L73-L74

[2018-05-06 23:41] jakirkham commented on #543
Good to close?

[2018-05-06 23:47] jakirkham commented on #625
FWIW we build a very similar stack to this one at work using CentOS. You would be more than welcome to use any of it that may be helpful.

[2018-05-07 00:06] parente commented on #543
I think this issue has been addressed via the recipes page on the wiki, soon to be included in the ReadTheDocs site. I'm going to close this issue. Feel free to reopen if you have other questions.

[2018-05-07 00:06] #543 closed

[2018-05-07 00:09] jakirkham commented on #501
This is basically a bug (or missing feature depending on your perspective) in `conda` 4.3. AIUI `conda` 4.4.0+ fixes this issue ( https://github.com/conda/conda/issues/5417 ). Since we are now on `conda` 4.4.10 thanks to @parente's PR ( https://github.com/jupyter/docker-stacks/pull/624 ), this should be resolved going forward.

[2018-05-07 00:14] jakirkham commented on #472
Looks like PR ( https://github.com/docker-library/official-images/pull/3639 ) would add it to the Official Docker Library.

[2018-05-07 01:26] parente commented on #96
I think these are a good fit for the recipes page in the forthcoming doc or currently on the wiki.

[2018-05-07 01:58] westurner commented on #530
Thanks!

On Sunday, May 6, 2018, jakirkham <notifications@github.com> wrote:

[2018-05-07 02:04] parente commented on #501
Thanks @jakirkham. @nasedil I'm going to close this issue as resolved by the conda update. Feel free to open a new one if you're still having trouble after updating to the latest images.

[2018-05-07 02:04] #501 closed

[2018-05-07 18:55] cam72cam commented on #575
This needs to be re-opened

[2018-05-07 21:20] ozaparth2803 opened #634 "Can't open Jupyter Notebook from Docker"
I have Windows 10 Home version. Due to this, I downloaded the older Docker toolbox from following link:

`https://docs.docker.com/toolbox/overview/#next-steps
`I run:

`$ docker run -it --rm -p 8888:8888 jupyter/pyspark-notebook
`
I get the output as:
Copy/paste this URL into your browser when you connect for the first time,
to log in with a token:
`http://localhost:8888/?token=****030452*******d6

[2018-05-07 22:56] ewjoachim commented on #575
What happened ? Do the steps outlined above lead to the same bug ? After it was merged, I think it worked for me...

[2018-05-08 07:33] #634 closed

[2018-05-08 07:56] jakirkham commented on #634
How was it solved?

[2018-05-08 07:58] ozaparth2803 commented on #634
There would be a line on top of Docker terminal.
"docker is configured to use default machine with IP xxxx.xx.xxx.
So you can replace localhost with that IP.

[2018-05-08 20:09] taqtiqa-mark commented on #626
Apologies for the delay - sidetracked by life.

I don't think there is a requirement/need to manage spark related images for the `all-spark` notebook to be able to work.  Spark does make backward compatibility commitments in the minor version number series, so the spark version the container relates to is less important - Notes in `Readme.md` should suffice.
An issue **might arise** with some clie

[2018-05-09 10:26] black0017 commented on #228
thanks !

[2018-05-09 14:38] stijndehaes commented on #440
Workaround also stopped working for me with the following error:

Error: /opt/conda/envs/python2/bin does not contain a conda activate script

[2018-05-11 14:54] Bidek56 commented on #611
I have attempted to build the stack using Ubuntu 18.04 but Mesos is not available for 18.04 yet.
I should be available in few weeks according to the forum.

[2018-05-12 09:11] MarcSaric commented on #440
Same here. The proposed Dockerfile

[code]
leads to
[code]

[2018-05-12 18:13] parente commented on #440
conda 4.5 changed how environment activation behaves. I think the recipes page on the wiki is open to anyone to update. A quick workaround is to remove the `kernda` call (https://github.com/Valassis-Digital-Media/kernda/issues/10).

[2018-05-22 09:32] TiemenSch opened #638 "fix-permissions setuid, setgid"
For me, the last part of **fix-permissions** is a tad unclear. The how and why isn't documented.

[code]

Also, the commit in which it was added is a bit unclear for me.
https://github.com/jupyter/docker-stacks/commit/2df9c49a74408bb9deccd684f512e878a2352e1c#diff-9916251299bdb9a776a7153e7caad86c

As the first block is using the non-numeric approach, would it be possible to change the second one to

[2018-05-22 09:52] stefanproell opened #639 "Issue with setting credentials: server error 500"
Hello,
I am trying to launch a Jupyter container, but after providing the token and the password, there occurs a server error. The file cannot be found

[code]

Affected image

[code]
## These are the steps:

1. Launch a container with `docker run -p 8888:8888 --name data_science --rm jupyter/minimal-notebook:4ebeb1f2d154`
2. Wait until the token link is shown in the log
3. Open the page in the br

[2018-05-22 20:28] urania277 opened #640 "Question about external package in docker stack for custom recipe"
Hi all!

I am rather new to the Jupyter Docker Stacks but I think they're a great idea, and I'm looking to use them a lot more for research and teaching. If this works out, a few more high energy physicists may be encouraged to use a similar recipe.

I don't know if this question is suitable for this forum (it is not a notebook issue - all I wanted to do there works), but I'll try anyway as it is

[2018-05-23 03:06] parente commented on #639
Thanks for the report @stefanproell . I'm not able to reproduce the problem you're seeing after pulling the same image and running the same command:

[code]

The final log lines there show a kernel launching successfully. I also clicked into the `work/` folder in the file browser without issue.

It's odd that your browser redirected you to enter a password after you visited the token URL. Are you

[2018-05-23 03:19] parente commented on #640
If I fire up a container and run `conda install root`, everything proceeds smoothly until the very last step of the install where conda logs:

[code]

The conda command appears to exit with a success. After that, if I run `conda list | grep root` I find that root did not finish installing. If I run `conda install root` again, conda starts the install over again confirming it does not think it fini

[2018-05-23 06:50] urania277 commented on #640
Hi Peter,

thanks for the answer! I saw the IsADirectoryError on screen (*) in one instance before updating conda, but not after.  I tried twice, and we may be looking at what is discussed here:

https://github.com/conda/conda/issues/6811

It came right after the installation of one of the other packages (not always the same) rather than the installation of ROOT. The fact that it disappeared after

[2018-05-25 06:55] tomjorquera opened #642 "Future issue with jupyter notebook 5.5 regarding hostname in docker ?"
By toying with upgrading jupyter to version 5.5 inside a container, I stumbled upon the following issue:
https://github.com/jupyter/notebook/issues/3605

Apparently, jupyter-notebook behavior regarding the url has been changed in 5.5, and it will now try to display the host name instead of `localhost`. Inside docker, it means that the url that now appears will be something like `https://8bc26195e1

[2018-05-26 14:31] parente commented on #626
Parroting back to check my understanding: the proposal here is to treat the all-spark-notebook image as a Spark client-only container by removing mesos, hadoop, etc. libraries and making it configurable/pluggable to work with the hadoop version and cluster manager of the user's choice.

If the above is more or less correct, it sounds good to me. I admit my understanding of the detail is fuzzy, but

[2018-05-26 14:39] parente commented on #642
I agree this can be a confusion. In fact, the `localhost` link printed by Jupyter only ever directly worked if a user was running the docker container on a local machine. When running a container on a remote server, like a VM in the cloud, Jupyter Notebook still prints the URL as `localhost` because it is blissfully unaware that it is running in a container on another machine, as it should be.

[D

[2018-05-26 14:41] parente commented on #514
Solved by #636. Thanks again @robinovitch61.

[2018-05-26 14:41] #514 closed

[2018-05-26 15:51] Bamieh opened #643 "Haskell Recipe"
First I want to thank you for the docker stack! I love this project and i have been using it for several notebooks.

I want to implement a stack recipe for haskell, does anyone have an already working recipe for haskell that I can use as a starting point? Any maybe submit a PR for the recipe after finalizing it?

I can start working on it based on other docker jupyter/haskell images, but i dont wa

[2018-05-26 15:54] parente commented on #643
Hi @Bamieh. Thanks for your interest in creating a new stack. We're currently working on documentation (https://jupyter-docker-stacks.readthedocs.io/en/latest/contributing/stacks.html) and a cookiecutter project (https://github.com/jupyter/cookiecutter-docker-stacks) for members of the community to maintain docker stack images in their own github repositories and [have them listed here](https://ju

[2018-05-26 16:27] Bamieh commented on #643
@parente I'd love to contribute! I'll read the links and start from there.

[2018-05-26 20:43] DimaK415 commented on #639
I am having the same issue.  The problem seems to be at line **131 in security.py**

I've attempted to generate the file manually in the dockerfile using both **jupyter notebooks --generate-config** and manually creating the file.  Maybe changing write mode to w+ in security.py would do the trick.
Also worth noting.  I'm not sure if home/jovyan/.jovyan is supposed to be visible (permissions for jo

[2018-05-26 20:49] Bamieh commented on #643
@parente I am sure this issue is not the right place for this, but here is my thoughts hoping you'll provide feedback and guide this conversation elsewhere.

So cookiecutter is basically a boilerplate to help create docker images for jupyter stack. It is nice but the problem is that if i want to use multiple stacks at once, I have to create yet another dockerfile and extend it to have multiple sta

[2018-05-27 00:44] parente commented on #643
Yep. The single inheritance model of Dockerfiles does have its limitations.

This sounds like a nifty tool for docker in general. I'm not sure how one would go about merging multiple stacks at docker build time like depicted in the examples. If you have an idea of how to do it, it sounds like a great mini project that we could link from the documentation here.

[2018-05-27 02:01] jakirkham commented on #643
How does this compare to [multistage builds]( https://docs.docker.com/develop/develop-images/multistage-build/#use-an-external-image-as-a-stage )?

[2018-05-27 02:29] parente commented on #643
If I understand correctly, the proposal above is meant to include all of the layers from the referenced images whereas `COPY --from=<some image> some-path some-destination-path` only copies a file or directory from the image.

[2018-05-27 07:53] taqtiqa-mark commented on #626
Correct.

No longer should you need to fork and rebuild the [`all-spark-notebook` container](http://jupyter-docker-stacks.readthedocs.io/en/latest/using/recipes.html#use-jupyter-all-spark-notebooks-with-an-existing-spark-yarn-cluster) to use a different cluster manager

Instead the user should be able to adjust their PySpark/SparklyR notebook to the equivalent of the following:

**Nomad**
[code]

[2018-05-28 17:44] jakirkham opened #647 "Upgrade conda to 4.5"
There are some nice features like MatchSpec in conda 4.4+. So would be interested to get our copy of `conda` updated. Would this be possible or are there known issue?

[2018-05-28 18:11] parente commented on #647
No blockers. Happy to take a PR that updates the minicinda installer and associated checksum.

[2018-05-28 22:56] #647 closed

[2018-06-02 07:43] MUZUIXIAOHAI commented on #228
thanks !

[2018-06-06 07:17] GrahamDumpleton commented on #560
As per comments on https://github.com/jupyter/docker-stacks/pull/653 it seems that what can do to lock down ability to run ``su`` is the following.

* Remove group ``root`` write access to ``/etc/group`` that had previously been added to allow an entry to be added. This will prevent a random user ID without a ``/etc/passwd`` entry from being allowed to add them to extra groups, such as ``wheel``.

[2018-06-07 00:31] GrahamDumpleton commented on #560
I have reworked my withdrawn PR and create a new one at https://github.com/jupyter/docker-stacks/pull/654 to lock down in what circumstances ``su`` can be executed.

[2018-06-08 16:01] parente commented on #309
Seems that this doesn't work even after adding signal forwarding to the process group in #652

[2018-06-09 10:09] RobinL commented on #127
If you want to create a Docker that loads this config in automatically, you can do:

[code]

With `hdfs-site.xml`
[code]

and  `script.py` (to trigger the relevant files being pre-installed in docker.  a couple of lines in this are prob superfluous.
[code]

[2018-06-11 10:41] anatoliykmetyuk commented on #408
@parente ,

Nope, setting the environment variable did not grant passwordless sudo. When I do `sudo`, I am asked for password. When I just press Enter without entering the password, I get "Sorry, try again".

[2018-06-13 08:37] anatoliykmetyuk commented on #408
Figured out the problem. Originally, I was starting the container via `docker-compose` and then executed bash on it directly via `sudo docker exec -ti container_name bash`. Turns out you need to run the `start.sh` script first and under `--user root` like this: `sudo docker exec -ti --user root container_name start.sh`.

[2018-06-14 02:09] parente commented on #642
I took a crack at updating the quick start steps to describe what hostname should be used to access the docker image when a container launches. Additional PRs agains the docs are welcome.

I'm inclined to close this issue, as it's already being tracked upstream in jupyter/notebook and I don't have a good solution at the moment other than to continue to refine the instructions as people find specif

[2018-06-14 02:14] parente commented on #611
This was closed by #641. The images now include ffmpeg instead of libav-tools.

[2018-06-14 02:14] #611 closed

[2018-06-14 10:54] minrk commented on #642
The ip and port output from the notebook should generally be ignored when run in containers, since it's ~never right and never can be by default. Only in the very specific case of local docker where the forwarded and exposed ports match can it ever be correct. I'm not sure what the best solution is other than *allowing* override (https://github.com/jupyter/notebook/pull/3668) which doesn't change

[2018-06-14 11:28] minrk commented on #638
Yes, I think this should be fine

I tried to describe what it's doing and why in the comments at the top of the script.

The goal of fix-permissions is to ensure that a given directory is writable by the user, even if the container is run as a uid that's not the default $NB_USER. This is accomplished by making sure everything is readable and writable by the $NB_GID group (aka `users`).

The first

[2018-06-16 16:05] wutianchen opened #659 "how to define notebook_dir in Dockerspawner 0.9"
I am using docker-stacks to spawn jupyter notebooks and want to customize the jupyter notebook starting path with the parameters

AppNotebook.notebook_dir
AppNotebook.default_url
AppNotebook.base_url

but I read the documentation https://github.com/jupyter/docker-stacks/blob/master/base-notebook/start-singleuser.sh

[code]

how can I control these parameters in DockerSpawner 0.9 ?

[2018-06-17 15:16] wutianchen opened #660 "Does it make sense to parameterize NB_USER=jovyan using Docker ARG ?"
It is annoying to see jovyan everywhere. Does it make sense to parameterize NB_USER in base-notebook with ARG, so it can be customized ?

I tried

[code]

it changes the NB_USER but not other environment variables based on NB_USER

[2018-06-19 07:03] stefanproell commented on #639
Sorry for my late reply.

My local Python version is irrelevant, because it is shipped with the Docker container.
The same applies for the rest of the ecosystem.

I just tried again @parente and still have the same results.
The image is up to date

[code]
Launch the container:
[code]

The error
[code]
I tried it with the latest image:

[code]
This image now uses the container name instead of the I

[2018-06-20 22:29] tylere opened #662 "Docker Run displays an invalid URL for accessing the image"
**What docker image you are using?**

jupyter/scipy-notebook:03b897d05f16

**What complete docker command do you run to launch the container (omitting sensitive values)?**

docker run -it --rm -p 8888:8888 -e JUPYTER_LAB_ENABLE=yes -v "$PWD:/home/jovyan/mount" jupyter/scipy-notebook:03b897d05f16

**What steps do you take once the container is running to reproduce the issue?**

No additional steps

[2018-06-20 22:34] tylere commented on #662
I suspect this behavior may have been caused by #655 which bumped the notebook version to 5.5.

[2018-06-21 10:14] minrk commented on #662
Closing as duplicate of #642. In general: The URL has *never* been valid because the container doesn't know the external port or ip. It *happened* to be right if you did the following:

- run docker locally (no docker-machine, etc.)
- forward the same port (8888:8888), never map different ports

Unfortunately, it's impossible for the container to know if either of these is the case.

[2018-06-21 10:15] #662 closed

[2018-06-21 10:47] asyd opened #663 "About switch to Ubuntu bionic. Mesos Spark support is now broken"
**What docker image you are using?**

Example: `jupyter/pyspark-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

Example: `docker run -p 8888:8888 jupyter/pyspark-notebook:latest`

**What steps do you take once the container is running to reproduce the issue?**

Example:

1. Visit http://localhost:8889
2. Start an python notebook
3. Run a

[2018-06-21 12:47] Bidek56 commented on #663
It's a know issue because of [MESOS-8921](https://issues.apache.org/jira/browse/MESOS-8921)
I have pointed it out in the [PR641](https://github.com/jupyter/docker-stacks/pull/641) but @parente merged the PR anyway, so it will be broken till MESOS fixes it and we do another PR.
I would suggest pulling an older image from Docker Hub which contains Ubuntu 16.04, before PR641

[2018-06-21 12:57] asyd commented on #663
Ok, thanks for the feedback.

[2018-06-21 13:17] Bidek56 commented on #663
I would keep the issue open so we can keep track of it and fix it when Mesos fixes [MESOS-8921](https://issues.apache.org/jira/browse/MESOS-8921)

[2018-06-21 13:17] asyd commented on #663
ok! sure

[2018-06-21 16:22] parente commented on #663
FYI: There's a proposal on the table to make the spark images more cluster manager agnostic in #626 . Removing Mesos is a first step proposed: https://github.com/jupyter/docker-stacks/pull/641#issuecomment-396018306

[2018-06-22 02:08] parente commented on #660
I think it's fine to expose NB_USER as a build-time overridable ARG with a default of `jovyan` as long as its value is also set as an ENV of the same name so that it's available at runtime as before.

[2018-06-22 02:14] parente commented on #659
DockerSpawner has an example that shows how to set `notebook_dir` in a JupyterHub configuration file: https://github.com/jupyterhub/dockerspawner#data-persistence-and-dockerspawner. I think the same approach will work for `default_url` which is a traitlet on the base Spawner class, just like `notebook_dir`: https://github.com/jupyterhub/jupyterhub/blob/master/jupyterhub/spawner.py#L388. I think th

[2018-06-23 21:44] parente commented on #468
spark-deep-learning is available on sparkpackages.org which means it can be dynamically added  to a notebook at SparkContext creation time. I think there's already a generic recipe for using packages from the site in the docs (http://jupyter-docker-stacks.readthedocs.io/en/latest/using/recipes.html#using-spark-packages-org) but it'd still be nice to have a more specific example for this package ri

[2018-06-24 23:17] parente commented on #521
@tomer-ben-david I'm going to close this issue as it has been inactive for quite some time. Hopefully the information provided answered your question. Feel free to ask further questions in new issues.

[2018-06-24 23:17] #521 closed

[2018-06-24 23:19] parente commented on #513
This issue has been idle for quite some time. Is it OK to close it out for now? We can certainly discuss changes to the tensorflow image in new issues / PRs.

[2018-06-24 23:30] parente commented on #487
I'm going to close out this issue as we have PR #486 with more of a comment history.

[2018-06-24 23:30] #487 closed

[2018-06-24 23:32] parente commented on #500
This issue has been inactive for quite a while. I'm going to close it out. Feel free to comment here with a link to an upstream Toree ticket about the problem or a solution if it was fixed. If a newer version of Toree addresses the problem, we can take an upgrade PR.

[2018-06-24 23:32] #500 closed

[2018-06-24 23:53] parente commented on #362
In the year since this was opened, we've started to encourage fewer additions to the images here and more contributions to recipes for user image builds and community maintained stacks.
We've moved the recipes from the GitHub wiki to a ReadTheDocs site (http://jupyter-docker-stacks.readthedocs.io/en/latest/using/recipes.html), and added information about how to contribute new recipes to the site (

[2018-06-25 01:17] parente commented on #630
This issue has been inactive for a while now. I'm going to close it out. Feel free to open another if you have further questions.

[2018-06-25 01:17] #630 closed

[2018-06-25 01:28] parente commented on #546
@madeinquant Can you explain how you added the breeze package to your Docker container and which Scala kernel you're using?

[2018-06-25 01:55] parente commented on #642
Closing this issue as the docs have been updated and we don't have any ideas at the moment on how to make the docker behavior clearer. If anyone has a suggested improvement, we'll be happy to take a PR.

[2018-06-25 01:55] #642 closed

[2018-06-25 01:59] parente commented on #563
Hi @OnlyBelter. This issue has been inactive for some time now. Are you still facing the problem of accessing the notebook server hosted on alibabacloud.com or did you resolve it?

[2018-06-25 02:02] parente commented on #585
We've started to encourage fewer additions to the images here and more contributions to the recipes in the documentation (http://jupyter-docker-stacks.readthedocs.io/en/latest/using/recipes.html).

I think a recipe about how to add and configure sparkmagic would make sense in the docs, if someone would like to send a PR (http://jupyter-docker-stacks.readthedocs.io/en/latest/contributing/recipes.ht

[2018-06-25 02:04] parente commented on #597
I'm going to close this issue out as answered (and confirmed answered with a thumbs up 😄 ).

[2018-06-25 02:04] #597 closed

[2018-06-25 02:06] parente commented on #603
I'm going to close this issue as it has been inactive for some time now. @prakritidev feel free to open another issue with your docker start command and steps you use to reproduce the problem if you're still facing the same issue.

[2018-06-25 02:06] #603 closed

[2018-06-25 02:10] parente commented on #639
@stefanproell can you try running the following:

[code]

and visiting http://localhost:18888 instead to see if the problem persists?

[2018-06-25 13:56] stefanproell commented on #639
Hello,
yes, the problem also persists with

[2018-06-26 13:53] bclipp commented on #585
ok when I have a moment I can do that.

[2018-06-30 19:28] parente commented on #561
This issue has been idle for a few months now. If you found a root cause or solution, @tonywangcn, it would be great to get it posted as a comment here. Based on the error message, I don't think there's a jupyter-related problem that we can address here so I'm going to close this out.

[2018-06-30 19:28] #561 closed

[2018-06-30 19:33] parente commented on #563
I'm going to close this issue as idle. Feel free to comment with your solution or if you have more information about your issue.

[2018-06-30 19:33] #563 closed

[2018-06-30 19:40] parente commented on #515
With the images as they exist today, you have to match the hadoop version we install which is currently  2.7 (https://github.com/jupyter/docker-stacks/blob/master/pyspark-notebook/Dockerfile#L11). The Spark version currently installed is declared here: https://github.com/jupyter/docker-stacks/blob/master/pyspark-notebook/Dockerfile#L10

Issue #626 looks to make the image more version and cluster m

[2018-06-30 21:29] jakirkham commented on #643
How would it resolve merge conflicts?

[2018-07-01 03:42] parente commented on #640
FWIW, I tried installing root in fresh conda 4.5.4 environment on a Ubuntu 14.04 Linux box outside the docker container and wound up with the same error running the `source thisroot.sh`:

[code]

yields

[code]

[2018-07-02 08:42] aie0 commented on #598
Have the same issue:
docker pull jupyter/all-spark-notebook
docker run -p 8888:8888  jupyter/all-spark-notebook

Error:
Container must be run with group "root" to update passwd file
Executing the command: jupyter notebook
Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/site-packages/traitlets/traitlets.py", line 528, in get
    value = obj._trait_values[self.name]
KeyError: 'ru

[2018-07-02 12:05] parente commented on #598
@aei0 the no space left on device error is usually due to the Docker host hard drive being full. You can check by running df -h.

[2018-07-05 17:24] RafalSkolasinski opened #666 "container id rendered instead of "localhost""
**What docker image you are using?**

``jupyter/minimal-notebook:latest``

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run jupyter/minimal-notebook:latest`

**What steps do you take once the container is running to reproduce the issue?**

Example:

1. Open terminal
2. Start container
3. ...

**What do you expect to happen?**

I expect t

[2018-07-05 17:55] parente commented on #666
Closing as a duplicate of #642 which includes a discussion about the upstream change in jupyter/notebook, documentation that was updated here to account for this change, and the behavior of containers.

Reusing @minrk' summary: In general, the URL has never been valid because the container doesn't know the external port or ip. It happened to be right if you did the following:

* run docker locally

[2018-07-05 17:55] #666 closed

[2018-07-08 11:36] blacknwhite5 commented on #228
thanks!!

[2018-07-09 00:19] parente commented on #228
For what it's worth, there's a opencv package on conda-forge that might just work when installed with `conda install -c conda-forge opencv` in an image build or container now.

[2018-07-10 04:59] dirkcgrunwald opened #668 "Unable to rebuild working datascience-notebook?"
**What docker image you are using?**

Example: `jupyter/datascience-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

Example: `docker run --rm -it -p 8888:8888 jupyter/datascience-notebook jupyter lab`

**What steps do you take once the container is running to reproduce the issue?**

Example:

1. Start R and run `capabilities()`

**What d

[2018-07-10 12:18] kmdouglass opened #669 "Segmentation fault when rendering plots with Mayavi inside Jupyter"
# Problem description

I am unable to get Mayavi working in the Jupyter Docker images. The container is set up to use my host X server as the window system. Furthermore, I can import the mayavi package inside a notebook. However, the notebook kernel crashes when actually rendering a plot.

I realize this problem covers a broad range of topics, from Docker to OpenGL, so I am not quite sure where th

[2018-07-10 16:16] stephenconnolly1 commented on #467
Thanks for the env variables for the UID and GID. Was driving me mad

[2018-07-11 07:04] stefanproell commented on #639
Hello,
this also persists with the latest image 3772fffc4aa4.
I really wonder that this does not affect more people.

[code]
When you try to set a password, the error  appears

[code]
The reason is clearly that the config file is not created in the image. When the service tries to write a new password to the config file, it fails in error. My work around is pretty simple too. I go inside the conta

[2018-07-11 21:16] nazamy commented on #668
Yup, I'm having the same issue with R

[2018-07-16 19:34] #492 closed

[2018-07-17 10:46] RafalSkolasinski opened #674 "Question about versioning"
Hi,

[Documentation](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/selecting.html#versioning) stays that images are versioned by git commit SHA that triggered the image build.

I wonder if it is guaranteed that e.g. [jupyter/scipy-notebook:7c45ec67c8e7 ](https://github.com/jupyter/docker-stacks/blob/7c45ec67c8e764bde29d58a34055214fe839ff44/scipy-notebook/Dockerfile) is for sure buil

[2018-07-17 14:14] avitase opened #675 "Adding a spellchecker"
could you add one of the spellchecker plugins?

[2018-07-18 01:23] parente commented on #674
tl;dr: Right now, it's only guaranteed when there are not multiple merges to master and build failures on Docker Cloud very close in time.

Longer explanation:

Every image folder in this repo has a [`hooks/post_push`](https://github.com/jupyter/docker-stacks/blob/master/base-notebook/hooks/post_push) script. Docker Cloud executes this script after pushing a built image with tag `latest`. The scri

[2018-07-20 02:17] jakirkham commented on #478
Added PR ( https://github.com/jupyter/docker-stacks/pull/677 ), which seemed to do the trick for me locally. Feedback welcome.

[2018-07-20 09:21] nils-werner opened #678 "conda install fails with permission denied errors"
Right after starting a container, I am not able to install any packages in my running Docker containers using `conda`. It fails due to a permissions error.

**What docker image you are using?**

    jupyter/scipy-notebook:621b96ed75cb

**What complete docker command do you run to launch the container (omitting sensitive values)?**

    sudo docker run -it --rm --name condatest --user root -e NB_US

[2018-07-20 09:23] jeromekelleher opened #679 "r-notebook kernel crashes because of png support"
**What docker image you are using?**

`jupyter/r-notebook:latest`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -p 8888:8888 jupyter/r-notebook`

**What steps do you take once the container is running to reproduce the issue?**

1. Point my browser at the URL output in the terminal and make a new notebook with an R kernel

2. Execute

[2018-07-20 09:54] jeromekelleher commented on #679
This looks like the same issue: https://github.com/IRkernel/IRkernel/issues/388

[2018-07-20 10:04] jeromekelleher commented on #679
This is probably the root cause: https://github.com/conda-forge/r-base-feedstock/issues/50

[2018-07-20 17:01] mueslo commented on #318
I'm having the exact same issue, so I'd be grateful if you could reopen this. I have looked at the reference jupyterhub docker deployment, which is basically what I copied.

My `docker-compose.yml` looks as follows,
[code]

my `jupyterhub_config.py` contains
[code]

And the network was created on the docker host and is joined by the jupyterhub container:

[code]

[2018-07-20 19:09] parente commented on #679
Thanks for the report and links @jeromekelleher. I believe this is the cause of #668 which I'm going to close as a duplicate.

[2018-07-20 19:10] parente commented on #668
I believe #679 has the links upstream to the R package problems from conda-forge that are causing this problem. I'm going to close out this issue as a duplicate since the other has more direct information about the problem.

[2018-07-20 19:10] #668 closed

[2018-07-20 19:10] parente commented on #679
/cc @dirkcgrunwald @nazamy

[2018-07-20 19:17] parente commented on #318
If you're seeing `Exception: Unknown docker network 'jupyterhub_network'` and using the code from jupyterhub-deploy-docker  as a basis I'm suspicious there's something in the code or Docker adding the `_network` suffix.

What do you see when you run `docker network list`?

[2018-07-20 19:19] mueslo commented on #318
There's no `_network` suffix, I removed that a few hours ago in an edit, I had accidentally copied it over. I fixed the problem by removing the `c.DockerSpawner.extra_host_config` option completely, as I figured that is wrong anyway. See https://github.com/jupyterhub/dockerspawner/issues/246

[2018-07-21 11:08] vishalsaroha opened #681 "Image Download Issue "Unexpected EOF""
Hi! Thanks for using the Jupyter Docker Stacks.

If you are looking to contribute to the images, please see the [Contributor's Guide] (http://jupyter-docker-stacks.readthedocs.io/en/latest/#) in the documentation for our preferred processes.

If you are reporting an issue with one of the existing images, please answer the questions below to help us troubleshoot the problem. Please be as thorough a

[2018-07-21 19:12] parente commented on #681
EOF errors typically indicate a problem communicating with Docker Hub (e.g., early proxy termination, problems with the service) or problems saving images to local disk.

Can you check if your local disk is full, or, if you're using Docker for Mac / Windows, if the VM hosting Docker has a full disk? Are you on a corporate network that proxies connections to the public internet?

[2018-07-21 19:13] parente commented on #678
Could be #665.

[2018-07-22 11:38] nils-werner commented on #678
I just realized `conda` is trying to run `os.chown()` which usually doesn't work when you're not `root`, and then I realized `conda` and `env` are reporting some strange environment variables:

    SUDO_COMMAND=/bin/bash
        SUDO_GID=0
        SUDO_UID=0
       SUDO_USER=root

but I am not  `root`:

    nwerner@319fb5503012:/opt/conda/pkgs$ whoami
    nwerner
    nwerner@319fb5503012:/opt/cond

[2018-07-23 04:37] boolewinkle opened #682 "cannot launch IJulia if running with NB_UID/GID set"
Hi! Thanks for using the Jupyter Docker Stacks.

If you are looking to contribute to the images, please see the [Contributor's Guide] (http://jupyter-docker-stacks.readthedocs.io/en/latest/#) in the documentation for our preferred processes.

If you are reporting an issue with one of the existing images, please answer the questions below to help us troubleshoot the problem. Please be as thorough a

[2018-07-23 08:10] nils-werner commented on #678
It was the `--user root` flag that was setting all these `SUDO_*` environment variables. If I leave it out, everything works as expected:

    sudo docker run -it --rm --name condatest -e NB_USER=$(whoami) -e NB_GROUP=$(id -ng) -e NB_UID=$(id -u) -e NB_GID=$(id -g) -p 8888:8888 -v work:$HOME/jupyterhub jupyter/scipy-notebook:621b96ed75cb start.sh

[2018-07-23 09:12] nils-werner commented on #678
It seems this behaviour in `conda` has caused [many](https://github.com/conda/conda/issues/6569) [other](https://github.com/conda/conda/issues/6576) [issues](https://github.com/conda/conda/issues/7109), so it was [removed in `4.6.0`](https://github.com/conda/conda/blob/57fb6f64afcdf1ec51a1796c4dc7ab7bf02eb52f/conda/gateways/disk/__init__.py#L70-L90)

[2018-07-23 13:23] shogun-tester-AT commented on #364
**The recommendations given above do not work in my case:**
see the following messages:```

docker pull jupyter/datascience-notebook
Using default tag: latest
latest: Pulling from jupyter/datascience-notebook
a48c500ed24e: Already exists
1e1de00ff7e1: Already exists
0330ca45a200: Already exists
471db38bcfbf: Already exists
0b4aba487617: Already exists
d44ea0cd796c: Already exists
5ac827d588be: Alr

[2018-07-23 14:43] boolewinkle commented on #682
It is worth mentioning that the host gid is not the default one for linux ubuntu. This was not originally decided by me.

[2018-07-23 17:42] shogun-tester-AT opened #683 "docker pull jupyter/datascience-notebook fails: authorization required"
**What docker image you are using?**
 `jupyter/datascience-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**
`docker pull jupyter/datascience-notebook`

**What do you expect to happen?**
complete download of image

**What actually happens?**
see following messsage:
[code]
There exists a similar issue already (#364) which has been closed, th

[2018-07-24 01:46] parente commented on #683
All of the `jupyter/*` images are public so there should be no reason for docker to report auth is required, especially in the middle of a pull operation. My wild guess is that if you've ever logged in using the docker client, it uses that authentication even when it's needed. If your auth expires between image layer pulls, then the whole operation fails. The `docker logout` workaround mentioned i

[2018-07-24 01:50] parente commented on #678
@nils-werner Thanks for tracking down the root cause. We can update to conda 4.6 when it's out. In the meantime, `unset` seems like a reasonable workaround.

[2018-07-24 01:55] parente commented on #682
@boolewinkle can you share the tag of the `jupyter/datascience-notebook` you're using? #665 recently merged to fix a similar problem.

The fix-permissions script (https://github.com/jupyter/docker-stacks/blob/master/datascience-notebook/Dockerfile#90) should be making sure the `users` group retains write access, even when you add a supplementary group ID via NB_GID.

[2018-07-24 08:08] shogun-tester-AT commented on #683
Note that there was **never** a docker login. The only command used was, as stated above:
`docker pull jupyter/datascience-notebook`
The error could be reproduced by simply repeating the command.

I suspect it might have something to do with my internet connection speed ( appr. 5 MBit/s ), which causes a time-out with the server. (?)

[2018-07-24 12:45] parente commented on #683
Possibly. Maybe if you can enable debug logging in the docker daemon, it'll provide more info:

https://success.docker.com/article/how-do-i-enable-debug-logging-of-the-docker-daemon

[2018-07-25 09:12] aks0033 commented on #683
Docker Version: 18.03.1-ce-win65 (17513)
I am also stuck with the same response
I've tried login->pull/logout->pull/again login->pull
![image](https://user-images.githubusercontent.com/22841068/43190219-28512896-9016-11e8-8961-52602784b6df.png)

[2018-07-25 12:24] amit1rrr opened #684 "How to tie Docker image tags to JupyterLab release version?"
Hey guys,
I'm looking to get answers to 2 simple questions about Docker stacks?

1. How often are images updates on DockerHub?
2. I'm using [this image](https://hub.docker.com/r/jupyterhub/k8s-singleuser-sample/tags/) for JupyterLab. Given the docker image tags, how do I know which JupyterLab version the tag corresponds to?

I checked the Readme documentation and couldn't find the info.

Thanks fo

[2018-07-25 15:49] shogun-tester-AT commented on #683
When I open a docker _quickstart terminal_ (as admin), I can indeed go to directory /etc and create a subdirectory docker, and create a file` /etc/docker/daemon.json` with  "debug" set TRUE, but is has no
effect, i.e. debug mode  is not switched ON.

If I open by _docker-machine_ and `ssh` into the started machine, I am logged in as `docker@mydockermachine` and do not have any root privileges to a

[2018-07-25 21:14] parente commented on #684
Every merge to master. See http://jupyter-docker-stacks.readthedocs.io/en/latest/using/selecting.html#versioning for details.

That image is not built from the source or CI for this repository so I'm not sure. Maybe @yuvipanda or @minrk knows?

[2018-07-25 21:15] parente commented on #639
I believe this was closed by #671 . Thanks again @stefanproell

[2018-07-25 21:15] #639 closed

[2018-07-26 11:17] amit1rrr commented on #684
I'm going to close it since I don't need the answer anymore and the question is not related to the source in this repo.

[2018-07-26 11:17] #684 closed

[2018-07-30 06:44] bbrauns commented on #679
I get the same error message in our jupyterhub environment:

[code]
Docker Image:
[code]

[2018-07-31 17:57] nils-werner commented on #678
Thinking about this a bit more, another solution would be to replace `sudo` with `su` in [`start.sh:92`](https://github.com/jupyter/docker-stacks/blob/master/base-notebook/start.sh#L92), as `su` won't set those variables.

[2018-08-02 10:48] SofianeB opened #689 "Cannot write to disk from notebook"
I have tried with other docker containers (centos and ubuntu based) and it works!

**What docker image you are using?**

 `jupyter/base-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

Starting using dockerspawner

**What do you expect to happen?**

Write file to disk.

Example:
[code]
**What actually happens?**

[code]

[2018-08-03 06:50] #689 closed

[2018-08-03 12:50] AlexisMignon opened #690 "ExecutorClassLoader error in Spylon notebook"
**What docker image you are using?**

`jupyter/all-spark-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -it --rm -p 8888:8888 -v "$PWD":/home/jovyan/work jupyter/all-spark-notebook`

**What steps do you take once the container is running to reproduce the issue?**

1. Visit http://localhost:8888
2. Start a Spylon noteobok
3.

[2018-08-03 13:25] parente commented on #690
@AlexisMignon Thanks. Moving upstream to https://github.com/Valassis-Digital-Media/spylon-kernel/issues/45.

[2018-08-03 13:25] #690 closed

[2018-08-03 13:26] parente commented on #689
Hi @SofianeB. Were you able to resolve this problem? Can you share what you did so that others may benefit? Thanks!

[2018-08-04 18:52] consideRatio opened #692 "Bump to JupyterHub 0.9 in base image?"
The images are using JupyterHub 0.8 - Let us bump to 0.9, right?

[2018-08-08 08:03] vishwesh5 opened #695 "Permission denied when using Jupyterhub"
Hi!
This is very similar to https://github.com/jupyter/docker-stacks/issues/114 but the difference is that I am using **Zero-to-Jupyterhub** kubernetes google engine. Starting off, I prepared my own [dockerfile](https://github.com/vishwesh5/OpenCV-Docker/blob/master/Dockerfile-jupyter) which works fine in that I am able to launch the hub and access it through kubernetes. But, there are the followi

[2018-08-08 19:35] cricket007 commented on #599
How would Presto or Drill work exactly within the Jupyter kernel? Would it hook to Py4J like Spark does? Use `pyhive` under the scene (not sure if Drill works with that because Drill needs to communicate with Zookeeper)

What if instead of one or the other, it was general JDBC-like kernel (similar to Zeppelin). Or at the very least, some interface into SQLAlchemy, like Apache Superset or [shown he

[2018-08-09 17:11] Finesim97 commented on #679
The capabilities seem to be fixed in the newer versions/builds of R-base. I fixed it for me by removing the version pinnings in the Dockerfile, is a version bump of the R packages an option? According to anaconda: [R-Base](https://anaconda.org/r/r-base/files) is the 3.5.0 version, but for example, the forecast version has also to be bumped. Another option seems to be adding the anaconda-forge chan

[2018-08-10 03:43] yttty opened #696 "Failed to build base-notebook, /bin/sh: 1: fix-permissions: not found"
**What docker image you are using?**

`jupyter/base-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker build -t base-notebook .`

**What actually happens?**

Step 9/27 : ADD fix-permissions /usr/local/bin/fix-permissions
 ---> Using cache
 ---> dbbd6b5f9cca

Step 10/27 : RUN groupadd wheel -g 11 &&     echo "auth required pam_wheel.

[2018-08-10 03:53] parente commented on #696
Have you cloned the entire git repo? Please check if there's a fix-permissions script in the folder where you're running `docker build`.

[2018-08-10 05:11] yttty commented on #696
Thanks. There is such a script.

[code]

I tried to change that line in Dockerfile to `COPY fix-permissions /usr/local/bin/` but the problem still exists.

[2018-08-10 07:57] yttty commented on #696
Solved it by changing EOF from CRLF to LF.

[2018-08-11 13:11] navidabdolalizade commented on #114
I have this problem "permission denied" in windows 10. could anyone help?

[2018-08-15 07:55] SofianeB opened #697 "Failed to mount webdav in base-notebook container"
**What docker image you are using?**

`jupyter/base-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

Spawned automatically from jupyterhub

**What steps do you take once the container is running to reproduce the issue?**

```docker exec -it "container" bash mount -t davfs ...```

**What do you expect to happen?**

Create a directory in ~/

[2018-08-16 09:10] yug95 commented on #151
No need to change any file just run on terminal
**_export PYSPARK_PYTHON=python3_**
it will be done :)

[2018-08-16 10:14] shogun-tester-AT commented on #683
**WORK-AROUND:**
I managed to pull successfully the docker image by _incrementally_ pulling all predecessor images:
[code]

pull requests in parentheses () are maybe not necessary.

**MY EXPLANATION is:**
docker hub server creates up to three parallel threads for downloading image components;
these threads apparently have to be initiated within a certain time limit. If exceeded, no more
threads ca

[2018-08-16 10:14] #683 closed

[2018-08-18 13:49] GalaxyFlow commented on #228
thanks!

[2018-08-20 13:14] pparchure opened #698 "Accessing MongoDB from within the python app inside the container"
Hello Sir,
I am new to docker. I am using the jupyter-pyspark notebook to dockerize my application. I don't know how to access the mongodb DB which is on my host machine from inside my python app inside the container. It would be great if you could help me with this.

Thanks

[2018-08-21 03:36] eromoe opened #699 "How to use jupyter/pyspark-notebook connect remote spark standalone cluster?"
**What docker image you are using?**

Example: ` jupyter/pyspark-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

I want something like below
Example: `docker run -it --rm -p 8889:8888 jupyter/pyspark-notebook:latest --sparkurl=spark://P-HS-1:7077,P-HS-2:7077`

But there is no document about how to use this image

[2018-08-21 07:20] iyanmv opened #700 "New flag to change default umask?"
Hi all,

I use Jupyter images very ofter at work. I always set NB_UID and NB_GID env variables to keep notebooks and code with the same owner and group as in the host machine. This is very useful when we need to access that code by other apps in the server.

In some cases, I also found useful to mount additional folders (apart from `/home/jovyan/work`) (e.g. sharing folder between a group of scien

[2018-08-21 07:31] rkdarst commented on #700
+1, and in fact I recently did this locally.  Actually not by modifying start.sh, but by modifying the docker run command to hack it before control got to the start.sh script.

For me, it was difficult because I was using root running + the internal sudo, and there were a surprisingly number of difficulties.  Here is what all I had to do, in the end:

[code]
I think the second one may not be neede

[2018-08-21 09:40] vsoch opened #701 "two tokens on jupyterlab notebook start"
This shouldn't make a difference to functionality, but note that the URL given to copy paste to the browser has the "token" variable twice:

![image](https://user-images.githubusercontent.com/814322/44393924-cb01de80-a4ea-11e8-9b09-41ab0327b81e.png)

[code]
They appear to be slightly different - testing didn't work for either for me the first time (not sure why) but when I mapped port 8888 to 8888

[2018-08-21 14:27] iyanmv commented on #700
@rkdarst take a look at the PR I have just opened. Let's keep the discussion there :blush:

[2018-08-21 21:36] parente commented on #699
@eromoe a community member contributed documentation about how to connect the Spark images maintained here to a Spark Cluster running in standalone mode some time ago: https://jupyter-docker-stacks.readthedocs.io/en/latest/using/specifics.html#connecting-to-a-spark-cluster-in-standalone-mode.

I do not know if they've kept pace with the changes to the images over time. We'd welcome pull requests t

[2018-08-21 21:38] parente commented on #701
Interesting. Would you mind sharing the command(s) you used to launch the container?

[2018-08-21 23:51] vsoch commented on #701
Sure thing! I have the whole thing here still, thanks to my irresponsibility of properly closing terminals :)

Here is the first run (I think a copy paste from the README.md) that included the pull:

[code]
Just pointing this out, since it's a bit hidden, in case you don't want it ignored
[code]
And this one too
[code]
[code]
At this point I hadn't even noticed the two tokens because the port mapp

[2018-08-23 06:33] iyanmv commented on #701
I can confirm the same issue using `jupyter/datascience-notebook:3772fffc4aa4`. However, with `jupyter/datascience-notebook:latest` it seems to properly give just one token. @vsoch any reason to use that particular tag?

Checking other tags, it looks like image `jupyter/datascience-notebook:621b96ed75cb` was the first one given one token. This image, with respect yours, uses `jupyter 5.6` instead

[2018-08-23 08:34] vsoch commented on #701
Ah excellent! That tag is the one in the README.md, so it's the one I copy pasted (and honestly didn't even realize it was there with the long command!). Maybe change the tag in the README.md to be latest (or a more recent one without the bug) as a suggestion to resolve the issue?

I can also confirm all is well using the latest tag!

![image](https://user-images.githubusercontent.com/814322/44514

[2018-08-23 10:57] iyanmv commented on #701
I think one of the purposes of the second example in the [README.md](https://github.com/jupyter/docker-stacks/blob/8ccdfc1da8d5048874bbc202aefbf16136aaba60/README.md) is to show that it is easy to use a different host port (first example does use `-p 8888:8888`). Maybe it is confused if read alone, but it totally makes sense in the context of the previous example.

I agree that changing the tag in

[2018-08-25 17:26] babatundebusari opened #705 "how to modify jupter config file?"
how can one modify jupyter notebook config file settings when running `docker run`?

https://github.com/jupyter/jupyter/issues/79#issuecomment-164268449

[2018-08-26 01:55] babatundebusari commented on #705
never mind just modified while container is running
solves my issue so am good

[2018-08-26 01:55] #705 closed

[2018-08-26 10:07] iyanmv opened #706 "GPU recipe?"
I know that `jupyter/tensorflow-notebook` only supports CPU to avoid including NVIDIA propietary software in the project (see https://github.com/jupyter/docker-stacks/issues/516). However, would it be ok to include a recipe in `docs/using/recipes.md`?

I know that some people (including me) would like to work with an image based on `jupyter/base-notebook` but with GPU support because [official doc

[2018-08-26 12:17] marcraminv opened #707 "NB_USER is not applied in docker run"
**What docker image you are using?**

`jupyter/scipy-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

[code]

 **What steps do you take once the container is running to reproduce the issue?**

1. docker run to power the container:
[code]
The console output:
![1](https://user-images.githubusercontent.com/13021787/44628012-b3868380-a938-11e

[2018-08-26 16:47] parente commented on #707
The documentation is missing the key sentence that appears next to the `NB_UID` and other options that modify the default user:

Sorry for the trouble. Happy to take a PR to update that bullet in the docs if you'd like to contribute the fix. If not, we'll get to it!

[2018-08-26 17:51] gtom opened #708 "docker-compose for jupyterhub"
Hi,
I'm new to jupyter and jupyterhub. While I managed to start a jupyter-notebook via docker (lots of examples available), I do not understand how to start jupyterhub with a notebook for more than one user. My scenario is:
Linuxserver (Debian stretch) with hostname
Docker installed incl. docker-compose

Now I would like to have a docker-compose.yml file that starts a container with jupyterhub. Us

[2018-08-26 18:35] marcraminv commented on #707
Thanks for response @parente , but if you see the point 5, If I run the the image with this:
[code]
then, I cannot access to the container.
Do I forget something? For me seems a bug, but I am not sure  if I forget any additional config.

[2018-08-26 23:00] parente commented on #707
Ah, sorry, I missed the `--user root` in the command before the exec. The problem with the `exec` in step #5 is that because the user name has changed, the working directory configured in the Dockerfile is no longer valid.

This command will work:

[code]

The `start-notebook.sh` script avoids this problem by adjusting the working dir for the notebook server when handling the `NB_USER` change, but

[2018-08-27 09:21] anatoliykmetyuk opened #709 "Bad ergonomics with CLI URL output"
On `jupyter/tensorflow-notebook`, when launching it, the terminal is supposed to output the URL to which I should navigate to access the notebook. Currently, it outputs:

`http://(f844870a601a or 127.0.0.1):8888/?token=9ef73cf92a2b71ea5656ba2090e7301550c502ee99dcc5bf`

Previously, it output:

`http://127.0.0.1:8888/?token=9ef73cf92a2b71ea5656ba2090e7301550c502ee99dcc5bf`

With the previous output,

[2018-08-27 13:12] parente commented on #709
Thanks for the report. This issue is a duplicate of #642 which includes a discussion about the upstream change in jupyter/notebook (https://github.com/jupyter/notebook/issues/3605), documentation that was updated here to account for this change, and the behavior of containers.

Reusing @minrk' summary: In general, the URL has never been valid because the container doesn't know the external port or

[2018-08-27 17:13] gtom commented on #708
I answer my own question here, maybe this helps other people: In the meantime I found a repo close to my target: [https://github.com/jupyterhub/jupyterhub-deploy-docker](https://github.com/jupyterhub/jupyterhub-deploy-docker). I will try to use this one.

[2018-08-27 17:13] #708 closed

[2018-08-27 20:17] AronT-TLV opened #710 "Crashing bug introduced in latest image of all-spark-notebook"
**What docker image you are using?**

`jupyter/all-spark-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

Ran it in Azure ACI:

`az container create -g xxxxx --name xxxxx -e JUPYTER_ENABLE_LAB=yes --image jupyter/all-spark-notebook:latest --ports 8888 --ip-address public --cpu 2 --memory 8  --azure-file-volume-account-name xxxxxxxx  --azu

[2018-08-28 07:39] marcraminv commented on #707
I understand that it happens because the **HOME** directory is pointing to the `/home/jovyan` although the directory doesn't already exist. I checked the `env` and I see that:
<img width="576" alt="screen shot 2018-08-28 at 09 26 25" src="https://user-images.githubusercontent.com/13021787/44707797-c9fe1d80-aaa5-11e8-90f6-6f09765f0dc1.png">

So... If someone try to mount a volume in docker to his c

[2018-08-28 11:32] anatoliykmetyuk commented on #709
Ok, I see. One option could be to specify the URL with an environmental variable or a flag. The advantage of an envvar is that you can specify it once in docker-compose or elsewhere and benefit from a nice URL output each time you run the container.

[2018-08-30 11:11] DataWookie commented on #127
@RobinL I've been hitting my head against this issue for a few hours and decided to put together your solution since it seems to be the most robust approach. I built the image and have got it running, but when I try to access anything on S3 I get a "Socket not created by this factory" error.

I was wondering whether your solution is still working for you or if you have found another way around thi

[2018-09-01 17:01] DmitryBe commented on #36
hey parente,
i set `MESOS_NO_SWITCH_USER=true` in `/etc/default/mesos-slave` on agent nodes;
looks like this doesn't help
PS. also tried MESOS_SWITCH_USER=false

[2018-09-01 17:34] DmitryBe commented on #36
ok, i think i did this wrong.
approach that works:
[code]

[2018-09-02 11:23] hadrien-toma opened #712 "Mount/Persist custom editor configs"
**What docker image you are using?**
`jupyter/datascience-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**
[code]

**What steps do you take once the container is running to reproduce the issue?**
1. Go to `http://127.0.0.1:8888`
2. For instance : Click `Settings / JupyterLab Theme / JupyterLab Dark`
3. Kill then restart the container

**Wh

[2018-09-03 07:54] statiksof opened #713 "JupyterHub and DockerSpawner"
**What docker image you are using?**
```jupyter/base-notebook```

**What complete docker command do you run to launch the container (omitting sensitive values)?**

using ```DockerSpawner```

**Question**

the ```Dockerfile``` includes installing ```JupyterHub``` and ```JupyterLab```.
Is this necessary when using DockerSpawner?

Thank you.

[2018-09-03 08:19] minrk commented on #713
It is necessary to have the `jupyterhub` package in the image. This is already present in `jupyter/base-notebook`, so you don't need a custom image if you are using that one.

[2018-09-03 08:29] statiksof commented on #713
Thanks @minrk get it.
Please can you check why this configuration is not working. With this only one profile is selected.

[code]

[2018-09-03 11:29] DataWookie opened #714 "Problem creating checkpoint folders on cluster"
**What docker image you are using?**

`jupyter/pyspark-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -d --rm --name jupyter --net=host --user 500 -v $PWD:/home/jovyan/ jupyter/pyspark-notebook`

**What steps do you take once the container is running to reproduce the issue?**

Opened a notebook which streams data from Kafka.

[2018-09-03 17:56] parente opened #715 "Update docs for .d folders"
https://github.com/jupyter/docker-stacks/pull/688 introduced `/usr/local/bin/before-notebook.d/`.

We should update the docs to note the current behavior.

[2018-09-03 18:25] parente commented on #710
I'm seeing the same thing when launching `jupyter/all-spark-notebook:8ccdfc1da8d5` on binder via this gist https://gist.github.com/parente/714c91cd28314fa31c4bd67ebc0453b8, but only using JupyterLab. The Toree behaves correctly with the classic Jupyter Notebook in that same image. That's very odd behavior considering both UIs are using the same underlying notebook server and Toree kernel stack.

T

[2018-09-03 18:44] rkdarst commented on #715
Weren't they always sourced, just with `.` instead of `source` ?  I
don't think I changed it, just used the more clear form...

I checked docs and can't seem to find where hooks are mentioned... are they?

[2018-09-03 19:13] parente commented on #715
You're right. I missed the `.` reading the script. More evidence that your long-hand change is for the better.

[2018-09-03 19:14] parente commented on #715
The original hook may never have been documented either. A new section "Start-Up Hooks"  under "Docker Options" on https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html is my recommendation.

[2018-09-04 01:50] vishnu2kmohan commented on #710
Yes, the problem only manifests while attempting to launch Apache Toree kernels **only** from JupyterLab and **not** from the _Classic_ Jupyter Notebook.

(I forgot to add that nuance earlier, thanks @parente for the additional clarification).

The issue occurs with the `-rc5` and `-rc6` versions (Note: `rc-6` has been [promoted](https://dist.apache.org/repos/dist/release/incubator/toree/0.2.0-inc

[2018-09-04 08:02] nils-werner opened #716 "Images don't contain newest JupyterLab pointrelease"
JupyterLab was [updated to `0.34.7` a few days ago](https://github.com/jupyterlab/jupyterlab/releases), and the latest Docker image `jupyter/scipy-notebook:137a295ff71b` was built a few hours ago. The build instructions for this image contain the lines

    RUN conda install --quiet --yes \
        [...]
        'jupyterlab=0.34.*' && \
        [...]

So I was expecting to see the latest pointrele

[2018-09-04 11:26] hadrien-toma commented on #712
I didn't know about Binder, thank you for sharing and above all, for perfectly answering the question, I am now able to persist my configs! :grin:

[2018-09-04 11:26] #712 closed

[2018-09-04 13:15] parente commented on #716
Not sure if you can see https://cloud.docker.com/swarm/jupyter/repository/registry-1.docker.io/jupyter/base-notebook/builds/7c4aa0e1-8db3-4c2e-846e-91e21eba22b9, but it appears Docker Cloud used cached base-notebook layers for this build. That's not behavior I remember seeing before. I'll have to investigate if there's a way to disable that caching mechanism.

[2018-09-10 06:33] yusuf-nathani commented on #699
Hi @eromoe  - Did you get correct command to connect remote spark with docker image jupyter/pyspark-notebook ?
In my case I want to connect jupyter notebook to AWS Glue instance. Appreciate your tips.

[2018-09-11 09:50] mshytikov commented on #642
Faced the same issue and it took me a while to figure out the way.

As was mentioned above _allowing override_ solution did work for me.

In my case to keep _'copy-paste url'_ experience as it was before,
the workaround is to have the `jupyter_notebook_config.py` in a root of my project.  With the following config:
[code]
Which shows url like: `http://localhost:8888/?token=92e6a3a...`

Or another

[2018-09-12 07:46] nils-werner commented on #716
I can't see the logs, sorry.

Just a wild guess: Are all image builds started simultaneously? In that case each `Dockerfile` inheriting `FROM base-notebook` might use last cycle's version of that image...

[2018-09-12 13:06] parente commented on #716
That's correct. I've not seen the caching like this on Docker Cloud before. It's either new or I missed it in the past.

A PR that specifies the exact point release of the packages of importance in base-notebook will fix the problem. It'll trade of automatically upgrading to the latest point release when there's other changes in base-notebook, but those have been late, and will continue, to be few

[2018-09-16 03:33] agupta231 opened #717 ""Invalid Credentials" when using password"
Good evening,

I am using `datascience-notebook` and trying to use password authentication instead of token auth. I am starting my instance with the command:

[code]

When accessing `localhost:8888`, I am greeted with the following screen:

<img width="557" alt="screen shot 2018-09-15 at 11 27 57 pm" src="https://user-images.githubusercontent.com/7005964/45592565-60a05a80-b93f-11e8-9b7f-ea5c433d08

[2018-09-16 17:51] edesz commented on #707
Thanks @parente for [your tip](https://github.com/jupyter/docker-stacks/issues/707#issuecomment-416079232) to specify the working directory. This was really helpful. I too could not use [a custom name for `NB_USER`](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html#docker-options) initially. But with the specification of `-w` flag, I can confirm that the custom user is now w

[2018-09-16 19:54] marcraminv commented on #707
thanks @edesz! I tried only for execute the `docker exec` command and it works, but I didn't try with the `run` command. I think that this could be a good use case to make the PR to docs.

[2018-09-16 21:49] rwmajor2 commented on #613
@parente I know this is closed and well documented.  However, can you highlight any security risks of starting the container as `--user root`?  What vulnerabilities are potentially exposed?  Thanks for any information on this topic.

[2018-09-19 12:53] enricorotundo commented on #369
Running the Dockerfile above gives me this error.
[code]
Which I fixed by adding what follows right below row nr. 9 (i.e. `USER root`):
[code]

However, I'm now having a second issue about unmet deps with `openjdk-8-jdk`:

[code]

[2018-09-20 07:55] minrk commented on #709
If you set `NotebookApp.custom_display_url = 'http://127.0.0.1:12345'` then you can set the display URL to be copied. But unfortunately, the server in docker cannot know the URL unless the user launching the container tells it. If there's anything to do in docker-stacks, I think it would be to allow this to be set via an environment variable in addition to the cli flag.

[2018-09-21 08:45] mattshma opened #718 "with jupyter_notebook_config.py cann't start the jupyter"
When I copy the `jupyter_notebook_config.py` to $HOME/.jupyter/, I can't start the jupyter notebook:
[code]

If i remove $HOME/.jupyter/jupyter_notebook_config.py, it could works!
[code]

my python env as follows:
[code]

I find https://github.com/jupyter/notebook/issues/3754 have some problem, but I had updated my notebook..

Any helps?

[2018-09-21 08:50] mattshma commented on #718
I find `c.NotebookApp.ip = '*'` cause this problem..

[2018-09-21 08:58] #718 closed

[2018-09-21 13:08] rwmajor2 opened #719 "Question: Modify base-notebook to have username/id/gid passed as ARGs?"
Question.  Can we modify the base-notebook Dockerfile so that the username/UID/GID can be passed in as ARGs on the Docker build process?  We are wanting to use these environments almost "as-is" but want to use a different username than "jovyan".

Yes, I know that you can launch these Docker containers and change the username on the fly, but you have to do that by launching the container as root an

[2018-09-21 14:38] parente commented on #719
Hi @rwmajor2. #660 has a discussion about this. Please check there for a bit of detail. PRs welcome.

[2018-09-21 14:50] rwmajor2 commented on #719
@parente Any preferences on ARG names?
[code]

[2018-09-21 15:44] rwmajor2 commented on #719
@parente When I build base-notebook with a group other than 100 (for example 1050), I see a lot of this:
[code]

I think I understand why, but curious if this is a "bug" in the current Dockerfile related to how the groupid is assigned.

[2018-09-24 13:33] anatoliykmetyuk commented on #709
@minrk where do I set this?

[2018-09-24 13:47] minrk commented on #709
CLI as `--NotebookApp.custom_display_url` or a config file as `c.NotebookApp.custom_display_url`. For instance, I right now have docker running in a minikube vm, so localhost can't work. With custom_display_url I can make the echoed URL one that will actually work via copy/paste:

    eval $(minikube docker-env)
    docker run --rm -it -p9999:8888 jupyter notebook --NotebookApp.custom_display_url=

[2018-09-24 14:07] anatoliykmetyuk commented on #709
Is there any way to set this parameter via `~/.jupyter/nbconfig/notebook.json` file? I tried writing the following there:

[code]

But it did not work.

[2018-09-24 14:19] minrk commented on #709
You can set it in a config file, just not that particular one, which is for configuring notebook javascript application. That exact JSON in `~/.jupyter/jupyter_notebook_config.json` should work, though, or `c.NotebookApp.custom_display_url = "http://localhost:8888"` for the equivalent config in `~/.jupyter/jupyter_notebook_config.py`.

[2018-09-26 05:39] gshau commented on #717
I'm can confirm the same issue with tensorflow-notebook.

[2018-09-26 16:34] nbonnotte opened #722 "datascience-notebook hangs when setting NB_GID"
**What docker image you are using?**

`jupyter/datascience-notebook`

**What complete docker command do you run to launch the container (omitting sensitive values)?**

`docker run -it --rm --user root -e NB_UID=1000 -e NB_GID=1000 jupyter/datascience-notebook `

**What do you expect to happen?**

Jupyter should start

**What actually happens?**

The command hangs on:
[code]

This does not happen w

[2018-09-27 02:37] parente commented on #717
After entering the token and my desired password, and then looking in the container I see:

[code]

When I logout and back in again, I agree, my desired password does not work. However, the notebook server only reads its configuration files on startup, so I'd  expect the password to only take effect on the next notebook server start. In an ephemeral container without a persistent volume mount, the

[2018-09-27 02:39] parente commented on #722
No hang here with the latest image:

[code]

Are you exposing the port properly with `-p 8888:8888`?

[2018-09-27 02:40] parente commented on #710
/cc @lresende

[2018-09-27 07:40] rkdarst commented on #722
I actually *think* I recently saw something similar recently, though
the image would have been based on that of a few weeks or months ago.
At the time I wasn't in a position to debug it and now have forgotten
just what happened.  I will probably be doing more with images in the
near future, and will try to reproduce.